{% extends "base_internal.html" %}

{% block body_classes %}{{ block.super }} ns-internal{% endblock %}

{% block title %}Reset your password{% endblock %}

{% block nav %}
    {% include "includes/nav.html" with link='password_reset' %}
{% endblock %}

{% block breadcrumbs %}
    <a class="header-breadcrumb" href="{% url 'password_reset' %}">
        Reset your password
    </a>

    <i class="fa fa-angle-double-right"></i>

    <span class="header-breadcrumb active">
        Email Sent
    </span>
{% endblock %}

{% block content %}
    <p>
        An email has been sent to your inbox. If the message doesn't arrive within 10 minutes,
        please check your spam folder, then contact an administrator for additional assistance.
    </p>

    <hr>

    <a href="{% url 'login' %}" class="btn btn-process-back">
        Back to Login
    </a>
{% endblock %}
