{% extends "base_internal.html" %}

{% block body_classes %}{{ block.super }} ns-internal{% endblock %}

{% block title %}Reset your password{% endblock %}

{% block nav %}
    {% include "includes/nav.html" with link='password_reset' %}
{% endblock %}

{% block breadcrumbs %}
    <a class="header-breadcrumb" href="{% url 'password_reset' %}">
        Reset your password
    </a>

    <i class="fa fa-angle-double-right"></i>

    <span class="header-breadcrumb active">
        Enter your new password
    </span>
{% endblock %}

{% block content %}
    <p>
        To complete your password change, please enter a new password below, then click 'Set New Password'.
    </p>

    <div class="row">
        <div class="col-lg-6 col-sm-6 col-xs-6">
            <form action="./" method="post" class="well">
                {% csrf_token %}

                <input type="hidden" name="next" value="{{ next }}" />

                {{ form }}

                <a href="{% url 'login' %}" class="btn btn-cancel pull-left" style="margin-right: 10px;">
                    Cancel
                </a>

                <button type="submit" class="btn btn-process pull-left">
                    Submit
                </button>

                <div class="clearfix"></div>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            var field = $("#{{ form.new_password1.auto_id }}");
            field.focus();
        });
    </script>
{% endblock %}
