{% extends "base_internal.html" %}

{% block body_classes %}{{ block.super }} ns-internal{% endblock %}

{% block title %}Reset your password{% endblock %}

{% block nav %}
    {% include "includes/nav.html" with link='password_reset' %}
{% endblock %}

{% block breadcrumbs %}
    <span class="header-breadcrumb active">
        Reset your password
    </span>
{% endblock %}

{% block content %}
    <p>
        To reset your password, enter your email address below. A message will be sent
        to this address containing a link you must click to proceed.
    </p>

    <div class="row">
        <div class="col-lg-6 col-sm-6 col-xs-6">
            <form action method="post" class="well">
                {% csrf_token %}

                <input type="hidden" name="next" value="{{ next }}" />

                {{ form }}

                <a href="{% url 'login' %}" class="btn btn-cancel pull-left" style="margin-right: 10px;">
                    Cancel
                </a>

                <button type="submit" class="btn btn-process pull-left">
                    Submit
                </button>

                <div class="clearfix"></div>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            var email_field = $("#{{ form.email.auto_id }}");
            email_field.focus();
        });
    </script>
{% endblock %}
