{% extends "base_internal.html" %}

{% block body_classes %}{{ block.super }} ns-internal{% endblock %}

{% block title %}Reset your password{% endblock %}

{% block nav %}
    {% include "includes/nav.html" with link='password_reset' %}
{% endblock %}

{% block breadcrumbs %}
    <a class="header-breadcrumb" href="{% url 'password_reset' %}">
        Reset your password
    </a>

    <i class="fa fa-angle-double-right"></i>

    <span class="header-breadcrumb active">
        Complete
    </span>
{% endblock %}

{% block content %}
    <p>
        Your password has been changed successfully. Click below to go back to the login page. 
    </p>

    <hr>

    <a href="{% url 'login' %}" class="btn btn-process-back">
        Back to Login
    </a>
{% endblock %}
