{% load canvas_tags %}

{% get_container_list_menu menu as menu_name %}
{% get_menu_width menu as menu_width %}
{% get_container_list_item menu as container_list_item %}

<li class="droptrue form-well" id="section-{{ i }}">
    <div class="row">
        <div class="col-lg-2 col-md-6 col-sm-6">
            <input id="wireframe-main-menu-{{ i }}" name="wireframe-main-menu-{{ i }}" type="text" placeholder="Section Title" class="wireframe-main-menu form-control" value="{{ menu_name }}">
        </div>

        <div class="col-lg-1 col-md-1 col-sm-1">
            Width:
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
            <select name="section-width-{{ i }}" id="section-width-{{ i }}" class="section-width">
                <option value="12" {% ifequal menu_width 12 %}selected{% endifequal %}>100%</option>
                <option value="8" {% ifequal menu_width 8 %}selected{% endifequal %}>75%</option>
                <option value="6" {% ifequal menu_width 6 %}selected{% endifequal %}>50%</option>
                <option value="4" {% ifequal menu_width 4 %}selected{% endifequal %}>33%</option>
                <option value="3" {% ifequal menu_width 3 %}selected{% endifequal %}>25%</option>
            </select>
        </div>
        <div class="col-lg-7">
            <a style="cursor: pointer;" onclick="$('#removed_containers').append('{{ i }},'); $(this).closest('li').remove();"
               class="link fa-stack fa-lg" data-toggle="tooltip" data-placement="top"
                   title="Delete">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <b>Fields</b>
                <ul class="sortable">

                    {% for list_item in container_list_item %}
                        <li class="sortlist ui-state-default" id="wire-list-{{ list_item.pk }}" style="height: 40px;">
                            <div class="row">
                                <div class="col-lg-2 col-md-4 col-sm-6">
                                    &nbsp; &nbsp; <i class="grey fa fa-angle-double-right"></i>
                                    <a onclick="$(this).closest('ul.sortable').append($('#new_row_list_item').html());" class="new_sortable_list pull-right"><i class="fa fa-plus"></i> </a>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <input id="section-label-{{ list_item.pk }}" name="section-label-{{ list_item.pk }}" type="text" placeholder="Label" class="wireframe-sub-title form-control" value="{{ list_item.string_field }}">
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <select name="section-input-type-{{ list_item.pk }}" class="input-type">
                                        <option value="text_box" {% ifequal list_item.field_type 'text_box' %}selected{% endifequal %}>Text Box</option>
                                        <option value="radio" {% ifequal list_item.field_type 'radio' %}selected{% endifequal %}>Radio</option>
                                        <option value="checkbox" {% ifequal list_item.field_type 'checkbox' %}selected{% endifequal %}>Checkbox</option>
                                    </select>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <input id="section-initial-value-{{ list_item.pk }}" name="section-initial-value-{{ list_item.pk }}" type="text" placeholder="Initial Value" class="section-initial-value form-control" value="{{ list_item.initial_value }}">
                                </div>

                                <div class="col-lg-1">
                                    <a class="pull-right" onclick="$('#removed_sub_containers').append('{{ list_item.pk }},'); $(this).closest('li').remove();" > <i class=" fa fa-trash-o"></i> &nbsp;</a>
                                </div>

                                <input type="hidden" name="wire-list-order-{{ list_item.pk }}" value="1">
                            </div>
                        </li>
                    {% endfor %}
                    <li class="sortlist" style="height: 0; padding: 0;"></li>
                </ul>
        </div>
    </div>


    <input type="hidden" name="section-order-{{ i }}" id="section-order-{{ i }}" value="1">
</li>

<script>

    $(function() {
        $( "ul.droptrue" ).sortable({
           connectWith: "ul.droptrue",
            placeholder: "ui-state-focus",
            dropOnEmpty: true
        });

        $( "ul.sortable" ).sortable({
          connectWith: "ul.sortable",
            placeholder: "ui-state-error",
            dropOnEmpty: true
        });

        $( "#sortable, #sortable2, #sortable3" ).disableSelection();
    });

</script>

