<li class="sortlist ui-state-default" id="wire-list-WIRE_ID">

    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6">
            &nbsp; &nbsp; <i class="grey fa fa-angle-double-right"></i>

            <a onclick="$(this).closest('ul.sortable').append($('#new_row_list_item').html());" class="new_sortable_list pull-right"><i class="fa fa-plus"></i> </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <input id="section-label-WIRE_ID" name="section-label-WIRE_ID" type="text" placeholder="Label" class="wireframe-sub-title form-control" value="">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <select name="section-input-type-WIRE_ID" class="input-type">
                <option value="text_box">Text Box</option>
                <option value="radio">Radio</option>
                <option value="checkbox">Checkbox</option>
            </select>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <input id="section-initial-value-WIRE_ID" name="section-initial-value-WIRE_ID" type="text" placeholder="Initial Value" class="section-initial-value form-control" value="">
        </div>

        <div class="col-lg-1">
            <a class="pull-right" onclick="$(this).closest('li').remove();"><i class=" fa fa-trash-o"></i> &nbsp;</a>
        </div>

    <input type="hidden" name="wire-list-order" value="1">
    </div>
</li>