{% for item in template_containerlist %}
    {% ifnotequal item.container_name "Canvas" %}
        <ul class="nav nav-tabs">
          <li role="presentation" href="#section-{{ item.main_container_ud }}" class="active pull-right"><a href="#">{{ item.container_name }}</a></li>
        </ul>

        <div class="tab-content" style="border: 1px solid #ddd; border-top: none; padding: 10px; padding-right: 15px; margin-right: 2px;">
            <div id="section-{{ item.main_container_id }}" class="active tab-pane fade in ">
                <div class="row">
                    {% for children in item.settings %}

                        <div class="col-lg-{{ children.csettings.width }} col-sm-{{ children.csettings.width }}">
                            <div class="card card-bordered style-primary">
                                <div class="card-head">
                                    <header><i class="fa fa-fw fa-pencil"></i> {{ children.csettings.title }} [Container ID: {{ children.csettings.container_id }}]</header>
                                </div>
                                <div class="card-body style-default-bright">
                                    {% for field in children.container_children %}
                                        {% include "canvas/includes/render_field.html" with field=field field_type=field.project_container.field_type label=field.project_container.string_field %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                    </div>
                </div>
            </div>
    {% endifnotequal %}

    <br><br>
{% endfor %}