<li class="droptrue form-well" id="section-SECTION_ID">
    <div class="row">
        <div class="col-lg-2 col-md-6 col-sm-6">
            <input id="wireframe-main-menu-SECTION_ID" name="wireframe-main-menu-SECTION_ID" type="text" placeholder="Section Title" class="wireframe-main-menu form-control" value="">
        </div>

        <div class="col-lg-1 col-md-1 col-sm-1">
            Width:
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
            <select name="section-width-WIRE_ID" id="section-width-SECTION_ID" class="section-width">
                <option value="12">100%</option>
                <option value="8">75%</option>
                <option value="6">50%</option>
                <option value="4">33%</option>
                <option value="3">25%</option>
            </select>

        </div>
        <div class="col-lg-7">
            <a style="cursor: pointer;" onclick="$('#removed_containers').append('{{ i }},'); $(this).closest('li').remove();"
               class="link fa-stack fa-lg" data-toggle="tooltip" data-placement="top"
                   title="Delete">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <b>Fields</b>
                <ul class="sortable">
                    {% include "canvas/includes/containers/list.html" %}
                    <li class="sortlist" style="height: 0; padding: 0;"></li>
                </ul>
        </div>
    </div>


    <input type="hidden" name="section-order" id="section-order" value="1">
</li>
<script>

        $(function() {
            $( "ul.droptrue" ).sortable({
               connectWith: "ul.droptrue",
                placeholder: "ui-state-focus",
                dropOnEmpty: true
            });

            $( "ul.sortable" ).sortable({
              connectWith: "ul.sortable",
                placeholder: "ui-state-error",
                dropOnEmpty: true
            });

            $( "#sortable, #sortable2, #sortable3" ).disableSelection();
        });



</script>

