{% extends "projects/base.html" %}

{% load model_tags %}

{% block breadcrumbs %}
    {{ block.super }}

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb" href="{{ project.get_absolute_url }}">
        {{ project.name }}
        <i class="fa fa-angle-double-right"></i>
    </a>

    <a class="header-breadcrumb"  href="{% url 'projects-select-template' project.pk %}">
        Created Import Templates

        <i class="fa fa-angle-double-right"></i>
    </a>

    <a class="header-breadcrumb not-active">
        Create Template
    </a>

{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-lg-12 col-sm-12 col-xs-12">

            <form action method="post" enctype="multipart/form-data" id="edit-template-form">

                <input type="hidden" id="total_fields" value="{{ total_fields }}">
                <br>

                <div class="card-body no-padding">
                    <div class="alert alert-callout alert-danger no-margin">

                    <h2>First Select Import Template Name</h2>
                    <div style="max-width: 1000px;">
                        {% csrf_token %}
                        {% include "includes/field.html" with field=template_form.template_name %}
                        <input type="hidden" name="project" value="{{ project.pk }}">


                        <div id="template-selected">
                            <br><br>
                            <a class="btn btn-sm btn-default" onclick="check_template_name();">Start Import Template</a>
                        </div>
                    </div>
                        </div>
                    </div>
                    <br><br>

                <div class="card-body no-padding">
                <div class="alert alert-callout alert-info no-margin">

                    {% include "projects/import/includes/mapping_columns.html" %}
                </div>
                    </div>


                <br><br>
                <a href="{{ project.get_absolute_url }}" class="btn btn-process-back">Cancel</a> &nbsp;
                <a onclick="submit_form();" class="btn btn-process">Save</a>


            </form>
        </div>

        {% if actions %}
            <div class="col-xs-3">

                    <h2>Actions</h2>

                    <ul class="action-list">
                        {% for action_name, action_url in actions %}
                            <li>
                                <a href="{{ action_url }}">
                                    {{ action_name }}
                                    <i class="icon-arrow-right"></i>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

            </div>
        {% endif %}

    </div>
    <script>
        $(function() {
            $( "#sortable" ).sortable({
                revert: false,
                activeClass: "ui-state-highlight",
                hoverClass: "ui-state-highlight",
                placeholder: "ui-state-error",
                dropOnEmpty: true
            });

            $( '#sortable', "ul, li" ).disableSelection();


           check_displayed_rows();
           check_table_details();

           $('.column_mapping').each(function (i, obj) {
               var obj_id = $(this).attr('id');
               $("#"+ obj_id + " option").each(function() {
                   if (this.value.indexOf('strings') >= 0)
                   {
                       $(this).hide();
                   }
               });
           });

           $(".table_mapping").change(function() {

               var table_id = $(this).attr('id');
               var column_id = table_id.replace('column_table_mapping', 'column_field_mapping');
               var column_pretty_name = table_id.replace('column_table_mapping', 'column_pretty_name');
               var selected_table = this.value;
               var csv_column_name =  table_id.replace('column_table_mapping', 'csv_column_name');
               csv_column_name = $("#"+csv_column_name).val();

                $.ajax({
                    url: '/get_table_mapping_options/{{ project.pk }}/',
                    type: 'GET',
                    data: {'model_name': selected_table, 'csv_column_name': column_pretty_name},
                    success: function (data) {
                        var model_fields = data.model_fields;

                        $("#"+column_id).html("<option value=''>Select a field mapping</option>");
                        $("#"+column_pretty_name).val("");

                        $(model_fields).each(function(index, value) {
                            $("#"+column_id).append(
                                    "<option value='"+value+"'>"+value+"</option>"
                            );
                        });
                    }
                });

           });

            $(".column_mapping").change(function() {

               var column_id = $(this).attr('id');
               var pretty_name_id = column_id.replace('column_field_mapping', 'column_pretty_name');
               var first = this.value;


               if (first)
               {
                   if (first == "New Field:")
                   {
                       var column_csv_field = column_id.replace('column_field_mapping',"csv_column_name");
                       column_csv_field = $("#"+column_csv_field).val().replace("_", " ").replace("_", " ").replace("_", " ");
                       $("#"+pretty_name_id).val(column_csv_field);
                   }
                   else
                   {
                       first = capitalize_first(first.replace("strings_", "").replace("apartments_", "").replace("int_fields_", "").replace(/_/g, ' '));
                       $("#"+pretty_name_id).val(first);
                   }
               }

           });

            $(".column_mapping_new").change(function() {
                var id = $(this).attr('id');
                var pretty_name_id = id.replace('column_field_mapping_new', 'column_pretty_name');
                var value = $(this).val();
                $("#"+pretty_name_id).val(value);
            });

        });

        function submit_form()
        {
            $(".form-row").each(function(index, obj) {

                if ($("#id_template_fields-"+index+"-column_field_mapping").val())
                {
                    var this_id = $(this).attr('id');
                    this_id = this_id.replace("form-row-", "");
                    $("#id_template_fields-"+this_id+"-order").val((index + 1));
                }
            });

            $("#edit-template-form").submit();

        }


        function check_table_details()
        {
            $(".table_mapping").each(function() {
               var table_id = $(this).attr('id');
               var column_id = table_id.replace('column_table_mapping', 'column_field_mapping');
               var selected_table = this.value;

               var first = $("#"+column_id).val();

        //       console.log(selected_table, column_id, first);

               var form_loop = table_id.replace('column_table_mapping', '').replace('id_template_fields-', '').replace('-', '');
               form_loop = parseInt(form_loop) + 1;

               var pretty_name_id = table_id.replace('column_table_mapping', 'column_pretty_name');

               if ($.inArray( selected_table, ["Apartmentstrings", "Propertiesintfields"]) >= 0)
               {
                   hide_options_for_edit(column_id, 'apartments');
                   $("#show-mapping-add-new-"+form_loop).show();

               }
               else
               {
                   hide_options_for_edit(column_id, 'strings');
                   hide_options_for_edit(column_id, 'int_fields');
                   $("#show-mapping-add-new-"+form_loop).hide();
               }

            });

        }

        function display_new_string_option(counter)
        {
            $("#mapping-new-"+counter).show();
            $("#mapping-existing-"+counter).hide();

            var c = counter - 1;

            $("#id_template_fields-"+c+"-column_pretty_name").val('');

            $("#id_template_fields-"+c+"-column_field_mapping_type option").each(function() {
               if (this.value == "select_options")
               {
                   $(this).hide();
               }
            });
        }

        function hide_options(obj_id, selected_option)
        {
            var first = '';

           console.log(obj_id);
           console.log(selected_option);


           $("#"+ obj_id + " option").each(function() {

               if (this.value.indexOf(selected_option) >= 0)
               {
                   $(this).hide();
               }
               else
               {
                   if (first == '')
                   {
                       first = this.value;
                   }

                   $(this).show();
               }

           });

           $("#"+ obj_id).val(first);

           return first;
        }


        function show_options(obj_id, selected_option)
        {
            var first = '';


           $("#"+ obj_id + " option").each(function() {

               if (this.value.indexOf(selected_option) >= 0)
               {
                   $(this).show();
                   if (first == '')
                   {
                       first = this.value;
                   }
               }
               else
               {
                   $(this).hide();
               }

           });

           $("#"+ obj_id).val(first);

           return first;
        }


        function hide_options_for_edit(obj_id, selected_option)
        {
           $("#"+ obj_id + " option").each(function() {

               $(this).show();

           });
        }

        function check_displayed_rows()
        {
            var total_fields = $("#total_fields").val();
            var hide_fields = 5;
            var extra_fields = 30;

            if (total_fields)
            {
                hide_fields = total_fields;
                extra_fields += parseInt(total_fields);
            }

            var show_rows_total = 0;

            $(".form-row").each(function() {
               var id = $(this).attr('id');
               var c = id.replace('form-row-', '');
               var show_row = $("#id_template_fields-"+c+"-form_row_shown").val();
               if (show_row)
               {
                   show_rows_total += 1;
                   $("#form-row-"+ c).show();
                   $("#id_template_fields-"+c+"-DELETE").val('False');
               }
            });

            if (show_rows_total == extra_fields)
            {
                var i = 0;

                $(".form-row").each(function() {

                   if (i >= hide_fields)
                   {
                       var id = $(this).attr('id');
                       var c = id.replace('form-row-', '');
                       var show_row = $("#id_template_fields-"+c+"-form_row_shown").val(false);
                       $("#id_template_fields-"+c+"-DELETE").val('True');
                       $("#form-row-"+ c).hide().addClass('form-row-hidden');

                   }
                   else
                   {
                       $("#id_template_fields-"+c+"-DELETE").val('False');
                   }

                   i+=1;

                });
            }

        }

        function show_another_column()
        {
            $(".form-row-hidden:first").removeClass('form-row-hidden').show();
            $(".form-row-hidden:first .delete-field:first").val('False');
        }

        function remove_this_column(counter)
        {
             $("#form-row-"+ counter).remove();
             $("#form-row-error-"+ counter).remove();
             $("#id_template_fields-"+counter+"-DELETE").val('True');
        }

        function capitalize_first(string) {
            return string.charAt(0).toUpperCase() + string.slice(1);
        }

        function check_template_name()
        {
            if ($("#id_template_name").val())
            {
                $('#template-selector').toggle();
                $('#template-selected').toggle();
            }
            else
            {
                 $("#id_template_name").focus()
            }

        }
    </script>
{% endblock %}
