{% extends "projects/base.html" %}

{% load model_tags %}

{% block breadcrumbs %}
    {{ block.super }}

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb" href="{{ project.get_absolute_url }}">
        {{ project.name }}

        <i class="fa fa-angle-double-right"></i>
    </a>

    <a class="header-breadcrumb not-active">
        Import Data
    </a>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-9">

                <h2>Select CSV File</h2>

                <form action method="post" enctype="multipart/form-data">
                    {% csrf_token %}


                        <div class="form-well">
                            {{ form.as_p }}
                        </div>


                    <a href="{{ project.get_absolute_url }}" class="btn btn-back">Cancel</a>
                    <button type="submit" class="btn btn-process" value="Submit">Next</button>
                </form>

        </div>

    {% if actions %}
        <div class="col-xs-3">

                <h2>Actions</h2>

                <ul class="action-list">
                    {% for action_name, action_url in actions %}
                        <li>
                            <a href="{{ action_url }}">
                                {{ action_name }}
                                <i class="icon-arrow-right"></i>
                            </a>
                        </li>
                    {% endfor %}
                </ul>

        </div>
    {% endif %}

    </div>
{% endblock %}
