{% extends "projects/base.html" %}

{% load model_tags %}

{% block breadcrumbs %}
    {{ block.super }}

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb" href="{{ project.get_absolute_url }}">
        {{ project.name }}

        <i class="fa fa-angle-double-right"></i>
    </a>

    <a class="header-breadcrumb not-active">
        Created Import Templates
    </a>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="card-body no-padding">
                <div class="alert alert-callout alert-info no-margin">

                <h2>Select and Download Import Template</h2>

                {% if import_templates %}
                    <table class="table center-table">
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Template Name
                            </th>
                            <th>
                                Edit
                            </th>
                            <th>
                                Download
                            </th>
                            <th>
                                Download w Data
                            </th>
                            <th>
                                Delete
                            </th>
                            <th>
                                Previews
                            </th>
                            <th>
                                Set as Editable Template <a data-toggle="tooltip" data-placement="top" title="Allow users to use this template to edit apartment data"><i class="fa fa-info-circle"></i></a>
                            </th>
                            <th>
                                Set as Default <a data-toggle="tooltip" data-placement="top" title="Set as the default editable template"><i class="fa fa-info-circle"></i></a>
                            </th>
                            <th>
                                Set as Allocation <a data-toggle="tooltip" data-placement="top" title="Set as the default allocation view template"><i class="fa fa-info-circle"></i></a>
                            </th>
                            <th>
                                Clone to New <a data-toggle="tooltip" data-placement="top" title="Create copy of this template"><i class="fa fa-info-circle"></i></a>
                            </th>
                        </tr>
                        {% for template in import_templates %}
                            <tr style="text-align: center">
                                <td>
                                    {{ template.pk }}
                                </td>
                                <td>
                                    {{ template.template_name }}
                                </td>
                                <td>
                                    <a href="{% url 'projects-edit-template' project.pk template.pk %}"><i class="fa fa-pencil"></i></a>
                                </td>
                                <td>
                                    <a href="?id={{ template.pk }}&export_format=csv">
                                        <i class="fa fa-download icon-download"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="?id={{ template.pk }}&export_format_with_data=csv">
                                        <i class="fa fa-download icon-download"></i>
                                    </a>
                                </td>
                                <td>
                                    <a onclick="check_delete();" href="?delete_id={{ template.pk }}">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'projects-preview-imports' project.pk template.pk %}">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </td>
                                <td>
                                    <input class="editable-template" type="checkbox" {% ifequal template.is_editable_template True %} checked{% endifequal %}
                                           id="edit-template-{{ template.pk }}">
                                </td>
                                <td>
                                    <input class="editable-template-default" type="checkbox" {% ifequal template.is_editable_template_default True %} checked{% endifequal %}
                                           id="edit-template-default-{{ template.pk }}" value="{{ template.pk }}">
                                </td>
                                <td>
                                    <input class="editable-template-allocation" type="checkbox" {% ifequal template.is_allocation_template True %} checked{% endifequal %}
                                           id="edit-template-allocation-{{ template.pk }}" value="{{ template.pk }}">
                                </td>
                                <td>
                                    <button class="btn btn-xs btn-default" onclick="create_clone_of_template({{ template.pk }})">
                                        <i class="fa fa-star"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <em>There are no created import templates.</em>
                {% endif %}
                </div>
            </div>

            <a href="{% url 'projects-create-template' project.pk %}">Create template manually</a>

            <br><br>

            <form enctype="multipart/form-data" class="active-form dynamicform" id="submit__upload__form" method="post" action="">
                <div class="row">
                    <div class="col-sm-6">

                    <div class="card style-default-dark no-padding"  style="background: #000; padding: 20px;">
                        <div class="card-body">
                            <div class=" no-margin">
                            <h2 style="color: #ccc">Import Excel File to Template</h2>


                            {% csrf_token %}

                            <div class="form-container">
                                <div class='black-well {% if upload_form.uploaded_xlsx.errors %} error{% endif %}'>

                                    <p><strong>To upload a document:</strong></p>
                                    <ol>
                                        <li>Download a file above that you wish to edit.</li>
                                        <li>Insert the appropriate details and click <em>Save</em>.</li>
                                        <li>Please note this will add new information in a filtered list upload.</li>
                                        <li>Click <em>Choose File</em> or <em>Browse</em>.</li>
                                        <li>Browse to the location of the document you wish to upload.</li>
                                        <li>Select the file you wish to upload. Do not select multiple files.</li>
                                        <li>Click <em>Open</em>.</li>
                                        <li>Your file will be uploaded when you submit the form. Please note that for large files or slow internet connections, it can take some time, even minutes, for your files to upload.</li>
                                    </ol>

                                    <h3>OR</h3>
                                     <ol>
                                         <li>Update the template for the columns in your CSV file</li>
                                         <li>Upload your CSV file and select the template that contains the <em>same</em> column headers</li>
                                         <li>Click save</li>
                                     </ol>


                                    <br><br>

                                    <div class="row">
                                        <div class="col-lg-8">
                                            {{ upload_form.as_p }}
                                        </div>
                                    </div>

                                    <br>
                                    <input type="button" id="submit__upload" class="btn btn-process" name="submit__upload" value="Save and Continue &gt;" style="margin-left: 0;" />

                                    <input type="submit" id="submit__upload__button" class="btn btn-process" name="submit__upload" style="display: none;" />
                                    <img src="/static/common/img/dark_loading.gif" id="loading-gif" style="display:none; height: 120px; width: auto">
                                </div>

                            </div>

                        </div>
                        </div>
                    </div>

                    </div>
                    <div class="col-sm-6">
            <div class="card-body no-padding">
                <div class="alert alert-callout alert-danger no-margin">
                            <h2>Import Excel File Without Template</h2>

                            <div class="form-container">
                                <div class='well ctrlHolder{% if upload_form.uploaded_xlsx.errors %} error{% endif %}'>

                                    <em>Please select an Excel file to create a template from.</em><br><br>

                                    <div class="row">
                                        <div class="col-lg-6 col-sm-6 col-md-6">
                                            {{ simple_form.as_p }}
                                        </div>
                                    </div>

                                    <br><br>
                                    <input type="submit" class="btn btn-process" name="submit__simple_upload" value="Save and Continue &gt;" style="margin-left: 0;" />
                                </div>
                            </div>

                    </div>
                </div>
            </form>


            </div>
            </div>

    <script>

        $(function () {
           $("#submit__upload").click(function () {
                $("#submit__upload").hide();
                $("#loading-gif").show();
                $("#submit__upload__button").trigger("click");
           });
        });


        function check_delete()
        {
            if (confirm("Are you sure you wish to delete this template? This cannot be undone."))
            {
                var location = $(this).attr('href');
                window.location.href = location;
            }
        }

        $(function() {
           $(".editable-template").click(function() {

                $.ajax({
                    url: '/update_template_status/{{ project.pk }}/',
                    type: 'GET',
                    data: {'template': this.id, 'checked': this.checked},
                    success: function (data)
                        {
                            $().toastmessage('showToast', {
                                text: "Template saved",
                                sticky: false,
                                position: 'top-left',
                                type: 'info',
                                closeText: ''}
                            );
                        }
                });
           });

            $(".editable-template-default").click(function() {

                var clicked_value  = $(this).val();
                $(".editable-template-default").prop('checked', false);
                $("#edit-template-default-"+clicked_value).prop('checked', true);

                $.ajax({
                    url: '/update_template_default_status/{{ project.pk }}/',
                    type: 'GET',
                    data: {'template': this.id, 'checked': this.checked},
                    success: function (data)
                        {
                            $().toastmessage('showToast', {
                                text: "Template default saved",
                                sticky: false,
                                position: 'top-left',
                                type: 'info',
                                closeText: ''}
                            );
                        }
                });
             });

            $(".editable-template-allocation").click(function() {

                var clicked_value  = $(this).val();
                $(".editable-template-allocation").prop('checked', false);
                $("#edit-template-allocation-"+clicked_value).prop('checked', true);

                $.ajax({
                    url: '/update_template_allocation_status/{{ project.pk }}/',
                    type: 'GET',
                    data: {'template': this.id, 'checked': this.checked},
                    success: function (data)
                        {
                            $().toastmessage('showToast', {
                                text: "Template allocation saved",
                                sticky: false,
                                position: 'top-left',
                                type: 'info',
                                closeText: ''}
                            );
                        }
                });
            });
        });

        function create_clone_of_template(template_id)
        {
            $.ajax({
                url: '/clone_template/'+template_id+'/',
                type: 'GET',
                success: function (data)
                    {
                        $().toastmessage('showToast', {
                            text: "Template cloned successfully",
                            sticky: false,
                            position: 'top-left',
                            type: 'info',
                            closeText: ''}
                        ).delay(1200);

                        window.location.reload();

                    }
            });
        }
    </script>
{% endblock %}