{% extends "projects/base.html" %}

{% load model_tags %}

{% block breadcrumbs %}
    {{ block.super }}

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb" href="{{ project.get_absolute_url }}">
        {{ project.name }}
        <i class="fa fa-angle-double-right"></i>
    </a>

    <a class="header-breadcrumb" href="{% url 'projects-import-header' project.pk %}">
        Import Data
        <i class="fa fa-angle-double-right"></i>
    </a>

    <a class="header-breadcrumb not-active">
        Map File to Database
    </a>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">

                <h2>Select CSV File Columns and Match to Project Table</h2>

                <form action="./" method="post" enctype="multipart/form-data">
                    {% csrf_token %}


                    {% with mapping.get_file_headers as csv_columns %}
                        {% if csv_columns %}
                            <table class="table table-striped">
                                <tr>
                                    <th style="width: 150px;">
                                        CSV Header &nbsp;
                                        <a data-toggle="tooltip" data-placement="top" title="This is the name of the column found within your excel file">
                                            <i class="icon-question-circle"></i>
                                        </a>
                                    </th>
                                    <th>
                                        Table within Project &nbsp;
                                        <a data-toggle="tooltip" data-placement="top" title="Select the table this field will be mapped to.">
                                            <i class="icon-question-circle"></i>
                                        </a>
                                    </th>
                                    <th>Add</th>
                                    <th>Select</th>
                                    <th>
                                        Table Field Header &nbsp;
                                        <a data-toggle="tooltip" data-placement="top" title="Select the field this will be mapped to within the table.">
                                            <i class="icon-question-circle"></i>
                                        </a>
                                    </th>

                                    <th style="text-align: center">Hide &nbsp;
                                        <a data-toggle="tooltip" data-placement="top" title="Hide the fields that will not be imported.">
                                            <i class="icon-question-circle"></i>
                                        </a>
                                    </th>
                                </tr>
                                {% for column in csv_columns %}
                                    <tr>
                                        <th style="width: 150px;">
                                            {{ column }}
                                        </th>
                                        <td>
                                            <select>
                                                {% for table in all_tables %}
                                                <option>{{ table }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td style="text-align: center">
                                            <a data-toggle="tooltip" data-placement="top" title="Add a new field type to this table for this data.">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </td>
                                        <td style="text-align: center">
                                            <a data-toggle="tooltip" data-placement="top" title="Add to existing table field.">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        </td>
                                        <td style="width: 280px;">
                                            <select name="{{ column }}">
                                                <option value="">Do Not Import</option>
                                                {% for field in mapping.get_table_fields %}
                                                    <option {%if column|column_field_matching:field %}selected{% endif %}>{{ field }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td style="text-align: center">
                                            <a href="#" title="Remove Row" onclick="$(this).parent().parent().hide();">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                    {% endwith %}



                        <div class="well">
                            <b>Please note:</b> This will import data as <em>new</em> rows. You can download an excel file of your current
                            data and edit them here
                        </div>

                    <a href="{% url 'projects-map-fields' project.pk mapping.pk %}" class="btn btn-process-back">Cancel</a>

                    &nbsp;&nbsp;&nbsp;
                    <button type="submit" name="submit" class="btn btn-process" value="Save">
                        Save
                    </button>
                </form>

        </div>
    </div>

{% endblock %}
