{% extends "projects/base.html" %}

{% load model_tags %}

{% block breadcrumbs %}
    {{ block.super }}

    <i class="fa fa-angle-double-right" xmlns="http://www.w3.org/1999/html"></i>

    <a class="header-breadcrumb" href="{{ project.get_absolute_url }}">
        {{ project.name }}
        <i class="fa fa-angle-double-right"></i>
    </a>

    <a class="header-breadcrumb"  href="{% url 'projects-select-template' project.pk %}">
        Created Import Templates
        <i class="fa fa-angle-double-right"></i>
    </a>

    <a class="header-breadcrumb not-active">
        Map File to Project
    </a>

{% endblock %}

{% block content %}
    <input type="hidden" id="total_fields" value="{{ total_fields }}">

    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
                <div id="template-selector">
                    <form action method="post" enctype="multipart/form-data" id="edit-template-form">
                    {% csrf_token %}

                    <div class="card-body no-padding">
                        <div class="alert alert-callout alert-info no-margin">

                            <h2>Select Template Name and Match CSV Columns</h2>

                            <div class="row">

                                <div class="col-sm-6">
                                    <label>Select a Template Name</label>
                                    {{ template_form.as_p }}
                                </div>
                            </div>

                        </div>
                    </div>
                    <br><br>

                    <div class="card-body no-padding">
                        <div class="alert alert-callout alert-danger no-margin">

                            <strong>Please note: Unique Table and Field mappings are required.</strong><br><br>

                            <a style="margin-top: -40px;" class="btn btn-xs btn-black pull-right" onclick="set_all_to_closest();">Attempt Set All</a><br>
                            <a style="margin-top: -40px;" class="btn btn-xs btn-black pull-right" onclick="set_all_to_strings();">Set (most) To Strings</a><br>
                            <a style="margin-top: -40px;" class="btn btn-xs btn-black pull-right" onclick="set_all_to_strings_and_new();">Set To Strings + New Field</a>

                            <div class="row form-row-{{ forloop.counter }} ui-state-default" style="margin-left: 0; padding-top: 5px; padding-left: 10px; max-width: 1200px;;">
                                <div class="col-sm-2">
                                    <label>
                                        CSV Column <i class="link fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Select the information type"></i>
                                    </label>
                                </div>
                                <div class="col-sm-3">
                                    <label>
                                        Column Table Mapping <i class="link fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Select the information type"></i>
                                    </label>
                                </div>
                                <div class="col-sm-2">
                                    <label>
                                        Field Mapping <i class="link fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Select the field name"></i>
                                    </label>

                                </div>
                                <div class="col-sm-2">
                                    <label>
                                        Column Pretty Name <i class="link fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Enter a readable name for this field in the excel file"></i>
                                    </label>
                                </div>
                                <div class="col-sm-2">
                                    <label>
                                        Is Aspect Field?
                                    </label>
                                </div>
                            </div>

                            {{ template_columns_form.management_form }}

                            <div style="margin-left: 15px;max-width: 1200px;">
                                <div id="sortable" class="sortable">
                                    {% for form in template_columns_form %}
                                        <div class="ui-state-default row form-row {% if form.errors %}error-form{% endif %}" id="form-row-{{ forloop.counter0 }}" style="margin-bottom: 3px; margin-top: 3px; padding: 5px;">

                                            {% for hidden in form.hidden_fields %}
                                                {{ hidden }}
                                            {% endfor %}

                                            {% if form.errors %}
                                                <div class="row" id="form-row-error-{{ forloop.counter0 }}">
                                                    <div class="col-sm-8">
                                                        {{ form.errors }}
                                                    </div>
                                                </div>
                                            {% endif %}

                                            {{ form.form_row_shown }}

                                            <div class="pull-left form-counter"><small>{{ forloop.counter }}</small></div>
                                            <div class="col-sm-2">
                                                {% include "includes/field.html" with field=form.csv_column_name %}
                                                {{ form.csv_column_name.value|default_if_none:"" }}
                                            </div>
                                            <div class="col-sm-3">
                                                {% include "includes/field.html" with field=form.column_table_mapping %}
                                            </div>
                                            <div class="col-sm-2">
                                                <div id="mapping-existing-{{ forloop.counter }}">
                                                    {% include "includes/field.html" with field=form.column_field_mapping %}

                                                    <input type="hidden" id="column_field_mapping-{{ forloop.counter0 }}-value" value="{{ form.column_field_mapping.value }}">

                                                    <a onclick="display_new_string_option({{ forloop.counter }});" style="display: none;" id="show-mapping-add-new-{{ forloop.counter }}" class="show-mapping-add-new">
                                                        <i data-toggle="tooltip" data-placement="top" title="Add new type into the database" class="fa fa-plus"></i>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="col-sm-2">
                                                {% include "includes/field.html" with field=form.column_pretty_name %}

                                            </div>

                                            <div class="col-lg-2">
                                                {% include "includes/field.html" with field=form.is_aspects_field %}

                                                {% for hidden in form.hidden_fields %}
                                                    {{ hidden }}
                                                {% endfor %}

                                                {{ form.form_row_shown }}

                                                <input type="hidden" id="column_field_mapping-{{ forloop.counter0 }}-value" value="{{ form.column_field_mapping.value }}">


                                                <i class="grey fa fa-angle-double-right pull-right" style="margin-top: -5px;"></i>

                                                <a data-toggle="tooltip" data-placement="top" title="Remove this combination" class="pull-right fa-lg"
                                                   onclick="remove_this_column({{ forloop.counter0 }});" style="margin-top: -5px; margin-left: -10px; margin-right: 10px;">
                                                    <i class="fa fa-trash-o"></i>
                                                </a>

                                                <div style="display: none">
                                                    <input id="id_template_fields-{{ forloop.counter0 }}-order" name="template_fields-{{ forloop.counter0 }}-order" type="number" value="{{ forloop.counter }}" />
                                                </div>

                                                <input type="hidden" class="delete-field" value="False" name="form-{{ forloop.counter0 }}-DELETE" id="id_template_fields-{{ forloop.counter0 }}-DELETE" />
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <br><br>
                <a href="{{ project.get_absolute_url }}" class="btn btn-process-back">Cancel</a> &nbsp;


                    <div id="submit-form-button" class="pull-right">
                        <a onclick="submit_form();" class="btn btn-process">Next</a>
                    </div>
                    <img src="/static/common/img/loading-trans.gif" id="loading-gif" style="display: none;">
                </form>



        </div>
    </div>
</div>


    <script>
        $(function() {
        $( "#sortable" ).sortable({
          revert: true
        });
        $( "#draggable" ).draggable({
          connectToSortable: "#sortable",
          helper: "clone",
          revert: "invalid"
        });
        $( "ul, li" ).disableSelection();


       check_displayed_rows();
       check_table_details();

       $('.column_mapping').each(function (i, obj) {
           var obj_id = $(this).attr('id');
           $("#"+ obj_id + " option").each(function() {
               if (this.value.indexOf('strings') >= 0)
               {
                   $(this).hide();
               }
           });
       });

       $(".table_mapping").change(function() {
           var table_id = $(this).attr('id');

           var csv_column_name =  table_id.replace('column_table_mapping', 'csv_column_name');
           csv_column_name = $("#"+csv_column_name).val();

           var column_id = table_id.replace('column_table_mapping', 'column_field_mapping');
           var column_pretty_name = table_id.replace('column_table_mapping', 'column_pretty_name');
           var selected_table = this.value;
           var pretty_name_id = column_id.replace('column_field_mapping', 'column_pretty_name');

            $.ajax({
                url: '/get_table_mapping_options/{{ project.pk }}/',
                type: 'GET',
                data: {'model_name': selected_table, 'csv_column_name': csv_column_name},
                success: function (data) {
                    var model_fields = data.model_fields;

                    $("#"+column_id).html("<option value=''>Select a field mapping</option>");
                    $("#"+column_pretty_name).val("");

                    $(model_fields).each(function(index, value) {
                        $("#"+column_id).append(
                                "<option value='"+value+"'>"+value+"</option>"
                        );
                    });

                    if (data.most_likely_field == null)
                    {

                        $("#"+column_id +' option:contains("New Field")').prop('selected', true);
                         var column_csv_field = column_id.replace('column_field_mapping',"csv_column_name");
                         column_csv_field = $("#"+column_csv_field).val().replace("_", " ").replace("_", " ").replace("_", " ").toLowerCase();;
                         $("#"+pretty_name_id).val(column_csv_field);

                    }
                    else
                    {
                        $("#"+column_id).val(data.most_likely_field);
                        var column_csv_field = column_id.replace('column_field_mapping',"csv_column_name");
                         column_csv_field = $("#"+column_csv_field).val().replace("_", " ").replace("_", " ").replace("_", " ").toLowerCase();;
                         $("#"+pretty_name_id).val(column_csv_field);
                    }

                    if (data.most_likely_field == "New Field:")
                    {
                           var column_csv_field = column_id.replace('column_field_mapping',"csv_column_name");
                            column_csv_field = $("#"+column_csv_field).val().replace("_", " ").replace("_", " ").replace("_", " ").toLowerCase();;

                           $("#"+pretty_name_id).val(column_csv_field);
                    }
                }
            });

       });

        $(".column_mapping").change(function() {

           var column_id = $(this).attr('id');
           var pretty_name_id = column_id.replace('column_field_mapping', 'column_pretty_name');

           var first = this.value;


           if (first)
           {
               if (first == "New Field:")
               {
                   var column_csv_field = column_id.replace('column_field_mapping',"csv_column_name");
                    column_csv_field = $("#"+column_csv_field).val().replace("_", " ").replace("_", " ").replace("_", " ");

                   $("#"+pretty_name_id).val(column_csv_field);
               }
               else
               {
                   first = capitalize_first(first.replace("strings_", "").replace("apartments_", "").replace("int_fields_", "").replace(/_/g, ' '));
                   $("#"+pretty_name_id).val(first);
               }
           }

       });

        $(".column_mapping_new").change(function() {
            var id = $(this).attr('id');
            var pretty_name_id = id.replace('column_field_mapping_new', 'column_pretty_name');
            var value = $(this).val();
            $("#"+pretty_name_id).val(value);
        });

    });

    function submit_form()
    {
        $("#submit-form-button").hide();
        $("#loading-gif").show();

        $(".form-row").each(function(index, obj) {

            if ($("#id_template_fields-"+index+"-column_field_mapping").val())
            {
                var this_id = $(this).attr('id');
                this_id = this_id.replace("form-row-", "");

                $("#id_template_fields-"+this_id+"-order").val((index + 1));
            }
        });

        $("#edit-template-form").submit();

    }

    function set_all_to_strings_and_new()
    {
        $(".table_mapping:visible").each(function(index, obj) {

            var changed = false;

            var check_previous = $("#id_csv_template_fields-"+index+"-csv_column_name").val();

            var building_matches = ["building", "building name"];
            $(building_matches).each(function(child_index, object) {
                if (check_previous.toLowerCase().indexOf(object) >= 0)
                {

                    console.log('check_previous', check_previous, 'int', object);
                    $(this).val('Buildings').trigger('change');
                    $("#id_csv_template_fields-"+index+"-column_table_mapping").val('Buildings').trigger('change');
                    changed = true;

                }
            });

            var prop_matches = ["apartment", "floor", "level", "name"];

            $(prop_matches).each(function(child_index, object) {
                if (check_previous.toLowerCase().indexOf(object) >= 0)
                {

                    console.log('check_previous', check_previous, 'int', object);
                    $(this).val('Properties').trigger('change');
                    $("#id_csv_template_fields-"+index+"-column_table_mapping").val('Properties').trigger('change');
                    changed = true;

                }
            });

            if (check_previous == "floor plan typical")
            {
                $(this).val('Propertiesstringfields').trigger('change');

            }

            if (!changed)
            {

                $(window).queue("namedQueue", function() {

                    console.log('check_previous', check_previous, 'string');
                    $(this).val('Propertiesstringfields').trigger('change');

                    setTimeout(function() {
                        $(self).dequeue("namedQueue");
                     }, 100);
                });



                $(window).queue("namedQueue", function() {
                    $("#id_csv_template_fields-"+index+"-column_field_mapping").val("New Field:").trigger('change');
                    setTimeout(function() {
                        $(self).dequeue("namedQueue");
                     }, 100);
                });

                $(window).dequeue("namedQueue");



            }

        });
    }

    function set_all_to_strings()
    {

        $(".table_mapping:visible").each(function(index, obj) {
            var changed = false;

            var check_previous = $("#id_csv_template_fields-"+index+"-csv_column_name").val();

            var building_matches = ["building", "building name"];
            $(building_matches).each(function(child_index, object) {
                if (check_previous.toLowerCase().indexOf(object) >= 0)
                {

                    console.log('check_previous', check_previous, 'int', object);
                    $(this).val('Buildings').trigger('change');
                    $("#id_csv_template_fields-"+index+"-column_table_mapping").val('Buildings').trigger('change');
                    changed = true;

                }
            });

            var prop_matches = ["apartment", "floor", "level", "name"];

            $(prop_matches).each(function(child_index, object) {
                if (check_previous.toLowerCase().indexOf(object) >= 0)
                {

                    console.log('check_previous', check_previous, 'int', object);
                    $(this).val('Properties').trigger('change');
                    $("#id_csv_template_fields-"+index+"-column_table_mapping").val('Properties').trigger('change');
                    changed = true;

                }
            });

            if (check_previous == "floor plan typical")
            {
                $(this).val('Propertiesstringfields').trigger('change');
            }

            if (!changed)
            {
                console.log('check_previous', check_previous, 'string');
                $(this).val('Propertiesstringfields').trigger('change');
            }

        });

    }


    function set_all_to_closest()
    {

        $(".table_mapping:visible").each(function(index, obj) {
            var changed = false;

            var check_previous = $("#id_csv_template_fields-"+index+"-csv_column_name").val();

            var building_matches = ["building", "building name"];
            $(building_matches).each(function(child_index, object) {
                if (check_previous.toLowerCase().indexOf(object) >= 0)
                {
                    console.log('check_previous', check_previous, 'int', object);
                    $(this).val('Buildings').trigger('change');
                    $("#id_csv_template_fields-"+index+"-column_table_mapping").val('Buildings').trigger('change');
                    changed = true;

                }
            });

            var prop_matches = ["apartment", "floor", "level", "name"];

            $(prop_matches).each(function(child_index, object) {
                if (check_previous.toLowerCase().indexOf(object) >= 0)
                {
                    console.log('check_previous', check_previous, 'int', object);
                    $(this).val('Properties').trigger('change');
                    $("#id_csv_template_fields-"+index+"-column_table_mapping").val('Properties').trigger('change');
                    changed = true;

                }
            });

            var int_matches = ["bed", "beds", "car", "study", "bath", "storage", "carspace", "bedroom"];

            $(int_matches).each(function (child_index, object) {
                if (check_previous.toLowerCase().indexOf(object) >= 0) {
                    console.log('check_previous', check_previous, 'int', object);
                    $(this).val('Propertiesintfields').trigger('change');
                    $("#id_csv_template_fields-"+index+"-column_table_mapping").val('Propertiesintfields').trigger('change');
                    changed = true;

                }
            });

            var float_matches = ["sqm", "floor area", "area external", "fees", "external", "stamp duty", "water rates", "carspace", "bedroom"];

            $(float_matches).each(function (child_index, object) {
                if (check_previous.toLowerCase().indexOf(object) >= 0) {
                    console.log('check_previous', check_previous, 'float', object);
                    $(this).val('Propertiesfloatfields').trigger('change');
                    $("#id_csv_template_fields-"+index+"-column_table_mapping").val('Propertiesfloatfields').trigger('change');

                    changed = true;
                }
            });


            if (!changed)
            {
                console.log('check_previous', check_previous, 'string');
                $(this).val('Propertiesstringfields').trigger('change');
            }

        });

    }

    function check_table_details()
    {
        $(".table_mapping").each(function() {
           var table_id = $(this).attr('id');
           var column_id = table_id.replace('column_table_mapping', 'column_field_mapping');
           var value_column_id = table_id.replace('column_table_mapping', 'value').replace('id_template_fields', 'column_field_mapping');

           var selected_table = this.value;

           var first = $("#"+column_id).val();

           if (!first)
           {
               var csv_column_name =  table_id.replace('column_table_mapping', 'csv_column_name');
               csv_column_name = $("#"+csv_column_name).val();

               $.ajax({
                url: '/get_table_mapping_options/{{ project.pk }}/',
                type: 'GET',
                data: {'model_name': selected_table, 'csv_column_name':csv_column_name},
                success: function (data) {

                    var model_fields = data.model_fields;
                    $("#"+column_id).html("<option value=''>Select a field mapping</option>");
                    $(model_fields).each(function(index, value) {
                        if ($("#"+value_column_id).val() == value)
                        {
                            $("#"+column_id).append(
                                    "<option value='"+value+"' selected>"+value+"</option>"
                            );
                        }
                        else
                        {
                            $("#"+column_id).append(
                                    "<option value='"+value+"'>"+value+"</option>"
                            );
                        }

                    });
                }
                });
           }

{#           console.log(selected_table, column_id, first, $("#"+column_id));#}

           var form_loop = table_id.replace('column_table_mapping', '').replace('id_template_fields-', '').replace('-', '');
           form_loop = parseInt(form_loop) + 1;

           var pretty_name_id = table_id.replace('column_table_mapping', 'column_pretty_name');

           if ($.inArray( selected_table, ["Apartmentstrings", "Propertiesintfields"]) >= 0)
           {
               hide_options_for_edit(column_id, 'apartments');
               $("#show-mapping-add-new-"+form_loop).show();

           }
           else
           {
               hide_options_for_edit(column_id, 'strings');
               hide_options_for_edit(column_id, 'int_fields');
               $("#show-mapping-add-new-"+form_loop).hide();
           }

        });

    }

    function display_new_string_option(counter)
    {
        $("#mapping-new-"+counter).show();
        $("#mapping-existing-"+counter).hide();

        var c = counter - 1;

        $("#id_template_fields-"+c+"-column_pretty_name").val('');

        $("#id_template_fields-"+c+"-column_field_mapping_type option").each(function() {
           if (this.value == "select_options")
           {
               $(this).hide();
           }
        });
    }

    function hide_options(obj_id, selected_option)
    {
        var first = '';

       console.log(obj_id);
       console.log(selected_option);


       $("#"+ obj_id + " option").each(function() {

           if (this.value.indexOf(selected_option) >= 0)
           {
               $(this).hide();
           }
           else
           {
               if (first == '')
               {
                   first = this.value;
               }

               $(this).show();
           }

       });

       $("#"+ obj_id).val(first);

       return first;
    }


    function show_options(obj_id, selected_option)
    {
        var first = '';


       $("#"+ obj_id + " option").each(function() {

           if (this.value.indexOf(selected_option) >= 0)
           {
               $(this).show();
               if (first == '')
               {
                   first = this.value;
               }
           }
           else
           {
               $(this).hide();
           }

       });

       $("#"+ obj_id).val(first);

       return first;
    }


    function hide_options_for_edit(obj_id, selected_option)
    {
       $("#"+ obj_id + " option").each(function() {

           $(this).show();

       });
    }

    function check_displayed_rows()
    {
        var total_fields = $("#total_fields").val();
        var hide_fields = 5;
        var extra_fields = 30;

        if (total_fields)
        {
            hide_fields = total_fields;
            extra_fields += parseInt(total_fields);
        }

        var show_rows_total = 0;

        $(".form-row").each(function() {

           var id = $(this).attr('id');
           var c = id.replace('form-row-', '');
           var show_row = $("#id_template_fields-"+c+"-form_row_shown").val();
           if (show_row)
           {
               show_rows_total += 1;
               $("#form-row-"+ c).show();
               $("#id_template_fields-"+c+"-DELETE").val('False');
           }
        });

        if (show_rows_total == extra_fields)
        {
            var i = 0;

            $(".form-row").each(function() {

               if (i >= hide_fields)
               {
                   var id = $(this).attr('id');
                   var c = id.replace('form-row-', '');
                   var show_row = $("#id_template_fields-"+c+"-form_row_shown").val(false);
                   $("#id_template_fields-"+c+"-DELETE").val('True');
                   $("#form-row-"+ c).hide().addClass('form-row-hidden');

               }
               else
               {
                   $("#id_template_fields-"+c+"-DELETE").val('False');
               }

               i+=1;

            });
        }

    }

    function show_another_column()
    {
        $(".form-row-hidden:first").removeClass('form-row-hidden').show();
        $(".form-row-hidden:first .delete-field:first").val('False');
    }

    function remove_this_column(counter)
    {
         $("#form-row-"+ counter).hide();
         $("#form-row-error-"+ counter).hide();
         $("#id_template_fields-"+counter+"-DELETE").val('True');

         $("#id_template_fields-"+counter+"-column_table_mapping").val('');
         $("#id_template_fields-"+counter+"-column_field_mapping").val('');
         $("#id_template_fields-"+counter+"-column_pretty_name").val('');
         $("#id_template_fields-"+counter+"-csv_column_name").val('');
         $("#id_template_fields-"+counter+"-order").val('');
    }

    function capitalize_first(string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
    }



    function check_template_name()
    {
        if ($("#id_template_name").val())
        {
            $('#template-selector').toggle();
            $('#template-selected').toggle();
        }
        else
        {
             $("#id_template_name").focus()
        }

    }
    </script>
{% endblock %}
