{% extends "projects/base.html" %}

{% load model_tags %}

{% block breadcrumbs %}
    {{ block.super }}

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb" href="{{ project.get_absolute_url }}">
        {{ project.name }}
        <i class="fa fa-angle-double-right"></i>
    </a>
    <a class="header-breadcrumb" href="{% url 'projects-select-template' project.pk %}">
        Select Import Template
        <i class="fa fa-angle-double-right"></i>
    </a>
    <a class="header-breadcrumb not-active">
        Preview Data for Import
    </a>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="card">
            <div class="card-body no-padding">

                <div class="alert alert-callout alert-info no-margin">
                    <div class="btn-group pull-right">
                        <a href="#" class="btn btn-icon-toggle dropdown-toggle" data-toggle="dropdown"><i class="fa fa-colorize"></i></a>
                    </div>

                    <h2>Select Import for Preview</h2>

                    <table class="detail-table" style="width: 50%;">
                        <tr>
                            <th style="width: 30%;">Template:</th>
                            <td>{{ selected_template.template_name }}</td>
                        </tr>
                    </table>

                    <br>
                    <em>This template has been used {{ imports|length }} times</em><br>


                    <table class="detail-table" style="width: 50%;">
                        <tr>
                            <th style="width: 30%;">ID</th>
                            <th>Click to Preview Data</th>
                            <th></th>
                        </tr>
                        {% for import in imports %}
                            <tr>
                                <td>{{ import.id }}</td>
                                <td><a href="?preview_id={{ import.pk }}">{{ import.created|date:"d-M-Y" }}</a></td>
                                <td><a onclick="confirm_import_delete();" href="?delete_import_id={{ import.pk }}">
                                    <i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>



        </div>
    </div>

    {% if preview %}

        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">

                <h2>Data By Floor</h2>
                {% for key, v in floor_dictionary.items %}
                    {% if v.apartments %}
                        <div class="card card-underline">
                            <div class="link card-head style-primary-dark" onclick="$('#floor-row-{{ forloop.counter }}').toggle('slow');">
                                <header>{{ v.number }} - [Properties: {{ v.apartments }}]</header>

                            </div>

                            <div class="card-body" id="floor-row-{{ forloop.counter }}" style="display: none;">
                                <div style="overflow: auto">
                                    <table class="small-table">
                                        <tr id="apartments-floor-{{ v.number|cut:"." }}">
                                            <td>
                                                <div style="overflow: auto;">
                                                   <table class="small-table" style="font-size: 11px; margin: 0">
                                                        <tr>
                                                           <td style="padding: 0; margin: 0;">
                                                                <div style="padding: 0; margin: 0;">

                                                                    <table class="small-table" style="font-size: 11px; margin: 0">
                                                                       <tr>
                                                                            <th style="width: 20px !important;white-space: nowrap;">
                                                                                Compare <i class="fa fa-eye"></i>
                                                                            </th>
                                                                            {% for key in key_list %}
                                                                                {% ifnotequal key "aspect_fields" %}
                                                                                    <th id="editable-{{ row.row_id }}-{{ key }}" class="hover-link show-key-table-data"
                                                                                        style="white-space: nowrap; padding: 3px; width: 140px; min-width: 140px; max-width: 140px; overflow: hidden;">
                                                                                        {{ key }}
                                                                                    </th>
                                                                                {% endifnotequal %}
                                                                            {% endfor %}
                                                                       </tr>
                                                                    </table>
                                                                </div>
                                                            </td>
                                                       </tr>
                                                       {% for row in v.apartment_list %}
                                                           <tr>
                                                               <td style="padding: 0; margin: 0;">
                                                                    <div style="padding: 0; margin: 0;">

                                                                        <table class="small-table" style="font-size: 11px; margin: 0">
                                                                           <tr>
                                                                                <td style="width: 20px !important;white-space: nowrap;">
                                                                                    <a onclick="get_data_db_value_comparisons({{ row.row_id }});">Compare <i class="fa fa-eye"></i> </a>
                                                                                </td>
                                                                                {% for key in key_list %}
                                                                                    {% ifnotequal key "aspect_fields" %}
                                                                                        <td id="editable-{{ row.row_id }}-{{ key }}" class="hover-link show-key-table-data"
                                                                                            style="white-space: nowrap; padding: 3px; width: 140px; min-width: 140px; max-width: 140px; overflow:hidden; {% if  row|get_preview_aspect_class:key %} background: palegoldenrod {% endif %}">
                                                                                            {{ row|get_preview_value_from_dict:key }}
                                                                                        </td>
                                                                                    {% endifnotequal %}
                                                                                {% endfor %}
                                                                           </tr>
                                                                        </table>
                                                                    </div>
                                                                </td>
                                                           </tr>

                                                           <tr id="show-db-data-{{ row.row_id }}" style="display: none;">
                                                            <td style="padding: 0; margin: 0;">
                                                               <div id="show-table-comparison-{{ row.row_id }}" style="padding: 0; margin: 0;">

                                                               </div>
                                                            </td>
                                                           </tr>
                                                       {% endfor %}
                                                   </table>
                                               </div>

                                           </td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

            <div class="card">
                <div class="card-body no-padding">
                    <div class="alert alert-callout alert-info no-margin">
                    <h2>Import Data to Project?</h2>

                    <form action method="post">
                        {% csrf_token %}


                        <label>Override property type for data: </label> <br>
                        <select style="width: 25%" name="property_override_type">
                            <option value=""></option>
                            {% for type in property_types %}
                                <option value="{{ type.pk }}">{{ type.type }}</option>
                            {% endfor %}
                        </select>

                        <hr>
                        <input type="hidden" name="selected_preview" value="{{ preview_id }}">
                        <button type="submit" class="btn btn-process" onclick="$(this).hide(); $('#loading-gif').show();">Import Data</button>

                        <img src="/static/common/img/loading-trans.gif" id="loading-gif" style="display: none; width: 35px;">

                    </form>
                    </div>
                </div>
                </div>


            </div>
        </div>
    {% endif %}

    <input type="hidden" id="preview_id" value="{{ preview_id }}">
    <input type="hidden" id="template_id" value="{{ selected_template.pk }}">
    <input type="hidden" id="key_list" value="{{ key_list }}">


    <script>
        $(function() {
            $("html, body").animate({ scrollTop: $(document).height() }, "slow");

            $(".form-row").each(function() {
               var id = $(this).attr('id');
               var i = 0;
               $(".form-row").each(function() {

                   if (i >= 3)
                   {
                       $(this).hide().addClass('form-row-hidden');
                   }

                   i+=1;

                });
            });

            $(".save-edited-data").click(function () {
                check_current_fields_to_save();
            });

            $(".hover-link").click(function () {

                check_current_fields_to_save();

                var get_row_id = $(this).attr('id');
                var row_id = get_row_id.replace('editable-', '');
                row_id = row_id.split('-');

                var rowid = row_id[0];
                var key_value = row_id[1];

                var current_value = $(this).text();
                current_value = current_value.trim();
                $(this).html('<input type="text" value="'+current_value+'" id="editing_text_value-'+rowid+'-'+key_value+'" class="editing_text_value" onkeypress="return searchKeyPress(event);">');

                var strLength = current_value.length * 2;
                var searchInput = $("#editing_text_value-"+rowid+'-'+key_value);

                searchInput.focus();
                searchInput[0].setSelectionRange(strLength, strLength);

            });

        });

        function searchKeyPress(e)
        {
            // look for window.event in case event isn't passed in
            e = e || window.event;
            if (e.keyCode == 13)
            {
                check_current_fields_to_save();
                return false;
            }
            return true;
        }

        function check_current_fields_to_save()
        {
            var preview_id = $("#preview_id").val();
            var check_fields = $(".editing_text_value").length;
            if (check_fields)
            {
                $(".editing_text_value").each(function () {
                    //We have to save previous value

                    var new_value = $(this).val();
                    $(this).parent().html(new_value.trim());

                    var get_updated_row_id = $(this).attr('id');

                    console.log('get_updated_row_id', get_updated_row_id);

                    var row_id = get_updated_row_id.split('-');

                    var rowid = row_id[1];
                    var key_value = row_id[2];

                    console.log('rowid', rowid, 'key_value ', key_value);

                    $.ajax({
                        url: '/update_csv_import_details/{{ project.pk }}/',
                        type: 'GET',
                        data: {'key_value': key_value, 'new_value': new_value, 'row_id': rowid, 'preview_id': preview_id },
                        success: function (data) {
                            $().toastmessage('showToast', {text : "New Value for CSV Field Saved Successfully", stayTime: 2000, type : 'success'});
                        }
                    });

                });
            }
        }

        function get_data_db_value_comparisons(row_id)
        {
            $('#show-db-data-'+row_id).toggle();

            var preview_id = $("#preview_id").val();
            var template_id = $("#template_id").val();

            $.ajax({
                url: '/get_data_comparison_csv_import/{{ project.pk }}/',
                type: 'GET',
                data: {'row_id': row_id, 'preview_id': preview_id, 'template_id': template_id},
                success: function (data) {
                    $("#show-table-comparison-"+row_id).html(data.found_property_table_rendered);
                }
            });
        }

        function confirm_import_delete()
        {
            window.location.href=this.href;
        }

        function show_another_column()
        {
            $(".form-row-hidden:first").removeClass('form-row-hidden').show();
            $(".form-row-hidden:first .delete-field:first").val('False');
        }

        function remove_this_column(counter)
        {
             $("#form-row-"+ counter).remove();
             $("#form-row-error-"+ counter).remove();
             $("#id_projectcsvtemplatefields_set-"+counter+"-DELETE").val('True');
        }
    </script>
{% endblock %}