{% load canvas_tags %}
{% load model_tags %}


    <div class="row" style="padding-left: 12px;">
        <div class="col-lg-10 col-sm-10">
            <div class="row">
                <br>
                <div class="col-xs-6">
                    <div class="card card-bordered style-default-dark">
                        <div class="card-head">
                            <header>Files</header>
                            <div class="tools">
                                <div class="btn-group">
                                    <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="card-body style-default-bright" style="min-height: 414px;">
                            <div id="aspects_file_data">
                                {% include "canvas/templates/includes/aspects_floor_table.html" %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="card card-bordered style-default-dark">
                        <div class="card-head">
                            <header>Preview</header>
                            <div class="tools">
                                <div class="btn-group">
                                    <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body style-default-bright">
                            <form method="post" action enctype="multipart/form-data" id="gallery-form">
                                {% csrf_token %}
                                {% include "canvas/templates/includes/views_image_display.html" with width=300 %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" id="tag-filter-images">
                    {% include "canvas/includes/tag_filter_images.html" %}
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-sm-2">
            <br>
            <div class="card card-bordered style-default-dark">
                <div class="card-head">
                    <header>Floors</header>
                    <div class="tools">
                        <div class="btn-group">
                            <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card-body style-default-bright">
                    <select id="building-selected" onchange="refresh_with_new_building(this.value);">
                        {% for building in buildings %}
                            <option value="{{ building.pk }}">{{ project|name_by_name_id:building }}</option>
                        {% endfor %}
                    </select><br>

                    <a data-toggle="tooltip" data-placement="top" onclick="copy_images();" title="Copy Images To Floors" class="btn btn-sm btn-default"><i class="fa fa-copy"></i></a>
                    <table>
                        <tr>
                            <th>Level</th>
                            <th>Select</th>
                        </tr>

                        {% for row in floor_list %}
                            <tr class="building-floor-select-{{ row.building_id }} building-floor-select highlight-floor-select" id="floor-selected-{{ row.floor.id }}">
                                <td>
                                    <a id="floor-select-{{ row.floor.id }}" class="floor-select-link"
                                       onclick="select_new_floor({{ row.floor.id }});">
                                        <div id="floor-details-{{ row.floor.id }}" class="floor-select-link floor-details {% ifequal model_instance.pk row.floor.id %}selected{% endifequal %}">
                                            {{ project|get_item_name:row.floor }}
                                        </div>
                                    </a>
                                </td>
                                <td style="text-align: center;">
                                    <input type="checkbox" class="floor-checkbox" project_id="{{ project.pk }}" id="floor-aspect-{{ row.floor.id }}" {% ifequal model_instance.pk row.floor.id %}checked{% endifequal %}>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="apartment_list" value="{{ apartment_list }}">
    <input type="hidden" id="total_showing" value="1">
    <input type="hidden" id="current_apartment_setting">
    <input type="hidden" id="current_floor_id" value="{{ floor_id }}">
    <input type="hidden" id="current_project_id" value="{{ project.pk }}">
    <input type="hidden" id="building-selected" value="{{ building_id }}">



<div id="added-image-html" style="display: none">
    <div class="col-lg-{{ image_settings }}"  style="text-align: center;" id="image-selected-id">
        <em>image-name</em><br>
        {% if image_size %}
            <img src="#" style="width: 100%; max-width: 350px;">
        {% else %}
            <img src="#" style="width: 100%; max-width: 350px;">
        {% endif %}
        <br><br>
    </div>
</div>

<input type="hidden" id="existing_aspects" value="['North', 'South', 'East', 'West']">


<script>
    $(function() {
        get_property_aspects();

        $("#new_aspect_name").autocomplete({
            source: $("#existing_aspects").val()
       });
    });


    function resave_content_assets()
    {
        var project_id = $("#current_project_id").val();
        var floor_id = $("#current_floor_id").val();


        $.ajax({
        url: '/update_all_aspect_images_for_floor/' + project_id + '/',
        type: 'GET',
        data: {'floor_id': floor_id,
               'canvas_id': {{ canvas_id }}, 'sub_wireframe_id': '{{ sub_wireframe_id }}', 'template_id': '{{ template_id }}' },

             success: function (data) {

                 $().toastmessage('showToast', {
                    text: "Container Assigned Assets Saved Successfully",
                    sticky: false,
                    position: 'top-right',
                    type: 'success',
                    closeText: ''
                });

                 get_property_aspects();
            }
        });
    }

    function add_aspect()
    {
        var project_id = $("#current_project_id").val();
        var floor_id = $("#current_floor_id").val();
        var aspect = $("#new_aspect_name").val();

        $.ajax({
        url: '/add_floor_aspect/' + project_id + '/',
        type: 'GET',
        data: {'floor_id': floor_id, 'aspect': aspect},

            success: function (data) {
                $( init );

                $().toastmessage('showToast', {
                        text: "Aspect saved successfully",
                        sticky: false,
                        position: 'top-right',
                        type: 'success',
                        closeText: ''
                    });

                $("#new_aspect_name").val('');

                get_property_aspects();
            }
        });
    }
    function init() {
        $('.draggable-image').draggable( {
              containment: 'document',
              helper: myHelper,
              cursor: 'move',
              appendTo: 'body',
              scroll: true,
              refreshPositions: true
        });

        $("#all-images").droppable( {
            hoverClass: "ui-state-active",
            activeClass: "ui-state-highlight",
            drop: handleDropImageEventFloor
        });

        $( "#sortable" ).sortable();
        $( "#sortable" ).disableSelection();

    }



    function handleDropImageEventFloor( event, ui ) {

        var draggable = ui.draggable;
        var resource_id = draggable.attr('id');
        resource_id = resource_id.replace("image-", "").replace("-checkbox", "");

        var normal_src = draggable.attr('normal_src');
        var image_src = draggable.attr('src');

        if (image_src)
        {
            var image_name = image_src.split("/");

            var project_id = $("#current_project_id").val();
            var floor_id = $("#current_floor_id").val();

            image_name = image_name[image_name.length-1];

            var aspect = '';
            if ($(this).attr('id') == "all-images")
            {
                aspect = '';
            }
            else
            {
                var aspect_text = $(this).first('td').text().replace(" ", "");
                aspect = aspect_text.replace(/ /g, "").replace(/\n/g, "");
            }

            var i = 1;
            $(".sortlist").each(function() {
                $(this).first('input.file-order').val(i);
                i++;
            });

            var file_order = $("#file-order-"+resource_id).val();

            $.ajax({
                url: '/update_aspect_image_floor/' + project_id + '/',
                type: 'GET',
                data: {'floor_id': floor_id, 'resource_id': resource_id, 'file_order': file_order,
                       'canvas_id': {{ canvas_id }}, 'sub_wireframe_id': '{{ sub_wireframe_id }}', 'template_id': '{{ template_id }}' },

                     success: function (data) {

                         $().toastmessage('showToast', {
                            text: "Image saved successfully",
                            sticky: false,
                            position: 'top-right',
                            type: 'success',
                            closeText: ''
                        });

                         get_property_aspects();
                    }
                });

            $( init );
        }



    }


    function myHelper( event ) {

        $(".show_name").show();

        var list_image = event.currentTarget;
        var id = $(list_image).attr("id");
        var static_image = $(list_image).attr("src");
        $("#cross-hatch").css({"border": "3px solid green;"});

        return '<div id="draggableHelper" style="border: red 2px solid; z-index: 99999999;"><img style="max-width: 100px; opacity: 0.5;" src='+static_image+'></div>';
    }



    function copy_images()
    {
        if (confirm("Are you sure you wish to copy the selected images to the selected floors below?"))
        {
            var selected_images = $('.selected-file-image:checkbox:checked');
            var selected_floors = $('.floor-checkbox:checkbox:checked');


            var project_id = $("#current_project_id").val();

            $(selected_images).each(function(index, element) {
                var image_id = $(this).attr("id");
                image_id = image_id.replace("file-selected-to-copy-", "");

                $(selected_floors).each(function() {
                    var floor_id = $(this).attr("id");
                    floor_id = floor_id.replace("floor-aspect-", "");

                     $.ajax({
                        url: '/copy_resource_image_to_floors/' + project_id + '/',
                        type: 'GET',
                        data: {'floor_id': floor_id, 'resource_id': image_id},
                             success: function (data) {

                            }
                        });
                });

            });

            $().toastmessage('showToast', {
                text: "Image saved successfully",
                sticky: false,
                position: 'top-right',
                type: 'success',
                closeText: ''
            });
        }
    }


    function  highlight_image(file_id)
    {
        $(".file-image").removeClass('ui-state-highlight');
        $("li.file-image").removeClass('ui-state-highlight').addClass('ui-state-default');
        if ($("#file-image-"+file_id))
        {
            $("#file-selected-to-copy-"+file_id).attr("checked", true);
            $("#file-image-"+file_id).addClass('ui-state-highlight');
            $(".file-image-"+file_id).removeClass('ui-state-default').addClass('ui-state-highlight');
        }

        $(".image-selected-display").hide();
        $("#image-selected-"+file_id).show();
    }

    function  highlight_image_aspect(aspect)
    {
        $(".file-image").removeClass('ui-state-highlight');
        $("li.file-image").removeClass('ui-state-highlight').addClass('ui-state-default');

        if ($("#file-image-"+aspect))
        {
        $("#file-image-"+aspect).addClass('ui-state-highlight');
        $(".file-image-"+aspect).removeClass('ui-state-default').addClass('ui-state-highlight');
        }

         $(".image-selected-display").hide();
        $("#image-selected-"+aspect).show();
    }

    function remove_resource_by_id(aspect_id)
   {

       var project_id = $("#current_project_id").val();
       var property_id = $("#current_apartment_setting").val();

        $.ajax({
        url: '/remove_property_aspect/' + project_id + '/',
        type: 'GET',
        data: {'aspect_id': aspect_id, 'type': 'floor'},

            success: function (data) {

                get_property_aspects();

            }
        });
   }

    function select_new_floor(floor_id)
    {
        console.log('floor views select new floor');
        $(".floor-details").removeClass('selected');
        $("#floor-details-"+floor_id).addClass('selected');

        $("#current_floor_id").val(floor_id);

        $(".floor-checkbox").attr("checked", false);
        $("#floor-aspect-"+floor_id).click();

        $(".apartment-details").hide();
        $(".apartment-details-"+ floor_id).show();

        get_property_aspects();

    }


    function get_property_aspects()
    {
        var project_id = $("#current_project_id").val();
        var floor_id = $("#current_floor_id").val();

        $(".scrolling-images").hide();
        $(".scrolling-images-"+floor_id).show();

        $.ajax({
        url: '/get_floor_resources/' + project_id + '/',
        type: 'GET',
        data: {'floor_id': floor_id},
        success: function (data) {

                $("#aspects_file_data").html(data.file_rendered);
                $("#gallery-form").html(data.image_file_rendered);

                highlight_image(data.first_aspect);

                 $( init );
        }

        });
    }

    function remove_aspect(aspect)
    {
        var project_id = $("#current_project_id").val();
        var property_id = $("#current_apartment_setting").val();

        $.ajax({
        url: '/remove_property_aspect/' + project_id + '/',
        type: 'GET',
        data: {'property_id': property_id, 'aspect': aspect},

            success: function (data) {

                get_property_aspects();

            }
        });
    }




</script>
