{% extends "canvas/plans_base.html" %}

{% load model_tags %}
{% load canvas_tags %}

{% block title %}{{ block.super }} - {{ project.name }}{% endblock %}

{% block breadcrumbs %}
    <a class="header-breadcrumb" href="/">
        Home
        <i class="fa fa-angle-double-right"></i>
    </a>

    <a class="header-breadcrumb" href="{{ project.get_absolute_url }}">
        {{ project.name }}

        <i class="fa fa-angle-double-right"></i>
    </a>

    <a class="header-breadcrumb" href="{% url 'canvas-home'  %}">
        Display Suites <i class="fa fa-angle-double-right"></i>
    </a>

    <a class="header-breadcrumb active not-active">
        Preview Editor

        <i class="fa fa-angle-double-right"></i>
    </a>

    {% include "canvas/includes/project_selector.html" %}
{% endblock %}

{% block apartment_content %}
    <br><br><br><br><Br>
{% endblock %}

{% block image_content %}

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" style="margin-bottom: 10px;">
            <a class="pull-right btn btn-sm btn-default" data-toggle="modal" data-target="#image_uploader">
                <i  data-toggle="tooltip" data-placement="top" title="Import images to folder." class="fa fa-file"></i> File Upload
            </a>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12" style="margin-bottom: 5px;">
            <select id="change-side-level-plan-view">
                {% for option in image_type_choices %}
                    <option value="{{ option }}">{{ option|prettify_select_option }}</option>
                {% endfor %}
            </select>
        </div>

    </div>
{% endblock %}

{% block content %}
    <div class="row">
        {% include "canvas/templates/includes/menu.html" %}
    </div><br>

<div class="row">
    <div class="col-xs-3" id="preview-apartment-editor">

        <div id="level-plan-apartments">
            {% include "canvas/templates/includes/apartments/apartment_content.html" %}
        </div>

        <div id="floor-plan-apartments" style="display: none;">
            {% include "canvas/templates/includes/apartments/floor_plan_apartments.html" %}
        </div>
        <div id="key-plan-apartments" style="display: none;"></div>
        <div id="basic-level-apartments" style="display: none;"></div>

    </div>

    <div class="col-lg-6 col-sm-6 col-xs-6" id="preview-details-editor">
        <div class="row">
            <div class="card card-underline">
                <div class="card-head style-primary-dark">
                    <header>Plans Preview Editor</header>

                    <div class="tools">
                        <div class="btn-group">
                            <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down white"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="nav nav-tabs" style="font-size: 11px;">
                        <li onclick="switch_plans_tab('Level Plans');" class="active main-tabs level-plans switch_plans_tab_level">
                          <a href="#section-level" data-toggle="tab" class="switch_plans_tab_level">
                              <label class="link">Level Plan</label>
                          </a>
                        </li>
                        <li onclick="switch_plans_tab('Floor Plans');" class="main-tabs floor-plans switch_plans_tab_floor">
                          <a data-toggle="tab" href="#section-floor" class="switch_plans_tab_floor">
                              <label class="link">Floor Plan</label>
                          </a>
                        </li>
                        <li onclick="switch_plans_tab('Key Plans');" id="key-plan-select" class="main-tabs key-plans switch_plans_tab_key">
                          <a href="#section-key" data-toggle="tab" class="nav-tab-link switch_plans_tab_key">
                              <label class="link">Key Plan</label>
                          </a>
                        </li>
                        <li   onclick="switch_plans_tab('Details');" class="main-tabs details-plans switch_plans_tab_key">
                          <a data-toggle="tab" href="#section-details" class="nav-tab-link">
                              <label class="link">Details</label>
                          </a>
                        </li>

                        <li onclick="switch_plans_tab('Listing');" class="main-tabs listing-plans switch_plans_tab_multi">
                          <a href="#section-listing" data-toggle="tab" class="non-tab-link">
                              <label class="link">Listing</label>
                          </a>
                        </li>

                        <li onclick="switch_plans_tab('Multi Levels');" class="main-tabs options-plans switch_plans_tab_multi">
                          <a data-toggle="tab" href="#section-combined" class="non-tab-link">
                              <label class="link">Options</label>
                          </a>
                        </li>

                        <li onclick="switch_plans_tab('Building');" class="main-tabs options-plans switch_plans_tab_multi">
                          <a data-toggle="tab" href="#section-building" class="non-tab-link">
                              <label class="link">Building</label>
                          </a>
                        </li>
                    </ul>
                    <div class="tab-content" style="border: 1px solid #ddd; border-top: none; padding: 10px; padding-right: 15px; margin-right: 2px; min-width: 610px; max-height: 850px;">
                    <div id="section-level" class="active tab-pane fade in " style="min-height: 700px;">

                        <div class="row">
                            <div class="col-sm-12">
                                    <div class="zooming" style="margin-top: 10px;">

                                        <div style="display: inline-block; width: 100%;">
                                            <div class="buttons pull-left">
                                                <span style="width: 100%; float: left" id="level_plans-image_name_text">
                                                {{ image_name }}
                                                </span>
                                            </div>

                                            <div class="buttons pull-right">
                                                <button id="zoom-in-level-plan-top" class="zoom-in btn btn-sm btn-danger"><i class="fa fa-plus"></i> </button>
                                                <button id="zoom-out-level-plan-top" class="zoom-out btn btn-sm btn-danger"><i class="fa fa-minus"></i></button>
                                                <button id="reset-level-plan-zoom-top" class="reset zoom-reset btn btn-sm btn-danger"><i class="fa fa-refresh"></i></button>
                                            </div>
                                        </div>
                                        <br><br>
                                      <div class="parent">
                                        <div class="panzoom">
                                          <div id="floor-plan-wrapper" class="level-plan-canvas" style="height: 603px; width: 600px;">
                                                <div id="floorplan-message" style="width: 100%;"></div>
                                                <div id="floor-plan-image" style="height: 600px;" class="level-plan-canvas">
                                                    {% if image_exists %}
                                                        <img src="{{ static_image }}" id="canvas-image-level_plans" class="level-plan-canvas"  style="height: 600px;width: 600px;">
                                                    {% else %}
                                                        <img src="/static/common/img/placeholder.jpg" id="canvas-image-level_plans" class="level-plan-canvas" style="height: 600px;width: 600px;" >
                                                    {% endif %}
                                                </div>
                                                <canvas id="cross-hatch" style="top: -600px; margin-left: auto;" class="level-plan-canvas cross-hatch-image" width="600" height="600">
                                                    Your browser does not support the HTML5 canvas tag.
                                                </canvas>

                                                <input type="hidden" id="level_plans-selected-image" value="{{ resource_id }}">
                                            </div>
                                        </div>
                                      </div>

                                      <script>
                                        (function() {
                                          var $section = $('div.zooming').first();
                                          $section.find('.panzoom').panzoom({
                                            $zoomIn: $section.find(".zoom-in"),
                                            $zoomOut: $section.find(".zoom-out"),
                                            $contain: $("#section-level"),
                                            $reset: $section.find(".zoom-reset"),
                                            increment: 0.3
                                          });

                                            $section.on('resize', function() {
                                                $section.find('.panzoom').panzoom('resetDimensions');
                                            });
                                        })();
                                      </script>
                                    </div>



                            </div>
                        </div>
                    </div>
                    <div id="section-floor" style="max-height: 680px; width: 480px;" class="tab-pane fade in ">

                            <span style="width: 100%; margin-left: 30px;">
                                {% if floor_plan_details.image_exists %}
                                     <span id="floor_plans-image_name_text">{{ floor_plan_details.static_image }}</span>
                                {% else %}
                                    <span id="floor_plans-image_name_text">N/A</span>
                                {% endif %}
                            </span>

                            <div id="floor-plan-wrapper" style="width: 600px; text-align: center; margin: auto">
                                <div style="text-align: center; width:450px;">
                                    {% if floor_plan_details.image_exists %}
                                        <img src="{{ floor_plan_details.static_image }}"
                                             style="height: 600px; width: 600px;" id="canvas-image-floor_plans">
                                    {% else %}
                                        <img src="/static/common/img/placeholder.jpg"
                                             style="height: 600px;width: 600px; text-align: center;" id="canvas-image-floor_plans">
                                    {% endif %}
                                </div>

                                <input type="hidden" id="floor_plans-selected-image" value="{{ floor_plan_details.resource_id }}">

                                <canvas id="cross-hatch-floor_plans" style="top: -600px;" class="cross-hatch-image"
                                        width="600px;" height="600px;">
                                    Your browser does not support the HTML5 canvas tag.
                                </canvas>
                            </div>

                    </div>
                    <div id="section-key" class="tab-pane fade in " style="min-height: 520px;">
                        {% include "canvas/templates/includes/key_section.html" %}
                    </div>
                    <div id="section-details" class="tab-pane fade in" style="min-height: 520px;">
                        <div style="height: 400px;">
                            <div class="row">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-sm btn-danger pull-right" style="display: none;"
                                            id="save-current-property-details" onclick="save_current_property_details();">Save</button>
                                </div>

                                <div class="pull-left">
                                    <div class="pull-left" style="margin-left: 25px;">
                                        <label>Select Template</label> &nbsp;
                                    </div>

                                    <div class="pull-right">
                                        <select class="form-control" style="max-width: 350px;" id="selected-template-details"
                                                onchange="get_selected_template_for_apartment(this.value, '#property-details-listings', '');">

                                            {% for option in editable_templates %}
                                                <option value="{{ option.pk }}" {% ifequal option.is_editable_template_default True %}selected="selected"{% endifequal %}>
                                                    {{ option.template_name }}  {% ifequal option.is_editable_template_default True %}(default) {% endifequal %}
                                                </option>
                                            {% endfor %}
                                        </select>

                                        <input type="hidden" id="first_template_id" value="{{ first_template.pk }}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <br>
                                <div style="max-height: 450px; overflow-y: auto">
                                    <form id="edit-current-property-form" method="post" style="margin-left: 30px;">
                                        {% csrf_token %}
                                        <div class="row" id="property-details-listings" style="max-width: 480px;">

                                        </div>

                                        <input type="hidden" name="selected_template_id" id="selected_template_id">
                                        <input type="hidden" name="selected_property_id" id="selected_property_id">
                                        <input type="hidden" name="project_id"  value="{{ project.pk }}">
                                        <input type="hidden" name="floor_id" id="floor_id_property"  value="{{ floor_id }}">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="section-listing" style="height: 470px;" class="tab-pane fade in">
                        {% include "canvas/templates/includes/property_listing_details.html" %}
                    </div>
                    <div id="section-combined" class="tab-pane fade in">

                            <br>
                            <ul class="nav nav-tabs">
                                <li class="active option-details-tabs combination">
                                  <a href="#section-combination" data-toggle="tab" onclick="show_combination_details();">
                                      <label class="link">Combination</label>
                                  </a>
                                </li>
                                <li class="option-details-tabs  upgrade">
                                  <a href="#section-upgrade" data-toggle="tab"  onclick="show_upgrade_details();">
                                      <label class="link">Upgrade</label>
                                  </a>
                                </li>
                            </ul>

                            <div class="tab-content"
                                 style="border: 1px solid #ddd; border-top: none; padding: 10px; padding-right: 15px; margin-right: 2px;">
                                <div id="section-combination" class="active tab-pane fade in" style="padding: 10px;">
                                    {% include "canvas/templates/includes/property_combined_details.html" %}
                                </div>

                                <div id="section-upgrade" class="tab-pane fade in" style="padding: 10px;">
                                    {% include "canvas/templates/includes/property_upgrade_details.html" %}
                                </div>
                            </div>

                    </div>
                    <div id="section-building" class="tab-pane fade in">
                        {% include "canvas/templates/includes/assigned_buildings.html" %}
                    </div>
                </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 5px;">
            <div id="image-selector-section">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12" style="margin-bottom: 3px;" id="tag-filter-images">
                        {% include "canvas/includes/tag_filter_images.html" with tag_names=tag_names image_list=image_list %}
                    </div>
                    <input type="hidden" value="common/img/placeholder.jpg" id="image-selected-for-floor">
                        <input type="hidden" value="" id="image-type-selected-for-floor">

                        {% if image_exists %}
                            <input type="hidden" id="current-floor-image-path" value="{{ static_image }}">
                        {% else %}
                            <input type="hidden" id="current-floor-image-path" value="common/img/placeholder.jpg">
                        {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-3">
        <div class="row" style="margin-left: 5px;" id="select-floors">
            {% include "canvas/templates/includes/select_floors.html" %}
        </div>

        {% ifequal page_type "Multi Levels" %}
        <div class="row" style="margin-left: 5px; z-index: 99;">
            {% include "canvas/templates/includes/multi_levels/level_image_selector.html" %}
        </div>
        {% endifequal %}

    </div>

</div>


    <input type="hidden" id="floor_plans-selected-image" value="{{ floor_plan_details.resource_id }}">
    <input type="hidden" id="key_plans-selected-image" value="{{ key_plan_details.resource_id }}">
        <input type="hidden" id="level_plans-selected-image" value="{{ resource_id }}">
    <input type="hidden" id="selected_x" value="">
    <input type="hidden" id="selected_y" value="">

    <input type="hidden" id="apartment_list" value="{{ apartment_list }}">
    <input type="hidden" id="total_showing" value="1">
    <input type="hidden" id="current_building_id" value="{{ building_id }}">
    <input type="hidden" id="current_apartment_setting" value="{{ first_apartment_id }}">
    <input type="hidden" id="current_floor_id" value="{{ floor_id }}">
    <input type="hidden" id="selected-colour" value="red">
    <input type="hidden" id="selected_apartment" value="{{ first_apartment_id }}">
    <input type="hidden" id="selected_apartment_x_coordinate" value="{{ x_coordinate }}">
    <input type="hidden" id="selected_apartment_y_coordinate" value="{{ y_coordinate }}">
    <input type="hidden" id="canvas_width" value="600.0">
    <input type="hidden" id="canvas_circle_size" value="12">
    <input type="hidden" id="zoom_factor_level_plans" value="0">

    <input type="hidden" id="property_type_filter" value="">

    <input type="hidden" id="x_coordinate" value="">
    <input type="hidden" id="y_coordinate" value="">

    <input type="hidden" id="image_type_choices" value="{{ image_type_choices }}">
    <input type="hidden" id="selected_image_id" value="">

    <input type="hidden" id="apartment_list" value="{{ apartment_list }}">
    <input type="hidden" id="tag_selected" value="{{ tag_selected }}">


    <input type="hidden" id="canvas_id" value="{{ canvas_id }}">
    <input type="hidden" id="sub_wireframe_id" value="{{ sub_wireframe_id }}">
    <input type="hidden" id="template_id" value="{{ template_id }}">

    <input type="hidden" id="current_project_id" value="{{ project.pk }}">

    <!-- Modal -->

    <div id="add_new_building_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add New Building</h4>
      </div>
      <div class="modal-body">

          <div class="row">
                <div class="col-lg-12">
                    <em><small>Each building needs at least one floor and you can always update / remove / assign later.</small></em>
                </div>
                <form class="col-lg-6">
                    <label>Building Name:</label>
                    <input type="text" id="new_building_name" placeholder="building name" style="margin-top: -12px;">

{#                    <label>Floor Name:</label>#}
{#                    <input type="text" id="new_building_floor" placeholder="Enter a floor name" style="margin-top: -12px;">#}

                    <br><br>
                    <a onclick="save_new_building();" class="btn btn-xs btn-black">Save new building </a>
                </form>
              </div>

      </div>
      <div class="modal-footer">
        <button type="button" id="close-level-create-modal" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<div id="add_new_floor_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add New Level</h4>
      </div>
      <div class="modal-body">

            <form id="add-new-level-form" method="post" style="width: 50%">
                <label>New Level Name</label>
                <input type="text" name="new_level_name" id="new_level_name">

                <label>Number of Apartments</label>
                <select name="number_of_apartments" id="number_of_apartments">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                </select>

                <input type="hidden" class="project_id" name="project_id"  value="{{ project.pk }}">
                <input type="hidden" class="floor_id" name="floor_id" id="floor_id_property"  value="{{ floor_id }}">

                <button onclick="save_new_level();" id="save-new-level-details" class="btn btn-danger" type="button">Save</button>
            </form>

            <form action method="post" id="save-all-new-floor-names">
                {% csrf_token %}

                <div id="new_property_form_names" style="display: none;">

                </div>

            </form>
            <button style="display: none;" id="save-property-names-button" class="btn btn-process" type="button"
                            onclick="save_all_new_property_names();">Save Property Names</button>

            <input type="hidden" id="new_floor_saved_id" value="">

      </div>
      <div class="modal-footer">
        <button type="button" id="close-level-create-modal" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<!-- Modal -->
    <div id="add_new_apartment_modal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Property</h4>
          </div>
          <div class="modal-body">

                <div id="property-editable-template">
                    <h3>Add Property Using Import Temaplate</h3>

                    <label>Select Template</label>

                    <select id="selected-template" onchange="get_selected_template(this.value, '#property-add-template')">
                        <option value=""></option>
                        {% for option in editable_templates %}
                            <option value="{{ option.pk }}" {% ifequal option.is_editable_template_default True %} selected="selected"{% endifequal %}>{{ option.template_name }}
                                {% ifequal option.is_editable_template_default True %}(default){% endifequal %}</option>
                        {% endfor %}
                    </select>
                    <br><br>

                    <form id="add-property-form" method="post">
                        {% csrf_token %}

                        <div id="property-add-template">

                        </div>

                        <input type="hidden" class="selected_template_id" name="selected_template_id" id="selected_template_id">
                        <input type="hidden" class="selected_property_id" name="selected_property_id" id="selected_property_id">
                        <input type="hidden" class="project_id" name="project_id"  value="{{ project.pk }}">
                        <input type="hidden" class="floor_id" name="floor_id" id="floor_id_property"  value="{{ floor_id }}">

                    </form>

                    <button onclick="save_editable_template();" id="save-property-details" class="btn btn-danger" type="button">Save</button>
                    <br>

                </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="close-property-create-modal" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
    <script src="/static/common/js/preview_editor_hotspot.js"></script>


    <script>
        $(function () {
            var current_building_id = $("#current_building_id").val();
            if (!current_building_id)
            {
                waitingDialog.show("It looks like you do not have any floors assigned to a building. Redirecting you to assign.",
                        {dialogSize: 'md', progressType: 'error'});

                setTimeout(function(){
                   window.location.href = '/projects/{{ project.pk }}/filter/values/Floorsbuildings/';
                }, 7000);
            }
        })
    </script>

{% endblock %}
