{% load canvas_tags %}

<br><Br><br>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <form method="post" action enctype="multipart/form-data" id="gallery-form">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-7 col-md-7">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="card card-underline">
                                <div class="card-head style-primary-dark">
                                    <header>{{ page_type }}</header>
                                    <div class="tools">
                                        <div class="btn-group">
                                            <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body tab-content">

                                    <div id="all-images" style="height: 405px; overflow-y: auto; border-radius: 5px;">

                                        {% for row in asset_list %}
                                            {% if row.image.path|file_exists %}
                                                <div class="image-selected-display col-lg-{{ image_settings }}"  style="text-align: center;" id="image-selected-{{ row.image.pk }}">
                                                    <small><em>{{ row.full_image_name }}</em></small><br>

                                                    <img src="{{ row.image_static_path }}" id="image-{{ row.image.pk }}"
                                                         style="width: auto; max-height: 380px; padding: 20px; padding-bottom: 50px;">
                                                    <br><br>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12" id="tag-filter-images">
                            {% include "canvas/includes/tag_filter_images.html" %}
                        </div>
                    </div>


                </div>
            <div class="col-lg-5 col-md-5">

                <button type="button" onclick="submit_form();" class="btn btn-process pull-right" style="margin-top: -50px;">Save </button>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">

                        <div class="card card-underline">
                            <div class="card-head style-primary-dark">
                                <header>Gallery Files</header>
                            </div>
                            <div class="card-body tab-content">
                                <div class="table crunched-table" id="image-watermark-list">
                                <div class="row">
                                    <div class="col-lg-3">Image</div>
                                    <div class="col-lg-2">Watermark</div>
                                    <div class="col-lg-3">Menu</div>
                                    <div class="col-lg-3">Caption</div>
                                </div>

                                <ul class="row sortable" id="sortable">
                                {% for row in asset_list %}
                                    {% if row.image.path|file_exists %}
                                        <li onclick="highlight_image({{ row.image.pk }});" class="sortlist ui-state-default file-image file-image-{{ file.pk }}
                                            file-image-{{ file.key|cut:"Aspect: " }}" id="image-row-{{ row.image.pk }}" style="padding-top: 3px;" data-position="{{ row.settings.order }}">
                                            <div class="col-lg-4">
                                                <small style="float: left; margin-left: -10px; font-weight: bold">
                                                    {% if row.settings.order %}{{ row.settings.order }}{% endif %}
                                                </small>
                                                <i style="padding-left: 2px; padding-right: 4px; margin-top: 2px;" class="grey fa fa-angle-double-right"></i>
                                                <small><em id="row-image-name-{{ row.image.pk }}" class="row-image-name">{{ row.image_name }}</em></small>
                                                <input type="hidden" name="selected-asset" value="{{ row.image.pk }}">

                                                <input style="width: 20px;" type="hidden"
                                                       class="hidden-order-field" name="file-order-{{ row.image.pk }}" value="{{ row.settings.order }}">
                                            </div>
                                            <div class="col-lg-1">
                                                <input type="checkbox" {% ifequal row.settings.watermark "True" %}checked{% endifequal %} name="selected-asset-watermark" value="{{ row.image.pk }}">
                                            </div>

                                            <div class="col-lg-3">
                                                <input type="text" class="input-sm form-control" name="file-menu-{{ row.image.pk }}" value="{% if row.settings.menu %}{{ row.settings.menu }}{% endif %}">
                                            </div>
                                            <div class="col-lg-3">
                                                <input type="text" class="input-sm form-control" name="file-caption-{{ row.image.pk }}" value="{% if row.settings.caption %}{{ row.settings.caption }}{% endif %}">
                                            </div>
                                            <div class="col-lg-1">
                                                <a id="image-row-link-{{ row.image.pk }}" onclick="remove_image_watermark('{{ row.image.pk }}');"><i class="fa fa fa-trash-o"></i></a>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                    <li class="sortlist " show_order="99" style="height: 0; padding: 0;"></li>
                                </ul>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br><br>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">

                        <div class="card card-underline">
                            <div class="card-head style-primary-dark">
                                <header>Watermark</header>
                            </div>
                            <div class="card-body tab-content">
                                <ul class="nav nav-tabs">
                                <li role="presentation" data-toggle="tab" href="#section-watermark" class="active pull-right"><a href="#">Image</a></li>
                                </ul>
                                <div class="tab-content" style="border: 1px solid #ddd; border-top: none; padding: 10px; padding-right: 15px; margin-right: 2px;">
                                <div id="section-watermark" class="active tab-pane fade in ">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <label>Image</label>
                                            <div class="well" id="watermark-file-drop">
                                                {% if watermark_file %}
                                                    <div id="watermark-file">
                                                        <em>{{ watermark_file|cut:"/static/"|cut:project.project_connection_name|cut:"/" }}</em><br>
                                                        <img src="{{ watermark_file }}" style="width: 100px;">
                                                        <a class="pull-right watermark-file-selected" id="image-row-link-{{ watermark_file_id }}" onclick="remove_image_watermark('{{ watermark_file_id }}'); $('#watermark-file').remove();">
                                                            <i class="fa fa fa-trash-o"></i> Clear File
                                                        </a>
                                                    </div>
                                                    <input type="hidden" id="watermark_file_id" name="watermark_file" value="{{ watermark_file_id }}">
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="section-text" class="tab-pane fade in ">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <label>Text</label>
                                            <div class="well">
                                                ...
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>

                    </div>
                </div>


                {% if unique_thumbnail_files %}
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                             <div class="card card-underline">
                                <div class="card-head style-primary-dark">
                                    <header>Unique Thumbnail Files</header>
                                    <div class="tools">
                                        <div class="btn-group">
                                            <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body tab-content">
                                    <em>Please note: Unique thumbnail files will be published as is.</em>
                                    <div class="table crunched-table" id="image-watermark-list">
                                    <div class="row">
                                        <div class="col-lg-8 bold-text">Thumbnail Name</div>
                                        <div class="col-lg-1"></div>
                                    </div>

                                    <ul class="row sortable thumbnail-sortable {% if not unique_thumbnail_asset_list %}well{% endif %}" id="sortable_thumbnail_list">
                                    {% for row in unique_thumbnail_asset_list %}
                                        {% if row.image.path|file_exists %}
                                            <li class="sortlist ui-state-default file-image file-image-{{ file.pk }}
                                            file-image-{{ file.key|cut:"Aspect: " }}" id="image-row-{{ row.image.pk }}" style="padding-top: 3px;" data-position="{{ row.settings.order }}">
                                                <div class="col-lg-8" >
                                                    <small style="float: left; margin-left: -10px; font-weight: bold">
                                                        {% if row.settings.order %}{{ row.settings.order }}{% endif %}
                                                    </small>

                                                    <input style="width:18px;" type="text" class="hidden-order-field" name="file-order-{{ row.image.pk }}" value="{{ row.settings.order }}">

                                                    <i style="padding-left: 2px; padding-right: 4px; margin-top: 2px;" class="grey fa fa-angle-double-right"></i>

                                                    <small><em id="row-image-name-thumb-{{ row.image.pk }}" class="row-image-name-thumb" onclick="highlight_image({{ row.image.pk }});">{{ row.image_name }}</em></small>
                                                    <input type="hidden" name="selected-thumbnail-asset" value="{{ row.image.pk }}">
                                                </div>

                                                <div class="col-lg-1">
                                                    <a id="image-row-link-{{ row.image.pk }}" onclick="remove_image_thumbnail('{{ row.image.pk }}');"><i class="fa fa fa-trash-o"></i></a>

                                                </div>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                        <li class="sortlist" style="height: 0; padding: 0;" data-position="99"></li>
                                    </ul>
                                </div>
                                </div>
                             </div>

                        </div>
                    </div>
                {% endif %}

                <div id="removed-asset-ids" style="display: none;"></div>
                <button type="button" onclick="submit_form();" class="btn btn-process pull-right">Save </button>
            </div>
        </div>

        <input type="hidden" name="publish_content" id="publish_content" value="False">
        <input type="hidden" id="current_project_id" value="{{ project.pk }}">
        </form>
    </div>
</div>

<div id="added-image-html" style="display: none">
    <div class="col-lg-{{ image_settings }}"  style="text-align: center;" id="image-selected-id">
        <em>image-name</em><br>
        {% if image_size %}
            <img src="#" style="width: 100%; max-width: 350px;">
        {% else %}
            <img src="#" style="width: 100%; max-width: 350px;">
        {% endif %}
        <br><br>
    </div>
</div>

<script>
    function  highlight_image(file_id)
    {
        $(".file-image").removeClass('ui-state-highlight');
        $("li.file-image").removeClass('ui-state-highlight').addClass('ui-state-default');
        if ($("#image-row-"+file_id))
        {
            $("#image-row-"+file_id).addClass('ui-state-highlight');
            $(".file-image-"+file_id).removeClass('ui-state-default').addClass('ui-state-highlight');
        }

        $(".image-selected-display").hide();
        $("#image-selected-"+file_id).show();
    }

    function remove_image_thumbnail(row_id)
    {
        $("#removed-asset-ids").append('<input type="hidden" name="removed_assets" value="'+row_id+'">');
        $("#image-row-"+row_id).remove();
        $("#image-selected-"+row_id).remove();
    }

    function handleDropThumbnailEvent( event, ui ) {

        var draggable = ui.draggable;
        var resource_id = draggable.attr('id');
        resource_id = resource_id.replace("image-", "").replace("-checkbox", "");

        if (parseInt(resource_id))
        {
            var image_source = $("#image-"+ resource_id).attr('src');
            image_source = image_source.replace("//", "/");

            var image_name = image_source.split("/");
            var order = $("#sortable_thumbnail_list").find('li').length;

            $("#sortable_thumbnail_list").removeClass("well");

            $(".thumbnail-sortable").append(
                    '<li class="sortlist ui-state-default" id="image-row-'+resource_id+'" data-position="'+order+'">' +
                    '<div class="col-lg-11"><small style="float: left; margin-left: -10px; font-weight: bold">'+order+'</small><i style="padding-left: 2px; padding-right: 4px; margin-top: 2px;" class="grey fa fa-angle-double-right"></i>' +
                    '<input type="hidden" name="selected-thumbnail-asset" value="'+resource_id+'"><small><em>'+image_name[image_name.length-1]+'</em></small><br></div>' +
                    '<div class="col-lg-1" style="padding-top: 4px;"><a id="image-row-link-'+resource_id+'" onclick="remove_image_thumbnail('+resource_id+');">' +
                    '<i class="fa fa fa-trash-o"></i> </a></div>' +
                    '</li>'
            );
        }

        var i = 1;
        $("#sortable").find('li').each(function() {
            $(this).find("input.hidden-order-field").attr("value", i);
            $(this).find('.showing-order-text').text(i);
            i++;
        });

    }

    $( init );

    function init() {

        $('.draggable-image').draggable({
            containment: 'document',
            helper: myHelper,
            cursor: 'move',
            appendTo: 'body',
            scroll: true
        });

        $("#all-images").droppable( {
            hoverClass: "ui-state-active",
            activeClass: "ui-state-highlight",
            drop: handleDropImageEvent,
             snap: 'li'
        });

         $('#sortable').droppable( {
            hoverClass: "ui-state-active",
            activeClass: "ui-state-highlight",
            drop: handleDropImageEvent,
             snap: 'li'
        } );

        $("#watermark-file-drop").droppable( {
            hoverClass: "ui-state-active",
            activeClass: "ui-state-highlight",
            drop: handleDropWatermarkEvent,
             snap: 'li'
        } );

        $("#sortable_thumbnail_list").droppable( {
            hoverClass: "ui-state-active",
            activeClass: "ui-state-highlight",
            drop: handleDropThumbnailEvent,
             snap: 'li'
        } );

    }

    function add_image_to_image_watermarks(resource_id)
    {
        if (parseInt(resource_id))
        {
            var image_source = $("#image-"+ resource_id).attr('src');
            image_source = image_source.replace("//", "/");

            var image_name = image_source.split("/");
            var image_html = $("#added-image-html").html();
            image_html = image_html.replace("#", image_source).replace("image-name", image_name[image_name.length-1]).replace("image-selected-id", "image-selected-"+ resource_id);

            $("#all-images").append(image_html);

            var order = $("#sortable").find('li').length;

            $("#sortable").append(
                    '<li class="sortlist ui-state-default" id="image-row-'+resource_id+'" show_order="'+order+'">' +
                    '<div class="col-lg-4"><small style="float: left; margin-left: -10px; font-weight: bold">'+order+'</small><i style="padding-left: 2px; padding-right: 4px; margin-top: 2px;" class="grey fa fa-angle-double-right"></i>' +
                    '<input type="hidden" name="selected-asset" value="'+resource_id+'"><small><em>'+image_name[image_name.length-1]+'</em></small></div>' +
                    '<div class="col-lg-1"><input type="hidden" class="hidden-order-field" name="file-order-'+resource_id+'" value="'+order+'"><input type="checkbox" name="selected-asset-watermark" value="'+resource_id+'"></div>' +
                    '<div class="col-lg-3"><input type="text" class="input-sm form-control" name="file-menu-'+resource_id+'" value=""></div>' +
                    '<div class="col-lg-3">' +
                    '<input type="text" class="input-sm form-control" name="file-caption-'+resource_id+'" value=""> </div>' +
                    '<div class="col-lg-1"><a id="image-row-link-'+resource_id+'" onclick="remove_image_watermark('+resource_id+');">' +
                    '<i class="fa fa fa-trash-o"></i> </a></div>' +
                    '</li>'
            );

            //$("#image-"+ resource_id).parent().remove();
        }

        var i = 1;
        $("#sortable").find('li').each(function() {
            $(this).find("input.hidden-order-field").attr("value", i);
            i = i+1;
        });
    }

    function myHelper( event ) {

        var list_image = event.currentTarget;
        var id = $(list_image).attr("id");
        var static_image = $(list_image).attr("src");
        $("#cross-hatch").css({"border": "3px solid green;"});

        return '<div id="draggableHelper" style="border: red 2px solid; z-index: 99999999;"><img style="max-width: 100px; opacity: 0.5;" src='+static_image+'></div>';
    }

    function handleDropWatermarkEvent( event, ui ) {

        var water_mark = $("#watermark_file_id").val();
        if (water_mark)
        {
            remove_image_watermark(water_mark);
        }

        var draggable = ui.draggable;
        var resource_id = draggable.attr('id');
        resource_id = resource_id.replace("image-", "").replace("-checkbox", "");

        if (parseInt(resource_id)) {
            var image_source = $("#image-" + resource_id).attr('src');
            image_source = image_source.replace("//", "/");

            var image_name = image_source.split("/");
            var image_html = "<div class='row'>" +
                    "<a class='pull-right' id='image-row-link-"+resource_id+"' onclick='remove_image_watermark("+resource_id+");'> " +
                    "<i class='fa fa fa-trash-o'></i> Clear File </a>" + $('#added-image-html').html() + "<input type='hidden' name='watermark_file' value="+resource_id+"></div>";

            image_html = image_html.replace('src="#"', 'src="'+image_source+'"').replace("image-name", image_name[image_name.length - 1]).replace("image-selected-id", "image-selected-" + resource_id);
            $("#watermark-file-drop").html(image_html);
        }
    }

    function handleDropImageEvent( event, ui ) {
        var draggable = ui.draggable;
        var resource_id = draggable.attr('id');
        resource_id = resource_id.replace("image-", "").replace("-checkbox", "");

        add_image_to_image_watermarks(resource_id);
    }


    function remove_image_watermark(row_id)
    {
        $('#watermark-file-drop').html('');
        $("#image-row-"+row_id).remove();
        $("#image-selected-"+row_id).remove();
        $("#removed-asset-ids").append('<input type="hidden" name="removed_assets" value="'+row_id+'">');

        var check_thumbs = $(".row-image-name-thumb").length;
        if (check_thumbs)
        {
            var dropped_image_name = $("#row-image-name-"+row_id).text();
            console.log('dropped_image_name', dropped_image_name);
        }

    }

    function submit_form_and_publish()
    {
        if (confirm("Are you sure you wish to save your updates and publish all files?"))
        {
            var i = 1;
            $("#sortable").find('li').each(function() {
                $(this).find("input.hidden-order-field").attr("value", i);
                i = i+1;
            });

            $("#publish_content").val('True');
            $("#gallery-form").submit();
        }
    }

    function submit_form()
    {
        var i = 1;
        $("#sortable").find('li').each(function() {
            $(this).find("input.hidden-order-field").attr("value", i);
            i = i+1;
        });

        $("#gallery-form").submit();
    }

    function remove_button_tag(tag_id, tag_name)
    {
        //remove filter
        $("#added-button-tag-"+tag_id).remove();

        $("#tag-selected").append("<option value='"+tag_id+"'>"+tag_name+"</option>");

        filter_images();
    }


    $("#sortable").sortable({
        connectWith: "ul.sortable",
        placeholder: "ui-state-error",
        dropOnEmpty: true
    });

    $("#sortable").disableSelection();

    $("#sortable_thumbnail_list").sortable({
        connectWith: "ul.sortable",
        placeholder: "ui-state-error",
        dropOnEmpty: true
    });

    $("#sortable_thumbnail_list").disableSelection();

    $(function() {
       sort_table();
    });


    function sort_table()
    {
        var $table=$('#sortable');

        $table.find('li').sort(function(a, b) {
            console.log('a', parseInt($(a).attr('show_order')), 'b', parseInt($(b).attr('show_order')));

            return parseInt($(a).attr('show_order')) - parseInt($(b).attr('show_order'));
        })
        .appendTo($table);

    }
</script>






