{% extends "canvas/plans_base.html" %}

{% load model_tags %}
{% load canvas_tags %}

{% block title %}{{ block.super }} - {{ project.name }}{% endblock %}

{% block breadcrumbs %}
    <a class="header-breadcrumb" href="/">
        Home
    </a>

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb" href="{{ project.get_absolute_url }}">
        {{ project.name }}
    </a>

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb not-active" href="{% url 'canvas-home'  %}">
        Display Suites
    </a>
    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb active">
        Preview Editor
    </a>
{% endblock %}

{% block apartment_content %}
    <br><br><br><br><Br>


{% endblock %}

{% block image_content %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" style="margin-bottom: 10px;">
            <a class="pull-right btn btn-sm btn-default" data-toggle="modal" data-target="#image_uploader">
                <i  data-toggle="tooltip" data-placement="top" title="Import files to folder." class="fa fa-file"></i> File Upload
            </a>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12" style="margin-bottom: 5px;">
            <select id="change-side-level-plan-view">
                {% for option in image_type_choices %}
                    <option value="{{ option }}">{{ option|prettify_select_option }}</option>
                {% endfor %}
            </select>
        </div>

    </div>
{% endblock %}

{% block content %}
    <div class="row">
        {% include "canvas/templates/includes/menu.html" %}
    </div><br><Br>

<div class="row">
    <div class="col-xs-2">
        <div id="level-plan-apartments">
            {% include "canvas/templates/includes/apartments/apartment_content.html" %}
        </div>
        <div id="floor-plan-apartments" style="display: none;">
            {% include "canvas/templates/includes/apartments/floor_plan_apartments.html" %}
        </div>
        <div id="key-plan-apartments" style="display: none;">
            {% include "canvas/templates/includes/apartments/key_plan_apartments.html" %}
        </div>
    </div>

    <div class="col-xs-7">
        <h2>Plans Preview Editor: Floor [name: {{ floor_name }}]</h2>
        <ul class="nav nav-tabs">

            <li onclick="switch_plans_tab('Level Plans');" class="active switch_plans_tab_level">
              <a href="#section-level" data-toggle="tab" class="switch_plans_tab_level">
                  Level Plan
              </a>
            </li>
            <li onclick="switch_plans_tab('Floor Plans');" class="switch_plans_tab_floor">
              <a data-toggle="tab" href="#section-floor" class="switch_plans_tab_floor">
                  Floor Plans
              </a>
            </li>
            <li onclick="switch_plans_tab('Key Plans');" class="switch_plans_tab_key">
              <a href="#section-key" data-toggle="tab" class="nav-tab-link switch_plans_tab_key">
                  Key Plans
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#section-details" class="non-tab-link">Details</a>
            </li>
            <li>
              <a href="#section-listing" data-toggle="tab" class="non-tab-link">Listing</a>
            </li>

            <li >
              <a data-toggle="tab" href="#section-combined" class="non-tab-link">Combined</a>
            </li>
        </ul>
        <div class="tab-content" style="border: 1px solid #ddd; border-top: none; padding: 10px; padding-right: 15px; margin-right: 2px;">
                <div id="section-details" class="tab-pane fade in" style="padding: 10px;">
                    <div style="height: 400px;">
                        <div class="row" id="property-combined-listings">

                        </div>
                    </div>
                </div>

                <div id="section-level" class="active tab-pane fade in ">

                        <span id="level_plans-image_name_text">{{ image_name }}</span>
                        <div id="floor-plan-wrapper" style="width: 550px;">

                            <div id="floor-plan-image" style="text-align: center; width:550px;">
                                <div id="floorplan-message"></div>
                                {% if image_exists %}
                                    <img src="{{ static_image }}" style="width: 550px;" id="canvas-image-level_plans">
                                {% else %}
                                    <img src="/static/common/img/placeholder.jpg" style="height: 550px;width: 550px;" id="canvas-image-level_plans">
                                {% endif %}
                            </div>

                            <input type="hidden" id="level_plans-selected-image" value="{{ resource_id }}">

                            <canvas id="cross-hatch" style="top: -550px;" class="cross-hatch-image" width="600px;" height="600px;">
                                Your browser does not support the HTML5 canvas tag.
                            </canvas>
                        </div>

                </div>

                <div id="section-floor" class="tab-pane fade in ">

                        {% if floor_plan_details.image_exists %}
                             <span id="floor_plans-image_name_text">{{ floor_plan_details.static_image }}</span>
                        {% else %}
                            <span id="floor_plans-image_name_text">N/A</span>
                        {% endif %}

                        <div id="floor-plan-wrapper" style="width: 550px;">
                            <div style="text-align: center; width:550px;">
                                {% if floor_plan_details.image_exists %}
                                <img src="{{ floor_plan_details.static_image }}" style="height: 550px;width: 550px;" id="canvas-image-floor_plans">
                                {% else %}
                                <img src="/static/common/img/placeholder.jpg" style="height: 550px;width: 550px;" id="canvas-image-floor_plans">
                                {% endif %}
                            </div>

                            <input type="hidden" id="floor_plans-selected-image" value="{{ floor_plan_details.resource_id }}">

                            <canvas id="cross-hatch-floor_plans" style="top: -550px;" class="cross-hatch-image" width="550px;" height="550px;">
                                Your browser does not support the HTML5 canvas tag.
                            </canvas>
                        </div>

                </div>
                <div id="section-key" class="tab-pane fade in ">


            <div id="key-plan-wrapper" style="width: 180px; margin: 10px; display: inline-block">
                <small><em>Key Plan: <span id="key_plans_name">{{ key_plan_details.image_name }}</span></em></small>
                <div id="key-plan-image" style="text-align: center; width:180px;">
                    {% if key_plan_details.image_exists %}
                        <img src="{{ key_plan_details.static_image }}" style="height: 180px;width: 180px;" class="canvas-image-key_plans">
                    {% else %}
                        <img src="/static/common/img/placeholder.jpg" style="height: 180px;width: 180px;" class="canvas-image-key_plans">
                    {% endif %}
                </div>
                <canvas style="top: -180px;" id="cross-hatch-key_plans" class="cross-hatch-image" width="180px" height="180px">
                    Your browser does not support the HTML5 canvas tag.
                </canvas>
            </div>

            <div id="floor-wrapper" style="width: 180px; margin: 10px;  display: inline-block">
                <small><em>Floor Plan: <span id="floor_plans_name">{{ floor_plan_details.image_name }}</span></em></small>
                <div style="text-align: center; width:180px;">
                    {% if floor_plan_details.image_exists %}
                        <img src="{{ floor_plan_details.static_image }}" style="height: 180px;width: 180px;" id="small-canvas-image-floor_plans" class="canvas-image-floor_plans">
                    {% else %}
                        <img src="/static/common/img/placeholder.jpg" style="height: 180px;width: 180px;" id="small-canvas-image-floor_plans" class="canvas-image-floor_plans">
                    {% endif %}
                </div>
                <canvas style="top: -180px;" class="cross-hatch-image" width="180px" height="180px">
                    Your browser does not support the HTML5 canvas tag.
                </canvas>
            </div>

            <div id="level-wrapper" style="width: 180px; margin: 10px;  display: inline-block; float: left;">
                <div style="width:180px;">
                    <small><em>Level Plan: <span id="level_plans_name">{{ image_name }}</span></em></small>
                    {% if image_exists %}
                        <img src="{{ static_image }}" style="height: 180px;width: 180px; " class="canvas-image-level_plans">
                    {% else %}
                        <img src="/static/common/img/placeholder.jpg" style="height: 180px;width: 180px; " class="canvas-image-level_plans">
                    {% endif %}
                </div>
                <canvas style="top: -180px;" id="cross-hatch-level_plans" class="cross-hatch-image" width="180px" height="180px">
                    Your browser does not support the HTML5 canvas tag.
                </canvas>
            </div>

    </div>

                <div id="section-listing" class="tab-pane fade in">
                    <br>
                    <div style="height: 400px; overflow: auto">
                        <table class="table">
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>Selected</th>
                            <th>
                                Property Type
                            </th>
                        </tr>

                        {% for row in existing_image_choices.0.apartments %}
                            <tbody id="apartment-listing-{{ row.id }}" class="property-type property-type-{{ row.property_type }}">

                            <tr>
                                <td>
                                    {{ row.name }}
                                </td>
                                <td><input type="checkbox"> </td>
                                <td>
                                    {{ row.property_type_name }}
                                </td>
                            </tr>
                            </tbody>

                        {% endfor %}
                        </table>
                    </div>

                </div>
                 <div id="section-combined" class="tab-pane fade in ">

                         Combined
                        <br><br><Br><br><br><Br><br><br><Br>

                </div>
            </div>

    </div>


    <div class="col-xs-3">
        {% include "canvas/templates/includes/select_floors.html" %}
    </div>
</div>

        <div class="row">
            <div id="image-selector-section" class="col-xs-10 col-xs-offset-2" style="margin-top: -500px; padding-top: 50px;">


                    <h2>
                        Image Selector: <span id="selector-type">{{ first_image_type }}</span> plans
                        <span id="selector-type-second">[iPad]</span>
                    </h2>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12" style="margin-bottom: 3px;" id="tag-filter-images">
                            {% include "canvas/includes/tag_filter_images.html" with tag_names=tag_names image_list=image_list %}
                        </div>
                        <input type="hidden" value="common/img/placeholder.jpg" id="image-selected-for-floor">
                        <input type="hidden" value="" id="image-type-selected-for-floor">

                        {% if image_exists %}
                            <input type="hidden" id="current-floor-image-path" value="{{ static_image }}">
                        {% else %}
                            <input type="hidden" id="current-floor-image-path" value="common/img/placeholder.jpg">
                        {% endif %}
                    </div>


            </div>
        </div>


        <input type="hidden" id="floor_plans-selected-image" value="{{ floor_plan_details.resource_id }}">
        <input type="hidden" id="key_plans-selected-image" value="{{ key_plan_details.resource_id }}">
            <input type="hidden" id="level_plans-selected-image" value="{{ resource_id }}">
        <input type="hidden" id="selected_x" value="">
        <input type="hidden" id="selected_y" value="">

        <input type="hidden" id="apartment_list" value="{{ apartment_list }}">
        <input type="hidden" id="total_showing" value="1">
        <input type="hidden" id="current_apartment_setting">
        <input type="hidden" id="current_floor_id" value="{{ model_instance.pk }}">

        <input type="hidden" id="selected-colour" value="red">
        <input type="hidden" id="selected_apartment" value="{{ first_apartment_id }}">
        <input type="hidden" id="selected_apartment_x_coordinate" value="{{ x_coordinate }}">
        <input type="hidden" id="selected_apartment_y_coordinate" value="{{ y_coordinate }}">
        <input type="hidden" id="canvas_width" value="550px;">
        <input type="hidden" id="canvas_id" value="{{ canvas_id }}">

        <input type="hidden" id="x_coordinate" value="">
        <input type="hidden" id="y_coordinate" value="">

        <input type="hidden" id="image_type_choices" value="{{ image_type_choices }}">
        <input type="hidden" id="selected_image_id" value="">

        <input type="hidden" id="apartment_list" value="{{ apartment_list }}">
        <input type="hidden" id="tag_selected" value="{{ tag_selected }}">




    <input type="hidden" id="current_project_id" value="{{ project.pk }}">
    {% include "projects/floor_plan_editor/includes/import_new_schema.html" %}

    <script src="/static/common/js/preview_editor_hotspot.js"></script>
{% endblock %}
