{% load canvas_tags %}
{% load model_tags %}

{% block extra_head_files %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
{% endblock %}

<div class="row" style="margin-top: 60px;">
    <div class="col-xs-2 col-lg-2">
        <div class="card card-bordered style-default-dark" style="min-width: 150px;">
            <div class="card-head">
                <header>Apartments</header>
            </div>

            <div class="card-body style-default-bright" style="min-height: 412px;">
                <div id="level-plan-apartments">
                    {% include "canvas/templates/includes/renders/renders.html" %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-8 col-lg-8">
        <div class="row">
            <div class="card card-bordered style-default-dark">
                <div class="card-head" style="height: 35px;">
                    <ul class="nav nav-tabs">
                        <li role="presentation" data-toggle="tab" href="#section-individual" style="margin-top: -2px;">
                            <a href="#">Individual</a>
                        </li>
                        <li role="presentation" data-toggle="tab" href="#section-data" class="active" style="margin-top: -2px;">
                            <a href="#">Apartment Data</a>
                        </li>
                    </ul>
                    <div class="tools">
                        <div class="btn-group">
                            <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card-body style-default-bright tab-content" style="min-height: 412px;">
                    <div id="section-data" class="active tab-pane fade in ">
                        <div class="row">
                            <div class="col-sm-8 col-md-8 col-lg-8">
                               <div class="row">
                                   <div class="col-md-5">
                                       <label class="field-type-display">Type to Select Apartment Field</label><br>
                                       <input class="field-type-display" style="width: 200px;">
                                   </div>
                               </div>
                            <div class="row">
                               <div id="property-rendered-fields">

                               </div>
                            </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <form method="post" action enctype="multipart/form-data" id="gallery-form">
                                    {% csrf_token %}
                                    {% include "canvas/templates/includes/views_image_display.html" with width=300 %}
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="section-individual" class="tab-pane fade in ">
                        <div class="row">
                            <div class="col-sm-12" id="property-gallery-form">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row" id="tag-filter-images">
            {% include "canvas/includes/tag_filter_images.html" %}
        </div>
    </div>
    <div class="col-xs-2 col-lg-2">
        <div class="card card-bordered style-default-dark">
            <div class="card-head">
                <header>Floors</header>
                <div class="tools">
                    <div class="btn-group">
                        <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
            </div>
            <div class="card-body style-default-bright" style="min-height: 412px;">
                <div class="row">
                    <div class="col-sm-8">
                        <select id="building-selected" onchange="refresh_with_new_building(this.value);">
                            {% for building in buildings %}
                                <option value="{{ building.pk }}">{{ project|name_by_name_id:building }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <button data-toggle="tooltip" data-placement="top" onclick="copy_images();" title="Copy Images To Floors">
                            <i class="fa fa-copy"></i>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        {% include "canvas/templates/includes/renders/renders_select_floors.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<input type="hidden" id="current_project_id" value="{{ project.pk }}">
<input type="hidden" id="building-selected" value="{{ building_id }}">
<input type="hidden" id="editable_templates_fields" value="{{ editable_templates_fields }}">
<input type="hidden" id="current_apartment_setting" value="{{ current_apartment_setting }}">
<input type="hidden" id="current_project_id" value="{{ project.pk }}">
<input type="hidden" id="canvas_id" value="{{ canvas_id }}">
<input type="hidden" id="current_floor_id" value="{{ floor_id }}">
<input type="hidden" id="selected_render_field" value="{{ selected_render_field }}">
<input type="hidden" id="selected_key_field" value="">


<div id="added-image-html" style="display: none">
    <div class="col-lg-{{ image_settings }}"  style="text-align: center;" id="image-selected-id">
        <em>image-name</em><br>
        {% if image_size %}
            <img src="#" style="width: 100%; max-width: 350px;">
        {% else %}
            <img src="#" style="width: 100%; max-width: 350px;">
        {% endif %}
        <br><br>
    </div>
</div>


<script>

    $(function() {
        var floor_id = $("#current_floor_id").val();
        select_new_floor(floor_id);

        $(".field-type-display").val('');
        sort_list_values();

        $("#scroll-all-images").droppable( {
            hoverClass: "ui-state-active",
            activeClass: "ui-state-highlight",
            drop: handleDropImageEventFloor
        });

        $( init );

        var availableTags = $.parseJSON($("#editable_templates_fields").val());

        $( ".field-type-display" ).autocomplete({
            source: availableTags,
            select: function (event, ui) {
                select_new_field(ui.item.label);
                return false;
              }
        });
    });


    function init() {
        $("#scroll-all-images").droppable( {
            hoverClass: "ui-state-active",
            activeClass: "ui-state-highlight",
            drop: handleDropImageEventFloor
        });


        $('.draggable-image').draggable( {
              containment: 'document',
              helper: myHelper,
              cursor: 'move',
              appendTo: 'body',
              scroll: true,
              refreshPositions: true
        });

        $( "#sortable" ).sortable();
        $( "#sortable" ).disableSelection();

    }

    function sort_list_values()
    {
        var i = 1;
        $(".render-row:visible").each(function() {
            $(this).find("input.hidden-order-field").attr("value", i);
            i++;
        });
    }

    function select_new_field(field_value)
    {
        if (confirm("Set the render field to '" +field_value +"'?"))
        {
            $(window).queue("namedQueue", function() {
                console.log('show_render_field_values');
                show_render_field_values(field_value);
                setTimeout(function() {
                    $(self).dequeue("namedQueue");
                 }, 1000);

            });

            $(window).queue("namedQueue", function() {
                var floor_id = $("#current_floor_id").val();
                select_new_floor(floor_id);

                setTimeout(function() {
                    $(self).dequeue("namedQueue");
                 }, 1000);

            });

            $(window).dequeue("namedQueue");
        }
    }

    function get_floor_list()
    {
        var selected_floors = $(".floor-checkbox:checkbox:checked");

        var floor_list = [];
        $(selected_floors).each(function () {
           var floor_selected_id = $(this).attr('id');
            floor_selected_id = floor_selected_id.replace("floor-aspect-", "");
            floor_list.push(floor_selected_id);
        });

        return floor_list;
    }

    function show_render_field_values(field_value)
    {
        $(".field-type-display").val('');
        var field_type = 'field';
        var project_id = $("#current_project_id").val();
        var property_id = $("#current_apartment_setting").val();
        $("#selected-property-render").val(field_value);
        var canvas_id = $("#canvas_id").val();

        var floor_list = get_floor_list();

        console.log('show_render_field_values: floor_list', floor_list);

        $.ajax({
            url: '/select_all_typicals_for_render/' + project_id + '/',
            type: 'GET',
            data: {'property_id': property_id, 'resource_id': '0',
                   'field_type': field_type, 'field_value': field_value, 'canvas_id': canvas_id,
                   'floor_list': floor_list},
                 success: function (data) {

                     $("#property-rendered-fields").html(data.view_rendered);
                     $("#gallery-form").html(data.rendered);
                     $("#selected_render_field").val(data.selected_field_value);

                     $( init );
                }
        });
    }

    function handleDropImageEventFloor( event, ui ) {

        var draggable = ui.draggable;
        var resource_id = draggable.attr('id');
        resource_id = resource_id.replace("image-", "").replace("-checkbox", "");

        var normal_src = draggable.attr('normal_src');
        var image_src = draggable.attr('src');

        if (image_src)
        {
            var project_id = $("#current_project_id").val();
            var canvas_id = $("#canvas_id").val();

            var file_order = $("#file-order-"+resource_id).val();
            var selected_field = $("#selected-property-render").val();

            var selected_render_field_value = $("#selected_render_field").val();

            $("#selected_key_field").val(selected_render_field_value);

            var cleaned_render_field = (selected_field).toString().trim().replace("/", "").replace(" ", "").replace(".", "_").replace("$", "");

            var floor_list = get_floor_list();

            if (selected_render_field_value && selected_field)
            {
                if (confirm("Assign image to '"+ selected_field +"' for type '"+selected_render_field_value+"' on all selected Floors?"))
                {
                    $.ajax({
                        url: '/update_property_rendered_typical_image/' + project_id + '/',
                        type: 'GET',
                        data: {'resource_id': resource_id, 'file_order': file_order ,
                               'key_value': selected_render_field_value, 'field_value': selected_field,
                               'canvas_id': canvas_id, 'floor_list': floor_list },
                             success: function (data) {

                                 if (data.success)
                                 {
                                     $().toastmessage('showToast', {
                                        text: "Image saved successfully",
                                        sticky: false,
                                        position: 'top-right',
                                        type: 'success',
                                        closeText: ''
                                    });

                                     $(window).queue("namedQueue", function() {

                                         var floor_id = $("#current_floor_id").val();
                                         select_new_floor(floor_id);

                                         if (floor_list.length > 1)
                                         {
                                            $(floor_list).each(function (floor_value) {
                                                $("#floor-aspect-"+floor_value).prop('checked', true);
                                                skin_new_floor(floor_value);
                                            });
                                         }


                                        setTimeout(function() {
                                            $(self).dequeue("namedQueue");
                                         }, 500);
                                    });

                                      $(window).queue("namedQueue", function() {
                                        set_property_render_type(selected_field, cleaned_render_field);
                                        setTimeout(function() {
                                            $(self).dequeue("namedQueue");
                                         }, 500);
                                    });

                                     $(window).dequeue("namedQueue");
                                 }
                                 else
                                 {
                                     $().toastmessage('showToast', {
                                        text: "There were no Properties on the Floor and with the Render Key you have selected.",
                                        sticky: false,
                                        position: 'top-right',
                                        type: 'error',
                                        closeText: ''
                                    });
                                 }

                            }

                        });
                }
            }

            $( init );
        }

    }

    function set_property_to_type(original_field_value, property_id, property_name, field_type_value) {
        if (confirm("Are you sure you wish to change the render type for property "+property_name+"? This will remove their current renders."))
        {
            var project_id = $("#current_project_id").val();

            $.ajax({
                url: '/update_property_render_type/' + project_id + '/',
                type: 'GET',
                data: {
                    'field_type_value': field_type_value, 'property_id': property_id
                },
                success: function (data) {
                     $().toastmessage('showToast', {
                        text: "Property render type saved successfully",
                        sticky: false,
                        position: 'top-right',
                        type: 'success',
                        closeText: ''
                    });
                }
            });
        }
        else
        {
          $("#property-selected-type-"+property_id).val(original_field_value);
        }
    }

    function set_property_render_type(original, type)
    {
        console.log('set_property_render_type', original, type);

        $(".render-selected-row").removeClass("selected");
        $("#render-selected-row-"+type).addClass("selected");
        $("#show-images").show();

        $(".render-row").removeClass('selected').hide();
        $(".render-row-"+type).show();

        $("#selected-property-render").val(original);

        $(".scrolling-images").hide();
        $(".scrolling-images-"+type).show();

        if (type == "")
        {
            $(".field-type-display-render-").show();
        }

        sort_list_values();

    }


    function myHelper( event ) {

        var list_image = event.currentTarget;

        var id = $(list_image).attr("id");
        var static_image = $(list_image).attr("src");

        return '<div id="draggableHelper" style="border: red 2px solid; z-index: 99999999999; display: inline;">' +
               '<img style="max-width: 100px;  z-index: 99999999999;" src='+static_image+'>' +
               '</div>';
    }


    function update_image_list(tag_name)
    {
        //console.log('update_image_list');
        tag_name = tag_name.replace(/ /g, "");

        $(".image-list-tags").each(function() {
            var tag_list = $(this).find('span');
            var tag_details_list = [];

            var list_image_id = $(this).attr('id');
            list_image_id = list_image_id.replace("list-image-tags-", "");

            $(tag_list).each(function() {
                tag_details_list.push($(this).text().replace(/ /g, ""));
            });

            var in_array = $.inArray( tag_name, tag_details_list ) >= 0;
            if (in_array)
            {
                $("#list-"+ list_image_id).show().css({'display': 'inline-block'});
            }
            else
            {
               $("#list-"+ list_image_id).hide()
            }
        });
    }

    function remove_button_tag(tag_id, tag_name)
    {
        //remove filter
        $("#added-button-tag-"+tag_id).remove();

        $("#tag-selected").append("<option value='"+tag_id+"'>"+tag_name+"</option>");
        filter_images();
    }

    function filter_images()
    {
        var selected_tag_list = [];
        var selected_tags = $(".added-tag-button");

        $(selected_tags).each(function() {
            selected_tag_list.push($(this).text().replace(/ /g, ""));
        });

        $(".image-list-tags").each(function() {

            var show_image = true;
            var tag_list = $(this).find('span');
            var tag_details_list = [];

            $(tag_list).each(function () {
                tag_details_list.push($(this).text());
            });

            if (selected_tag_list == "") {

                if (tag_details_list == "")
                {
                    show_image = true;
                }
                else
                {
                    show_image = false;
                }
            }
            else
            {

                var image_list = [];

                $.each(tag_details_list, function (k, v) {
                    var value = v.replace(/ /g, "");

                    var in_array = $.inArray(value, selected_tag_list) >= 0;

                    if (in_array) {
                        image_list.push(value);
                    }
                });

                var difference = [];

                jQuery.grep(selected_tag_list, function(el) {
                        if (jQuery.inArray(el, image_list) == -1) difference.push(el);
                });


                if (difference == "")
                {
                    show_image = true;
                }
                else
                {
                    show_image = false;
                }
            }


            if (!show_image)
            {
                $(this).parent().hide();
            }
            else
            {
                $(this).parent().show();
            }
        });
    }


    function select_new_floor(floor_id)
    {

        $(".render-row").removeClass('selected').hide();
        $(".floor-checkbox").prop('checked', false);
        $("#floor-aspect-"+floor_id).prop('checked', true);

        var selected_render_field_value = $("#selected_render_field").val();

        if(selected_render_field_value)
        {
            show_render_field_values(selected_render_field_value);
        }

        $(".floor-details").removeClass('selected');
        $("#floor-details-"+floor_id).addClass('selected');

        $("#current_floor_id").val(floor_id);

        $(".apartment-details").hide();
        $(".apartment-details-"+ floor_id).show();

        var project_id = $("#current_project_id").val();

        $.ajax({
            url: '/get_floor_apartment_renders/' + project_id + '/' + floor_id + '/',
            type: 'GET',
            success: function (data) {

                $("#level-plan-apartments").html(data.rendered);

                 $( init );

                var selected_key = $("#selected_key_field").val();
                if (selected_key)
                {
                    $("#render-selected-row-"+selected_key).trigger('click');
                }
            }

        });

    }


    function skin_new_floor(floor_id)
    {
        var check_if_true = $("#floor-aspect-"+floor_id).prop('checked');

        if (check_if_true)
        {
            $("#floor-aspect-"+floor_id).prop('checked', true);
        }
        else
        {
            $("#floor-aspect-"+floor_id).prop('checked', false);
        }

        var selected_render_field_value = $("#selected_render_field").val();

        if(selected_render_field_value)
        {
            show_render_field_values(selected_render_field_value);
        }

    }

    function click_to_set_renders(property_id, property_name)
    {
        $("#show-property-selected-renders").html('Loading...');
        $("#property-gallery-form").html('');

        $(".aspect_selector").removeClass('btn-danger').addClass('btn-default');
        $("#aspect_selector_"+property_id).removeClass('btn-default').addClass('btn-danger');

        var project_id = $("#current_project_id").val();
        $("#current_apartment_setting").val(property_id);

        var selected_render_field_value = $("#selected_render_field").val();

        $.ajax({
            url: '/get_property_rendered_fields/' + project_id + '/',
            type: 'GET',
            data: {'property_id': property_id, 'property_name': property_name,
                   'selected_render_field_value': selected_render_field_value},
            success: function (data) {

                $("#show-property-selected-renders").html(data.rendered);
                $("#property-gallery-form").html(data.individual_rendered);

            }
        });
    }

    function sort_individual_list_values()
    {
        var i = 1;
        $(".render-individual-row:visible").each(function() {

            var check_value = $(this).find("input.hidden-order-field-individual").val();
            if (check_value == "")
            {
                $(this).find("input.hidden-order-field-individual").attr("value", i);
            }

            i++;
        });
    }

    function sort_my_list()
    {

         var i = 1;
        $("li.sortlist").each(function() {
            $(this).first('input.file-order').val(i);
            $(this).find('.file-ordered').text(i);

            i++;
        });
    }



    function refresh_with_new_building(building_id)
    {

    var project_id = $("#current_project_id").val();

    $("#floor-tab-content").css('background','rgb(250,250,245)');
    $("#apartment-content-card").css('background','rgb(250,250,245)');
    $("#building-selected").hide();


    $("#all-floors-list").html('<div style="text-align: center; margin: auto;"><h3>Loading...</h3>' +
        '<img src="/static/common/img/loading-blue.gif" style="width: 100px;"></div>');

    $("#select-all-floors-table").hide();

    $.ajax({
        url: '/get_level_plans_screen/' + project_id + '/' + building_id + '/',
        type: 'GET',
        success: function (data) {

            $("#floor-tab-content").css('background','#fff');
            $("#building-selected").show();

            if (data.first_apartment_id)
            {
                $("#current_apartment_setting").val(data.first_apartment_id);
            }

            $("#level-plan-apartments").html(data.rendered);

            $("#select-all-floors-table").show();
            $("#all-floors-list").html(data.select_floors_rendered);

            var floor_id = data.floor_id;
            $("#current_floor_id").val(floor_id);


            $(".linked-floor-select").removeClass('selected');
            $(".floor-details").removeClass('selected');
            $("#floor-details-"+floor_id).removeClass('selected');
            $("#floor-selected-"+floor_id).addClass('selected');
            $("#floor-hotspot-" + floor_id).prop('checked', true);

            var static_image = data.static_image;
            $("#canvas-image-level_plans").attr('src', static_image);
            $(".canvas-image-level_plans").attr('src', static_image);
            $("#level_plans-image_name_text").html(data.image_name);
            $("#level_plans_name").text(data.image_name);

            if (data.first_apartment_id) {
                set_apartment_selected($("#current_apartment_setting").val(), 'level_plans');
            }

            if (data.apartment_list)
            {

                show_current_values(data.apartment_list);
            }


        }
    });

}

</script>
