{% load canvas_tags %}

<br><Br><br>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <form method="post" action enctype="multipart/form-data" id="gallery-form">
            {% csrf_token %}

            <div class="row">
                <div class="col-lg-7 col-md-7">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="card card-underline">
                                <div class="card-head style-primary-dark">
                                    <header>{{ page_type }}</header>
                                    <div class="tools">
                                        <div class="btn-group">
                                            <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body tab-content">
                                    <div id="all-images" style="height: 405px; overflow-y: auto; border-radius: 5px;">
                                        {% for row in asset_list %}
                                            {% ifequal row.image_type "main" %}
                                                {% if row.image.path|file_exists %}
                                                    <div class="image-selected-display col-lg-{{ image_settings }}"  style="text-align: center;" id="image-selected-{{ row.image.pk }}">
                                                        <small><em>{{ row.full_image_name }}</em></small><br>

                                                        <img src="{{ row.image_static_path }}" id="image-{{ row.image.pk }}"
                                                             style="width: auto; max-height: 380px; padding: 20px; padding-bottom: 50px;">
                                                        <br><br>
                                                    </div>
                                                {% endif %}
                                            {% endifequal %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12" id="tag-filter-images">
                            {% include "canvas/includes/tag_filter_images.html" %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5">
                    <button type="button" onclick="submit_form();" class="btn btn-process pull-right" style="margin-top: -50px;">Save </button>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                             <div class="card card-underline">
                                <div class="card-head style-primary-dark">
                                    <header>Gallery Files</header>
                                    <div class="tools">
                                        <div class="btn-group">
                                            <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body tab-content">
                                    <div class="table crunched-table" id="image-watermark-list">
                                    <div class="row">
                                        <div class="col-lg-4 bold-text">Image</div>
                                        <div class="col-lg-2 bold-text">Watermark</div>
                                        <div class="col-lg-3 bold-text">Caption</div>
                                        <div class="col-lg-2 bold-text">Order</div>
                                        <div class="col-lg-1"></div>
                                    </div>

                                    <ul class="row sortable" id="sortable">
                                    {% for row in asset_list %}
                                        {% if row.image.path|file_exists %}
                                            <li onclick="highlight_image({{ row.image.pk }});" class="sortlist ui-state-default file-image file-image-{{ file.pk }}
                                            file-image-{{ file.key|cut:"Aspect: " }}" id="image-row-{{ row.image.pk }}" style="padding-top: 3px;" data-position="{% if row.settings.order %}{{ row.settings.order }}{% else %}{{ forloop.counter }}{% endif %}">
                                                <div class="col-lg-4" >
                                                    <small class="showing-order-text" id="image-row-display-{{ row.image.pk }}" style="float: left; margin-left: -10px; font-weight: bold">
                                                        {% if row.settings.order %}{{ row.settings.order }}{% else %}{{ forloop.counter }}{% endif %}
                                                    </small>

                                                    <i style="padding-left: 2px; padding-right: 4px; margin-top: 2px;" class="grey fa fa-angle-double-right"></i>

                                                    <small>
                                                        <em  onclick="highlight_image({{ row.image.pk }});">
                                                            {{ row.image_name }}
                                                        </em>
                                                    </small>


                                                    <input type="hidden" name="selected-asset" value="{{ row.image.pk }}">
                                                </div>
                                                <div class="col-lg-2">
                                                    <input type="checkbox" {% ifequal row.settings.watermark "True" %}checked{% endifequal %} name="selected-asset-watermark" value="{{ row.image.pk }}">
                                                </div>
                                                <div class="col-lg-3">
                                                    <input type="text" class="input-sm form-control" name="file-caption-{{ row.image.pk }}" value="{% if row.settings.caption %}{{ row.settings.caption }}{% endif %}">
                                                </div>

                                                <div class="col-lg-2">
                                                    <input style="width:25px;" type="text" id="file-order-{{ row.image.pk }}"
                                                           class="hidden-order-field" name="file-order-{{ row.image.pk }}" value="{{ row.settings.order }}">
                                                </div>
                                                <div class="col-lg-1">
                                                    <a id="image-row-link-{{ row.image.pk }}" onclick="remove_image_file('{{ row.image.pk }}', '{{ row.image_name }}', {{ row.settings.order }});"><i class="fa fa fa-trash-o"></i></a>
                                                </div>

                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                        <li class="sortlist" style="height: 0; padding: 0;" data-position="99"></li>
                                    </ul>
                                </div>
                                </div>
                             </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="card card-underline">
                                <div class="card-head style-primary-dark">
                                    <header>Watermark</header>
                                    <div class="tools">
                                        <div class="btn-group">
                                            <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body tab-content">
                                    <ul class="nav nav-tabs">
                                    <li role="presentation" data-toggle="tab" href="#section-watermark" class="active pull-right"><a href="#">Image</a></li>
                                    </ul>
                                    <div class="tab-content" style="border: 1px solid #ddd; border-top: none; padding: 10px; padding-right: 15px; margin-right: 2px;">
                                    <div id="section-watermark" class="active tab-pane fade in ">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <label class="bold-text">Image</label>
                                                <div class="well" id="watermark-file-drop">
                                                    {% if watermark_file %}
                                                        <div id="watermark-file">
                                                            <em>{{ watermark_file|cut:"/static/"|cut:project.project_connection_name|cut:"/" }}</em><br>
                                                            <img src="{{ watermark_file }}" style="width: 50px; max-width: 50px;">
                                                            <a class="pull-right watermark-file-selected" id="image-row-link-{{ watermark_file_id }}"
                                                               onclick="remove_image_watermark('{{ watermark_file_id }}'); $('#watermark-file').remove();">
                                                                <i class="fa fa fa-trash-o"></i> Clear File
                                                            </a>
                                                        </div>
                                                        <input type="hidden" id="watermark_file_id" name="watermark_file" value="{{ watermark_file_id }}">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="section-text" class="tab-pane fade in ">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <label>Text</label>
                                                <div class="well">
                                                    ...
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    {% if unique_thumbnail_files %}
                        {% include "canvas/templates/includes/multi_levels/unique_thumbnails.html" %}
                    {% endif %}

                    <button type="button" onclick="submit_form();" class="btn btn-process pull-right">Save </button>
                    <div id="removed-asset-ids" style="display: none;"></div>
                </form>

            </div>
    </div>

<input type="hidden" id="closest-image-name" value="">
<input type="hidden" id="closest-image-id" value="">
<input type="hidden" id="similar" value="">
<input type="hidden" id="current_project_id" value="{{ project.pk }}">



<div id="added-watermark-image-html" style="display: none">
    <br><br>
    <div class="col-lg-{{ image_settings }}"  style="text-align: center; margin: 10px;" id="image-selected-id">
        <em>image-name</em><br>
        {% if image_size %}
            <img src="#" style="width: 100%; max-width: 100px;">
        {% else %}
            <img src="#" style="width: 100%; max-width: 100px;">
        {% endif %}
        <br><br>
    </div>
</div>

<div id="added-image-html" style="display: none">
    <br><br>
    <div class="col-lg-{{ image_settings }}"  style="text-align: center; margin: 10px;" id="image-selected-id">
        <em>image-name</em><br>
        {% if image_size %}
            <img src="#" style="width: 100%; max-width: 500px;">
        {% else %}
            <img src="#" style="width: 100%; max-width: 500px;">
        {% endif %}
        <br><br>
    </div>
</div>

<script>
    $(function() {
        sort_table();
        sort_list_values();
    });


    function sort_table() {

        var li = $("#sortable li");
        li.sort(function(a, b) {
            if(parseInt($(a).data('position')) > parseInt($(b).data('position')))
                return 1;
            else return -1;
        });

        $("#sortable").empty().html(li);

     }

    function  highlight_image(file_id)
    {
        $(".file-image").removeClass('ui-state-highlight');
        $("li.file-image").removeClass('ui-state-highlight').addClass('ui-state-default');
        if ($("#image-row-"+file_id))
        {
            $("#file-selected-to-copy-"+file_id).attr("checked", true);
            $("#image-row-"+file_id).addClass('ui-state-highlight');
            $(".file-image-"+file_id).removeClass('ui-state-default').addClass('ui-state-highlight');
        }

        $(".image-selected-display").hide();
        $("#image-selected-"+file_id).show();

    }

    $( init );

    function init() {

        $('.draggable-image').draggable( {
              containment: 'document',
              helper: myHelper,
              cursor: 'move',
              appendTo: 'body',
              scroll: true,
              refreshPositions: true
        });

        $("#all-images").droppable( {
            hoverClass: "ui-state-active",
            activeClass: "ui-state-highlight",
            drop: handleDropImageEvent,
             snap: 'li'
        });

         $('#sortable').droppable( {
            hoverClass: "ui-state-active",
            activeClass: "ui-state-highlight",
            drop: handleDropImageEvent,
             snap: 'li'
        } );

        $("#watermark-file-drop").droppable( {
            hoverClass: "ui-state-active",
            activeClass: "ui-state-highlight",
            drop: handleDropWatermarkEvent,
             snap: 'li'
        } );

        $("#sortable_thumbnail_list").droppable( {
            hoverClass: "ui-state-active",
            activeClass: "ui-state-highlight",
            drop: handleDropThumbnailEvent,
             snap: 'li'
        } );

    }

    function remove_image_thumbnail(row_id)
    {
        $("#removed-asset-ids").append('<input type="hidden" name="removed_assets" value="'+row_id+'">');
        $("#image-row-"+row_id).remove();
        $("#image-selected-"+row_id).remove();
    }


    function remove_image_file(row_id, image_name, order_value)
    {

        $("#image-row-"+row_id).remove();
        $("#image-selected-"+row_id).remove();
        $("#removed-asset-ids").append('<input type="hidden" name="removed_assets" value="'+row_id+'">');

        row_id = parseInt(row_id);


        var has_thumb_order_file = false;
        var has_thumb_order_file_id = '';

        $(".order-for-thumbnail").each(function() {
            var thumb_order = $(this).val();
            if (parseInt(thumb_order) == parseInt(order_value))
            {
                has_thumb_order_file = true;
                has_thumb_order_file_id = $(this).attr('id');
                has_thumb_order_file_id = has_thumb_order_file_id.replace("file-order-thumb-", "");
            }
        });

        if (has_thumb_order_file && confirm("This image has a unique thumbnail with the same order, do you wish to delete that too?"))
        {
            remove_image_thumbnail(has_thumb_order_file_id);
        }

    }

    function similitude(a, b) {
        a = a.toUpperCase().replace(a.split(".")[1], '');
        b = b.toUpperCase().replace(b.split(".")[1], '');

        for (var i = 0, len = Math.max(a.length, b.length); i < len; i++)
            if (a.charAt(i) != b.charAt(i))
                return Math.round(i / len * 100);
    }

    function remove_image_watermark(row_id)
    {
        $('#watermark-file-drop').html('');
        $("#image-row-"+row_id).remove();
        $("#image-selected-"+row_id).remove();

        $("#removed-asset-ids").append('<input type="hidden" name="removed_assets" value="'+row_id+'">');

    }

    function myHelper( event ) {

        var list_image = event.currentTarget;
        var id = $(list_image).attr("id");
        var static_image = $(list_image).attr("src");
        $("#cross-hatch").css({"border": "3px solid green;"});

        return '<div id="draggableHelper" style="border: red 2px solid; z-index: 99999999;"><img style="max-width: 100px; opacity: 0.5;" src='+static_image+'></div>';
    }

    function handleDropThumbnailEvent( event, ui ) {

        var draggable = ui.draggable;
        var resource_id = draggable.attr('id');
        resource_id = resource_id.replace("image-", "").replace("-checkbox", "");

        if (parseInt(resource_id))
        {
            var image_source = $("#image-"+ resource_id).attr('src');
            image_source = image_source.replace("//", "/");

            var image_name = image_source.split("/");
            var order = $("#sortable_thumbnail_list").find('li').length ;

            $("#sortable_thumbnail_list").removeClass("well");

            $(".thumbnail-sortable").append(
                '<li class="sortlist ui-state-default" id="image-row-'+resource_id+'" data-position="'+order+'">' +
                '<div class="col-lg-7"><small id="image-row-display-'+resource_id+'" style="float: left; margin-left: -10px; font-weight: bold">'+order+'</small><i style="padding-left: 2px; padding-right: 4px; margin-top: 2px;" class="grey fa fa-angle-double-right"></i>' +
                '<input style="width: 30px;" type="hidden" name="selected-thumbnail-asset" value="'+resource_id+'"><small><em>'+image_name[image_name.length-1]+'</em></small><br></div>' +
                '</div><div class="col-lg-2"><input style="width:25px;" type="text" id="file-order-thumb-'+resource_id+'" class="hidden-order-field" name="file-order-'+resource_id+'" value="'+order+'"> </div><div class="col-lg-1" style="padding-top: 4px;"><a id="image-row-link-'+resource_id+'" onclick="remove_image_thumbnail('+resource_id+');">' +
                '<i class="fa fa fa-trash-o"></i> </a></div>' +
                '</li>'
            );


        }

        sort_list_values();
        sort_list_values();
    }

    function sort_list_values()
    {
        var i = 1;
        $("#sortable").find('li.sortlist').each(function() {
            $(this).find("input.hidden-order-field").attr("value", i);
            $(this).find('small.showing-order-text').text(i);
            i++;
        });

        $("input.hidden-order-field").each(function() {
           if ($(this).val() == '')
           {
              $(this).val(10);
           }
        });

    }

    function handleDropWatermarkEvent( event, ui ) {

        var water_mark = $("#watermark_file_id").val();
        if (water_mark)
        {
            remove_image_watermark(water_mark);
        }

        var draggable = ui.draggable;
        var resource_id = draggable.attr('id');
        resource_id = resource_id.replace("image-", "").replace("-checkbox", "").replace(/ /g, '');
        resource_id = resource_id.trim();


        if (parseInt(resource_id)) {
            var image_source = $("#image-" + resource_id).attr('src');
            image_source = image_source.replace("//", "/");

            var image_name = image_source.split("/");
            var image_html = "<div class='row'>" +
                    "<a class='pull-right' id='image-row-link-"+resource_id +"' onclick=\"remove_image_watermark("+resource_id+"); $('#watermark-file').remove();\"> " +
                    "<i class='fa fa fa-trash-o'></i> Clear File </a>" + $('#added-watermark-image-html').html() + "<input type='hidden' id='watermark_file_id' name='watermark_file' value="+resource_id+"></div>";

            image_html = image_html.replace('src="#"', 'src="'+image_source+'"').replace("image-name", image_name[image_name.length - 1]).replace("image-selected-id", "image-selected-" + resource_id);

            $("#watermark-file-drop").html(image_html);
        }
    }


    function handleDropImageEvent( event, ui ) {
        var draggable = ui.draggable;
        var resource_id = draggable.attr('id');
        resource_id = resource_id.replace("image-", "").replace("-checkbox", "");

        var asset_id = draggable.attr('asset_id');
        add_image_to_image_file_list(resource_id);
    }

    function add_image_to_image_file_list(resource_id)
    {
        console.log('add_image_to_image_file_list');

        if (parseInt(resource_id))
        {
            var image_source = $("#image-"+ resource_id).attr('src');
            image_source = image_source.replace("//", "/");

            resource_id = parseInt(resource_id);
            var image_name = $("#image-"+ resource_id).attr("image_name");
            var image_html = $("#added-image-html").html();
            image_html = image_html.replace("#", image_source).replace("image-name", image_name).replace("image-selected-id", "image-selected-"+ resource_id);

            $("#all-images").append(image_html);

            var order = parseInt($("#sortable").find('li.file-image').length + 1);

            $("#sortable").append(
                    '<li class="sortlist file-image ui-state-default" id="image-row-'+resource_id+'" data-position="'+order+'">' +
                    '<div class="col-lg-4"><small style="float: left; margin-left: -10px; font-weight: bold">'+order+'</small>' +
                    '<i style="padding-left: 2px; padding-right: 4px; margin-top: 2px;" class="grey fa fa-angle-double-right"></i>' +
                    '<input type="hidden" name="selected-asset" value="'+resource_id+'"><small><em>'+image_name+'</em></small><br></div>' +
                    '<div class="col-lg-2">' +
                    '<input type="checkbox" name="selected-asset-watermark" value="'+resource_id+'"></div>' +
                    '<div class="col-lg-3">' +
                    '<input type="text" class="input-sm form-control" name="file-caption-'+resource_id+'"> </div>' +
                    '<div class="col-lg-3">' +
                    '<input type="text" style="width: 25px; margin-right: 13px;" id="file-order-'+resource_id+'" class="hidden-order-field order-for-file" name="file-order-'+resource_id+'" value="'+order+'">' +
                    '<a class="pull-right" id="image-row-link-'+resource_id+'" onclick="remove_image_file('+resource_id+',\'name\', '+order+');">' +
                    '<i class="fa fa fa-trash-o"></i> </a></div>' +
                    '</li>'
            );

            //$("#image-"+ resource_id).parent().remove();
        }

    }

    function update_image_list(tag_name)
    {
        $(".image-list-tags").each(function() {
            var tag_list = $(this).find('span');
            var tag_details_list = [];

            $(tag_list).each(function() {
                tag_details_list.push($(this).text());
            });

            if (!$.inArray( tag_name, tag_details_list ))
            {
                $(this).parent().hide();
            }
            else
            {
                $(this).parent().show();
            }
        });
    }

    function submit_form()
    {
        sort_list_values();

        $("#gallery-form").submit();
    }

    function remove_button_tag(tag_id, tag_name)
    {
        //remove filter
        $("#added-button-tag-"+tag_id).remove();

        $("#tag-selected").append("<option value='"+tag_id+"'>"+tag_name+"</option>");

        filter_images();
    }

    $( "#sortable" ).sortable({
{#        connectWith: "#sortable",#}
{#        dropOnEmpty: true#}
    });

    $( "#sortable" ).disableSelection();

    $("#sortable_thumbnail_list").sortable({
        connectWith: "ul.sortable",
        placeholder: "ui-state-error",
        dropOnEmpty: true
    });

    $("#sortable_thumbnail_list").disableSelection();


</script>






