{% load canvas_tags %}

<br><Br><br>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <form method="post" action enctype="multipart/form-data" id="gallery-form">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-7 col-md-7">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="card card-underline">
                                <div class="card-head style-primary-dark">
                                    <header>{{ page_type }}</header>
                                </div>
                                <div class="card-body tab-content">

                                    <div id="all-images" style="height: 305px; overflow-y: auto; border-radius: 5px;">
                                        {% for row in asset_list %}
                                            {% if row.image.path|file_exists %}
                                                <div class="image-selected-display col-lg-{{ image_settings }}"  style="text-align: center;" id="image-selected-{{ row.image.pk }}">
                                                    <small><em>{{ row.full_image_name }}</em></small><br>

                                                    <img src="{{ row.image_static_path }}" id="image-{{ row.image.pk }}"
                                                         style="width: 100%; max-width: 280px;">
                                                    <br><br>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12" id="tag-filter-images">
                            {% include "canvas/includes/tag_filter_images.html" %}
                        </div>
                    </div>
                </div>
            <div class="col-lg-5 col-md-5">
                <button type="button" onclick="submit_form();" class="btn btn-process pull-right" style="margin-top: -50px;">Save </button>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">

                        <div class="card card-underline">
                            <div class="card-head style-primary-dark">
                                <header>Gallery Files</header>
                            </div>
                            <div class="card-body tab-content">
                                <div class="table crunched-table" id="image-watermark-list">
                                <div class="row">
                                    <div class="col-lg-4">Video File</div>
                                    <div class="col-lg-2"></div>
                                    <div class="col-lg-3">Caption</div>
                                </div>

                                <ul class="row sortable" id="sortable">
                                {% for row in asset_list %}
                                    {% if row.image.path|file_exists %}
                                        <li onclick="highlight_image({{ row.image.pk }});" class="sortlist ui-state-default file-image file-image-{{ file.pk }}
                                            file-image-{{ file.key|cut:"Aspect: " }}" id="image-row-{{ row.image.pk }}" style="padding-top: 3px;" data-position="{{ row.settings.order }}">
                                            <div class="col-sm-4">
                                                <small style="float: left; margin-left: -10px; font-weight: bold">{% if row.settings.order %}{{ row.settings.order }}{% endif %}</small>
                                                <i style="padding-left: 2px; padding-right: 4px; margin-top: 2px;" class="grey fa fa-angle-double-right"></i>
                                                <small><em>{{ row.image_name }}</em></small>
                                                <input type="hidden" name="selected-asset" value="{{ row.image.pk }}">
                                                <input type="hidden" class="hidden-order-field" name="file-order-{{ row.image.pk }}" value="{% if row.settings.order %}{{ row.settings.order }}{% else %}{{ forloop.counter }}{% endif %}">
                                            </div>
                                            <div class="col-sm-2">
                                                {% ifequal row.file_type "video"  %}
                                                    <a onclick="show_movie_modal('{{ row.static_file_path }}', '{{ row.full_image_name  }}');"><i class="fa fa-play-circle"></i> </a>

                                                    <a style="display: none;" id="show-movie-modal" data-toggle="modal" data-target="#MovieModal">View Full</a>
                                                {% endifequal %}
                                            </div>
                                            <div class="col-lg-5">
                                                <input type="text" class="input-sm form-control" name="file-caption-{{ row.image.pk }}" value="{% if row.settings.caption %}{{ row.settings.caption }}{% endif %}">
                                            </div>
                                            <div class="col-lg-1">
                                                <a id="image-row-link-{{ row.image.pk }}" onclick="remove_image_watermark('{{ row.image.pk }}');"><i class="fa fa fa-trash-o"></i></a>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                    <li class="sortlist " show_order="99" style="height: 0; padding: 0;"></li>
                                </ul>
                            </div>
                            </div>
                        </div>
                        <div id="removed-asset-ids" style="display: none;"></div>
                    </div>
                </div>
            </div>
        </div>


        </form>
        <input type="hidden" id="current_project_id" value="{{ project.pk }}">
    </div>
</div>

<!-- Modal -->
<div id="MovieModal" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width: 800px;">

    <!-- Modal content-->
    <div class="modal-content" style="width: 790px;">
      <div class="modal-header" style="width: 790px;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Video Preview</h4>
      </div>
      <div class="modal-body"  style="text-align: center;">
          <h3 id="show-movie-resource-name"></h3>
          <video width="420" height="340" autoplay>
            <source src="#" type="video/mp4" id="movie-preview-item"> Your browser does not support the video tag.
        </video>
      </div>
      <div class="modal-footer" style="width: 790px;">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="added-image-html" style="display: none">
    <div class="col-lg-{{ image_settings }}"  style="text-align: center;" id="image-selected-id">
        <em>image-name</em><br>
        {% if image_size %}
            <img src="#" style="width: 100%; max-width: 350px;">
        {% else %}
            <img src="#" style="width: 100%; max-width: 350px;">
        {% endif %}
        <br><br>
    </div>
</div>

<script>
    $(function() {
        $(init);
    });

    function init() {
        $('.draggable-image').draggable({
            containment: 'document',
            helper: myHelper,
            cursor: 'move',
            appendTo: 'body',
            scroll: true
        });

        $("#all-images").droppable( {
            hoverClass: "ui-state-active",
            activeClass: "ui-state-highlight",
            drop: handleDropImageEvent,
            snap: 'li'
        });

         $('ul.sortable').droppable( {
            hoverClass: "ui-state-active",
            activeClass: "ui-state-highlight",
            drop: handleDropImageEvent,
             snap: 'li'
        } );

        $("#watermark-file-drop").droppable( {
            hoverClass: "ui-state-active",
            activeClass: "ui-state-highlight",
            drop: handleDropWatermarkEvent,
             snap: 'li'
        } );

    }

    function  highlight_image(file_id)
    {
        $(".file-image").removeClass('ui-state-highlight');
        $("li.file-image").removeClass('ui-state-highlight').addClass('ui-state-default');
        if ($("#image-row-"+file_id))
        {
            $("#file-selected-to-copy-"+file_id).attr("checked", true);
            $("#image-row-"+file_id).addClass('ui-state-highlight');
            $(".file-image-"+file_id).removeClass('ui-state-default').addClass('ui-state-highlight');
        }

        $(".image-selected-display").hide();
        $("#image-selected-"+file_id).show();

    }


    function show_movie_modal(resource_path, resource_name)
    {
        $("#movie-preview-item").attr('src', resource_path);
        $("#show-movie-resource-name").text(resource_name);
        $("#show-movie-modal").click();
    }

    function add_image_to_image_watermarks(resource_id)
    {
        if (parseInt(resource_id))
        {
            var image_source = $("#image-"+ resource_id).attr('src');
            image_source = image_source.replace("//", "/");

            var image_normal_src = $("#image-"+ resource_id).attr('normal_src');
            image_normal_src = image_normal_src.replace("//", "/");

            var image_name = image_normal_src.split("/");
            image_name = image_name[image_name.length-1];

            var image_html = $("#added-image-html").html();
            image_html = image_html.replace("#", image_source).replace("<em>image-name</em>", "<em>"+image_name+"</em>").replace("image-selected-id", "image-selected-"+ resource_id);

            if (image_name.length > 15)
            {
                image_name = image_name.substring(0,15) + '...';
            }

            $("#all-images").append(image_html);

            var order = $(".sortable").find('li').length;

            $(".sortable").append(
                    '<li class="sortlist ui-state-default" id="image-row-'+resource_id+'" show_order="'+order+'">' +
                    '<div class="col-lg-6 col-md-6 col-sm-6"><small style="float: left; margin-left: -10px; font-weight: bold">'+order+'</small>' +
                    '<i style="padding-left: 2px; padding-right: 4px; margin-top: 2px;" class="grey fa fa-angle-double-right"></i>' +
                    '<input type="hidden" name="selected-asset" value="'+resource_id+'"><small><em>'+image_name+'</em></small></div>' +
                    '<div class="col-lg-5"><input type="text" class="input-sm form-control" name="file-caption-'+resource_id+'" value=""> </div>' +
                    '<input type="hidden" class="hidden-order-field" name="file-order-'+resource_id+'" value="'+order+'"></div>' +
                    '<div class="col-lg-1"><a id="image-row-link-'+resource_id+'" onclick="remove_image_watermark('+resource_id+');">' +
                    '<i class="fa fa fa-trash-o"></i> </a></div>' +
                    '</li>'
            );

            //$("#image-"+ resource_id).parent().remove();
        }

        var i = 1;
        $("ul.sortable").find('li').each(function() {
            $(this).find("input.hidden-order-field").attr("value", i);
            i = i+1;
        });
    }

    function myHelper( event ) {

        var list_image = event.currentTarget;
        var id = $(list_image).attr("id");
        var static_image = $(list_image).attr("src");
        $("#cross-hatch").css({"border": "3px solid green;"});

        return '<div id="draggableHelper" style="border: red 2px solid; z-index: 99999999;"><img style="max-width: 100px; opacity: 0.5;" src='+static_image+'></div>';
    }

    function handleDropWatermarkEvent( event, ui ) {

        var water_mark = $("#watermark_file_id").val();
        if (water_mark)
        {
            remove_image_watermark(water_mark);
        }

        var draggable = ui.draggable;
        var resource_id = draggable.attr('id');
        resource_id = resource_id.replace("image-", "").replace("-checkbox", "");

        if (parseInt(resource_id)) {
            var image_source = $("#image-" + resource_id).attr('src');
            image_source = image_source.replace("//", "/");

            var image_name = image_source.split("/");
            var image_html = "<div class='row'>" +
                    "<a class='pull-right' id='image-row-link-"+resource_id+"' onclick='remove_image_watermark("+resource_id+");'> " +
                    "<i class='fa fa fa-trash-o'></i> Clear File </a>" + $('#added-image-html').html() + "<input type='hidden' name='watermark_file' value="+resource_id+"></div>";

            image_html = image_html.replace('src="#"', 'src="'+image_source+'"').replace("image-name", image_name[image_name.length - 1]).replace("image-selected-id", "image-selected-" + resource_id);
            $("#watermark-file-drop").html(image_html);
        }
    }

    function handleDropImageEvent( event, ui ) {
        var draggable = ui.draggable;
        var resource_id = draggable.attr('id');
        resource_id = resource_id.replace("image-", "").replace("-checkbox", "");

        add_image_to_image_watermarks(resource_id);
    }

    $(function() {
       sort_table();
    });


    function sort_table()
    {
        var $table=$('#sortable');

        $table.find('li').sort(function(a, b) {
            return parseInt($(a).attr('show_order')) - parseInt($(b).attr('show_order'));
        })
        .appendTo($table);

    }



    function remove_image_watermark(row_id)
    {
        $('#watermark-file-drop').html('');
        $("#image-row-"+row_id).remove();
        $("#image-selected-"+row_id).remove();

        $("#removed-asset-ids").append('<input type="hidden" name="removed_assets" value="'+row_id+'">');

    }

    function submit_form()
    {
        var i = 1;
        $("ul.sortable").find('li').each(function() {
            $(this).find("input.hidden-order-field").attr("value", i);
            i = i+1;
        });

        $("#gallery-form").submit();
    }

    function remove_button_tag(tag_id, tag_name)
    {
        //remove filter
        $("#added-button-tag-"+tag_id).remove();

        $("#tag-selected").append("<option value='"+tag_id+"'>"+tag_name+"</option>");

        filter_images();
    }


    $( "ul.sortable" ).sortable({
        connectWith: "ul.sortable",
        placeholder: "ui-state-error",
        dropOnEmpty: true
    });

    $( "ul.sortable").disableSelection();



</script>






