{% load canvas_tags %}
{% load model_tags %}


<div class="row" style="padding-left: 20px;">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <br>
        <div class="row">
            <div class="row">
                <div class="col-xs-1" style="margin-right: 40px;">
                    <div class="card card-bordered style-default-dark" style="min-width: 150px;">
                        <div class="card-head">
                            <header>Apts</header>
                        </div>

                        <div class="card-body style-default-bright" style="min-height: 412px;">
                            <div  id="level-plan-apartments">
                                {% include "canvas/templates/includes/apartments/views_apartment_content.html" %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-10" style="margin-right: -120px;">
                    <div class="row">
                        <div class="col-xs-2" style="min-width: 200px;">
                            <div class="card card-bordered style-default-dark">
                                <div class="card-head">
                                    <header>Aspects</header>
                                    <div class="tools">
                                        <div class="btn-group">
                                            <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-body style-default-bright"  style="min-height: 412px; padding-left: 18px; padding-right: 8px;">
                                    <div id="aspects_file_data" style="margin-left: -10px;">
                                        {% include "canvas/templates/includes/aspects_file_table.html" %}
                                    </div>
                                    <form style="margin-left: -10px;">
                                    {% csrf_token %}
                                        <input type="text" id="new_aspect_name" placeholder="Add new aspect" style="width: 80%">
                                        &nbsp; <a onclick="add_aspect();"><i class="fa fa-plus"></i> </a>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-5">
                            <div class="row">
                                <div class="card card-bordered style-default-dark">
                                <div class="card-head">
                                    <header>Files</header>
                                    <div class="tools">
                                        <div class="btn-group">
                                            <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-body style-default-bright" style="min-height: 412px;">
                                    <div id="resources_file_data">
                                        {% include "canvas/templates/includes/aspects_file_table.html" %}
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="card card-bordered style-default-dark">
                                <div class="card-head">
                                    <header>Preview</header>
                                    <div class="tools">
                                        <div class="btn-group">
                                            <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body style-default-bright">
                                    <form method="post" action enctype="multipart/form-data" id="gallery-form">
                                    {% csrf_token %}
                                        {% include "canvas/templates/includes/views_image_display.html" with width=250 %}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10" style="margin-left: -2px;" id="tag-filter-images">
                            {% include "canvas/includes/tag_filter_images.html" %}
                        </div>
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="card card-bordered style-default-dark" style="min-width: 200px; margin-left: -100px;">
                        <div class="card-head">
                            <header>Floors</header>
                            <div class="tools">
                                <div class="btn-group">
                                    <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body style-default-bright" style="min-height: 412px;">
                            <select id="building-selected" onchange="refresh_with_new_building(this.value);">
                                {% for building in buildings %}
                                    <option value="{{ building.pk }}">{{ project|name_by_name_id:building }}</option>
                                {% endfor %}
                            </select><br>
                            <a data-toggle="tooltip" data-placement="top" onclick="copy_images();" title="Copy Images To Floors" class="btn btn-sm btn-default"><i class="fa fa-copy"></i></a>
                            <table>
                                <tr>
                                    <th>Level</th>
                                    <th>Select</th>
                                </tr>

                                {% for row in floor_list %}
                                    <tr class="building-floor-select-{{ row.building_id }} building-floor-select highlight-floor-select" id="floor-selected-{{ row.floor.id }}">
                                        <td>
                                            <a id="floor-select-{{ row.floor.id }}" class="floor-select-link"
                                               onclick="select_new_floor({{ row.floor.id }});">
                                                <div id="floor-details-{{ row.floor.id }}" class="floor-select-link floor-details {% ifequal model_instance.pk row.floor.id %}selected{% endifequal %}">
                                                    {{ project|get_item_name:row.floor }}
                                                </div>
                                            </a>
                                        </td>
                                        <td style="text-align: center;">
                                            <input type="checkbox" class="floor-checkbox" project_id="{{ project.pk }}" id="floor-aspect-{{ row.floor.id }}" {% ifequal model_instance.pk row.floor.id %}checked{% endifequal %}>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <input type="hidden" id="apartment_list" value="{{ apartment_list }}">
    <input type="hidden" id="total_showing" value="1">
    <input type="hidden" id="current_apartment_setting" value="{{ first_apartment_id }}">
    <input type="hidden" id="current_floor_id" value="{{ floor_id }}">
    <input type="hidden" id="current_project_id" value="{{ project.pk }}">
    <input type="hidden" id="building-selected" value="{{ building_id }}">

    <input type="hidden" id="existing_aspects" value="{{ property_aspects }}">
    <input type="hidden" id="aspect_key_selected" value="">


</div>


<div id="added-image-html" style="display: none">
    <div class="col-lg-{{ image_settings }}"  style="text-align: center;" id="image-selected-id">
        <em>image-name</em><br>
        {% if image_size %}
            <img src="#" style="width: 100%; max-width: 350px;">
        {% else %}
            <img src="#" style="width: 100%; max-width: 350px;">
        {% endif %}
        <br><br>
    </div>
</div>


<script>

    $(function() {
        $( init );
        click_to_set_aspect($("#current_apartment_setting").val());

        var aspect_list = [];

        var aspects = $("#existing_aspects").val();
        aspects = aspects.split(",");

        $(aspects).each(function(index, value) {
            aspect_list.push(value.replace("u'", "").replace("'", "").replace("[", "").replace("]", ""));
        });

         $("#new_aspect_name").autocomplete({
            source: aspect_list,
            minLength:0
        }).bind('focus', function(){ $(this).autocomplete("search"); } );

        var floor_id = $("#current_floor_id").val();
        select_new_floor(floor_id);
    });


    function init() {

        $('.draggable-image').draggable( {
              containment: 'document',
              helper: myHelper,
              cursor: 'move',
              appendTo: 'body',
              scroll: true,
              refreshPositions: true
        });

        $("#all-images").droppable( {
            hoverClass: "ui-state-active",
            activeClass: "ui-state-highlight",
            drop: handleDropImageEvent
        });

        $( "#sortable" ).sortable();
        $( "#sortable" ).disableSelection();

    }

    function handleDropImageEvent( event, ui ) {

        var selected_aspect = $("#aspect_key_selected").val();

        if (selected_aspect == "")
        {
            alert("Please select an Aspect first before assigning an image.")
        }

        if (selected_aspect && confirm("Assign image to aspect "+ selected_aspect + "?"))
        {
            var draggable = ui.draggable;
            var resource_id = draggable.attr('id');
            resource_id = resource_id.replace("image-", "").replace("-checkbox", "");

            var normal_src = draggable.attr('normal_src');
            var image_src = draggable.attr('src');
            var image_name = image_src.split("/");

            var project_id = $("#current_project_id").val();
            var property_id = $("#current_apartment_setting").val();

            image_name = image_name[image_name.length-1];

            var aspect = '';
            if ($(this).attr('id') == "all-images")
            {
                aspect = '';
            }
            else
            {
                var aspect_text = $(this).first('td').text().replace(" ", "");
                aspect = aspect_text.replace(/ /g, "").replace(/\n/g, "");
            }

            console.log('selected_aspect', selected_aspect, 'aspect', aspect);

            var file_order = $("#file-order-"+resource_id).val();

            $.ajax({
                url: '/update_aspect_image/' + project_id + '/',
                type: 'GET',
                data: {'property_id': property_id, 'resource_id': resource_id, 'selected_aspect': selected_aspect,
                    'aspect': aspect, 'file_order': file_order, 'canvas_id': {{ canvas_id }},
                    'sub_wireframe_id': '{{ sub_wireframe_id }}', 'template_id': '{{ template_id }}' },
                     success: function (data) {

                         if (property_id)
                         {
                             get_property_aspects(project_id, property_id);
                         }

                         $().toastmessage('showToast', {
                            text: "Image saved successfully",
                            sticky: false,
                            position: 'top-right',
                            type: 'success',
                            closeText: ''
                        });

                    },
                    complete: function(data)
                    {
                        $( init );
                    }
                });

           sort_my_list();
        }



    }

    function myHelper( event ) {

        var list_image = event.currentTarget;

        var id = $(list_image).attr("id");
        var static_image = $(list_image).attr("src");

        return '<div id="draggableHelper" style="border: red 2px solid; z-index: 99999999999; display: inline;">' +
               '<img style="max-width: 100px;  z-index: 99999999999;" src='+static_image+'>' +
               '</div>';
    }


    function update_image_list(tag_name)
    {
        //console.log('update_image_list');
        tag_name = tag_name.replace(/ /g, "");

        $(".image-list-tags").each(function() {
            var tag_list = $(this).find('span');
            var tag_details_list = [];

            var list_image_id = $(this).attr('id');
            list_image_id = list_image_id.replace("list-image-tags-", "");

            $(tag_list).each(function() {
                tag_details_list.push($(this).text().replace(/ /g, ""));
            });

            var in_array = $.inArray( tag_name, tag_details_list ) >= 0;
            if (in_array)
            {
                $("#list-"+ list_image_id).show().css({'display': 'inline-block'});
            }
            else
            {
               $("#list-"+ list_image_id).hide()
            }
        });
    }

    function remove_button_tag(tag_id, tag_name)
    {
        //remove filter
        $("#added-button-tag-"+tag_id).remove();

        $("#tag-selected").append("<option value='"+tag_id+"'>"+tag_name+"</option>");
        filter_images();
    }

    function filter_images()
    {
        var selected_tag_list = [];
        var selected_tags = $(".added-tag-button");

        $(selected_tags).each(function() {
            selected_tag_list.push($(this).text().replace(/ /g, ""));
        });

        $(".image-list-tags").each(function() {

            var show_image = true;
            var tag_list = $(this).find('span');
            var tag_details_list = [];

            $(tag_list).each(function () {
                tag_details_list.push($(this).text());
            });

            if (selected_tag_list == "") {

                if (tag_details_list == "")
                {
                    show_image = true;
                }
                else
                {
                    show_image = false;
                }
            }
            else
            {

                var image_list = [];

                $.each(tag_details_list, function (k, v) {
                    var value = v.replace(/ /g, "");

                    var in_array = $.inArray(value, selected_tag_list) >= 0;

                    if (in_array) {
                        image_list.push(value);
                    }
                });

                var difference = [];

                jQuery.grep(selected_tag_list, function(el) {
                        if (jQuery.inArray(el, image_list) == -1) difference.push(el);
                });


                if (difference == "")
                {
                    show_image = true;
                }
                else
                {
                    show_image = false;
                }
            }


            if (!show_image)
            {
                $(this).parent().hide();
            }
            else
            {
                $(this).parent().show();
            }
        });
    }

    function copy_images()
    {
        if (confirm("Are you sure you wish to copy the selected images to the selected floors below?"))
        {
            var selected_images = $('.selected-file-image:checkbox:checked');
            var selected_floors = $('.floor-checkbox:checkbox:checked');


            var project_id = $("#current_project_id").val();
            var property_id = $("#current_apartment_setting").val();

            $(selected_images).each(function(index, element) {
                var image_id = $(this).attr("id");
                image_id = image_id.replace("file-selected-to-copy-", "");

                $(selected_floors).each(function() {
                    var floor_id = $(this).attr("id");
                    floor_id = floor_id.replace("floor-aspect-", "");

                     $.ajax({
                        url: '/copy_resource_image_to_properties/' + project_id + '/',
                        type: 'GET',
                        data: {'floor_id': floor_id, 'property_id': property_id, 'resource_id': image_id},
                             success: function (data) {

                            }
                        });
                });

            });

            $().toastmessage('showToast', {
                text: "Image saved successfully",
                sticky: false,
                position: 'top-right',
                type: 'success',
                closeText: ''
            });


        }
    }

    function  highlight_image(file_id, cleaned_key)
    {

        $(".file-image").removeClass("selected");
        $(".file-image-"+cleaned_key).addClass("selected");

        if ($("#file-image-"+file_id))
        {
            $("#file-selected-to-copy-"+file_id).attr("checked", true);
            $("#file-image-"+file_id).addClass('selected');
        }

        $(".image-selected-display").hide();
        $("#image-selected-"+file_id).show();

        var aspect_text = $("#file-"+file_id).text();
        aspect_text = aspect_text.trim();

        $("#aspect_key_selected").val(aspect_text);

    }

    function  highlight_image_aspect(aspect)
    {
        $("li.file-image").removeClass('selected');

        if ($("#file-image-"+aspect))
        {
            $("#file-image-"+aspect).addClass('selected');
        }

         $(".image-selected-display").hide();
        $("#image-selected-"+aspect).show();

        var aspect_text = $("#file-"+aspect);

        $("#aspect_key_selected").val(aspect_text);
    }

    function highlight_image_from_key(key_value, cleaned_key_value)
    {
        $(".file-image").removeClass("selected");
        $(".file-image-key-"+cleaned_key_value).addClass("selected");
        $(".file-image-"+cleaned_key_value).addClass("selected");

        $("#aspect_key_selected").val(key_value);

    }

{#    function save_new_aspect()#}
{#    {#}
{#        var project_id = $("#current_project_id").val();#}
{#        var property_id = $("#current_apartment_setting").val();#}
{#        var aspect_name = $("#current_apartment_setting").val();#}
{##}
{#        $.ajax({#}
{#            url: '/add_new_asspect/' + project_id + '/',#}
{#            type: 'GET',#}
{#            data: {'property_id': property_id, 'aspect_name': aspect_name},#}
{#                 success: function (data) {#}
{##}
{#                     $().toastmessage('showToast', {#}
{#                        text: "Image saved successfully",#}
{#                        sticky: false,#}
{#                        position: 'top-right',#}
{#                        type: 'success',#}
{#                        closeText: ''#}
{#                    });#}
{##}
{#                }#}
{#            });#}
{##}
{#    }#}

    function remove_aspect_by_id(aspect_id)
   {

       var project_id = $("#current_project_id").val();
       var property_id = $("#current_apartment_setting").val();

        $.ajax({
        url: '/remove_property_aspect/' + project_id + '/',
        type: 'GET',
        data: {'type': 'aspect', 'aspect_id': aspect_id},

            success: function (data) {

                get_property_aspects(project_id, property_id);

            }
        });
   }

    function remove_resource_by_id(aspect_id)
   {

       var project_id = $("#current_project_id").val();
       var property_id = $("#current_apartment_setting").val();

        $.ajax({
        url: '/remove_property_aspect/' + project_id + '/',
        type: 'GET',
        data: {'type': 'apartment', 'aspect_id': aspect_id},

            success: function (data) {

                get_property_aspects(project_id, property_id);

            }
        });
   }

    function select_new_floor(floor_id)
    {
        $("#aspect_key_selected").val('');
        $(".floor-details").removeClass('selected');
        $("#floor-details-"+floor_id).addClass('selected');

        $("#current_floor_id").val(floor_id);

        $(".floor-select").attr("checked", false);
        $("#floor-aspect-"+floor_id).click();

        $(".apartment-details").hide();
        $(".apartment-details-"+ floor_id).show();

        var project_id = $("#current_project_id").val();

        $.ajax({
        url: '/get_floor_apartments/' + project_id + '/' + floor_id + '/',
        type: 'GET',
        success: function (data) {

            $("#level-plan-apartments").html(data.rendered);
            $("#basic_apartments").html(data.basic_rendered);

             $( init );

            click_to_set_aspect(data.first_apartment);
        }

        });

    }

    function click_to_set_aspect(property_id)
    {
        $("#aspect_key_selected").val('');
        $(".aspect_selector").removeClass('btn-danger').addClass('btn-default');
        $("#aspect_selector_"+property_id).removeClass('btn-default').addClass('btn-danger');

        $("#current_apartment_setting").val(property_id);
        get_property_aspects();

    }

    function get_property_aspects()
    {
        
        var project_id = $("#current_project_id").val();
        var property_id = $("#current_apartment_setting").val();
        
        $.ajax({
        url: '/get_property_aspects/' + project_id + '/',
        type: 'GET',
        data: {'property_id': property_id},

            success: function (data) {

                $("#resources_file_data").html(data.file_rendered);
                $("#aspects_file_data").html(data.file_aspect_rendered);
                $("#gallery-form").html(data.image_file_rendered);
                 $( init );
            }
        });
    }



    function sort_my_list()
    {

         var i = 1;
        $("li.sortlist").each(function() {
            $(this).first('input.file-order').val(i);
            $(this).find('.file-ordered').text(i);

            i++;
        });
    }

    function add_aspect()
    {
        var project_id = $("#current_project_id").val();
        var property_id = $("#current_apartment_setting").val();
        var aspect = $("#new_aspect_name").val();

        $.ajax({
        url: '/add_property_aspect/' + project_id + '/',
        type: 'GET',
        data: {'property_id': property_id, 'aspect': aspect},

            success: function (data) {
                $( init );

                $().toastmessage('showToast', {
                        text: "Aspect saved successfully",
                        sticky: false,
                        position: 'top-right',
                        type: 'success',
                        closeText: ''
                    });

                $("#new_aspect_name").val('');

                get_property_aspects(project_id, property_id);

                $("#existing_aspects").val(data.get_all_aspects);

                var aspect_list = [];
                var aspects = $("#existing_aspects").val();
                aspects = aspects.split(",");

                $(aspects).each(function(index, value) {
                    aspect_list.push(value);
                });

                 $("#new_aspect_name").autocomplete({
                    source: aspect_list,
                    minLength:0
                }).bind('focus', function(){ $(this).autocomplete("search"); } );
            }
        });
    }


    function sort_table()
    {
        var $table=$('ul.sortable');
        var rows = $table.find('li').get();

{#        $.each(rows, function(index, row) {#}
{#            var td_value = $(row).find("li").attr("show_order");#}
{#            $(this).attr('show_order', td_value);#}
{#        });#}

        rows.sort(function(a, b) {

            var keyA = $(a).attr('show_order');
            var keyB = $(b).attr('show_order');

            var keyAint = parseFloat(keyA);
            var keyBint = parseFloat(keyB);

            if ($.isNumeric(keyAint) && $.isNumeric(keyBint))
            {
                keyA = keyAint;
                keyB = keyBint;
            }

                if (keyA < keyB) return -1;
                if (keyA > keyB) return 1;

            return 0;
        });

        $.each(rows, function(index, row) {
            $table.append(row);
        });
    }

</script>
