{% load model_tags %}

<table class="table table-striped" id="allocated-users-table">
    <thead>
        <tr>
            <th class="sorting link" data-column-int="1">ID <i class="fa fa-sort"></i></th>
            <th class="sorting link" data-column-int="2">First Name <i class="fa fa-sort"></i></th>
            <th class="sorting link" data-column-int="3">Last Name <i class="fa fa-sort"></i></th>
            <th class="sorting link" data-column-int="5">Email <i class="fa fa-sort"></i></th>
            <th class="sorting link" data-column-int="6">Phone <i class="fa fa-sort"></i></th>
            <th class="sorting link" data-column-int="7">User Role <i class="fa fa-sort"></i></th>
            <th class="sorting link" data-column-int="8">Assign? <i class="fa fa-sort"></i></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for row in allocated_users %}
            <tr id="select-user-to-group-{{ row.user.pk }}"
                class="link select-user-to-group">

                <td data-column-int="1">
                    {{ row.user.pk }}
                </td>
                <td data-column-int="2">
                    {{ row.user.first_name }}
                </td>
                <td data-column-int="3">
                    {{ row.user.last_name }}
                </td>
                <td data-column-int="5">
                    {{ row.user.email }}
                </td>
                <td data-column-int="6">
                    {{ row.user.phone_number }}
                </td>
                <td data-column-int="7">

                    {{ row.user.get_user_type_display }}

                </td>
                <td data-column-int="8" style="cursor: pointer;" >
                     <i onclick="set_select_user({{ row.user.pk }});" class="fa {% ifequal row.is_allocated True %}fa-check{% else %}fa-square{% endifequal %}"
                       id="check-selected-group-user-{{ row.user.pk }}"></i>

                    <div style="display: none;">
                        <input {% ifequal row.is_allocated True %}checked{% endifequal %} type="checkbox" class="checkbox-select-user-to-group"
                               id="checkbox-select-user-to-group-{{ row.user.pk }}" value="{{ row.user.pk }}" >
                    </div>

                    <span style="color: transparent; width: 1px;">
                        {{ row.is_allocated }}
                    </span>
                </td>
                <td>
                    {% ifequal row.user.created_by request.user %}
                        <a href="{% url 'users-view' row.user.pk %}" target="_blank">
                            <i  data-toggle="tooltip" data-placement="top" title="Edit User" class="fa fa-pencil"></i>
                        </a>
                    {% else %}
                        <i style="cursor: default;" class="fa fa-pencil grey"></i>
                    {% endifequal %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>


<script>
    $(function () {
       $(".select-user-to-group").click(function () {
            $(".select-user-to-group").removeClass('selected');
            $(this).addClass('selected');
            var user_id = $(this).attr('id');
            user_id = user_id.replace('select-user-to-group-', '');
            var project_id = $("#current_project_id").val();
            var group_id = $("#selected-allocation-group").val();

            $.ajax({
                url: '/get_user_allocation_list/'+project_id+'/',
                type: 'GET',
                data: {'user_id': user_id, 'group_id': group_id},
                success: function (data) {
                    $("#show-selected-user-groups").html(data.rendered);
                }
            });
        });

       $(".sorting").click(function() {
            var direction = 'asc';
            var classes = $(this).attr('class');

            if (classes.indexOf("sorting_asc") >= 0)
            {
                direction = 'descending';
                $("#order_page_by_direction").val('desc');
                $(this).addClass('sorting_desc').removeClass('sorting');
            }
            else
            {
                $(".sorting_desc").removeClass('sorting_desc').addClass('sorting');
            }

            if (classes.indexOf("sorting_desc") >= 0)
            {
                $(this).addClass('sorting_asc').removeClass('sorting_desc');
                direction = 'asc';
                $("#order_page_by_direction").val('asc');
            }
            else
            {
                $(".sorting_asc").removeClass('sorting_asc').addClass('sorting');

            }

            $(this).addClass('sorting_asc').removeClass('sorting');

            var check_class = $(this).attr('class');
            if (check_class == 'sorting_asc')
            {
                direction = 'descending';
                $("#order_page_by_direction").val('desc');
                $(this).removeClass('sorting_asc').addClass('sorting_desc');
            }

            var table_column_field = $(this).attr('data-column');
            $("#order_page_by").val(table_column_field);

            var table_column = $(this).attr('data-column-int');
            sort_table(table_column, direction);

        });
    });

    function sort_table(table_column, direction)
    {
        var $table=$('#allocated-users-table');
        var rows = $table.find('tbody tr').get();

        $.each(rows, function(index, row) {
            var td_value = $(row).find("td[data-column-int="+table_column+"]").text().replace(/ +(?= )/g,'').trim().toLowerCase();
            $(this).attr('sorting-by', td_value);
        });

        rows.sort(function(a, b) {

            var keyA = $(a).attr('sorting-by');
            var keyB = $(b).attr('sorting-by');

            var keyAint = parseFloat(keyA);
            var keyBint = parseFloat(keyB);

            if ($.isNumeric(keyAint) && $.isNumeric(keyBint))
            {
                keyA = keyAint;
                keyB = keyBint;
            }

            if (direction == 'asc')
            {
                if (keyA < keyB) return -1;
                if (keyA > keyB) return 1;
            }
            else
            {
                if (keyA < keyB) return 1;
                if (keyA > keyB) return -1;
            }

            return 0;
        });

        $.each(rows, function(index, row) {
            $table.children('tbody').append(row);
        });
    }

</script>