{% load canvas_tags %}

<hr>
<h4>Import Users from File</h4>

{% if users %}
    <table class="table detail-table">
        <tr>
            <th style="width: 180px;">First Name</th>
            <th style="width: 180px;">Last Name</th>
            <th style="width: 180px;">Email Address</th>
            <th style="width: 180px;">User Type</th>
            <th style="width: 180px;">Password</th>
        </tr>

        {% for user in users %}
            <tr>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.user_type }}</td>
                <td>{{ user.password }}</td>
            </tr>
        {% endfor %}
    </table>

    <input type="hidden" id="file-saved-id" value="{{ file_saved_id }}">

    <button type="button" id="import-all-users" class="btn btn-sm btn-danger">Import to Project</button>
{% else %}
    <em>There are no users within this file</em>
{% endif %}


<script>
    $(function () {
       $("#import-all-users").click(function () {

           var project_id = $("#id_project").val();

           $.ajax({
                url: '/import_user_details/' + project_id +'/',
                type: 'GET',
                data: {'file_id': $("#file-saved-id").val()},
                success: function (data) {

                    $().toastmessage('showToast', {
                        text: "Users imported successfully.",
                        sticky: false,
                        position: 'top-left',
                        type: 'success',
                        closeText: '',
                        stayTime: 3500}
                    );

                    $("#imported-user-list").html('<br><br><div class="text-success"><em>Users imported successfully.</em></div>');

               },
               error: function(jqXHR, textStatus, errorMessage) {
                   console.log(errorMessage); // Optional

                   $().toastmessage('showToast', {
                        text: "There was an error with the import process.",
                        sticky: false,
                        position: 'top-right',
                        type: 'error',
                        closeText: '',
                        stayTime: 3500}
                    );
               }

            });
       });
    });

</script>
