{% load canvas_tags %}

<h4>Edit Project Permissions</h4>

{% if users %}
    <table class="table detail-table" id="project-user-permission-details">
        <thead>
            <tr>
                <th data-column-int="1" class="link project-permissions-sorting" style="width: 120px;">User &nbsp; <i class="fa fa-sort"></i></th>
                <th data-column-int="2" class="link project-permissions-sorting" style="width: 120px;">Email &nbsp; <i class="fa fa-sort"></i></th>
                <th data-column-int="3" class="link project-permissions-sorting" style="width: 100px;">User Type &nbsp; <i class="fa fa-sort"></i></th>
                <th data-column-int="4" class="link project-permissions-sorting" style="width: 100px;">User Active? &nbsp; <i class="fa fa-sort"></i></th>
                {% for project in projects %}
                    <th style="width: 180px; text-align: center">
                        {{ project.name }}
                        &nbsp; <span class="grey-opaque">
                                    V{{ project.version }} - {{ project.get_status_display }}
                               </span>
                    </th>
                {% endfor %}
                <th style="width: 150px;">
                    Change owner &nbsp;
                    <input type="checkbox" id="select-all-users">
                </th>

                {% if request.user.is_ds_admin %}
                    <th style="width: 70px;"></th>
                {% endif %}
            </tr>
        </thead>

        <tbody>
            {% for user in users %}
                <tr>
                    <td data-column-int="1">
                        <span  class="bold-text">{{ user.get_full_name }}</span>
                    </td>
                    <td data-column-int="2">
                        {{ user.email }}
                    </td>
                    <td data-column-int="3">
                        {{ user.get_user_type_display }}
                    </td>
                    <td data-column-int="4">
                        <span class="pull-right" style="color: transparent; width: 0 !important; height: 0; overflow: hidden;">
                            {{ user.is_active }}
                        </span>

                        <span class="pull-left">
                            {{ user.active_nice_display|safe }}
                        </span>
                    </td>
                    {% for project in projects %}
                        {% if forloop.first %}
                            <td style="text-align: center">
                                <div style="display: inline-block">
                                    Project:
                                    {% if request|one_more:project|user_allocated:user %}
                                        <i onclick="update_user_project({{ project.pk }}, {{ user.pk }});" data-toggle="tooltip" data-position="top" title="Update Project Access"
                                           class="link fa fa-check user-project-list-{{ project.pk }}-{{ user.pk }}"></i>
                                    {% else %}
                                        <i onclick="update_user_project({{ project.pk }}, {{ user.pk }});" data-toggle="tooltip" data-position="top" title="Update Project Access"
                                           class="link fa fa-square user-project-list-{{ project.pk }}-{{ user.pk }}"></i>
                                    {% endif %}
                                </div>
                                <div style="display: inline-block; margin-left: 40px;">
                                    App:
                                    {% if request|one_more:project|user_app_access:user %}
                                        <i onclick="update_user_project_and_access({{ project.pk }}, {{ user.pk }});" data-toggle="tooltip" data-position="top" title="Update App Access"
                                           class="link fa fa-check user-project-app-list-{{ project.pk }}-{{ user.pk }}"></i>
                                    {% else %}
                                        <i onclick="update_user_project_and_access({{ project.pk }}, {{ user.pk }});" data-toggle="tooltip" data-position="top" title="Update App Access"
                                           class="link fa fa-square user-project-app-list-{{ project.pk }}-{{ user.pk }}"></i>
                                    {% endif %}
                                </div>
                            </td>
                        {% endif %}
                    {% endfor %}
                        <td style="width: 100px;">
                            <input type="checkbox" class="select-for-owner" value="{{ user.pk }}">
                            &nbsp;
                            <em><small class="helptext">{{ user.created_by.get_full_name }}</small></em>
                        </td>

                        {% if request.user.is_ds_admin %}
                            <td style="text-align: center">
                                <a href="{% url 'users-view' user.pk %}"><i class="fa fa-user"></i> View User</a>
                            </td>
                        {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

        <div class="row">
            <div class="col-sm-4">
                <br>
                <label>Select new "created by" for users</label>
                <select id="select-new-owner">
                    <option value="">Select --></option>
                    {% for owner in project_owners %}
                        <option value="{{ owner.pk }}">{{ owner.get_full_name }} - [{{ owner.get_user_type_display }}]</option>
                    {% endfor %}
                </select>
            </div>
        </div>
{% else %}
    <em>There are no users matching your search</em>
{% endif %}


<script>
    $(function () {
        $(".project-permissions-sorting").click(function() {

            console.log('project-permissions-sorting sort');

            var direction = 'asc';
            var classes = $(this).attr('class');

            if (classes.indexOf("sorting_asc") >= 0)
            {
                direction = 'descending';
                $("#order_page_by_direction").val('desc');
                $(this).addClass('sorting_desc').removeClass('sorting');
            }
            else
            {
                $(".sorting_desc").removeClass('sorting_desc').addClass('sorting');
            }

            if (classes.indexOf("sorting_desc") >= 0)
            {
                $(this).addClass('sorting_asc').removeClass('sorting_desc');
                direction = 'asc';
                $("#order_page_by_direction").val('asc');
            }
            else
            {
                $(".sorting_asc").removeClass('sorting_asc').addClass('sorting');

            }

            $(this).addClass('sorting_asc').removeClass('sorting');

            var check_class = $(this).attr('class');
            if (check_class == 'sorting_asc')
            {
                direction = 'descending';
                $("#order_page_by_direction").val('desc');
                $(this).removeClass('sorting_asc').addClass('sorting_desc');
            }

            var table_column_field = $(this).attr('data-column');
            $("#order_page_by").val(table_column_field);

            var table_column = $(this).attr('data-column-int');

            sort_user_permission_table(table_column, direction);

        });
    });

    function sort_user_permission_table(table_column, direction)
    {
        var $table=$('#project-user-permission-details');
        var rows = $table.find('tbody tr').get();

        $.each(rows, function(index, row) {
            var td_value = $(row).find("td[data-column-int="+table_column+"]").text().replace(/ +(?= )/g,'').trim().toLowerCase();
            $(this).attr('sorting-by', td_value);
        });

        rows.sort(function(a, b) {

            var keyA = $(a).attr('sorting-by');
            var keyB = $(b).attr('sorting-by');

            var keyAint = parseFloat(keyA);
            var keyBint = parseFloat(keyB);

            if ($.isNumeric(keyAint) && $.isNumeric(keyBint))
            {
                keyA = keyAint;
                keyB = keyBint;
            }

            if (direction == 'asc')
            {
                if (keyA < keyB) return -1;
                if (keyA > keyB) return 1;
            }
            else
            {
                if (keyA < keyB) return 1;
                if (keyA > keyB) return -1;
            }

            return 0;
        });

        $.each(rows, function(index, row) {
            $table.children('tbody').append(row);
        });
    }

    $(function () {
        $('[data-toggle="tooltip"]').tooltip();


        $("#select-new-owner").change(function () {
             var new_owner_id = $(this).val();
             var selected_users_to_update = $(".select-for-owner:checkbox:checked");

             var user_ids = [];
             $(selected_users_to_update).each(function () {
                 user_ids.push($(this).val());

                 change_user_owner($(this).val(), new_owner_id);
             }).promise().done(function () {
                 $().toastmessage('showToast', {
                    text: 'User "created by" updated successfully',
                    sticky: false,
                    stayTime: 3000,
                    position: 'top-right',
                    type: 'notice',
                    closeText: ''
                });

                 search_for_users();
             });



        });

        $("#select-all-users").click(function () {

            if ($(this).prop('checked') == false)
            {
                $(".select-for-owner").prop('checked', false);
            }
            else
            {
                $(".select-for-owner").prop('checked', true);
            }

        });
    });

    function update_user_project_and_access(project_id, user_id)
    {
        var user_exists_in_project = $(".user-project-app-list-"+project_id+"-"+user_id).hasClass('fa-check');

        if (user_exists_in_project)
        {
            if (confirm("This will remove the user's application access. Continue?")) {
                remove_user_from_project(project_id, user_id);
                $(".user-project-list-" + project_id + "-" + user_id).removeClass('fa-check').addClass('fa-square');
                $(".user-project-app-list-" + project_id + "-" + user_id).removeClass('fa-check').addClass('fa-square');
            }
        }
        else
        {
            if (confirm("This will update user Project access. Continue?")) {
                save_user_to_project(project_id, user_id);
                $(".user-project-list-" + project_id + "-" + user_id).addClass('fa-check').removeClass('fa-square');
                $(".user-project-app-list-" + project_id + "-" + user_id).addClass('fa-check').removeClass('fa-square');
            }
        }
    }

    function update_user_project(project_id, user_id)
    {

        var user_exists_in_project = $(".user-project-list-"+project_id+"-"+user_id).hasClass('fa-check');

        if (user_exists_in_project)
        {
            if (confirm("This will remove user project and app access. Continue?")) {
                remove_user_from_project(project_id, user_id);
                $(".user-project-list-" + project_id + "-" + user_id).removeClass('fa-check').addClass('fa-square');
                search_for_users();

            }
        }
        else
        {
            if (confirm("This will assign the user to the project but will - not - give application access. Continue?")) {
                save_user_to_project_without_sync(project_id, user_id);
                $(".user-project-list-" + project_id + "-" + user_id).addClass('fa-check').removeClass('fa-square');
                search_for_users();
            }

        }

    }

    function save_user_to_project_without_sync(project_id, user_id) {

        $.ajax({
            url: '/save_user_to_project_without_sync/',
            data: {'project_id': project_id, 'user_id': user_id},
            type: 'GET',
            success: function (data) {
                $().toastmessage('showToast', {
                    text: 'User and project updated successfully',
                    sticky: false,
                    stayTime: 3000,
                    position: 'top-right',
                    type: 'notice',
                    closeText: ''
                });
            }
        });
    }

    function save_user_to_project(project_id, user_id) {

        $.ajax({
            url: '/save_user_to_project/',
            data: {'project_id': project_id, 'user_id': user_id},
            type: 'GET',
            success: function (data) {
                $().toastmessage('showToast', {
                    text: 'User and project updated successfully',
                    sticky: false,
                    stayTime: 3000,
                    position: 'top-right',
                    type: 'notice',
                    closeText: ''
                });
            }
        });
    }

    function change_user_owner(user_id, new_owner_id)
    {
        $.ajax({
            url: '/change_user_owner/',
            data: {'user_id': user_id, 'new_owner_id': new_owner_id},
            type: 'GET',

            success: function (data) {
            }
        });
    }

    function remove_user_from_project(project_id, user_id) {
        $.ajax({
            url: '/remove_user_from_project/',
            data: {'project_id': project_id, 'user_id': user_id, 'sync': 'True'},
            type: 'GET',
            success: function (data) {
                $().toastmessage('showToast', {
                    text: 'User and project updated successfully',
                    sticky: false,
                    stayTime: 3000,
                    position: 'top-right',
                    type: 'notice',
                    closeText: ''
                });

            }
        });
    }

    function send_user_account_email(user_id, project_id)
    {
        if (confirm("Send this user an account setup email?"))
        {
            waitingDialog.show('Sending', {dialogSize: 'sm', progressType: 'info'});

            $.ajax({
                url: '/send_user_email/'+project_id+'/'+user_id+'/',
                type: 'GET',
                data: {'email_type': 'account'},
                success: function (data) {
                    $().toastmessage('showToast', {text : "Email sent successfully", position : 'top-left',  stayTime: 5000, type : 'success'});
                    waitingDialog.hide();
                }
            });
        }
    }

    function send_user_password_email(user_id, project_id)
    {
        if (confirm("Send this user a reset password email?"))
        {
            waitingDialog.show('Sending', {dialogSize: 'sm', progressType: 'info'});

            $.ajax({
                url: '/send_user_email/'+project_id+'/'+user_id+'/',
                type: 'GET',
                data: {'email_type': 'password'},
                success: function (data) {
                    $().toastmessage('showToast', {text : "Email sent successfully", position : 'top-left',  stayTime: 5000, type : 'success'});
                    waitingDialog.hide();
                }
            });
        }

    }
</script>
