
        <div class="row">
            {% if show_project and total_projects %}
                    {% ifequal total_projects 1 %}
                        <select multiple id="selected-projects" style="display: none">
                            {% for project in projects %}
                                <option value="{{ project.pk }}" selected>
                                    {{ project.name }}
                                </option>
                            {% endfor %}
                        </select>
                    {% else %}
                        <div class="col-lg-2">
                            <label>Active Project(s)</label>
                            <select multiple id="selected-projects" style="height: 120px;">
                                {% for project in projects %}
                                    <option value="{{ project.pk }}">
                                        {{ project.name }} {% if request.user.is_ds_admin %}&nbsp; &nbsp; - &nbsp; &nbsp; V{{ project.version }} &nbsp; &nbsp; {{ project.get_status_display }}{% endif %}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endifequal %}

            {% endif %}

            <div class="col-lg-2">
                <label>User Type(s)</label>
                <select multiple id="selected-user-types" style="height: 120px;">
                    {% for user_type in user_types %}
                        <option value="{{ user_type.0 }}">
                            {{ user_type.1 }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-lg-2">
                <label>User Status</label>
                <select multiple id="selected-status-values">
                    <option value="1">
                        Active
                    </option>
                    <option value="0">
                        Inactive
                    </option>
                </select>
            </div>

            {% if request.user.is_ds_admin %}
                <div class="col-lg-2">
                    <label>Has Project Access?</label>
                    <select id="selected-project-access">
                        <option value="">
                            All
                        </option>
                        <option value="Yes">
                            Yes
                        </option>
                        <option value="No">
                            No
                        </option>
                    </select>
                </div>
            {% endif %}

            <div class="col-lg-3">
                <label>Search all by name and email:</label>
                <input type="text" id="search-text">
            </div>

            <div class="col-lg-2 pull-right">
                <br>
                <button class="btn btn-sm btn-black" onclick="search_for_users();">
                    <i class="fa fa-search"></i> &nbsp; Search
                </button>
            </div>
        </div>

        <br>

        <div id="search-results"></div>


<script>
    $(function () {
       $(document).keypress(function(e){
            if (e.which == 13){

                e.preventDefault();
                search_for_users();
            }
        });
    });
</script>