{% load model_tags %}

{% if users %}
    <table class="table table-striped dataTable" id="user-list-details">
        <thead>
            <th data-column-int="1" class="link user-list-sorting">ID &nbsp; <i class="fa fa-sort"></i></th>
            <th data-column-int="2" class="link user-list-sorting">First Name &nbsp; <i class="fa fa-sort"></i></th>
            <th data-column-int="3" class="link user-list-sorting">Last Name &nbsp; <i class="fa fa-sort"></i></th>
            <th data-column-int="4" class="link user-list-sorting">Email Address &nbsp; <i class="fa fa-sort"></i></th>
            <th data-column-int="5" class="link user-list-sorting">User Role &nbsp; <i class="fa fa-sort"></i></th>
            <th data-column-int="6" class="link user-list-sorting">Active &nbsp; <i class="fa fa-sort"></i></th>
            <th data-column-int="7" class="link user-list-sorting">Date Added &nbsp; <i class="fa fa-sort"></i></th>
            <th data-column-int="8" class="link user-list-sorting">Created By &nbsp; <i class="fa fa-sort"></i></th>
            <th>Actions</th>
        </thead>
    
        <tbody>

            {% for user in users %}
                <tr>
                    <td data-column-int="1">
                        <div style="display: none">
                            <input type="checkbox" class="checkbox-remove-user-to-group" id="checkbox-remove-user-to-group-{{ user.pk }}">
                        </div>
                        {{ user.pk }}
                    </td>
                    <td data-column-int="2">
                        {{ user.first_name }}
                    </td>
                    <td data-column-int="3">
                        {{ user.last_name }}
                    </td>
                    <td data-column-int="4">
                        {{ user.email }}
                    </td>
                    <td data-column-int="5">
                        {{ user.get_user_type_display }}
                    </td>
                    <td data-column-int="6">
                        <span class="pull-right" style="color: transparent; width: 0 !important; height: 0; overflow: hidden;">
                            {{ user.is_active }}
                        </span>

                        <span class="pull-left">
                            {{ user.active_nice_display|safe }}
                        </span>
                    </td>
                    <td data-column-int="7">
                        <span class="pull-right" style="color: transparent; width: 0 !important; height: 0; overflow: hidden;">
                            {{ user.get_created|date_to_seconds }}
                        </span>

                        <span class="pull-left">
                            {% if user.get_created %}
                                {{ user.get_created }}
                            {% else %}
                                n/a
                            {% endif %}
                        </span>
                    </td>
                    <td data-column-int="8">
                        {{ user.created_by.get_full_name }}
                    </td>
                    <td>
                        <a href="{% url 'users-view' user.pk %}"><i class="fa fa-user"></i> View User</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <em><small>Please select from the search criteria above to find users.</small></em>
{% endif %}


<script>
    $(function () {
        $(".user-list-sorting").click(function() {
            var direction = 'asc';
            var classes = $(this).attr('class');

            if (classes.indexOf("sorting_asc") >= 0)
            {
                direction = 'descending';
                $("#order_page_by_direction").val('desc');
                $(this).addClass('sorting_desc').removeClass('sorting');
            }
            else
            {
                $(".sorting_desc").removeClass('sorting_desc').addClass('sorting');
            }

            if (classes.indexOf("sorting_desc") >= 0)
            {
                $(this).addClass('sorting_asc').removeClass('sorting_desc');
                direction = 'asc';
                $("#order_page_by_direction").val('asc');
            }
            else
            {
                $(".sorting_asc").removeClass('sorting_asc').addClass('sorting');

            }

            $(this).addClass('sorting_asc').removeClass('sorting');

            var check_class = $(this).attr('class');
            if (check_class == 'sorting_asc')
            {
                direction = 'descending';
                $("#order_page_by_direction").val('desc');
                $(this).removeClass('sorting_asc').addClass('sorting_desc');
            }

            var table_column_field = $(this).attr('data-column');
            $("#order_page_by").val(table_column_field);

            var table_column = $(this).attr('data-column-int');

            sort_user_details_table(table_column, direction);

        });
    });

    function sort_user_details_table(table_column, direction)
    {
        var $table=$('#user-list-details');
        var rows = $table.find('tbody tr').get();

        $.each(rows, function(index, row) {
            var td_value = $(row).find("td[data-column-int="+table_column+"]").text().replace(/ +(?= )/g,'').trim().toLowerCase();
            $(this).attr('sorting-by', td_value);
        });

        rows.sort(function(a, b) {

            var keyA = $(a).attr('sorting-by');
            var keyB = $(b).attr('sorting-by');

            var keyAint = parseFloat(keyA);
            var keyBint = parseFloat(keyB);

            if ($.isNumeric(keyAint) && $.isNumeric(keyBint))
            {
                keyA = keyAint;
                keyB = keyBint;
            }

            if (direction == 'asc')
            {
                if (keyA < keyB) return -1;
                if (keyA > keyB) return 1;
            }
            else
            {
                if (keyA < keyB) return 1;
                if (keyA > keyB) return -1;
            }

            return 0;
        });

        $.each(rows, function(index, row) {
            $table.children('tbody').append(row);
        });
    }
</script>