{% extends "base_internal.html" %}

{% block title %}{{ block.super }} - Display Suite Admin{% endblock %}

{% block nav %}
    {% include "includes/nav.html" with link='canvas' %}
{% endblock %}

{% block breadcrumbs %}
    <script src="/static/common/js/lemmon-slider.js"></script>
    {{ block.super }}

    <a class="header-breadcrumb active" href="{% url 'canvas-home'  %}">
        Display Suites

        <i class="fa fa-angle-double-right"></i>
    </a>


    <a class="header-breadcrumb" href="{{ project.get_absolute_url }}">
        {{ project.name }}
        <i class="fa fa-angle-double-right"></i>
    </a>


    &nbsp;

    {% include "canvas/includes/project_selector.html" %}
{% endblock %}

{% block content %}{% endblock %}