{% extends "canvas/canvas_edit_base.html" %}

{% load canvas_tags %}

{% block canvas_details %}
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-head">
                <ul class="nav nav-tabs" data-toggle="tabs" id="device-list">
                    <li class="active">
                        <a data-toggle="pill" href="#controller">Controller</a>
                    </li>

                    {% if selected_canvas %}
                        <li onclick="window.location.href='{% url 'canvas-edit-canvasing-presenter' project.pk selected_canvas.pk %}'">
                            <a href="{% url 'canvas-edit-canvasing-presenter' project.pk selected_canvas.pk %}">Presenter</a>
                        </li>
                    {% endif %}
                </ul>
            </div><!--end .card-head -->
            <div class="card-body tab-content">
                <div id="controller" class="tab-pane fade in active">
                    <form action method="post">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4">

                                <label>Canvas Name</label>
                                <input type="text" name="canvas_name" id="controller-canvas-name" class="form-control" value="{{ project|canvas_name:selected_canvas }}">

                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div style="padding-top: 25px;">
                                    <button type="submit" class="btn btn-sm btn-default"><i class="fa fa-save"></i></button>
                                </div>
                            </div>
                        </div>
                        <br><br>

                        {% if selected_canvas %}
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-xs-12">

                                <label>Devices</label>
                                {% include "canvas/includes/devices/device_slider.html" with device_slider_id="presenter-devices" device_list=device_list %}

                            </div>
                        </div>
                        <br><br>

                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-xs-12">

                                    <div class="well">
                                        <ul style="min-height:160px; max-height:200px; border-radius: 5px; ">
                                            {% for screen in screen_list %}
                                                <li id="device-item-{{ screen.pk }}" class="image-slider-list dark-grey-square">
                                                    <div style="width: 120px; height: 120px; float: left">
                                                        <small><em>{{ screen.screen_name }}</em></small>
                                                        <img src="/static/common/img/placeholder_canvas.png" style="width: 80px;margin: 5px; z-index: 11; margin-top: 10px; margin-bottom: 2px;">
                                                        <br><br>
                                                        <input type="text" value="{{ screen.screen_name }}" class="form-control">
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <a class="btn btn-sm btn-default"><i class="fa fa-plus"></i> Add Screen</a>
                                    <br><br>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-xs-12">

                                        <div class="well">
                                            <div class="row">
                                                <div class="col-lg-8 col-sm-8 col-xs-8">
                                                    <label>Screen name</label>
                                                    <input type="text" class="form-control" value="{{ screen_list.0.screen_name }}">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <br>
                                                    <label>Screen resolution</label>
                                                    <div class="row" style="padding-top: 28px;">
                                                        <div class="col-lg-6 col-sm-6 col-xs-6">
                                                            <label>Width</label>
                                                        </div>
                                                        <div class="col-lg-6 col-sm-6 col-xs-6">
                                                            <label><input type="text" class="form-control"></label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-sm-6 col-xs-6">
                                                            <label>Height</label>
                                                        </div>
                                                        <div class="col-lg-6 col-sm-6 col-xs-6">
                                                            <label><input type="text" class="form-control"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-sm-6 col-xs-6">
                                                            <label>No of devices</label>
                                                        </div>
                                                        <div class="col-lg-6 col-sm-6 col-xs-6">
                                                            <label><input type="text" class="form-control"></label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-sm-6 col-xs-6">
                                                            <label>Left</label>
                                                        </div>
                                                        <div class="col-lg-6 col-sm-6 col-xs-6">
                                                            <label><input type="text" class="form-control"></label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-sm-6 col-xs-6">
                                                            <label>Right</label>
                                                        </div>
                                                        <div class="col-lg-6 col-sm-6 col-xs-6">
                                                            <label><input type="text" class="form-control"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                <button type="submit" class="btn btn-process">Save</button>
                        {% else %}
                            <br><br><br><br>
                        {% endif %}

                        </div>
                    </div>
                    </form>
                </div>
            </div><!--end .card-body -->
        </div>
    </div>

{% endblock %}