{% extends "canvas/base.html" %}

{% load canvas_tags %}

{% block title %}{{ block.super }} - My Account{% endblock %}

{% block nav %}
    {% include "includes/nav.html" with link='canvas' l2="canvas" %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb not-active" href="#">
        Canvas
    </a>
{% endblock %}


{% block content %}
    <div class="row">

        <div class="col-sm-10">

                <h2>Preview Published Canvas Details: {{ project|canvas_name:canvas }}</h2>


                <div class="row">
                <div class="col-sm-12">
                    <ul id="sortable1" class="droptrue" style="list-style: none;">
                        {% for menu in menus %}
                            <li class="droptrue" id="section-{{ i }}">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="card card-underline">
                                            <div class="card-head style-accent-dark" style="max-height: 50px !important;">
                                                <header>
                                                    {{ menu.name }}
                                                </header>

                                                <div class="tools">
                                                    <div class="btn-group">
                                                        <a class="btn btn-icon-toggle btn-collapse"  data-toggle="tooltip" data-position="top" title="Toggle content view"><i class="fa fa-angle-down"></i></a>
                                                        <a class="btn btn-icon-toggle btn-close" data-toggle="tooltip" data-position="top" title="Hide from this Publish"><i class="fa fa-close"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body" style="padding: 0; padding-left: 15px; padding-right: 15px;">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3">
                                                        <b>Wireframe</b>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3">
                                                        <b>Template Type</b>
                                                    </div>
                                                    <div class="col-lg-2 col-md-3">
                                                        <b>Assets</b>
                                                    </div>
                                                    <div class="col-lg-1 col-md-1">
                                                        <b>View</b>
                                                    </div>

                                                </div>
                                                <div class="row" style="padding: 10px;">
                                                    <input type="hidden" id="wireframe_controller_in_canvas" value="{{ main_wireframe_controller }}">
                                                    <ul class="non-sortable">
                                                        {% for list_item in request|one_more:project|canvas_publish_list_item:menu %}

                                                            <li class="ui-state-default ui-state-not-sort">
                                                                <input type="hidden" id="template_in_canvas-{{ list_item.wireframe_id }}" class="template_in_canvas" value="{{ list_item.template_id }}">
                                                                <input type="hidden" id="wireframe_in_canvas-{{ list_item.wireframe_id }}" class="wireframe_in_canvas" value="{{ list_item.wireframe_id }}">

                                                                <div class="row">
                                                                    <div class="col-lg-3 col-md-3">
                                                                        {{ list_item.name }}
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-3">
                                                                        {{ list_item.template_name }}
                                                                    </div>
                                                                    <div class="col-lg-2 col-md-3">
                                                                        {{ list_item.asset_count }} &nbsp;
                                                                        <input type="hidden" id="total_assets_{{ list_item.wireframe_id }}" value="{{ list_item.asset_count }}">
                                                                    </div>
                                                                    <div class="col-lg-1 col-md-1">
                                                                        <a onclick="show_wireframe_template_assets({{ list_item.wireframe_id }}, {{ list_item.template_id }}, {{ canvas.pk }})">
                                                                            <i class="fa fa-eye"></i>
                                                                        </a>
                                                                    </div>

                                                                    <div class="col-lg-1 col-md-1">

                                                                    </div>
                                                                </div>
                                                            </li>

                                                            <div class="row" style="display: none; margin-left: 0; max-width: 98%; height: 240px; overflow: auto; min-height: 120px;word-break: break-all" id="list-assets-{{ list_item.wireframe_id }}">
                                                                <input type="hidden" id="thumbnail_portrait_height-{{ list_item.wireframe_id }}"
                                                                       value="{{ list_item.thumbnail_image_display_dict.thumbnail_portrait_height }}">

                                                                <input type="hidden" id="thumbnail_portrait_width-{{ list_item.wireframe_id }}"
                                                                       value="{{ list_item.thumbnail_image_display_dict.thumbnail_portrait_width }}">

                                                                <input type="hidden" id="thumbnail_landscape_height-{{ list_item.wireframe_id }}"
                                                                       value="{{ list_item.thumbnail_image_display_dict.thumbnail_landscape_height }}">

                                                                <input type="hidden" id="thumbnail_landscape_width-{{ list_item.wireframe_id }}"
                                                                       value="{{ list_item.thumbnail_image_display_dict.thumbnail_landscape_width }}">


                                                                <div id="canvas-assets-{{ list_item.wireframe_id }}">
                                                                    Loading...
                                                                </div>

                                                            </div>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>


        </div><!--end .card-body -->


        <div class="col-sm-2">
            <h2>Actions</h2>
            <ul class="action-list">

                <li>
                    <a href="{% url 'canvas-publish' project.pk canvas.pk %}">
                        Publish Templates or Canvas <i class="fa fa-arrow-right" data-toggle="tooltip" data-position="top" title="View Published Content " ></i>
                    </a>
                </li>

                <li>
                    <a href="/projects/{{ project.pk }}/filter/values/Content/">
                        View Content Data
                    </a>
                </li>

            </ul>
        </div>
    </div>

    <script>
    $(function() {

     $('a.hovering').on({
        mouseover: function(e){
            var xOffset = 10;
            var yOffset = 30;

            this.t = this.title;
            this.title = "";
            var c = (this.t != "") ? "<br/>" + this.t : "";

            var image_href = this.href;
            image_href = image_href.replace("localhost:8000/", "").replace("52.64.212.144/", "").replace("cmsstaging.displaysweet.com/", "").replace("admin.displaysweet.com/", "");

            console.log('image_href: ', image_href);

            $("body").append("<p id='preview'><img src='" + image_href + "' alt='Image preview: "+image_href+"' /></p><p>"+image_href+"</p>");
            $("#preview")
                .css("top", (e.pageY - xOffset) + "px")
                .css("left", (e.pageX + yOffset) + "px")
                .fadeIn("fast");
        },
         mouseleave: function(){
            this.title = this.t;
            $("#preview").remove();
        },
        click: function(e){
            e.preventDefault();
        }
    });


    });


    function show_wireframe_template_assets(wireframe_id, template_id, canvas_id)
        {
            $('#list-assets-'+wireframe_id).toggle('slow');

            $.ajax({
                url: '/get_canvas_wireframe_template_published_assets/{{ project.pk }}/',
                type: 'GET',
                data: {
                    'template_id': template_id, 'wireframe_id': wireframe_id,
                    'canvas_id': canvas_id
                },
                success: function (data) {
                    $("#canvas-assets-"+ wireframe_id).html(data.file_rendered);
                }
            });
        }
</script>

{% endblock %}