{% extends "canvas/base.html" %}

{% load canvas_tags %}

{% block title %}{{ block.super }} - My Account{% endblock %}

{% block nav %}
    {% include "includes/nav.html" with link='canvas' l2="canvas" %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb not-active" href="#">
        Canvas
    </a>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-xs-10">
            <h2>Publishing a Canvas: {{ project|canvas_name:canvas }}</h2>

            <div class="well col-sm-3">
                <label>Skip All Movie Files?</label>
                <input type="checkbox" id="skip-all-movie-files" checked>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-underline">
                        <div class="card-head style-accent-light" style="max-height: 50px !important;" >
                            <header>
                                Publish Location Details
                            </header>

                            <div class="tools">
                                <div class="btn-group">
                                    <a onclick="$('#publishing-information').toggle();" class="btn btn-icon-toggle"  data-toggle="tooltip" data-position="top" title="Toggle content view"><i class="fa fa-angle-down"></i></a>
                                </div>
                            </div>
                        </div>
                        <div id="publishing-information" class="card-body" style="padding: 0; padding-left: 15px; padding-right: 15px; display: none;">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <h4>Publishing Location</h4>
                                    <p> <em>Please note: this is the location that this canvas will be published to, creating the wireframe and template
                                        folders underneath as well as updating the content table.
                                        Be careful changing this information.</em></p>
                                        <input style="width: 600px;" type="text" id="publishing-location-details" value="{{ publishing_location_for_project }}" onfocus="$('#save-new-path').show()">
                                        <br>
                                        <em style="font-weight: 600">Hint: {{ publishing_path }}</em>

                                        <br><br>
                                        <button style="display: none;" id="save-new-path" onclick="save_new_project_publish_path();" class="btn btn-sm btn-danger">Update publish path</button>

                                        <br><br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="last-publishing-message" style="display: none;">
                <div class="col-sm-12">
                    <div class="card card-underline">
                        <div class="card-head style-accent-bright" style="max-height: 50px !important;" >
                            <header>
                                Last Publish Message
                            </header>

                            <div class="tools">
                                <div class="btn-group">
                                    <a onclick="$('#show-message-information').toggle();" class="btn btn-icon-toggle"  data-toggle="tooltip" data-position="top" title="Toggle content view"><i class="fa fa-angle-down"></i></a>
                                </div>
                            </div>
                        </div>
                        <div id="show-message-information" class="card-body" style="padding: 0; padding-left: 15px; padding-right: 15px; display: none;">
                            <div class="row" style="min-height: 100px; max-height: 300px; overflow: auto;">
                                <br><br>
                                <div class="col-lg-12 col-md-12" id="show-last-message">

                                </div>
                                <br><br><br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <ul id="sortable1" class="droptrue" style="list-style: none;">
                        {% for menu in menus %}
                            <li class="droptrue" id="section-{{ i }}">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="card card-underline">
                                            <div class="card-head style-accent-light" style="max-height: 50px !important;">
                                                <header>
                                                    {{ menu.name }}
                                                </header>

                                                <div class="tools">
                                                    <div class="btn-group">
                                                        <a class="btn btn-icon-toggle btn-collapse"  data-toggle="tooltip" data-position="top" title="Toggle content view"><i class="fa fa-angle-down"></i></a>
                                                        <a class="btn btn-icon-toggle btn-close" data-toggle="tooltip" data-position="top" title="Hide from this Publish"><i class="fa fa-close"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body" style="padding: 0; padding-left: 15px; padding-right: 15px;">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3">
                                                        <b>Wireframe</b>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3">
                                                        <b>Template Type</b>
                                                    </div>
                                                    <div class="col-lg-2 col-md-3">
                                                        <b>Assets</b>
                                                    </div>
                                                    <div class="col-lg-1 col-md-1">
                                                        <b>View</b>
                                                    </div>
                                                    <div class="col-lg-2 col-md-1">
                                                        <b>Publish</b>
                                                    </div>

                                                    <div class="col-lg-1 col-md-1">
                                                        <b>Edit</b>
                                                    </div>

                                                </div>
                                                <div class="row" style="padding: 10px;">
                                                    <input type="hidden" id="wireframe_controller_in_canvas" value="{{ main_wireframe_controller }}">
                                                    <ul class="non-sortable">
                                                        {% for list_item in request|one_more:project|canvas_publish_list_item:menu %}

                                                            <li class="ui-state-default ui-state-not-sort">
                                                                <input type="hidden" id="template_in_canvas-{{ list_item.wireframe_id }}" class="template_in_canvas" value="{{ list_item.template_id }}">
                                                                <input type="hidden" id="wireframe_in_canvas-{{ list_item.wireframe_id }}" class="wireframe_in_canvas" value="{{ list_item.wireframe_id }}">

                                                                <div class="row">
                                                                    <div class="col-lg-3 col-md-3">
                                                                        {{ list_item.name }}
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-3">
                                                                        {{ list_item.template_name }}
                                                                    </div>
                                                                    <div class="col-lg-2 col-md-3">
                                                                        {{ list_item.asset_count }} &nbsp;
                                                                        <input type="hidden" id="total_assets_{{ list_item.wireframe_id }}" value="{{ list_item.asset_count }}">
                                                                    </div>
                                                                    <div class="col-lg-1 col-md-1">
                                                                        <a onclick="show_wireframe_template_assets({{ list_item.wireframe_id }}, {{ list_item.template_id }}, {{ canvas.pk }})">
                                                                            <i class="fa fa-eye"></i>
                                                                        </a>
                                                                    </div>

                                                                    <div class="col-lg-2">
                                                                        <div id="publish-tab-{{ list_item.wireframe_id }}">
                                                                            <a onclick="publish_template({{ list_item.wireframe_id }}, {{ list_item.template_id }}, {{ canvas.pk }})">
                                                                                <i class="fa fa-upload" data-toggle="tooltip" data-position="top" title="Publish this template"></i>
                                                                            </a>
                                                                        </div>

                                                                        <div id="loading-gif-{{ list_item.wireframe_id }}" style="display: none; height: 14px;">
                                                                            <img src="/static/common/img/loading-trans.gif" style="height: 20px;">
                                                                        </div>

                                                                        <div id="publish-view-{{ list_item.wireframe_id }}" style="display: none;">
                                                                            <a href="#">
                                                                                <i class="fa fa-check"></i>
                                                                            </a>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-lg-1 col-md-1">

                                                                    </div>
                                                                </div>
                                                            </li>

                                                            <div class="row" style="display: none; margin-left: 0; max-width: 98%; height: 240px; overflow: auto; min-height: 120px;word-break: break-all" id="list-assets-{{ list_item.wireframe_id }}">
                                                                <input type="hidden" id="thumbnail_portrait_height-{{ list_item.wireframe_id }}"
                                                                       value="{{ list_item.thumbnail_image_display_dict.thumbnail_portrait_height }}">

                                                                <input type="hidden" id="thumbnail_portrait_width-{{ list_item.wireframe_id }}"
                                                                       value="{{ list_item.thumbnail_image_display_dict.thumbnail_portrait_width }}">

                                                                <input type="hidden" id="thumbnail_landscape_height-{{ list_item.wireframe_id }}"
                                                                       value="{{ list_item.thumbnail_image_display_dict.thumbnail_landscape_height }}">

                                                                <input type="hidden" id="thumbnail_landscape_width-{{ list_item.wireframe_id }}"
                                                                       value="{{ list_item.thumbnail_image_display_dict.thumbnail_landscape_width }}">


                                                                <div id="canvas-assets-{{ list_item.wireframe_id }}">
                                                                    Loading...
                                                                </div>

                                                            </div>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xs-2">
            <h2>Actions</h2>
            <ul class="action-list">

                <li>
                    <a onclick="publish_entire_canvas({{ canvas.pk }});">
                        Publish Entire Canvas <i class="fa fa-arrow-right" data-toggle="tooltip" data-position="top" title="Publish Entire Canvas" ></i>
                    </a>
                </li>

                <li>
                    <a href="{% url 'canvas-published-preview' project.pk canvas.pk %}">
                        View Published Content <i class="fa fa-arrow-right" data-toggle="tooltip" data-position="top" title="View Published Content" ></i>
                    </a>
                </li>

                <li>
                    <a href="/projects/{{ project.pk }}/filter/values/Content/">
                        View Content Data
                    </a>
                </li>

            </ul>

        </div>
    </div>



    <script>
        function save_new_project_publish_path()
        {
            var publish_path = $("#publishing-location-details").val();
            $.ajax({
                url: '/save_project_publish_path/{{ project.pk }}/',
                type: 'GET',
                data: {'publish_path': publish_path},
                success: function(data) {
                    $().toastmessage('showToast', {
                        text: 'Project publishing path saved successfully. ',
                        sticky: false,
                        position : 'top-left',
                        type     : 'success',
                        closeText: ''}
                    );

                    $('#save-new-path').hide();
                    $("#publishing-information").hide('slow');
                }
            });
        }

        function publish_entire_canvas(canvas_id)
        {
            $("#last-publishing-message").hide();
            $("#show-last-message").html('');

            var skip_movies = $("#skip-all-movie-files").is(":checked");

            var wireframes = $(".wireframe_in_canvas");
            var wireframe_controller_in_canvas = $("#wireframe_controller_in_canvas").val();

            $.ajax({
                url: '/torch_canvas_content_table/{{ project.pk }}/',
                type: 'GET',
                data: {'canvas_id': canvas_id, 'skip_movies': skip_movies},
                success: function(data) {

                    $(wireframes).each(function() {
                        var wireframe_id = $(this).val();
                        var template_id = $("#template_in_canvas-"+ wireframe_id).val();
                        var wireframe_controller_in_canvas = $("#wireframe_controller_in_canvas").val();

                        publish_template(wireframe_id, template_id, canvas_id);

                    });
                }
            });

        }

        function show_wireframe_template_assets(wireframe_id, template_id, canvas_id)
        {
            $('#list-assets-'+wireframe_id).toggle('slow');

            $.ajax({
                url: '/get_canvas_wireframe_template_assets/{{ project.pk }}/',
                type: 'GET',
                data: {
                    'template_id': template_id, 'wireframe_id': wireframe_id,
                    'canvas_id': canvas_id
                },
                success: function (data) {
                    $("#canvas-assets-"+ wireframe_id).html(data.file_rendered);
                }
            });
        }


        function publish_template(wireframe_id, template_id, selected_canvas_id)
        {
               console.log('at publish_template', wireframe_id, template_id, selected_canvas_id);

                $("#publish-tab-"+wireframe_id).hide();
                $("#loading-gif-"+wireframe_id).show();
                $("#publish-view-"+wireframe_id).hide();


                var skip_movies = $("#skip-all-movie-files").is(":checked");

                $.ajax({
                    url: '/publish_canvas_template/{{ project.pk }}/',
                    type: 'GET',
                    data: {'template_id': template_id, 'wireframe_id': wireframe_id,
                            'selected_canvas_id': selected_canvas_id, 'skip_movies': skip_movies},
                    success: function(data) {
                        console.log('YAYE!', arguments[0]);

                        var message = data.publishing_message;
                        $("#show-last-message").append(message);
                        $("#last-publishing-message").show();

                        $().toastmessage('showToast', {
                            text: 'Template successfully published',
                            sticky: false,
                            position : 'top-right',
                            type     : 'notice',
                            closeText: ''}
                        );

                        $("#loading-gif-"+wireframe_id).hide();
                        $("#publish-view-"+wireframe_id).show();


                        setTimeout( function () {
                            $("#publish-tab-"+wireframe_id).show();
                            $("#publish-view-"+wireframe_id).children().css( "color", "green" ).css({
                                  "background-color": "yellow",
                                  "font-weight": "bolder",
                                  "float": "left",
                                  "margin-left": "30px",
                                  "margin-top": "-10px"

                                });
                            $("#loading-gif-"+wireframe_id).hide()

                        }, 1000 );

                        return true;

                    },
                    error: function() {
                        console.log('AWWW!');
                    },
                    progress: function(e) {
                        console.log('progreaa!');
                        if(e.lengthComputable) {
                            var pct = (e.loaded / e.total) * 100;
                            console.log(pct);
                            $('#prog')
                                .progressbar('option', 'value', pct)
                                .children('.ui-progressbar-value')
                                .html(pct.toPrecision(3) + '%')
                                .css('display', 'block').attr('aria-valuenow', pct);
                        } else {
                            console.warn('Content Length not reported!');
                        }
                    },
                    complete: function() {
                        setTimeout( function () {
                            $("#publish-tab-"+wireframe_id).show();
                            $("#publish-view-"+wireframe_id).children().css( "color", "green" ).css({
                                  "background-color": "yellow",
                                  "font-weight": "bolder",
                                  "float": "left",
                                  "margin-left": "30px",
                                  "margin-top": "-10px"

                                });
                            $("#loading-gif-"+wireframe_id).hide()

                        }, 1000 );
                    }
                });



            setTimeout( function () {
                $("#publish-tab-"+wireframe_id).show();
                $("#publish-view-"+wireframe_id).children().css( "color", "green" ).css({
                      "background-color": "yellow",
                      "font-weight": "bolder",
                      "float": "left",
                      "margin-left": "30px",
                      "margin-top": "-10px"

                    });
                $("#loading-gif-"+wireframe_id).hide()

            }, 90000 );

        }

    </script>

{% endblock %}