{% extends "canvas/base.html" %}

{% load canvas_tags %}

{% block title %}{{ block.super }} - My Account{% endblock %}

{% block nav %}
    {% include "includes/nav.html" with link='canvas' l2="canvas" %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}

    <a class="header-breadcrumb not-active" href="#">
        Canvas

        <i class="fa fa-angle-double-right"></i>
    </a>


{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card card-bordered style-default-dark">
                <div class="card-head">
                    <header>Select a Canvas</header>
                    <div class="tools">
                        <div class="btn-group">
                            <a class="btn btn-icon" data-toggle="tooltip" data-position="top"
                               title="Add Canvas" href="{% url 'canvas-canvasing' project.pk %}?new-canvas"> <i class="fa fa-plus"></i>
                            </a>

                            <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </div>
                </div>

                <div class="card-body style-default-bright">
                    <table class="table">
                         {% for can in canvases %}
                        <tr  id="canvas-row-{{ can.pk }}">
                            <td>
                                {{ project|canvas_name:can }}
                            </td>
                            <td>
                                <a href="{% url 'canvas-edit-canvasing' project.pk can.pk  %}"  class="link fa-stack fa-lg" data-toggle="tooltip" data-placement="top"
                                       title="Edit Canvas">
                                  <i class="fa fa-circle fa-stack-2x"></i>
                                  <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                </a>
                            </td>
                            <td>
                                <a onclick="delete_canvas({{ can.pk }});" class="link fa-stack fa-lg" data-toggle="tooltip" data-placement="top"
                                       title="Delete Wireframe">
                                  <i class="fa fa-circle fa-stack-2x"></i>
                                  <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                </a>
                            </td>
                            <td>
                                <a  onclick='window.location.href="/canvas/{{ project.pk }}/publish/canvas/{{ can.pk }}/";' class="link fa-stack fa-lg" data-toggle="tooltip" data-placement="top"
                                       title="Go to Publish Canvas">
                                  <i class="fa fa-circle fa-stack-2x"></i>
                                  <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>





    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div id="show-canvas-tabs" style="{% if not selected_canvas %}display: none;{% endif %}">
                {% block canvas_details %}
                    block
                {% endblock %}
            </div>
        </div>
    </div>

    <div id="new-screen-html" style="display: none;">
        <li class="image-slider-list" style="display: inline-block; border: 1px solid grey; text-align: center; padding: 5px;">
            <div style="width: 120px; height: 120px; float: left">
                <img src="/static/common/img/placeholder_canvas.png" style="width: 100px; z-index: 11">
                <br><br><br>
                <input type="text" value="" class="form-control">
            </div>
        </li>
    </div>

    <script>
        $(function() {
            var tech = getUrlParameter('new-canvas');
            if (tech)
            {
                $("#show-canvas-tabs").show();
                go_to_add_new_canvas_name();
            }
        });

        function delete_canvas(canvas_id)
        {
            if (confirm("Are you sure you wish to delete this canvas?"))
            {
                window.location.href="/canvas/{{ project.pk }}/remove/Canvases/row/delete/"+canvas_id+"/instant/";
            }
        }

        function go_to_add_new_canvas_name()
        {
            $("html, body").animate({scrollTop: $('#controller-canvas-name').offset().top -50 }, 2000);
            $('#controller-canvas-name').effect( "highlight", {color:"#FFEFD5"}, 3000 );
            $('#controller-canvas-name').focus();
            $('#controller-canvas-name').val('');
            $('#controller-canvas-name').attr('placeholder', 'Please enter a new canvas name');
        }

        function save_canvas_name(canvas_name_id)
        {
            var canvas_name = $("#"+canvas_name_id).val();

            if (canvas_name)
            {
                if (canvas_name == "Enter new canvas name") {
                }
                else {
                    $.ajax({
                        url: '/save_canvas_name/{{ project.pk }}/',
                        type: 'GET',
                        data: {
                            'canvas_name': canvas_name, 'selected_canvas': '{{ selected_canvas }}',
                            success: function (data) {

                                $().toastmessage('showToast', {text : "Canvas details saved", stayTime: 5000, type : 'success'});

                                if (data && data.canvas_id)
                                {
                                    window.location.href='/canvas/edit/canvas/'+data.canvas_id+'/';
                                }
                            }
                        }
                    });
                }
            }
        }
    </script>
    </div>

{% endblock %}