{% extends "canvas/canvas_edit_base.html" %}

{% load canvas_tags %}

{% block canvas_details %}
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-head">
                <ul class="nav nav-tabs" data-toggle="tabs" id="device-list">
                    <li>
                        <a href="{% url 'canvas-edit-canvasing' project.pk selected_canvas.pk %}">Controller</a>
                    </li>
                     <li class="active">
                        <a data-toggle="pill" href="#presenter">Presenter</a>
                    </li>
                </ul>
            </div><!--end .card-head -->
            <div class="card-body tab-content">
                <div id="presenter" class="tab-pane active fade in ">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">

                                <label>Canvas Name</label>
                                <input type="text" name="canvas_name" id="presenter_canvas_name" class="form-control" value="{{ project|canvas_name:selected_canvas }}">

                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div style="padding-top: 25px;">
                                <a class="btn" onclick="save_canvas_name('presenter_canvas_name');"><i class="fa fa-save"></i></a>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-xs-12">
                            <div class="well">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-xs-12">

                                <label>Devices</label>
                                {% include "canvas/includes/devices/device_slider.html" with device_slider_id="presenter-devices" %}

                        </div>
                    </div>
                    <br><br>
                    <div class="well">

                        <div class="row">
                            <div class="col-lg-6 col-sm-6 col-xs-6">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <label>Device</label>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-xs-6">
                                        <label><input type="text" class="form-control"></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <label>No</label>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-xs-6">
                                        <label><input type="text" class="form-control"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6 col-xs-6">
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12 col-xs-12">
                                        <h3>Canvas Resolution</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <br>
                                    <div class="col-xs-3">
                                        <label>Width</label>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-xs-6">
                                        <label><input type="text" class="form-control"></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <label>Height</label>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-xs-6">
                                        <label><input type="text" class="form-control"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-xs-6">
                                <div class="row">
                                    <br>
                                    <div class="col-xs-3">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-xs-6">
                                        <label><input type="text" class="form-control"></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <label>Left</label>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-xs-6">
                                        <label><input type="text" class="form-control"></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <label>Top</label>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-xs-6">
                                        <label><input type="text" class="form-control"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-process">Save</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}