{% extends "canvas/base.html" %}

{% load canvas_tags %}

{% block title %}{{ block.super }} - Wireframes{% endblock %}

{% block nav %}
    {% include "includes/nav.html" with link='canvas' l2="containers" %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}

    <a class="header-breadcrumb not-active" href="#">
        Containers
        <i class="fa fa-angle-double-right"></i>
    </a>

{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-lg-6 col-sm-6 col-xs-6">
            <div class="card card-underline">
                <div class="card-head style-primary-dark">
                    <header>Select Container to Edit</header>

                    <div class="tools">
                        <div class="btn-group">
                            <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down white"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    {% for row in main_containers %}
                        <a href="/canvas/containers/{{ project.pk }}/{{ row.pk }}/">{{ project|container_name:row }}</a> <br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-sm-8 col-xs-8">
            <form action method="post" id="main-form">
                {% csrf_token %}

                    <div class="card">
                        <div class="card-body no-padding">
                            <div class="alert alert-callout alert-info no-margin">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <table class="table" style="border: 0;">
                                            <tbody>
                                                <tr>
                                                    <th width="200px;">Container Name</th>
                                                    <td>
                                                        <input type="text" id="container-name" name="wireframe_main_name" class="form-control input-sm" value="{{ project|container_name:this_template }}">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div><!--end .card-body -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <h3>Section title</h3>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <h3>Label</h3>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <h3>Input Type</h3>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-1">
                            <h3>Input Value</h3>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1">
                        </div>
                    </div>

                    <ul id="sortable1" class="droptrue" style="list-style: none;">
                         {% for menu in menus %}
                            {% include "canvas/includes/containers/edit.html" with i=menu.pk menu=menu %}
                        {% endfor %}
                    </ul>

                    <div class="pull-left">
                        <br>
                        <button type="button" id="add-section" class="btn-danger btn"><i class="fa fa-plus"></i> </button>
                    </div>


                    <div class="pull-right">
                        <br>
                        <button type="button" onclick="run_update_before_submit();" id="submit-button" class="btn btn-danger">Save</button>
                    </div>

            </form>
        </div>
    </div>



    <div id="new_row_list_item" style="display: none;">{% include "canvas/includes/containers/list.html" %}</div>
    <div id="section_item" style="display: none;">{% include "canvas/includes/containers/section.html" %}</div>

    <input type="hidden" id="section_counter" value="3">

    <div id="removed_containers" style="display: none;">

    </div>

    <div id="removed_sub_containers" style="display: none;">

    </div>

    <script>

        $(function() {
            $("html, body").animate({scrollTop: $('#container-name').offset().top -100 }, 2000);

            $("#add-section").click(function() {
                var sections = $("#section_counter").val();
                var total_sections = parseInt(sections) + 1;
                $("#section_counter").val(total_sections);

                var section_item_html = $("#section_item").html().replace('id="section-', 'id="section-'+total_sections+'-');

                $(this).closest('input.parent-menu').val();

                $("#sortable1").closest( "ul.droptrue" ).append(
                  section_item_html
                );
            });

        });


     function run_update_before_submit()
     {
         //remove deleted wireframes first
         var removed_containers = $("#removed_containers").text();
         var removed_sub_containers = $("#removed_sub_containers").text();

         if (removed_containers || removed_sub_containers)
         {
             $.ajax({
                url: '/remove_containers/{{ project.pk }}/',
                type: 'GET',
                data: {'removed_containers': removed_containers, 'removed_sub_containers': removed_sub_containers},
                success: function (data) {

                }
            });

         }

         var i = 0;
         $("#sortable1 li.droptrue").each(function() {

             i = i + 1;
             att_id = $(this).attr('id');
             var new_id = att_id.replace("section-", "");
             $("#section-order-"+new_id).val(i);

             var name = '';
             name = $(this).find('.wireframe-main-menu');

             if (att_id.indexOf("SECTION_ID") >= 0)
             {
                 $(this).attr('id', 'section-'+i);
                 name.attr('id', 'main-menu-section-'+i);
                 name.attr('name', 'main-menu-section-'+i);

                 name = $(this).find("select.section-width");
                 name.attr('id', 'main-section-'+i+'-width');
                 name.attr('name', 'main-section-'+i+'-width');
             }

              var w = 0;

             $(this).find('li.sortlist').each(function() {
                 w =w+1;
                 var name = '';
                 att_id = $(this).attr('id');

                if (att_id == "wire-list-WIRE_ID") {

                    var test_li_id = $(this).parent().closest('li').attr('id');
                    $(this).attr('id', 'wire-list-'+w);

                    name = $(this).find('input.wireframe-sub-title');
                    var sub_new_id = 'wireframe-' + test_li_id + '-sub-menu-' + w;
                    console.log(sub_new_id);

                    name.attr('id', 'wireframe-' + test_li_id + '-sub-menu-' + w);
                    name.attr('name', 'wireframe-' + test_li_id + '-sub-menu-' + w);

                    name = $(this).find("select.input-type");
                    sub_new_id = 'wireframe-' + test_li_id + '-input-type-' + w;
                    console.log(sub_new_id);

                    name.attr('id', 'wireframe-' + test_li_id + '-input-type-' + w);
                    name.attr('name', 'wireframe-' + test_li_id + '-input-type-' + w);

                    name = $(this).find('input.section-initial-value');
                    sub_new_id = 'wireframe-' + test_li_id + '-initial-value-' + w;
                    console.log(sub_new_id);
                    name.attr('id', 'wireframe-' + test_li_id + '-initial-value-' + w);
                    name.attr('name', 'wireframe-' + test_li_id + '-initial-value-' + w);
                }

                 name = $(this).find('input.wire-list-order');
                 name.attr('value', w);

             });
         }).delay( 1400 );
        $("#main-form").submit().delay( 1400 );

     }

    </script>











{% endblock %}