{% extends "canvas/base.html" %}

{% load canvas_tags %}

{% block title %}{{ block.super }} - Wireframes{% endblock %}

{% block nav %}
    {% include "includes/nav.html" with link='canvas' l2="containers" %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}

    <a class="header-breadcrumb not-active" href="#">
        Containers

        <i class="fa fa-angle-double-right"></i>
    </a>

{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-lg-6 col-sm-6 col-xs-6">

            <div class="card card-underline">
                <div class="card-head style-primary-dark">
                    <header>Select Container to Edit</header>

                    <div class="tools">
                        <div class="btn-group">
                            <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down white"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {% for row in main_containers %}
                        <a href="/canvas/containers/{{ project.pk }}/{{ row.pk }}/">{{ project|container_name:row }}</a> <br>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-sm-8 col-xs-8">
            <form action method="post" id="main-form">
                {% csrf_token %}

                    <h2>Add New</h2>
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th width="200px;">Container Name</th>
                                <td><input type="text" id="container-name" name="wireframe_main_name" class="form-control input-sm" value=""></td>
                            </tr>
                        </tbody>
                    </table>


                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <h3>Section title</h3>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <h3>Label</h3>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <h3>Input Type</h3>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-1"">
                            <h3>Input Value</h3>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1">
                        </div>
                    </div>


                    {{ template_columns_form.management_form }}

                    <ul id="sortable1" class="droptrue" style="list-style: none;">
                        {% for form in template_columns_form %}
                            {% include "canvas/includes/containers/section.html" with i=forloop.counter wireframe_list_id=forloop.counter %}
                        {% endfor %}
                    </ul>

                    <div class="pull-left">
                        <br>
                        <button type="button" id="add-section" class="btn-danger btn"><i class="fa fa-plus"></i> </button>
                    </div>

                    <br><br><br>
                    <div class="pull-right">
                        <button type="button" onclick="run_update_before_submit();" id="submit-button" class="btn btn-danger">Save</button>
                    </div>
            </form>
        </div>
    </div>

    <div id="new_row_list_item" style="display: none;">{% include "canvas/includes/containers/list.html" %}</div>
    <div id="section_item" style="display: none;">{% include "canvas/includes/containers/section.html" %}</div>

    <input type="hidden" id="section_counter" value="3">

    <script>

        $(function() {
            var new_container = getUrlParameter('new-container');
            if (new_container)
            {
                go_to_add_new_container_name();
            }

            $("#add-section").click(function() {
                var sections = $("#section_counter").val();
                var total_sections = parseInt(sections) + 1;
                $("#section_counter").val(total_sections);

                var section_item_html = $("#section_item").html().replace('id="section-', 'id="section-'+total_sections);

                $(this).closest('input.parent-menu').val();

                $("#sortable1").closest( "ul.droptrue" ).append(
                  section_item_html
                );
            });

        });
        
        function go_to_add_new_container_name()
        {
            $("html, body").animate({scrollTop: $('#container-name').offset().top -100 }, 2000);
            $('#container-name').effect( "highlight", {color:"#FFEFD5"}, 3000 );
            $('#container-name').focus();
            $('#container-name').val('');
            $('#container-name').attr('placeholder', 'Enter a new container name');
        }



     function run_update_before_submit()
     {
         var i = 0;
         $("#sortable1 li.droptrue").each(function() {

             i = i + 1;

             $("#section-order").val(i);
             $(this).attr('id', 'section-'+i);

             var name = '';
             name = $(this).find('.wireframe-main-menu');
             name.attr('id', 'main-menu-'+i);
             name.attr('name', 'main-menu-'+i);

             name = $(this).find("select.section-width");
             name.attr('id', 'section-'+i+'-width');
             name.attr('name', 'section-'+i+'-width');

              var w = 0;

             $(this).find('li.sortlist').each(function() {
                 w =w+1;
                 var name = '';
                 $(this).attr('id', 'wire-list-'+w);

                 name = $(this).find('input.wireframe-sub-title');
                 name.attr('id', 'wireframe-'+i+'-sub-menu-'+w);
                 name.attr('name', 'wireframe-'+i+'-sub-menu-'+w);

                 name = $(this).find("select.input-type");
                 name.attr('id', 'wireframe-'+i+'-input-type-'+w);
                 name.attr('name', 'wireframe-'+i+'-input-type-'+w);

                 name = $(this).find('input.section-initial-value');
                 name.attr('id', 'wireframe-'+i+'-section-initial-value-'+w);
                 name.attr('name', 'wireframe-'+i+'-section-initial-value-'+w);

             });
         });


        $("#main-form").submit();

     }


    </script>





{% endblock %}