{% extends "canvas/base.html" %}

{% load canvas_tags %}

{% block title %}{{ block.super }} - My Account{% endblock %}

{% block nav %}
    {% include "includes/nav.html" with link='canvas' l2="devices" %}
{% endblock %}

{% block breadcrumbs %}

    {{ block.super }}

    <a class="header-breadcrumb not-active" href="#">
        Devices

        <i class="fa fa-angle-double-right"></i>
    </a>

{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-xs-2">
            <div class="card-body no-padding">
                <div class="alert alert-callout alert-info no-margin">
                    <h2>Devices</h2>

                    <ul class="nav" id="device-list">

                        {% for device in devices %}
                            <li {% if forloop.first %} class="active" {% endif %}>
                                <a data-toggle="pill" href="#{{ device.pk }}">{{ project|device_name:device }}</a>
                            </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-6">
                <form action method="post" id="device-form">
                    {% csrf_token %}

                    <div class="card card-underline">
						<div class="card-head">
							<header>Device Settings</header>
							<div class="tools">
								<div class="btn-group">
                                    <div class="btn-group">
                                        <a href="#" class="btn btn-icon-toggle dropdown-toggle" data-toggle="dropdown"><i class="fa fa-colorize"></i></a>
                                    </div>

                                    <a onclick="$('#device-list li').removeClass('active');" data-toggle="pill" href="#None" class="btn"><i data-toggle="tooltip" data-position="top" title="Add new device" class="fa fa-plus"></i></a>
                                    <a class="btn" onclick="$('#device-form').submit();" data-toggle="tooltip" data-position="top" title="SAVE DEVICE" ><i class="fa fa-save"></i></a>
                                    <a class="btn" data-toggle="tooltip" data-position="top" title="DELETE DEVICE" ><i class="fa fa-trash"></i></a>
                                </div>

                            </div>
                            {{ devices_formset.management_form }}
                        </div><!--end .card-head -->
                        <div class="card-body tab-content">

                            {% for form in devices_formset %}
                                {% for field in form.hidden_fields %}
                                    {{ field }}
                                {% endfor %}

                                <div id="{{ form.instance.pk }}" class="tab-pane fade in {% if forloop.first %}active{% endif %}">
                                    {% include "canvas/includes/devices/device.html" with form=form %}
                                </div>
                            {% endfor %}

                        </div><!--end .card-body -->
                    </div>

                </form>


        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="card card-underline">
                <div class="card-head">
                    <header>Device Image</header>
                </div><!--end .card-head -->
                    <div class="card-body tab-content">

                        <img src="/static/common/img/placeholder_canvas.png" style="width: 50%; margin-left: 25%; margin-top: 5%;">
                    </div>

            </div>
        </div>
    </div>

    <script>
        $(function() {
            var ul = $('#device-list');
            var li = ul.children("li");

            li.detach().sort(function(a,b) {
                return $(a).find('a').text() > $(b).find('a').text();
            });

            ul.append(li);

        });
    </script>
{% endblock %}