{% extends "canvas/base.html" %}

{% load canvas_tags %}

{% block title %}{{ block.super }} - My Account{% endblock %}

{% block nav %}
    {% include "includes/nav.html" with link='canvas' l2="folders" %}
{% endblock %}


{% block breadcrumbs %}
    {{ block.super }}

    <a class="header-breadcrumb not-active" href="#">
        File Upload

        <i class="fa fa-angle-double-right"></i>
    </a>

{% endblock %}


{% block content %}
    <link href="/static/vendor/upload_file/uploadfile.css" rel="stylesheet">
    <script src="/static/vendor/upload_file/jquery.uploadfile.js"></script>

    <div class="row">
        <div class="col-xs-3">

                <h2>Tags</h2>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div id="users">

                            <div class="card card-outlined style-primary-dark">
                                <div class="card-body">
                                    <div class="col-lg-9">
                                        <div class="inner-addon left-addon">
                                            <input id="filter-tag-name" type="text" placeholder="Filter tags" class="search form-control" />
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <a class="btn btn-xs btn-black" onclick="save_new_tag_name();" data-toggle="tooltip" data-placement="top" title="Add new tag"
                                            id="add-tag">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <ul id="tag-list" class="list" style="max-height: 600px; height: 600px; overflow-y: auto; overflow-x: hidden">
                                <li class="ui-state-default no-move" style="margin-top: -20px;">
                                    <div class="row">
                                        <div class="col-xs-1">
                                            <a class="pull-left">
                                                <i class="fa fa-check" id="no-tag-filter"></i>
                                            </a>
                                        </div>
                                        <div class="col-lg-8 col-sm-8 col-xs-8">
                                            <span class="no-tag">No Tag</span>
                                        </div>
                                    </div>
                                </li>

                                <li class="ui-state-default no-move">
                                    <div class="row">
                                        <div class="col-xs-1">
                                            <a id="show-all-tagged" class="pull-left" onclick="show_all_images();">
                                                <i data-toggle="tooltip" data-placement="top" title="Filter images by this tag" class="fa fa-square"></i>
                                            </a>
                                        </div>
                                        <div class="col-lg-6 col-sm-6 col-xs-6">
                                            <span class="all-tag">Show All</span>
                                        </div>
                                    </div>
                                </li>

                                {% for tag in tag_names %}
                                    <li class="ui-state-default no-move" id="list-tag-{{ tag.pk }}">
                                        <div class="row">
                                            <div class="col-xs-1">
                                                <a id="link-tag-filter-{{ tag.pk }}" class="pull-left" onclick="filter_images_by_tag('{{ tag.tag }}', {{ tag.pk }});">
                                                    <i data-toggle="tooltip" data-placement="top" title="Filter images by this tag" id="selected-tag-{{ tag.pk }}" class="fa fa-square"></i>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-sm-6 col-xs-6">
                                                <span class="tag" id="tag-{{ tag.pk }}">{{ tag.tag }}</span>
                                            </div>

                                            <div class="col-lg-4 col-md-4 col-sm-4">

                                                <div class="row pull-right">
                                                    <a id="selecting-image-tag-{{ tag.tag|cut:' ' }}" onclick="add_tag_to_images('{{ tag.tag }}', {{ tag.pk }});">
                                                        <i data-toggle="tooltip" data-placement="top" title="Save tag to images" class="fa fa-plus"></i>
                                                    </a>

                                                    &nbsp; &nbsp; &nbsp;
                                                    <a  onclick="trash_tag('{{ tag.pk }}');">
                                                        <i data-toggle="tooltip" data-placement="top" title="Delete tag" class="fa fa-trash-o"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}

                            </ul>

                        </div>
                    </div>
                </div>

        </div>

        <div class="col-xs-9">

                <h2>Edit File Tags</h2>


            <div >
                <div class="card style-default-bright">
                    <div class="card-head" id="list-of-selected-tags" style="min-height: 75px; padding: 20px;">

                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div id="folder-paths-all-images" class="slider" style="height: 418px; background-color: #fff; overflow-y: auto; border-radius: 5px; box-shadow: 5px 3px 5px #ccc">
                            {% include "canvas/includes/folder_path_images.html" %}
                        </div>

                    </div>
                </div>

                <div class="row">
                    <br>
                    <div class="col-sm-12 col-lg-12">
                        <div class="card card-outlined style-primary-dark">
						<div class="card-head">
							<div class="tools">
								<div class="btn-group">
                                </div>

                                </div>
                                <header><i class="fa fa-fw fa-tag"></i> File Upload Functions</header>
                            </div><!--end .card-head -->
                            <div class="card-body" style="max-height: 500px; overflow: auto;">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="pull-left">
                                        <div class="pull-left">
                                            <input type="checkbox"  class="pull-left" id="selecting-all-images"> &nbsp; &nbsp;
                                        </div>
                                        <div class="pull-right" style="margin-left: 20px; margin-right: 20px; margin-top: -3px;">
                                            <a onclick="delete_files();" class="btn btn-xs btn-black"><i class="fa fa-trash-o"></i> </a>
                                        </div>
                                        <div class="pull-right">
                                            <label id="selecting-all-label" class="pull-left" style="margin-top: 0;">Select All</label>
                                        </div>
                                    </div>
                                    <button type="button" id="save-file-uploader" class="btn btn-xs pull-right" style="margin-left: 10px; margin-top: 12px;"
                                            onclick="$('.ajax-file-upload-container').html('');">Clear</button>
                                    <div class="pull-right">
                                        <form id="upload_image_files" style="margin: 0; padding: 0;" method="POST" action="." enctype="multipart/form-data">
                                            <input type="file" style="position: absolute; cursor: pointer; top: 0; width: 100%; height: 42px; left: 0; z-index: 100; opacity: 0;"  name="image_files" accept="*">

                                            <button id="uploader-button" class="btn btn-default btn-sm">Upload</button>
                                        </form>
                                    </div>
                                </div>

                            </div><!--end .card-body -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="new-tag-html" style="display: none;">
        <li class="ui-state-default no-move" id="list-tag-TAG_ID">
            <div class="row">
                <div class="col-xs-1">
                    <a id="link-tag-filter-TAG_ID" class="pull-left" onclick="filter_images_by_tag('TAG_NAME', TAG_ID);">
                        <i data-original-title="Filter images by this tag" data-toggle="tooltip" data-placement="top" title="" id="selected-tag-TAG_ID" class="fa fa-square"></i>
                    </a>
                </div>
                <div class="col-lg-6 col-sm-6 col-xs-6">
                    <span class="tag" id="tag-TAG_ID">TAG_NAME</span>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4">

                    <div class="row pull-right">
                        <a onclick="add_tag_to_images('TAG_NAME', TAG_ID);">
                            <i data-original-title="Save tag to images" data-toggle="tooltip" data-placement="top" title="" class="fa fa-plus"></i>
                        </a>

                        &nbsp; &nbsp; &nbsp;
                        <a onclick="trash_tag('TAG_ID');">
                            <i data-original-title="Delete tag" data-toggle="tooltip" data-placement="top" title="" class="fa fa-trash-o"></i>
                        </a>
                    </div>
                </div>
            </div>
        </li>
    </div>

    <script src="/static/common/js/list.js"></script>

    <script>
    $(document).ready(function()
    {
        var csrf_token = $('#upload_image_files input[name="csrfmiddlewaretoken"]').val();

        $("#upload_image_files").uploadFile({
            url:"/upload_image_files/{{ project.pk }}/",
            formData: {"csrfmiddlewaretoken": csrf_token},
            multiple:true,
            dragDrop:true,
            fileName:"image_files",
            sequential:true,
            sequentialCount:1,
            afterUploadAll:function(obj)
            {
                console.log('completed ');
                get_new_image_list();
            }
        });
    });

    function get_new_image_list()
    {
        console.log('in get_new_image_list');

        $(window).queue("namedQueue", function() {

        var self = this;
              setTimeout(function() {
                $(self).dequeue("namedQueue");
              }, 1000);
        });

        $(window).queue("namedQueue", function() {
            $.ajax({
                url: '/get_new_image_list/{{ project.pk }}/',
                type: 'GET',
                success: function (data) {


                    var rendered_list = data.rendered;
                    rendered_list = rendered_list.replace(/\n/g, '');

                    $("#folder-paths-all-images").html('').html(rendered_list);

                    var selected_tag_list = "";

                    $(".image-list-tags").each(function() {

                        var list_image_id = $(this).attr('id');
                        list_image_id = list_image_id.replace("list-image-tags-", "");

                        var show_image = false;
                        var tag_list = $(this).find('span');
                        var tag_details_list = [];

                        $(tag_list).each(function () {
                            tag_details_list.push($(this).text().replace(/ /g, ""));
                        });

                        if (selected_tag_list == "") {
                            $("#no-tag-filter").addClass("fa-check").removeClass('fa-square');
                            $("#list-of-selected-tags").text('').html('');

                            if (tag_details_list.length === 0) {
                                show_image = true;
                            }
                            else {
                                show_image = false;
                            }
                        }

                        if (show_image) {
                            $("#list-" + list_image_id).show().css({'display': 'inline-block'});
                        }
                        else {
                            $("#list-" + list_image_id).hide();
                        }
                    });


                }

            });

            var self = this;
              setTimeout(function() {
                $(self).dequeue("namedQueue");
              }, 7000);
        });

        $(window).queue("namedQueue", function() {

            $('.ajax-file-upload-container').html('');
            var self = this;
              setTimeout(function() {
                $(self).dequeue("namedQueue");
            }, 1000);
        });

        $(window).dequeue("namedQueue");

    }
    </script>

    <script>
    function saving_images()
    {
        var form = document.getElementById("image-form");
        form.onsubmit = function() {
          console.log("The form has been submitted, start progress!");
        };

        form.target = "file-upload";

        $('.image-uploader').hide(); $('#loading-gif').show(); $('#image-form').submit();
    }

    $(function(){

        $('[data-toggle="tooltip"]').tooltip();

        $("#no-tag-filter").click(function() {
           window.location.reload();
        });

        filter_images();

        $(".image-slider-list").click(function() {
            var id = this.id;
            id = id.replace("list-", "");
            $('#list-div-'+id).show();
            $('#image-'+id+'-checkbox').click();
        });

        var options = {
          valueNames: [ 'tag' ]
        };

        var userList = new List('users', options);

        $("#selecting-all-images").click(function() {

            if ($("#selecting-all-label").text() == "Select All")
            {
                $(".selecting-images-tags:visible").prop('checked', $(this).prop("checked"));
                $("#selecting-all-label").text("Deselect All");
            }
            else
            {
                $(".selecting-images-tags").prop('checked', $(this).prop("checked"));
                $("#selecting-all-label").text("Select All");
            }


        });
    });

    function delete_files()
    {
        if (confirm("Are you sure you wish to delete these files?"))
        {
            $("input.selecting-images-tags:checked").each(function() {

                var image_id = $(this).attr('id');
                image_id = image_id.replace("image-", "").replace("-checkbox", "");

                console.log('image_id', image_id);

                $.ajax({
                    url: '/delete_image/{{ project.pk }}/',
                    type: 'GET',
                    data: {'id': image_id},
                    success: function (data) {
                        $("#list-"+image_id).remove();

                    }
                });

            }).promise().done( function()
            {
                $().toastmessage('showToast', {text : "Deleting files", stayTime: 2000, type : 'success'});
                setTimeout(function() {
                    $().toastmessage('showToast', {text : "Files have been deleted.", stayTime: 2000, type : 'success'});
                  }, 4000);

            } );


        }

    }

    function save_new_tag_name()
    {
        var tag_name = $("#filter-tag-name").val();

        $.ajax({
            url: '/save_new_tag_name/{{ project.pk }}/',
            type: 'GET',
            data: {'tag_name': tag_name},
            success: function (data) {
                if (data.success)
                {
                    var new_tag_html = $("#new-tag-html").html();
                    new_tag_html = new_tag_html.replace(/TAG_NAME/g, tag_name).replace(/TAG_ID/g, data.tag_id);

                    $('#tag-list').append(new_tag_html);
                    $("#filter-tag-name").val('');

                    $().toastmessage('showToast', {text : "New tag saved", stayTime: 2000, type : 'success'});

                    window.location.reload();
                }
                else
                {
                    $().toastmessage('showToast', {text : "This tag already exists", stayTime: 2000, type : 'info'});
                }
            }
        });
    }

    function filter_images_by_tag(tag_name, tag_id)
    {
        //console.log('filter_images_by_tag');
        $("#show-all-tagged i").addClass("fa-square").removeClass('fa-check');
        var selected_tag = $("#selected-tag-"+tag_id);
        selected_tag.toggleClass("fa-square").toggleClass('fa-check');

        $("#no-tag-filter").addClass("fa-square").removeClass('fa-check');


        var tag_list = $("#list-of-selected-tags");

        if (selected_tag.hasClass('fa-check'))
        {
            tag_list.append('<button id="added-button-tag-'+tag_id+'" onclick="remove_tag_to_images(\''+tag_name+'\', '+tag_id+');" ' +
                            'class="btn btn-xs btn-black added-tag-button">'+tag_name+'<i class="fa fa fa-trash-o red small" ' +
                            'style="margin-left: 10px;"></i></button> &nbsp;');
        }
        else
        {
            //remove filter
            tag_list.find('.added-tag-button:contains('+tag_name+')').remove();
        }

        filter_images();

    }

    function update_image_list(tag_name)
    {
        //console.log('update_image_list');
        tag_name = tag_name.replace(/ /g, "");

        $(".image-list-tags").each(function() {
            var tag_list = $(this).find('span');
            var tag_details_list = [];

            var list_image_id = $(this).attr('id');
            list_image_id = list_image_id.replace("list-image-tags-", "");

            $(tag_list).each(function() {
                tag_details_list.push($(this).text().replace(/ /g, ""));
            });

            var in_array = $.inArray( tag_name, tag_details_list ) >= 0;
            if (in_array)
            {
                $("#list-"+ list_image_id).show().css({'display': 'inline-block'});
            }
            else
            {
               $("#list-"+ list_image_id).hide()
            }
        }).promise().done( function()
        {
            $().toastmessage('showToast', {text : "Updating files", stayTime: 3000, type : 'success'});
                setTimeout(function() {
                    $().toastmessage('showToast', {text : "Files and tags have been updated.", stayTime: 2000, type : 'success'});
                    get_new_image_list();
              }, 4000);

        } );
    }

    function remove_button_tag(tag_id)
    {
        //remove filter
        $("#added-button-tag-"+tag_id).remove();
        var selected_tag = $("#selected-tag-"+tag_id);
        selected_tag.toggleClass("fa-square").toggleClass('fa-check');
        filter_images();
    }

    function filter_images()
    {
        var selected_tag_list = [];
        var selected_tags = $(".added-tag-button");

        $(selected_tags).each(function() {
            selected_tag_list.push($(this).text().replace(/ /g, ""));
        });

        $(".image-list-tags").each(function() {

            var list_image_id = $(this).attr('id');
            list_image_id = list_image_id.replace("list-image-tags-", "");

            var show_image = false;
            var tag_list = $(this).find('span');
            var tag_details_list = [];

            $(tag_list).each(function () {
                tag_details_list.push($(this).text().replace(/ /g, ""));
            });

            if (selected_tag_list == "") {
                $("#no-tag-filter").addClass("fa-check").removeClass('fa-square');
                $("#list-of-selected-tags").text('').html('');

                if (tag_details_list.length === 0)
                {
                    show_image = true;
                }
                else
                {
                    show_image = false;
                }
            }
            else
            {
                var image_list = [];

                $.each(tag_details_list, function (k, v) {
                    var value = v.replace(/ /g, "");

                    var in_array = $.inArray(value, selected_tag_list) >= 0;

                    if (in_array) {
                        image_list.push(value);
                    }
                });

                var difference = [];

                jQuery.grep(selected_tag_list, function(el) {
                        if (jQuery.inArray(el, image_list) == -1) difference.push(el);
                });


                if (difference == "")
                {
                    show_image = true;
                }
                else
                {
                    show_image = false;
                }

            }

            if (show_image)
            {
                $("#list-"+ list_image_id).show().css({'display': 'inline-block'});
            }
            else
            {
                $("#list-"+ list_image_id).hide();
            }
        });
    }

    function show_all_images()
    {

        $("#show-all-tagged i").toggleClass("fa-square").toggleClass('fa-check');
        $("#no-tag-filter").addClass("fa-square").removeClass('fa-check');

        $(".image-list-tags").each(function() {
            var list_image_id = $(this).attr('id');
            list_image_id = list_image_id.replace("list-image-tags-", "");

            $("#list-"+ list_image_id).show().css({'display': 'inline-block'});
        });
    }


    function add_tag_to_images(tag_name, tag_id)
    {
        var resource_id = '';
        var resource_array = [];

        var total = $(".selecting-images-tags:checked").length;

        $(window).queue("namedQueue", function() {
            if (total == "")
            {
                $().toastmessage('showToast', {text : "No images were selected.", stayTime: 2000, type : 'info'});
            }
            else
            {
                $().toastmessage('showToast', {text: "Updating files", stayTime: 3000, type: 'success'});
                $(".selecting-images-tags:checked").each(function() {
                    resource_id = this.id;
                    resource_id = resource_id.replace('image-', '').replace('-checkbox', '');

                    resource_array.push(resource_id);

                    $("#list-image-tags-"+ resource_id).append('<span id="tag-id-'+resource_id+'-'+tag_id+'" class="tag-id-'+tag_id+'">'+tag_name+'</span>');
                });
            }

            setTimeout(function() {
                $(self).dequeue("namedQueue");
            }, 4000);
        });

        $(window).queue("namedQueue", function() {
            if (! total == "")
            {

                    $.ajax({
                    url: '/save_new_tag_name_to_image/{{ project.pk }}/',
                    type: 'GET',
                    data: {'tag_name': tag_name, 'resource_list': resource_array, 'direction': 'Save'},
                    success: function (data) {

                        $().toastmessage('showToast', {
                            text: "Tag details saved successfully",
                            stayTime: 2000,
                            type: 'success'
                        });

                        $("#selecting-all-images").prop("checked", false);
                        filter_images_by_tag(tag_name, tag_id);
                    }
                });
            }

            setTimeout(function() {
                $(self).dequeue("namedQueue");
            }, 2000);
        });


         $(window).dequeue("namedQueue");
{#        console.log('resource_array', resource_array);#}

    }

    function remove_tag_to_images(tag_name, tag_id)
    {
        var resource_id = '';
        var tag_list = $("#list-of-selected-tags");

        var resource_array = [];

        $(".selecting-images-tags:checked").each(function() {
            resource_id = this.id;
            resource_id = resource_id.replace('image-', '').replace('-checkbox', '');

            resource_array.push(resource_id);

            $("#image-"+resource_id+"-checkbox").prop('checked', false);
            $("#tag-id-"+resource_id+"-"+tag_id).remove();

        }).promise().done( function() {

            $.ajax({
                url: '/save_new_tag_name_to_image/{{ project.pk }}/',
                type: 'GET',
                data: {'tag_name': tag_id, 'resource_list': resource_array, 'direction': 'Delete'},

                success: function (data) {
                     $().toastmessage('showToast', {text: "Files and tags have been updated.", stayTime: 2000, type: 'success'});

                    filter_images_by_tag(tag_name, tag_id);
                }
            });

        });

    }

    function trash_tag(tag_id)
    {
        if (confirm("Are you wish to remove this tag?"))
        {
            $.ajax({
                url: '/trash_tag/{{ project.pk }}/'+tag_id+'/',
                type: 'GET',
                success: function (data) {

                        if (data.success)
                        {
                            $("#list-tag-"+ tag_id).remove();

                            $().toastmessage('showToast', {text : "Tag has been removed", stayTime: 2000, type : 'success'});
                            $().delay(1000);

                            //window.location.reload();
                        }
                        else
                        {
                            $().toastmessage('showToast', {text : "This tag could not be saved", stayTime: 2000, type : 'info'});
                        }
                    }
            });
        }

    }

    </script>
{% endblock %}