{% extends "canvas/base.html" %}

{% block title %}{{ block.super }} - My Account{% endblock %}

{% block nav %}
    {% include "includes/nav.html" with link='canvas' %}
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <div class="card card-underline">
                <div class="card-head style-primary-dark">
                    <header>Display Suites</header>
                    <div class="tools">
                        <div class="btn-group">
                            <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <ul style="list-style: none;">
                        <li class="gui-folder {% if link == 'canvas' %}active{% endif %}">

                            <ul style="margin-left: 20px;">
                               <li class="{% if l2 == 'devices' %}active{% endif %}">
                                    <a href="{% url 'canvas-devices' project.pk %}">
                                        Devices
                                    </a>
                                </li>
                                <li class="{% if l2 == 'canvas' %}active{% endif %}">
                                    <a href="{% url 'canvas-canvasing' project.pk %}">
                                        Canvas
                                    </a>
                                </li>
                                <li class="{% if l2 == 'wireframes' %}active{% endif %}">
                                    <a href="{% url 'canvas-wireframes' project.pk %}">
                                        Wireframes
                                    </a>
                                </li>
                                <li class="{% if l2 == 'templating' %}active{% endif %}">
                                    <a href="{% url 'canvas-templating' project.pk %}">
                                        Templates
                                    </a>
                                </li>
                                <li class="{% if l2 == 'folders' %}active{% endif %}">
                                    <a href="{% url 'canvas-folder_paths' project.pk %}">
                                        File Upload
                                    </a>
                                </li>
                                <li class="{% if l2 == 'containers' %}active{% endif %}">
                                    <a href="{% url 'canvas-containers' project.pk %}">
                                        Containers
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}