{% extends "new_base.html" %}

{% block extra_head_files %}{% endblock %}

{% block body_classes %}ns-internal{% endblock %}

{% block body_content %}

    <div class="fixed-alerts"></div>


    {% block content %}{% endblock %}

    <script>
    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };
    </script>
{% endblock %}
