{% extends "canvas/base.html" %}

{% load canvas_tags %}

{% block title %}{{ block.super }} - Wireframes{% endblock %}

{% block nav %}
    {% include "includes/nav.html" with link='canvas' l2="containers" %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb" href="#">
        Property Names
    </a>

{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-lg-6 col-sm-6 col-xs-6">

                <h2>Edit Property Names for floor: {{ new_level_name }}</h2>

                <form action method="post">
                    {% csrf_token %}

                <p>There were {{ number_of_apartments }} properties selected for this floor.</p>
                <br>

                {{ names_formset.management_form }}

                <table class="table detail-table" style="font-size: 12px;">
                    <tr>
                        <th>
                            Property ID
                        </th>
                        <th>Name</th>
                    </tr>

                    {% for form in names_formset %}

                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}

                        <tr>
                            <td>
                                {{ form.fields.property.value }}
                            </td>
                            <td>
                                {% include "includes/field.html" with field=form.english %}
                            </td>
                        </tr>

                    {% endfor %}
                </table>


                <button class="btn btn-process" type="submit">Save Property Names</button>
                </form>

        </div>
    </div>
{% endblock %}