{% extends "canvas/base.html" %}

{% load canvas_tags %}

{% block title %}{{ block.super }} - My Account{% endblock %}

{% block nav %}
    {% include "includes/nav.html" with link='canvas' l2="templating" %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb" href="#">
        Template Types
    </a>

{% endblock %}


{% block content %}
<div class="card">
    <div class="card-body no-padding">
        <div class="alert alert-callout alert-info no-margin">


            <form method="post" action id="template-type-form">
        {% csrf_token %}

        <div class="row">
            <div class="col-lg-5">

                    <h2>Select Template Type</h2>

                    <select class="form-control" id="template-type" onchange="change_types(this.value);">
                        {% for template_type in template_types %}
                            <option {% ifequal selected_type.pk template_type.pk  %} selected {% endifequal %} value="{{ template_type.pk }}">{{ template_type.name }}</option>
                        {% endfor %}
                    </select>


            </div>

            <div class="col-lg-5">

                    <h2>Add New Template Type</h2>
                    <div class="row">
                        <div class="col-lg-8">
                            <input type="text" class="form-control" value="" name="new_template_type">
                        </div>
                        <div class="col-lg-4">
                            <a onclick="update_template();" class="btn btn-sm btn-default"><i class="fa fa-save"></i> </a>
                        </div>
                    </div>

            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">

                    <h2>Template Type Name</h2>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <input class="form-control" id="template_name" name="template_type_name" value="{{ selected_type.name }}">
                        </div>
                    </div>

            </div>
        </div>


        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">

                    <h2>Containers for this template type</h2>
                    {% for container in main_containers %}
                        <div>
                            <input {% if project|one_more:selected_type|check_container_template:container %}checked{% endif %} type="checkbox" id="container-{{ container.pk }}" value="{{ container.pk }}" name="containers">
                            {{ project|container_name:container }}
                        </div>
                    {% endfor %}

            </div>
        </div>

            <br><br>
        <div class="row">
            <div class="col-lg-3">
                <a class="btn btn-process-back btn-sm" onclick="update_template();">
                    Cancel
                </a>
                <a class="btn btn-process btn-sm" onclick="update_template();">
                    Save
                </a>
            </div>
    </div>

    </form>
        </div>
    </div>
</div>

    <script>
        function update_template()
        {
            $("#template-type-form").submit();
        }

        function change_types(id)
        {
            window.location.href='/canvas/template/types/{{ project.pk }}/'+id +'/{{ canvas_id }}/{{ template_id }}/';
        }
    </script>
{% endblock %}