{% extends "canvas/base.html" %}

{% load canvas_tags %}

{% block title %}{{ block.super }} - My Account{% endblock %}

{% block nav %}
    {% include "includes/nav.html" with link='canvas' l2="templating" %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}

    <a class="header-breadcrumb not-active" href="#">
        Templates

        <i class="fa fa-angle-double-right"></i>
    </a>

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-3 col-sm-3">
        <div class="card card-underline">
            <div class="card-head style-default-dark">
                <header>Select Template</header>
                <div class="tools">
                    <div class="btn-group">
                        <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
            </div>

            <div class="card-body style-default-bright tab-content">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                       <ul class="nav nav-pills nav-stacked" id="device-list">
                            {% for template in templates %}
                                {% if template.name %}
                                    <li {% ifequal template.pk this_template.pk %} class="active" {% endifequal %}>
                                        <a data-toggle="pill" href="#{{ template.pk }}" onclick="window.location.href='/canvas/edit/{{ project.pk }}/templates/{{ template.pk }}/{{ selected_canvas.pk }}/';">{{ template.name }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="card card-underline">
            <div class="card-head style-default-dark">
                <header>Edit Template Name</header>

                <div class="tools">
                    <div class="btn-group">
                        <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
            </div>

            <div class="card-body style-default-bright tab-content">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">

                        <div class="row">
                            <div class="col-lg-8">
                                <input class="form-control" id="template_name" name="template_name" value="{{ selected_template_name }}">
                            </div>
                            <div class="col-lg-3">
                                <a class="btn btn-default btn-sm" onclick="update_template();">
                                    <i class="fa fa-save"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card card-underline">
            <div class="card-head style-default-dark">
                <header>Add New Template</header>

                <div class="tools">
                    <div class="btn-group">
                        <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
            </div>

            <div class="card-body style-default-bright tab-content">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <br><br>
                        <div class="row">
                            <div class="col-lg-8">
                                <input class="form-control" id="new_template_name" name="new_template_name">
                            </div>
                            <div class="col-lg-3" style="padding-top: 28px;">
                                <a class="btn btn-default btn-sm" onclick="update_template();">
                                    <i class="fa fa-save"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>

            </div><!--end .card-body -->
        </div>
    </div>

        <form action method="post" id="templating-form">
        {% csrf_token %}
            <div class="col-lg-9 col-sm-9" id="{{ template.pk }}">

            <div class="row">
                <div class="col-sm-8">
                    <div class="card">
                            <div class="card-body no-padding">
                            <div class="alert alert-callout alert-info no-margin">
                                    <h2>Template Type</h2>

                                    <div class="row">
                                        <div class="col-lg-6 col-sm-6">
                                            <select class="form-control select-template-type" name="template_type">
                                                <option>Select a template type</option>
                                                {% for template_type in template_types %}
                                                    <option {% ifequal this_template.template_type_id template_type.pk  %} selected {% endifequal %} value="{{ template_type.pk }}">{{ template_type.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-lg-3 col-sm-3">
                                            {% for template_type in template_types %}
                                                <a {% ifnotequal this_template.template_type_id template_type.pk %} style="display: none;" {% endifnotequal %}
                                                        class="btn btn-default btn-sm template-type-edit-link" id="template-type-edit-link-{{ template_type.pk }}"
                                                        href="{% url 'canvas-template-types' project.pk template_type.pk selected_canvas.pk this_template.pk %}" data-toggle="tooltip" data-position="top" title="Edit Template Type Containers">
                                                    <i class="fa fa-pencil"></i> Edit Containers
                                                </a>
                                            {% endfor %}

                                        </div>

                                    </div>

                            </div>
                        </div><!--end .card-body -->
                    </div>
            </div>
                <div class="col-sm-2">
                    <a class="btn btn-process" onclick="save_containers();">Save Template Type</a>
                </div>
            </div>


            <br>
            <a class="btn btn-process" onclick="save_containers();">Save All</a> <br><br>
            <div class="card card-underline">
                <div class="card-head">
                    <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                        <li class="active"><a data-toggle="tab" href="#canvas-details" >Canvas</a></li>
                        {% if this_template.template_type_id %}
                            <li><a data-toggle="tab" href="#canvas-content" >Content</a></li>
                        {% endif %}
                    </ul>
                    <header>Canvas Settings</header>
                </div>
                <div class="card-body tab-content">

                    <div id="canvas-details" class="active tab-pane fade in ">
                <div class="row">

                    <div class="col-lg-6 col-sm-6" style="padding: 20px;">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <label>Canvas</label>
                            </div>
                            <div class="col-lg-9 col-sm-9">
                                <select class="form-control" name="selected_canvas" id="template_selected_canvas">
                                    {% for can in canvases %}
                                        <option value="{{ can.pk }}" {% ifequal selected_canvas.pk can.pk %}selected{% endifequal %}>{{ project|canvas_name:can }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <label>Wireframe</label>
                            </div>
                            <div class="col-lg-9 col-sm-9">
                                <select class="form-control" name="selected_wireframe" id="template_selected_wireframe">
                                    <option value="0">Save to all</option>
                                    {% for frame in wireframes %}
                                        <option value="{{ frame.pk }}" {% ifequal wire_frame.pk frame.pk %}selected{% endifequal %}>
                                            {{ project|wireframe_name_from_wireframe:frame }}
                                            {% if not frame.wireframe_parent_id %}
                                                (Parent wireframe)
                                            {% endif %}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <br><br>
                        {% for item in template_containerlist %}
                            {% ifequal item.container_name "Canvas" %}
                                    <div class="row">
                                        <div class="col-lg-{{ children.csettings.width }} col-md-{{ children.csettings.width }} col-sm-{{ children.csettings.width }}">

                                        {% for children in item.settings %}
                                            <div class="card card-bordered style-primary">
                                                <div class="card-head">
                                                    <header><i class="fa fa-fw fa-pencil"></i> {{ children.csettings.title }} [Container ID: {{ children.csettings.container_id }}]</header>
                                                </div>
                                                <div class="card-body style-default-bright">
                                                    {% for field in children.container_children %}
                                                        {% include "canvas/includes/render_field.html" with field=field field_type=field.project_container.field_type label=field.project_container.string_field %}
                                                    {% endfor %}
                                                </div>
                                            </div>

                                        {% endfor %}

                                        </div>
                                    </div>


                            {% endifequal %}
                        {% endfor %}

                    </div>
                </div>
            </div>
                    <div id="canvas-content" class="tab-pane fade in">
                {% for item in template_containerlist %}
                    {% ifnotequal item.container_name "Canvas" %}
                        <ul class="nav nav-tabs">
                          <li role="presentation" href="#section-{{ item.main_container_ud }}" class="active pull-right"><a href="#">{{ item.container_name }}</a></li>
                        </ul>

                        <div class="tab-content" style="border: 1px solid #ddd; border-top: none; padding: 10px; padding-right: 15px; margin-right: 2px;">
                            <div id="section-{{ item.main_container_id }}" class="active tab-pane fade in ">
                                <div class="row">
                                    {% for children in item.settings %}

                                        <div class="col-lg-{{ children.csettings.width }} col-sm-{{ children.csettings.width }}">
                                            <div class="card card-bordered style-primary">
                                                <div class="card-head">
                                                    <header><i class="fa fa-fw fa-pencil"></i> {{ children.csettings.title }} [Container ID: {{ children.csettings.container_id }}]</header>
                                                </div>
                                                <div class="card-body style-default-bright">
                                                    {% for field in children.container_children %}
                                                        {% include "canvas/includes/render_field.html" with field=field field_type=field.project_container.field_type label=field.project_container.string_field %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>

                                    {% endfor %}

                                    </div>
                                </div>
                            </div>
                    {% endifnotequal %}

                    <br><br>
                {% endfor %}

                {% if not template_containerlist %}
                    <em>Please select and save a template type</em>
                    <br><br><br><br>
                {% endif %}
            </div>
                </div>
            </div>
            <a class="btn btn-process" onclick="save_containers();">Save All</a>
        </form>
    </div>


    <script>
        function update_template()
        {
            var current_template_name = $("#template_name").val();
            var new_template_name = $("#new_template_name").val();

            $.ajax({
                url: '/update_add_template_names/{{ project.pk }}/',
                type: 'GET',
                data: {'this_template': {{ this_template.pk }}, 'new_template_name': new_template_name, 'current_template_name': current_template_name},
                success: function (data) {
                    window.location.reload();
                }
            });
        }
        function save_containers()
        {
            $("#templating-form").submit();
        }

        $(function() {
           $(".select-template-type").change(function() {
               var selected = this.value;

               $(".template-type-edit-link").hide();
               $("#template-type-edit-link-"+ selected).show();
           });

            $("#template_selected_canvas").change(function() {
               var selected_canvas = this.value;

                window.location.href="/canvas/edit/{{ project.pk }}/templates/{{ this_template.pk }}/"+selected_canvas+"/";
            });

            $("#template_selected_wireframe").change(function() {
               var selected_wireframe = this.value;
                var selected_canvas = $("#template_selected_canvas").val();

                if (selected_wireframe == "0")
                {

                }
                else
                {
                    window.location.href="/canvas/edit/{{ project.pk }}/templates/{{ this_template.pk }}/"+selected_canvas+"/" + selected_wireframe +"/";
                }


            });

            $(".render-field-checkbox").click(function() {

                var id = $(this).attr('id');
                id = id.replace("shown-field-", "");

                if (!$(this).is(':checked'))
                {
                    $("#hidden-field-"+ id).attr('value', 'False');
                }
                else
                {
                    $("#hidden-field-"+ id).attr('value', 'True');
                }
            });
        });
    </script>
{% endblock %}