{% extends "canvas/base.html" %}

{% load canvas_tags %}

{% block title %}{{ block.super }} - Wireframes{% endblock %}

{% block nav %}
    {% include "includes/nav.html" with link='canvas' l2="wireframes" %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}

    <a class="header-breadcrumb not-active" href="#">
        Wireframes

        <i class="fa fa-angle-double-right"></i>
    </a>

{% endblock %}


{% block content %}

    <div class="row">
        {% include "canvas/includes/wireframes/select_wireframe.html" %}
    </div>

    <div class="row">

        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="row">

            <form action method="post" id="main-form">
                {% csrf_token %}

                    <div class="row">
                        <div class="col-lg-8 col-sm-8 col-xs-8">
                            <div class="card card-underline">
                                <div class="card-head style-primary-dark">
                                    <header>Wireframe Name & Preview</header>

                                    <div class="tools">
                                        <div class="btn-group">
                                            <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <input type="text" name="wireframe_main_name" class="form-control input-sm"  value="{{ project|wireframe_name_from_canvas:wire_parent_id }}">
                                        </div>
                                        <div class="col-sm-6">
                                            <button style="margin-top: -5px;" type="button" onclick="run_update_before_submit();" id="top-submit-button" class="btn btn-process">
                                                <i class="fa fa-save"></i> Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end .card-body -->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-8">
                            <ul id="sortable1" class="droptrue" style="list-style: none;">
                                {% for menu in menus %}
                                    {% include "canvas/includes/wireframes/section_edit.html" with i=menu.pk menu=menu %}
                                {% endfor %}
                            </ul>

                            <div class="pull-left">
                                <button type="button" id="add-section" class="btn-danger btn"><i class="fa fa-plus"></i> Add Section </button>
                            </div>


                            <div class="pull-right">
                                <button type="button" onclick="run_update_before_submit();" id="submit-button" class="btn btn-process">
                                    <i class="fa fa-save"></i> Save
                                </button>
                            </div>
                        </div>
                    </div>




                </form>
            </div>
        </div>

    </div>

    <div id="new_row_list_item" style="display: none;">{% include "canvas/includes/wireframes/wire_frame_list.html" %}</div>
    <div id="section_item" style="display: none;">{% include "canvas/includes/wireframes/section_item.html" %}</div>

    <input type="hidden" id="section_counter" value="{{ total_sections }}">

    <div id="removed_wireframes" style="display: none;">

    </div>


    <script>

        $(function() {
            $("html, body").animate({ scrollTop: $('#main-form').offset().top }, 1000);

            $("#add-section").click(function() {
                var sections = $("#section_counter").val();
                var total_sections = parseInt(sections) + 1;
                $("#section_counter").val(total_sections);

                var section_item_html = $("#section_item").html().replace(/SECTION_ID/g,total_sections);

                $(this).closest('input.parent-menu').val();

                $("#sortable1").closest( "ul.droptrue" ).append(
                  section_item_html
                );
            });

        });


     function run_update_before_submit()
     {

         //remove deleted wireframes first
         var removed_wireframes = $("#removed_wireframes").text().trim().replace(/ /g, '');
         if (removed_wireframes)
         {
             console.log('removed_wireframes', removed_wireframes);
             $.ajax({
                url: '/remove_wireframes/{{ project.pk }}/',
                type: 'GET',
                data: {'removed_wireframes': removed_wireframes},
                success: function (data) {

                }
            });

         }

         var i = 0;
         $("#sortable1 li.droptrue").each(function() {

             i = i + 1;

             att_id = $(this).attr('id');
             $("#section-order-"+(att_id.replace("section-", ""))).val(i);

             var name = '';
             name = $(this).find('.wireframe-main-menu');

            if ($.inArray( "SECTION_ID", [att_id] ) >= 0)
            {
                $(this).attr('id', 'section-'+i);
                name.attr('id', 'main-menu-'+i);
                name.attr('name', 'main-menu-'+i);
            }

             var w = 0;
             $(this).find('li.sortlist').each(function() {
                 w =w+1;
                 var name = '';
                 att_id = $(this).attr('id');
                 var test_li_id = $(this).parent().closest('li').attr('id');

                if (att_id == "wire-list-WIRE_ID")
                {
                    $(this).attr('id', 'wire-list-'+w);

                     name = $(this).find('input.wireframe-sub-menu');
                     name.attr('id', 'wireframe-'+test_li_id+'-sub-menu-'+w);
                     name.attr('name', 'wireframe-'+test_li_id+'-sub-menu-'+w);

                     name = $(this).find("select.wire-template-select");
                     name.attr('id', 'wireframe-'+test_li_id+'-template-'+w);
                     name.attr('name', 'wireframe-'+test_li_id+'-template-'+w);
                }

                 name = $(this).find('input.wire-list-order');
                 name.attr('value', w);

                 name = $(this).find('input.wire-list-section');
                 name.attr('value', test_li_id);

             });
         }).delay( 1400 );
        $("#main-form").submit().delay( 1400 );

     }

    function go_to_edit_wireframe(canvas_id)
    {
        window.location.href="/canvas/{{ project.pk }}/wireframes/edit/"+canvas_id+"/";
    }
    </script>





{% endblock %}