{% extends "canvas/base.html" %}

{% load canvas_tags %}

{% block title %}{{ block.super }} - Wireframes{% endblock %}

{% block nav %}
    {% include "includes/nav.html" with link='canvas' l2="wireframes" %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}

    <a class="header-breadcrumb not-active" href="#">
        Wireframes

        <i class="fa fa-angle-double-right"></i>
    </a>

{% endblock %}


{% block content %}
    {% include "canvas/includes/wireframes/select_wireframe.html" %}
{% endblock %}