{% extends "canvas/plans_base.html" %}

{% block title %}{{ block.super }}{% endblock %}


{% block breadcrumbs %}
     <a class="header-breadcrumb" href="/">
        Home

        <i class="fa fa-angle-double-right"></i>
     </a>

    <a class="header-breadcrumb" href="{{ project.get_absolute_url }}">
        {{ project.name }}

        <i class="fa fa-angle-double-right"></i>
    </a>

    <a class="header-breadcrumb" href="{% url 'canvas-home'  %}">
        Display Suites

        <i class="fa fa-angle-double-right"></i>
    </a>


    <a class="header-breadcrumb active not-active">
        Preview Editor

        <i class="fa fa-angle-double-right"></i>
    </a>

    {% include "canvas/includes/project_selector.html" %}
{% endblock %}

{% block content %}
    <div>
        {% include "canvas/templates/includes/menu.html" %}
    </div>

    {% ifequal page_type "Thumbnail Gallery" %}
        {% include "canvas/templates/thumbnail_gallery.html" %}
    {% endifequal %}

    {% ifequal page_type "Standard Image Gallery" %}
        {% include "canvas/templates/thumbnail_gallery.html" %}
    {% endifequal %}

    {% ifequal page_type "Floor Plans" %}
        {% include "canvas/templates/level_plans.html" %}
    {% endifequal %}

    {% ifequal page_type "Gallery with menu option" %}
        {% include "canvas/templates/location.html" %}
    {% endifequal %}

    {% ifequal page_type "Fitting Gallery" %}
        {% include "canvas/templates/no_source_gallery.html" %}
    {% endifequal %}

    {% ifequal page_type "Splash Screen" %}
        {% include "canvas/templates/splash_screen.html" %}
    {% endifequal %}

    {% ifequal page_type "Views" %}
        {% include "canvas/templates/views.html" %}
    {% endifequal %}

    {% ifequal page_type "Floor Views" %}
        {% include "canvas/templates/floor_views.html" %}
    {% endifequal %}

    {% ifequal page_type "Multi" %}
        {% include "canvas/templates/multi.html" %}
    {% endifequal %}

    {% ifequal page_type "Dual Image Sets" %}
        {% include "canvas/templates/dual_image_sets.html" %}
    {% endifequal %}

    {% ifequal page_type "Dual Image Sets with Thumbnail" %}
        {% include "canvas/templates/dual_image_sets_with_thumbnail.html" %}
    {% endifequal %}

    {% ifequal page_type "Video Display" %}
        {% include "canvas/templates/video_display.html" %}
    {% endifequal %}

    {% ifequal page_type "Compare" %}
        {% include "canvas/templates/compare.html" %}
    {% endifequal %}

    {% ifequal page_type "Mixed Gallery" %}
        {% include "canvas/templates/mixed_gallery.html" %}
    {% endifequal %}

    {% ifequal page_type "Documents" %}
        {% include "canvas/templates/documents.html" %}
    {% endifequal %}

    {% ifequal page_type "Renders" %}
        {% include "canvas/templates/renders.html" %}
    {% endifequal %}


    <script>
        $(function() {
            var floor_id = $("#current_floor_id").val();
            $(".apartment-details").hide();
            $(".apartment-details-"+ floor_id).show();

            $(".floor-apartment-details").hide();
            $(".floor-apartment-details-"+ floor_id).show();
        });

        function remove_button_tag(tag_id, tag_name)
        {
            //remove filter
            $("#added-button-tag-"+tag_id).remove();

            $("#tag-selected").append("<option value='"+tag_id+"'>"+tag_name+"</option>");
            filter_images();
        }

        function update_image_list(tag_name)
        {
            //console.log('update_image_list');
            tag_name = tag_name.replace(/ /g, "");

            $(".image-list-tags").each(function() {
                var tag_list = $(this).find('span');
                var tag_details_list = [];

                var list_image_id = $(this).attr('id');
                list_image_id = list_image_id.replace("list-image-tags-", "");

                $(tag_list).each(function() {
                    tag_details_list.push($(this).text().replace(/ /g, ""));
                });

                var in_array = $.inArray( tag_name, tag_details_list ) >= 0;
                if (in_array)
                {
                    $("#list-"+ list_image_id).show().css({'display': 'inline-block'});
                }
                else
                {
                   $("#list-"+ list_image_id).hide()
                }
            });
        }

        function filter_images() {
            var selected_tag_list = [];
            var selected_tags = $(".added-tag-button");

            $(selected_tags).each(function () {
                selected_tag_list.push($(this).text().replace(/ /g, ""));
            });

            ////console.log('the selected_tag_list', selected_tag_list);

            $(".image-list-tags").each(function () {

                var list_image_id = $(this).attr('id');
                list_image_id = list_image_id.replace("list-image-tags-", "");

                var show_image = false;
                var tag_list = $(this).find('span');
                var tag_details_list = [];

                $(tag_list).each(function () {
                    tag_details_list.push($(this).text().replace(/ /g, ""));
                });

                if (selected_tag_list == "") {
                    $("#no-tag-filter").addClass("fa-check").removeClass('fa-square');
                    $("#list-of-selected-tags").text('').html('');

                    if (tag_details_list.length === 0) {
                        show_image = true;
                    }
                    else {
                        show_image = false;
                    }
                }
                else {
                    var image_list = [];


                    $.each(tag_details_list, function (k, v) {
                        var value = v.replace(/ /g, "");

                        var in_array = $.inArray(value, selected_tag_list) >= 0;

                        if (in_array) {
                            image_list.push(value);
                        }
                    });

                    ////console.log('tag_details_list', list_image_id, tag_details_list, 'image_list', image_list);
                    ////console.log('checking tag_details_list', list_image_id, tag_details_list, tag_details_list == "");

                    if (image_list.length === 0) {
                        show_image = false;
                    }
                    else {
                        show_image = true;
                    }
                }

                if (show_image) {
                    $("#list-" + list_image_id).show().css({'display': 'inline-block'});
                }
                else {
                    $("#list-" + list_image_id).hide();
                }

            });
        }

    </script>

{% endblock %}