{% extends "projects/base.html" %}

{% load model_tags %}

{% block breadcrumbs %}
    {{ block.super }}

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb" href="{{ project.get_absolute_url }}">
        {{ project.name }}
        <i class="fa fa-angle-double-right"></i>
    </a>

    <a class="header-breadcrumb" href="{% url 'projects-model-view' project.pk model|model_name_filter %}">
        {{ model|model_name_filter }} Schema
        <i class="fa fa-angle-double-right"></i>
    </a>

    <a class="header-breadcrumb" href="{% url 'projects-model-filter' project.pk model|model_name_filter %}">
        {{ model|model_name_filter }} Data
        <i class="fa fa-angle-double-right"></i>
    </a>

    <a class="header-breadcrumb not-active">
        Add {{ model|model_name_filter }}
    </a>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-9">

            <div class="card card-underline">
                <div class="card-head style-accent-light">
                    <header>Add {{ model|model_name_filter }} Details</header>

                    <div class="tools">
                        <div class="btn-group">
                            <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </div>
                </div>

                <div class="card-body" style="padding: 20px;">

            <form action method="post">
                {% csrf_token %}

                        {{ form.as_p }}
{#                        {% for field in form %}#}
{#                            {% include "includes/field.html" with field=field %}#}
{#                        {% endfor %}#}

                <br><br>
                <a href="{% url 'projects-model-filter' project.pk model|model_name_filter %}" class="btn btn-back">Cancel</a>
                <button type="submit" class="btn btn-process" value="Submit">Submit</button>
            </form>
        </div>
    </div>
        </div>

        {% if actions %}

                <h2>Actions</h2>

                <ul class="action-list">
                    {% for action_name, action_url in actions %}
                        <li>
                            <a href="{{ action_url }}">
                                {{ action_name }}
                                <i class="icon-arrow-right"></i>
                            </a>
                        </li>
                    {% endfor %}
                </ul>

        {% endif %}

    </div>

{% endblock %}
