{% extends "projects/detail.html" %}


{% block title %}{{ block.super }} - Edit{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}

    <i class="fa fa-angle-double-right"></i>

    <span class="header-breadcrumb active" href="{% url 'projects-view' project.pk %}">
        Edit Building
    </span>
{% endblock %}

{% block content %}
    <form action method="post" enctype="multipart/form-data">
        {% csrf_token %}


            <h2>Building Details</h2>

            <div class="form-well">
                {% for field in form.visible_fields %}
                    {% include "includes/field.html" with field=field %}
                {% endfor %}
            </div>


        <a href="{{ project.get_absolute_url }}" class="btn btn-back">Cancel</a>
        <button type="submit" class="btn btn-process" value="Submit">Submit</button>
    </form>
{% endblock %}
