{% extends "projects/detail.html" %}

{% load model_tags %}

{% block title %}{{ block.super }} - Delete{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb" href="{{ project.get_absolute_url }}">
        {{ project.name }}
    </a>

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb" href="{% url 'projects-model-view' project.pk model|model_name_filter %}">
        {{ model|model_name_filter }} Schema
    </a>

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb" href="{% url 'projects-model-filter' project.pk model|model_name_filter %}">
       {{ model|model_name_filter }} Data
    </a>

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb active">
        Delete
    </a>
{% endblock %}

{% block content %}
    <form action="./" method="post">
        {% csrf_token %}
        

            <h2>Update {{ model|model_name_filter }}: {{ instance.pk }}</h2>

            <p>Are you sure you want to delete this information?</p>


        <a class="btn btn-default" href="{% url 'projects-model-update' project.pk model_name instance.pk %}">Cancel</a>
        <button type="submit" class="btn btn-process" value="Delete">Delete</button>
    </form>
    
{% endblock %}
