{% extends "projects/base.html" %}

{% load model_tags %}

{% block breadcrumbs %}
    {{ block.super }}

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb" href="{{ project.get_absolute_url }}">
        {{ project.name }}

        <i class="fa fa-angle-double-right"></i>
    </a>



    <a class="header-breadcrumb" href="{% url 'projects-model-list' project.pk %}">
         Model List

        <i class="fa fa-angle-double-right"></i>
    </a>



    <a class="header-breadcrumb" href="{% url 'projects-model-view' project.pk project.apartment_model %}">
        {{ project.apartment_model }} Schema

        <i class="fa fa-angle-double-right"></i>
    </a>



    <a class="header-breadcrumb" href="{% url 'projects-model-filter' project.pk project.apartment_model %}">
       {{ project.apartment_model }} Data

        <i class="fa fa-angle-double-right"></i>
    </a>



    <a class="header-breadcrumb not-active">
        Edit {{ project.apartment_model }} with Template
    </a>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-9">
            <div class="card card-underline">
                <div class="card-head style-primary-dark">
                    <header>Edit Details</header>

                    <div class="tools">
                        <div class="btn-group">
                            <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down white"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <form action method="post" enctype="multipart/form-data" id="edit-template-form">
                        {% csrf_token %}

                        <input type="hidden" id="total_fields" value="{{ total_fields }}">

                        <div style="width: 50%">
                            <label>Template:</label>

                            <select id="select-template">
                                {% for option in all_templates %}
                                    <option value="{{ option.pk }}" {% ifequal template_id option.id %} selected {% endifequal %}>
                                        {{ option.template_name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>


                        <br>
                        <h3>Apartment Details: [ID: {{ apartment.pk }}]</h3>

                        {{ template_columns_form.management_form }}

                        <table class="table detail-table">
                            <tr style="font-weight: bold;">
                                <td style="width: 180px;">
                                    Table Mapping
                                </td>
                                <td style="width: 180px;">
                                    Field
                                </td>
                                <td></td>
                            </tr>

                            {% for form in template_columns_form %}

                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}

                                <tr>
                                    <td style="padding-top: 30px;">
                                        {{ form.column_table_mapping.value|capfirst }}
                                    </td>
                                    <td style="padding-top: 30px;">
                                        {{ form.column_pretty_name.value|capfirst }}
                                    </td>
                                    <td>
                                        {% include "includes/field.html" with field=form.apartment_value %}
                                    </td>
                                </tr>

                            {% endfor %}
                        </table>


                        <br>
                        <a href="{{ project.get_absolute_url }}" class="btn btn-process-back">Cancel</a> &nbsp;
                        <button type="submit" class="btn btn-process">Save</button>
                    </form>
                </div>
            </div>
        </div>

        {% if actions %}
            <div class="col-xs-3">

                    <h2>Actions</h2>

                    <ul class="action-list">
                        {% for action_name, action_url in actions %}
                            <li>
                                <a href="{{ action_url }}">
                                    {{ action_name }}
                                    <i class="icon-arrow-right"></i>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

            </div>
        {% endif %}
    </div>

    <script>
        $(function() {
            $("#select-template").change(function() {
                window.location.href = "/projects/{{ project.pk }}/update/templated/apartments/"+this.value+"/{{ apartment.pk }}/";
            });
        });
    </script>
{% endblock %}
