{% extends "projects/base.html" %}

{% load model_tags %}

{% block title %}{{ block.super }} - {{ project.name }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb" href="{{ project.get_absolute_url }}">
        {{ project.name }}
        <i class="fa fa-angle-double-right"></i>
    </a>

    <a class="header-breadcrumb not-active">
        Model List
    </a>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-9">
            <div class="card-body no-padding">
                <div class="alert alert-callout alert-danger no-margin">

                    <h2>Models</h2>

                    <div id="data-model-view">
                        <table class="table table-striped table-hover">
                            <tbody>
                                {% for item in view.models %}
                                <tr>
                                    <th width="330px">{{ item|model_name_filter }}</th>
                                    <td>
                                        <i class="icon-eye"></i> &nbsp;
                                        <a href="{% url 'projects-model-view' project.pk item|model_name_filter %}">
                                            View Schema
                                        </a>
                                    </td>
                                    <td>
                                        <i class="fa fa-pencil"></i> &nbsp;
                                        <a href="{% url 'projects-model-filter' project.pk item|model_name_filter %}">
                                            View all data
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

        {% with view.actions as actions %}
            {% if actions %}
                <div class="col-xs-3">
                    <div class="card-body no-padding">
                        <div class="alert alert-callout alert-warning no-margin">

                        <h2>Actions</h2>

                        <ul class="action-list">
                            {% for action_name, action_url in actions %}
                                <li>
                                    <a href="{{ action_url }}">
                                        {{ action_name }}
                                        <i class="icon-arrow-right"></i>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                        </div>
                    </div>

                </div>
            {% endif %}
        {% endwith %}
    </div>

{% endblock %}
