{% extends "projects/base.html" %}

{% load model_tags %}

{% block title %}{{ block.super }} - {{ project.name }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb" href="{{ project.get_absolute_url }}">
        {{ project.name }}

        <i class="fa fa-angle-double-right"></i>
    </a>

    <a class="header-breadcrumb" href="{% url 'projects-model-list' project.pk %}">
         Model List

        <i class="fa fa-angle-double-right"></i>
    </a>

    <a class="header-breadcrumb not-active">
        {{ model|model_name_filter }} Schema
    </a>


{% endblock %}

{% block content %}


    <div class="row">
        <div class="col-xs-6">
            <div class="card card-underline">
                <div class="card-head style-accent" style="max-height: 50px !important;">
                    <header>
                       {{ model|model_name_filter }} Schema
                    </header>
                    <div class="tools" style="padding-top: 10px; padding-bottom: 0;">
                        <div class="btn-group" style="padding-bottom: 0;">
                            <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <table class="table table-striped table-hover">
                        <tbody>
                            <tr>
                                <th width="200px">Field Name</th>
                                <th width="200px">Field Type</th>
                            </tr>
                            {% for field in field_names %}

                                <tr>
                                    <td>{{ field }}</td>
                                    <td>{{ field|model_name_filter }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        {% if actions %}
            <div class="col-xs-3">
                <div class="card card-underline">
                    <div class="card-head style-accent" style="max-height: 50px !important;">
                        <header>
                           Actions
                        </header>
                    </div>

                    <div class="card-body">

                        <ul class="action-list">
                            {% for action_name, action_url in actions %}
                                <li>
                                    <a href="{{ action_url }}">
                                        {{ action_name }}
                                        <i class="icon-arrow-right"></i>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}
