{% extends "projects/base.html" %}

{% load model_tags %}

{% block breadcrumbs %}
    {{ block.super }}

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb" href="{{ project.get_absolute_url }}">
        {{ project.name }}
        <i class="fa fa-angle-double-right"></i>
    </a>

    <a class="header-breadcrumb" href="{% url 'projects-model-list' project.pk %}">
         Model List
        <i class="fa fa-angle-double-right"></i>
    </a>

    <a class="header-breadcrumb" href="{% url 'projects-model-view' project.pk model|model_name_filter %}">
        {{ model|model_name_filter }} Schema

        <i class="fa fa-angle-double-right"></i>
    </a>

    <a class="header-breadcrumb not-active">
       {{ model|model_name_filter }} Data
    </a>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-9">
            <div class="card card-underline">
                <div class="card-head style-primary-dark">
                    <header>{{ model|model_name_filter }} Filters</header>

                    <div class="tools">
                        <div class="btn-group">
                            <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </div>
                </div>

                <div class="card-body tab-content">

                    <div class="well form-filter">
                        <h4 onclick="$('.form-filter-chunk').toggle();">Select Filters <i class="fa fa-angle-double-right"></i></h4>
                        <a class="btn btn-sm btn-like-process pull-right" style="margin-top: -37px;" href="{% url 'projects-model-filter' project.pk model|model_name_filter %}">Clear Filters</a>

                        <form id="model-filter-form" class="form-filter-chunk" action method="post">
                            {% csrf_token %}
                            {{ form.as_p }}

                            <input type="hidden" id="order_page_by" name="order_page_by" value="">
                            <input type="hidden" id="order_page_by_direction" name="order_page_by_direction" value="asc">
                            <input type="hidden" id="data_page_number" name="data_page_number" value="1">
                            <input type="hidden" id="data_page_direction" name="data_page_direction" value="next">
                            <input type="hidden" id="data_page_position" name="data_page_position" value="0">
                            <input type="hidden" id="data_field_names" name="data_field_names" value="{{ field_names }}">

                            <br><br>

                            <a href="#" onclick="$('#data_page_position').val(0); $('#data_page_number').val(1); get_page_information('None');" class="btn btn-sm btn-process">
                                Apply Filters
                            </a>
                            <br>
                        </form>
                    </div>

                    <strong>Please note:</strong> You can filter all data using the option in the filter
                    list then download the filtered data to excel
                    using the "Download Filtered List" link under Actions.
                </div>
            </div>

        </div>


        {% if actions %}
            <div class="col-xs-3">
                <div class="card card-underline">
                <div class="card-head style-primary-dark">
                    <header>Actions</header>

                    <div class="tools">
                        <div class="btn-group">
                            <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </div>
                </div>

                <div class="card-body tab-content">
                    <ul class="action-list">
                        {% for action_name, action_url in actions %}
                            <li>
                                <a href="{{ action_url }}">
                                    {{ action_name }}
                                    <i class="icon-arrow-right"></i>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            </div>
        {% endif %}

    </div>
    <br>

    {% if field_names and data %}
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">


                    <div class="pull-right">
                 <div class="button-group pull-right">
                    <button style="margin-right: -16px; width: 220px;" type="button" id="show-columns-dropdown" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                        <span class="fa fa-cog"></span>
                        &nbsp; Toggle Columns
                        &nbsp; <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu column-filter">
                      {% for field in field_names %}
                          <li>
                              <a class="show-columns-list" data-value="{{ field }}" tabIndex="-1">
                                <span style="width: 160px !important;">{{ field }}</span> &nbsp;
                                 <i class="icon-check pull-right column-showing-checkbox on-display" id="checkbox-{{ field }}"></i>
                              </a>
                          </li>
                      {% endfor %}
                    </ul>
                  </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="card card-underline">
                <div class="card-head style-primary-dark">
                    <header></header>

                    <div class="tools">
                        <div class="btn-group">
                            <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card-body tab-content">
                    <div style="overflow-y: hidden; overflow-x: auto">
                <div class="table-container">

                <div style="font-size: 10px;">
                    <em class="page-location-information">Page {{ page }} of {{ pages }}</em>
                </div>
                        <table class="table table-striped dataTable custom-dataTable" id="page-data-table">
                            <thead>
                                <tr id="row-1">
                                    <th style="text-align: center;"><em>Edit</em></th>
                                    {% if has_hot_spot_configuration %}
                                        <th>Hotspot{% if floors %}s{% endif %}</th>
                                    {% endif %}

                                    <th style="text-align: center;">
                                        <em>Delete</em>
                                    </th>

                                    {% ifequal sorting_field "id" %}
                                        <th style="text-align: center" data-column="id" data-column-int="2" class="large-th sorting{% if sorting_direction %}_{{ sorting_direction }}{% endif %}">
                                            ID
                                        </th>
                                    {% else %}
                                        <th style="text-align: center" data-column="id" data-column-int="2" class="large-th sorting">
                                            ID
                                        </th>
                                    {% endifequal %}

                                    {% for field in field_names %}
                                        {% ifequal sorting_field field %}
                                            <th style="text-align: center; cursor: pointer" data-column="{{ field }}" data-column-int="{{ forloop.counter }}" class="large-th sorting{% if sorting_direction %}_{{ sorting_direction }}{% endif %}">
                                                {{ field }}
                                            </th>
                                        {% else %}
                                            <th style="text-align: center;; cursor: pointer" data-column="{{ field }}" data-column-int="{{ forloop.counter }}" class="large-th sorting">
                                                {{ field }}
                                            </th>
                                        {% endifequal %}
                                    {% endfor %}

                                </tr>
                            </thead>
                        <tbody id="paginated-data">
                            {% include "projects/dynamic_editing/includes/project_model_filter_pagination.html" with has_hot_spot_configuration=has_hot_spot_configuration %}
                        </tbody>
                    </table>

                </div>
            </div>



                    {% ifnotequal pages 1 %}
                        <ul class="pagination">
                            <li class="waves-effect"><button id="paginate-back-button" class="btn btn-like-process" onclick="get_page_information('Previous')" disabled><i class="icon-caret-left"></i> Previous</button></li>
                            <li class="waves-effect"><button id="paginate-next-button" class="btn btn-like-process" onclick="get_page_information('Next')">Next <i class="icon-caret-right"></i></button></li>
                        </ul>
                        <div style="font-size: 10px;">
                            <em class="page-location-information">Page {{ page }} of {{ pages }}</em>
                        </div>
                    {% endifnotequal %}
                </div>
            </div>


    </div>
</div>

    {% else %}
        <em>There is no information saved to this table.</em>
    {% endif %}

    <script>
        $(document).ready(function() {
            $("#show-columns-dropdown").click(function() {
               if ($(".dropdown-menu").is(":visible"))
                {
                    $(".dropdown-menu").hide();
                }
                else
                {
                    $(".dropdown-menu").show();
                }
            });

            $(".dropdown-menu a").click(function() {
               var selected_cb = $(this).attr('data-value');

               $(this).children("i").toggleClass('on-display');
               $("#checkbox-"+selected_cb).toggle('click');

               var filter_val = $("#id_"+selected_cb).val();
               var column_value = '';

               $('#page-data-table tr th').each(function() {
                   column_value = $(this).attr('data-column');

                   if (selected_cb == column_value)
                   {
                       $(this).toggle();
                   }
               });

               $('#page-data-table tr td').each(function() {
                   column_value = $(this).attr('data-column');

                   if (selected_cb == column_value)
                   {
                       $(this).toggle();
                   }
               });

            });

        } );

        function confirm_delete(id, model_name, row_id)
        {
            if (confirm("Are you sure you wish to delete this row ["+row_id+"]?"))
            {
                window.location.href="/projects/"+id+"/update/"+model_name+"/row/delete/"+row_id+"/instant/";
            }
        }


        $(".sorting").click(function() {

            var direction = 'asc';
            var classes = $(this).attr('class');

            if (classes.indexOf("sorting_asc") >= 0)
            {
                direction = 'descending';
                $("#order_page_by_direction").val('desc');
                $(this).addClass('sorting_desc').removeClass('sorting');
            }
            else
            {
                $(".sorting_desc").removeClass('sorting_desc').addClass('sorting');
            }

            if (classes.indexOf("sorting_desc") >= 0)
            {
                $(this).addClass('sorting_asc').removeClass('sorting_desc');
                direction = 'asc';
                $("#order_page_by_direction").val('asc');
            }
            else
            {
                $(".sorting_asc").removeClass('sorting_asc').addClass('sorting');

            }

            $(this).addClass('sorting_asc').removeClass('sorting');

            var check_class = $(this).attr('class');
            if (check_class == 'sorting_asc')
            {
                direction = 'descending';
                $("#order_page_by_direction").val('desc');
                $(this).removeClass('sorting_asc').addClass('sorting_desc');
            }

            var table_column_field = $(this).attr('data-column');
            $("#order_page_by").val(table_column_field);

            var table_column = $(this).attr('data-column-int');
            sort_table(table_column, direction);

        });


        function sort_table(table_column, direction)
        {
            var $table=$('#page-data-table');
            var rows = $table.find('tbody tr').get();

            $.each(rows, function(index, row) {
                var td_value = $(row).find("td[data-column-int="+table_column+"]").text().replace(/ +(?= )/g,'').trim().toLowerCase();
                $(this).attr('sorting-by', td_value);
            });

            rows.sort(function(a, b) {

                var keyA = $(a).attr('sorting-by');
                var keyB = $(b).attr('sorting-by');

                var keyAint = parseFloat(keyA);
                var keyBint = parseFloat(keyB);

                if ($.isNumeric(keyAint) && $.isNumeric(keyBint))
                {
                    keyA = keyAint;
                    keyB = keyBint;
                }

                if (direction == 'asc')
                {
                    if (keyA < keyB) return -1;
                    if (keyA > keyB) return 1;
                }
                else
                {
                    if (keyA < keyB) return 1;
                    if (keyA > keyB) return -1;
                }

                return 0;
            });

            $.each(rows, function(index, row) {
                $table.children('tbody').append(row);
            });
        }

        function set_sorting(sorting_by, selected_direction)
        {
            var direction = selected_direction;
            var table_column = $("#page-data-table th[data-column='"+sorting_by+"']");

            var table_column_int = $(table_column).attr("data-column-int");

            var check_class = $(table_column).attr('class');
            $(table_column).removeClass('sorting').addClass('sorting_'+selected_direction);

            sort_table(table_column_int, selected_direction);
        }

        function get_page_information(direction)
        {
            $('.form-filter-chunk').hide();
            $("#data_page_direction").val(direction);

            $.post( '/get_project_model_filter/{{ project.pk }}/{{ model|model_name_filter }}/',
                    $( "#model-filter-form" ).serialize()
            ).success(function( data )
                    {
                       $("#paginated-data").html(data.rendered_html);

                       var column_value = '';
                       $(".column-showing-checkbox").each(function() {
                           if (!$(this).hasClass("on-display"))
                           {
                               var selected_cb = $(this).attr('id').replace("checkbox-", "");

                               $('#page-data-table tr th').each(function() {
                                   column_value = $(this).attr('data-column');

                                   if (selected_cb == column_value)
                                   {
                                       $(this).hide();
                                   }
                               });

                               $('#page-data-table tr td').each(function() {
                                   column_value = $(this).attr('data-column');

                                   if (selected_cb == column_value)
                                   {
                                       $(this).hide();
                                   }
                               });
                           }
                       });

                        $("#data_page_position").val(data.position);

                        $("#data_page_number").val(data.page);
                        $(".page-location-information").text("Page "+ data.page +" of "+ data.pages);

                        set_sorting(data.sorting_field, data.sorting_direction);

                        if (parseInt(data.page) && parseInt(data.page) > 1)
                        {
                            $("#paginate-back-button").removeAttr('disabled');
                        }
                        else
                        {
                            $("#paginate-back-button").attr('disabled', 'disabled');
                        }

                        if (parseInt(data.page) && parseInt(data.page) == data.pages)
                        {
                            $("#paginate-next-button").attr('disabled', 'disabled');
                        }
                        else
                        {
                            $("#paginate-next-button").removeAttr('disabled');
                        }

                    }).error(function( data )
                    {
                       alert("Something went wrong with getting the next set of data. Please contact an administrator.");
                    });
        }

    </script>

{% endblock %}
