{% extends "projects/dynamic_editing/update_model_row.html" %}

{% load model_tags %}

{% block content %}
    <div class="row">
        <div class="col-xs-9">
                <div class="card card-underline">
                    <div class="card-head style-accent">
                        <header>
                           Floor Details
                        </header>
                        <div class="tools" style="padding-top: 10px; padding-bottom: 0;">
                            <div class="btn-group" style="padding-bottom: 0;">
                                <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                            </div>
                        </div>

                    </div>
                    <div class="card-body">

                    <div class="row">
                        <div class="col-sm-8">

                            <form action method="post">
                                {% csrf_token %}

                                    <h2>Update Floor [id: {{ instance.pk }}]</h2>

                                        {% for field in form %}
                                            {% include "includes/field.html" with field=field %}
                                        {% endfor %}


                                <br><br>

                                <a href="{% url 'projects-model-filter' project.pk model|model_name_filter %}" class="btn btn-process-back">Cancel</a>
                                <button type="submit" class="btn btn-process" value="Submit">Submit</button>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
        </div>

    <div class="col-sm-3">
        {% if actions %}

               <div class="card card-underline">
                    <div class="card-head style-primary">
                        <header>
                            Actions
                        </header>
                        <div class="tools" style="padding-top: 10px; padding-bottom: 0;">
                            <div class="btn-group" style="padding-bottom: 0;">
                                <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                            </div>
                        </div>

                    </div>
                    <div class="card-body">

                        <ul class="action-list">
                            {% for action_name, action_url in actions %}
                                <li>
                                    <a href="{{ action_url }}">
                                        {{ action_name }}
                                        <i class="icon-arrow-right"></i>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

        {% endif %}
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog" style="width: 800px;">

        <!-- Modal content-->
        <div class="modal-content" style="width: 790px;">
          <div class="modal-header" style="width: 790px;">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Full Size Floor Plan Image</h4>
          </div>
          <div class="modal-body"  style="max-height: 500px; max-width: 785px; overflow-x: auto; overflow-y: auto;">
            {% for location in configuration.image_configuration.all %}
                <img src="{{ STATIC_URL }}{{ location }}{{ project.project_connection_name|lower }}/floor_{{ instance.floor_plate_image_id }}.jpg">
            {% endfor %}
          </div>
          <div class="modal-footer" style="width: 790px;">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
{% endblock %}
