{% extends "projects/base.html" %}

{% load model_tags %}

{% block breadcrumbs %}
    {{ block.super }}

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb" href="{{ project.get_absolute_url }}">
        {{ project.name }}

        <i class="fa fa-angle-double-right"></i>
    </a>

    <a class="header-breadcrumb" href="{% url 'projects-model-view' project.pk model|model_name_filter %}">
        {{ model|model_name_filter }} Schema

        <i class="fa fa-angle-double-right"></i>
    </a>

    <a class="header-breadcrumb" href="{% url 'projects-model-filter' project.pk model|model_name_filter %}">
       {{ model|model_name_filter }} Data

        <i class="fa fa-angle-double-right"></i>
    </a>

    <a class="header-breadcrumb active">
        Update
    </a>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-9">
            <div class="card card-underline">
                <div class="card-head style-accent">
                    <header>
                       Update {{ model|model_name_filter }}: {{ instance.pk }}
                    </header>
                    <div class="tools" style="padding-top: 10px; padding-bottom: 0;">
                        <div class="btn-group" style="padding-bottom: 0;">
                            <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <form action method="post">
                                {% csrf_token %}

                                    {% ifequal model_name "floors" %}

                                            Floor Plan Image

                                            <img src="">

                                            <br><br>
                                            Description:<br>
                                            File Location:<br>

                                    {% endifequal %}

                                    {% if image_field  %}

                                        <table class="table table-striped table-hover">
                                            <tr>
                                                <th>
                                                    Floor Plan:
                                                </th>
                                                <td>
                                                    {{ image_field }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Floor Plan Image</th>
                                                <td>
                                                    {% if image_exists %}
                                                        <img src="{{ STATIC_URL }}{{ image_field }}" style="max-width: 200px;">
                                                        <br>
                                                        <a class="btn btn-process" data-toggle="modal" data-target="#full-image-plan">View Full</a>
                                                    {% else %}
                                                        <em>The floor plan image does not exist in the saved folder structure.</em><br>
                                                        <a href="{% url 'projects-apartments-add-floor-plan' project.pk instance.pk %}" class="btn btn-process">Update Floor Plan Image</a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        </table>
                                        <br><br>
                                    {% endif %}

                                   {% for field in form %}
                                        {% include "includes/field.html" with field=field %}
                                    {% endfor %}


                                <br><br>
                                <a href="{% url 'projects-model-filter' project.pk model|model_name_filter %}" class="btn btn-process-back">Cancel</a>
                                <button type="submit" class="btn btn-process" value="Submit">Submit</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3">

            {% if actions %}
                <div class="card card-underline">
                    <div class="card-head style-primary">
                        <header>
                            Actions
                        </header>
                        <div class="tools" style="padding-top: 10px; padding-bottom: 0;">
                            <div class="btn-group" style="padding-bottom: 0;">
                                <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                            </div>
                        </div>

                    </div>
                    <div class="card-body">

                        <ul class="action-list">
                            {% for action_name, action_url in actions %}
                                <li>
                                    <a href="{{ action_url }}">
                                        {{ action_name }}
                                        <i class="icon-arrow-right"></i>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            {% endif %}

        </div>


    <!-- Modal -->
    <div id="full-image-plan" class="modal fade" role="dialog">
      <div class="modal-dialog" style="width: 800px;">

        <!-- Modal content-->
        <div class="modal-content" style="width: 790px;">
          <div class="modal-header" style="width: 790px;">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Full Size Floor Plan Image</h4>
          </div>
          <div class="modal-body"  style="max-height: 500px; max-width: 785px; overflow-x: auto; overflow-y: auto;">
            <img src="{{ STATIC_URL }}{{ image_field }}">
          </div>
          <div class="modal-footer" style="width: 790px;">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
{% endblock %}
