{% extends "projects/dynamic_editing/update_model_row.html" %}

{% load model_tags %}

{% block content %}
    <script src="/static/common/js/hotspot.js"></script>
    <div class="row">
        <div class="col-xs-9">
            <form action method="post" id="custom-hotspot-form">
                {% csrf_token %}


                    <h2>Floor Details</h2>
                    <table class="table table-striped table-hover">
                        <tbody>
                            <tr>
                                <th>ID</th>
                                <td>{{ instance.floor_id }}</td>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <td>{{ floor_model_instance.name }}</td>
                            </tr>
                            <tr>
                                <th width="200px">Floor Plan Image</th>
                                <td>
                                    {% if has_floor_plan_image %}
                                        <img src="{{ file_location }}" style="max-width: 200px;">
                                        <br>
                                        <a class="btn btn-process" data-toggle="modal" data-target="#myModal">View Full</a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>File Location</th>
                                <td>
                                    {% if has_floor_plan_image %}
                                        /{{ project.name|lower }}/floor_{{ floor_model_instance.floor_plate_image_id }}.jpg
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>



                    <h2>Update Apartment Details {{ instance.name }} [id: {{ instance.pk }}]</h2>
                    <div class="form-well">
                        {% for field in form %}
                            {% include "includes/field.html" with field=field %}
                        {% endfor %}
                    </div>


                <strong>New Selected Hotspot Coordinates: <span style="color: green">X</span> </strong>
                    <table class="table table-striped table-hover">
                        <tr>
                            <th style="width: 200px;">X:</th>
                            <td><input type="text" id="selected_current_value_x" name="selected_value_x"></td>
                        </tr>
                        <tr>
                            <th style="width: 200px;">Y:</th>
                            <td><input type="text" id="selected_current_value_y" name="selected_value_y"></td>
                        </tr>
                    </table>
                    <br><br>

                    {% if has_floor_plan_image %}
                        <div id="current-coordinate-hover"></div>

                        <strong>Click on the image below to select a new hotspot</strong>
                        <div id="floor-plan-wrapper" style="width: 702px;">
                            <div id="floor-plan-image" style="text-align: center; width: 702px;">
                                <img src="{{ file_location }}" style="width: 500px;">
                            </div>

                            <canvas id="cross-hatch" class="cross-hatch-hotspot" width="700" height="500">
                                Your browser does not support the HTML5 canvas tag.
                            </canvas>
                        </div>

                        <div style="height: 50px; margin-bottom: 0;padding: 0; position: relative" >
                            <a style="position: absolute; left: 0; top: 10px;" href="{% url 'projects-model-filter' project.pk model|model_name_filter %}" class="btn btn-back">Cancel</a>
                            <a  style="position: absolute; top: 10px; left: 75px;" onclick="update_selected_hotpots('id_picking_coord_x', 'id_picking_coord_y', 'custom-hotspot-form');" class="btn btn-process">Submit</a>
                        </div>


                    {% else %}
                        <em>This floor does not have a floor plan image.</em><br>
                        <a href="{% url 'projects-floors-add-floor-plan' project.pk floor_model_instance.pk %}" class="btn btn-process">Add Floor Plan Image</a>
                    {% endif %}


            </form>
        </div>

        {% if actions %}

                <h2>Actions</h2>

                <ul class="action-list">
                    {% for action_name, action_url in actions %}
                        <li>
                            <a href="{{ action_url }}">
                                {{ action_name }}
                                <i class="icon-arrow-right"></i>
                            </a>
                        </li>
                    {% endfor %}
                </ul>

        {% endif %}

    </div>


    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog" style="width: 800px;">

        <!-- Modal content-->
        <div class="modal-content" style="width: 790px;">
          <div class="modal-header" style="width: 790px;">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Full Size Floor Plan Image</h4>
          </div>
          <div class="modal-body"  style="max-height: 500px; max-width: 785px; overflow-x: auto; overflow-y: auto;">
            {% for location in configuration.image_configuration.all %}
                <img src="{{ STATIC_URL }}{{ location }}{{ project.project_connection_name|lower }}/floor_{{ instance.floor_plate_image_id }}.jpg">
            {% endfor %}
          </div>
          <div class="modal-footer" style="width: 790px;">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

    <div style="display: none">
        <span id="current_value_x">{{ instance.picking_coord_x }}</span>
        <span id="current_value_y">{{ instance.picking_coord_y }}</span>
    </div>

    <input type="hidden" id="selected_x" value="">
    <input type="hidden" id="selected_y" value="">

{% endblock %}
