{% extends "projects/base.html" %}

{% load model_tags %}

{% block breadcrumbs %}
    {{ block.super }}

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb" href="{{ project.get_absolute_url }}">
        {{ project.name }}
    </a>

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb" href="{% url 'projects-model-filter' project.pk model|model_name_filter %}">
       {{ model|model_name_filter }} Data
    </a>

    <i class="fa fa-angle-double-right"></i>


    {{ model|model_name_filter }} {{ row_id }}


    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb active">
        Update Views
    </a>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-9">
            <form action method="post" id="hot-spot-form">
                {% csrf_token %}


                    <h2>Update Views Configuration in {{ model|model_name_filter }}: [ID {{ instance.pk }}]</h2>


                    <table class="table table-striped table-hover">
                        <tbody>
                            <tr>
                                <th>Image ID</th>
                                <td>{{ image_instance.pk }}</td>
                            </tr>
                            <tr>
                                <th>Thumbnail Path</th>
                                <td>{{ image_instance.thumbnail_path }}</td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>{{ image_instance.description }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>


                    <br>
                   <strong>Click on an available apartment to assign the view.</strong>
                   <table class="table table-striped table-hover">
                       <tr>
                           <th style="width: 50%;">Available Apartments</th>
                           <th>Assigned Apartments</th>
                       </tr>

                       <tr>
                           <td>
                               <div class="apartment-assign-scroll">
                                   {% for apartment in apartment_instances %}
                                      <div id="available_apartment_{{ apartment.id }}" onclick="assign_apartment_to_view('{{ apartment.id }}');" class="assign-available-apartment">
                                          <div style="display: inline-block; margin-right: 20px;">
                                              {{ apartment }}
                                          </div>
                                          <div style="display: inline-block;">
                                              <i class="icon-save"></i> <i class="icon-arrow-right"></i>
                                          </div>
                                      </div>
                                   {% endfor %}
                               </div>
                           </td>
                           <td style="vertical-align: text-top;">
                                <div class="apartment-assign-scroll">
                                    {% for apartment in assigned_instances %}
                                      <div id="assigned_apartment_{{ apartment.id }}" onclick="remove_apartment_from_view('{{ apartment.id }}');" class="assign-available-apartment">
                                          <div style="display: inline-block; margin-right: 20px;">
                                              <i class="icon-arrow-left"></i> <i class="icon-save"></i>
                                          </div>
                                          <div style="display: inline-block;">
                                              {{ apartment }}
                                          </div>
                                      </div>
                                    {% endfor %}
                                </div>
                           </td>
                       </tr>


                   </table>


            </form>
        </div>

        {% if actions %}
            <div class="col-xs-3" style="max-height: 1000px;">

                    <h2>Actions</h2>

                    <ul class="action-list">
                        {% for action_name, action_url in actions %}
                            <li>
                                <a href="{{ action_url }}">
                                    {{ action_name }}
                                    <i class="icon-arrow-right"></i>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

            </div>
        {% endif %}
    </div>

    <script>
        function assign_apartment_to_view(apartment_id)
        {
            //(?P<pk>\d+)/(?P<model_name>\w+)/(?P<row_id>\d+)/save/(?P<apartment_id>\d+)/
            window.location.href = "/projects/{{ project.pk }}/{{ model_name }}/{{ row_id }}/save/"+apartment_id+"/";
        }

        function remove_apartment_from_view(apartment_id)
        {
            //(?P<pk>\d+)/(?P<model_name>\w+)/(?P<row_id>\d+)/save/(?P<apartment_id>\d+)/
            window.location.href = "/projects/{{ project.pk }}/{{ model_name }}/{{ row_id }}/remove/"+apartment_id+"/";
        }
    </script>

{% endblock %}
