{% extends "projects/base.html" %}

{% load model_tags %}

{% block breadcrumbs %}
    {{ block.super }}

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb" href="{{ project.get_absolute_url }}">
        {{ project.name }}
    </a>

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb" href="{% url 'projects-model-view' project.pk model|model_name_filter %}">
        {{ model|model_name_filter }} Schema
    </a>

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb" href="{% url 'projects-model-filter' project.pk model|model_name_filter %}">
       {{ model|model_name_filter }} Data
    </a>

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb active">
        Upload model data
    </a>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-9">
            <form action method="post">
                {% csrf_token %}


                    <h2>Upload file for: {{ model|model_name_filter }}</h2>

                    <div class="form-well">
                        {% for field in form %}
                            {% include "includes/field.html" with field=field %}
                        {% endfor %}
                    </div>


                <a href="{% url 'projects-model-filter' project.pk model|model_name_filter %}" class="btn btn-back">Cancel</a>
                <button type="submit" class="btn btn-process" value="Submit">Submit</button>
            </form>
        </div>
    </div>

{% endblock %}
