{% extends "projects/base.html" %}

{% load model_tags %}

{% block breadcrumbs %}
    {{ block.super }}

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb" href="{{ project.get_absolute_url }}">
        {{ project.name }}
    </a>

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb" href="{% url 'projects-model-view' project.pk model|model_name_filter %}">
        {{ model|model_name_filter }} Schema
    </a>

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb" href="{% url 'projects-model-filter' project.pk model|model_name_filter %}">
       {{ model|model_name_filter }} Data
    </a>

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb active">
        Upload model data
    </a>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-9">
            <form enctype="multipart/form-data" class="active-form dynamicform" method="post" action="">
                {% csrf_token %}

                <div class="form-container">
                    <br>
                    <h2>
                        Upload Bulk Excel File Data to {{ model|model_name_filter }}
                    </h2>

                    <div class='well ctrlHolder{% if upload_form.uploaded_xlsx.errors %} error{% endif %}'>
                        {{ upload_form.uploaded_xlsx.errors }}
                        <p><strong>To upload a document:</strong></p>
                        <ol>
                            <li>Download the filtered data from the Project and Table schema you wish to edit.</li>
                            <li>Edit the appropriate information and click <em>Save</em>.</li>
                            <li>Please note you cannot add new information in a filtered list upload. Only edit existing rows.</li>
                            <li>Click <em>Choose File</em> or <em>Browse</em>.</li>
                            <li>Browse to the location of the document you wish to upload.</li>
                            <li>Select the file you wish to upload. Do not select multiple files.</li>
                            <li>Click <em>Open</em>.</li>
                            <li>Your file will be uploaded when you submit the form. Please note that for large files or slow internet connections, it can take some time, even minutes, for your files to upload.</li>
                        </ol>

                        <br><br>

                        {{ upload_form.uploaded_xlsx }}
                    </div>

                    <input type="submit" class="btn btn-process" name="submit__upload" value="Save and Continue &gt;" style="margin-left: 0;" />

                </div>

            </form>
        </div>
    </div>

{% endblock %}
