
{% load model_tags %}

<form action method="post" id="assignment-form">
    {% csrf_token %}
    <table class="crunched-table">
        <tr>
            <th>Name</th>
            <th>Highlight</th>
            <th>Assign</th>
        </tr>
    {% for item in apartments %}
            <tbody>
            <tr style="text-align: center">
                <td>
                    {{ item.name }}</td>
                <td>
                    {% if item.picking_coord_x %}
                        <a onclick="highlight_reassignment_hotspot({{ item.pk }}, {{ item.picking_coord_x }}, {{ item.picking_coord_y }});" id="highlight-{{ item.pk }}"><i class="icon-arrow-circle-down"></i></a>
                    {% endif %}
                </td>
                <td>

                    <input type="hidden" name="apt_x_{{ item.pk }}" value="{{ item.picking_coord_x }}">
                    <input type="hidden" name="apt_y_{{ item.pk }}" value="{{ item.picking_coord_y }}">

                    <select name="selected_apartment_{{ item.pk }}">
                        {% for option in apartments %}
                            <option {% ifequal option.name item.name %}selected{% endifequal %}>{{ option.name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr id="show_current_hotspots_{{ item.id }}" class="show_current_hotspots" style="display: none;">
                <td colspan="3">
                    <table class="table">
                        <tr>
                            {% if item.picking_coord_x %}
                            <td id="refresh-coordinates-x-{{ item.id }}">
                                <strong>x co-ordinate:</strong> <input readonly class="small input-sm hotspot-fake-input" type="text" id="apartment_set_x_coordinate_{{ item.id }}" value="{{ item.picking_coord_x }}">
                            </td>
                            {% endif %}
                            {% if item.picking_coord_y %}
                            <td id="refresh-coordinates-y-{{ item.id }}">
                                <strong>y co-ordinate:</strong> <input readonly class="small input-sm hotspot-fake-input" type="text" id="apartment_set_y_coordinate_{{ item.id }}" value="{{ item.picking_coord_y }}">
                            </td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td colspan="2">
                                <a class="btn btn-danger btn-sm" onclick="remove_coordinates({{ project.pk }}, {{ item.id }});">Clear Hotspot</a>
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
        </tbody>
    {% endfor %}
    </table>
</form>