<div class='hidden'>
	<div id="help_text_{{ field.auto_id }}">
		<p><strong>To upload a document:</strong></p>
        <ol>
            <li>Click <em>Choose File</em> or <em>Browse</em>.</li>
            <li>Browse to the location of the document you wish to upload.</li>
            <li>Select the file you wish to upload. Do not select multiple files. For uploading multiple files, see step 6 below.</li>
            <li>Click <em>Open</em>.</li>
            <li>Your file will be uploaded when you submit the form. Please note that for large files or slow internet connections, it can take some time, even minutes, for your files to upload.</li>
			<li>
				Some pages require or allow the upload of multiple files. To upload multiple
				files, click <em>add another</em> and repeat steps 1-5. If you need to upload multiple files
				on a page that does not provide this facility, you can package them up into a 'zip' file and upload that.
			</li>
        </ol>
	</div>
</div>
<div class="clear"></div>
