{% load model_tags %}

{% for instance in data %}
    <tr id="row-{{ forloop.counter }}">
        <td style="text-align: center;">
            {% if instance.pk %}
                <a href="{% url 'projects-model-update' project.pk model_name instance.pk %}" title="Edit row">
                    <i class="fa fa-pencil"></i>
                </a>
            {% endif %}

        </td>

        {% if has_hot_spot_configuration %}
            <td style="text-align: center;">
                {% if instance.floor_id or instance.fields.floor_id %}
                    <a href="{% url 'projects-hotspot-configuration' project.pk model_name instance.pk %}"
                       alt="Edit hotspot">
                        <i class="icon-map-marker"></i>
                    </a>
                {% endif %}
                {% if floors %}
                    <a href="{% url 'projects-floors-hotspots' project.pk instance.pk %}" alt="Edit hotspot">
                        <i class="icon-map-marker"></i>
                    </a>
                {% endif %}
            </td>
        {% endif %}

        <td style="text-align: center;">
            <a style="cursor: pointer;" onclick="confirm_delete('{{ project.pk}}', '{{ model_name }}', '{{ instance.pk }}');" alt="Delete row">
                <i class="fa fa-trash-o"></i>
            </a>
        </td>

        <td style="text-align: center;" data-column="id" data-column-int="2" data-value="{{ instance.pk }}">
            {{ instance.pk }}
        </td>


        {% for field, value in instance.fields.items %}
            {% if field|check_field_selected:field_names %}
                <td data-column="{{ field }}" data-column-int="{{ forloop.counter }}" data-value="{{ value }}" style="text-align: center;">
                    {% if value|check_field_id:field %}
                        {{ project|one_more:field|show_names_object:instance }}
                    {% else %}
                        {{ value }}
                    {% endif %}

                </td>
            {% endif %}
        {% endfor %}

    </tr>
{% endfor %}
