{% extends "base_email.html" %}

{% block content %}
    <div style="font-size: 16px !important;">

        <div>
            {% if project and project.company_logo %}
                <img src="http://admin.displaysweet.com{{ project.company_logo.url }}" style="max-width: 50%">
            {% else %}
                <img src="{{ base_url }}static/common/img/DisplaySweetLogo_extra_small.png" alt=""/>
            {% endif %}
        </div>
        <br>

        {{ email_content|safe }}<br><br>
    </div>

    <div style="font-size: 10px;font-family: 'Avenir;'">
        This message was sent form a notification only email address. Please do not reply to this email.   This email and any files transmitted with it are confidential and intended solely for the use of the individual or entity to whom they are addressed. If you have received this email in error please notify the system manager. Please note that any views or opinions presented in this email are solely those of the author and do not necessarily represent those of the company. Finally, the recipient should check this email and any attachments for the presence of viruses. The company accepts no liability for any damage caused by any virus transmitted by this email. Please consider the environment before printing this email.￼
    </div>
{% endblock %}
