{% load canvas_tags %}

<div id="{{ device_slider_id }}" class="slider form-well" style="min-height:180px;max-height:200px; border-radius: 5px;">
    <ul>
        {% for device in device_list %}
            <li id="device-item-{{ device.device.pk }}" class="image-slider-list select-device {% if device.selected %}blue-square{% endif %}" style="display: inline-block;">
                <div style="width: 120px; height: 120px; float: left">
                    <em>{{ project|device_name:device.device }} <i class="removed-icon fa fa fa-trash-o-circle" style="display: none; float: right;"></i> </em>
                    <img src="/static/common/img/placeholder_canvas.png" style="width: 100px; z-index: 11">
                </div>

                <input type="hidden" class="selected-device-input" name="selected_device" id="selected-device-{{ device.device.pk }}" value="{% if device.selected %}{{ device.device.pk }}{% endif %}">

                {% if device.selected %}
                    <input type="hidden" class="selected-device-input" name="removed_device" id="removed-device-{{ device.device.pk }}" value="">
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>

<div class="controls">
    <a class="prev-page" data-toggle="tooltip" data-placement="top" title="Move slider to start"><i class="fa fa-fast-backward"></i></a> |
    <a class="prev-slide" data-toggle="tooltip" data-placement="top" title="Move slider left"><i class="fa fa-backward"></i></a> |
    <a class="next-slide" data-toggle="tooltip" data-placement="top" title="Move slider right"><i class="fa fa-forward"></i></a> |
    <a class="next-page" data-toggle="tooltip" data-placement="top" title="Move slider to end"><i class="fa fa-fast-forward"></i></a>
</div>

<script>
    $(function() {
        $('#{{ device_slider_id }}').lemmonSlider();

        $(".select-device").click(function() {
            var device_id = $(this).attr('id');
            device_id = device_id.replace('device-item-', '');

            if ($(this).hasClass('pink-square'))
            {
                $(this).removeClass('pink-square');
                $("#selected-device-"+device_id).attr('value', '');
            }
            else
            {
                if (! $(this).hasClass('blue-square'))
                {
                    $(this).addClass('pink-square');
                    $("#selected-device-"+device_id).attr('value', device_id);
                }

            }

            if ($(this).hasClass('blue-square'))
            {
                $(this).removeClass('blue-square');
                $(this).addClass('grey-square').addClass('had-blue');
                $(this).find('.removed-icon').show();
                $("#selected-device-"+device_id).attr('value', '');
            }
            else
            {
                if ($(this).hasClass('had-blue'))
                {
                    $(this).removeClass('pink-square');
                    $(this).removeClass('grey-square');
                    $(this).addClass('blue-square');
                    $("#selected-device-"+device_id).attr('value', device_id);
                }
            }

        });
    });
</script>