
    {% if not form.instance.id %}
        <h4>Add New Device</h4>
    {% endif %}

    <table class="table ">
        <tbody>
            <tr>
                <td width="200px;">Device Name</td>
                <td>
                    {% include "includes/field.html" with field=form.name %}
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table ">
        <tbody>
            <tr>
                <td width="200px;">Model:</td>
                <td><input type="text" class="form-control input-sm" value="" style="width: 220px;"></td>
            </tr>
            <tr>
                <td width="200px;">Version:</td>
                <td><input type="text" class="form-control input-sm" value="" style="width: 220px;"></td>
            </tr>
        </tbody>
    </table>

    <table class="table ">
        <tbody>
            <tr>
                <td colspan="2"><b>Resolution</b></td>
            </tr>
            <tr>
                <td width="200px;">Width:</td>
                <td><input type="text" class="form-control input-sm" value="" style="width: 220px;"></td>
            </tr>
            <tr>
                <td width="200px;">Height:</td>
                <td><input type="text" class="form-control input-sm" value="" style="width: 220px;"></td>
            </tr>
        </tbody>
    </table>

