{% extends "base_internal.html" %}

{% load reversion_tags %}

{% block title %}Home{% endblock %}

{% block nav %}
    {% include "includes/nav.html" with link='transactions' %}
{% endblock %}

{% block content %}
    <h1>
        <a class="header-breadcrumb" href="{% url 'transactions-list' %}">
            Transactions
        </a>
        
        <i class="fa fa-angle-double-right"></i>

        <a class="header-breadcrumb" href="{% url 'transactions-view' transaction.pk %}">
            Transaction #{{ transaction.pk }}
        </a>

        <i class="fa fa-angle-double-right"></i>

        <span class="header-breadcrumb active" href="{% url 'transactions-view' transaction.pk %}">
            Edit
        </span>
    </h1>

    <form action="./" method="post">
        {% csrf_token %}
        

            <h2>Transaction Details</h2>

            <div class="form-well">
                {% include "includes/field.html" with field=form.store %}
                {% include "includes/field.html" with field=form.amount %}
                {% include "includes/field.html" with field=form.transaction_time class="use-datepicker" %}
            </div>


        <button type="submit" class="btn btn-process" value="Submit">Submit</button>
    </form>
    
{% endblock %}
