{% extends "base_internal.html" %}

{% block title %}Home{% endblock %}

{% block nav %}
    {% include "includes/nav.html" with link='transactions' %}
{% endblock %}

{% block content %}
    <h1>
        <a class="header-breadcrumb" href="#">
            Transactions
        </a>
        
        <i class="fa fa-angle-double-right"></i>

        <span class="header-breadcrumb active">
            Transaction List
        </span>
    </h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et tincidunt lacus, eu tristique lacus. Morbi sit amet risus volutpat, sodales purus ac, tincidunt nisi. Proin id turpis efficitur, tincidunt neque a, consequat sapien. In in urna quam. Nulla a blandit sapien. Sed aliquam vel ligula ac pretium.
    </p>

    <div class="table-filters-container">
        <a class="table-filters-header" href="javascript:void(0);">
            <span class="show-text">Filters</span>
            <span class="hide-text">Hide Filters</span>
            <i class="indicator-inactive icon-chevron-right pull-right"></i>
            <i class="indicator-active icon-chevron-down pull-right"></i>
        </a>
        <div class="table-filters">
            <form id="transaction-filter-form" action="javascript:void(0);">
                <div class="row">
                    <div class="col-xs-3">
                        {% include "includes/filter_field.html" with field=filter_form.transaction_id %}
                    </div>
                    <div class="col-xs-3">
                        {% include "includes/filter_field.html" with field=filter_form.store %}
                    </div>
                    <div class="col-xs-3">
                        {% include "includes/filter_field.html" with field=filter_form.transaction_start_date class='use-datepicker' %}
                    </div>
                    <div class="col-xs-3">
                        {% include "includes/filter_field.html" with field=filter_form.transaction_end_date class='use-datepicker' %}
                    </div>
                </div>

                <a href="javascript:void(0);" class="table-filters-reset">
                    <i class="icon-close"></i>
                    Clear
                </a>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>

    <div class="table-container">
        <table class="listview-datatable table table-striped" data-callback="{% url 'transactions-list_callback' %}" data-filter-form="#transaction-filter-form">
            <thead>
                <tr>
                    <th data-sortable="true">ID</th>
                    <th data-sortable="true">Transaction Time</th>
                    <th data-sortable="true">Store</th>
                    <th data-sortable="true">Amount</th>
                    <th data-sortable="true" data-hidden="true">Created</th>
                    <th data-sortable="true" data-hidden="true">Modified</th>
                    <th>Actions</th>
                </tr>
            </thead>
        </table>
    </div>
{% endblock %}
