{% extends "base_internal.html" %}

{% load reversion_tags %}

{% block title %}Home{% endblock %}

{% block nav %}
    {% include "includes/nav.html" with link='transactions' %}
{% endblock %}

{% block content %}
    <h1>
        <a class="header-breadcrumb" href="{% url 'transactions-list' %}">
            Transactions
        </a>
        
        <i class="fa fa-angle-double-right"></i>

        <span class="header-breadcrumb active">
            Transaction #{{ transaction.pk }}
        </span>
    </h1>

    {% if active_version %}
        <div class="alert alert-warning version-warning fixed-alert" role="alert">
            <strong>Note:</strong> you are currently viewing an old revision of this document. <a href="./">Click here</a> to view the most recent version.
        </div>
    {% endif %}

    <div class="row">
        <div class="col-xs-9">

                <h2>Transaction Details</h2>

                <table class="table table-striped table-hover">
                    <tbody>
                        <tr>
                            <th width="200px">ID</th>
                            <td>{{ transaction.pk }}</td>
                        </tr>
                        <tr>
                            <th>Transaction Time</th>
                            <td>{{ transaction.transaction_time }}</td>
                        </tr>
                        <tr>
                            <th>Store</th>
                            <td>{{ transaction.store }}</td>
                        </tr>
                        <tr>
                            <th>Amount</th>
                            <td>${{ transaction.amount }}</td>
                        </tr>
                    </tbody>
                </table>



                <h2>Line Items</h2>

                <div class="table-container">
                    <table class="table table-striped simple-datatable">
                        <thead>
                            <tr>
                                <th>Item #</th>
                                <th>Proper Shipping Name</th>
                                <th>DG Class</th>
                                <th>W/C Per Item</th>
                                <th>UN No.</th>
                                <th>Item Weight</th>
                                <th>Product No.</th>
                                <th>Description</th>
                                <th>UOM</th>
                                <th>Qty Supplied</th>
                                <th>Qty Returned</th>
                                <th>Total Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for line_item in line_items %}
                                <tr>
                                    <td>{{ line_item.item_number }}</td>
                                    <td>{{ line_item.proper_shipping_name }}</td>
                                    <td>{{ line_item.dg_class }}</td>
                                    <td>{{ line_item.wc_per_item }}</td>
                                    <td>{{ line_item.un_no }}</td>
                                    <td>{{ line_item.item_weight }}</td>
                                    <td>{{ line_item.product_no }}</td>
                                    <td>{{ line_item.description }}</td>
                                    <td>{{ line_item.uom }}</td>
                                    <td>{{ line_item.qty_supplied }}</td>
                                    <td>{{ line_item.qty_returned }}</td>
                                    <td>{{ line_item.total_price }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>



                <h2>Files</h2>

                <ul class="file-list">
                    <li>
                        <a href="#">
                            <i class="icon-file-pdf-o"></i>
                            <span>Invoice (204kb)</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-file-pdf-o"></i>
                            <span>Sales Docket (402kb)</span>
                        </a>
                    </li>
                </ul>



                <h2>Revisions</h2>

                {% include "includes/revision_table.html" %}

        </div>
        <div class="col-xs-3">

                <h2>Actions</h2>

                <ul class="action-list">
                    <li>
                        <a href="{% url 'transactions-edit' transaction.pk %}">
                            Edit
                            <i class="icon-arrow-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Delete
                            <i class="icon-arrow-right"></i>
                        </a>
                    </li>
                </ul>

        </div>
    </div>
    
{% endblock %}
