.btn {
    color: @black;
    border: 1px solid @light-grey;
    .rounded(1px);
    margin-top: 20px;

    .glyphicon-play {
        margin-left: 10px;
        font-size: 9px;
        position: relative;
        top: -1px;
    }

    .glyphicon-download {
        color: @dark-grey;
        margin-left: 10px;
        font-size: 18px;
        position: relative;
        top: 1px;
    }
}

.ivory-gradient() {
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0, rgba(235,233,226,1) 76%, rgba(235,227,205,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0, rgba(255,255,255,1)), color-stop(76%, rgba(235,233,226,1)), color-stop(100%, rgba(235,227,205,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0, rgba(235,233,226,1) 76%, rgba(235,227,205,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0, rgba(235,233,226,1) 76%, rgba(235,227,205,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0, rgba(235,233,226,1) 76%, rgba(235,227,205,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0, rgba(235,233,226,1) 76%, rgba(235,227,205,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#EAFACD', GradientType=0 );
}

.btn-action {
    border: 1px solid #d7dadb;
    color: @red;
    font-weight: bold;
    .rounded(4px);
    .ivory-gradient();

    &:hover {
        color: @red;
        border: 1px solid #ccc;
    }
}

.btn-process {
    border: 1px solid #d7dadb;
    color: @red;
    font-weight: bold;
    .rounded(4px);
    .ivory-gradient();

    &:hover {
        color: @red;
        border: 1px solid #ccc;
    }

    &:after {
        content: '';
        width: 14px;
        height: 9px;
        display: inline-block;
        margin-left: 10px;
        background: url("../img/arrow-right-red-14x9.png") 0 0 no-repeat;
        position: relative;
        top: 0;
    }
}

.btn-process-back {
    border: 1px solid #d7dadb;
    color: @red;
    font-weight: bold;
    .rounded(4px);
    .ivory-gradient();

    &:hover {
        color: @red;
        border: 1px solid #ccc;
    }

    &:before {
        content: '';
        width: 14px;
        height: 9px;
        display: inline-block;
        margin-right: 10px;
        background: url("../img/arrow-left-red-14x9.png") 0 0 no-repeat;
        position: relative;
        top: 0;
    }
}

.btn-cancel {
    .ivory-gradient();
    .rounded(4px);
}
