@red: #E3001B;
@dark-grey: #5A5A5A;
@mid-grey: #999999;
@light-grey: #E0E0E0;
@light-ivory: #EBE3CD;
@white: #FFFFFF;
@black: #000000;
@signal-orange: #E26E0A;
@yellow: #ffd603;
@dark-blue: #00507d;
@light-blue: #00a3da;

@primary-line-color: #90969b;
@secondary-line-color: #cccccc;
