h1 {
    font-weight: normal;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 13px;
    border-top: 2px solid @primary-line-color;

    .header-breadcrumb {
        color: black;
    }

    a {
        &.header-breadcrumb {
            font-weight: 100;
        }

        &:last-child {
            color: @red;
            font-weight: normal;
        }
    }

    span {
        &.header-breadcrumb {
            font-weight: 100;
        }
        
        &:last-child {
            color: @red;
            font-weight: normal;
        }
    }

    .fa {
        color: @mid-grey;
        font-size: 12px;
        margin: 0 4px;
        position: relative;
        top: -1px;
    }

    .btn-group {
        position: relative;
        top: -10px;

        .glyphicon {
            margin-right: 4px;
        }
    }
}

.byline {
    margin-top: -20px;
    font-size: 16px;
    border-bottom: 2px solid @primary-line-color;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

h2 {
    font-weight: 100;
    font-size: 25px;
    border-top: 2px solid @secondary-line-color;
    color: #888888;
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 10px;
}

section {
    margin-bottom: 40px;

    h2 {

        + .table-container {
            margin-top: -30px;
        }
    }
}

p {
    color: @dark-grey;
    margin-bottom: 10px;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    margin: 20px 0;

    iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.detail-table {
    width: 100%;

    th, td {
        padding: 10px 20px;
        border: 3px solid white;
    }

    tr:nth-child(odd){
        th {
            background-color: #f0f0f0;
        }

        td {
            background-color: #f9f9f9;
        }
    }

    tr:nth-child(even){
        th {
            background-color: #ececec;
        }

        td {
            background-color: #f6f6f6;
        }
    }
}

.file-list {
    margin: 0;
    padding: 0;
    overflow: auto;
    border-bottom: 1px solid @light-grey;

    li {
        list-style-type: none;
        border-top: 1px solid @light-grey;

        &:first-child {
            border-top: none;
        }

        a {
            display: block;
            color: @red;
            padding: 5px 0;

            .fa {
                font-size: 12px;
            }

            span {
                color: black;
                display: block;
                margin-left: 15px;
                font-size: 11px;
                text-decoration: none;
            }

            &:hover {
            }
        }
    }
}

.revision-table {
    tbody {
        tr {
            td {
                padding: 10px 20px;
                font-size: 16px;
                font-weight: 100;
                line-height: 20px;
            }

            .revision-number {
                width: 50px;

                a {
                }
            }

            .revision-user {
                padding-left: 10px;

                .fa {
                    margin-right: 4px;
                    color: #555;
                }
            }
        }
    }
}

.action-list {
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
        list-style-type: none;
        margin: 0;
        padding: 0;

        a {
            padding: 3px 0;
            display: block;
            color: @red;
            border-bottom: 1px solid #ccc;
            font-weight: bold;

            .fa-arrow-right {
                float: right;
                position: relative;
                top: 4px;
            }
        }
    }
}

.content-placeholder {
    text-align: center;
    background-color: #ddd;
    padding: 200px 20px;
    font-size: 24px;
    color: #999;
}
