@font-face {
    font-family: 'Linde Dax';
    src: url('../fonts/LindeDaxRegWeb.eot'); /* IE9 Compat Modes */
    src: url('../fonts/LindeDaxRegWeb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/LindeDaxRegWeb.woff') format('woff'); /* Pretty Modern Browsers */
    font-weight: 400;
}

@font-face {
    font-family: 'Linde Dax';
    src: url('../fonts/LindeDaxLigWeb.eot'); /* IE9 Compat Modes */
    src: url('../fonts/LindeDaxLigWeb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/LindeDaxLigWeb.woff') format('woff'); /* Pretty Modern Browsers */
    font-weight: 100;
}

@font-face {
    font-family: 'Linde Dax';
    src: url('../fonts/LindeDaxSemiLigWeb.eot'); /* IE9 Compat Modes */
    src: url('../fonts/LindeDaxSemiLigWeb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/LindeDaxSemiLigWeb.woff') format('woff'); /* Pretty Modern Browsers */
    font-weight: 200;
}

@font-face {
    font-family: 'Linde Dax';
    src: url('../fonts/LindeDaxMedWeb.eot'); /* IE9 Compat Modes */
    src: url('../fonts/LindeDaxMedWeb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/LindeDaxMedWeb.woff') format('woff'); /* Pretty Modern Browsers */
    font-weight: 300;
}

@arial: Arial,Helvetica Neue,Helvetica,sans-serif;
@lindedax: 'Linde Dax', sans-serif;
