.sidebar {
    .nav {
        font-family: @lindedax;
        clear: both;
        background-color: @light-ivory;
        padding: 10px 15px 40px 15px;
        border-bottom: 1px solid darken(@light-ivory, 10%);

        &:last-child {
            margin-bottom: 0;
        }

        > li {
            border-bottom: 1px solid #ccc;

            a {
                text-transform: uppercase;
                color: @black;
                font-weight: 100;
                font-size: 14px;
                padding: 4px 15px 4px 0;

                &:hover, &:focus, &:active {
                    color: @red;
                    background-color: transparent;
                }
            }

            &.active {
                a {
                    color: @red;
                }
            }

            &.with-subnav {
                &.active {
                    a {
                        &::after {
                            display: none;
                        }
                    }

                    .subnav {
                        display: block;
                    }
                }
            }

            &.nav-title {
                width: 100%;
                padding: 10px 15px 5px 15px;
                color: @mid-grey;
            }

            .subnav {
                display: none;
                margin: -4px 0 10px 0;
                padding: 0;

                li {
                    list-style-type: none;
                    border-bottom: none;

                    a {
                        font-family: 'Open Sans', sans-serif;
                        color: @black;
                        text-transform: none;
                        display: block;
                        padding: 2px 15px;
                        font-size: 12px;

                        &:hover {
                            text-decoration: none;
                            color: @red;
                        }
                    }

                    .fa-circle {
                        display: none;
                    }

                    &.active {
                        a {
                            color: @red;
                        }
                    }
                }
            }
        }
    }
}
