.workflow-container {
}

.workflow {
    margin: 0;
    padding: 0;

    li {
        position: relative;
        list-style-type: none;
        margin: 0 0 3px 0;
        padding: 5px 10px;
        background-color: #f0f0f0;
        border-left: 5px solid #cccccc;

        &.workflow-stream_change {
            background-color: #555;
            color: white;
            border-left: none;
            font-weight: bold;

            .workflow-timestamp {
                display: none;
            }

            .workflow-comment {
                margin-bottom: 2px;
            }
        }

        &.workflow-error {
            border-left: 5px solid #FF8080;
        }

        &.workflow-success {
            border-left: 5px solid #80FF80;
        }

        .workflow-state {

        }

        .workflow-timestamp {
            font-size: 10px;
            color: #777;
            line-height: 12px;
        }

        .workflow-user {
            font-size: 10px;
            color: #555;
            white-space: nowrap;
            line-height: 12px;
            margin-bottom: 2px;
        }

        .workflow-comment {
            font-size: 10px;
        }
    }
}
