@import "mixins.less";
@import "colors.less";
@import "fonts.less";


body {
    font-family: @arial;
    margin: 0;

}

h1, h2, h3, h4, h5, h6 {
    font-family: @lindedax;
}

a {
    color: @red;
}

.pagination > li > a, .pagination > li > span {
    color: @red;
}

.page-wrap {
    padding: 0 20px 0 20px;
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -38px;

    &:after {
        content: "";
        display: block;
    }
}

footer, .page-wrap:after {
    height: 38px; 
}

footer {
    box-sizing: border-box;
    background: @light-ivory;
    padding: 8px 20px;
    margin: 0 20px;

    .copyright {
        float: right;
        color: #6E787D;
    }
}

.linde-controls {
    font-size: 11px;
    position: absolute;
    right: 20px;
    top: 4px;

    .location {
        padding: 5px 10px;
    }

    .worldwide {
        border: 1px solid #d6e6ea;
        border-bottom: 4px solid #d6e6ea;
        border-top: none;
    }

    a {
        padding: 5px 10px;
        color: @black;

        &:hover {
            background-color: #f9f9f9;
            text-decoration: none;
        }
    }
}

.fixed-alerts {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;

    .alert {
        width: 100%;
        margin: 0;
    }
}


@import "buttons.less";
@import "internal.less";
@import "nav.less";
@import "content.less";
@import "forms.less";
@import "tables.less";
@import "workflows.less";
