label {
    width: 100%;
    margin-bottom: 7px;
    font-weight: normal;
}

input[type='text'], input[type='password'], input[type='email'], input[type='number'], input[type='url'], select {
    width: 100%;
    margin-bottom: 15px;
    color: @black;
    padding: 9px 10px;
    .rounded(2px);
    border: 1px solid #ccc;

    &.invalid {
        border: 1px solid @red;
    }
}

::-webkit-input-placeholder {
    color: @light-grey;
}

:-moz-placeholder {
    color: darken(@light-grey, 30%);
}

::-moz-placeholder {
    color: darken(@light-grey, 30%);
}

:ms-input-placeholder {
    color: @light-grey;
}

select {
}

.picker {
    width: 350px;
    overflow: visible;
    position: absolute;

    select {
        padding: 0;
        border: none;
    }
    
    .picker__holder {
        overflow: hidden;
    }
}

.row {
    > :last-child {
        .picker {
            right: 15px;
        }
    }
}

form {
    .choice-list {
        margin-top: 5px;
        padding-left: 20px;

        li {
            list-style-type: none;

            label {
                font-weight: normal;
            }

            input {
                margin-right: 10px;
                margin-bottom: 4px;
                float: left;
            }
        }
    }

    .large-submit-button {
        border: 1px solid @light-grey;
        background: transparent;
        padding: 20px 23px;
    }

    .large-download-button {
        border: 1px solid @light-grey;
        background: transparent;
        padding: 18px 23px 20px 23px;
    }

    .password-reset-note {
        font-size: 12px;
        position: relative;
        top: -10px;
        margin-bottom: 0;
    }
}

.errorlist {
    padding-left: 0;
    list-style-type: none;
    color: @red;
    margin-bottom: 3px;
}

.form-well {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 20px;

    h3 {
        padding: 5px 0;
        text-align: center;
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 20px;
    }
}
