.ns-internal {
    margin: 0;

    .header {
        position: relative;
        padding-top: 40px;
        height: 170px;
        overflow: hidden;

        .logo {
            float: left;
            display: block;
            width: 220px;
            height: 57px;
            margin: 30px 20px 30px 0;
            background: url("../img/boc-logo-220x57.png") 0 0 no-repeat;
        }

        .trademark {
            margin-top: 41px;
            font-size: 38px;
            margin-left: 264px;
            text-transform: uppercase;
            font-family: @lindedax;
            font-weight: 100;

            span {
                font-size: 30px;
                position: relative;
                top: -6px;
                left: 4px;
            }
        }
    }

    .wrapper {
        position: relative;
    }

    .sidebar {
        width: 220px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;

        .sidebar-inner {
            border-right: 1px solid @light-grey;
        }
    }

    .content-wrapper {
        box-sizing: border-box;
        padding-left: 219px;
    }

    .content {
        min-width: 930px;
        max-width: 1280px;
        padding: 0 20px 20px 40px;
        margin-bottom: 10px;
    }
}
