.table-filters-container {
    margin-top: 20px;
    margin-bottom: 20px;

    .table-filters-header {
        display: block;
        padding: 10px 30px 10px 27px;
        border-top: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
        border-right: 1px solid #e0e0e0;
        border-left: 4px solid @signal-orange;
        color: @black;

        &:hover {
            text-decoration: none;
            background-color: #f9f9f9;
        }

        &:focus {
            outline: none;
            text-decoration: none;
        }

        .hide-text {
            display: none;
        }

        .fa {
            font-size: 10px;
            position: relative;
            top: 4px;
        }

        .indicator-inactive {
            display: inline-block;
        }

        .indicator-active {
            display: none;
        }

        &.active {

            .indicator-inactive {
                display: none;
            }

            .indicator-active {
                display: inline-block;
            }

            .hide-text {
                display: inline;
            }

            .show-text {
                display: none;
            }
        }
    }

    .table-filters {
        display: none;
        padding: 10px 30px 10px 27px;
        background: #f9f9f9;
        border-bottom: 1px solid #e0e0e0;
        border-right: 1px solid #e0e0e0;
        font-size: 12px;
        border-left: 4px solid #e0e0e0;

        &.active {
            display: block;
        }
    }

    .table-filters-reset {
        float: right;
        padding: 3px 12px;
        background: white;
        border: 1px solid @light-grey;
        font-size: 12px;
        color: black;

        .fa-close {
            position: relative;
            top: -1px;
            font-size: 10px;
            margin-right: 3px;
            color: #555;
        }

        &:hover {
            text-decoration: none;
            border: 1px solid darken(@light-grey, 20%);

            .fa-close {
                color: @red;
            }
        }

        &:focus, &:active {
            text-decoration: none;
        }

        &:active {
            background-color: #e9e9e9;
        }
    }
}

.table-container {
    .table-content {
        padding: 0;

        table {
            tr {
                th {
                    white-space: nowrap;
                }
                
                td {
                    padding: 8px 18px;
                    white-space: nowrap;
                }
            }
        }
    }

    .table-controls {
        padding: 5px 0 4px 16px;
        border-bottom: 1px solid #e0e0e0;
        overflow: auto;
        font-size: 12px;

        .dataTables_length {
            float: left;

            label {
                margin-bottom: 0;
            }

            select {
                margin-bottom: 0;
                background-color: transparent;
                border: none;
                padding: 0 10px;
                margin-right: 5px;
            }
        }

        .ColVis {
            margin-bottom: 0;

            button {
                margin-right: 0;
                margin-top: 2px;
                height: 25px;
                background: #f9f9f9;
                border: 1px solid #ccc;
                box-shadow: none;
                .rounded(0);
            }
        }

        .refresh {
            margin-right: 5px;
            margin-top: 2px;
            height: 25px;
            width: 25px;
            float: right;
            .rounded(0);
            background: #f9f9f9;
            border: 1px solid #ccc;
            box-shadow: none;

            .fa-refresh {
                position: relative;
                top: 1px;
            }
        }
    }

    .table-footer {
        background-color: #f9f9f9;
        border-top: 1px solid #e0e0e0;
        padding: 10px 30px;

        .dataTables_paginate {
            height: 39px;
        }

        .paginate_button {
            a {
                color: @black;
            }

            &.next, &.previous {
                a {
                    color: @red;
                }

                &.disabled {
                    a {
                        color: lighten(@dark-grey, 30%);
                    }
                }
            }

            &.active {
                a {
                    background-color: white;
                    border-color: @light-grey;
                    color: @red;
                    font-weight: bold;
                }
            }
        }
    }
}

ul.ColVis_collection {
    width: 180px;
    background-color: #f9f9f9;
}
