/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------
    Additional stuff added by Marta Janiak for
    Display Sweet
-----------------------------------------------------*/

.draggable{
   background-color: blue;
}

html,
body {
  background: #e6e5e5 !important;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: text;
  text-shadow: none !important;
  font-family: Roboto, Slack-Lato, appleLogo, sans-serif;
  text-rendering: auto;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  
}

h4 {
  color: #e3001b;
}

a {
  color: #e3001b;
  cursor: pointer;
}

.pagination > li > a,
.pagination > li > span {
  color: #e3001b;
}
.page-wrap {
  padding: 0 20px 0 20px;
  min-height: 100%;
  /* equal to footer height */

  margin-bottom: -38px;
}
.page-wrap:after {
  content: "";
  display: block;
}
footer,
.page-wrap:after {
  height: 38px;
}
footer {
  box-sizing: border-box;
  background: #EAFACD;
  padding: 8px 20px;
  margin: 0 20px;
}
footer .copyright {
  float: right;
  color: #6E787D;
}
.linde-controls {
  font-size: 11px;
  position: absolute;
  right: 20px;
  top: 4px;
}
.linde-controls .location {
  padding: 5px 10px;
}
.linde-controls .worldwide {
  border: 1px solid #d6e6ea;
  border-bottom: 4px solid #d6e6ea;
  border-top: none;
}
.linde-controls a {
  padding: 5px 10px;
  color: #000000;
}
.linde-controls a:hover {
  background-color: #f9f9f9;
  text-decoration: none;
}
.fixed-alerts {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}
.fixed-alerts .alert {
  width: 100%;
  margin: 0;
}
/*.btn {*/
  /*color: #000000;*/
  /*border: 1px solid #e0e0e0;*/
  /*-webkit-border-radius: 1px;*/
  /*-moz-border-radius: 1px;*/
  /*border-radius: 1px;*/
  /*-moz-background-clip: padding;*/
  /*-webkit-background-clip: padding-box;*/
  /*background-clip: padding-box;*/
  /*margin-top: 10px;*/
/*}*/
/*.btn .glyphicon-play {*/
  /*margin-left: 10px;*/
  /*font-size: 9px;*/
  /*position: relative;*/
  /*top: -1px;*/
/*}*/
/*.btn .glyphicon-download {*/
  /*color: #5a5a5a;*/
  /*margin-left: 10px;*/
  /*font-size: 18px;*/
  /*position: relative;*/
  /*top: 1px;*/
/*}*/
.btn-action {
  border: 1px solid #d7dadb;
  color: #e3001b;
  font-weight: bold;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0, #ebe9e2 76%, #EAFACD 100%);
  /*background: -webkit-gradient(left top, left bottom, color-stop(0, #ffffff), color-stop(76%, #ebe9e2), color-stop(100%, #EAFACD));*/
  background: -webkit-linear-gradient(top, #ffffff 0, #ebe9e2 76%, #EAFACD 100%);
  background: -o-linear-gradient(top, #ffffff 0, #ebe9e2 76%, #EAFACD 100%);
  background: -ms-linear-gradient(top, #ffffff 0, #ebe9e2 76%, #EAFACD 100%);
  background: linear-gradient(to bottom, #ffffff 0, #ebe9e2 76%, #EAFACD 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#EAFACD', GradientType=0);
}
.btn-action:hover {
  color: #e3001b;
  border: 1px solid #ccc;
}
.btn-process {
  border: 1px solid #d7dadb;
  color: #e3001b;
  font-weight: bold;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0, #ebe9e2 76%, #EAFACD 100%);
  /*background: -webkit-gradient(left top, left bottom, color-stop(0, #ffffff), color-stop(76%, #ebe9e2), color-stop(100%, #EAFACD));*/
  background: -webkit-linear-gradient(top, #ffffff 0, #ebe9e2 76%, #EAFACD 100%);
  background: -o-linear-gradient(top, #ffffff 0, #ebe9e2 76%, #EAFACD 100%);
  background: -ms-linear-gradient(top, #ffffff 0, #ebe9e2 76%, #EAFACD 100%);
  background: linear-gradient(to bottom, #ffffff 0, #ebe9e2 76%, #EAFACD 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#EAFACD', GradientType=0);
}
.btn-process:hover {
  color: #e3001b;
  border: 1px solid #ccc;
}
.btn-process:after {
  content: '';
  width: 14px;
  height: 9px;
  display: inline-block;
  margin-left: 10px;
  background: url("../img/arrow-right-red-14x9.png") 0 0 no-repeat;
  position: relative;
  top: 0;
}
.btn-process-back {
  border: 1px solid #d7dadb;
  color: #e3001b;
  font-weight: bold;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0, #ebe9e2 76%, #EAFACD 100%);
  /*background: -webkit-gradient(left top, left bottom, color-stop(0, #ffffff), color-stop(76%, #ebe9e2), color-stop(100%, #EAFACD));*/
  background: -webkit-linear-gradient(top, #ffffff 0, #ebe9e2 76%, #EAFACD 100%);
  background: -o-linear-gradient(top, #ffffff 0, #ebe9e2 76%, #EAFACD 100%);
  background: -ms-linear-gradient(top, #ffffff 0, #ebe9e2 76%, #EAFACD 100%);
  background: linear-gradient(to bottom, #ffffff 0, #ebe9e2 76%, #EAFACD 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#EAFACD', GradientType=0);
}
.btn-process-back:hover {
  color: #e3001b;
  border: 1px solid #ccc;
}
.btn-process-back:before {
  content: '';
  width: 14px;
  height: 9px;
  display: inline-block;
  margin-right: 10px;
  background: url("../img/arrow-left-red-14x9.png") 0 0 no-repeat;
  position: relative;
  top: 0;
}
.btn-cancel {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0, #ebe9e2 76%, #EAFACD 100%);
  /*background: -webkit-gradient(left top, left bottom, color-stop(0, #ffffff), color-stop(76%, #ebe9e2), color-stop(100%, #EAFACD));*/
  background: -webkit-linear-gradient(top, #ffffff 0, #ebe9e2 76%, #EAFACD 100%);
  background: -o-linear-gradient(top, #ffffff 0, #ebe9e2 76%, #EAFACD 100%);
  background: -ms-linear-gradient(top, #ffffff 0, #ebe9e2 76%, #EAFACD 100%);
  background: linear-gradient(to bottom, #ffffff 0, #ebe9e2 76%, #EAFACD 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#EAFACD', GradientType=0);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.ns-internal {
  margin: 0;
}
.ns-internal .header {
  position: relative;
  padding-top: 15px;
  height: 80px;
  /*overflow: hidden;*/
}
.ns-internal .header a.logo {
  float: left;
  display: block;
  width: 200px;
  height: 153px;
  margin: 10px 10px 10px 10px;
  background: url("../img/DisplaySweetLogo_black_small.gif") 0 0 no-repeat;
  z-index: 5;
}
.ns-internal .header .without-trademark {
  margin-top: 0;
  font-size: 38px;
  margin-left: 35px;
  text-transform: uppercase;
  
  font-weight: 100;
}
.ns-internal .header .without-trademark span {
  font-size: 30px;
  position: relative;
  top: -6px;
  left: 4px;
}
.ns-internal .header .trademark {
  margin-top: 0;
  font-size: 38px;
  margin-left: 255px;
  text-transform: uppercase;
  
  font-weight: 100;
}
.ns-internal .header .trademark span {
  font-size: 30px;
  position: relative;
  top: -6px;
  left: 4px;
}
.ns-internal .wrapper {
  position: relative;
  z-index: 1;
  background: transparent;
}
.ns-internal .sidebar {
  width: 220px;
  position: absolute;
  top: 68px;
  left: 0;
  z-index: 2;
}
div.sidebar.lower-sidebar {
    top: -486px;
}
.ns-internal .sidebar .sidebar-inner {
  border-right: 1px solid #e0e0e0;
}

.ns-internal .content-without-wrapper {
  box-sizing: border-box;
  padding-left: 0;
  background: transparent;
}

.ns-internal .content-wrapper {
  box-sizing: border-box;
  padding-left: 219px;
  background: transparent;
}
.ns-internal .content {
  min-width: 930px;
  max-width: 1280px;
  padding: 0 20px 20px 40px;
  margin-bottom: 10px;
}
.sidebar .nav {
  
  clear: both;
  background-color: #EAFACD;
  padding: 10px 15px 40px 15px;
  border-bottom: 1px solid #dccfa9;
}
.sidebar .nav:last-child {
  margin-bottom: 0;
}
.sidebar .nav > li {
  border-bottom: 1px solid #ccc;
}
.sidebar .nav > li a {
  text-transform: uppercase;
  color: #000000;
  font-weight: 100;
  font-size: 14px;
  padding: 4px 15px 4px 0;
}
.sidebar .nav > li a:hover,
.sidebar .nav > li a:focus,
.sidebar .nav > li a:active {
  color: #e3001b;
  background-color: transparent;
}
.sidebar .nav > li.active a {
  color: #e3001b;
}
.sidebar .nav > li.with-subnav.active a::after {
  display: none;
}
.sidebar .nav > li.with-subnav.active .subnav {
  display: block;
}
.sidebar .nav > li.nav-title {
  width: 100%;
  padding: 10px 15px 5px 15px;
  color: #999999;
}
.sidebar .nav > li .subnav {
  display: none;
  margin: -4px 0 10px 0;
  padding: 0;
}
.sidebar .nav > li .subnav li {
  list-style-type: none;
  border-bottom: none;
}
.sidebar .nav > li .subnav li a {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  text-transform: none;
  display: block;
  padding: 2px 15px;
  font-size: 12px;
}
.sidebar .nav > li .subnav li a:hover {
  text-decoration: none;
  color: #e3001b;
}
.sidebar .nav > li .subnav li .fa-circle {
  display: none;
}
.sidebar .nav > li .subnav li.active a {
  color: #e3001b;
}


h1 {
  font-weight: normal;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 13px;
}

a.header-breadcrumb {
  margin-left: 5px;
  margin-right: 5px;
}

a.header-breadcrumb i {
  margin-left: 5px;
  margin-right: 10px;
}

h1 .header-breadcrumb {
  color: black;
}

h1 a.header-breadcrumb {
  font-weight: 100;
}
h1 a:last-child {
  color: #e3001b;
  font-weight: normal;
}
h1 span.header-breadcrumb {
  font-weight: 100;
}
h1 span:last-child {
  color: #e3001b;
  font-weight: normal;
}
h1 .fa {
  color: #999999;
  font-size: 12px;
  margin: 0 4px;
  position: relative;
  top: -1px;
}
h1 .btn-group {
  position: relative;
  top: -10px;
}
h1 .btn-group .glyphicon {
  margin-right: 4px;
}
.byline {
  margin-top: -20px;
  font-size: 16px;
  border-bottom: 2px solid #90969b;
  margin-bottom: 20px;
  padding-bottom: 15px;
}
h2 {
  font-weight: 100;
  font-size: 25px;
  /*border-top: 2px solid #cccccc;*/
  color: #090909;
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 10px;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}
section {
  margin-bottom: 40px;
}
section h2 + .table-container {
  margin-top: -30px;
}
p {
  color: #5a5a5a;
  margin-bottom: 10px;
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

table.crunched-table {
  width: 100%;
  margin-top: 5px;
  border-top: 1px solid grey;
}

table.crunched-table th, .crunched-table td {
    font-size: 12px;
    padding: 4px;
    padding-top: 0;
    padding-bottom: 2px !important;
    vertical-align: middle;
    height: 24px;
    border: 1px solid #ccc;
}

.crunched-table input, .crunched-table select {
  margin-top: 2px !important;
  height: 22px !important;
  font-size: 10px !important;
}

.crunched-table tr:nth-child(even) {background: #CCC}
.crunched-table tr:nth-child(odd) {background: #FFF}

/*.crunched-table tr.selected:nth-child(even) {background: red}*/
/*.crunched-table tr.selected:nth-child(odd) {background: red}*/

table.crunched-table tr {
    border-bottom: 1px solid #ccc;
}
table.crunched-table {
    margin-bottom: 10px;
}
table.crunched-table select
{
    /*margin-top: 3px;*/
    margin-bottom: 0 !important;
}

table.crunched-table table.table tr {
    border: solid #fff;
    padding: 0;
}

table.small-table {
  width: 100%;
  margin-top: 5px;
  border-top: 1px solid grey;
}

table.small-table th, .small-table td {
    font-size: 12px;
    padding: 4px;
    padding-top: 0;
    padding-bottom: 2px !important;
    vertical-align: middle;
    height: 24px;
    border: 1px solid #ccc;
}

.small-table input, .small-table select {
  margin-top: 2px !important;
  height: 22px !important;
  font-size: 10px !important;
}

/*.small-table tr.selected:nth-child(even) {background: red}*/
/*.small-table tr.selected:nth-child(odd) {background: red}*/

table.small-table tr {
    border-bottom: 1px solid #ccc;
}
table.small-table {
    margin-bottom: 10px;
}
table.small-table select
{
    /*margin-top: 3px;*/
    margin-bottom: 0 !important;
}

table.small-table table.table tr {
    border: solid #fff;
    padding: 0;
}

.detail-table {
  width: 100%;
}
.detail-table th,
.detail-table td {
  padding: 10px 20px;
  border: 3px solid white;
}
.detail-table tr:nth-child(odd) th {
  background-color: #f0f0f0;
}
.detail-table tr:nth-child(odd) td {
  background-color: #f9f9f9;
}
.detail-table tr:nth-child(even) th {
  background-color: #ececec;
}
.detail-table tr:nth-child(even) td {
  background-color: #f6f6f6;
}
.file-list {
  margin: 0;
  padding: 0;
  overflow: auto;
  border-bottom: 1px solid #e0e0e0;
}
.file-list li {
  list-style-type: none;
  border-top: 1px solid #e0e0e0;
}
.file-list li:first-child {
  border-top: none;
}
.file-list li a {
  display: block;
  color: #e3001b;
  padding: 5px 0;
}
.file-list li a .fa {
  font-size: 12px;
}
.file-list li a span {
  color: black;
  display: block;
  margin-left: 15px;
  font-size: 11px;
  text-decoration: none;
}
.revision-table tbody tr td {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
}
.revision-table tbody tr .revision-number {
  width: 50px;
}
.revision-table tbody tr .revision-user {
  padding-left: 10px;
}
.revision-table tbody tr .revision-user .fa {
  margin-right: 4px;
  color: #555;
}
.action-list {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.action-list li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.action-list li a {
  padding: 3px 0;
  display: block;
  color: #e3001b;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}
.action-list li a .fa-arrow-right {
  float: right;
  position: relative;
  top: 4px;
}
.content-placeholder {
  text-align: center;
  background-color: #ddd;
  padding: 200px 20px;
  font-size: 24px;
  color: #999;
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='number'],
input[type='url'],
select {
  width: 100%;
  margin-bottom: 15px;
  color: #000000;
  padding: 1px !important;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  background: #fff;
}
input[type='text'].invalid,
input[type='password'].invalid,
input[type='email'].invalid,
input[type='number'].invalid,
input[type='url'].invalid,
select.invalid {
  border: 1px solid #e3001b;
}

::-webkit-input-placeholder {
  color: #e0e0e0;
}
:-moz-placeholder {
  color: #939393;
}
::-moz-placeholder {
  color: #939393;
}


.picker {
  width: 350px;
  overflow: visible;
  position: absolute;
}
.picker select {
  padding: 0;
  border: none;
}
.picker .picker__holder {
  overflow: hidden;
}
.row > :last-child .picker {
  right: 15px;
}
div.form-filter > form > p {
    display: inline-block;
    width: 25%;
    margin-left: 5px;
    margin-right: 5px;
}
.form-filter {
    background: #fcfcfc;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 15px;
    cursor: pointer;
}
.form-filter form {
    display: none;
}
.form-filter h4 {
    color: #e3001b;
}
form .choice-list {
  margin-top: 5px;
  padding-left: 20px;
}
form .choice-list li {
  list-style-type: none;
}
form .choice-list li label {
  font-weight: normal;
}
form .choice-list li input {
  margin-right: 10px;
  margin-bottom: 4px;
  float: left;
}
form .large-submit-button {
  border: 1px solid #e0e0e0;
  background: transparent;
  padding: 20px 23px;
}
form .large-download-button {
  border: 1px solid #e0e0e0;
  background: transparent;
  padding: 18px 23px 20px 23px;
}
form .password-reset-note {
  font-size: 12px;
  position: relative;
  top: -10px;
  margin-bottom: 0;
}
.errorlist {
  padding-left: 0;
  list-style-type: none;
  color: #e3001b;
  margin-bottom: 3px;
}
.form-well {
  background-color: #ffffff;
  border: 1px solid #e3001b;
  padding: 20px;
  border-radius: 5px;
}

.error-form {
    border: 1px solid #e7999c;
}

.form-well h3 {
  padding: 5px 0;
  text-align: center;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 20px;
}
.table-filters-container {
  margin-top: 20px;
  margin-bottom: 20px;
}
.table-filters-container .table-filters-header {
  display: block;
  padding: 10px 30px 10px 27px;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-left: 4px solid #e26e0a;
  color: #000000;
}
.table-filters-container .table-filters-header:hover {
  text-decoration: none;
  background-color: #f9f9f9;
}
.table-filters-container .table-filters-header:focus {
  outline: none;
  text-decoration: none;
}
.table-filters-container .table-filters-header .hide-text {
  display: none;
}
.table-filters-container .table-filters-header .fa {
  font-size: 10px;
  position: relative;
  top: 4px;
}
.table-filters-container .table-filters-header .indicator-inactive {
  display: inline-block;
}
.table-filters-container .table-filters-header .indicator-active {
  display: none;
}
.table-filters-container .table-filters-header.active .indicator-inactive {
  display: none;
}
.table-filters-container .table-filters-header.active .indicator-active {
  display: inline-block;
}
.table-filters-container .table-filters-header.active .hide-text {
  display: inline;
}
.table-filters-container .table-filters-header.active .show-text {
  display: none;
}
.table-filters-container .table-filters {
  display: none;
  padding: 10px 30px 10px 27px;
  background: #f9f9f9;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  font-size: 12px;
  border-left: 4px solid #e0e0e0;
}
.table-filters-container .table-filters.active {
  display: block;
}
.table-filters-container .table-filters-reset {
  float: right;
  padding: 3px 12px;
  background: white;
  border: 1px solid #e0e0e0;
  font-size: 12px;
  color: black;
}
.table-filters-container .table-filters-reset .fa-close {
  position: relative;
  top: -1px;
  font-size: 10px;
  margin-right: 3px;
  color: #555;
}
.table-filters-container .table-filters-reset:hover {
  text-decoration: none;
  border: 1px solid #adadad;
}
.table-filters-container .table-filters-reset:hover .fa-close {
  color: #e3001b;
}
.table-filters-container .table-filters-reset:focus,
.table-filters-container .table-filters-reset:active {
  text-decoration: none;
}
.table-filters-container .table-filters-reset:active {
  background-color: #e9e9e9;
}
.table-container .table-content {
  padding: 0;
}
.table-container .table-content table tr th {
  white-space: nowrap;
}
.table-container .table-content table tr td {
  padding: 8px 18px;
  white-space: nowrap;
}
.table-container .table-controls {
  padding: 5px 0 4px 16px;
  border-bottom: 1px solid #e0e0e0;
  overflow: auto;
  font-size: 12px;
}
.table-container .table-controls .dataTables_length {
  float: left;
}
.table-container .table-controls .dataTables_length label {
  margin-bottom: 0;
}
.table-container .table-controls .dataTables_length select {
  margin-bottom: 0;
  background-color: transparent;
  border: none;
  padding: 0 10px;
  margin-right: 5px;
}
.table-container .table-controls .ColVis {
  margin-bottom: 0;
}
.table-container .table-controls .ColVis button {
  margin-right: 0;
  margin-top: 2px;
  height: 25px;
  background: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.table-container .table-controls .refresh {
  margin-right: 5px;
  margin-top: 2px;
  height: 25px;
  width: 25px;
  float: right;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: none;
}
.table-container .table-controls .refresh .fa-refresh {
  position: relative;
  top: 1px;
}
.table-container .table-footer {
  background-color: #f9f9f9;
  border-top: 1px solid #e0e0e0;
  padding: 10px 30px;
}
.table-container .table-footer .dataTables_paginate {
  height: 39px;
}
.table-container .table-footer .paginate_button a {
  color: #000000;
}
.table-container .table-footer .paginate_button.next a,
.table-container .table-footer .paginate_button.previous a {
  color: #e3001b;
}
.table-container .table-footer .paginate_button.next.disabled a,
.table-container .table-footer .paginate_button.previous.disabled a {
  color: #a7a7a7;
}
.table-container .table-footer .paginate_button.active a {
  background-color: white;
  border-color: #e0e0e0;
  color: #e3001b;
  font-weight: bold;
}
ul.column-filter {
    max-height: 200px;
    /*overflow-y: scroll;*/
}
.show-columns-list {
    width: 202px;
    height: 30px;
    border-bottom: 1px solid #ccc;   
}
ul.ColVis_collection {
  width: 180px;
  background-color: #f9f9f9;
}
.workflow {
  margin: 0;
  padding: 0;
}
.workflow li {
  position: relative;
  list-style-type: none;
  margin: 0 0 3px 0;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border-left: 5px solid #cccccc;
}
.workflow li.workflow-stream_change {
  background-color: #555;
  color: white;
  border-left: none;
  font-weight: bold;
}
.workflow li.workflow-stream_change .workflow-timestamp {
  display: none;
}
.workflow li.workflow-stream_change .workflow-comment {
  margin-bottom: 2px;
}
.workflow li.workflow-error {
  border-left: 5px solid #FF8080;
}
.workflow li.workflow-success {
  border-left: 5px solid #80FF80;
}
.workflow li .workflow-timestamp {
  font-size: 10px;
  color: #777;
  line-height: 12px;
}
.workflow li .workflow-user {
  font-size: 10px;
  color: #555;
  white-space: nowrap;
  line-height: 12px;
  margin-bottom: 2px;
}
.workflow li .workflow-comment {
  font-size: 10px;
}
#floor-plan-wrapper {
    width: 100%;
}

#floor-plan-image {

}
.apartment-assign-scroll {
    max-height: 400px;
    /*overflow-y: scroll;*/
}
.assign-available-apartment:hover {
    background: #ccc;
    cursor: pointer;
    color: #e3001b;
}


/*Hotspot config*/
#floorplan-message {
    width: 100%; text-align: left; margin-left: 120px;
}
.hotspot-fake-input {
    height: 25px;
    font-size: 10px;
    border: 1px solid #e3001b !important;
    margin-right: 3px !important;
}
.cross-hatch-image {
    border: 1px solid #e3001b;
    background:transparent;
    /*width: 502px;*/
    /*height: 502px;*/
    /*margin-top: -100px;*/
    position: relative;
    /*top: -501px; *//*adjust this value as needed*/
    z-index: 120;
    text-align: center;
}
.cross-hatch-hotspot {
    border: 1px solid #e3001b;
    background:transparent;
    width: 502px;
    height: 502px;
    /*margin-top: -100px;*/
    margin-left: -1px;

    position: relative;
    top: -501px; /*adjust this value as needed*/
    z-index: 9999;
    float: left;
}

.cross-hatch-hotspot-large {
    border: 1px solid #e3001b;
    background:transparent;
    width: 802px;
    height: 802px;
    /*margin-top: -100px;*/
    margin-left: -1px;

    position: relative;
    top: -801px; /*adjust this value as needed*/
    z-index: 9999;
    float: left;
}

.green {
    border: 1px solid green;
}

.image-plan-name {
    height: 24px;
    margin-top: -3px;
    margin-left: 3px;
}

td.image-select {
    height: 25px;
    /*padding: 2px;*/
    text-align: center;
}

td.floor-select {
    width: 100%;
    /*height: 25px;*/
    margin: 0;
    border: 1px solid #e3001b;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}

div.floor-select-link {
    width: 40px;
    height: 30px;
    border: 1px solid #e3001b;
    margin-bottom: 1px;
    text-align: center;
    padding-top: 2px;
    cursor: pointer;
    display: inline-block;
}

div.floor-select-clear {
    width: 40px;
    height: 30px;
    margin-bottom: 1px;
    text-align: center;
    padding-top: 2px;
    display: inline-block;
}

.selected {
    background: #e3001b !important;
    color: white !important;
}


.selected a {
    color: #fff !important;
}

.remove-selected {
  background: #000 !important;
  opacity: 0.5;
  color: white;
}

.remove-selected a {
    color: #fff;
}


div.floor-select-link.green {
    border: 1px solid green;
    color: green;
}

div.selected-green {
    background: green;
    color: white !important;
}

a.floor-select-link {
    text-decoration: none;
}

th.large-th, td.large-th {
    height: 30px;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    min-width: 80px;
}

th {
    padding-top: 4px !important;
    padding-bottom: 12px !important;
}

.custom-dataTable {
    border-top: 1px solid lightgrey;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.hotspot_selector {

}

.hotspot_selector.empty {

}


ul.enlarge{
    list-style-type:none;
    margin: 0;
    padding: 0;
    color: #e3001b;
}
ul.enlarge li{
    display:inline-block; /*places the images in a line*/
    position: relative;
    z-index: 0; /*resets the stack order of the list items - later we'll increase this*/
}
ul.enlarge img{
    padding: 6px;
}

ul.enlarge span{
    position:absolute;
    left: -9999px;
    background-color:#eae9d4;
    padding: 10px;   
    font-size:.9em;
    text-align: center;
    color: #495a62;
}

ul.enlarge li:hover{
    z-index: 50;
    cursor:pointer;
}

ul.enlarge span img{
    padding:2px;
    background:#ccc;
}
ul.enlarge li:hover span{
    top: -80px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
    left: 40px; /*distance from the left of the thumbnail to the left of the popup image*/
}
ul.enlarge li:hover:nth-child(2) span{
left: -100px;
}
ul.enlarge li:hover:nth-child(3) span{
left: -200px;
}

.btn-like-process {
  border: 1px solid #d7dadb;
  color: #e3001b;
  font-weight: bold;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0, #ebe9e2 76%, #EAFACD 100%);
  /*background: -webkit-gradient(left top, left bottom, color-stop(0, #ffffff), color-stop(76%, #ebe9e2), color-stop(100%, #EAFACD));*/
  background: -webkit-linear-gradient(top, #ffffff 0, #ebe9e2 76%, #EAFACD 100%);
  background: -o-linear-gradient(top, #ffffff 0, #ebe9e2 76%, #EAFACD 100%);
  background: -ms-linear-gradient(top, #ffffff 0, #ebe9e2 76%, #EAFACD 100%);
  background: linear-gradient(to bottom, #ffffff 0, #ebe9e2 76%, #EAFACD 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#EAFACD', GradientType=0);
  margin-bottom: 4px;
}
.btn-like-process:hover {
  color: #e3001b;
  border: 1px solid #ccc;
}
.endless_page_link {
    height: 30px;
    padding: 4px;
    border: 1px solid #ccc;
    margin-left: 2px;
}
.endless_page_current {
    height: 30px;
    padding: 4px;
    border: 1px solid #ccc;
    background: #ccc;
    margin-left: 2px;
}
.column-hidden th {
    display: none;
}
/* Necessary CSS */
.slider    { overflow:hidden; position:relative; }
.slider ul { margin:0; padding:0; }
.slider li { float:left; margin:0 5px 0 0; list-style:none; }
/* IE6 issues */
.slider ul { width:100%; }


pre{
	display:block;
	font:100% "Courier New", Courier, monospace;
	padding:10px;
	border:1px solid #bae2f0;
	background:#e3f4f9;
	margin:.5em 0;
	overflow:auto;
	width:800px;
}

img{border:none;}

ul,li{
	margin:0;
	padding:0;
}

#plan-editor-slider li{
	list-style:none;
	float:left;
	display:inline;
	margin-right:10px;
}

/*  */

#preview {
	position:absolute;
	border:1px solid #ccc;
	background:#333;
	padding:5px;
	display:none;
	color:#fff;
    z-index: 1000;

}

#preview img {
        max-width: 600px;
}

.fa-save {
    color: #e3001b
}

.select-device {
  cursor: pointer;
  height: 130px;
  width: 130px;
  text-align: center;
}

.pink-square {
  z-index: 10; opacity: 0.6;
  background: lightpink;
   border: 1px solid #e3001b;
  margin-right: 5px; width: 130px;
  height: 130px;
  margin-top: -130px; float: left;
  text-align: center;
  color: black;
  border-radius: 8px;
}

.blue-square {
  z-index: 10; opacity: 0.6;
  background: #AFCCEE;
  border: 1px solid #89A7C9;
  margin-right: 5px; width: 130px;
  height: 130px; margin-top: -130px; float: left;

  text-align: center;
  color: black;
  border-radius: 8px;
}

.grey-square {
  z-index: 10; opacity: 0.6;
  background: lightgray;
  border: 1px solid #A0A1A3;
  margin-right: 5px; width: 130px;
  height: 130px; margin-top: -130px; float: left;
  text-align: center;
  color: black;
  border-radius: 8px;
}

.dark-grey-square {
  z-index: 10;
  opacity: 0.6;
  margin-right: 5px;
  width: 130px;
  height: 130px;
  color: black;
   background: #A0A1A3;
  border: 1px solid grey;
  text-align: center; padding: 5px;
  border-radius: 8px;
  display: inline-block;
}

.blue-image-selector {
    z-index: 10; opacity: 0.2; background: #afeeee; margin-right: 5px; width: 150px;
    height: 150px; margin-top: -150px; float: left; border: 1px solid blue;
}

.form-well p {
    margin-bottom: 20px;
}


ul.sortable { list-style-type: none; margin: 0; padding: 0; margin-bottom: 10px; }

ul.non-sortable {
  list-style-type: none; margin: 0; padding: 0; margin-bottom: 10px;
}

.ui-state-not-sort {
  line-height: 40px;
  height: 32px;
  cursor: default !important;
  vertical-align: middle;
  padding-top: 10px;
  padding-left: 15px;
}

.ui-state-default {
  line-height: 10px;
}

.ui-state-active {
  border: #e3001b 4px solid;
}


.ui-state-default, .ui-state-black {
    cursor: move;
    width: 100%;
}

.ui-state-default a {
  color: #e3001b;
}


li.no-move {
  cursor: default;
}


.ui-state-black {
  background: black;
}

*.icon-white {color: white}
*.icon-silver {color: silver}


.form-counter {
    color: #e3001b;
}


.not-active {
  color: #000 !important;
  font-weight: 100 !important;
}

.header-breadcrumb.active{
  font-weight: normal;
}

.link-black {
  color: #000;
}
.active-link {
  color: #e3001b;
  font-weight: 100;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


.list {
  
  margin:0;
  padding:20px 0 0;
}
.list > li {
  display:block;
  background-color: #eee;
  padding:10px;
  box-shadow: inset 0 1px 0 #fff;
}


p {
  margin:0;
}

input {
  border:solid 1px #ccc;
  border-radius: 5px;
  padding:2px !important;
  margin-bottom:10px;
}

input:focus {
  outline:none;
  border-color:#aaa;
}



.sort {
  padding:8px 30px;
  border-radius: 6px;
  border:none;
  display:inline-block;
  color:#fff;
  text-decoration: none;
  background-color: #28a8e0;
  height:30px;
}
.sort:hover {
  text-decoration: none;
  background-color:#1b8aba;
}
.sort:focus {
  outline:none;
}
.sort:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}
.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  content:"";
  position: relative;
  top:13px;
  right:-5px;
}
.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}

.list-sortable {
    border: 1px solid #ccc;
    background: grey; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(grey, lightgray); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(grey, lightgray); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(grey, lightgray); /* For Firefox 3.6 to 15 */
    background: linear-gradient(grey, lightgray); /* Standard syntax */
    font-weight: bold;
    color: #1c94c4;
}

.red {
  color: #e3001b;
}

.black {
  color: #000;
}

.red-image-selector {
    z-index: 10; opacity: 0.2; background: #afeeee; margin-right: 15px; width: 150px;
    height: 150px; margin-top: -130px; float: left; border: 1px solid blue;
}

.grey {
  color: darkgrey;
}

.dark-grey {
  color: darkslategray;
}

.sortlist {
  line-height: 13px;
  padding-top: 3px;
  padding-bottom: 0;
  height: 35px;
  margin-top: 5px;
}

select {
  border: 1px solid #E1E4E6 !important;
}

select:focus, .form-control:focus {
  border-color: rgba(227, 0, 27, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(227, 0, 27, 0.6);
  outline: 0 none;
}


input[type="text"].form-control, select.form-control {
  height: 30px;
  padding: 2px;
  margin: 0;
  margin-top: -2px;
  font-size: 12px;
}

input[type="text"].form-control, select.form-control {
  margin-bottom: 0;
  padding: 2px !important;
}

.droptrue {
  margin-bottom: 4px;
}

.container-label {
  margin-bottom: 0;
}

.h2-highlight {

  font-weight: 100;
    font-size: 25px;
    border-top: 2px solid #cccccc;
    color: #090909;
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 10px;
}

.normal-text {
  font-size: 14px;
}

.show_display {
  display: none;
}


.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FAF5F5; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Apts";
    padding-left: 10px;
    background-color: #E3001B; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Lvl";
    padding-right: 10px;
    background-color: #050505; color: #F7F2F2;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #FAF5F5; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.hotspot-notification {
  margin-right: 10px;
}
/*For scrolling with buttons in divs*/
.link {
  cursor: pointer;
}

.inside { width: auto; overflow: auto; height: 300px; padding-right: 1px; }
.outside { width: auto; height: 300px; overflow: hidden;  border: 1px solid darkgray }

.transition {
  -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
    transition: all 0.9s ease;
}


.btn-black {
  color: #fff;
  background-color: #333;
  border-color: #333;
  border-radius: 3px;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black:active,
.btn-black.active,
.open > .dropdown-toggle.btn-black {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-black:active,
.btn-black.active,
.open > .dropdown-toggle.btn-black {
  background-image: none;
}
.btn-black.disabled,
.btn-black[disabled],
fieldset[disabled] .btn-black,
.btn-black.disabled:hover,
.btn-black[disabled]:hover,
fieldset[disabled] .btn-black:hover,
.btn-black.disabled:focus,
.btn-black[disabled]:focus,
fieldset[disabled] .btn-black:focus,
.btn-black.disabled.focus,
.btn-black[disabled].focus,
fieldset[disabled] .btn-black.focus,
.btn-black.disabled:active,
.btn-black[disabled]:active,
fieldset[disabled] .btn-black:active,
.btn-black.disabled.active,
.btn-black[disabled].active,
fieldset[disabled] .btn-black.active {
  background-color: #333;
  border-color: #ccc;
}
.btn-black .badge {
  color: #333;
  background-color: #fff;
}

.center-table th, .center-table td {
   text-align: center;
}

.draggable-image {
    cursor: move;
    float: left;
    margin: 0 10px 10px 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.meter {
	height: 20px;  /* Can be anything */
	position: relative;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 10px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}


.meter {
    height: 5px;
    position: relative;
    background: #f3efe6;
    overflow: hidden;
}

.meter span {
    display: block;
    height: 100%;
}

.progress {
    background-color: #e4c465;
    -webkit-animation-fill-mode:both;
    -moz-animation-fill-mode:both;
}

@-webkit-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

@-moz-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

.control-group {
  font-weight: 600;
}

.control-group select {
  font-weight: normal;
}

.hover-link {
  cursor: context-menu;
}

label, .bold-text {
  font-weight: 600;
}

form.small-form input
{
  height: 25px;
  font-size: 12px;
}

form.small-form label {
  font-size: 12px;
  margin: 0;
}

form.small-form div.form-control
{
  margin-top: -10px;
}

input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

.form-control.error input[type=text]:focus {
  box-shadow: 0 0 5px rgba(255, 44, 44, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(255, 44, 44, 1);
}

.disabled-property-row {
   background: #ccc;  opacity: 0.5; cursor: not-allowed !important;
}

table.dataTable {
  font-size: 12px;
}

table.dataTable td {
  max-height: 1px;
}