<form action method="GET" id="add-new-user-details-form">
    {% for field in user_add_form.hidden_fields %}
        {{ field }}
    {% endfor %}

    {% for field in user_add_form.visible_fields %}
        <div class="col-sm-12 {% if field.errors %} error-form-list {% endif %}">
            {% include "includes/field.html" with field=field %}
        </div><br>
    {% endfor %}
    <hr>
</form>