{% load model_tags %}
{% load canvas_tags %}

{% if property_preview_list %}

<div class="fixed-wrapper" id="showing-all-properties-fixed">
    <div class="wrapper" id="all-prop-table-content">
            <table class="crunched-table table-fixed-header" id="showing-all-properties">
                <thead>
                    <tr style="height: 31px;">
                        <th>
                            <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right"
                               title="Is Property Allocated to Group?"></i>
                        </th>
                        {% for key in key_display_list %}
                            <th class="link sorting all-sorting" data-column-int="{{ forloop.counter }}">
                                {{ key|capfirst }} <i class="fa fa-sort"></i>
                            </th>
                        {% endfor %}
                        <th style="text-align: center; min-width: {{ size }}px; width: {{ size }}px; max-width: {{ size }}px;" class="link all-sorting" data-column-int="98" sorting-by="allocated">Allocated <i class="fa fa-sort"></i></th>
                        <th class="link all-sorting" data-column-int="99" sorting-by="exclusive" style="text-align: center; min-width: {{ size }}px; width: {{ size }}px; max-width: {{ size }}px;">
                            Exclusive <i class="fa fa-sort"></i>
                        </th>
                    </tr>
                </thead>
            <tbody>

            {% for row in property_preview_list %}

                {% if request.user.can_edit_group %}
                <tr style="height: 31px; "
                    id="property-group-selection-{{ row.property.pk }}"
                    class="tr-show-all-properties {% ifequal row.property_exclusive "False" %}property-selections {% else %} property-is-exclusive {% endifequal %} property-group-selection-{{ row.property.pk }}"
                    onclick="check_selected_property_for_listing({{ row.property.pk }}, '{{ row.property_exclusive }}');" >
                {% else %}
                    <tr class="tr-show-all-properties" {% if not row.show_property %} style="display: none;" {% endif %}>
                {% endif %}

                    <td>
                        {% if row.show_prop_in_all %}
                            <i class="fa fa-check" data-toggle="tooltip" data-placement="right" title="Yes: Property Is Allocated"></i>
                        {% else %}
                            <i class="fa fa-close" data-toggle="tooltip" data-placement="right" title="No: Property Not Allocated"></i>
                        {% endif %}
                    </td>

                    {% for key in key_list %}

                        <td style="" sorting-by="{{ key }}" data-column-int="{{ forloop.counter }}" class="td-with-key" data-name="{{ key|cut:' ' }}" id="key-value-{{ key|cut:' ' }}-{{ row.property.pk }}">
                            {{ row.property_values|get_preview_value_from_dict:key|safe|default_if_none:"-" }}

                            {% ifequal key "status" %}
                                {% ifequal row.property_values|get_preview_value_from_dict:key "Reserved" %}
                                    <input type="hidden" value="True" class="reserved-status reserved-status-True" id="reserved-status-{{ row.property.pk }}">
                                {% else %}
                                    <input type="hidden" value="False" class="reserved-status reserved-status-False" id="reserved-status-{{ row.property.pk }}">
                                {% endifequal %}
                            {% endifequal %}
                        </td>
                    {% endfor %}

                    <td data-column-int="98" sorting-by="allocated" id="key-value-allocated-{{ row.property.pk }}" style="text-align: center">
                        {% if row.property_allocations %}
                            {% for item in row.property_allocations %}
                                {{ item }},
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td style="text-align: center" id="show-property-exclusive-{{ row.property.pk }}" data-column-int="99" sorting-by="exclusive">
                        {% ifequal row.property_exclusive "True" %}
                            <i class="fa fa-check"></i>
                        {% endifequal %}

                        <span style="color: transparent">{{ row.property_exclusive }}</span>
                        <input type="hidden" value="{{ row.property_exclusive|capfirst }}" class="exclusive-status-{{ row.property_exclusive|capfirst }}"
                               id="exclusive-status-{{ row.property.pk }}">
                    </td>
                </tr>

                {% ifequal row.property_exclusive "False" %}
                    <tr style="display: none" >
                        <td style="text-align: center">

                                <div>
                                    <input type="checkbox" id="checkbox-property-for-listing-{{ row.property.pk }}" class="selected-property
                                    checkbox-property-for-listing checkbox-property-for-listing-{{ row.property.pk }}">
                                </div>
                        </td>
                    </tr>
                    <tr style="display: none"></tr>
                {% endifequal %}

            {% endfor %}
            </tbody>
        </table>

    {% else %}

        <br><br>
        <em>There are no properties matching your search criteria</em>

</div>
</div>
{% endif %}

{#{% for item in page_list %}#}
{#    <a href="#" onclick="show_all_properties_page({{ item }});" class="btn btn-xs {% ifequal item page %}btn-warning{% else %}btn-default{% endifequal %}">{{ item }}</a> &nbsp;#}
{#{% endfor %}#}
<script>

    $(function () {
        $('[data-toggle="tooltip"]').tooltip();

        var $table = $('.table-fixed-header');
        $table.floatThead({
            //debounceResizeMs: 300,
            scrollContainer: function ($table) {
                return $table.closest('.wrapper');
            }
        });


        $(".all-sorting").click(function() {

            var direction = 'asc';
            var classes = $(this).attr('class');

            if (classes.indexOf("sorting_asc") >= 0)
            {
                direction = 'descending';
                $("#order_page_by_direction").val('desc');
                $(this).addClass('sorting_desc').removeClass('sorting');
            }
            else
            {
                $(".sorting_desc").removeClass('sorting_desc').addClass('sorting');
            }

            if (classes.indexOf("sorting_desc") >= 0)
            {
                $(this).addClass('sorting_asc').removeClass('sorting_desc');
                direction = 'asc';
                $("#order_page_by_direction").val('asc');
            }
            else
            {
                $(".sorting_asc").removeClass('sorting_asc').addClass('sorting');

            }

            $(this).addClass('sorting_asc').removeClass('sorting');

            var check_class = $(this).attr('class');
            if (check_class == 'sorting_asc')
            {
                direction = 'descending';
                $("#order_page_by_direction").val('desc');
                $(this).removeClass('sorting_asc').addClass('sorting_desc');
            }

            var table_column_field = $(this).attr('data-column');
            $("#order_page_by").val(table_column_field);

            var table_column = $(this).attr('data-column-int');
            sort_all_prop_table(table_column, direction);

        });

    });


    function sort_all_prop_table(table_column, direction)
    {
        console.log('sort_table');
        var $table=$('#showing-all-properties');
        var rows = $table.find('tbody tr').get();

        $.each(rows, function(index, row) {
            var td_value = $(row).find("td[data-column-int="+table_column+"]").text().replace(/ +(?= )/g,'').trim().toLowerCase();
            $(this).attr('sorting-by', td_value);
        });

        rows.sort(function(a, b) {

            var keyA = $(a).attr('sorting-by');
            var keyB = $(b).attr('sorting-by');

            var keyAint = parseFloat(keyA);
            var keyBint = parseFloat(keyB);

            if ($.isNumeric(keyAint) && $.isNumeric(keyBint))
            {
                keyA = keyAint;
                keyB = keyBint;
            }

            if (direction == 'asc')
            {
                if (keyA < keyB) return -1;
                if (keyA > keyB) return 1;
            }
            else
            {
                if (keyA < keyB) return 1;
                if (keyA > keyB) return -1;
            }

            return 0;
        });

        $.each(rows, function(index, row) {
            $table.children('tbody').append(row);
        });
    }
</script>