{% load model_tags %}
{% load canvas_tags %}

<ul class="nav nav-tabs">
    <li class="active main-tabs level-plans switch_plans_tab_level">
      <a id="price-list-tab" href="#section-price-list" data-toggle="tab">
          <label class="link">Price List</label>
      </a>
    </li>

    <li class="main-tabs level-plans switch_plans_tab_level" onclick="get_reservation_list();">
      <a id="reservation-list-tab"  href="#section-reservations" data-toggle="tab">
          <label class="link">Reservations</label>
      </a>
    </li>
</ul>

<div class="tab-content" style="min-height: 580px; height: 610px; max-height: 880px; border: 1px solid #ddd; border-top: none; padding: 10px; padding-right: 15px; margin-right: 2px;">
    <div id="section-price-list" class="active tab-pane fade in">
        <div class="col-sm-12" style="max-height: 600px; overflow-y: auto; display: inline-block; white-space: nowrap">
            {% include "projects/admin/includes/properties_edit.html" %}
        </div>
    </div>


    <div id="section-reservations" class=" tab-pane fade in">
        <div class="col-sm-12" style="max-height: 600px; overflow-y: auto; display: inline-block; white-space: nowrap">
            {% include "projects/admin/includes/properties_with_reservations.html" %}
        </div>
    </div>
</div>

<div id="show-reservation-modal-details" style="display: none;"></div>

<script>

    function init() {
        $(".editable-text-selector").change(function () {
            $(this).parent().addClass('hover-link');
            check_current_fields_to_save();
        });

        var $table_propertyedit = $(".show-all-properties-for-edit");
        $table_propertyedit.floatThead({
            //debounceResizeMs: 300,
            scrollContainer: function ($table_propertyedit) {
                return $table_propertyedit.closest('.edit-wrapper');
            }
        });
    }


    $(function () {

        $(init);

         $(".reserve-sorting").click(function() {

        var direction = 'asc';
        var classes = $(this).attr('class');

        if (classes.indexOf("sorting_asc") >= 0)
        {
            direction = 'descending';
            $("#order_page_by_direction").val('desc');
            $(this).addClass('sorting_desc').removeClass('sorting');
        }
        else
        {
            $(".sorting_desc").removeClass('sorting_desc').addClass('sorting');
        }

        if (classes.indexOf("sorting_desc") >= 0)
        {
            $(this).addClass('sorting_asc').removeClass('sorting_desc');
            direction = 'asc';
            $("#order_page_by_direction").val('asc');
        }
        else
        {
            $(".sorting_asc").removeClass('sorting_asc').addClass('sorting');

        }

        $(this).addClass('sorting_asc').removeClass('sorting');

        var check_class = $(this).attr('class');
        if (check_class == 'sorting_asc')
        {
            direction = 'descending';
            $("#order_page_by_direction").val('desc');
            $(this).removeClass('sorting_asc').addClass('sorting_desc');
        }

        var table_column_field = $(this).attr('data-column');
        $("#order_page_by").val(table_column_field);

        var table_column = $(this).attr('data-column-int');
        sort_reserved_table(table_column, direction);

    });

    show_reserved();

    var nametable = $('table.scrollable-header');

    nametable.floatThead({
        scrollContainer: function ($table) {
            return $table.closest('.wrapper');
        }
    });

    $(".save-edited-data").click(function () {
        check_current_fields_to_save();
    });

    $(".hover-link").click(function () {

        if ($(this).hasClass('hover-link'))
        {
            $("#page-details-edited").val('True');

            check_current_fields_to_save();

            var get_row_id = $(this).attr('id');
            var row_id = get_row_id.replace('editable-', '');
            row_id = row_id.split('-');

            var property_id = row_id[0];
            var key_value = row_id[1];
            key_value = key_value.trim().replace(" ", "");

            var current_value = $(this).text();
            current_value = current_value.trim();

            var edit_by_text = $("#edit-all-props-by-text").hasClass('fa-check');
            var edit_by_select = $("#edit-all-props-by-select").hasClass('fa-check');


            if (key_value == "status" || key_value == "ReservationStatus")
            {
                edit_by_select = true;
                edit_by_text = false;
            }

            if (edit_by_text)
            {
                $(this).html('<input type="text" value="'+current_value+'" id="editing_text_value-'+property_id+'-'+key_value+'" ' +
                         'class="editing_text_value" onkeypress="return searchKeyPress(event);">');

                var strLength = current_value.length * 2;
                var searchInput = $("#editing_text_value-"+property_id+'-'+key_value);

                searchInput.focus();
                searchInput[0].setSelectionRange(strLength, strLength);
            }

            if (edit_by_select)
            {
                key_value = key_value.trim().replace(" ", "");
                var edit_link = '<select style="cursor: default;" class="editable-props-property-selector assigned-floor-property-select-'+key_value+' allocations-selector" onchange="update_assigned_floor_list(\''+key_value+'\', this.value);">';
                var select_html = $('.search-filter-item-'+ key_value).first().html();

                select_html = select_html.replace('<option value="all">Any</option>', '');
                select_html = select_html.replace("Reservation Status", "ReservationStatus").replace("Reservation Status", "ReservationStatus");
                select_html = select_html.replace(edit_link, '<select id="editing_text_value-'+property_id+'-'+key_value+'" ' + ' class="editing_text_value" onchange="return searchKeyPress(event);">');
                select_html = select_html.replace("editable-props-property-selector-"+key_value, "editing_text_value-"+property_id+"-"+key_value);
                select_html = select_html.replace("editable-props-property-selector", "editable-text-selector editing_text_value");

                select_html = select_html.replace('onchange="update_assigned_floor_list(\''+key_value+'\', this.value);"', 'onchange="return searchKeyPress(event);" ');
                select_html = select_html.replace('<option value="all">Select '+key_value+'</option>', '<option value="'+current_value+'" selected>'+current_value+'</option>');

                $(this).html(
                        select_html
                );

                $('#editing_text_value-'+property_id+'-'+key_value).val(current_value);
                $(this).removeClass('hover-link');
                $(init);

            }

        }

    });

});

    function sort_reserved_table(table_column, direction)
    {
        var $table=$('#show-reserved-table');
        var rows = $table.find('tbody tr').get();

        $.each(rows, function(index, row) {
            var td_value = $(row).find("td[data-column-int="+table_column+"]").text().replace(/ +(?= )/g,'').trim().toLowerCase();
            $(this).attr('sorting-by', td_value);
        });

        rows.sort(function(a, b) {

            var keyA = $(a).attr('sorting-by');
            var keyB = $(b).attr('sorting-by');

            var keyAint = parseFloat(keyA);
            var keyBint = parseFloat(keyB);

            if ($.isNumeric(keyAint) && $.isNumeric(keyBint))
            {
                keyA = keyAint;
                keyB = keyBint;
            }

            if (direction == 'asc')
            {
                if (keyA < keyB) return -1;
                if (keyA > keyB) return 1;
            }
            else
            {
                if (keyA < keyB) return 1;
                if (keyA > keyB) return -1;
            }

            return 0;
        });

        $.each(rows, function(index, row) {
            $table.children('tbody').append(row);
        });
    }


    function get_reservation_form(property_id)
    {
        $.ajax({
            url: '/get_property_reservation/{{ project.pk }}/',
            type: 'GET',
            data: {'property_id': property_id, 'direction': 'create'},
            success: function (data) {

                $("#show-reservation-modal-details").html(data.rendered_form).show();
                $("#reservation-modal").modal('show');

                var agent_user_id = $("#id_agent").val();

                if (agent_user_id)
                {
                    $.ajax({
                        url: '/get_agent_for_reservation/{{ project.pk }}/',
                        type: 'GET',
                        data: {'agent_user_id': agent_user_id, 'direction': 'create' },
                        success: function (data) {
                            $("#show-agent-details-in-modal").show();
                            $("#agent-form").html('').html(data.rendered_form);
                        }
                    });
                }
            }
        });
    }


    function searchKeyPress(e)
    {
        $(this).parent().addClass('hover-link');
        // look for window.event in case event isn't passed in
        e = e || window.event;
        if (e.keyCode == 13)
        {
            check_current_fields_to_save();
            return false;
        }
        return true;
    }

    function check_current_fields_to_save()
    {
        console.log('check_current_fields_to_save called');

        var instant_save = $("#instant-save").hasClass('fa-check');

        var preview_id = $("#preview_id").val();
        var check_fields = $(".editing_text_value").length;
        var status_string = '';

        if (check_fields)
        {
            $(".editing_text_value").each(function () {
                //We have to save previous value

                $(this).parent().addClass('hover-link');

                var new_value = $(this).val();

                if (new_value) {
                    $(this).parent().html(new_value.trim());
                }

                var get_updated_row_id = $(this).attr('id');
                var row_id = get_updated_row_id.split('-');

                var property_id = row_id[1];
                var key_value = row_id[2];
                key_value = key_value.replace(' ', '');
                var allocation_template_id = $("#allocation_template_id").val();

                if (key_value == "status" && new_value) {

                    status_string = '<i class="fa fa-edit"></i> ' +  (new_value.trim()).toString;
                    $(this).parent().html(status_string);
                }

                if (new_value)
                {
                    if (instant_save) {
                        $.ajax({
                            url: '/update_project_data_allocation/{{ project.pk }}/',
                            type: 'GET',
                            data: {
                                'key_value': key_value,
                                'new_value': new_value,
                                'property_id': property_id,
                                'allocation_template_id': allocation_template_id
                            },
                            success: function (data) {

                                $().toastmessage('showToast', {
                                    text: "New Value Saved Successfully",
                                    stayTime: 2000,
                                    type: 'success'
                                });

                                $("#editable-" + property_id + "-" + key_value).html(new_value);

                                if (key_value == "status" && new_value == "Reserved") {
                                    $(".property-edit-reserved-" + property_id).prop('checked', true);
                                }
                                else if (key_value == "status") {
                                    $(".property-edit-reserved-" + property_id).prop('checked', false);
                                }
                            }
                        });
                    }
                    else
                    {
                        var key_selector = $("#editable-" + property_id + "-" + key_value);
                        key_selector.addClass('edit-text-value-on-save').html(new_value);

                        if (key_value == "status" && new_value) {
                            status_string = '<i class="fa fa-edit"></i> ' + new_value.trim();
                            key_selector.html(status_string);
                        }

                        $("#page-details-changed").val('True');

                        if (key_value == "status" && new_value == "Reserved") {
                            $(".property-edit-reserved-" + property_id).prop('checked', true);
                        }
                        else if (key_value == "status") {
                            $(".property-edit-reserved-" + property_id).prop('checked', false);
                        }
                    }

                }

            });
        }

    }

    function  mark_property_as_reserved(property_id)
    {
        var template_id = $("#allocation_template_id").val();
        $.ajax({
            url: '/update_property_to_reserved/{{ project.pk }}/',
            type: 'GET',
            data: {'property_id': property_id, 'template_id': template_id},
            success: function (data) {

                if (data.reserved == true)
                {
                    $("#editable-"+property_id+"-status").html('<i class="fa fa-edit"></i> Reserved').stop().css("background-color", "#FFFF9C").animate({ backgroundColor: "transparent"}, 1500);
                    $(".property-edit-reserved-"+property_id).prop('checked', true);


                    $().toastmessage('showToast', {text : "Property has been reserved successfully.", stayTime: 2000, type : 'success'});
                }
                else
                {
                    $("#editable-"+property_id+"-status").html('<i class="fa fa-edit"></i> Available').stop().css("background-color", "#FFFF9C").animate({ backgroundColor: "transparent"}, 1500);
                    $(".property-edit-reserved-"+property_id).prop('checked', false);

                    $().toastmessage('showToast', {text : "Property has been made available successfully.", stayTime: 2000, type : 'success'});
                }

            }
        });
    }

    function get_reservation_list()
    {
        var first_floor = $(".td-with-key[data-name='floor']").first().text().trim().replace(/\n/, '');
        get_new_floor_data(first_floor, 'reservations');

        show_reserved();

    }

</script>