{% if allocated_users %}
    <div>
        {% if view_filter_form %}
            <div class="well">
                {% include "users/includes/user_filter_form.html" %}
            </div>
        {% endif %}

        <div id="search-users-results">
            {% include "users/includes/assigning_user_list.html" %}
        </div>

        <table class="table table-striped">
            <tr class="">
                <td></td>
                <td style="text-align: right">
                    <a data-toggle="tooltip" data-placement="top" title="Assign All Users" onclick="set_all_users();" class="link btn btn-xs btn-black"
                           id="check-all-users"> <i class="fa fa-plus-circle"></i> </a>

                    <a data-toggle="tooltip" data-placement="top" title="Remove All Users" onclick="remove_all_users();" class="link btn btn-xs btn-black"
                           id="check-all-users"> <i class="fa fa-minus-circle"></i> </a>

                </td>
            </tr>
    </table>
    </div>
{% else %}
    <em>There are no allocated users to this group.</em>
{% endif %}



<script>
    function set_all_users()
    {
        if (confirm("Are you sure you wish to assign all users?"))
        {
            update_user_to_group('add');
            $().toastmessage('showToast', {text : "Allocation group saved successfully", position : 'top-left',  stayTime: 5000, type : 'success'});
        }
    }

    function remove_all_users()
    {
        if (confirm("Are you sure you wish to remove all users?"))
        {
            update_user_to_group('remove');
            $().toastmessage('showToast', {text : "Allocation group saved successfully", position : 'top-left',  stayTime: 5000, type : 'success'});
        }
    }
    $(function() {

       $('[data-toggle="tooltip"]').tooltip();

       $(".checkbox-select-user-to-group").change(function() {
            var group_id = $("#selected-allocation-group").val();
            var project_id = $("#current_project_id").val();
            var user_id = $(this).val();

            $.ajax({
                url: '/save_user_to_allocation_group/'+project_id+'/',
                type: 'GET',
                data: {'group_id': group_id, 'user_id': user_id},
                success: function (data) {
                    $().toastmessage('showToast', {text : "Allocation group saved successfully", position : 'top-left',  stayTime: 5000, type : 'success'});
                    $("#selected-group-user-allocation").val('');

                    var check_allocated = $("#checkbox-select-user-to-group-"+user_id).prop('checked');
                    if (check_allocated)
                    {
                        $("#checkbox-select-user-to-group-"+user_id).prop('checked', false);
                    }
                    else
                    {
                        $("#checkbox-select-user-to-group-"+user_id).prop('checked', true);
                    }

                    $("#checkbox-select-user-to-group-"+user_id).parent().parent().removeClass('selected', {duration: 900});
                    $("#checkbox-select-user-to-group-"+user_id).parent().removeClass('selected', {duration: 900});
                }
            });
        });
    });
    


    function update_user_to_group(direction)
    {
        $(".checkbox-select-user-to-group").each(function() {
            var group_id = $("#selected-allocation-group").val();
            var project_id = $("#current_project_id").val();
            var user_id = $(this).val();

            $.ajax({
                url: '/save_user_to_allocation_group/'+project_id+'/',
                type: 'GET',
                data: {'group_id': group_id, 'user_id': user_id, 'direction': direction},
                success: function (data) {
                    $("#selected-group-user-allocation").val('');

                    if (direction == "remove")
                    {
                        $("#check-selected-group-user-"+user_id).removeClass('fa-check').addClass('fa-square');
                        $("#checkbox-select-user-to-group-"+user_id).prop('checked', false);
                    }
                    else
                    {
                        $("#check-selected-group-user-"+user_id).addClass('fa-check').removeClass('fa-square');
                        $("#checkbox-select-user-to-group-"+user_id).prop('checked', true);
                    }

                    $("#checkbox-select-user-to-group-"+user_id).parent().parent().removeClass('selected', {duration: 900});
                    $("#checkbox-select-user-to-group-"+user_id).parent().removeClass('selected', {duration: 900});
                }
            });
        });
    }


</script>

<div id="update_user_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update User</h4>
      </div>
      <div class="modal-body">
          <form id="update-user-form">

          </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="close-property-create-modal" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    </div>
</div>
