{% load model_tags %}
{% load canvas_tags %}

{% if property_preview_list %}
    <div class="fixed-wrapper">
        <div class="wrapper wrapper-allocated">
            <table class="crunched-table table-fixed-header-allocated" id="showing-allocated-properties">
                <thead>
                    <tr>
                        {% if request.user.can_set_as_excusive %}
                            <th class="link allocated-sorting" data-column-int="99" sorting-by="exclusive">Exclusive  &nbsp; <i class="fa fa-sort"></i></th>
                        {% endif %}

    {#                        <th class="link allocated-sorting" data-column-int="97" sorting-by="id">ID  &nbsp; <i class="fa fa-sort"></i></th>#}

                        {% for key in key_display_list %}
                            <th class="link sorting allocated-sorting" data-column-int="{{ forloop.counter }}">
                                {{ key|capfirst }} &nbsp; <i class="fa fa-sort"></i>
                            </th>
                        {% endfor %}
                    </tr>
                </thead>

                <tbody>
                    {% for row in property_preview_list %}
                        {% if request.user.can_edit_group %}
                            <tr class="remove_property_for_listing allocated-group-exlusive allocated-group-exlusive-{{ row.property_exclusive_group }}" style="cursor: pointer; {% if forloop.first %}height: 31px;{% else %}height: 30px;{% endif %}"
                                id="remove_property_for_listing_{{ row.property.pk }}"
                                onclick="check_selected_property_remove_listing({{ row.property.pk }});">
                        {% else %}
                            <tr id="remove_property_for_listing_{{ row.property.pk }}" class="tr-show-all-properties allocated-group-exlusive allocated-group-exlusive-{{ row.property_exclusive_group }}"
                                style="{% if forloop.first %}height: 31px;{% else %}height: 30px;{% endif %}">

                        {% endif %}
                            {% if request.user.can_set_as_excusive %}
                                <td sorting-by="{{ row.property_exclusive }}" data-column-int="99">
                                    <input onchange="select_property_for_exclusive({{ row.property.pk }});"
                                           {% ifequal row.property_exclusive "True" %}checked {% endifequal %}
                                           type="checkbox" id="exclusive-property-toggle-{{ row.property.pk }}" class="selected-property-exclusive" value="{{ row.property.pk }}">

                                    <span id="span-exclusive-property-toggle-{{ row.property.pk }}" style="color: transparent">{{ row.property_exclusive }}</span>
                                </td>
                            {% endif %}

                            {% for key in key_list %}
                                <td sorting-by="{{ key }}" data-column-int="{{ forloop.counter }}" class="td-with-key" data-name="{{ key|cut:' ' }}" id="key-value-{{ key|cut:' ' }}-{{ row.property.pk }}">
                                    {{ row.property_values|get_preview_value_from_dict:key|safe|default_if_none:"-" }}
                                </td>
                            {% endfor %}
                        </tr>
                        <tr style="display: none">
                            <td><input type="checkbox" id="listing-property-toggle-{{ row.property.pk }}" class="selected-property checkbox_property_remove_listing" value="{{ row.property.pk }}"></td>
                        </tr>
                        <tr style="display: none;"></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% else %}
    <em>There are no allocated properties from this floor and building.</em>
{% endif %}

<script>
    $(function () {

        var $allocated_table = $('.table-fixed-header-allocated');
        $allocated_table.floatThead({
            //debounceResizeMs: 300,
            scrollContainer: function ($allocated_table) {
                return $allocated_table.closest('.wrapper');
            }
        });

        $(".allocated-sorting").click(function() {
            var direction = 'asc';
            var classes = $(this).attr('class');

            if (classes.indexOf("sorting_asc") >= 0)
            {
                direction = 'descending';
                $("#order_page_by_direction").val('desc');
                $(this).addClass('sorting_desc').removeClass('sorting');
            }
            else
            {
                $(".sorting_desc").removeClass('sorting_desc').addClass('sorting');
            }

            if (classes.indexOf("sorting_desc") >= 0)
            {
                $(this).addClass('sorting_asc').removeClass('sorting_desc');
                direction = 'asc';
                $("#order_page_by_direction").val('asc');
            }
            else
            {
                $(".sorting_asc").removeClass('sorting_asc').addClass('sorting');

            }

            $(this).addClass('sorting_asc').removeClass('sorting');

            var check_class = $(this).attr('class');
            if (check_class == 'sorting_asc')
            {
                direction = 'descending';
                $("#order_page_by_direction").val('desc');
                $(this).removeClass('sorting_asc').addClass('sorting_desc');
            }

            var table_column_field = $(this).attr('data-column');
            $("#order_page_by").val(table_column_field);

            var table_column = $(this).attr('data-column-int');
            sort_allocated_table(table_column, direction);

        });

    });

    function sort_allocated_table(table_column, direction)
    {
        var $table=$('#showing-allocated-properties');
        var rows = $table.find('tbody tr').get();

        $.each(rows, function(index, row) {
            var td_value = $(row).find("td[data-column-int="+table_column+"]").text().replace(/ +(?= )/g,'').trim().toLowerCase();
            $(this).attr('sorting-by', td_value);
        });

        rows.sort(function(a, b) {

            var keyA = $(a).attr('sorting-by');
            var keyB = $(b).attr('sorting-by');

            var keyAint = parseFloat(keyA);
            var keyBint = parseFloat(keyB);

            if ($.isNumeric(keyAint) && $.isNumeric(keyBint))
            {
                keyA = keyAint;
                keyB = keyBint;
            }

            if (direction == 'asc')
            {
                if (keyA < keyB) return -1;
                if (keyA > keyB) return 1;
            }
            else
            {
                if (keyA < keyB) return 1;
                if (keyA > keyB) return -1;
            }

            return 0;
        });

        $.each(rows, function(index, row) {
            $table.children('tbody').append(row);
        });
    }


</script>