{% load canvas_tags %}

<h3>Allocation group search results</h3>

{% if allocation_groups %}
    <table class="table">
        <th>
            ID
        </th>
        <th>
            Group Name
        </th>
        <th>
            Actions
        </th>

        {% for group in allocation_groups %}
            <tr>
                <td>
                    {{ group.pk }}
                </td>
                <td>
                    {{ project|name_by_name_id:group }}
                </td>
                <td>

                </td>

            </tr>
        {% endfor %}
    </table>
{% else %}
    <em>There are no allocation groups matching your search criteries.</em>
{% endif %}