{% load model_tags %}
{% load canvas_tags %}

<div id="section-reservation-list" class="active tab-pane fade in">
    <div class="col-sm-12" style="max-height: 600px; overflow-y: auto; display: inline-block; white-space: nowrap">
        {% if property_reservation_list %}
            <table class="crunched-table show-all-properties-for-reservation">
                <thead>
                    <tr>
                        <th  style="min-width: {{ size }}px; width: {{ size }}px; max-width: {{ size }}px; overflow: hidden; text-align: center">
                            Name
                        </th>
                        {% for key in key_display_list %}
                            <th  style="min-width: {{ size }}px; width: {{ size }}px; max-width: {{ size }}px; overflow: hidden; text-align: center">
                                {{ key|capfirst|show_nice_key }}
                            </th>
                        {% endfor %}
                        <th  style="min-width: {{ size }}px; width: {{ size }}px; max-width: {{ size }}px; overflow: hidden; text-align: center">
                            Allocated
                        </th>
                    </tr>
                </thead>
            <tbody>
                    {% for row in property_reservation_list %}
                        <tr style="cursor: pointer;" id="property-reservation-selection-{{ row.property.pk }}"
                            class="property-reservation-selections property-reservation-selection-{{ row.property.pk }}" onclick="check_selected_property_for_listing({{ row.property.pk }});">
                            <td style="text-align: center">
                                {{ project|name_by_name_id:row.property }}
                            </td>

                            {% for key in key_display_list %}

                                <td data-name="{{ key }}"
                                    id="editable-{{ row.property.pk }}-{{ key }}" class="hover-link show-key-table-data td-with-key"
                                    style="white-space: nowrap; text-align: center; padding: 3px; width: 140px; min-width: 140px; max-width: 140px; overflow:hidden; {% if  row|get_preview_aspect_class:key %} background: palegoldenrod {% endif %}">
                                    {{ row.property_values|get_preview_value_from_dict:key|safe|default_if_none:"-" }}

                                    {% ifequal key "status" %}
                                        {% ifequal row.property_values|get_preview_value_from_dict:key "Reserved" %}
                                            <input type="hidden" value="True" class="reserved-status reserved-status-True" id="reserved-status-{{ row.property.pk }}">
                                        {% else %}
                                            <input type="hidden" value="False" class="reserved-status reserved-status-False" id="reserved-status-{{ row.property.pk }}">
                                        {% endifequal %}
                                    {% endifequal %}

                                    <input type="hidden" value="{{ row.property_exclusive|capfirst }}" class="exclusive-status-{{ row.property_exclusive|capfirst }}"  id="exclusive-status-{{ row.property.pk }}">
                                </td>

                            {% endfor %}
                            <td style="text-align: center">
                                {% if row.property_allocations %}
                                    {% for item in row.property_allocations %}
                                        {{ item }},
                                    {% endfor %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        {% else %}

            <em>There are no reserved properties</em>

        {% endif %}
    </div>
</div>