{% load model_tags %}
{% load canvas_tags %}


{% if property_preview_list %}
    <div id="section-price-listing" class="active tab-pane fade in">
        <div class="col-sm-12" style="max-height: 600px; overflow-y: auto; display: inline-block; white-space: nowrap">
            <div class="edit-wrapper">
                <table class="crunched-table show-all-properties-for-edit" id="show-reserved-table">
                    <thead>
                        <tr>
                            {% if request.user.can_edit_reservation_modal %}
                                <th style="color: red; text-align: center;"><em>Reservation</em></th>
                            {% endif %}

                            {% if request.user.can_set_to_reserved %}
                                <th style="color: grey; text-align: center"><em>Reserved? </em></th>
                            {% endif %}

                            {% for key in key_list %}
                                <th class="link sorting reserve-sorting"  data-column-int="{{ forloop.counter }}" style="text-align: center">
                                    {{ key|capfirst }} <i class="fa fa-sort"></i>
                                </th>
                            {% endfor %}

                            <th style="text-align: center;">Allocated</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for row in property_preview_list %}
                            {% if row.show_property %}
                                <tr id="property-edit-selection-{{ row.property.pk }}"
                                    class="property-edit-selections property-edit-selection-{{ row.property.pk }}"
                                    onclick="check_selected_property_for_listing({{ row.property.pk }});">

                                    {% if request.user.can_edit_reservation_modal %}
                                        <td style="text-align: center">
                                            <span class="btn btn-sm btn-danger" onclick="get_reservation_form({{ row.property.pk }});">
                                                <i data-toggle="tooltip" data-placement="right" title="Set reservation details" class="reservation-link fa fa-pencil"></i>
                                            </span>
                                        </td>
                                    {% endif %}

                                    {% if request.user.can_set_to_reserved %}
                                        <td  style="text-align: center;">
                                            {% if request.user.can_edit_group %}
                                                <input type="checkbox" id="property-edit-reserved-{{ row.property.pk }}" onchange="mark_property_as_reserved({{ row.property.pk }});" class="property-edit-reserved-check property-edit-reserved-{{ row.property.pk }}">
                                            {% else %}
                                                <i class="property-edit-reserved-icon property-edit-reserved-icon-{{ row.property.pk }} fa fa-square"></i>
                                            {% endif %}
                                        </td>
                                    {% endif %}

                                    {% for key in key_list %}
                                        <td sorting-by="{{ key|cut:' ' }}" data-column-int="{{ forloop.counter }}" data-name="{{ key|cut:' ' }}"
                                            id="editable-{{ row.property.pk }}-{{ key|cut:' ' }}"
                                            class="{% if request.user.can_edit_group and request.user.can_set_to_reserved %}hover-link{% endif %} show-key-table-data td-with-key"
                                            style="{% ifnotequal key "status" %}cursor: default;{% endifnotequal %} white-space: nowrap;
                                                    text-align: center; padding: 3px; {% if  row|get_preview_aspect_class:key %} background: palegoldenrod {% endif %}">
                                            {% if request.user.can_edit_status %}{% ifequal key "status" %} <i class="fa fa-edit"></i> {% endifequal %}{% endif %}
                                            {{ row.property_values|get_preview_value_from_dict:key|safe|default_if_none:"-" }}
                                        </td>
                                    {% endfor %}

                                    <td style="text-align: center">
                                        {% if row.property_allocations %}
                                            {% for item in row.property_allocations %}
                                                {{ item }},
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}

<script>
    $(function () {
       $('[data-toggle="tooltip"]').tooltip();
    });
</script>