<div id="reservation-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title">Reservation for {{ property_name }}</h3>

          <a href="#" onclick="clear_reservation_form({{ selected_property_id }});" class="btn btn-xs btn-black"><i class="fa fa-fire"></i> Clear all and save</a>
      </div>
      <div class="modal-body">
            <div id="property-editable-template">
                <div class="card card-underline">
                    <div class="card-head style-primary-dark">
                        <header>Purchaser Details</header>

                        <div class="tools">
                            <div class="btn-group">
                                <a onclick="$('#purchaser-details-in-modal').toggle('slow');" class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down white"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body" id="purchaser-details-in-modal" style="padding: 20px;">
                        <form method="GET" class="form small-form" id="reservation-modal-form">
                            <input type="hidden" id="showing-property-id" value="{{ selected_property_id }}">
                            <div>
                                {% for hidden_field in form.hidden_fields %}
                                    {{ hidden_field }}
                                {% endfor %}
                            </div>

                            <div class="row">
                                <div class=" well">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            {% for field in form.visible_fields %}
                                                <div class="col-xs-6" style=" {% if field.errors %}height: 90px;{% else %}height: 60px;{% endif %}">
                                                    {% include "includes/field.html" with field=field %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card card-underline"  id="show-agent-details-in-modal" style="display: none;">
                    <div class="card-head style-primary-dark">
                        <header>Agent Details</header>

                        <div class="tools">
                            <div class="btn-group">
                                <a onclick="$('#agent-details-in-modal').toggle('slow');" class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down white"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body" id="agent-details-in-modal" style="padding: 20px;">

                        <form method="GET" class="form small-form" id="reservation-agent-form">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="agent-form"></div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

{#                <div class="card card-underline">#}
{#                    <div class="card-head style-primary-dark">#}
{#                        <header>Summary</header>#}
{##}
{#                        <div class="tools">#}
{#                            <div class="btn-group">#}
{#                                <a onclick="$('#summary-details-in-modal').toggle('slow');" class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="card-body" id="summary-details-in-modal" style="padding: 20px; display: none;">#}
{#                        <em>n/a</em>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="card card-underline">#}
{#                    <div class="card-head style-primary-dark">#}
{#                        <header>Rental Guarantee</header>#}
{##}
{#                        <div class="tools">#}
{#                            <div class="btn-group">#}
{#                                <a onclick="$('#rental-details-in-modal').toggle('slow');" class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="card-body" id="rental-details-in-modal" style="padding: 20px; display: none;">#}
{#                        <em>n/a</em>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="card card-underline">#}
{#                    <div class="card-head style-primary-dark">#}
{#                        <header>Contract Information</header>#}
{##}
{#                        <div class="tools">#}
{#                            <div class="btn-group">#}
{#                                <a onclick="$('#contract-details-in-modal').toggle('slow');" class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="card-body" id="contract-details-in-modal" style="padding: 20px; display: none;">#}
{#                        <em>n/a</em>#}
{#                    </div>#}
{#                </div>#}


                <button type="button" onclick="save_reservation_form();" class="btn btn-process">Save</button>

            </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="close-property-create-modal" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
</div>
  </div>
    </div>


<script>
    $(function() {
       $(".property-agent-select").change(function() {
           var agent_user_id = $(this).val();

           $.ajax({
                url: '/get_agent_for_reservation/{{ project.pk }}/',
                type: 'GET',
                data: {'agent_user_id': agent_user_id, 'direction': 'create' },
                success: function (data) {
                    $("#show-agent-details-in-modal").show();
                    $("#agent-form").html('').html(data.rendered_form);
                }
            });
       })
    });

    function clear_reservation_form(property_id)
    {
        if (confirm("Are you sure you wish to rmeove all reservation details for this property?"))
        {
            $.ajax({
                url: '/remove_property_reservation_details/{{ project.pk }}/',
                type: 'GET',
                data: {'property_id': property_id },
                success: function (data) {
                    $("#reservation-modal").modal('hide');
                    $(".property-edit-reserved-"+property_id).prop('checked', false);
                    $("#editable-"+property_id+"-status").text('Available');

                    $().toastmessage('showToast', {text : "Property details saved successfully", position : 'top-left', stayTime: 2000, type : 'success'});
                }
            });
        }
    }
</script>