<div style="display: none">
    {% for hidden_field in agent_form.hidden_fields %}
        {{ hidden_field }}
    {% endfor %}
</div>


<div class="row">
    {% for field in agent_form.visible_fields %}
        <div class="col-xs-6"  style="{% if field.errors %}height: 90px;{% else %}height: 60px;{% endif %}">
            {% include "includes/field.html" with field=field %}
        </div>
    {% endfor %}
</div>

