{% load model_tags %}
{% load canvas_tags %}

<div class="card card-underline">

    <div class="card-head card-head-xs style-default-dark">
        <header>Filter Assigned Properties</header>

        <div class="tools">
            <div class="btn-group" style="color: #fff;">
                <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down white"></i></a>
            </div>
        </div>
    </div>

    <div class="card-body" style="padding: 20px;">

    <div class="row">
        {% for row in search_filter_dict %}
            {% ifequal row.key "Reservation Status" %}
                <div class="allocation-search-block" style="width: 120px; display: inline-block;">
            {% else %}
                <div class="allocation-search-block" style="width: 120px; display: inline-block;">
            {% endifequal %}
                <label class="allocation-search">{{ row.nice_key }}</label>

                    <div class="search-filter-item-{{ row.key|cut:' ' }}">

                        <select class="allocations-selector {{ class }}-property-selector assigned-floor-property-select-{{ row.key }}
                            {% ifnotequal row.key "building_name" %}
                                {% ifnotequal row.key "floor" %} allocation-section-main {% endifnotequal %}
                            {% endifnotequal %}"

                                onchange="check_filter('{{ row.key|cut:' ' }}', '{{ class }}', '{{ request.user.user_type }}');" id="{{ class }}-property-selector-{{ row.key|cut:' ' }}">

                            <option value="all">Any</option>

                            {% for item in row.property_distinct_options %}
                                {% ifnotequal row.property_initial "all"%}

                                    <option value="{{ item }}"
                                            {% ifequal row.property_initial item %}selected{% endifequal %}>
                                        {{ item }}
                                    </option>

                                {% else %}
                                    <option value="{{ item }}">{{ item }}</option>
                                {% endifnotequal %}

                            {% endfor %}
                        </select>
                    </div>
                </div>

                {% ifequal forloop.counter 12 %}
                    </div><div class="row">
                {% endifequal %}
        {% endfor %}
    </div>

    <div class="allocation-search-block" style="width: 120px; display: inline-block; margin-left: -10px;">
        <label class="allocation-search">Reserved</label>

        <div class="search-filter-item-reserved">
            <select id="{{ class }}-assigned-floor-property-select-reserved"
                    class="allocations-selector custom-selector {{ class }}-custom-selector {{ class }}-property-selector-reserved"
                    onchange="update_with_all_custom_values('{{ class }}');">
                <option value="all">Any</option>

                <option value="True">Yes</option>
                <option value="False">No</option>

            </select>
        </div>
    </div>

    <div class="allocation-search-block" style="width: 120px; display: inline-block;">
        <label class="allocation-search">Exclusive</label>

        <div class="search-filter-item-exclusive">
            <select id="{{ class }}-assigned-floor-property-select-exclusive" class="allocations-selector custom-selector {{ class }}-custom-selector {{ class }}-property-selector-exclusive" onchange="update_with_all_custom_values('{{ class }}');">
                <option value="all">Any</option>
                <option value="True">Yes</option>
                <option value="False">No</option>
            </select>
        </div>
    </div>

    <div class="allocation-search-block" style="width: 120px; display: inline-block;">
        <label class="allocation-search">Price Min</label>

        <div class="search-filter-item-price_min">
            <select id="{{ class }}-assigned-floor-property-select-price_min"
                    class="allocations-selector custom-selector {{ class }}-custom-selector {{ class }}-property-selector-price_min" onchange="update_with_all_custom_values('{{ class }}');">
                <option value="all">Select Min</option>
                {% for item in price_mins %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="allocation-search-block" style="width: 120px; display: inline-block;">
        <label class="allocation-search">Price Max</label>

        <div class="search-filter-item-price_max">
            <select id="{{ class }}-assigned-floor-property-select-price_max"
                    class="allocations-selector custom-selector {{ class }}-custom-selector {{ class }}-property-selector-price_max" onchange="update_with_all_custom_values('{{ class }}');">

                <option value="all">Select Max</option>
                {% for item in price_maxs %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

        <div class="pull-right allocation-search-team" style="margin-top: 10px; z-index: 9999; width: 200px;">

            <input type="checkbox" id="{{ class }}-instant-search" class="instant-search" checked onclick="change_search('{{ class }}-instant-search');"> <span class="instant-search-text">Instant Search</span>

            &nbsp;
            <button type="button" class="btn btn-xs btn-black"
                    onclick="$('.allocation-section-main').val('all'); update_assigned_floor_list('building_name', 'all')">
                <i data-toggle="tooltip" data-placement="top" title="Refresh Search"  class="fa fa-refresh"></i>
            </button>
            &nbsp;

            <button id="search-button-property-instant-search" type="button" class="btn btn-xs btn-black search-button"
                    onclick="update_assigned_floor_list_all('{{ class }}');">
                <i data-toggle="tooltip" data-placement="top" title="Start Search"  class="fa fa-search"></i>
            </button>
            &nbsp;

        </div>

        <div class="pull-right property-search-team" style="display:none; margin-top: 10px; z-index: 9999; width: 200px;">


            <input type="checkbox" class="instant-search" checked id="allocation-instant-search"
                   onclick="change_search('allocation-instant-search');"> <span class="instant-search-text">Instant Search</span>

            &nbsp;
            <button type="button" class="btn btn-xs btn-black "
                    onclick="$('.allocation-section-main').val('all'); filter_images();"><i class="fa fa-refresh"></i> </button>
            &nbsp;
            <button id="search-button-allocation-instant-search"  type="button" class="btn btn-xs btn-black search-button"
                    onclick="update_editable_floor_list_all('{{ class }}');">
                <i data-toggle="tooltip" data-placement="top" title="Start Search"  class="fa fa-search"></i>
            </button>
        </div>
    </div>
</div>


