<div class="form-well">
    <h3>Edit <span class="text-success">{{ user.get_full_name }}'s</span> Allocation Groups</h3>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Allocation Group Name</th>
                <th>Access</th>
            </tr>
        </thead>
        <tbody>
            {% for group in project_group_list %}

                <tr {% ifnotequal group.group_id group.selected_group_id %} onclick="save_user_group({{ user.pk }}, {{ group.group_id }});" {% endifnotequal %}>
                    <td class="{% ifequal group.group_id group.selected_group_id %} disabled-group-row {% else %} link text-success {% endifequal %}">
                        {{ group.allocation_group_name }}
                    </td>
                    <td>
                        {% ifequal group.group_id group.selected_group_id %}
                            {% if group.allocation_group_access %}
                                <i class="fa fa-check disabled-group-row" data-toggle="tooltip" data-placement="top"
                                   title="Has access to {{ group.allocation_group_name }}"></i>
                            {% else %}
                                <i class="fa fa-square disabled-group-row" data-toggle="tooltip" data-placement="top"
                                title="Not allocated to {{ group.allocation_group_name }}"></i>
                            {% endif %}
                        {% else %}
                            {% if group.allocation_group_access %}
                                <i class="link fa fa-check" data-toggle="tooltip" data-placement="top"
                                   title="Has access to {{ group.allocation_group_name }}"></i>
                            {% else %}
                                <i class="link fa fa-square" data-toggle="tooltip" data-placement="top"
                                title="Not allocated to {{ group.allocation_group_name }}"></i>
                            {% endif %}
                        {% endifequal %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>