{% extends "projects/base.html" %}

{% load canvas_tags %}
{% load model_tags %}

{% block title %}{{ block.super }} - {{ project.name }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}

    <a class="header-breadcrumb active" href="/projects/{{ project.pk }}/">
        {{ project.name }}

        <i class="fa fa-angle-double-right"></i>
    </a>

    <a class="header-breadcrumb not-active" href="#">
        Project Administration

        <i class="fa fa-angle-double-right"></i>
    </a>

    {% if request.user.is_ds_admin %}
        {% include "canvas/includes/project_selector.html" %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row" id="project-allocation-body">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card card-underline">
                        <div class="card-head style-primary-dark link" onclick='$("#select-group-section").toggle("slow");'>
                            <header>Project Administration</header>
                        </div>

                        <div class="card-body" id="select-group-section" style="padding: 20px;">
                            <ul class="nav nav-tabs header-tabs">
                                <li id="properties-tab" onclick="go_to_properties_tab();" class="active main-tabs properties-tab switch_plans_tab_level">
                                  <a id="properties-tab-link" href="#section-properties" data-toggle="tab">
                                      <label class="link">Properties</label>
                                  </a>
                                </li>

                                <li id="allocation-section-tab" onclick="go_to_allocations_tab();" class="main-tabs level-plans switch_plans_tab_level">
                                  <a href="#section-allocations" data-toggle="tab">
                                      <label class="link">Group Allocations</label>
                                  </a>
                                </li>
                                <li class="main-tabs level-plans switch_plans_tab_level">
                                  <a href="#section-contacts" data-toggle="tab">
                                      <label class="link">Project Contacts</label>
                                  </a>
                                </li>

                            </ul>

                            <div class="tab-content" style="border: 1px solid #ddd; border-top: none; padding: 10px; padding-right: 15px; margin-right: 2px;">
                                <div id="section-allocations" class="tab-pane fade in">
                                 <h3>Allocations</h3>

                                <div class="row">
                                    <div class="col-sm-12 col-md-10 col-lg-7">
                                        {% if allocation_groups %}
                                        <table class="table">
                                            <tr>
                                                <th>
                                                    Name
                                                </th>
                                                <th>
                                                    Apartments
                                                </th>
                                                <th>
                                                    Parent Group
                                                </th>
                                                <th>
                                                    Created By
                                                </th>
                                                <th>
                                                    Actions
                                                </th>
                                            </tr>


                                        {% for group in allocation_group_list %}
                                            <tr id="allocation-group-row-{{ group.group.pk }}" class="allocation-group-row">
                                                <td class="group-allocation-name-field-{{ group.group.pk }}">
                                                    {{ project|name_by_name_id:group.group }}
                                                </td>
                                                <td id="group-allocation-count-field-{{ group.group.pk }}">
                                                    {{ group.apartment_count }}
                                                </td>
                                                <td class="group-allocation-name-field-{{ group.group.pk }}">
                                                    {% if group.group.allocation_group_parent %}
                                                        {{ project|name_by_name_id:group.group.allocation_group_parent }}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {{ group.group.owner_id|show_user_by_id }}
                                                </td>
                                                <td>
                                                    <span onclick="edit_allocation_group_details({{ group.group.pk }});"  class="link fa-stack fa-lg" data-toggle="tooltip"
                                                          data-placement="top" title="Edit Group Details">
                                                      <i class="fa fa-circle fa-stack-2x"></i>
                                                      <i class="fa fa-edit fa-stack-1x fa-inverse"></i>
                                                    </span>

                                                    <span onclick="show_allocated_users({{ group.group.pk }}, '{{ project|name_by_name_id:group.group }}');"  class="link fa-stack fa-lg"
                                                          data-toggle="tooltip" data-placement="top" title="View Assigned Users">
                                                      <i class="fa fa-circle fa-stack-2x"></i>
                                                      <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                                                    </span>

                                                    <span onclick="show_all_properties({{ group.group.pk }});"  class="link fa-stack fa-lg" data-toggle="tooltip"
                                                          data-placement="top" title="View Assigned Properties">
                                                      <i class="fa fa-circle fa-stack-2x"></i>
                                                      <i class="fa fa-building fa-stack-1x fa-inverse"></i>
                                                    </span>

                                                    <span onclick="delete_allocation_group({{ group.group.pk }});" class="link fa-stack fa-lg" data-toggle="tooltip"
                                                          data-placement="top" title="Delete Group">
                                                      <i class="fa fa-circle fa-stack-2x text-danger"></i>
                                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                    </span>

                                                    <span id="download-loading-csv-{{ group.group.pk }}" onclick="download_all_data({{ group.group.pk }}, '?id={{ group.group.pk }}&export_format_with_data=csv');" class="link fa-stack fa-lg" data-toggle="tooltip"
                                                          data-placement="top" title="Download all Reservations for this group">
                                                      <i class="fa fa-circle fa-stack-2x text-info"></i>
                                                      <i class="fa fa-download fa-stack-1x fa-inverse"></i>
                                                    </span>

                                                    <span id="download-loading-{{ group.group.pk }}" style="display: none;">
                                                        Loading..
                                                    </span>

                                                    <input type="hidden" id="group-allocation-name-field-{{ group.group.pk }}" value="{{ project|name_by_name_id:group.group }}">
                                                    <input type="hidden" id="group-allocation-hidden-field-{{ group.group.pk }}" value="{{ group.group.is_hidden }}">

                                                    {% if group.group.allocation_group_parent_id %}
                                                        <input type="hidden" id="group-allocation-parent-field-{{ group.group.pk }}" value="{{ group.group.allocation_group_parent_id }}">
                                                    {% else %}
                                                        <input type="hidden" id="group-allocation-parent-field-{{ group.group.pk }}" value="">
                                                    {% endif %}
                                                </td>
                                            </tr>

                                        {% endfor %}
                                        </table>
                                    {% else %}
                                        <em>There are no Allocation Groups</em>
                                    {% endif %}
                                    </div>
                                </div>


                                <br>
                                <a onclick="$('#add-allocation-group').toggle();">
                                    <i class="fa fa-plus"></i> Add New Allocation Group
                                </a>

                                &nbsp; &nbsp; &nbsp;


                                <span onclick="download_all_data('all', '?id=all&export_format_with_data=csv');" class="link fa-stack fa-lg" data-toggle="tooltip"
                                      data-placement="top" title="Download all Reservations for this Project">
                                  <i class="fa fa-circle fa-stack-2x text-success"></i>
                                  <i class="fa fa-download fa-stack-1x fa-inverse"></i>
                                </span>

                            </div>

                            <div id="section-contacts" class="tab-pane fade in">

                                {% if all_users %}
                                    <table class="table table-striped dataTable">
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>User Role</th>
                                        <th style="text-align: center">Account Setup Email</th>
                                        <th style="text-align: center">Forgotten Password</th>
                                    </tr>

                                    {% for user in all_users %}
                                        {% if not request.user.is_ds_admin %}
                                            {% if request.user.is_project_user %}
                                                {% if not user.is_ds_admin %}
                                                    <tr>
                                                        <td>
                                                            {{ user.pk }}
                                                        </td>
                                                        <td>
                                                            {{ user.first_name }}
                                                        </td>
                                                        <td>
                                                            {{ user.last_name }}
                                                        </td>
                                                        <td>
                                                            {{ user.email }}
                                                        </td>
                                                        <td>
                                                            {{ user.phone_number }}
                                                        </td>
                                                        <td>
                                                            {{ user.get_user_type_display }}
                                                        </td>
                                                        <td style="text-align: center;">
                                                            {% if not request.user.is_master_agent %}
                                                                {% if not request.user.is_client_admin %}
                                                                    <a href="#" onclick="send_user_account_email({{ user.pk }}, {{ project.pk }});" data-toggle="tooltip" data-placement="top" title="Resend account email"><i class="fa fa-envelope"></i></a>
                                                                {% else %}
                                                                    {% if not user.is_admin_user %}
                                                                        <a href="#" onclick="send_user_account_email({{ user.pk }}, {{ project.pk }});" data-toggle="tooltip" data-placement="top" title="Resend account email"><i class="fa fa-envelope"></i></a>
                                                                    {% else %}
                                                                        <i class="fa fa-envelope grey" style="opacity: 0.2"></i>
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% else %}
                                                                {% ifequal user.created_by request.user  %}
                                                                    <a href="#" onclick="send_user_account_email({{ user.pk }}, {{ project.pk }});" data-toggle="tooltip" data-placement="top" title="Resend account email"><i class="fa fa-envelope"></i></a>
                                                                {% else %}
                                                                    <i class="fa fa-envelope grey" style="opacity: 0.2"></i>
                                                                {% endifequal %}
                                                            {% endif %}
                                                        </td>
                                                        <td style="text-align: center">
                                                            {% if not request.user.is_master_agent %}
                                                                {% if not request.user.is_client_admin %}
                                                                    <a href="#" onclick="send_user_password_email({{ user.pk }});"  data-toggle="tooltip" data-placement="top" title="Resend password email"><i class="fa fa-envelope"></i></a>
                                                                {% else %}
                                                                    {% if not user.is_admin_user %}
                                                                        <a href="#" onclick="send_user_password_email({{ user.pk }});"  data-toggle="tooltip" data-placement="top" title="Resend password email"><i class="fa fa-envelope"></i></a>
                                                                    {% else %}
                                                                        <i class="fa fa-envelope grey" style="opacity: 0.2"></i>
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% else %}
                                                                {% ifequal user.created_by request.user %}
                                                                    <a href="#" onclick="send_user_password_email({{ user.pk }});"  data-toggle="tooltip" data-placement="top" title="Resend password email"><i class="fa fa-envelope"></i></a>
                                                                {% else %}
                                                                    <i class="fa fa-envelope grey" style="opacity: 0.2"></i>
                                                                {% endifequal %}
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% endif %}
                                        {% else %}

                                            <tr>
                                                <td>
                                                    {{ user.pk }}
                                                </td>
                                                <td>
                                                    {{ user.first_name }}
                                                </td>
                                                <td>
                                                    {{ user.last_name }}
                                                </td>
                                                <td>
                                                    {{ user.email }}
                                                </td>
                                                <td>
                                                    {{ user.phone_number }}
                                                </td>
                                                <td>
                                                    {{ user.get_user_type_display }}
                                                </td>
                                                <td style="text-align: center;">
                                                    <a href="#" onclick="send_user_account_email({{ user.pk }}, {{ project.pk }});" data-toggle="tooltip" data-placement="top" title="Resend account email"><i class="fa fa-envelope"></i></a>
                                                </td>
                                                <td style="text-align: center">
                                                    <a href="#" onclick="send_user_password_email({{ user.pk }});"  data-toggle="tooltip" data-placement="top" title="Resend password email"><i class="fa fa-envelope"></i></a>
                                                </td>
                                            </tr>
                                        {% endif %}

                                    {% endfor %}
                                </table>
                                {% else %}
                                    <em><small>There are no other users visible in this project.</small></em><br><br>
                                {% endif %}

                                <a data-toggle="modal" class="btn btn-xs btn-black" href="#add_new_user_modal">
                                    <i class="fa fa-plus text-info"></i> Add New User
                                </a>
                            </div>

                            <div id="section-properties" class="active tab-pane fade in" style="min-height: 800px;">

                                <h3>Filter All Project Properties</h3>
                                <div class="row well search-property-filters" id="search-property-list" style="white-space: normal">
                                    {% include "projects/admin/includes/search_filter_properties.html" with class="editable-props" %}
                                </div>

                                <hr>

                                <div class="col-sm-12" style="display: inline-block; white-space: nowrap;">
                                    {% if not request.user.is_master_agent %}

                                        <div class="pull-left">
                                            <em class="bold-text">Please note: You can click on a property table field to edit the data directly.</em><br>

                                            <div>Update via text: <i id="edit-all-props-by-text" class="link fa fa-square"></i>
                                                &nbsp; Update via select: <i id="edit-all-props-by-select" class="link fa fa-check"></i></div><br>
                                        </div>


                                        <div class="pull-right" style="display: none;">
                                            <em class="bold-text">Would you prefer to make changes instantly or with a confirm?</em><br>

                                            <div>
                                                Confirm before save: <i id="confirm-each-save" class="link fa fa-check"></i>
                                                &nbsp;  Instant save: <i id="instant-save" class="link fa fa-square"></i>

                                                <input type="hidden" id="page-details-changed" value="False">
                                            </div>

                                        </div>

                                    {% else %}
                                        <em class="bold-text">Please note: You can click on the status field for any property to edit the status directly.</em><br>
                                    {% endif %}

                                    {% if request.user.can_edit_group or request.user.can_edit_status %}
                                        &nbsp;
                                        <a data-toggle="tooltip" data-placement="left" title="Save updated fields"
                                           class="pull-right save-updated-fields btn btn-process" id="save-updated-fields-top">
                                            <i class="text-danger fa fa-save" style="color: #EF5350;"></i> &nbsp; Save
                                        </a>
                                    {% endif %}

                                </div>

                                {% if request.user.can_view_staging %}
                                    <div class="col-sm-12" style="display: inline-block; white-space: nowrap">
                                        <small class="bold-text">Download: &nbsp; </small>

                                        <a id="get_csv_data"
                                           onclick="get_csv_file('?id=all_data&export_format_with_data=csv');" class="btn btn-black btn-xs">
                                            <i data-toggle="tooltip" data-placement="right" title="Download Properties" class="text-info fa fa-download"></i>
                                        </a>

                                        <a id="get_csv_data_reservations"
                                           onclick="get_csv_file('?id=all&export_format_with_data=csv');" class="btn btn-black btn-xs">
                                            <i data-toggle="tooltip" data-placement="right" title="Download Reservations"  class="text-success fa fa-download"></i>
                                        </a>

                                        <div id="loading-gif" class="bold-text" style="display:none;">Loading, one moment... <img src="/static/common/img/loading-trans.gif" style="height: 30px; width: auto"></div>

                                    </div>
                                {% endif %}

                                <div>
                                    <div class="show-edit-filtered-properties">
                                        {% include "projects/admin/includes/all_properties_with_edit.html" with size=100 %}
                                    </div>
                                </div>

                            </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>

<div class="row">
    <div class="col-sm-12">

        <div class="row allocation-assigned-details" id="allocation-search" style="display: none;">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card card-underline">
                    <div class="card-head style-primary-dark">
                        <header>Search for Allocation Group</header>

                        <div class="tools">
                            <div class="btn-group" style="color: #fff;">
                                <a onclick="$('#allocation-search').toggle();" class="btn btn-icon-toggle pull-right"><i class="fa fa-close white"></i></a>
                                <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down white"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body tab-content" style="padding: 20px;">
                        <em>You can search for an Allocation Group that has been assigned an existing Property or User</em>
                        <div class="pull-right">
                            <span onclick="reset_search_values();" class="link fa-stack fa-lg" data-toggle="tooltip"
                              data-placement="top" title="Rset Search Filters">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-refresh fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>

                        <br><br>
                        <form action method="POST">
                            {% csrf_token %}
                            <div class="row">
                                {% for field in filter_form %}
                                    <div class="col-sm-3 col-md-3">
                                        {% include "includes/field.html" with field=field %}
                                    </div>
                                {% endfor %}
                            </div>
                        </form>

                        <div id="allocation-search-results"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row allocation-assigned-details" id="add-allocation-group" style="display: none;">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card card-underline">
                    <div class="card-head style-primary-dark">
                        <header>Add New Allocation Group</header>

                        <div class="tools">
                            <div class="btn-group" style="color: #fff;">
                                <a onclick="$('#add-allocation-group').toggle();" class="btn btn-icon-toggle pull-right"><i class="fa fa-close white"></i></a>
                                <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down white"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body tab-content" style="padding: 20px;">
                        <form action method="POST">
                            {% csrf_token %}

                            {% include "includes/field.html" with field=form.group_name %}
{#                            {% include "includes/field.html" with field=form.allocation_parent %}#}

                            <label>Allocation Group Parent:</label>
                            <select id="id_allocation_parent" name="allocation_parent">
                                <option value="" selected>No Allocation Group Parent</option>
                                {% for group in allocation_group_list %}
                                    <option value="{{ group.group.pk }}">{{ project|name_by_name_id:group.group }}</option>
                                {% endfor %}
                            </select>


                            <button type="submit" class="btn btn-process">Add Group</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row allocation-assigned-details" id="edit-allocation-group" style="display: none;">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card card-underline">
                    <div class="card-head style-primary-dark">
                        <header>Edit Allocation Group Details</header>

                        <div class="tools">
                            <div class="btn-group" style="color: #fff;">
                                <a onclick="$('#edit-allocation-group').toggle();" class="btn btn-icon-toggle pull-right"><i class="fa fa-close white"></i></a>
                                <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down white"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body tab-content" style="padding: 20px;">
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Name</label>
                                <input type="text" class="form-control" id="edit-allocation-group-name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Parent Allocation Group</label>
                                <select class="form-control" id="edit-allocation-group-parent">
                                    <option value="">Select Allocation Group Parent</option>
                                    {% for group in allocation_group_list %}
                                        <option value="{{ group.group.pk }}">{{ project|name_by_name_id:group.group }}</option>
                                    {% endfor %}

                                    <option value="no_parent">Set to No Allocation Group Parent</option>
                                </select>
                            </div>
                        </div>

                        {% if request.user.is_super_admin %}
                            <div class="row">
                                <br>
                                <div class="col-sm-4">
                                    <label>Is Allocation Group Hidden</label>
                                    <input type="text" class="form-control" id="edit-allocation-group-hidden" style="width: 50%;">
                                    <em>For an Allocation Group to be viewed only by Display Sweet please mark as 0</em>
                                </div>
                            </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-sm-4">
                                <br>
                                <button type="button" onclick="save_allocation_group_name();" class="btn btn-sm btn-process">Save Details</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row allocation-assigned-details" id="assigned-users" style="display: none;">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card card-underline">
                    <div class="card-head style-primary-dark">
                        <header>Assign Users: <span class="selected-allocation-group-name"></span> </header>

                        <div class="tools">
                            <div class="btn-group" style="color: #fff;">
                                <a onclick="$('#assigned-users').toggle();" class="btn btn-icon-toggle pull-right"><i class="fa fa-close white"></i></a>
                                <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down white"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body tab-content">
                        <div class="row">
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <div id="show-allocated-users">
                                    Loading...
                                </div>
                            </div>

                            <div class="col-sm-4 col-md-4 col-lg-4" id="show-selected-user-groups">

                            </div>
                        </div>
                        <br><br>
                        <div class="pull-left" data-toggle="tooltip" data-position="top" title="Add new user">
                            <a data-toggle="modal" href="#add_new_user_modal">
                                <i class="fa fa-plus"></i> Add New User
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row allocation-assigned-details" id="assigned-properties" style="display: none;">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card card-underline">

                    <div class="card-head style-primary-dark">
                        <header>Allocate Apartments: <span class="selected-allocation-group-name"></span> </header>

                        <div class="tools">
                            <div class="btn-group" style="color: #fff;">
                                <a onclick="$('#assigned-properties').toggle();" class="btn btn-icon-toggle pull-right"><i class="fa fa-close white"></i></a>
                                <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down white"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body tab-content" style="padding: 20px;">

                        <div class="row well search-property-filters" id="search-property-list">
                            {% include "projects/admin/includes/search_filter_properties.html" with size=80 class="all-props" %}
                        </div>

                        <br>


                        <div class="row" style="text-align: center">
                            <div class="col-sm-6">
                                <h3 class="pull-left" id="assign-text-property">Assign Property to Group</h3>

                                <div class="pull-right" style="padding-top: 10px; position: absolute; right: 40px;">
                                    <a href="#" data-toggle="tooltip" data-position="top" title="Select all" id="left-button" onclick="select_all_properties_to_assign();">
                                        <i id="select-all-to-assign" class="fa fa-square"></i>
                                    </a> Select all
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h3 class="pull-left" style="margin-left: 10px;">Allocated Properties</h3>
                                    </div>
                                    <div class="col-sm-4">

                                        <div class="pull-right" style="padding-top: 10px; position: absolute; right: 60px; white-space: nowrap ">
                                            <a href="#" data-toggle="tooltip" data-position="top" title="Select all?" onclick="select_all_properties_to_remove();">
                                                <i id="select-remove-all" class="fa fa-square"></i>
                                            </a> Select all
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="white-space: nowrap">
                            <div class="col-sm-6">
                                <div class="show-filtered-properties" id="show-all-properties"
                                      style="float: left; display: inline-block; vertical-align: top; max-width: 99%;">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div id="show-allocated-properties"
                                     style="float: right; display: inline-block; vertical-align:top; max-width: 99%;">
                                     Loading...
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="row">
                           <div class="col-sm-3">
                               &nbsp; <a id="get_csv_data" onclick="get_csv_file('?id=all&export_format_with_data=csv');" class="btn btn-default btn-xs"><i class="fa fa-download"></i> Export Data to CSV</a>
                           </div>

                           <div class="col-sm-3">
                               <button onclick="add_property_to_allocation_group();" type="button" class="btn  btn-xs  btn-black pull-right"> Assign </button>
                           </div>


                           <div class="col-sm-6">
                               <button onclick="remove_property_from_allocation_group();" type="button" class="btn btn-xs btn-black pull-left"> Remove</button>

                               <div class=" pull-right" style="margin-right: 30px;">
                                   <button onclick="add_exclusive_to_selected();" type="button" class="btn btn-xs btn-black"> <i class="fa fa-plus"></i> Exclusive</button>
                                   &nbsp;
                                   <button onclick="remove_exclusive_to_selected();" type="button" class="btn btn-xs btn-black"> <i class="fa fa-minus"></i> Exclusive</button>
                               </div>
                           </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="selected-allocation-group">
    <input type="hidden" id="selected-building-name">
    <input type="hidden" id="selected-allocation-group-name">
    <input type="hidden" id="current_project_id" value="{{ project.pk }}">
    <input type="hidden" id="allocation_template_id" value="{{ allocation_template_id }}">
    <input type="hidden" id="page-details-edited" value="False">
    <input type="hidden" id="last-assigned-properties" value="">
    <input type="hidden" id="property-price-field" value="{{ property_price_field }}">

    <div id="add_new_user_modal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add New User</h4>
          </div>
          <div class="modal-body">

                <div id="add-new-user-details">
                    {% include "projects/admin/includes/add_new_user_form.html" %}

                </div>
                <button type="button" onclick="save_new_user_form();" class="btn btn-process">Save</button>
          </div>
          <div class="modal-footer">
            <button type="button" id="close-property-create-modal" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
    </div>
    </div>
    </div>


    <script>

    function pageTop(){
      return $("#navs").height();
    }

    function send_user_password_email(user_id)
    {
        if (confirm("Send this user a reset password email?"))
        {
            waitingDialog.show('Sending', {dialogSize: 'sm', progressType: 'info'});

            $.ajax({
                url: '/send_user_email/{{ project.pk }}/'+user_id+'/',
                type: 'GET',
                data: {'email_type': 'password'},
                success: function (data) {
                    $().toastmessage('showToast', {text : "Email sent successfully", position : 'top-left',  stayTime: 5000, type : 'success'});
                    waitingDialog.hide();
                }
            });
        }

    }

    function send_user_account_email(user_id, project_id)
    {
        if (confirm("Send this user an account setup email?"))
        {
            waitingDialog.show('Sending', {dialogSize: 'sm', progressType: 'info'});

            $.ajax({
                url: '/send_user_email/'+project_id+'/'+user_id+'/',
                type: 'GET',
                data: {'email_type': 'account'},
                success: function (data) {
                    $().toastmessage('showToast', {text : "Email sent successfully", position : 'top-left',  stayTime: 5000, type : 'success'});
                    waitingDialog.hide();
                }
            });
        }
    }

    $(function() {

        var building_name = $("#editable-props-property-selector-building_name").val();
        $("#selected-building-name").val(building_name);

        $("#instant-save").click(function() {
            $("#instant-save").removeClass('fa-square').addClass('fa-check');
            $("#confirm-each-save").removeClass('fa-check').addClass('fa-square');
            $(".save-updated-fields").hide();
            $().toastmessage('showToast', {text : "Property values will be saved instantly.", stayTime: 2000, type : 'success'});
        });

        $("#confirm-each-save").click(function() {
            $("#confirm-each-save").removeClass('fa-square').addClass('fa-check');
            $("#instant-save").removeClass('fa-check').addClass('fa-square');
            $(".save-updated-fields").show();
            $().toastmessage('showToast', {text : "Property values will be saved only on clicking save.", stayTime: 2000, type : 'success'});
        });

        $(".save-updated-fields").click(function() {
            check_current_fields_to_save();

            if (confirm("Are you sure you wish to save? This will update properties with all changed information."))
            {
                $("#page-details-edited").val('False');

                $("#page-details-changed").val('False');
                var preview_id = $("#preview_id").val();
                var check_fields = $(".edit-text-value-on-save").length;

                if (check_fields)
                {
                    $(".edit-text-value-on-save").each(function () {
                        //We have to save previous value

                        $(this).parent().addClass('hover-link');
                        var new_value = $(this).text();
                        var get_updated_row_id = $(this).attr('id');
                        var row_id = get_updated_row_id.split('-');

                        var property_id = row_id[1];
                        var key_value = row_id[2];
                        key_value = key_value.replace(' ', '');

                        var allocation_template_id = $("#allocation_template_id").val();

                        console.log('property_id', property_id);
                        console.log('new_value', new_value);

                        if (key_value == "status" && new_value == "")
                        {

                        }

                        $.ajax({
                            url: '/update_project_data_allocation/{{ project.pk }}/',
                            type: 'GET',
                            data: {'key_value': key_value, 'new_value': new_value, 'property_id': property_id, 'allocation_template_id': allocation_template_id },
                            success: function (data) {
                                $("#editable-"+property_id+"-"+key_value).html(new_value);

                                $(this).removeClass('edit-text-value-on-save');

                                if (key_value == "status" && new_value == "Reserved")
                                {
                                    $(".property-edit-reserved-"+property_id).prop('checked', true);
                                }
                                else if (key_value == "status")
                                {
                                    $(".property-edit-reserved-"+property_id).prop('checked', false);
                                }

                            }
                        });

                    });

                    $().toastmessage('showToast', {text : "Properties have been " +
                    "saved successfully", stayTime: 2000, type : 'success'});
                }
            }

        });

        var $table = $('.table-fixed-header');
        $table.floatThead({
            //debounceResizeMs: 300,
            scrollContainer: function ($table) {
                return $table.closest('.wrapper');
            }
        });

    });

    </script>

    <script src="/static/vendor/floatHead/jquery.floatThead.js"></script>
    <script src="/static/common/js/allocation_groups.js"></script>
{% endblock %}
