{% extends "projects/base.html" %}

{% load canvas_tags %}
{% load model_tags %}

{% block title %}{{ block.super }} - {{ project.name }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}

    <a class="header-breadcrumb active" href="{% url 'home' %}">
        {{ project.name }}

        <i class="fa fa-angle-double-right"></i>
    </a>

    Project Allocations
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card card-underline">
                        <div class="card-head style-accent-light">
                            <header>Project Allocations</header>

                            <div class="tools">
                                <div class="btn-group">
                                    <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="card-body" style="padding: 20px;">
                            <ul class="nav nav-tabs">
                                <li class="active main-tabs level-plans switch_plans_tab_level" onclick="go_to_properties_tab();">
                                  <a href="#section-properties" data-toggle="tab">
                                      <label class="link">Properties</label>
                                  </a>
                                </li>
                                <li class=" main-tabs level-plans switch_plans_tab_level">
                                  <a href="#section-allocations" data-toggle="tab">
                                      <label class="link">Group Allocations</label>
                                  </a>
                                </li>
                            </ul>

                            <div class="tab-content" style="border: 1px solid #ddd; border-top: none; padding: 10px; padding-right: 15px; margin-right: 2px;">
                                <div id="section-allocations" class="tab-pane fade in">
                                <h3>Allocations</h3>

                                {% if allocation_groups %}
                                    <table class="table">
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Apartments
                                        </th>
                                        {% if requets.user.can_edit_group %}
                                            <th>
                                                Parent Group
                                            </th>
                                        {% endif %}
                                        <th>
                                            Actions
                                        </th>

                                    {% for group in allocation_group_list %}
                                        <tr>
                                            <td class="group-allocation-name-field-{{ group.group.pk }}">
                                                {{ project|name_by_name_id:group.group }}
                                            </td>
                                            <td id="group-allocation-count-field-{{ group.group.pk }}">
                                                {{ group.apartment_count }}
                                            </td>
                                            {% if requets.user.can_edit_group %}
                                                <td class="group-allocation-name-field-{{ group.group.pk }}">
                                                    {% if group.group.allocation_group_parent %}
                                                        {{ project|name_by_name_id:group.group.allocation_group_parent }}
                                                    {% endif %}
                                                </td>
                                            {% endif %}
                                            <td>

                                                {% if request.user.can_edit_group %}
                                                    <span onclick="edit_allocation_group_details({{ group.group.pk }}, '{{ project|name_by_name_id:group.group }}');"  class="link fa-stack fa-lg" data-toggle="tooltip"
                                                          data-placement="top" title="Edit Group Details">
                                                      <i class="fa fa-circle fa-stack-2x"></i>
                                                      <i class="fa fa-edit fa-stack-1x fa-inverse"></i>
                                                    </span>

                                                    <span onclick="show_allocated_users({{ group.group.pk }}, '{{ project|name_by_name_id:group.group }}');"  class="link fa-stack fa-lg"
                                                          data-toggle="tooltip" data-placement="top" title="View Assigned Users">
                                                      <i class="fa fa-circle fa-stack-2x"></i>
                                                      <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                {% endif %}

                                                <span onclick="show_all_properties({{ group.group.pk }}); $('#assigned-users').hide();"  class="link fa-stack fa-lg" data-toggle="tooltip"
                                                      data-placement="top" title="View Assigned Properties">
                                                  <i class="fa fa-circle fa-stack-2x"></i>
                                                  <i class="fa fa-building fa-stack-1x fa-inverse"></i>
                                                </span>

                                                <input type="hidden" id="group-allocation-name-field-{{ group.group.pk }}" value="{{ project|name_by_name_id:group.group }}">
                                                <input type="hidden" id="group-allocation-hidden-field-{{ group.group.pk }}" value="{{ group.group.is_hidden }}">

                                                {% if group.group.allocation_group_parent_id %}
                                                    <input type="hidden" id="group-allocation-parent-field-{{ group.group.pk }}" value="{{ group.group.allocation_group_parent_id }}">
                                                {% else %}
                                                    <input type="hidden" id="group-allocation-parent-field-{{ group.group.pk }}" value="">
                                                {% endif %}
                                            </td>
                                        </tr>

                                    {% endfor %}
                                    </table>
                                {% else %}
                                    <em>You have not been assigned to any Allocation Groups</em>
                                {% endif %}

                                {% if request.user.can_edit_group %}
                                    <br>
                                    <span onclick="$('#add-allocation-group').toggle();" class="link fa-stack fa-lg" data-toggle="tooltip"
                                          data-placement="top" title="Add New Allocation Group">
                                        <i class="fa fa-circle fa-stack-2x text-warning"></i>
                                        <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                                    </span>
                                {% endif %}

                            </div>



                            <div id="section-properties" class="active tab-pane fade in" style="min-height: 800px;">

                                <h3>Filter All Project Properties</h3>

                                <div class="row well search-property-filters" id="search-property-list">
                                    {% include "projects/admin/includes/search_filter_properties.html" with size=100 class="editable-props" %}
                                </div>

                                <hr>

                                <div>
                                    <div class="show-edit-filtered-properties">
                                        {% include "projects/admin/includes/all_properties_with_edit.html" with size=100 %}
                                    </div>
                                </div>


                                <div class="col-sm-12" style="max-height: 100px; overflow-y: auto; display: inline-block; white-space: nowrap">
                                    <a id="get_csv_data" onclick="get_csv_file('?id={{ template.pk }}&export_format_with_data=csv');" class="btn btn-info btn-xs">Export Data to CSV</a>
                                    <div id="loading-gif" class="bold-text" style="display:none;">Loading, one moment... <img src="/static/common/img/loading-trans.gif" style="height: 30px; width: auto"></div>
                                </div>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <br>
            <div class="row allocation-assigned-details" id="allocation-search" style="display: none;">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card card-underline">
                        <div class="card-head style-accent-light">
                            <header>Search for Allocation Group</header>

                            <div class="tools">
                                <div class="btn-group">
                                    <a onclick="$('#allocation-search').toggle();" class="btn btn-icon-toggle pull-right"><i class="fa fa-close"></i></a>
                                    <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="card-body tab-content" style="padding: 20px;">
                            <em>You can search for an Allocation Group that has been assigned an existing Property or User</em>
                            <div class="pull-right">
                                <span onclick="reset_search_values();" class="link fa-stack fa-lg" data-toggle="tooltip"
                                  data-placement="top" title="Rset Search Filters">
                                    <i class="fa fa-circle fa-stack-2x text-warning"></i>
                                    <i class="fa fa-refresh fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>

                            <br><br>
                            <form action method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    {% for field in filter_form %}
                                        <div class="col-sm-3 col-md-3">
                                            {% include "includes/field.html" with field=field %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </form>

                            <div id="allocation-search-results"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row allocation-assigned-details" id="add-allocation-group" style="display: none;">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card card-underline">
                        <div class="card-head style-accent-light">
                            <header>Add New Allocation Group</header>

                            <div class="tools">
                                <div class="btn-group">
                                    <a onclick="$('#add-allocation-group').toggle();" class="btn btn-icon-toggle pull-right"><i class="fa fa-close"></i></a>
                                    <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="card-body tab-content" style="padding: 20px;">
                            <form action method="POST">
                                {% csrf_token %}
                                {{ form.as_p  }}
                                <button type="submit" class="btn btn-process">Add Group</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row allocation-assigned-details" id="edit-allocation-group" style="display: none;">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card card-underline">
                        <div class="card-head style-accent-light">
                            <header>Edit Allocation Group Details</header>

                            <div class="tools">
                                <div class="btn-group">
                                    <a onclick="$('#edit-allocation-group').toggle();" class="btn btn-icon-toggle pull-right"><i class="fa fa-close"></i></a>
                                    <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="card-body tab-content" style="padding: 20px;">
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Name</label>
                                <input type="text" class="form-control" id="edit-allocation-group-name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Parent Allocation Group</label>
                                <select class="form-control" id="edit-allocation-group-parent">
                                    <option value="">Select Allocation Group Parent</option>
                                    {% for group in allocation_group_list %}
                                        <option value="{{ group.group.pk }}">{{ project|name_by_name_id:group.group }}</option>
                                    {% endfor %}

                                    <option value="no_parent">Set to No Allocation Group Parent</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <br>
                                <button type="button" onclick="save_allocation_group_name();" class="btn btn-sm btn-process">Save Details</button>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

            <div class="row allocation-assigned-details" id="assigned-users" style="display: none;">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card card-underline">
                        <div class="card-head style-accent-light">
                            <header>Assigned Users: <span class="selected-allocation-group-name"></span> </header>

                            <div class="tools">
                                <div class="btn-group">
                                    <a onclick="$('#assigned-users').toggle();" class="btn btn-icon-toggle pull-right"><i class="fa fa-close"></i></a>
                                    <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="card-body tab-content" style="padding: 20px; padding-top: 10px;">
                            <div class="pull-right">
                                <span data-toggle="modal" href="#add_new_user_modal"  class="link fa-stack fa-lg" data-toggle="tooltip"
                                      data-placement="top" title="Add User">
                                  <i class="fa fa-circle fa-stack-2x text-warning"></i>
                                  <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>

                            <div class="col-sm-8">
                                <div id="show-allocated-users"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row allocation-assigned-details" id="assigned-properties" style="display: none;">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card card-underline">
                        <div class="card-head style-accent-light">
                            <header>Allocate Apartments: <span class="selected-allocation-group-name"></span> </header>

                            <div class="tools">
                                <div class="btn-group">
                                    <a onclick="$('#assigned-properties').toggle();" class="btn btn-icon-toggle pull-right"><i class="fa fa-close"></i></a>
                                    <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="card-body tab-content" style="padding: 20px;">
                            <h4>Filter Assigned Properties</h4>

                            <div class="row well search-property-filters" id="search-property-list">
                                {% include "projects/admin/includes/search_filter_properties.html" with size=80 class="all-props" %}
                            </div>

                            <h3 class="pull-left">Allocated Properties</h3>
                            <div class="col-sm-12">

                                {% if request.user.can_edit_group %}

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="show-filtered-properties" id="show-all-properties"
                                                  style="float: left; display: inline-block; vertical-align: top; max-width: 99%;">
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div id="show-allocated-properties"
                                                 style="float: right; display: inline-block; vertical-align:top; max-width: 99%;">
                                                 Loading...
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                       <div class="col-sm-3 col-sm-offset-3">
                                           <button onclick="add_property_to_allocation_group();" type="button" class="btn  btn-xs  btn-black pull-right"> Assign </button>
                                       </div>

                                       <div class="col-sm-6">
                                           <button onclick="remove_property_from_allocation_group();" type="button" class="btn btn-xs btn-black pull-left"> Remove</button>

                                           <div class=" pull-right" style="margin-right: 30px;">
                                               <button onclick="add_exclusive_to_selected();" type="button" class="btn btn-xs btn-black"> <i class="fa fa-plus"></i> Exclusive</button>
                                               &nbsp;
                                               <button onclick="remove_exclusive_to_selected();" type="button" class="btn btn-xs btn-black"> <i class="fa fa-minus"></i> Exclusive</button>
                                           </div>
                                       </div>
                                    </div>

                                {% else %}

                                    <div>
                                        <div>
                                            <div id="show-allocated-properties"
                                                 style="{% if request.user.can_edit_group %}float: right; display: inline-block; vertical-align:top; width: 900px; max-height: 600px; overflow: auto;{% endif %}">
                                                Loading...
                                            </div>
                                        </div>
                                    </div>

                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


    <input type="hidden" id="selected-allocation-group" value="">
    <input type="hidden" id="user-type" value="{{ request.user.user_type }}">
    <input type="hidden" id="selected-allocation-group-name" value="">
    <input type="hidden" id="current_project_id" value="{{ project.pk }}">
    <input type="hidden" id="allocation_template_id" value="{{ allocation_template_id }}">
    <input type="hidden" id="last-assigned-properties" value="">
    <input type="hidden" id="property-price-field" value="{{ property_price_field }}">

    <script src="/static/vendor/floatHead/jquery.floatThead.js"></script>
    <script src="/static/common/js/allocation_groups.js"></script>

    <div id="add_new_user_modal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add New User</h4>
          </div>
          <div class="modal-body">

                <div id="property-editable-template">
                    <form action method="POST">
                        {% csrf_token %}
                        {{ user_add_form.as_p  }}
                        <button type="submit" class="btn btn-process">Save</button>
                    </form>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="close-property-create-modal" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
    </div>
    </div>
    </div>

{% endblock %}
