
    <div class="card card-underline">
        <div class="card-head style-primary-dark">
            <header>Create New Project</header>


            <div class="tools">
                <div class="btn-group">
                    <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                </div>
            </div>
        </div>

        <div class="card-body tab-content" style="padding: 20px;">

        <form action="./" method="post" id="create-new-project" enctype="multipart/form-data">
            <div class="row">
                <div class="col-sm-12">
                    {% csrf_token %}

                    {% for field in form.visible_fields %}
                        {% include "includes/field.html" with field=field %}<br>
                    {% endfor %}

                <button type="button" onclick="create_new_project();" id="submit-button" class="btn btn-process" value="Submit">Submit</button>

                <img src="/static/common/img/loading-trans.gif" id="loading-gif" style="display: none;">
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function myFunc()
    {

    }

    function myFailure()
    {
        window.location.reload();
    }

    function create_new_project()
    {
        var project_name = $("#id_name").val();

        if(!project_name)
        {
            alert('Please select a project name');
        }

        else
        {
            $("#submit-button").hide();
            $("#loading-gif").show();

            var formdata = new FormData($('#create-new-project')[0]);
            var csrf_token = $('#create-new-project input[name="csrfmiddlewaretoken"]').val();

            $.when(
                $.ajax({
                    url: '/create_new_project/',
                    type: 'POST',
                    csrfmiddlewaretoken: csrf_token,
                    data: formdata,
                    enctype: "multipart/form-data",
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        var new_project = data.project_id;
                        setTimeout(function(){
                            window.location.reload();
                        }, 9000);
                    }}),
                $.ajax({
                    url: '/update_project_details/',
                        type:"GET"
                    }).then( myFunc, myFailure ));
        }

    }
</script>