{% extends "users/detail.html" %}

{% load permission_tags %}

{% block title %}{{ block.super }} - Edit{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}

    <span class="header-breadcrumb active" href="{% url 'users-view' user.pk %}">
        Assign User to Projects
    </span>
{% endblock %}

{% block content %}
    <div class="col-lg-6">
        <div class="card card-bordered style-default-dark">
            <div class="card-head">
                <header>Assign User to Projects: {{ user.get_full_name }}</header>
                <div class="tools">
                    <div class="btn-group">
                        <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
            </div>

            <div class="card-body style-default-bright">
                <table class="table detail-table">
                    <tr>
                        <th></th>
                        <th style="width: 50%">
                            Project
                        </th>
                        <td>
                            Access
                        </td>

{#                        <td>#}
{#                            Project Invitation Email#}
{#                        </td>#}
                    </tr>
                    {% for project_row in user_projects  %}
                        {% if request.user.is_ds_admin %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    {{ project_row.name }} &nbsp; &nbsp; &nbsp; &nbsp; <em class="grey-opaque pull-right"><small> {{ project_row.get_status_display }} &nbsp; &nbsp; V{{ project_row.version }}</small></em>
                                </td>
                                <td>
                                    {% if project_row|user_has_access:user %}
                                        <i id="project-user-row-{{ forloop.counter }}" class="link fa fa-check" data-toggle="tooltip" data-placement="top"
                                           title="Remove user from this project"
                                           onclick="update_user_details({{ project_row.pk }}, {{ user.pk }}, {{ forloop.counter }})"></i>
                                    {% else %}
                                        <i id="project-user-row-{{ forloop.counter }}" class="link fa fa-square" data-toggle="tooltip" data-placement="top" title="Assign user to this project"
                                         onclick="update_user_details({{ project_row.pk }}, {{ user.pk }}, {{ forloop.counter }})"></i>
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    {{ project_row.name }}
                                </td>
                                <td>
                                    {% if project_row|user_has_access:user %}
                                        <i id="project-user-row-{{ forloop.counter }}" class="link fa fa-check" data-toggle="tooltip" data-placement="top"
                                           title="Remove user from this project"
                                           onclick="update_user_details({{ project_row.pk }}, {{ user.pk }}, {{ forloop.counter }})"></i>
                                    {% else %}
                                        <i id="project-user-row-{{ forloop.counter }}" class="link fa fa-square" data-toggle="tooltip" data-placement="top" title="Assign user to this project"
                                         onclick="update_user_details({{ project_row.pk }}, {{ user.pk }}, {{ forloop.counter }})"></i>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>

    <script>
        function update_user_details(project_id, user_id, row_id) {
            var access = $("#project-user-row-"+row_id).hasClass('fa-square');

            if (access)
            {
                save_user_to_project(project_id, user_id, row_id);
            }
            else
            {
                remove_user_from_project(project_id, user_id, row_id);
            }
        }
        function save_user_to_project(project_id, user_id, row_id) {

            $.ajax({
                url: '/save_user_to_project/',
                data: {'project_id': project_id, 'user_id': user_id},
                type: 'GET',
                success: function (data) {
                    $().toastmessage('showToast', {
                        text: 'User and project updated successfully',
                        sticky: false,
                        stayTime: 3000,
                        position: 'top-right',
                        type: 'notice',
                        closeText: ''
                    });

                    $("#project-user-row-"+row_id).removeClass('fa-square').addClass('fa-check');
                }
            });
        }

        function remove_user_from_project(project_id, user_id, row_id) {
            $.ajax({
                url: '/remove_user_from_project/',
                data: {'project_id': project_id, 'user_id': user_id, 'sync': 'True'},
                type: 'GET',
                success: function (data) {
                    $().toastmessage('showToast', {
                        text: 'User and project updated successfully',
                        sticky: false,
                        stayTime: 3000,
                        position: 'top-right',
                        type: 'notice',
                        closeText: ''
                    });

                    $("#project-user-row-"+row_id).removeClass('fa-check').addClass('fa-square');

                }
            });
        }
    </script>

{% endblock %}
