{% extends "base_internal.html" %}

{% block title %}{{ block.super }} - Users{% endblock %}

{% block nav %}
    {% include "includes/nav.html" with link='users' l2="accounts" %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}

    <a class="header-breadcrumb" href="{% url 'users-list' %}">
        Users
        <i class="fa fa-angle-double-right"></i>
    </a>
{% endblock %}

{% block content %}{% endblock %}
