{% extends "users/base.html" %}

{#{% load reversion_tags %}#}

{% block title %}{{ block.super }} - Add a User{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}

    <i class="fa fa-angle-double-right"></i>

    <span class="header-breadcrumb active">
        Add a User
    </span>
{% endblock %}

{% block content %}
    <form action="./" method="post">
        {% csrf_token %}
        

            <h2>User Details</h2>

            <div class="form-well">

                {% for field in user_form.visible_fields %}
                    {% include "includes/field.html" with field=field %}
                {% endfor %}

            </div>


        <a href="{% url 'users-list' %}" class="btn btn-back">Cancel</a>
        <button type="submit" class="btn btn-process" value="Submit">Submit</button>
    </form>
    
{% endblock %}
