{% extends "users/detail.html" %}

{#{% load reversion_tags %}#}

{% block title %}{{ block.super }} - Delete{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    
    <i class="fa fa-angle-double-right"></i>

    <span class="header-breadcrumb active" href="{% url 'users-view' user.pk %}">
        Delete
    </span>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-6">
            <div class="card card-bordered style-default-dark">
                <div class="card-head">
                    <header>Delete User: {{ user.get_full_name }}</header>
                    <div class="tools">
                        <div class="btn-group">
                            <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card-body style-default-bright">
                    <form action="./" method="post">
                        {% csrf_token %}

                            <p>Are you sure you want to delete this user?</p><br>

                        <a href="{{ user.get_absolute_url }}" class="btn btn-cancel">Cancel</a>
                        <button type="submit" class="btn btn-process" value="Delete">Delete</button>
                    </form>

                </div>
            </div>
        </div>
    </div>


{% endblock %}
