{% extends "users/base.html" %}

{#{% load reversion_tags %}#}
{#{% load can_edit_user %}#}
{#{% load can_delete_user %}#}

{% block title %}{{ block.super }} - {{ user.name }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}

    <a class="header-breadcrumb" href="{{ user.get_absolute_url }}">
        {{ user.name }}
    </a>

    &nbsp; <i class="fa fa-angle-double-right"></i>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-6">
            <div class="card card-bordered style-default-dark">
                <div class="card-head">
                    <header>User Details</header>
                    <div class="tools">
                        <div class="btn-group">
                            <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </div>
                </div>

                <div class="card-body style-default-bright">

                    <table class="table table-striped table-hover">
                        <tbody>
                            <tr>
                                <th width="200px">ID</th>
                                <td>{{ user.pk }}</td>
                            </tr>
                            <tr>
                                <th>Username</th>
                                <td>{{ user.username }}</td>
                            </tr>
                            <tr>
                                <th>First Name</th>
                                <td>{{ user.first_name }}</td>
                            </tr>
                            <tr>
                                <th>Last Name</th>
                                <td>{{ user.last_name }}</td>
                            </tr>
                            <tr>
                                <th>Organisation</th>
                                <td>{{ user.organisation }}</td>
                            </tr>
                            <tr>
                                <th>Email Addresses</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th>User Type</th>
                                <td>{{ user.get_user_type_display }}</td>
                            </tr>

                            {% if request.user.is_client_admin %}
                                <tr>
                                    <th>Password</th>
                                    <td>{{ user.temporary_setup_password }}</td>
                                </tr>
                            {% endif %}

                            {% if request.user.is_ds_admin %}
                                <tr>
                                    <th>Password</th>
                                    <td>{{ user.temporary_setup_password }}</td>
                                </tr>
                            {% endif %}

                            {% if user.created_by %}
                                <tr>
                                    <th>Created By</th>
                                    <td>{{ user.created_by.get_full_name|default_if_none:"n/a" }}</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        {% if actions %}
            <div class="col-xs-3">
                <div class="card card-bordered style-default-dark">
                    <div class="card-head">
                        <header>Actions</header>
                    <div class="tools">
                            <div class="btn-group">
                                <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body style-default-bright">

                        <ul class="action-list">
                            {% for action_name, action_url in actions %}
                                <li>
                                    <a href="{{ action_url }}">
                                        {{ action_name }}
                                        <i class="icon-arrow-right"></i>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

        {% endif %}

    </div>

    {% if request.user.is_ds_admin %}
        <div class='row'>
            <div class="col-xs-6">
                <div class="card card-bordered style-default-dark">
                    <div class="card-head">
                        <header>Projects</header>
                        <div class="tools">
                            <div class="btn-group">
                                <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body style-default-bright">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Project ID</th>
                                    <th>Project Name</th>
                                    <th>User Role</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for project in user.project_users_list.all %}
                                    {% if project.active %}
                                        <tr>
                                            <td>{{ project.pk }}</td>
                                            <td>{{ project.name }}</td>
                                            <td>User</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>



        <div class='row'>
            <div class="col-xs-6">
                <div class="card card-bordered style-default-dark">
                    <div class="card-head">
                        <header>Project Allocation Groups</header>
                        <div class="tools">
                            <div class="btn-group">
                                <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body style-default-bright">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Project Name</th>
                                    <th>Allocation Group Name</th>
                                    <th>Access</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for group in project_group_list %}
                                    <tr>
                                        <td>{{ group.project.name }}</td>
                                        <td>{{ group.allocation_group_name }}</td>
                                        <td>
                                            {% if group.allocation_group_access %}
                                                <i class="link fa fa-check" data-toggle="tooltip" data-placement="top"
                                                   title="Has access to {{ group.allocation_group_name }}"></i>
                                            {% else %}
                                                <i class="link fa fa-stop-circle" data-toggle="tooltip" data-placement="top"
                                                title="Not allocated to {{ group.allocation_group_name }}"></i>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <button type="button" onclick="window.location.href='/projects/{{ project.pk }}/administration/';">View Allocation Groups</button>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}

    <script>
        $(function () {
           $('[data-toggle="tooltip"]').tooltip();
        });
    </script>


{% endblock %}
