{% extends "users/base.html" %}

{% load model_tags %}

{% block breadcrumbs %}
    {{ block.super}}
{% endblock %}

{% block content %}
    <div class="pull-right">
        {% if request.user.can_add_user %}
            <button data-toggle="modal" href="#add_new_user_modal"  class="btn btn-danger">
                Add User
            </button>
        {% endif %}
    </div>
    <br><br>

    {% if view_filter_form %}
    <div class="card card-bordered style-default-dark">
        <div class="card-head">
            <header>Filter Users</header>
            <div class="tools">
                <div class="btn-group">
                    <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                </div>
            </div>
        </div>

        <div class="card-body style-default-bright">
            {% include "users/includes/user_filter_form.html" %}
        </div>
    </div>
    {% endif %}

    <div class="card card-bordered style-default-dark">
        <div class="card-head">
            <header>Users</header>
            <div class="tools">
                <div class="btn-group">
                    <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                </div>
            </div>
        </div>

        <div class="card-body style-default-bright" id="search-list-results">
            {% include "users/includes/user_list_details.html" %}
        </div>

    </div>

    <div class="pull-right">
        {% if request.user.can_add_user %}
            <button data-toggle="modal" href="#add_new_user_modal"  class="btn btn-danger">
                Add User
            </button>
        {% endif %}
    </div>

    <div id="add_new_user_modal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add New User to {{ project.name }}</h4>
          </div>
          <div class="modal-body">

                <div id="add-new-user-details">
                    {% include "projects/admin/includes/add_new_user_form.html" %}

                    <br><br>
                </div>

                <button style="margin-top: 20px;" type="button" onclick="save_new_user_form({{ project.pk }});" class="btn btn-process">Save</button>
          </div>
          <div class="modal-footer">
            <button type="button" id="close-property-create-modal" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <br>
    {% include "includes/add_item_action.html" with actions=view.actions %}

    <script>
        $(function () {
            $("#id_first_name").val('');
            $("#id_last_name").val('');
            $("#id_email").val('');
            $("#id_phone_number").val('');

        });
        function update_user_project(project_id, user_id)
        {
            var user_exists_in_project = $(".user-project-list-"+project_id+"-"+user_id).hasClass('fa-check');
            if (user_exists_in_project)
            {
                remove_user_from_project(project_id, user_id);
                $(".user-project-list-"+project_id+"-"+user_id).removeClass('fa-check').addClass('fa-square');
            }
            else
            {
                save_user_to_project(project_id, user_id);
                $(".user-project-list-"+project_id+"-"+user_id).addClass('fa-check').removeClass('fa-square');
            }
        }

        function save_user_to_project(project_id, user_id) {

            $.ajax({
                url: '/save_user_to_project/',
                data: {'project_id': project_id, 'user_id': user_id},
                type: 'GET',
                success: function (data) {
                    $().toastmessage('showToast', {
                        text: 'User and project updated successfully',
                        sticky: false,
                        stayTime: 3000,
                        position: 'top-right',
                        type: 'notice',
                        closeText: ''
                    });
                }
            });
        }

        function remove_user_from_project(project_id, user_id) {
            $.ajax({
                url: '/remove_user_from_project/',
                data: {'project_id': project_id, 'user_id': user_id},
                type: 'GET',
                success: function (data) {
                    $().toastmessage('showToast', {
                        text: 'User and project updated successfully',
                        sticky: false,
                        stayTime: 3000,
                        position: 'top-right',
                        type: 'notice',
                        closeText: ''
                    });


                }
            });
        }

        function save_new_user_form(project_id)
        {
            ////console.log('save_new_user_form');
            var user_formdata = $('#add-new-user-details-form').serialize();

            $.ajax({
                url: '/save_new_user_form/'+project_id+'/' ,
                type: 'GET',
                data: {'formdata': user_formdata, 'direction':'save'},

                success: function (data) {

                    if (data.success == false)
                    {
                        $().toastmessage('showToast', {text : "There was an error with your form.", position : 'top-left', stayTime: 2000, type : 'error'});
                        total_success = false;

                        $("#add-new-user-details").html('').html(data.rendered_form);
                        $("#add_new_user_modal").modal('show');
                    }
                    else
                    {
                        $().toastmessage('showToast', {text : "User saved successfully", position : 'top-left', stayTime: 2000, type : 'success'});
                        $("#add_new_user_modal").modal('hide');

                        window.location.reload();
                    }

                }, error  : function (data) {
                    ////console.log('error');
                }
            });
        }

        function search_for_users()
        {
            $("#search-list-results").html("Loading....");
            var project_list = $("#selected-projects").val();
            var user_type_list = $("#selected-user-types").val();
            var status_list = $("#selected-status-values").val();
            var project_status = $("#selected-project-access").val();
            var search_text = $("#search-text").val();

            $.ajax({
                url: '/get_project_search_list/',
                data: {'project_list': project_list, 'user_type_list': user_type_list,
                       'status_list': status_list, 'search_text': search_text, 'project_status': project_status},
                type: 'GET',
                success: function (data) {

                    $("#search-list-results").html(data.rendered);

                }
            });
        }
    </script>
{% endblock %}
