{% extends "users/base.html" %}

{% load model_tags %}

{% block breadcrumbs %}
    {{ block.super}}
{% endblock %}

{% block content %}

    {% if request.user.can_edit_user_projects %}

        <div class="row">
            <div class="col-sm-6">
                <div class="card card-bordered style-default-dark">
                    <div class="card-head link" onclick="$('#upload-users').toggle('slow');" >
                        <header>Upload Users</header>
                        <div class="tools">
                            <div class="btn-group">
                                <a class="btn btn-icon-toggle pull-right"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body style-default-bright" id="upload-users" style="display: none;">
                        <em>Download csv template for users <a target="_blank" href="/static/common/files/import_users.csv">here</a>.</em>

                        <div class="pull-right">
                            <small><b>User Types accepted:</b><br>
                            Client Admin<br>
                            Master Agent<br>
                            Agent<br>
                            View Only User<br></small>
                        </div>
                        <br><br>

                        <form action method="post" enctype="multipart/form-data" id="upload-file-form">
                            {% csrf_token %}

                            {{ file_form.as_p }}

                            <br>
                            <button type="button" id="upload-user-file"><i class="fa fa-save"></i> Submit to Preview</button>
                        </form>

                        <div id="imported-user-list"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-bordered style-default-dark">
            <div class="card-head">
                <header>Edit User Project Permissions</header>
                <div class="tools">
                    <div class="btn-group">
                        <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
            </div>

            <div class="card-body style-default-bright">
                <em>Filter for users and projects</em>

                {% include "users/includes/user_filter_form.html" %}

            </div>
        </div>





    {% endif %}



    <script>
        $(function () {
           $("#upload-user-file").click(function () {

               var formdata = new FormData($('#upload-file-form')[0]);
               var csrf_token = $('#upload-file-form input[name="csrfmiddlewaretoken"]').val();

               $.ajax({
                    url: '/upload_user_details/',
                    type: 'POST',
                    csrfmiddlewaretoken: csrf_token,
                    data: formdata,
                    enctype: "multipart/form-data",
                    processData: false,
                    contentType: false,
                    success: function (data) {

                        $("#imported-user-list").html(data.rendered_list);

                   },
                   error: function(jqXHR, textStatus, errorMessage) {
                       console.log(errorMessage); // Optional

                       $().toastmessage('showToast', {
                            text: "There was an error with your import form. Please select a file and a project.",
                            sticky: false,
                            position: 'top-right',
                            type: 'error',
                            closeText: '',
                            stayTime: 3500}
                        );
                   }

                });
           });
        });
        function update_user_project(project_id, user_id)
        {
            var user_exists_in_project = $(".user-project-list-"+project_id+"-"+user_id).hasClass('fa-check');
            if (user_exists_in_project)
            {
                remove_user_from_project(project_id, user_id);
                $(".user-project-list-"+project_id+"-"+user_id).removeClass('fa-check').addClass('fa-square');
            }
            else
            {
                save_user_to_project(project_id, user_id);
                $(".user-project-list-"+project_id+"-"+user_id).addClass('fa-check').removeClass('fa-square');
            }
        }

        function save_user_to_project(project_id, user_id) {

            $.ajax({
                url: '/save_user_to_project/',
                data: {'project_id': project_id, 'user_id': user_id},
                type: 'GET',

                success: function (data) {
                    $().toastmessage('showToast', {
                        text: 'User and project updated successfully',
                        sticky: false,
                        stayTime: 3000,
                        position: 'top-right',
                        type: 'notice',
                        closeText: ''
                    });

                    search_for_users();
                }
            });
        }

        function search_for_users()
        {
            $("#search-results").html("Loading....");
            var project_list = $("#selected-projects").val();
            var user_type_list = $("#selected-user-types").val();
            var status_list = $("#selected-status-values").val();
            var project_status = $("#selected-project-access").val();
            var search_text = $("#search-text").val();

            if (!project_list)
            {
                alert('please select at least one project')
            }

            else {

                $.ajax({
                    url: '/get_project_search_details/',
                    data: {'project_list': project_list, 'user_type_list': user_type_list,
                           'status_list': status_list, 'search_text': search_text, 'project_status': project_status},
                    type: 'GET',
                    success: function (data) {

                        $("#search-results").html(data.rendered);

                        $().toastmessage('showToast', {
                            text: 'Search results shown below. You can now edit user project permissions',
                            sticky: false,
                            stayTime: 3000,
                            position: 'top-right',
                            type: 'success',
                            closeText: ''
                        });
                    }
                });

            }


        }
    </script>
{% endblock %}
