{% extends "users/detail.html" %}

{% block title %}{{ block.super }} - Edit{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}

    <i class="fa fa-angle-double-right"></i>

    <span class="header-breadcrumb active" href="{% url 'users-view' user.pk %}">
        Edit
    </span>
{% endblock %}

{% block content %}
    <div class="col-lg-6">
        {% include "users/user_form.html" %}
    </div>

{% endblock %}
