{% extends "users/base.html" %}

{% load model_tags %}

{% block breadcrumbs %}
    {{ block.super}}
{% endblock %}

{% block content %}
<br><br>
    <div class="card card-bordered style-default-dark">
        <div class="card-head">
            <header>Users</header>
            <div class="tools">
                <div class="btn-group">
                    <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                </div>
            </div>
        </div>

        <div class="card-body style-default-bright">
            {% if users %}

                <table class="table table-striped dataTable">
                    <th>
                        ID
                    </th>
                    <th>
                        First Name
                    </th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>User Role</th>
                    <th>Select Owner For User</th>
                    <th>
                        Select
                        <br>
                        <input type="checkbox" id="select-all-users">
                    </th>

                    {% for user in users %}
                        <tr>
                            <td>
                                <div style="display: none">
                                    <input type="checkbox" class="checkbox-remove-user-to-group" id="checkbox-remove-user-to-group-{{ user.pk }}">
                                </div>
                                {{ user.pk }}
                            </td>
                            <td>
                                {{ user.first_name }}
                            </td>
                            <td>
                                {{ user.last_name }}
                            </td>
                            <td>
                                {{ user.email }}
                            </td>
                            <td>
                                {{ user.phone_number }}
                            </td>
                            <td>
                                {{ user.get_user_type_display }}
                            </td>
                            <td>
                                <select>
                                    <option></option>
                                </select>
                            </td>

                            <td>
                                <input type="checkbox" id="select-user-{{ user.pk }}">
                            </td>
                        </tr>
                    {% endfor %}
                </table>

                <div class="row">
                    <div class="col-sm-4">
                        <br>
                        <label>Choose Owner For Selected Users</label>
                        <select>
                            <option></option>
                        </select>
                    </div>
                </div>

            {% else %}
                <em><small>There are no other users visible in this project.</small></em>
            {% endif %}

        </div>

    </div>

{% endblock %}
