{% extends "users/detail.html" %}

{% block title %}{{ block.super }} - Edit{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}

    <span class="header-breadcrumb active" href="{% url 'users-view' user.pk %}">
        Delete
    </span>
{% endblock %}

{% block content %}
    <div class="col-lg-6">
        <div class="card card-bordered style-default-dark">
            <div class="card-head">
                <header>Delete User from {{ project.name }}</header>
                <div class="tools">
                    <div class="btn-group">
                        <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
            </div>

            <div class="card-body style-default-bright">

                <em>Are you sure you wish to remove this user?</em><br><br>

                <a href="{{ user.get_absolute_url }}" class="btn btn-process-back">Cancel</a> &nbsp; &nbsp; &nbsp; &nbsp;
                <button type="submit" class="btn btn-process" value="Submit" onclick="remove_user_from_project({{ project.pk }}, {{ user.pk }});">Submit</button>
            </div>
        </div>
    </div>

    <script>
        function remove_user_from_project(project_id, user_id) {
            $.ajax({
                url: '/remove_user_from_project/',
                data: {'project_id': project_id, 'user_id': user_id, 'sync': 'True'},
                type: 'GET',
                success: function (data) {
                    window.location.href='/users/';
                }
            });
        }
    </script>

{% endblock %}
