{% extends "users/detail.html" %}

{#{% load reversion_tags %}#}

{% block nav %}
    {% include "includes/nav.html" with link='users' l2='accounts' %}
{% endblock %}

{% block title %}{{ block.super }} - Edit User Password{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}

    <i class="fa fa-angle-double-right"></i>

    <span class="header-breadcrumb active" href="{% url 'users-view' user.pk %}">
        Edit User Password
    </span>
{% endblock %}

{% block content %}
    <div class=" col-lg-6">
        <div class="card card-bordered style-default-dark">
            <div class="card-head">
                <header>Edit User Password</header>
                <div class="tools">
                    <div class="btn-group">
                        <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
            </div>

            <div class="card-body style-default-bright">
                <form action method="post" enctype="multipart/form-data">
                    {% csrf_token %}


                            {% include "includes/field.html" with field=form.new_password1 %}
                            {% include "includes/field.html" with field=form.new_password2 %}

                    <br><br>
                    <a href="{% url 'users-view' user.pk %}" class="btn btn-process-back">Cancel</a> &nbsp; &nbsp; &nbsp; &nbsp;
                    <button type="submit" class="btn btn-process" value="Submit">Submit</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
