<div class="card card-bordered style-default-dark">
    <div class="card-head">
        <header>User Details</header>
        <div class="tools">
            <div class="btn-group">
                <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
            </div>
        </div>
    </div>

    <div class="card-body style-default-bright">

        <form action="./" method="post" enctype="multipart/form-data">
            {% csrf_token %}

                   {% for field in user_form.visible_fields %}
                        {% include "includes/field.html" with field=field %}
                    {% endfor %}

            <br><br>

            <a href="{{ user.get_absolute_url }}" class="btn btn-process-back">Cancel</a> &nbsp; &nbsp; &nbsp; &nbsp;
            <button type="submit" class="btn btn-process" value="Submit">Submit</button>
        </form>
    </div>
</div>


