

<div class="form-well">
    {% for field in user_form.visible_fields %}
        {% include "includes/field.html" with field=field %}
    {% endfor %}
</div>

<br>

<button type="button" onclick="save_updated_user_form({{ user.pk }});" class="btn btn-process" value="Submit">Submit</button>
