{% extends "users/base.html" %}

{#{% load reversion_tags %}#}

{% block nav %}
    {% include "includes/nav.html" with link='users' l2="user_types" %}
{% endblock %}


{% block title %} User Types {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-9">

                <h2>User Types</h2>

                <table class="table table-striped table-hover">
                    <tbody>
                        {% for type in user_types %}
                        <tr>
                            <th width="200px">{{ type.1 }}</th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

        </div>
    </div>

{% endblock %}
