{% extends "users/detail.html" %}

{#{% load reversion_tags %}#}

{% block title %}{{ block.super }} - Revision #{{ version_idx }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}

    <i class="fa fa-angle-double-right"></i>

    <span class="header-breadcrumb active">
        Revision #{{ version_idx }}
    </span>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">

                <h2>Revision Details</h2>

                <table class="table table-striped table-hover">
                    <tbody>
                        <tr>
                            <th width="200px">Revision Number</th>
                            <td>{{ version_idx }}</td>
                        </tr>
                        <tr>
                            <th>Date Created</th>
                            <td>{{ version.revision.date_created }}</td>
                        </tr>
                        <tr>
                            <th>User</th>
                            <td>
                                {% if version.revision.user %}
                                    {{ version.revision.user.get_full_name }}
                                {% else %}
                                    <em>System</em>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br><br>
                <h2>Changes</h2>
                {% include "includes/revision_changes.html" with last_update_compared=last_update_compared %}

        </div>
    </div>

    <a href="{{ user.get_absolute_url }}" class="btn btn-process-back">Back</a>
{% endblock %}
