{% extends "base_internal.html" %}

{% block title %}404 - Page Not Found{% endblock %}

{% block nav %}
    {% include "includes/nav.html" with link='login' %}
{% endblock %}

{% block content %}
    <h1>
        <span class="header-breadcrumb active">
            404 Page Not Found
        </span>
    </h1>

    <p>
        Oops! We couldn't find the page you requested.
    </p>

    <p>
        If you believe there should be a page here, please contact an administrator.
    </p>

    <a href="javascript:void(0);" onclick="window.history.back();" class="btn btn-process-back">Back</a>
{% endblock %}
