{% extends "base_internal.html" %}

{% block title %}{{ block.super }} - Home{% endblock %}

{% block nav %}
    {% include "includes/nav.html" with link='home' %}
{% endblock %}

{% block breadcrumbs %}
    <a class="header-breadcrumb active" href="#">
        Home
    </a>
{% endblock %}

{% block content %}


    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="pull-left">
                <img src="/static/common/img/Displaysweet_long_01.png" style="max-width: 800px;"> <br><br>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7 col-md-9 col-sm-12">
            <div class="card card-bordered style-default-dark">
                <div class="card-head">
                    <header>Welcome to the DisplaySweet CMS</header>
                    <div class="tools">
                        <div class="btn-group">
                            <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card-body style-default-bright">
                    {% if not error %}
                        {% if user %}
                            <h3>Hello {{ user.get_full_name }}!</h3>
                        {% endif %}

                        Please set up your account password details using the form below.

                        <form action method="post" enctype="multipart/form-data">
                        {% csrf_token %}


                            <div class="row">
                                <div class="col-sm-6">
                                    {% include "includes/field.html" with field=form.new_password1 %}
                                    {% include "includes/field.html" with field=form.new_password2 %}
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-like-process" value="Submit">Save Details</button>
                                </div>
                            </div>
                        </form>
                    {% else %}
                        <h4>The activation key has either been used or is invalid. Please contact our administrator at: <b>admin@displaysweet.com</b></h4>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
