
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1200, initial-scale=1">
    <title>{% block title %}Display Sweet{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="/static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="/static/vendor/bootstrap/css/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <link href="/static/vendor/font-awesome-4.5.0/css/font-awesome.css" rel="stylesheet">
    <link href="/static/common/css/jquery-ui.min.css" rel="stylesheet">

    <!-- Datatables -->
    <link href="/static/vendor/datatables/dmedia/css/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/static/vendor/datatables/extensions/ColVis/css/dataTables.colVis.css" rel="stylesheet">

    <link href="/static/vendor/pickadate/lib/compressed/themes/classic.css" rel="stylesheet">
    <link href="/static/vendor/pickadate/lib/compressed/themes/classic.date.css" rel="stylesheet">
    <link href="/static/vendor/pickadate/lib/compressed/themes/classic.time.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/vendor/toastmessage/css/jquery.toastmessage.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href="/static/common/css/app.css" rel="stylesheet">

    {% block extra_head_files %}{% endblock %}
  </head>

  <body class="{% block body_classes %}{% endblock %}">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/common/js/jquery.min.js"></script>
    <script src="/static/vendor/toastmessage/js/jquery.toastmessage.js"></script>
    <script src="/static/common/js/jquery-ui.min.js"></script>
    <script src="/static/vendor/floatHead/jquery.floatThead.js"></script>

    {% block body_content %}{% endblock %}

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/vendor/datatables/dmedia/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendor/datatables/dmedia/js/dataTables.bootstrap.js"></script>
    <script src="/static/vendor/datatables/extensions/ColVis/js/dataTables.colVis.js"></script>
    <script src="/static/common/js/tables.js"></script>

    <script src="/static/common/js/app.js"></script>
    <script src="/static/common/js/nav.js"></script>

    <script src="/static/common/js/lemmon-slider.js"></script>

    <script>
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        });

        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        };
    </script>
    {% include "toastmessages_fragment.html" %}
  </body>
</html>
