{% extends "base_internal.html" %}

{% block title %}{{ block.super }} - Home{% endblock %}

{% block nav %}
    {% include "includes/nav.html" with link='home' %}
{% endblock %}

{% block breadcrumbs %}
    <a class="header-breadcrumb active" href="#">
        Home
    </a>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="pull-left">
                <img src="/static/common/img/Displaysweet_long_01.png" style="max-width: 550px;"> <br><br>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7 col-md-9 col-sm-12">
            <div class="card card-bordered style-default-dark">
                <div class="card-head">
                    <header>Welcome to the DisplaySweet CMS</header>
                    <div class="tools">
                        <div class="btn-group">
                            <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card-body style-default-bright" style="font-size: 14px;">
                    Welcome to your project data management tool. You can select from the menu on the left to view your projects,
                    your personal data or the details of other members in your team.
                    <br>
                    You can also select from the quick links for each of your projects below,
                    just click on the project name to view the available options.

                </div>
            </div>
        </div>
    </div>

    {% include "includes/projects_rendered.html" %}


{% endblock %}
