<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>

    {% block extra_head %}

    {% endblock %}
</head>

<style type="text/css">
    /* Reset all the things! */
    html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}


    /* wkhtmltopdf identifies transparency by looking for things that have been explicitly
    ** marked as white. */
    html {
        background: white;
    }

    body {
        width: 960px; /* Creates an A4 page dimension of 1548x2190px - needs to be nice and big for proper font spacing */
        margin: 0;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
        line-height: 20px;
        color: #333333;
    }

    p {
        margin-bottom: 10px;
    }

    strong {
        font-weight: bold;
    }

    ul {
        list-style-type: disc;
        margin-left: 25px;
        margin-bottom: 5px;
    }

    .page {
        width: 100%;
        height: 2190px;
        position: relative;
        overflow: hidden;
        page-break-after: always;
    }

    .pagebreak {
        page-break-after: always;
    }

    .content-box {
        display: block;
        position: absolute;
    }

    .signature {
        margin-top: 1110px;
        margin-left: 10px;
    }

</style>

<body>
    <img class="signature" alt="" src="data:image/png;base64,{{ encoded_signature }}">
</body>
</html>
