{% extends "base_internal.html" %}

{% block title %}Login{% endblock %}

{% block nav %}
    {% include "includes/nav.html" with link='login' %}
{% endblock %}

{% block breadcrumbs %}
    <span class="header-breadcrumb active">
        Login
    </span>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-sm-6 col-xs-6">
            <form action="./" method="post" class="well" id="login-form">
                {% csrf_token %}

                <input type="hidden" name="next" value="{{ next }}" />

                {{ form }}

                <p class="password-reset-note">
                    Forgotten your password? <a href="{% url 'password_reset' %}">click here</a> to reset it.
                </p>

                <button type="button" class="btn btn-process" id="form-submit-button">
                    Log in
                </button>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            var field = $("#{{ form.username.auto_id }}");
            field.focus();

            $("#form-submit-button").click(function () {
                var field = $("#{{ form.username.auto_id }}");
                var user_name = field.val();
                user_name = user_name.trim();
                field.val(user_name);

                $("#login-form").submit();
            });
        });


    </script>
{% endblock %}
