<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
		<title>DisplaySweet CMS</title>
		
		<!-- BEGIN META -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=0.8,maximum-scale=0.8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">

		<meta name="keywords" content="selling, property, apartments, content management, display, sweet, display suite, ">
		<meta name="description" content="The greatest CMS in the world.">
        <link rel='shortcut icon' href='{{ STATIC_URL }}common/img/displaysweet_icon.ico' type='image/x-icon'>
		<!-- END META -->


        <!-- Bootstrap -->
        <link type="text/css" rel="stylesheet" href="/static/common/css/theme/bootstrap.css" />
        <link type="text/css" rel="stylesheet" href="/static/common/css/theme/materialadmin.css" />

        <!-- Font Awesome -->
        <link href="/static/vendor/font-awesome-4.5.0/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/common/css/colobox.css" />
        <link href="/static/common/css/jquery-ui.min.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="/static/common/css/theme/material-design-iconic-font.min.css" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <link href="/static/vendor/toastmessage/css/jquery.toastmessage.css" rel="stylesheet">
        <link href="/static/common/css/app.css" rel="stylesheet">

        {% block extra_head_files %}{% endblock %}

		<!-- END STYLESHEETS -->

	</head>

	<body class="menubar-hoverable  menubar-first full-content " onload="zoom()">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/common/js/jquery.min.js"></script>
    <script src="/static/vendor/floatHead/jquery.floatThead.js"></script>
    <script src="/static/vendor/toastmessage/js/jquery.toastmessage.js"></script>
    <script src="/static/common/js/jquery-ui.min.js"></script>
    <script src="/static/common/js/jquery.panzoom.js"></script>



	<!-- BEGIN HEADER-->
	<header id="header" >
        <div class="headerbar">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="headerbar-left">
				<ul class="header-nav header-nav-options">
					<li class="header-nav-brand" >
						<div class="brand-holder">
							<a href="#">
								<span class="text-lg text-bold text-primary header-breadcrumb">
                                    {% block breadcrumbs %} {% endblock %}
                                </span>
							</a>
						</div>
					</li>
					<li>
						<a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
							<i class="fa fa-bars"></i>
						</a>
					</li>
				</ul>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="headerbar-right">
                <div class="pull-left" style="margin-top: 10px;"><h1 class="header-breadcrumb">{{ project.name }}
                    {% if request.user.is_ds_admin %}<small><em>[V{{ project.version }}]</em></small>{% endif %}</h1></div>

                    <div style="display: inline-block; text-align: right; margin-right: 45px;">
                        <div style="margin-top: 12px;">
                            &nbsp;
                            <img style="height: 30px; width: auto; margin: 5px; margin-right: 0;" src="/static/common/img/displaysweet_logo_1.jpg" alt="" />
                            &nbsp;
                            <span class="profile-info">
                                <span class="bold-text black">{{ request.user.get_full_name }}</span> &nbsp; [{{ request.user.get_user_type_display }}]
                            </span>
                        </div>
                    </div>

                <!--end .dropdown -->
				<!--end .header-nav-profile -->
{#				<ul class="header-nav header-nav-toggle">#}
{#					<li>#}
{#						<a class="btn btn-icon-toggle btn-default" href="#offcanvas-search" data-toggle="offcanvas" data-backdrop="false">#}
{#							<i class="fa fa-ellipsis-v"></i>#}
{#						</a>#}
{#					</li>#}
{#				</ul><!--end .header-nav-toggle -->#}
			</div><!--end #header-navbar-collapse -->
		</div>

	</header>
	<!-- END HEADER-->

    {% include "toastmessages_fragment.html" %}

	<!-- BEGIN BASE-->
	<div id="base">
		<!-- BEGIN OFFCANVAS LEFT -->
		<div class="offcanvas">
        </div><!--end .offcanvas-->
		<!-- END OFFCANVAS LEFT -->

		<!-- BEGIN CONTENT-->
		<div id="content">
            <section class="style-default-bright" style="background: #e6e5e5 !important;">
                <div class="section-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12" id="main-content">
                            {% block body_content %}{% endblock %}
                        </div>
                    </div>
                </div><!--end .section-body -->
            </section>
		</div>
		<!-- END CONTENT -->

		<!-- BEGIN MENUBAR-->
		<div id="menubar" class="menubar-inverse ">
			<div class="menubar-fixed-panel">
				<div>
					<a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
						<i class="fa fa-bars"></i>
					</a>
				</div>
				<div class="expanded">
					<a href="{% url 'home' %}">
						<span class="text-lg text-bold text-primary ">DISPLAY&nbsp;SWEET</span>
					</a>
				</div>
			</div>
			<div class="menubar-scroll-panel">
				<!-- BEGIN MAIN MENU -->
                {% block nav %}
                    {% include "includes/nav.html" %}
                {% endblock %}
				<!-- END MAIN MENU -->

				<div class="menubar-foot-panel">
					<small class="no-linebreak hidden-folded">
						<span class="opacity-75">Copyright &copy; 2016</span> <strong>Display Sweet</strong>
					</small>
				</div>
			</div><!--end .menubar-scroll-panel-->
		</div><!--end #menubar-->
		<!-- END MENUBAR -->

		<!-- BEGIN OFFCANVAS RIGHT -->
        {% ifequal 1 0 %}
		<div class="offcanvas">
            <!-- BEGIN OFFCANVAS SEARCH -->
            <div id="offcanvas-search" class="offcanvas-pane width-8">
                <div class="offcanvas-head">
                    <header class="text-primary">Search</header>
                    <div class="offcanvas-tools">
                        <a class="btn btn-icon-toggle btn-default-light pull-right" data-dismiss="offcanvas">
                            <i class="fa fa-close"></i>
                        </a>
                    </div>
                </div>


                    <div class="offcanvas-body no-padding">
                        <ul class="list ">
                            <li class="tile divider-full-bleed">
                                <div class="tile-content">
                                    <div class="tile-text"><strong>Hello!</strong></div>
                                </div>
                            </li>
                            <li class="tile">
                                <a class="tile-content ink-reaction" href="#offcanvas-chat" data-toggle="offcanvas" data-backdrop="false">
                                    <div class="tile-icon">
                                        <img src="/static/common/img/user_avatar.png" alt="" />
                                    </div>
                                    <div class="tile-text">
                                        Some sidebar details here ;)
                                        <small>123-123-3210</small>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div><!--end .offcanvas-body -->

            </div><!--end .offcanvas-pane -->
            <!-- END OFFCANVAS SEARCH -->

            <!-- BEGIN OFFCANVAS CHAT -->
            <div id="offcanvas-chat" class="offcanvas-pane style-default-light width-12">
                <div class="offcanvas-head style-default-bright">
                    <header class="text-primary">Chat with Ann Laurens</header>
                    <div class="offcanvas-tools">
                        <a class="btn btn-icon-toggle btn-default-light pull-right" data-dismiss="offcanvas">
                            <i class="fa fa-close"></i>
                        </a>
{#                        <a class="btn btn-icon-toggle btn-default-light pull-right" href="#offcanvas-search" data-toggle="offcanvas" data-backdrop="false">#}
{#                            <i class="fa fa-arrow-left"></i>#}
{#                        </a>#}
                    </div>
                    <form class="form">
                        <div class="form-group floating-label">
                            <textarea name="sidebarChatMessage" id="sidebarChatMessage" class="form-control autosize" rows="1"></textarea>
                            <label for="sidebarChatMessage">Leave a message</label>
                        </div>
                    </form>
                </div>

                <div class="offcanvas-body">
                    <ul class="list-chats">
                        <li>
                            <div class="chat">
                                <div class="chat-avatar"><img class="img-circle" src="/static/common/img/user_avatar.png" alt="" /></div>
                                <div class="chat-body">
                                    Yes, it is indeed very beautiful.
                                    <small>10:03 pm</small>
                                </div>
                            </div><!--end .chat -->
                        </li>
                    </ul>
                </div><!--end .offcanvas-body -->
            </div><!--end .offcanvas-pane -->
            <!-- END OFFCANVAS CHAT -->
        </div><!--end .offcanvas-->
		<!-- END OFFCANVAS RIGHT -->
        {% endifequal %}

	</div>
	<!--end #base-->
	<!-- END BASE -->

    <input type="hidden" id="check_access_project" value="{{ check_access }}">

     <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/vendor/datatables/dmedia/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendor/datatables/dmedia/js/dataTables.bootstrap.js"></script>
    <script src="/static/vendor/datatables/extensions/ColVis/js/dataTables.colVis.js"></script>
{#    <script src="/static/vendor/StickyTableHeaders/js/jquery.ba-throttle-debounce.min.js"></script>#}
{#    <script src="/static/vendor/StickyTableHeaders/js/jquery.stickyheader.js"></script>#}


    <script src="/static/common/js/app.js"></script>
    <script src="/static/common/js/nav.js"></script>
    <script src="/static/common/js/tables.js"></script>
    <script src="/static/common/js/lemmon-slider.js"></script>



    <script>
        $(function () {
           var check_access_project = $("#check_access_project").val();

            if (check_access_project == "False")
            {
                window.location.href = "/";
            }


           $('[data-toggle="tooltip"]').tooltip();
        });

        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        };

        function zoom() {
            document.body.style.zoom = "90%"
        }

        function print(messages)
        {
            var message = messages.split(",");

            console.log(message);

            var message_to_print = '';
            $(message).each(function () {
                console.log($(this).toString());
                message_to_print += $(this).toString();
            });
            console.log(message_to_print);
        }
    </script>

	<!-- BEGIN JAVASCRIPT -->
    <script src="/static/common/js/jquery.colorbox.js"></script>
    <script src="/static/common/libs/libs/spin.js/spin.min.js"></script>
    <script src="/static/common/libs/libs/autosize/jquery.autosize.min.js"></script>
    <script src="/static/common/js/core_static.js"></script>
    <script src="/static/common/js/Demo.js"></script>

	</body>


    <script>
        $(function () {
           $('div.modal-header:visible').click(function () {
               waitingDialog.hide();
           });
        });
    </script>
</html>