<div class="table-filters-container">
    <a class="table-filters-header" href="javascript:void(0);">
        <span class="show-text">Filters</span>
        <span class="hide-text">Hide Filters</span>
        <i class="indicator-inactive icon-chevron-right pull-right"></i>
        <i class="indicator-active icon-chevron-down pull-right"></i>
    </a>
    <div class="table-filters">
        <form id="filter-form" action="javascript:void(0);">
            <div class="row">
                {% block fields %}{% endblock %}
            </div>
            
            <a href="javascript:void(0);" class="table-filters-reset">
                <i class="icon-close"></i>
                Clear
            </a>
            <div class="clearfix"></div>
        </form>
    </div>
</div>
