
<div class="table-container">
    <table class="listview-datatable table table-striped" data-callback="{% url callback %}" data-filter-form="#filter-form" {% if autoreload %}data-autoreload='{{ autoreload }}'{% endif %} {% if ordering_col %}data-ordering-col="{{ ordering_col }}"{% endif %} {% if ordering_direction %}data-ordering-direction="{{ ordering_direction }}"{% endif %}>
        <thead>
            <tr>
                {% for column in columns %}
                    <th {% if column.ordering %}data-sortable{% endif %} {% if column.hidden %}data-hidden{% endif %}>{{ column.label }}</th>
                {% endfor %}
            </tr>
        </thead>
    </table>
</div>
