{% load widget_tweaks %}
<div class="control-group {% if field.errors %}error{% endif %}">
    <label class="control-label {% if field.field.required or force_required %}required{% endif %}" for="{{ field.auto_id }}">
        {% if label %}{{ label|safe }}{% else %}{{ field.label|safe }}{% endif %}
    </label>

    {% if field.errors %}
        <ul class="errorlist">
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="controls">
        {% if type == 'radio' or type == "checkbox" %}
            <div>
                <ul class="choice-list">
                    {% for choice_val, choice_display in field.field.choices %}
                        <li>
                            <label for="{{ field.auto_id }}_{{ forloop.counter0 }}">
                                <input id="{{ field.auto_id }}_{{ forloop.counter0 }}" type="{{ type }}" name="{{ field.name }}" value="{{ choice_val }}">
                                {{ choice_display|safe }}
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            {% if class %}
                {{ field|add_class:class }}{% if suffix %}<span class="add-on field-suffix">{{ suffix|safe }}</span>{% endif %}
            {% else %}
                {{ field }}{% if suffix %}<span class="field-suffix">{{ suffix|safe }}</span>{% endif %}
            {% endif %}
        {% endif %}
    </div>
</div>
