<ul id="main-menu" class="gui-controls">
    <li>
        <a href="{% url 'home' %}" class="{% if link == 'home'%}active{% endif %}">
            <div class="gui-icon"><i class="fa fa-home"></i></div>
            <span class="title">Dashboard</span>
        </a>
    </li>

    {% if request.user.is_authenticated %}

        {% if request.user.is_site_administrator %}
        <li>
            <a href="/admin/" target="_blank">
                <div class="gui-icon"><i class="fa fa-globe"></i></div>
                <span class="title">Admin</span>
            </a>
        </li>

        <li class="gui-folder {% if link == 'canvas' %}active{% endif %}">
            <a>
                <div class="gui-icon"><i class="fa fa-anchor"></i></div>
                <span class="title">Display Suites</span>
            </a>
            <!--start submenu -->
            <ul>
               <li class="{% if l2 == 'devices' %}active{% endif %}">
                    <a href="{% url 'canvas-devices' project.pk %}">
                        Devices
                    </a>
                </li>
                <li class="{% if l2 == 'canvas' %}active{% endif %}">
                    <a href="{% url 'canvas-canvasing' project.pk %}">
                        Canvas
                    </a>
                </li>
                <li class="{% if l2 == 'wireframes' %}active{% endif %}">
                    <a href="{% url 'canvas-wireframes' project.pk %}">
                        Wireframes
                    </a>
                </li>
                <li class="{% if l2 == 'templating' %}active{% endif %}">
                    <a href="{% url 'canvas-templating' project.pk %}">
                        Templates
                    </a>
                </li>
                <li class="{% if l2 == 'folders' %}active{% endif %}">
                    <a href="{% url 'canvas-folder_paths' project.pk %}">
                        File Upload
                    </a>
                </li>
                <li class="{% if l2 == 'containers' %}active{% endif %}">
                    <a href="{% url 'canvas-containers' project.pk %}">
                        Containers
                    </a>
                </li>
            </ul>
        </li>
    {% endif %}

{#        <li>#}
{#            <a href="{% url 'home' %}" class="{% if link == 'projects' %}active{% endif %}">#}
{#                <div class="gui-icon"><i class="fa fa-puzzle-piece"></i></div>#}
{#                <span class="title">Projects</span>#}
{#            </a>#}
{#        </li>#}

{#        <li class="{% if link == 'clients'%}active{% endif %}">#}
{#            <a href="{% url 'clients-list' %}">#}
{#                <div class="gui-icon"><i class="fa fa-building"></i></div>#}
{#                <span class="title">Clients</span>#}
{#            </a>#}
{#        </li>#}

        {% if request.user.can_edit_group %}
            <li class="{% if link == 'users'%}active{% endif %} {% if sub_nav %}with-subnav{% endif %}">
                <a href="{% url 'users-list' %}">
                    <div class="gui-icon"><i class="fa fa-user"></i></div>
                    <span class="title">Users</span>
                </a>
            </li>
        {% endif %}

        <li class="gui-folder {% if link == 'my_account' %}active{% endif %}">
            <a>
                <div class="gui-icon"><i class="fa fa-anchor"></i></div>
                <span class="title">My Account</span>
            </a>
            <!--start submenu -->
            <ul>

               <li class="{% if l2 == 'details' %}active{% endif %}">
                    <a href="{% url 'my_account-details' %}">
                        My Details
                    </a>
                </li>
                <li class="{% if l2 == 'password' %}active{% endif %}">
                    <a href="{% url 'my_account-update_password' %}">
                        Change Password
                    </a>
                </li>

            </ul>

        <li>
            <a href="{% url 'logout' %}">
                <div class="gui-icon"><i class="fa fa-exchange"></i></div>
                <span class="title">Logout</span>
            </a>
        </li>

    {% endif %}

</ul><!--end .main-menu -->