 {% if not request.user.is_authenticated %}
    <li class="{% if l1 == 'login' %}active{% endif %}">
        <a href="{% url 'login' %}">
            Login
        </a>
    </li>
    <li class="{% if l1 == 'password_reset' %}active{% endif %}">
        <a href="{% url 'password_reset' %}">
            Password Reset
        </a>
    </li>
{% else %}
    <li class="{% if l1 == 'home' %}active{% endif %}">
        <a href="{% url 'home' %}">
            Home
        </a>
    </li>
    <li class="{% if l1 == 'sales_orders' %}active{% endif %} with-subnav">
        <a href="javascript:void(0);">
            Sales Orders
        </a>

        <ul class="subnav">
            <li class="{% if l2 == 'sales_orders-manage' %}active{% endif %}">
                <a href="{% url 'sales_orders-list' %}">
                    Manage
                </a>
            </li>
        </ul>
    </li>
    <li class="with-subnav {% if l1 == 'users' %}active{% endif %}">
        <a href="javascript:void(0);">
            Users
        </a>

        <ul class="subnav">
            <li class="{% if l2 == 'accounts' %}active{% endif %}">
                <a href="{% url 'users-list' %}">
                    Accounts
                </a>
            </li>
            <li class="{% if l2 == 'user_types' %}active{% endif %}">
                <a href="{% url 'users-user_types' %}">
                    User Types
                </a>
            </li>
        </ul>
    </li>
    <li class="{% if l1 == 'store_types' %}active{% endif %}">
        <a href="{% url 'store_types-list' %}">
            Store Types
        </a>
    </li>
    <li class="{% if l1 == 'plants' %}active{% endif %}">
        <a href="{% url 'plants-list' %}">
            Plants
        </a>
    </li>
    <li class="{% if l1 == 'organisation_messages' %}active{% endif %}">
        <a href="{% url 'organisation_messages-list' %}">
            Messages
        </a>
    </li>
    <li class="{% if l1 == 'reason_codes' %}active{% endif %}">
        <a href="{% url 'reason_codes-list' %}">
            Reason Codes
        </a>
    </li>
    <li class="{% if l1 == 'payment_methods' %}active{% endif %}">
        <a href="{% url 'payment_methods-list' %}">
            Payment Methods
        </a>
    </li>
    <li class="{% if l1 == 'customers' %}active{% endif %}">
        <a href="{% url 'customers-list' %}">
            Customers
        </a>
    </li>
    <li class="{% if l1 == 'materials' %}active{% endif %}">
        <a href="{% url 'materials-list' %}">
            Materials
        </a>
    </li>
    <li class="{% if l1 == 'projects' %}active{% endif %}">
        <a href="{% url 'home' %}">
            Projects
        </a>
    </li>
    <li class="{% if l1 == 'sales_organisations' %}active{% endif %}">
        <a href="{% url 'sales_organisations-list' %}">
            Sales Organisations
        </a>
    </li>
    <li class="{% if l1 == 'dg_placarding' %}active{% endif %}">
        <a href="{% url 'dg_placarding-list' %}">
            DG Placarding
        </a>
    </li>
    <li class="with-subnav {% if l1 == 'my_account' %}active{% endif %}">
        <a href="javascript:void(0);">
            My Account
        </a>

        <ul class="subnav">
            <li class="{% if l2 == 'details' %}active{% endif %}">
                <a href="{% url 'my_account-details' %}">
                    My Details
                </a>
            </li>
            <li class="{% if l2 == 'password' %}active{% endif %}">
                <a href="{% url 'my_account-update_password'  %}">
                    Change Password
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="{% url 'logout' %}">
            Logout
        </a>
    </li>
{% endif %}
