{% load canvas_tags %}
{% load model_tags %}

{% if project.company_logo %}
    <img src="{{ project.company_logo.url }}" style="max-width: 300px; margin: 5px;"> <br><br>
{% endif %}

<div class="custom-well">
    {% if request.user.can_view_staging %}
        <em class="bold-text" style="margin-bottom: 10px; width: 100%; display: inline-block">
            {{ project.name }} &nbsp;
            V{{ project.version }} &nbsp;
            {{ project.get_status_display }}
        </em>

    {% if request.user.can_view_staging %}
        <span class="link-button-span">
            <i class="fa fa-home link-icon-left"></i>
            <a href="{% url 'projects-administration' project.pk %}" class="large-link">
                Properties & Allocations
            </a>
        </span>
        <br>
    {% endif %}

    <br>

    <table class="table table-striped dataTable" id="project-list-table">
        <thead>
            <tr style="cursor: default">
                <th style="text-align: center">Created</th>
                <th style="text-align: center">No of Lots</th>
                <th style="text-align: center">Reserved</th>
                <th style="text-align: center">Available</th>
                <th style="text-align: center">Sold</th>
                <th style="text-align: center">Actions</th>
            </tr>
        </thead>
    <tbody>

        <tr class="link" style="text-align: center">
            <td class="edit-project-link">{{ project.created }}</td>
            <td class="edit-project-link">{{ request|project_properties:project }}</td>
            <td class="edit-project-link">{{ request|project_reserved_count:project }}</td>
            <td class="edit-project-link">{{ request|project_available_count:project }}</td>
            <td class="edit-project-link">{{ request|project_sold_count:project }}</td>
            {% if request.user.can_view_staging %}
                <td>
                    {% if request.user.can_edit_properties %}

                        <span class="link-button-span">
                            <i class="fa fa-pencil"></i>
                            <a href="{% url 'projects-view' project.pk %}" class="large-link">
                                Edit
                            </a>
                        </span>

                        {% if request.user.can_delete_project %} &nbsp; |&nbsp;

                            <span class="link-button-span">
                                <i class="fa fa-trash-o"></i>
                                <a href="#" id="delete-button-{{ project.pk }}"
                                   onclick="confirm_projecrt_delete({{ project.pk }}, '{{ project.name }}');" class="large-link">
                                    Delete
                                </a>
                            </span>

                            <img src="/static/common/img/loading-trans.gif" id="loading-gif-{{ project.pk }}" style="display: none; width: 20px;">
                        {% endif %}
                    {% else %}
                        <span class="link-button-span">
                            <i class="fa fa-eye"></i>
                            <a href="{% url 'projects-view' project.pk %}" class="large-link">
                                View
                            </a>
                        </span>
                    {% endif %}
                </td>
            {% endif %}
        </tr>
    </tbody>

</table>
{% else %}
         <span class="link-button-span">
            <i class="fa fa-home link-icon-left"></i>
            <a href="{% url 'project-allocations' project.pk %}" class="large-link">
                Properties & Allocations
            </a>
         </span><br><br>
         <span class="link-button-span">
            <i class="fa fa-user link-icon-left"></i>
            <a href="/my_account/" class="large-link">
            My Account Details
            </a><br>
         </span>
{% endif %}

</div>


<script>
    $(function () {
        $(".edit-project-link").click(function () {
             onclick="window.location.href='/projects/{{ project.pk }}';"
        });
    });
    function confirm_projecrt_delete(project_id, project_name)
    {
        if (confirm("Are you sure you wish to delete project '"+project_name+"'?"))
        {
            $("#delete-button-"+project_id).hide();
            $("#loading-gif-"+project_id).show();

            $.ajax({
                url: '/delete_selected_project/'+ project_id,
                type: 'GET',
                success: function (data) {
                    setTimeout(function(){
                        window.location.reload()}
                    , 5000);
            }})
        }
    }
</script>