{% load canvas_tags %}
{% load model_tags %}
{% user_projects_family as selected_projects %}

<div class="row">
    <div class="col-lg-7 col-md-9 col-sm-12">
        {% if request.user.is_ds_admin %}
            <div class="row">
                <br>
                <div class="col-sm-12">
                    <span class="link-button-span pull-left">
                        <i class="fa fa-users"></i>
                        <a href="{% url 'users-project_permissions' %}" class="large-link">
                            All Project User Permissions
                        </a>
                    </span>

                    <div class="pull-right" data-toggle="tooltip" data-placement="left" title="Edit Project Families">

                        <span class="link-button-span pull-right">
                            <i class="fa fa-puzzle-piece"></i>
                            <a class="large-link" href="{% url 'projects-family-management' %}">
                                Project Family Details
                            </a>
                        </span>
                        &nbsp;
                    </div>
                </div>
                <br><br>
            </div>

        {% endif %}

        {% for family in selected_projects %}
            <div class="link card card-bordered style-primary-dark">
                <div class="card-head" onclick="$('#project-details-show-{{ family.pk }}').toggle('slow');">
                    <header>{{ family.family_name }}</header>

                    <div class="tools">
                        <div class="btn-group">
                            <a class="btn btn-icon-toggle pull-right"><i class="fa fa-eye white"></i></a>
                        </div>
                    </div>
                </div>
                <div id="project-details-show-{{ family.pk }}"
                     class="card-body style-default-bright"
                        {% if context_project %}
                            {% ifnotequal context_project project.project %}
                                style="display: none;"
                            {% endifnotequal %}
                        {% endif %}>

                    {% if request.user.is_ds_admin %}
                        <span class="link-button-span pull-right">
                            <i class="fa fa-globe"></i>
                            <a href="{% url 'projects-version' family.pk %}" class="large-link">
                                Project Version Details
                            </a>
                        </span>
                        <br><br>
                    {% endif %}

                    {% for project in family.client_viewable_projects %}
                        {% if project.is_staging and request.user.can_view_staging %}
                            {% include "includes/project_render_details.html" %}
                        {% elif project.is_live  %}
                            {% include "includes/project_render_details.html" %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

    </div>
</div>