<table class="table revision-table">
    <tbody>
        {% for version_number, version in obj.versions_with_version_numbers %}
            <tr>
                <td class="revision-number">
                    <a href="./history/{{ version_number }}" title="View revision #{{ version_number }}">
                        #{{ version_number }}
                    </a>
                </td>
                <td class="revision-user">
                    {% if version.revision.user %}
                        <i class="icon-user"></i>
                        {{ version.revision.user.get_full_name }}
                    {% else %}
                        <i class="icon-hdd-o"></i>
                        System
                    {% endif %}
                </td>
                <td class="revision-date">
                    {{ version.revision.date_created }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
