<table class="table table-striped table-hover">
    <tr>
        <th style="width: 25%;">Field</th>
        <th style="width: 25%;">Previous Value</th>
        <th style="width: 25%;">New Value</th>
        <th>Change</th>
    </tr>
    {% for item in last_update_compared.items %}
        <tr>
            <td>
                {{ item.1.field_name|capfirst }}
            </td>
            <td>
                {{ item.1.old_value|default_if_none:"<em>Not set</em>" }}
            </td>
            <td>
                {{ item.1.new_value|default_if_none:"<em>Not set</em>" }}
            </td>
            <td>
                {{ item.1.change_description|safe }}
            </td>
        </tr>
    {% endfor %}
</table>