{% load canvas_tags %}
{% load model_tags %}

{% for property in property_list %}
    <table class="small-table" style="font-size: 11px; background: #ccc; margin: 0">
       <tr>
            <td style="width: 20px !important;white-space: nowrap;">
                <span style="color: #ccc !important;">Compare</span> <i class="fa fa-eye"></i>
            </td>
            {% for key in key_list %}
                {% ifnotequal key "aspect_fields" %}
                    <td class="show-key-table-data" style="white-space: nowrap; padding: 3px; width: 140px; min-width: 140px; max-width: 140px; overflow: hidden;">
                       {{ property.property_fields_values|get_preview_value_from_dict:key|safe }}
                    </td>
                {% endifnotequal %}
            {% endfor %}
       </tr>
    </table>
{% endfor %}