
    <h2>Map Template Details</h2>
    <strong>Please note: Unique Table and Field mappings are required.</strong><br><br>

    <div class="form-row-{{ forloop.counter }} ui-state-default" style="margin-left: 0; padding: 10px; padding-bottom: 0; max-width: 1000px;">

        <div class="row ">
            <div class="col-lg-3 col-md-3 col-sm-6">
                <label>
                    Column Table Mapping <i class="link fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Select the information type"></i>
                </label>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <label>
                    Field Mapping <i class="link fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Select the field name"></i>
                </label>

            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <label>
                    Column Pretty Name <i class="link fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Enter a readable name for this field in the excel file"></i>
                </label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <label>
                    Is Aspect Field? <i class="link fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Enter a readable name for this field in the excel file"></i>
                </label>
            </div>
        </div>

    </div>

    {{ template_columns_form.management_form }}

    <div style="margin-left: 15px; max-width: 1000px;">
        <ul id="sortable" class="sortable">
            {% for form in template_columns_form %}
                <li class="ui-state-default row form-row {% if form.errors %}error-form{% endif %}" id="form-row-{{ forloop.counter0 }}"
                    style="margin-bottom: 5px; margin-top: 3px; padding: 3px; padding-top: 10px; padding-bottom: 0">
                    <div class="pull-left form-counter" style="width: 10px;"><small>{{ forloop.counter }}</small></div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        {% if form.errors %}
                            <div class="row" id="form-row-error-{{ forloop.counter0 }}">
                                <div class="col-lg-8">
                                    {{ form.errors }}
                                </div>
                            </div>
                        {% endif %}

                        {% include "includes/field.html" with field=form.column_table_mapping %}
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div id="mapping-existing-{{ forloop.counter }}">
                            {% include "includes/field.html" with field=form.column_field_mapping %}
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6">
                        {% include "includes/field.html" with field=form.column_pretty_name %}
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6">
                        {% include "includes/field.html" with field=form.is_aspects_field %}


                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}

                        {{ form.form_row_shown }}

                        <input type="hidden" id="column_field_mapping-{{ forloop.counter0 }}-value" value="{{ form.column_field_mapping.value }}">


                        <i class="grey fa fa-angle-double-right pull-right" style="margin-top: -5px;"></i>

                        <a data-toggle="tooltip" data-placement="top" title="Remove this combination" class="pull-right fa-lg"
                           onclick="remove_this_column({{ forloop.counter0 }});" style="margin-top: -5px; margin-left: -10px; margin-right: 10px;">
                            <i class="fa fa-trash-o"></i>
                        </a>

                        <div style="display: none">
                            {% include "includes/field.html" with field=form.order %}
                            {% include "includes/field.html" with field=form.csv_column_name %}
                        </div>

                        <input type="hidden" class="delete-field" value="False" name="form-{{ forloop.counter0 }}-DELETE" id="id_template_fields-{{ forloop.counter0 }}-DELETE" />
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <a class="btn btn-sm btn-black" data-toggle="tooltip" data-placement="top" title="Add another column"
       onclick="show_another_column();"><i class="fa fa-plus"></i> Add another column</a>
