{% load canvas_tags %}

<div class="col-sm-4 col-md-4 col-lg-4" style="margin-top: 4px;">
    <h4>Field Selected: <em id="selected_render_field_value">{{ field_value }}</em></h4>

    {% if property_render_values %}
        <table class="crunched-table">
            <tr>
                <th>Type</th>
                <th>Images</th>
                <th></th>
            </tr>
            {% for row in property_render_values %}
                <tr class="link render-selected-row " id="render-selected-row-{{ row.key|clean_tags }}"
                    onclick="set_property_render_type('{{ row.key }}', '{{ row.key|clean_tags }}');">
                    <td>{{ row.key }}</td>
                    <td>{{ row.total }}</td>
                    <td><i class="fa fa-trash text-danger link" onclick="delete_render_by_type('{{ row.key }}');"></i> </td>
                </tr>
            {% endfor %}
        </table>
         <button onclick="$('.render-selected-row').removeClass('selected');$('.render-row').show();" data-toggle="tooltip" data-placement="top" title="Show all renders"><i class="fa fa-eye"></i></button>
    {% endif %}

    <div id="show-property-selected-renders"></div>

</div>

{% if file_list %}
    <div class="col-sm-8 col-md-8 col-lg-8" id="show-images">
            <table class="crunched-table table-fixed-header" style="margin-top: -5px;">
                <tr>
                    <th>File</th>
                    <th style="width: 32px;">Order</th>
                    <th>Caption</th>
                    <th></th>
                </tr>

                {% for row in file_list %}
                    <tr id="render-row-{{ row.resource_id }}" class="link render-row render-section-{{ row.resource_id }} render-row-{{ row.key|clean_tags }}"
                        onclick="set_property_render({{ row.resource_id }});">

                        <td>{{ row.resource.path|image_name }}</td>
                        <td><input id="render-order-field-{{ row.resource_id }}" type="text" value="{{ row.orderidx }}" class="hidden-order-field"></td>
                        <td><input id="render-caption-field-{{ row.resource_id }}" type="text" value="{{ row.caption|default_if_none:'' }}" class="caption-field"></td>
                        <td>
                            <i class="fa fa-trash text-danger link" onclick="delete_render_by_resource_id({{ row.resource_id }}, '{{ row.key }}');"></i>
                            <input type="hidden" id="render-row-image-{{ row.resource_id }}" value="{{ row.resource.path|image_src }}">
                        </td>

                    </tr>
                {% endfor %}
            </table>
        </div>
{% endif %}

<input type="hidden" id="selected-property-render" value="">

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
        
        var $allocated_table = $('.table-fixed-header');
        $allocated_table.floatThead({
            //debounceResizeMs: 300,
            scrollContainer: function ($allocated_table) {
                return $allocated_table.closest('.wrapper');
            }
        });

       $(".caption-field").change(function () {
           var render_id  = $(this).attr('id');
           render_id = render_id.replace('render-caption-field-', '');

           var orderidx = $("#render-order-field-"+render_id).val();
           var project_id = $("#current_project_id").val();
           var property_id = $("#current_apartment_setting").val();
           var caption = $(this).val();

           $.ajax({
            url: '/update_property_render_caption/' + project_id + '/',
            type: 'GET',
            data: {'property_id': property_id, 'render_id': render_id, 'caption': caption, 'orderidx': orderidx},
                 success: function (data) {}
            });
       });
    });

    $(".caption-field").focusout(function () {
        $().toastmessage('showToast', {
            text: "Caption saved successfully",
            sticky: false,
            position: 'top-right',
            type: 'success',
            closeText: ''
        });

    });


    function delete_render_by_type(render_type)
    {
        if (confirm("Are you sure you wish to delete all Property Renders of type "+render_type+" ?"))
        {
            var project_id = $("#current_project_id").val();
            var property_id = $("#current_apartment_setting").val();

            $.ajax({
                url: '/delete_property_render_type/' + project_id + '/',
                type: 'GET',
                data: {'render_type': render_type},
                     success: function (data) {

                         $().toastmessage('showToast', {
                            text: "Renders removed successfully",
                            sticky: false,
                            position: 'top-right',
                            type: 'success',
                            closeText: ''
                         });

                         var floor_id = $("#current_floor_id").val();
                         select_new_floor(floor_id);

                    }
                });
        }

    }

    function delete_render_by_resource_id(resource_id, key_selected)
    {
        if (confirm("Are you sure you wish to delete this Property Render?"))
        {
            var project_id = $("#current_project_id").val();

            $.ajax({
                url: '/delete_property_render/' + project_id + '/',
                type: 'GET',
                data: {'resource_id': resource_id, 'key_selected': key_selected},
                 success: function (data) {

                     $().toastmessage('showToast', {
                        text: "Renders removed successfully",
                        sticky: false,
                        position: 'top-right',
                        type: 'success',
                        closeText: ''
                     });

                     var floor_id = $("#current_floor_id").val();
                     select_new_floor(floor_id);

                }
            });
        }
    }

    function set_property_render(render_id)
    {
        var static_image = $("#render-row-image-"+render_id).val();
        $(".scrolling-images").hide();
        $("#image-selected-"+render_id).show();
        $(".render-row").removeClass('selected');
        $(".render-row-property").removeClass('selected');
        $("#render-row-"+render_id).addClass("selected");
        $("#property-render-row-"+render_id).addClass("selected");
    }

    function select_new_field_render(render_id, type)
    {
        var project_id = $("#current_project_id").val();
        var property_id = $("#current_apartment_setting").val();

        $.ajax({
            url: '/update_property_render/' + project_id + '/',
            type: 'GET',
            data: {'property_id': property_id, 'render_id': render_id,
                   'field_value': type},
                 success: function (data) {

                     $().toastmessage('showToast', {
                        text: "Details saved successfully",
                        sticky: false,
                        position: 'top-right',
                        type: 'success',
                        closeText: ''
                    });

                     var property_name = $("#property-name-select-"+property_id).val();
                     click_to_set_renders(property_id, property_name);

                }
            });
    }
</script>