{% load canvas_tags %}

<div class="col-sm-6" style="margin-top: 4px;">
    <h4>{{ property_name }}</h4>

    {% if total_individual_renders %}
        <table class="crunched-table">
            <tr>
                <th>ID</th>
                <th>Image</th>
                <th style="width: 32px;">Order</th>
                <th>Caption</th>
                <th></th>
            </tr>
            {% for item in individual_renders_for_property %}
                {% for row in item.resources  %}
                    <tr class="link render-individual-row" id="render-individual-row-{{ row.render_id }}" onclick="highlight_individual_render({{ row.render_id }});">
                        <td>{{ row.render_id }}</td>
                        <td>{{ row.path|image_name }}</td>
                        <td><input type="text" id="order-field-{{ row.render_id }}" class="hidden-order-field-individual" value="{{ row.orderidx }}"> </td>
                        <td><input type="text" id="caption-field-{{ row.render_id }}" value="{{ row.caption }}" class="caption-field-individual"> </td>
                        <td><i class="fa fa-trash text-danger link" onclick="delete_render_by_property_and_id({{ item.property_id }}, '{{ row.render_id }}');"></i> </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>

        <button onclick="$('.render-individual-row').removeClass('selected'); $('.scrolling-individual-images').show();"
                data-toggle="tooltip" data-placement="top" title="Show all individual renders">
            <i class="fa fa-eye"></i>
        </button>

    {% else %}
        <em>No individual renders have been set for this property.</em>
    {% endif %}
</div>

{% if individual_renders_for_property %}
    <div class="col-sm-6" style="margin-top: 4px;">
        {% include "canvas/templates/includes/renders/renders_individual_display.html" %}
    </div>
{% endif %}

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();

        $(".hidden-order-field-individual").change(function () {

            var render_id = $(this).attr('id');
            render_id = render_id.replace("order-field-", "");

            var caption = $("#caption-field-"+ render_id).val();
            var project_id = $("#current_project_id").val();

            var orderidx = $(this).val();
             $.ajax({
                    url: '/update_property_render_caption/' + project_id + '/',
                    type: 'GET',
                    data: {'render_id': render_id, 'caption': caption, 'orderidx': orderidx},
                     success: function (data) {

                     }
             });
        });

        $(".caption-field-individual").change(function () {
            var render_id = $(this).attr('id');
            render_id = render_id.replace("caption-field-", "");

            var orderidx = $("#order-field-"+ render_id).val();
            var project_id = $("#current_project_id").val();

            var caption = $(this).val();

             $.ajax({
                    url: '/update_property_render_caption/' + project_id + '/',
                    type: 'GET',
                    data: {'render_id': render_id, 'caption': caption, 'orderidx': orderidx},
                     success: function (data) {

                     }
             });

        });
    });

    function highlight_individual_render(render_id)
    {
        $(".scrolling-individual-images").hide();
        $("#individual-image-selected-"+render_id).show();


        $(".render-individual-row").removeClass("selected");
        $("#render-individual-row-"+render_id).addClass("selected");

    }

    function delete_render_by_property_and_id(property_id, render_id)
    {
        if (confirm("Are you sure you wish to delete this Property Render?"))
        {
            var project_id = $("#current_project_id").val();

            console.log('delete_render_by_id', project_id, property_id, render_id);

            $.ajax({
                url: '/delete_property_render/' + project_id + '/',
                type: 'GET',
                data: {'property_id': property_id, 'render_id': render_id},
                 success: function (data) {

                     $().toastmessage('showToast', {
                        text: "Renders removed successfully",
                        sticky: false,
                        position: 'top-right',
                        type: 'success',
                        closeText: ''
                     });

                     var property_name = $("#property-name-select-"+property_id).val();
                     click_to_set_renders(property_id, property_name);


                }
            });
        }
    }
</script>