{% load canvas_tags %}

<br>
<h4>Property Resources: {{ property_name }}</h4>

{% if property_renders_for_key %}
    <table class="table crunched-table">
        <tr>
            <th>
                Type
            </th>
            <th>Resources for Render</th>
        </tr>
        {% for row in property_renders_for_key %}
        <tr>
            <th>{{ row.key }}</th>
            <td>
                {% for resource in row.resources %}
                    <div style="width: 100%; padding: 3px;" class="render-row-property" id="property-render-row-{{ resource.render_id }}">{{ resource.path|image_name }}  <i class="fa fa-eye pull-right red link" onclick="set_property_render({{ resource.render_id }});"></i></div>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    {% if set_individual %}
        <em>Property has Individual Renders</em>
    {% else %}
        <em>N/A</em>
    {% endif %}
{% endif %}