{% load model_tags %}

<table>
    <tr>
        <th style="vertical-align: top;">Level</th>
        <th>
            Select<br>
            &nbsp; <input type="checkbox" id="select-all-floors">
        </th>
    </tr>

    {% for row in floor_list %}
        <tr class="building-floor-select-{{ row.building_id }} building-floor-select highlight-floor-select" id="floor-selected-{{ row.floor.id }}">
            <td>
                <a id="floor-select-{{ row.floor.id }}" class="floor-select-link"
                   onclick="select_new_floor({{ row.floor.id }});">
                    <div id="floor-details-{{ row.floor.id }}" class="floor-select-link floor-details {% ifequal model_instance.pk row.floor.id %}selected{% endifequal %}">
                        {{ project|get_item_name:row.floor }} {{ row.building_id }}
                    </div>
                </a>
            </td>
            <td style="text-align: center;">
                <input type="checkbox" class="floor-checkbox" project_id="{{ project.pk }}" id="floor-aspect-{{ row.floor.id }}"
                       {% ifequal floor_id row.floor.id %}checked{% endifequal %} onclick="skin_new_floor({{ row.floor.id }});">
            </td>
        </tr>
    {% endfor %}

</table>


<script>
    $(function () {
       $("#select-all-floors").click(function () {

           if ($(this).prop('checked') == false)
            {
                $(".floor-checkbox").prop('checked', false);

                var floor_id = $("#current_floor_id").val();
                select_new_floor(floor_id);
            }
            else
            {
                $(".floor-checkbox").prop('checked', true);

            }

            var selected_render_field_value = $("#selected_render_field").val();
            if(selected_render_field_value)
            {
                show_render_field_values(selected_render_field_value);
            }

        });
    });


</script>