{% load canvas_tags %}
{% load model_tags %}


<div>
    <button data-toggle="tooltip" data-placement="top" title="Scroll up to next image" id="scroll-up-button" class="btn btn-default" type="button" style="width: 100%;"><i class="fa fa-caret-up"></i> </button>
</div>

<div id="all-images" class="outside">
    <div id="scroll-all-images" class="inside">
         {% for row in file_list %}
             {% if row.resource_id and project|image_exists:row.resource.path %}
                 <div id="image-selected-{{ row.resource_id }}" class="link scrolling-images scrolling-images-{{ row.key|clean_tags }}">

                    <div class="col-lg-{{ image_settings }} image-selected-display"
                         style="height: 300px; text-align: center; padding-top: 30px;">
                        <small><em>
                            {{ row.resource.path|image_name }}
                            - [order: {% if row.orderidx %}{{ row.orderidx }}{% else %}{{ forloop.counter }}{% endif %}]
                        </em></small><br>

                        <img src="{{ row.resource.path|image_src }}" id="image-{{ row.resource_id }}"
                             style="max-width: 100%; max-height: 250px;">
                        <br><br>
                    </div>

                     </div>
             {% endif %}
        {% endfor %}
    </div>
</div>

<div>
    <button data-toggle="tooltip" data-placement="top" title="Scroll down to next image" id="scroll-down-button" class="btn btn-default" type="button" style="width: 100%; margin-top: -22px;">
        <i class="fa fa-caret-down"></i>
    </button>
</div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();

        $('#scroll-all-images').bind('mousedown.prev DOMMouseScroll.prev mousewheel.prev keydown.prev keyup.prev', function(e, d){
            e.preventDefault();
        });

        $("#disableScrolling").click(function(){ disableScrolling(); return false; });
        $("#enableScrolling").click(function(){ enableScrolling(); return false;	});

        $("#scroll-down-button").click(function() {
            $(".image-selected-display").show();
            $('#scroll-all-images').animate({scrollTop: '+=300px'}, 800);
        });

        $("#scroll-up-button").click(function() {
            $(".image-selected-display").show();
            $('#scroll-all-images').animate({scrollTop: '-=300px'}, 800);
        });

    });

    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();

</script>