    <table style="padding: 2px;">
        <tr>
            <th style="width: 70px;"></th>
            <th style="width: 90px;"></th>
            <th style="width: 120px; text-align: center;">
                <input type="checkbox" id="select-all-properties">
            </th>
        </tr>

        {% for item in apartments_dict %}
            <tr style="text-align: center" class="apartment-details apartment-details-{{ item.floor_id }}-{{ item.building_id }} property-type-{{ item.property_type_id }}-{{ item.floor_id }}-{{ item.building_id }}" id="apartment-name-{{ item.id }}">
                <td id="apartment-name-text-{{ item.id }}" style="text-align: left; padding: 2px; width: 70px;">
                    <a onclick="click_to_set_renders({{ item.id }}, '{{ item.name }}');" class="btn btn-sm {% if not item.x_coordinate %}btn-default{% else %}btn-danger{% endif %} aspect_selector"
                       id="aspect_selector_{{ item.id }}">
                        {{ item.name }}
                    </a>
                </td>
                <td>
                    <select style="width: 120px;" id="property-selected-type-{{ item.id }}" onchange="set_property_to_type('Field', {{ item.id }}, '{{ item.name }}', this.value);">
                        <option value="Field" {% ifequal item.render_key "Field" %}selected{% endifequal %}>{{ selected_render_field|default_if_none:"Field" }}</option>
                        <option value="Individual" {% ifequal item.render_key "Individual" %}selected{% endifequal %}>Individual</option>
                    </select>
                </td>
                <td style="width: 120px; text-align: center;">
                    <input type="checkbox" class="property-select-floor property-select-floor-{{ item.floor_id }}" value="{{ item.id }}">

                    <input type="hidden" id="property-name-select-{{ item.id }}" value="{{ item.name }}">

                </td>
            </tr>
        {% endfor %}
    </table>

    <br>
    <table class="table">
        <tr>
            <td style="width: 50%;">
                <button data-toggle="tooltip" data-placement="top" title="Assign to Field" onclick="assign_selected_to_field();">
                    <i class="fa fa-fire-extinguisher"></i>
                </button>
            </td>
            <td>
                <button data-toggle="tooltip" data-placement="top" title="Assign to Individual" onclick="assign_selected_to_individual();">
                    <i class="fa fa-fire"></i>
                </button>
            </td>
        </tr>
    </table>

<script>
    $(function() {
        $('[data-toggle="tooltip"]').tooltip();

     $('a.hovering').on({
        mouseover: function(e){
            var xOffset = 10;
            var yOffset = 30;

            this.t = this.title;
            this.title = "";
            var c = (this.t != "") ? "<br/>" + this.t : "";
            $("body").append("<p id='preview'><img src='" + this.href + "' alt='Image preview' /></p>");
            $("#preview")
                .css("top", (e.pageY - xOffset) + "px")
                .css("left", (e.pageX + yOffset) + "px")
                .fadeIn("fast");
        },
         mouseleave: function(){
            this.title = this.t;
            $("#preview").remove();
        },
        click: function(e){
            e.preventDefault();
        }
    });

        $("#select-all-properties").click(function () {
            var floor_id = $("#current_floor_id").val();

            if ($(this).prop('checked') == false)
            {
                $(".property-select-floor").prop('checked', false);
            }
            else
            {
                $(".property-select-floor-"+floor_id).prop('checked', true);
            }

        });

    });

    function assign_selected_to_field()
    {
        if (confirm("Assign all selected properties to Field Render?"))
        {
            var project_id = $("#current_project_id").val();
            var selected_properties = $("input.property-select-floor:checkbox:checked");

            $(selected_properties).each(function () {

                var property_id = $(this).val();

                $.ajax({
                    url: '/update_property_render_type/' + project_id + '/',
                    type: 'GET',
                    data: {
                        'field_type_value': "Field", 'property_id': property_id
                    },
                    success: function (data) {

                    }
                }).promise().done(function () {
                    var floor_id = $("#current_floor_id").val();
                    select_new_floor(floor_id);
                });
            });


        }
    }

    function assign_selected_to_individual()
    {
        if (confirm("Assign all selected properties to Individual Render?"))
        {
            var project_id = $("#current_project_id").val();
            var selected_properties = $("input.property-select-floor:checkbox:checked");

            $(selected_properties).each(function () {

                var property_id = $(this).val();

                $.ajax({
                    url: '/update_property_render_type/' + project_id + '/',
                    type: 'GET',
                    data: {
                        'field_type_value': "Individual", 'property_id': property_id
                    },
                    success: function (data) {

                    }
                }).promise().done(function () {
                    var floor_id = $("#current_floor_id").val();
                    select_new_floor(floor_id);

                });
            });
        }
    }
</script>