{% load canvas_tags %}
{% load model_tags %}


<div>
    <button id="individual-scroll-up-button" data-toggle="tooltip" data-placement="top" title="Scroll up to next image"
            class="btn btn-default" type="button" style="width: 100%;"><i class="fa fa-caret-up"></i> </button>
</div>

<div id="all-individual-images" class="outside">
    <div id="scroll-all-individual-images" class="inside">
         {% for item in individual_renders_for_property %}
            {% for row in item.resources %}
                 <div id="individual-image-selected-{{ row.render_id }}" class="link scrolling-images scrolling-individual-images scrolling-individual-images-{{ row.key|clean_tags }}">

                    <div class="col-lg-{{ image_settings }} individual-image-selected-display"
                         style="height: 300px; text-align: center; padding-top: 30px;">
                        <small><em>
                            {{ row.path|image_name }}
                            - [order: {% if row.orderidx %}{{ row.orderidx }}{% else %}{{ forloop.counter }}{% endif %}]
                        </em></small><br>

                        <img src="{{ row.path|image_src }}" id="individual-image-{{ row.resource_id }}"
                             style="max-width: 100%; max-height: 250px;">
                        <br><br>
                    </div>

                 </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>

<div>
    <button data-toggle="tooltip" data-placement="top" title="Scroll down to next image" id="individual-scroll-down-button" class="btn btn-default" type="button" style="width: 100%; margin-top: -22px;">
        <i class="fa fa-caret-down"></i>
    </button>
</div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();

        $('#individual-scroll-all-individual-images').bind('mousedown.prev DOMMouseScroll.prev mousewheel.prev keydown.prev keyup.prev', function(e, d){
            e.preventDefault();
        });

        $("#disableScrolling").click(function(){ disableScrolling(); return false; });
        $("#enableScrolling").click(function(){ enableScrolling(); return false;	});

        $("#individual-scroll-down-button").click(function() {
            $(".image-selected-display").show();
            $('#scroll-all-individual-images').animate({scrollTop: '+=300px'}, 800);
        });

        $("#individual-scroll-up-button").click(function() {
            $(".individual-image-selected-display").show();
            $('#scroll-all-individual-images').animate({scrollTop: '-=300px'}, 800);
        });

        
        $("#all-individual-images").droppable( {
            hoverClass: "ui-state-active",
            activeClass: "ui-state-highlight",
            drop: handleDropImageIndividualEvent
        });
    });
    
    
    function handleDropImageIndividualEvent( event, ui ) {

        var draggable = ui.draggable;
        var resource_id = draggable.attr('id');
        resource_id = resource_id.replace("image-", "").replace("-checkbox", "");

        var normal_src = draggable.attr('normal_src');
        var image_src = draggable.attr('src');

        if (image_src)
        {
            var project_id = $("#current_project_id").val();
            var property_id = $("#current_apartment_setting").val();
            var canvas_id = $("#canvas_id").val();

            $.ajax({
                url: '/update_property_rendered_individual_image/' + project_id + '/',
                type: 'GET',
                data: {'resource_id': resource_id, 'property_id': property_id,
                       'canvas_id': canvas_id },
                     success: function (data) {

                          $().toastmessage('showToast', {
                                text: "Image saved successfully",
                                sticky: false,
                                position: 'top-right',
                                type: 'success',
                                closeText: ''
                            });

                         var property_name = $("#property-name-select-"+property_id).val();
                         click_to_set_renders(property_id, property_name);
                         sort_individual_list_values();

                    }

                });

            $( init );
        }

    }


</script>