
    <h2>Apartments [Multi Levels]</h2>
    <br>

    <table class="crunched-table" style="padding: 0;">
        <tr>
            <th style="width: 150px;"></th>
            <th style="text-align: center;">Select<br>
                <input type="checkbox" id="select-all-apartments" onclick="select_all_properties();">
            </th>
        </tr>

        {% for item in apartments_dict %}
            <tr style="text-align: center" class="apartment-details apartment-details-{{ item.floor_id }}-{{ item.building_id }} property-type-{{ item.property_type_id }}-{{ item.floor_id }}-{{ item.building_id }}" id="apartment-name-{{ item.id }}">
                <td id="apartment-name-text-{{ item.id }}" style="text-align: left">
                    <a onclick="click_to_set_hotspot({{ item.id }});" class="hotspot_selector hotspot_selector_{{ item.id }} btn btn-sm {% if not item.x_coordinate %}btn-default{% else %}btn-danger{% endif %}" id="hotspot_selector_{{ item.id }}">

                        {{ item.name }}
                    </a>
                    <a onclick="click_to_close_hotspot({{ item.id }});" class="hotspot_deselector_{{ item.id }} btn btn-sm hotspot_deselector {% if not item.x_coordinate %}btn-default{% else %}btn-danger{% endif %}" style="display: none;" id="hotspot_deselector_{{ item.id }}" >
                        {{ item.name }}
                    </a>
                </td>
                <td>
                    <input type="checkbox" id="select-hotspot-{{ item.id }}" class="apartment-checkbox apartment-checkbox-{{ item.floor_id }} select-hotspot">
                </td>
            </tr>
            <tr id="show_current_hotspots_{{ item.id }}" class="show_current_hotspots" style="display: none;">
                <td colspan="3">
                    <table class="table">
                        <tr>
                            {% if item.x_coordinate %}
                            <td id="refresh-coordinates-x-{{ item.id }}">
                                X Co-ordinate <input readonly class="small input-sm hotspot-fake-input" type="text" id="apartment_set_x_coordinate_{{ item.id }}" value="{{ item.x_coordinate }}">
                            </td>
                            {% endif %}
                            <td class="refresh-coordinate" style="display: none;">
                                X Co-ordinate <input readonly class="small input-sm hotspot-fake-input" type="text" id="apartment_set_x_coordinate_{{ item.id }}" value="{{ item.x_coordinate }}">
                            </td>
                            <td>
                                New {% if not item.x_coordinate %}X Co-ordinate{% endif %}: <input type="text" readonly class="small input-sm newly-selected hotspot-fake-input" id="new_apartment_set_x_coordinate_{{ item.id }}">
                            </td>
                        </tr>
                        <tr>
                            {% if item.y_coordinate %}
                                <td id="refresh-coordinates-y-{{ item.id }}">
                                    Y Co-ordinate<input readonly class="small input-sm hotspot-fake-input" type="text" id="apartment_set_y_coordinate_{{ item.id }}" value="{{ item.y_coordinate }}">
                                </td>
                            {% endif %}
                            <td class="refresh-coordinate" style="display: none;">
                                Y Co-ordinate<input readonly class="small input-sm hotspot-fake-input" type="text" id="apartment_set_y_coordinate_{{ item.id }}" value="{{ item.y_coordinate }}">
                            </td>
                            <td>
                                New {% if not item.y_coordinate %}Y Co-ordinate{% endif %}:
                                <input type="text" readonly class="small input-sm newly-selected hotspot-fake-input"  id="new_apartment_set_y_coordinate_{{ item.id }}">
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <button disabled id="save-button-{{ item.id }}" onclick="save_new_coordinate({{ project.pk }},{{ item.id }});" class="btn btn-process btn-sm" style="margin-top: -5px;">
                                    Save
                                </button>

                                <button disabled id="save-button-{{ item.id }}" class="btn btn-process btn-sm" style="margin-top: -5px;">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
    {% endfor %}
    </table>
