{% load canvas_tags %}
{% load model_tags %}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card card-underline">
            <div class="card-head style-primary-dark">
                <header>Level Image</header>
                <div class="tools">
                    <div class="btn-group">
                        <a class="btn btn-icon-toggle btn-close pull-right"><i class="fa white fa-close"></i></a>
                        <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa white fa-angle-down"></i></a>
                    </div>
                </div>
            </div>
            <div class="card-body tab-content">
                <ul class="nav nav-tabs">
                    <li role="presentation" data-toggle="tab" href="#section-multi" class="pull-right"><a href="#">Multi Image</a></li>
                    <li role="presentation" data-toggle="tab" href="#section-individual" class="active pull-right"><a href="#">Individual Image</a></li>
                </ul>
                <div class="tab-content" style="border: 1px solid #ddd; border-top: none; padding: 10px; padding-right: 15px; margin-right: 2px;">
                    <div id="section-individual" class="active tab-pane fade in ">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <label class="bold-text">Individual Image</label>
                                <div style="border: 1px solid #ebebeb; min-height: 40px;" id="individual-file-drop">
                                    {% if individual_file %}
                                        <div id="individual-file">
                                            <em>{{ individual_file|cut:"/static/"|cut:project.project_connection_name|cut:"/"|cut:"thumbnails" }}</em><br>
                                            <img src="{{ individual_file }}" style="width: 50px; max-width: 50px;">
                                            <a class="pull-right individual-file-selected" id="image-row-link-{{ individual_file_id }}"
                                               onclick="remove_image_selectors('{{ individual_file_id }}'); $('#individual-file').remove();">
                                                <i class="fa fa fa-trash-o"></i> Clear File
                                            </a>
                                        </div>
                                        <input type="hidden" id="individual_file_id" name="individual_file" value="{{ individual_file_id }}">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="section-multi" class="tab-pane fade in ">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <label class="bold-text">Multi Image</label>
                                <div  style="border: 1px solid #ebebeb; min-height: 40px;" id="multi-file-drop">
                                    {% if multi_file %}
                                        <div id="multi-file">
                                            <em>{{ multi_file|cut:"/static/"|cut:project.project_connection_name|cut:"/"|cut:"thumbnails" }}</em><br>
                                            <img src="{{ multi_file }}" style="width: 50px; max-width: 50px;">
                                            <a class="pull-right multi-file-selected" id="image-row-link-{{ multi_file_id }}"
                                               onclick="remove_image_selectors('{{ multi_file_id }}'); $('#multi-file').remove();">
                                                <i class="fa fa fa-trash-o"></i> Clear File
                                            </a>
                                        </div>

                                        <input type="hidden" id="multi_file_id" name="multi_file" value="{{ multi_file_id }}">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button style="margin-left: 24px;" onclick="save_image_selector_files();" class="btn btn-xs btn-danger pull-left">Save Selectors</button>
            <br><br>
        </div>
    </div>
</div>

<input type="hidden" id="multi_image_container_id" value="{{ multi_image_container }}">
<input type="hidden" id="individual_image_container_id" value="{{ individual_image_container }}">
<div id="removed-asset-ids" style="display: none;"></div>

<div id="added-selectors-image-html" style="display: none">
    <br><br>
    <div class="col-lg-{{ image_settings }}"  style="text-align: center; margin: 10px;" id="image-selected-id">
        <em>image-name</em><br>
        {% if image_size %}
            <img src="#" style="width: 100%; max-width: 100px;">
        {% else %}
            <img src="#" style="width: 100%; max-width: 100px;">
        {% endif %}
        <br><br>
    </div>
</div>

<script>
    $(function() {
        $("#individual-file-drop").droppable( {
            hoverClass: "ui-state-active",
            activeClass: "ui-state-highlight",
            drop: handleDropIndividualEvent,
             snap: 'li'
        } );

        $("#multi-file-drop").droppable( {
            hoverClass: "ui-state-active",
            activeClass: "ui-state-highlight",
            drop: handleDropMultiEvent,
            snap: 'li'
        } );
    });
    
    function handleDropIndividualEvent( event, ui ) {

        var file_dropped = $("#individual_file_id").val();

        if (file_dropped)
        {
            remove_image_selectors(file_dropped);
        }

        var draggable = ui.draggable;
        var resource_id = draggable.attr('id');
        resource_id = resource_id.replace("image-", "").replace("-checkbox", "").replace(/ /g, '');
        resource_id = resource_id.replace("image-", "");
        resource_id = resource_id.trim();


        if (parseInt(resource_id)) {
            var image_source = $("#image-" + resource_id).attr('src');
            image_source = image_source.replace("//", "/");

            var image_name = image_source.split("/");
            var image_html = "<div class='row'>" +
                             "<a class='pull-right' id='image-row-link-"+resource_id +"' onclick=\"remove_image_selectors("+resource_id+"); $('#individual-file').remove();\"> " +
                             "<i class='fa fa fa-trash-o'></i> Clear File </a>" + $('#added-selectors-image-html').html() + "<input type='hidden' id='individual_file' name='individual_file' value="+resource_id+"></div>";

            image_html = image_html.replace('src="#"', 'src="'+image_source+'"').replace("image-name", image_name[image_name.length - 1]).replace("image-selected-id", "image-selected-" + resource_id);
            $("#individual-file-drop").html(image_html);
        }
    }

    function handleDropMultiEvent( event, ui ) {

        var file_dropped = $("#multi_file_id").val();

        if (file_dropped)
        {
            remove_image_selectors(file_dropped);
        }

        var draggable = ui.draggable;
        var resource_id = draggable.attr('id');
        resource_id = resource_id.replace("image-", "").replace("-checkbox", "").replace(/ /g, '');
        resource_id = resource_id.trim();


        if (parseInt(resource_id)) {
            var image_source = $("#image-" + resource_id).attr('src');
            image_source = image_source.replace("//", "/");

            var image_name = image_source.split("/");
            var image_html = "<div class='row'>" +
                             "<a class='pull-right' id='image-row-link-"+resource_id +"' onclick=\"remove_image_selectors("+resource_id+"); $('#multi-file').remove();\"> " +
                             "<i class='fa fa fa-trash-o'></i> Clear File </a>" + $('#added-selectors-image-html').html() + "<input type='hidden' id='multi_file' name='multi_file' value="+resource_id+"></div>";

            image_html = image_html.replace('src="#"', 'src="'+image_source+'"').replace("image-name", image_name[image_name.length - 1]).replace("image-selected-id", "image-selected-" + resource_id);
            $("#multi-file-drop").html(image_html);
        }
    }
    
    function remove_image_selectors(row_id)
    {
        $('#watermark-file-drop').html('');
        $("#image-row-"+row_id).remove();
        $("#image-selected-"+row_id).remove();

        $("#removed-asset-ids").append(row_id +',');

    }
</script>