{% load canvas_tags %}
{% load model_tags %}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
         <div class="card card-underline">
            <div class="card-head style-primary-dark">
                <header>Unique Thumbnail Files</header>
                <div class="tools">
                    <div class="btn-group">
                        <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
            </div>
            <div class="card-body tab-content">
                <em>Please note: Unique thumbnail files will be published as is.</em>
                <div class="table crunched-table" id="image-watermark-list">
                <div class="row">
                    <div class="col-lg-7 bold-text">Thumbnail Name</div>
                    <div class="col-lg-2 bold-text">Order</div>
                    <div class="col-lg-1"></div>
                </div>

                <ul  id="sortable_thumbnail_list" class="row sortable thumbnail-sortable {% if not unique_thumbnail_asset_list %}well{% endif %}">
                {% for row in unique_thumbnail_asset_list %}
                    {% if row.image.path|file_exists %}
                        <li onclick="highlight_image({{ row.image.pk }});"
                            class="sortlist ui-state-default file-image file-image-{{ file.pk }} file-image-{{ file.key|cut:"Aspect: " }}"
                            id="image-row-{{ row.image.pk }}"
                            style="padding-top: 3px;"
                            data-position="{% if row.settings.order %}{{ row.settings.order }}{% else %}{{ forloop.counter }}{% endif %}">

                            <div class="col-lg-7" >
                                <small style="float: left; margin-left: -10px; font-weight: bold">
                                    {% if row.settings.order %}{{ row.settings.order }}{% else %}{{ forloop.counter }}{% endif %}
                                </small>

                                <i style="padding-left: 2px; padding-right: 4px; margin-top: 2px;" class="grey fa fa-angle-double-right"></i>

                                <small><em onclick="highlight_image({{ row.image.pk }});">{{ row.image_name }}</em></small>
                                <input type="hidden" name="selected-thumbnail-asset" value="{{ row.image.pk }}">
                                <input type="hidden" class="row-image-name-thumb"  id="row-image-name-thumb-{{ row.image.pk }}" value="{{ row.image_name }}">
                            </div>

                            <div class="col-lg-2">
                                <input style="width:30px;" type="text" id="file-order-thumb-{{ row.image.pk }}"
                                       class="hidden-order-field order-for-thumbnail" name="file-order-{{ row.image.pk }}" value="{{ row.settings.order }}">
                            </div>

                            <div class="col-lg-1">
                                <a id="image-row-link-{{ row.image.pk }}" onclick="remove_image_thumbnail('{{ row.image.pk }}');">
                                    <i class="fa fa fa-trash-o" style="margin-top: 6px;"></i>
                                </a>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
                    <li class="sortlist" style="height: 0; padding: 0;" data-position="99"></li>
                </ul>
            </div>
            </div>
         </div>
    </div>
</div>


<script>
    $(function() {
         $("#sortable_thumbnail_list").droppable( {
            hoverClass: "ui-state-active",
            activeClass: "ui-state-highlight",
            drop: handleDropThumbnailEvent,
             snap: 'li'
        } );
    });
</script>