<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">

        <div class="card card-underline">
            <div class="card-head style-primary-dark">
                <header>Gallery Files</header>
                <div class="tools">
                    <div class="btn-group">
                        <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
            </div>
            <div class="card-body tab-content">
                <div class="table crunched-table" id="image-watermark-list">
                <div class="row">
                    <div class="col-lg-5">Image Name</div>
                </div>

                <ul class="row sortable" id="sortable">
                    {% for row in asset_list %}
                        {% if row.image.path|file_exists %}
                            <li class="sortlist ui-state-default" id="image-row-{{ row.image.pk }}" style="padding-top: 3px;" show_order="{{ row.settings.order }}">
                                <div class="col-lg-1">
                                    <small class="row-settings-order" style="float: left; margin-left: -5px; font-weight: bold">
                                        {{ row.settings.order }}
                                    </small>
                                </div>
                                <div class="col-lg-9">
                                    <small><em>{{ row.full_image_name }}</em></small>
                                    <input type="hidden" name="selected-asset" value="{{ row.image.pk }}">

                                    <input type="hidden" class="hidden-order-field" name="file-order-{{ row.image.pk }}" value="{% if row.settings.order %}{{ row.settings.order }}{% else %}{{ forloop.counter }}{% endif %}">

                                </div>

                                <div class="col-lg-1">
                                    <i style="padding-left: 2px; padding-right: 4px; margin-top: 2px;" class="grey fa fa-angle-double-right"></i>
                                </div>
                                <div class="col-lg-1">
                                    <a id="image-row-link-{{ row.image.pk }}" onclick="remove_image_watermark('{{ row.image.pk }}');"><i class="fa fa fa-trash-o"></i></a>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <li class="sortlist " show_order="99" style="height: 0; padding: 0;"></li>
                </ul>
            </div>
            </div>
        </div>
        <div id="removed-asset-ids" style="display: none;"></div>
    </div>
</div>
