{% extends "projects/dynamic_editing/update_model_row.html" %}

{% load model_tags %}

{% block content %}
    <div class="row">
        <div class="col-xs-9">

                <h2>Floor Plan Image Details</h2>
                <table class="table table-striped table-hover">
                    <tbody>
                        <tr>
                            <th width="200px">ID</th>
                            <td>{{ instance.pk }}</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>{{ instance.name }}</td>
                        </tr>
                        <tr>
                            <th>Project ID</th>
                            <td>{{ instance.project_id }}</td>
                        </tr>
                        <tr>
                            <th>Floor Plate Image ID</th>
                            <td>{{ instance.floor_plate_image_id }}</td>
                        </tr>
                        <tr>
                            <th>Floor Plan Path</th>
                            <td>
                                {{ image_path }}
                            </td>
                        </tr>
                        {% if image_path %}
                            <tr>
                                <th>Floor Plan Image</th>
                                <td>
                                    <img src="{{ STATIC_URL }}{{ image_path }}" style="max-width: 200px;">
                                </td>
                            </tr>
                            {% endif %}
                        <tr>
                            <th>Floor Number</th>
                            <td>{{ instance.floor_number }}</td>
                        </tr>

                    </tbody>
                </table>

        </div>
    </div>


    <div class="row">
        <div class="col-xs-9">
            <form action method="post" enctype="multipart/form-data">
                {% csrf_token %}


                    <h2>Add Floor Plan Image</h2>

                    <div class="form-well">
                        {% for field in form %}
                            {% include "includes/field.html" with field=field %}
                        {% endfor %}
                    </div>


                <a href="{% url 'projects-model-filter' project.pk model|model_name_filter %}" class="btn btn-back">Cancel</a>
                <button type="submit" class="btn btn-process" value="Submit">Submit</button>
            </form>
        </div>

    </div>

{% endblock %}
