{% extends "projects/hotspot_base.html" %}

{% load model_tags %}

{% block breadcrumbs %}
    {{ block.super }}

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb" href="{{ project.get_absolute_url }}">
        {{ project.name }}
    </a>

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb" href="{% url 'projects-model-list' project.pk %}">
         Model List
    </a>

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb" href="{% url 'projects-floors-list' project.pk %}">
         Floors List
    </a>


    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb active">
       Assign Apartment Views
    </a>

{% endblock %}

{% block apartment_content %}


        <h2>Apartments</h2>
        <br>

        <table class="table">
            <tr>
                <th>Name</th>
                <th>View</th>
                <th style="text-align: center;">Select<br><input type="checkbox" id="select-all-apartments"> </th>
            </tr>
        {% for item in apartments %}
                <tr style="text-align: center">
                    <td>{{ item.name }}</td>
                    <td style="text-align: center;">
                        <ul class="enlarge">
                            <li>
                                <i class="icon-eye"></i>
                                <span>
                                    <img src="/static/common/img/image-enlarge01-sml.jpg" alt="Deckchairs" />
                                    <br />Deckchairs on Blackpool beach
                                </span>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <input type="checkbox" id="select-hotspot-{{ item.id }}" class="apartment-checkbox select-hotspot">
                    </td>
                </tr>
                <tr id="show_current_hotspots_{{ item.id }}" class="show_current_hotspots" style="display: none;">
                    <td colspan="3">
                        <table>
                            <tr>
                                {% if item.picking_coord_x %}
                                <td id="refresh-coordinates-x-{{ item.id }}">
                                    X Co-ordinate <input readonly class="small input-sm hotspot-fake-input" type="text" id="apartment_set_x_coordinate_{{ item.id }}" value="{{ item.picking_coord_x }}">
                                </td>
                                {% endif %}
                                <td class="refresh-coordinate" style="display: none;">
                                    X Co-ordinate <input readonly class="small input-sm hotspot-fake-input" type="text" id="apartment_set_x_coordinate_{{ item.id }}" value="{{ item.picking_coord_x }}">
                                </td>
                                <td>
                                    New: <input type="text" readonly class="small input-sm newly-selected hotspot-fake-input" id="new_apartment_set_x_coordinate_{{ item.id }}">
                                </td>
                            </tr>
                            <tr>
                                {% if item.picking_coord_y %}
                                <td id="refresh-coordinates-y-{{ item.id }}">
                                    Y Co-ordinate<input readonly class="small input-sm hotspot-fake-input" type="text" id="apartment_set_y_coordinate_{{ item.id }}" value="{{ item.picking_coord_y }}">
                                </td>
                                {% endif %}
                                <td class="refresh-coordinate" style="display: none;">
                                    Y Co-ordinate<input readonly class="small input-sm hotspot-fake-input" type="text" id="apartment_set_y_coordinate_{{ item.id }}" value="{{ item.picking_coord_y }}">
                                </td>
                                <td>
                                    New: <input type="text" readonly class="small input-sm newly-selected hotspot-fake-input"  id="new_apartment_set_y_coordinate_{{ item.id }}">
                                </td>

                            </tr>
                            <tr>
                                <td><button id="save-button-{{ item.pk }}" onclick="save_new_coordinate({{ project.pk }},{{ item.pk }});" class="btn btn-process btn-sm" style="margin-top: -5px; display: none;">Save</button></td>
                            </tr>
                        </table>

                    </td>
                </tr>
        {% endfor %}
        </table>


{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-10">
            <div style="text-align: center">
                <h2>Floor Plan Image for Floor [Name: {{ model_instance.name }}]</h2>

                {% if image_exists %}
                    <div id="floorplan-message"><br></div>
                    <div id="floor-plan-wrapper" style="width: 802px; margin: auto">
                        <div id="floor-plan-image" style="text-align: center; width: 802px;">
                            <img src="{{ STATIC_URL }}{{ image_path }}" style="max-width: 800px;">
                        </div>

                        <canvas id="cross-hatch" class="cross-hatch-hotspot-large" width="800" height="800">
                            Your browser does not support the HTML5 canvas tag.
                        </canvas>
                    </div>
                {% else %}
                    <em>The floor plan image is missing for this floor.</em><br>
                    <a href="{% url 'projects-floors-add-floor-plan' project.pk model_instance.pk %}" class="btn btn-process">Add Floor Plan Image</a>
                {% endif %}
            </div>


            <div class="clearfix"></div>


                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12" style="margin-top: -750px !important;">

                            <h2>Floor [ID: {{ model_instance.pk }}] [Name: {{ model_instance.name }}] Apartment View Configuration</h2>


                            <div class="well">
                                <input type="file">
                            </div>


                    </div>

                </div>
        </div>



        <div class="col-xs-2">

                <h2>Actions</h2>

                <ul class="action-list" style="margin-top: 30px;">
                    {% for action_name, action_url in actions %}
                        <li>
                            <a href="{{ action_url }}">
                                {{ action_name }}
                                <i class="icon-arrow-right"></i>
                            </a>
                        </li>
                    {% endfor %}

                    <li>
                        <a href="{% url 'projects-floors-add-floor-plan' project.pk model_instance.pk %}">
                            Update floor plan image
                            <i class="icon-arrow-right"></i>
                        </a>
                        <br>
                        <a href="#"  onclick="copy_new_coordinates({{ project.pk }});">
                            Copy Views
                            <i class="icon-arrow-right"></i>
                        </a>
                        <a href="#" onclick="remove_new_coordinates({{ project.pk }});">
                            Delete Views
                            <i class="icon-arrow-right"></i>
                        </a>

                    </li>
                </ul>




                <a name="floor-spot"></a>
                <h2 style="margin-bottom: 20px;">Floors</h2>

                <a class="floor-select-link">
                    <div class="floor-select-clear">
                        <br>
                    </div>
                    <div class="floor-select-link">
                        <input type="checkbox" id="select_all">
                    </div>
                </a>

                {% for floor in all_floors %}
                    <a class="floor-select-link" href="{% url 'projects-floors-views' project.pk floor.id %}#floor-spot">
                        <div id="floor-selected-{{ forloop.counter }}" class="floor-select-link {% ifequal model_instance.pk floor.id %}selected{% endifequal %}">
                            {{ floor.name }}
                        </div>
                    </a>
                    <div class="floor-select-link" style="cursor: auto">
                        <input type="checkbox" onclick="update_floor_hotspots();" class="floor-checkbox" project_id="{{ project.pk }}" id="floor-hotspot-{{ floor.id }}" {% ifequal model_instance.pk floor.id %}checked{% endifequal %}>
                    </div>

                {% endfor %}

        </div>
    </div>


    <br>

    <input type="hidden" id="selected_x" value="">
    <input type="hidden" id="selected_y" value="">
    <input type="hidden" id="apartment_list" value="{{ apartment_list }}">
    <input type="hidden" id="total_showing" value="1">
    <input type="hidden" id="current_apartment_setting">
    <input type="hidden" id="current_floor_id" value="{{ model_instance.pk }}">
    <input type="hidden" id="current_project_id" value="{{ project.pk }}">


    <script>
        $(".apartment-view-image").hover(
          function() {
            var id = $(this).attr('id').replace("apartment_view_", "");
            $("#div-apartment_view_"+id).show();
          }, function() {
            var id = $(this).attr('id').replace("apartment_view_", "");
            $("#div-apartment_view_"+id).hide();
          }
        );

    </script>

    <script src="/static/common/js/hotspot_800.js"></script>

{% endblock %}
