{% extends "projects/hotspot_base.html" %}

{% load model_tags %}

{% block breadcrumbs %}
    {{ block.super }}

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb" href="{{ project.get_absolute_url }}">
        {{ project.name }}
    </a>

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb" href="{% url 'projects-model-list' project.pk %}">
         Model List
    </a>

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb" href="{% url 'projects-floors-list' project.pk %}">
         Floors List
    </a>


    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb active">
       Floors Hotspot Details
    </a>

{% endblock %}


{% block apartment_content %}

        <h2>Apartments</h2>
        <br>

        <table class="crunched-table" style="padding: 0;">
            <tr>
                <th>Name</th>
                <th>Set</th>
                <th style="text-align: center;">Select<br><input type="checkbox" id="select-all-apartments"> </th>
            </tr>
            {% for item in apartments_dict %}
                <tr style="text-align: center" class="apartment-details apartment-details-{{ item.floor_id }}-{{ item.building_id }} property-type-{{ item.property_type_id }}-{{ item.floor_id }}-{{ item.building_id }}">
                    <td>{{ item.name }}</td>
                    <td>
                        <a onclick="click_to_set_hotspot({{ item.id }});" class="hotspot_selector hotspot_selector_{{ item.id }} {% if not item.x_coordinate %}empty{% endif %}" id="hotspot_selector_{{ item.id }}">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a onclick="click_to_close_hotspot({{ item.id }});" class="hotspot_deselector" style="display: none;" id="hotspot_deselector_{{ item.id }}" ><i class="icon-map-marker"></i> </a>
                    </td>
                    <td>
                        <input type="checkbox" id="select-hotspot-{{ item.id }}" class="apartment-checkbox apartment-checkbox-{{ item.floor_id }} select-hotspot">
                    </td>
                </tr>
                <tr id="show_current_hotspots_{{ item.id }}" class="show_current_hotspots" style="display: none;">
                    <td colspan="3">
                        <table class="table">
                            <tr>
                                {% if item.x_coordinate %}
                                <td id="refresh-coordinates-x-{{ item.id }}">
                                    X Co-ordinate <input readonly class="small input-sm hotspot-fake-input" type="text" id="apartment_set_x_coordinate_{{ item.id }}" value="{{ item.x_coordinate }}">
                                </td>
                                {% endif %}
                                <td class="refresh-coordinate" style="display: none;">
                                    X Co-ordinate <input readonly class="small input-sm hotspot-fake-input" type="text" id="apartment_set_x_coordinate_{{ item.id }}" value="{{ item.x_coordinate }}">
                                </td>
                                <td>
                                    New {% if not item.x_coordinate %}X Co-ordinate{% endif %}: <input type="text" readonly class="small input-sm newly-selected hotspot-fake-input" id="new_apartment_set_x_coordinate_{{ item.id }}">
                                </td>
                            </tr>
                            <tr>
                                {% if item.y_coordinate %}
                                    <td id="refresh-coordinates-y-{{ item.id }}">
                                        Y Co-ordinate<input readonly class="small input-sm hotspot-fake-input" type="text" id="apartment_set_y_coordinate_{{ item.id }}" value="{{ item.y_coordinate }}">
                                    </td>
                                {% endif %}
                                <td class="refresh-coordinate" style="display: none;">
                                    Y Co-ordinate<input readonly class="small input-sm hotspot-fake-input" type="text" id="apartment_set_y_coordinate_{{ item.id }}" value="{{ item.y_coordinate }}">
                                </td>
                                <td>
                                    New {% if not item.y_coordinate %}Y Co-ordinate{% endif %}:
                                    <input type="text" readonly class="small input-sm newly-selected hotspot-fake-input"  id="new_apartment_set_y_coordinate_{{ item.id }}">
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <button id="save-button-{{ item.id }}" onclick="save_new_coordinate({{ project.pk }},{{ item.id }});" class="btn btn-process btn-sm" style="margin-top: -5px; display: none;">
                                        Save
                                    </button>
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
        {% endfor %}
        </table>


{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-10">
            <div style="text-align: center">
                <h2>Floor Plan Image for Floor [Name: {{ project|get_item_name:model_instance }}]</h2>

                {% if image_exists %}
                    <div id="floorplan-message"><br></div>
                    <div id="floor-plan-wrapper" style="width: 802px; margin: auto">
                        <div id="floor-plan-image" style="text-align: center; width: 802px;">
                            <img src="{{ static_image }}" style="max-width: 800px;">
                        </div>

                        <canvas id="cross-hatch" class="cross-hatch-hotspot-large" width="800" height="800">
                            Your browser does not support the HTML5 canvas tag.
                        </canvas>
                    </div>
                {% else %}
                    <em>The floor plan image is missing for this floor.</em><br>
                    <a href="{% url 'projects-floors-add-floor-plan' project.pk model_instance.pk %}" class="btn btn-process">Add Floor Plan Image</a>
                {% endif %}
            </div>


            <div class="clearfix"></div>

            {% if image_path and image_exists %}
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12" style="margin-top: -750px !important;">

                            <h2>Floor [ID: {{ model_instance.pk }}] [Name: {{ project|get_item_name:model_instance }}] Apartment Hotspot Configurations</h2>

                            <table class="detail-table text-center">
                                <tr>
                                    <th class="text-center">
                                        Apartment Name
                                    </th>
                                    <th class="text-center">
                                        X co-ordinate:
                                    </th>
                                    <th class="text-center">
                                        Y co-ordinate:
                                    </th>
                                    <th class="text-center">

                                    </th>

                                </tr>
                                {% for item in apartments_dict %}
                                    <tr class="apartment-details apartment-details-{{ item.floor_id }}-{{ item.building_id }} property-type-{{ item.property_type_id }}-{{ item.floor_id }}-{{ item.building_id }}">
                                        <td>
                                            {{ item.name }}
                                        </td>
                                        <td>
                                            <input type="text" class="input-sm x-coordinate" id="apartment_x_{{ item.id }}" value="{{ item.x_coordinate }}" style="margin: 0;">
                                        </td>
                                        <td>
                                            <input type="text" class="input-sm y-coordinate" id="apartment_y_{{ item.id }}" value="{{ item.y_coordinate }}" style="margin: 0;">
                                        </td>
                                        <td>
                                            <button class="refresh" onclick="update_hotspot_figures({{ project.pk }}, {{ item.id }});"><i class="icon-refresh"></i></button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>



                    </div>

                </div>
            {% endif %}
        </div>



        <div class="col-xs-2">

                <h2>Actions</h2>

                <ul class="action-list" style="margin-top: 30px;">
                    {% for action_name, action_url in actions %}
                        <li>
                            <a href="{{ action_url }}">
                                {{ action_name }}
                                <i class="icon-arrow-right"></i>
                            </a>
                        </li>
                    {% endfor %}

                    <li>
                        <a href="{% url 'projects-floors-add-floor-plan' project.pk model_instance.pk %}">
                            Update floor plan
                            <i class="icon-arrow-right"></i>
                        </a>

                        <a onclick="check_assignment_mode();">
                            Assign Hotspots
                            <i class="icon-arrow-right"></i>
                        </a>
                        <br>

                        <a name="floor-spot"></a>
                        <div style="display: inline-block; border-bottom: 1px solid #ccc; width: 100%">
                            <a style="display: inline-block; margin-right: 10px; border-bottom: none;" onclick="copy_new_coordinates({{ project.pk }});">Copy Hotspots</a>

                            <span style="float:right;display: inline-block; margin-top: 3px;">
                                <i class="icon-list" style="margin-right: 10px;cursor: pointer; " onclick="$('#copy-options').toggle();"></i>

                                <i class="icon-arrow-right" style="color: #e3001b;"></i>
                            </span>
                        </div>



                        <div id="copy-options" style="display: none; font-size: 13px; padding: 4px; border: 1px solid #ccc; margin-top: 10px; margin-bottom: 10px;">
                            By name: <input type="checkbox" checked disabled><br>
                            By closest coordinate: <input type="checkbox"  disabled>
                        </div>


                        <a href="#" onclick="remove_new_coordinates({{ project.pk }});">
                            Delete Hotspots
                            <i class="icon-arrow-right"></i>
                        </a>


                        <a href="#" onclick="location.reload();">
                            Reload All Hotspots
                            <i class="icon-arrow-right"></i>
                        </a>
                    </li>
                </ul>




                <h2 style="margin-bottom: 20px;">Floors</h2>

                <a class="floor-select-link">
                    <div class="floor-select-clear">
                        <br>
                    </div>
                    <div class="floor-select-link">
                        <input type="checkbox" id="select_all">
                    </div>
                </a>


                {% for row in floor_list %}
                    <div style="width: 200px; display: inline-block;">
                        <a class="floor-select-link" onclick="select_new_floor({{ row.floor.id }});">
                            <div id="floor-details-{{ row.floor.id }}" class="floor-select-link floor-details {% ifequal model_instance.pk row.floor.id %}selected{% endifequal %}">
                                {{ project|get_item_name:row.floor }}
                            </div>
                        </a>
                        <div class="floor-select-link" style="cursor: auto">
                            <input type="checkbox" onclick="update_floor_hotspots();" class="floor-checkbox" project_id="{{ project.pk }}" id="floor-hotspot-{{ row.floor.id }}" {% ifequal model_instance.pk row.floor.id %}checked{% endifequal %}>
                        </div>

                        <div class="floor-select-link" style="cursor: auto">
                               <div>{{ row.apartment_count }}</div>
                        </div>
                    </div>
                {% endfor %}

        </div>
    </div>


    <br>

    <input type="hidden" id="selected_x" value="">
    <input type="hidden" id="selected_y" value="">
    <input type="hidden" id="apartment_list" value="{{ apartment_list }}">
    <input type="hidden" id="total_showing" value="1">
    <input type="hidden" id="current_apartment_setting">
    <input type="hidden" id="current_floor_id" value="{{ model_instance.pk }}">
    <input type="hidden" id="current_project_id" value="{{ project.pk }}">
    <input type="hidden" id="selected-colour" value="red">

    <script>
    function check_assignment_mode()
    {

        if (confirm("Are you sure you wish to move to Reassignment Mode?"))
        {
            window.location.href="/projects/7/floors/hotspots/6/reassign/";

        }
    }

    function select_new_floor(floor_id)
    {
        redraw_main_canvas();

        $(".floor-details").removeClass('selected');
        $("#floor-details-"+floor_id).addClass('selected');

        $("#current_floor_id").val(floor_id);

        $(".apartment-details").hide();
        $(".apartment-details-"+ floor_id).show();

        var apartment = $("#selected_apartment").val();
        var project_id = $("#current_project_id").val();

        $(".listed-image-with-tags").css({"background": "white"});

        get_image(project_id, floor_id, "level_plans", apartment);

        redraw_main_canvas();
        redraw_apartment_lists();

    }

    function get_image(project_id, floor_id, value_selected, apartment)
    {
        $.ajax({
            url: '/get_image_selection_details/' + project_id + '/' + floor_id + '/' + value_selected + '/',
            type: 'GET',
            data: {'apartment': apartment, 'value_selected': value_selected},
            success: function (data) {
                var static_image = data.static_image;

                $("#floor-plan-image img").attr('src', static_image).css("padding-top", '0px').css("padding-bottom", '0px');
            }

        });
    }
    </script>
    <script src="/static/common/js/hotspot_800.js"></script>

{% endblock %}
