{% extends "projects/hotspot_base.html" %}

{% load model_tags %}

{% block breadcrumbs %}
    {{ block.super }}

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb" href="{{ project.get_absolute_url }}">
        {{ project.name }}
    </a>

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb" href="{% url 'projects-model-list' project.pk %}">
         Model List
    </a>

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb" href="{% url 'projects-floors-list' project.pk %}">
         Floors List
    </a>


    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb active">
       Reassign Hotspots
    </a>

{% endblock %}


{% block apartment_content %}


    <div style="font-size: 12px;">
        <h2>Apartments</h2>
        <p>Help text help text help text help text help text </p>


            <div id="apartment-table">
                {% include "projects/dynamic_editing/includes/assign_apartments.html" %}
            </div>

            {% if apartments %}
                <br>
                <button onclick="$('#assignment-form').submit();" class="btn btn-like-process" style="margin-top: -10px;"><i class="icon-save"></i> Save Assignments</button>
            {% endif %}
    </div>



{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-10">
            <div style="text-align: center">
                <h2>Reassigning Hotspots</h2>

                {% if image_exists %}
                    <div id="floorplan-message"><br></div>
                    <div id="floor-plan-wrapper" style="width: 802px; margin: auto">
                        <div id="floor-plan-image" style="text-align: center; width: 802px;">
                            <img src="{{ STATIC_URL }}{{ image_path }}" style="max-width: 800px;">
                        </div>

                        <canvas id="cross-hatch" class="cross-hatch-hotspot-large green" width="800" height="800">
                            Your browser does not support the HTML5 canvas tag.
                        </canvas>
                    </div>
                {% else %}
                    <em>The floor plan image is missing for this floor.</em><br>
                    <a href="{% url 'projects-floors-add-floor-plan' project.pk model_instance.pk %}" class="btn btn-process">Add Floor Plan Image</a>
                {% endif %}
            </div>


            <div class="clearfix"></div>

        </div>


        <a name="floor-spot"></a>
        <div class="col-xs-2">

                <h2>Actions</h2>

                <ul class="action-list" style="margin-top: 30px;">
                    {% for action_name, action_url in actions %}
                        <li>
                            <a href="{{ action_url }}">
                                {{ action_name }}
                                <i class="icon-arrow-right"></i>
                            </a>
                        </li>
                    {% endfor %}

                    <li>
                        <a href="{% url 'projects-floors-add-floor-plan' project.pk model_instance.pk %}">
                            Update floor plan
                            <i class="icon-arrow-right"></i>
                        </a>

                        <a href="{% url 'projects-floors-hotspots' project.pk model_instance.pk %}">
                            Set Hotspots
                            <i class="icon-arrow-right"></i>
                        </a>

                        <a href="#" onclick="location.reload();">
                            Reload All Hotspots
                            <i class="icon-arrow-right"></i>
                        </a>
                    </li>
                </ul>






                <h2 style="margin-bottom: 20px;">Floors</h2>

                <a class="floor-select-link">
                    <div class="floor-select-clear">
                        <br>
                    </div>
                    <div class="floor-select-link green">
                        <input type="checkbox" id="select_all">
                    </div>

                </a>


                {% for row in floor_list %}
                    <div style="width: 200px; display: inline-block;">
                        <a class="floor-select-link" href="{% url 'projects-floors-hotspots-reassign' project.pk row.floor.id %}#floor-spot">
                            <div id="floor-selected-{{ forloop.counter }}" class="floor-select-link green {% ifequal model_instance.pk row.floor.id %}selected-green{% endifequal %}">
                                {{ row.floor.name }}
                            </div>
                        </a>
                        <div class="floor-select-link green" style="cursor: auto">
                            <input type="checkbox" onclick="update_floor_hotspots();" class="floor-checkbox" project_id="{{ project.pk }}" id="floor-hotspot-{{ row.floor.id }}" {% ifequal model_instance.pk row.floor.id %}checked{% endifequal %}>
                        </div>

                        <div class="floor-select-link green" style="cursor: auto">
                               <div>{{ row.apartment_count }}</div>
                        </div>
                    </div>
                {% endfor %}

        </div>
    </div>


    <br>

    <input type="hidden" id="selected_x" value="">
    <input type="hidden" id="selected_y" value="">
    <input type="hidden" id="apartment_list" value="{{ apartment_list }}">
    <input type="hidden" id="total_showing" value="1">
    <input type="hidden" id="current_apartment_setting">
    <input type="hidden" id="current_floor_id" value="{{ model_instance.pk }}">
    <input type="hidden" id="current_project_id" value="{{ project.pk }}">
    <input type="hidden" id="selected-colour" value="green">


    <script>
    function save_assignment_forms(project_id)
    {

    }
    </script>

    <script src="/static/common/js/hotspot_800.js"></script>

{% endblock %}
