{% extends "projects/base.html" %}

{% load model_tags %}


{% block breadcrumbs %}
    {{ block.super }}

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb" href="{{ project.get_absolute_url }}">
        {{ project.name }}

        <i class="fa fa-angle-double-right"></i>
    </a>

    <a class="header-breadcrumb" href="{% url 'projects-model-list' project.pk %}">
         Model List

        <i class="fa fa-angle-double-right"></i>
    </a>



    <a class="header-breadcrumb"  href="{% url 'projects-model-update' project.pk 'Apartmenttypes' row_id %}">
       {{ model|model_name_filter }} [ID: {{ row_id }}]

        <i class="fa fa-angle-double-right"></i>
    </a>

    <a class="header-breadcrumb active">
       Apartment Type Image Details
    </a>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-9">

                <h2>Apartment Type Details</h2>
                <table class="table table-striped table-hover">
                    <tbody>
                        <tr>
                            <th width="200px">ID</th>
                            <td>{{ instance.pk }}</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>{{ instance.name }}</td>
                        </tr>
                        <tr>
                            <th>Project ID</th>
                            <td>{{ instance.project_id }}</td>
                        </tr>
                    </tbody>
                </table>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">

                <h2>Image Location Configuration</h2>

                <em>
                    <strong>
                        You can upload a new image by clicking on the <i class="fa fa-pencil"></i> icon.
                        To configure the hotspots for an image click on the <i class="icon-map-marker"></i> icon.
                    </strong>
                </em>
                <br><br>

                <table class="table table-striped table-hover">
                    <tbody>
                        <tr>
                            <th width="200px">Image Thumbnail Path</th>
                            <td>{{ images_model_instance.thumbnail_path|default_if_none:"<em>Not Supplied</em>" }}</td>
                            <td style="width: 60px;">
                                <a href="#edit-image" data-toggle="modal" data-target="#apartment_type_image_modal"
                                   onclick="update_image_type_location('Thumbnail Path', 'thumbnail_path', '{{ images_model_instance.thumbnail_path|default_if_none:'' }}');">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </td>
                            <td style="width: 60px;">
                                {% if images_model_instance.thumbnail_path %}
                                    <a href="{% url 'projects-apartments-list' project.pk %}?apartment_type_id={{ instance.pk }}">
                                        <i class="icon-map-marker"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th width="200px">Image High Res Path</th>
                            <td>{{ images_model_instance.highres_path|default_if_none:"<em>Not Supplied</em>" }}</td>
                            <td>
                                <a href="#edit-image" data-toggle="modal" data-target="#apartment_type_image_modal"
                                   onclick="update_image_type_location('High Res Path', 'highres_path', '{{ images_model_instance.highres_path|default_if_none:'' }}');">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </td>
                            <td>
                                {% if images_model_instance.highres_path %}
                                    <a href="{% url 'projects-apartments-list' project.pk %}?apartment_type_id={{ instance.pk }}">
                                        <i class="icon-map-marker"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th width="200px">Image Full Res Path</th>
                            <td>{{ images_model_instance.fullres_path|default_if_none:"<em>Not Supplied</em>" }}</td>
                            <td>
                                <a href="#edit-image" data-toggle="modal" data-target="#apartment_type_image_modal"
                                   onclick="update_image_type_location('Full Res Path', 'fullres_path', '{{ images_model_instance.fullres_path|default_if_none:'' }}');">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </td>
                            <td>
                                {% if images_model_instance.fullres_path %}
                                    <a href="{% url 'projects-apartments-list' project.pk %}?apartment_type_id={{ instance.pk }}">
                                        <i class="icon-map-marker"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>

        </div>
    </div>


    <div class="row" id="edit-image-location" style="display:none;">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <form action method="post" enctype="multipart/form-data">
                {% csrf_token %}


                    <h2>Edit Floor Plan Image</h2>
                    <div>
                    <table class="table table-striped table-hover">
                      <tr>
                          <td style="width: 250px;">
                              Apartment Image Name
                          </td>
                          <td>
                              {{ instance.name }}
                          </td>
                      </tr>
                      <tr>
                          <td>
                              Location Type
                          </td>
                          <td>
                              <span id="floor_plan_type"></span>
                              <input type="hidden" name="image_id_section" id="image_location">
                          </td>
                      </tr>
                      <tr>
                          <td>
                              Image Path Location
                          </td>
                          <td>
                              <input type="text" id="image_path">
                          </td>
                      </tr>
                      <tr>
                          <td>
                              Floor Plan Image
                          </td>
                          <td>
                              <input type="file" name="image_file" id="save_image_file">
                          </td>
                      </tr>
                    </table>
                      <br>
                      <strong>Please note:</strong> The file you upload will replace the existing image and
                      will be saved to the Image Path Location you specify including the file name.

                      <br><br>

                      <a onclick='$("#edit-image-location").hide("slow");' class="btn btn-back">Cancel</a>
                      <button type="submit" class="btn btn-process" value="Submit">Submit</button>
                       <br><br>
                    </div>


                {% if image_exists %}
                    <a onclick='$("#edit-image-location").hide();' class="btn btn-back">Cancel</a>
                    <button type="submit" class="btn btn-process" value="Submit">Submit</button>
                {% endif %}

            </form>
        </div>
    </div>
    <a id="edit-image"></a>

    <script>
        function update_image_type_location(location, id_field, image_path)
        {
            $("#edit-image-location").hide();
            $("#floor_plan_type").text(location);
            $("#image_location").val(id_field);
            $("#image_path").val(image_path);

            $("html, body").animate({ scrollTop: $(document).height() }, 1000).delay( 2800 );

            $("#edit-image-location").show('slow');
        }
    </script>
{% endblock %}
