{% extends "projects/base.html" %}

{% load model_tags %}

{% block breadcrumbs %}
    {{ block.super }}

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb" href="{{ project.get_absolute_url }}">
        {{ project.name }}
    </a>

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb" href="{% url 'projects-model-filter' project.pk model|model_name_filter %}">
       {{ model|model_name_filter }} Data
    </a>

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb" href="{% url 'projects-model-update' project.pk model|model_name_filter row_id %}">
        {{ model|model_name_filter }} {{ row_id }}
    </a>

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb active">
        Hotspot Configuration
    </a>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">

                <h2>Floor plan image for Floor: {{ instance.floor_id }}</h2>

                <table class="table table-striped table-hover">
                    <tbody>
                        <tr>
                            <th width="200px">Image High Res Path</th>
                            <td>{{ images_model_instance.highres_path|default_if_none:"<em>Not Supplied</em>" }}</td>
                        </tr>
                        <tr>
                            <th width="200px">Image Full Res Path</th>
                            <td>{{ images_model_instance.fullres_path|default_if_none:"<em>Not Supplied</em>" }}</td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>
                                <img src="{{ STATIC_URL }}{{ image_path }}" style="max-width: 200px;">
                            </td>
                        </tr>

                        <tr>
                            <th style="width: 200px;">{{ model|model_name_filter }} Name</th>
                            <td>{{ instance.name }}</td>
                        </tr>
                    </tbody>
                </table>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-9">

            <form action method="post" id="hot-spot-form">
                {% csrf_token %}


                    <h2>Update Hotspot Configuration in {{ model|model_name_filter }}: {{ instance.pk }}</h2>


                    <strong>Current Hotspot Coordinates: <span style="color: blue">X</span> </strong>
                    <table class="table table-striped table-hover">
                        <tr>
                            <th style="width: 200px;">X:</th>
                            <td><span id="current_value_x">{{ instance.picking_coord_x }}</span></td>
                        </tr>
                        <tr>
                            <th style="width: 200px;">Y:</th>
                            <td><span id="current_value_y">{{ instance.picking_coord_y }}</span></td>
                        </tr>
                    </table>
                    <br><br>

                    <strong>New Selected Hotspot Coordinates: <span style="color: green">X</span> </strong>
                    <table class="table table-striped table-hover">
                        <tr>
                            <th style="width: 200px;">X:</th>
                            <td><input type="text" id="selected_current_value_x" name="selected_value_x"></td>
                        </tr>
                        <tr>
                            <th style="width: 200px;">Y:</th>
                            <td><input type="text" id="selected_current_value_y" name="selected_value_y"></td>
                        </tr>
                    </table>
                    <br><br>

                    <div style="width: 100%;" class="center-block">

                        {% if image_exists %}
                            <div id="current-coordinate-hover"></div>

                            <strong>Click on the image below to select a new hotspot</strong>
                            <div id="floor-plan-wrapper" style="max-width: 500px;margin: 0;padding: 0;">

                                <div id="floor-plan-image" style="text-align: center; width: 100%;">
                                    <img src="{{ STATIC_URL }}{{ image_path }}" style="width: 100%;">
                                </div>

                                <canvas id="cross-hatch" class="cross-hatch-hotspot" width="500" height="500">
                                    Your browser does not support the HTML5 canvas tag.
                                </canvas>
                            </div>

                            <div style="height: 50px; margin-bottom: 0;padding: 0; position: relative" >
                                <a style="position: absolute; left: 0; top: 10px;" href="{% url 'projects-model-update' project.pk model|model_name_filter row_id %}" class="btn btn-back">Cancel</a>
                                <button style="position: absolute; top: 10px; left: 75px;" type="submit" class="btn btn-process">Submit</button>
                            </div>


                        {% else %}
                            This floor does not have a floor plan image along the saved folder structure.<br>

                            <a href="{% url 'projects-floors-add-floor-plan' project.pk instance.floor_id %}" class="btn btn-process">Update Floor Plan Image</a>
                        {% endif %}
                    </div>




            </form>
        </div>

        {% if actions %}

                <h2>Actions</h2>

                <ul class="action-list">
                    {% for action_name, action_url in actions %}
                        <li>
                            <a href="{{ action_url }}">
                                {{ action_name }}
                                <i class="icon-arrow-right"></i>
                            </a>
                        </li>
                    {% endfor %}
                </ul>

        {% endif %}
    </div>

    <input type="hidden" id="selected_x" value="">
    <input type="hidden" id="selected_y" value="">

    <script src="/static/common/js/hotspot.js"></script>
{% endblock %}
