{% extends "projects/detail.html" %}

{% load reversion_tags %}

{% block title %}{{ block.super }} - Revision #{{ version_idx }}{% endblock %}

{% block breadcrumbs %}
    <a class="header-breadcrumb" href="{% url 'home' %}">
        Projects
        <i class="fa fa-angle-double-right"></i>
    </a>

    {% if project.family %}
        <a class="header-breadcrumb" href="{% url 'projects-version' project.family.pk %}">
            Project Version Information
            <i class="fa fa-angle-double-right"></i>
        </a>
    {% endif %}

    <span class="header-breadcrumb active">
        Project Family Details
    </span>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-sm-6 col-xs-6">
            <div class="pull-left" data-toggle="tooltip" data-placement="top" title="Add new project">
                <button data-toggle="modal" href="#add_new_project_modal" class="btn btn-xs btn-danger">
                    <i class="fa fa-plus"></i> Add New Project
                </button>
                &nbsp;
            </div><br><br>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-sm-6 col-xs-6">
            <div class="card card-underline">
                <div class="card-head style-default-dark">
                    <header>Edit Project Family</header>

                    <div class="tools">
                        <div class="btn-group">
                            <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa white fa-angle-down"></i></a>
                        </div>
                    </div>
                </div>

                <div class="card-body tab-content" style="padding: 20px;">
                      <div class="pull-right" style="margin-right: 130px;">
                         <div class="pull-right" style="margin-right: 35px;">
                             <input type="checkbox" id="select-all-families" data-toggle="tooltip" data-placement="top", title="Toggle All">
                         </div>
                      </div>

                     {% for fam in all_families %}
                         <div style="padding: 5px; display:inline-block; width: 100%;"  class="{% ifequal fam family %} selected {% endifequal %} family-row">
                             <div class="pull-left">
                                <a href="{% url 'projects-family-edit' fam.pk %}">
                                    <i class="fa fa-pencil"></i> &nbsp; {{ fam.family_name }}
                                </a>
                             </div>
                             <div class="pull-right" style="margin-right: 130px;">
                                 <div class="pull-left" style="margin-right: 30px;">
                                    <a class="btn btn-xs btn-black" onclick="remove_project_family({{ fam.pk }}, '{{ fam.family_name }}');">
                                        <i class="fa fa-trash text-danger"></i>
                                    </a>
                                 </div>

                                 <div class="pull-right" style="margin-right: 30px;">
                                    <input type="checkbox" id="remove-family-{{ fam.pk }}" class="remove-family">
                                 </div>
                             </div>
                             <div class="pull-right">
                                 <div style="margin-right: 130px;">
                                    {{ fam.project_list.count }}
                                 </div>
                             </div>
                             <br>
                         </div>
                     {% endfor %}

                      <div class="pull-right" style="margin-right: 155px; margin-top: 20px;">
                         <a class="btn btn-sm btn-danger" onclick="remove_selected_families();">
                            <i class="fa fa-trash"></i>
                        </a>
                      </div>

                     <br><br>
                     <div style="padding: 5px; display:inline-block; width: 100%;">
                        <a class="btn btn-xs btn-black" href="{% url 'projects-family-management' %}">
                            <i class="fa fa-star {% if not family %} text-success {% endif %}"></i> &nbsp; Add new project family
                        </a> <br>
                     </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-sm-8 col-xs-8">
            <div class="card card-underline">
                <div class="card-head style-default-dark">
                    <header>Project Family Details</header>

                    <div class="tools">
                        <div class="btn-group">
                            <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa white fa-angle-down"></i></a>
                        </div>
                    </div>
                </div>

                <div class="card-body tab-content" style="padding: 20px;">
                    <form action method="post">
                        {% csrf_token %}
                        <label>Family Name</label>
                        {{ family_form.family_name }}

                        <div class="pull-right">
                            <button class="btn btn-xs btn-black" type="button" onclick="save_projects_to_family();">
                                <i class="fa fa-save"></i> Save
                            </button>
                        </div>

                        <div class="row">
                            <div class="col-sm-5">
                                <h3>Projects not in Family</h3>

                                <select multiple id="projects-to-family" style="height: 500px;">
                                    {% for nproject in not_in_family %}
                                        {% if not nproject.has_family %}
                                            <option value="{{ nproject.pk }}">
                                                {{ nproject.name }} &nbsp; v{{ nproject.version }}  &nbsp; {{ nproject.get_status_display }}
                                            </option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-sm-2" style="text-align: center; margin-top: 40px;">
                                <button type="button" onclick="remove_projects_from_family();"><i class="fa fa-arrow-left"></i> Rem.</button><br><br>
                                <button type="button" onclick="save_projects_to_family();"><i class="fa fa-arrow-right"></i> Add.</button>
                            </div>

                            <div class="col-sm-5">
                                <h3>Projects in Family</h3>

                                <select multiple id="projects-from-family" style="height: 500px;">
                                    {% for aproject in all_projects %}
                                        <option value="{{ aproject.pk }}">
                                            {{ aproject.name }} &nbsp; v{{ aproject.version }}  &nbsp; {{ aproject.get_status_display }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        <input type="hidden" id="family-id" value="{{ family.pk }}">
        </div>
    </div>

    <div id="add_new_project_modal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body">
              {% include "projects/includes/create_project.html" %}
          </div>
          <div class="modal-footer">
            <button type="button" id="close-level-create-modal" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <script>
        $(function () {
            var add_new_selected = GetURLParameter('add_new');
            if(add_new_selected)
            {
                $("#add_new_project_modal").modal('show');
            }

           $("#select-all-families").click(function () {
              if ($(this).prop('checked'))
              {
                  $(".remove-family").prop('checked', true);
              }
              else
              {
                  $(".remove-family").prop('checked', false);
              }
           });
        });

        function GetURLParameter(sParam) {
            var sPageURL = window.location.search.substring(1);
            var sURLVariables = sPageURL.split('&');
            for (var i = 0; i < sURLVariables.length; i++) {
                var sParameterName = sURLVariables[i].split('=');
                if (sParameterName[0] == sParam) {
                    return sParameterName[1];
                }
            }
        }

        function remove_selected_families()
        {
            if (confirm("Are you sure you wish to remove selected families? (Projects will be put back into the pool)."))
            {
                var families = $(".remove-family:checkbox:checked");

                $(families).each(function () {
                    var family_id = $(this).attr('id');
                    family_id = family_id.replace('remove-family-', '');

                    remove_family(family_id, false);

                }).promise().done(function () {

                    $("#select-all-families").prop('checked', false);

                    $().toastmessage('showToast', {
                        text: "Project family details saved successfully",
                        sticky: false,
                        position: 'top-right',
                        type: 'success',
                        closeText: ''
                    });

                    setTimeout(function(){ window.location.reload(); }, 500);
                });
            }
        }

        function remove_projects_from_family()
        {
            var family_id = $("#family-id").val();
            var project_list = $("#projects-from-family").val();
            var family_name = $("#id_family_name").val();

            if (family_id)
            {
                $.ajax({
                    url: '/remove_projects_from_family/',
                    type: 'GET',
                    data: {"family_id": family_id, 'project_list': project_list, 'family_name': family_name },
                    success: function (data) {

                        $().toastmessage('showToast', {
                            text: "Project family details saved successfully",
                            sticky: false,
                            position: 'top-right',
                            type: 'success',
                            closeText: ''
                        });

                        setTimeout(function(){ window.location.reload(); }, 500);
                    }
                });
            }

            else
            {
                save_projects_to_family();
            }

        }

        function save_projects_to_family()
        {
            var family_id = $("#family-id").val();
            var project_list = $("#projects-to-family").val();
            var family_name = $("#id_family_name").val();

            $.ajax({
                url: '/save_projects_to_family/',
                type: 'GET',
                data: {"family_id": family_id, 'project_list': project_list, 'family_name': family_name },
                success: function (data) {

                    $().toastmessage('showToast', {
                        text: "Project family details saved successfully",
                        sticky: false,
                        position: 'top-right',
                        type: 'success',
                        closeText: ''
                    });

                    if (data.created == 1)
                    {
                        setTimeout(function(){
                            window.location.href ='/projects/family/management/' + data.family_id;
                        }, 500);
                    }
                    else
                    {
                        setTimeout(function(){ window.location.reload(); }, 500);
                    }

                }
            });
        }

        function remove_family(family_id, show_message)
        {
            $.ajax({
                url: '/remove_project_family/',
                type: 'GET',
                data: {"family_id": family_id },
                success: function (data) {

                    if (show_message)
                    {
                        $().toastmessage('showToast', {
                            text: "Project family details saved successfully",
                            sticky: false,
                            position: 'top-right',
                            type: 'success',
                            closeText: ''
                        });

                        setTimeout(function(){ window.location.reload(); }, 500);
                    }

                }
            });
        }

        function remove_project_family(family_id, family_name)
        {
            if (confirm("Are you sure you wish to remove '"+family_name+"'? (Projects will be put back into the pool)."))
            {
                if (family_id)
                {
                    remove_family(family_id, true);
                }
            }
        }
    </script>
{% endblock %}