{% extends "projects/detail.html" %}

{% load reversion_tags %}

{% block title %}{{ block.super }} - Revision #{{ version_idx }}{% endblock %}

{% block breadcrumbs %}
    <a class="header-breadcrumb" href="{% url 'home' %}">
        Projects
        <i class="fa fa-angle-double-right"></i>
    </a>


    <a class="header-breadcrumb" href="/projects/{{ project.pk }}/">
        {{ project.name }}
        <i class="fa fa-angle-double-right"></i>
    </a>

    <span class="header-breadcrumb active">
        Project Version Information
    </span>
{% endblock %}

{% block content %}


    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">

            <div class="card card-underline">
                <div class="card-head style-default-dark">
                    <header>Project Version Information</header>

                    <div class="tools">
                        <div class="btn-group">
                            <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa white fa-angle-down"></i></a>
                        </div>
                    </div>
                </div>

                <div class="card-body tab-content" style="padding: 20px;">
                    <div class="pull-left" data-toggle="tooltip" data-placement="top" title="Add new project">
                        <a href="{% url 'projects-family-management' %}?add_new=1" class="btn btn-xs btn-danger">
                            <i class="fa fa-plus"></i>
                        </a>
                        &nbsp;
                    </div>

                    <div class="pull-right" data-toggle="tooltip" data-placement="left" title="Edit Project Families">
                        <a class="btn btn-xs btn-black" href="{% url 'projects-family-management' %}">
                            <i class="fa fa-edit"></i> PVF
                        </a>
                        &nbsp;
                    </div>

                    {% include "projects/version/includes/project_list.html" %}
                </div>
            </div>

            <div id="selected-project-information">
                {% include "projects/version/includes/project_details.html" %}
            </div>
        </div>
    </div>

    <script>
        $(function() {
            var project_id = $("#current-project").val();

            var family_id = $("#translation-family-id").val();
            if (family_id)
            {
                get_new_project_version(family_id, false);
            }


            $('.project-version-log').hide();
            $('.project-version-log-'+project_id).show();

            $(".project-list").removeClass("selected");
            $(".project-list-"+project_id).addClass("selected");

            $("#show-project-logs").show();
        });


        function get_new_project_version(family_id, show_load_message)
        {
            if (show_load_message)
            {
                 $().toastmessage('showToast', {text : "Loading family projects",
                 position : 'top-left',  stayTime: 1500, type : 'success'});
            }
            
            if (family_id)
            {
                $("#family-id").val(family_id);

                $.ajax({
                    url: '/get_new_project_version/'+family_id+'/',
                    type: 'GET',
                    success: function (data) {
                        $("#selected-project-information").html('').html(data.rendered);

                        $(".project-list").removeClass("selected");
                        $("#project-list-row-"+family_id).addClass("selected");

                        $(".project-select-checkbox").removeClass('fa-check').addClass('fa-square');
                        $("#project-select-check-"+family_id).removeClass('fa-square').addClass('fa-check');

                        if (show_load_message)
                        {
                            $().toastmessage('showToast', {text : "Project family loaded successfully",
                            position : 'top-right',  stayTime: 1500, type : 'success'});
                        }
                    }
                });
            }


        }

        function remove_script_and_notes(script_id)
        {
            if (confirm("Are you sure you wish to remove this script?"))
            {
                var project_id = $("#current-project").val();

                $.ajax({
                    url: '/remove_project_script/'+project_id+'/',
                    type: 'GET',
                    data: {'script_id': script_id},
                    success: function (data) {
                        $().toastmessage('showToast', {text : "Script deleted successfully", position : 'top-right',  stayTime: 1500, type : 'success'});
                        $("#project-script-row-"+ script_id).remove();
                    }

                });
            }
        }

        function save_project_status()
        {
            var project_id = $("#current-project").val();
            var version_id = $("#current-project-version").val();
            version_id = version_id.replace(".", "-");
            
            var status_value = $("#project-status-"+project_id+"-"+version_id).val();
            $("#select_project_user_staging_modal").modal('hide');

            var all_users_checked = $("#move-all-users").is(":checked");
            var ds_users_checked = $("#move-ds-users-only").is(":checked");

            var user_move = 'all_users';

            if (ds_users_checked)
            {
                user_move = 'ds_users';
            }

            $.ajax({
                url: '/change_project_version_status/'+project_id+'/',
                type: 'GET',
                data: {'status': status_value, 'user_move': user_move},
                success: function (data) {

                    $().toastmessage('showToast', {text : "Loading project version, please wait...", position : 'top-right',  stayTime: 1500, type : 'success'});
                    setTimeout(function(){ window.location.reload(); }, 2000);

                    var family_id = $("#family-id").val();
                    get_new_project_version(family_id, false);
                }

            });
        }

        function change_project_version(project_id, new_active_version, current_version) {

            if (confirm("Are you sure you wish to change the active version for this project to version " + new_active_version +"?"))
            {
                $.ajax({
                    url: '/change_project_version_active/'+project_id+'/',
                    type: 'GET',
                    data: {'new_active_version': new_active_version, 'current_version': current_version},
                    success: function (data) {

                        $().toastmessage('showToast', {text : "Loading active project", position : 'top-right',  stayTime: 1500, type : 'success'});
                        setTimeout(function(){ window.location.reload() }, 1800);
                        
                        var family_id = $("#family-id").val();
                        get_new_project_version(family_id, false);
                    }
                });
            }
            else
            {

                current_version = current_version.toString() + '.0';
                $("#project-version-selected-"+ project_id).val(current_version);
                var family_id = $("#family-id").val();
                get_new_project_version(family_id, false);
            }
        }

        function display_project_logs(project_id)
        {
            window.location.href="/projects/"+project_id+"/history/2/";

        }

        function clone_project_without_data(project_id, project_name)
        {
            if (confirm("Are you sure you wish to clone project '"+project_name+"' without data?"))
            {

                $.ajax({
                    url: '/clone_project/',
                    type: 'GET',
                    data: {'project_id': project_id, 'with_master_data': 1 },
                    success: function (data) {

                    }
                });

                $().toastmessage('showToast', {text : "Loading new version of project, please wait...", position : 'top-right',  stayTime: 7000, type : 'success'});
                setTimeout(function(){ window.location.reload() }, 8000);

            }
        }

        function clone_project_with_data(project_id, project_name, version_number)
        {
            if (confirm("Are you sure you wish to clone project '"+project_name+"' " +
                        "version "+version_number+" including all data and assets?"))
            {
                $.ajax({
                    url: '/clone_project/',
                    type: 'GET',
                    data: {'project_id': project_id, 'with_master_data': 0 },
                    success: function (data) {

                    }

                });

                $().toastmessage('showToast', {text : "Loading new version of project, please wait...", position : 'top-right',  stayTime: 7000, type : 'success'});

                var family_id = $("#family-id").val();
                setTimeout(function(){
                    window.location ="/projects/"+family_id+"/history/";
                }, 10000);
            }
        }

        $(function() {
            var nametable = $('table.scrollable-header');

            nametable.floatThead({
                scrollContainer: function ($table) {
                    return $table.closest('.wrapper');
                }
            });
        });

        function add_selected(project_id)
        {
            $('.history-log').removeClass('selected');
            $('.comments-row').removeClass('selected');
            $('.comment-show-row').removeClass('selected');

            $("#current-project").val(project_id);
            $("#selected-user-project").val(project_id);
        }

        function submit_version_script_form()
        {

            var project_id = $("#current-project").val();
            var formdata = new FormData($('#add-project-version-scripts-form')[0]);
            var csrf_token = $('#add-project-version-scripts-form input[name="csrfmiddlewaretoken"]').val();

            $.ajax({
                url: '/save_version_script/' + project_id +'/',
                type: 'POST',
                csrfmiddlewaretoken: csrf_token,
                data: formdata,
                enctype: "multipart/form-data",
                processData: false,
                contentType: false,
                success: function (data) {

                    $().toastmessage('showToast', {
                        text: "Script saved succesfully",
                        sticky: false,
                        position: 'top-right',
                        type: 'notice',
                        closeText: ''}
                    );

                    $(window).queue("namedQueue", function() {

                        $("#add_new_script_modal").modal('hide');

                        var family_id = $("#family-id").val();
                        get_new_project_version(family_id, true);

                        setTimeout(function() {
                            $(self).dequeue("namedQueue");
                         }, 500);
                    });

                    $(window).queue("namedQueue", function() {

                        $("#project-scripts-tab").trigger('click');
                        $("#li-project-scripts-tab").trigger('click');

                        setTimeout(function() {
                            $(self).dequeue("namedQueue");
                         }, 100);
                    });

                    $(window).dequeue("namedQueue");

               },
               error: function(jqXHR, textStatus, errorMessage) {
                   console.log(errorMessage); // Optional
               }

            });
        }

        function submit_version_comment_form()
        {
            var project_id = $("#current-project").val();
            var formdata = new FormData($('#add-project-version-comment-form')[0]);
            var csrf_token = $('#add-project-version-comment-form input[name="csrfmiddlewaretoken"]').val();

            $.ajax({
                url: '/save_version_comment/' + project_id +'/',
                type: 'POST',
                csrfmiddlewaretoken: csrf_token,
                data: formdata,
                enctype: "multipart/form-data",
                processData: false,
                contentType: false,
                success: function (data) {

                    $().toastmessage('showToast', {
                        text: "Comment saved succesfully",
                        sticky: false,
                        position: 'top-right',
                        type: 'notice',
                        closeText: ''}
                    );

                    $("#add_new_comment_modal").modal('hide');

                    var family_id = $("#family-id").val();
                    get_new_project_version(family_id, false);

               },
               error: function(jqXHR, textStatus, errorMessage) {
                   console.log(errorMessage); // Optional
               }

            });
        }
    </script>
{% endblock %}
