{% load canvas_tags %}
{% get_building_floors building_id as building_floors %}
{% get_all_floors as all_floors %}
{% get_apartments building_id as building_apartments %}

<input type="hidden" id="apartment-content-floor-id" value="{{ floor_id }}">

<div class="card card-underline">
    <div class="card-head style-primary-dark">
        <header>Apartments</header>

        <div class="tools">
            <div class="btn-group">
                <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down white"></i></a>
            </div>
        </div>
    </div>

    <div class="card-body tab-content" id="apartment-content-card"  style="padding: 10px; max-height: 800px; overflow-y: auto">
        <table class="table table-striped dataTable" id="apartment-linked-details">
            <thead>
                <tr>
                    <th style="width: 150px;">
                        <select class="property-type-selection" onchange="filter_property_type(this.value);">
                            <option value="">All</option>
                            {% for ptype in property_type_list %}
                                <option value="{{ ptype.pk }}">{{ ptype }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th style="text-align: center;">Select<br>
                        <input type="checkbox" id="select-all-apartments" onclick="select_all_properties();">
                    </th>
                </tr>
            </thead>
                <tr>
                    <td colspan="2">
                        <ul id="apartment-content-sortable" class="sortable">
                            {% for item in apartments_dict %}

                                <li class="apartment-content-list
                                    {% if item.id %} apartment-content-list-{{ item.id }}{% endif %}
                                    {% if item.hotspot_id %}apartment-content-hotspot apartment-content-hotspot-{{ item.hotspot_id }}{% endif %} apartment-content-list-floor-{{ item.floor_id }}">

                                    <table class="table table-striped dataTable">

                                    {% if item.id %}
                                        <tr style="text-align: center; padding: 0;" class="apartment-details apartment-details-{{ item.floor_id }}-{{ item.building_id }} property-type-{{ item.property_type_id }}-{{ item.floor_id }}-{{ item.building_id }} apartment-floor-{{ item.floor_id }}" id="apartment-name-{{ item.id }}">
                                            <td id="apartment-name-text-{{ item.id }}" style="width: 50%; text-align: left">
                                                <a data-toggle="tooltip" data-placement="right" title="Click to set hotspot" onclick="click_to_set_hotspot({{ item.id }});" class="btn btn-sm hotspot_selector hotspot_selector_{{ item.id }}-{{ item.building_id }} {% if not item.x_coordinate %}btn-default{% else %}btn-danger{% endif %}"
                                                   id="hotspot_selector_{{ item.id }}-{{ item.building_id }}">
                                                    {{ item.name }}
                                                </a>

                                                <a onclick="click_to_close_hotspot({{ item.id }});" class="btn btn-sm hotspot_deselector hotspot_deselector_{{ item.id }}-{{ item.building_id }} {% if not item.x_coordinate %}btn-default{% else %}btn-danger{% endif %}" style="display: none;"
                                                   id="hotspot_deselector_{{ item.id }}-{{ item.building_id }}" >
                                                    {{ item.name }}
                                                </a>
                                            </td>
                                            <td style="text-align: left" class="apartment-icon-list-{{ item.id }}-{{ item.building_id }}">
                                                {% ifequal item.property_type_id 1%}
                                                    <i class="fa fa-home"></i>
                                                {% endifequal %}

                                                {% ifequal item.property_type_id 2%}
                                                    <i class="fa fa-car"></i>
                                                {% endifequal %}

                                                {% ifequal item.property_type_id 3 %}
                                                    <i class="fa fa-cube"></i> <i class="fa fa-key" style="margin-left: -6px; margin-top: -3px; transform: rotate(90deg);"></i>
                                                {% endifequal %}

                                                {% ifequal item.property_type_id 4 %}
                                                    <i class="fa fa-building"></i>
                                                {% endifequal %}
                                            </td>
                                            <td>
                                                <input type="hidden" id="property-hotspot-id-{{ item.id }}-{{ item.building_id }}" value="{{ item.floor_hotspot_id }}" >
                                                <input type="hidden" id="property-hotspot-x-{{ item.id }}-{{ item.building_id }}" class="property-hotspot-x-{{ item.id }}" value="{{ item.x_coordinate }}">
                                                <input type="hidden" id="property-hotspot-y-{{ item.id }}-{{ item.building_id }}" class="property-hotspot-y-{{ item.id }}" value="{{ item.y_coordinate }}">
                                                <input type="checkbox" id="select-hotspot-{{ item.id }}-{{ item.building_id }}" class="apartment-checkbox apartment-checkbox-{{ item.floor_id }} select-hotspot">

                                                <input type="hidden" id="apartment-content-order-{{ item.id }}-{{ item.building_id }}" value="{{ item.orderidx }}" class="apartment-content-order">
                                            </td>
                                            <td style="width: 5px;" class="apartment-content-list-order">
                                                {{ item.orderidx }}
                                            </td>
                                        </tr>
                                        <tr id="show_current_hotspots_{{ item.id }}-{{ item.building_id }}" class="show_current_hotspots" style="display: none; padding: 0;">
                                            <td colspan="3">
                                                <table style="width: 100%">
                                                    <tr>
                                                        <td style="width: 50%;">
                                                            <div style="display: none">
                                                                {{ building_floors }}
                                                            </div>

                                                            Floor
                                                            <select id="hotspot-select-floor-{{ item.id }}-{{ item.building_id }}" onchange="show_changed_floor_apartments(this.value, {{ item.id }})">
                                                                <option value="">Select Floor</option>
                                                                {% for row in building_floors %}
                                                                    <option value="{{ row.floor.pk }}"
                                                                            {% ifequal row.floor.pk item.floor_id %} selected {% endifequal %}>
                                                                        {{ row.name }}
                                                                    </option>
                                                                {% endfor %}
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <div style="display: none">
                                                                {{ building_apartments }}
                                                            </div>

                                                            Aprt.

                                                            <div id="show-floor-apartments-{{ item.id }}-{{ item.building_id }}">
                                                                <select id="hotspot-select-aprt-{{ apt.property.pk }}">
                                                                    {% for apt in building_floors %}
                                                                        <option value="{{ apt.property.pk }}" {% ifequal apt.property.pk item.id %} selected {% endifequal %}>
                                                                            {{ apt.name }}
                                                                        </option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <table class="table">
                                                    <tr>
                                                        <td id="refresh-coordinates-x-{{ item.id }}" class="refresh-coordinates-x-{{ item.id }}">
                                                            X Co-ordinate
                                                            <input readonly class="small input-sm hotspot-fake-input apartment_set_x_coordinate_{{ item.id }}-{{ item.building_id }}" type="text" id="apartment_set_x_coordinate_{{ item.id }}-{{ item.building_id }}" value="{{ item.x_coordinate }}">
                                                        </td>
                                                        <td>
                                                            New {% if not item.x_coordinate %}X Co-ordinate{% endif %}:
                                                            <input type="text" class="small input-sm newly-selected hotspot-fake-input" id="new_apartment_set_x_coordinate_{{ item.id }}-{{ item.building_id }}">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td id="refresh-coordinates-y-{{ item.id }}" class="refresh-coordinates-y-{{ item.id }}">
                                                            Y Co-ordinate
                                                            <input readonly class="small input-sm hotspot-fake-input apartment_set_y_coordinate_{{ item.id }}-{{ item.building_id }}" type="text" id="apartment_set_y_coordinate_{{ item.id }}-{{ item.building_id }}" value="{{ item.y_coordinate }}">
                                                        </td>
                                                        <td>
                                                            New {% if not item.y_coordinate %}Y Co-ordinate{% endif %}:
                                                            <input type="text" class="small input-sm newly-selected hotspot-fake-input"  id="new_apartment_set_y_coordinate_{{ item.id }}-{{ item.building_id }}">
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div style="display: none">
                                                                Hotspot order:
                                                                <input  type="text" class="small input-sm hotspot-order-input" id="apartment_set_order_{{ item.id }}-{{ item.building_id }}" value="{{ item.hotspot_order }}">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            Save details:<br>
                                                            <button id="save-button-{{ item.id }}-{{ item.building_id }}" onclick="save_new_coordinate({{ project.pk }},{{ item.id }});"
                                                                    class="save-button-{{ item.id }} btn btn-process pull-left btn-sm">
                                                                Save
                                                            </button>

                                                            <input type="hidden" id="add-new-hotspot-{{ item.id }}" value="False">
                                                        </td>
                                                    </tr>
                                                </table>

                                        </td>
                                        </tr>
                                    {% else %}

                                        <tr style="text-align: center" class="linked-hotspots apartment-details apartment-details-{{ item.floor_id }}-{{ item.building_id }}"
                                            id="linked-apartment-name-{{ item.hotspot_id }}">
                                                <td id="linked-apartment-name-text-{{ item.hotspot_id }}" style="text-align: left">
                                                    <a data-toggle="tooltip" data-placement="right" title="Click to set hotspot" onclick="click_to_set_linked_hotspot({{ item.hotspot_id }});" class="btn btn-sm linked_hotspot_selector hotspot_selector btn-black"
                                                       id="linked_hotspot_selector_{{ item.hotspot_id }}">
                                                        {% if item.property_name %}{{ item.property_name }}{% endif %}  {% if item.hotspot_name %} {{ item.hotspot_name }}{% endif %}
                                                    </a>
                                                    <a onclick="click_to_close_linked_hotspot({{ item.hotspot_id }});" class="btn btn-sm linked_hotspot_deselector hotspot_deselector btn-black"
                                                       style="display: none;" id="linked_hotspot_deselector_{{ item.hotspot_id }}" >
                                                        {% if item.property_name %}{{ item.property_name }}{% endif %}  {% if item.hotspot_name %} {{ item.hotspot_name }}{% endif %}
                                                    </a>
                                                </td>
                                                <td>

                                                    <input type="checkbox" id="linked-select-hotspot-{{ item.hotspot_id }}" class="hotspot-checkbox hotspot-checkbox-{{ item.floor_id }} hotspot-checkbox-{{ item.hotspot_id }} select-hotspot">

                                                </td>
                                            </tr>
                                        <tr id="linked-show_current_hotspots_{{ item.hotspot_id }}" class="linked-show_current_hotspots show_current_hotspots" style="display: none;">
                                                <td colspan="3">

                                                    <table style="width: 100%">
                                                        <tr>
                                                            <td style="width: 50%;">
                                                                <div style="display: none">
                                                                    {{ all_floors }}
                                                                </div>

                                                                Floor
                                                                <select id="linked-hotspot-select-floor-{{ item.hotspot_id }}" onchange="show_linked_floor_apartments(this.value, {{ item.hotspot_id }})">
                                                                    <option value="">Select Floor</option>
                                                                    {% for row in all_floors %}
                                                                        <option value="{{ row.floor.pk }}"
                                                                                {% ifequal row.floor.pk item.property_floor_id %} selected {% endifequal %}>
                                                                            {{ row.name }}
                                                                        </option>

                                                                    {% endfor %}
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <div style="display: none">
                                                                    {{ building_apartments }}
                                                                </div>

                                                                Aprt.
                                                                <div id="show-linked-floor-apartments-{{ item.hotspot_id }}">
                                                                    <select id="linked-hotspot-select-aprt-{{ item.hotspot_id }}">
                                                                        {% if item.property_id %}
                                                                            <option value="{{ item.property_id }}">{{ item.property_name }}</option>
                                                                        {% endif %}
                                                                    </select>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>

                                                    <div style="width: 50%; padding-left: 10px;">
                                                        Name:
                                                        <input type="text" id="hotspot-name-{{ item.hotspot_id }}" value="{{ item.hotspot_name }}" class="form-control">

                                                        <input type="hidden" id="hotspot-linked-property-{{ item.hotspot_id }}" value="{{ item.property_id }}">
                                                    </div>

                                                    <table class="table">
                                                        <tr>
                                                            <td id="linked-refresh-coordinates-x-{{ item.hotspot_id }}">
                                                                X Co-ordinate
                                                                <input readonly class="small input-sm hotspot-fake-input" type="text"
                                                                                     id="linked-apartment_set_x_coordinate_{{ item.hotspot_id }}" value="{{ item.x_coordinate }}">
                                                            </td>
                                                            <td>
                                                                New {% if not item.x_coordinate %}X Co-ordinate{% endif %}:
                                                                <input type="text" class="small input-sm newly-selected hotspot-fake-input
                                                                new_linked_property_x_coordinate" id="linked-new_apartment_set_x_coordinate_{{ item.hotspot_id }}" value="">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td id="refresh-coordinates-y-{{ item.hotspot_id }}">
                                                                Y Co-ordinate<input readonly class="small input-sm hotspot-fake-input" type="text"
                                                                                    id="linked-apartment_set_y_coordinate_{{ item.hotspot_id }}" value="{{ item.y_coordinate }}">
                                                            </td>
                                                            <td>
                                                                New {% if not item.y_coordinate %}Y Co-ordinate{% endif %}:
                                                                <input type="text" class="small input-sm newly-selected hotspot-fake-input
                                                                new_linked_property_y_coordinate"  id="linked-new_apartment_set_y_coordinate_{{ item.hotspot_id }}" value="">
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td style="width: 400px;" colspan="2">
                                                                <button id="linked-save-button-{{ item.hotspot_id }}" onclick="save_hotspot_coordinate({{ project.pk }},{{ item.hotspot_id }});"
                                                                        class="save-button-{{ item.hotspot_id }} save-button btn btn-process pull-left btn-sm" style="margin-top: -5px;">
                                                                    Save
                                                                </button>

                                                                <input type="hidden" id="linked-add-new-hotspot-{{ item.hotspot_id }}" value="False">
                                                            </td>
                                                        </tr>
                                                    </table>

                                                </td>
                                            </tr>
                                    {% endif %}

                                    </table>

                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>

            </tbody>
        </table>

        <table>
        <tr style="text-align: center">
            <td id="assign-new-hotspot" style="text-align: left">
                <a data-toggle="tooltip" data-placement="right" title="Click to add hotspot" onclick="click_to_set_new_hotspot();" class="btn btn-sm btn-default" id="hotspot_selector_new">
                    <i class="fa fa-plus"></i> Add New
                </a>
                <a onclick="click_to_close_new_hotspot();" class="btn btn-sm btn-default" style="display: none;" id="hotspot_deselector_new" >
                    <i class="fa fa-plus"></i> Add New
                </a>
            </td>
            <td>

            </td>
        </tr>

        <tr id="show_new_hotspot" class="show_current_hotspots" style="display: none;">
            <td colspan="3">
                <table class="table">
                    <tr>
                        <td>
                            <div style="display: none">
                                {{ all_floors }}
                            </div>

                            Floor
                            <select id="new-hotspot-select-floor" onchange="show_floor_apartments(this.value)">
                                <option value="">Select Floor</option>
                                {% for row in all_floors %}
                                    <option value="{{ row.floor.pk }}">{{ row.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <div style="display: none">
                                {{ building_apartments }}
                            </div>

                            Aprt.
                            <div id="show-new-floor-apartments">
                                <select id="new-hotspot-select-aprt">
                                </select>
                            </div>

                            <input type="hidden" id="adding-new-hotspot-select-aprt" value="">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Hotspot Name
                            <input type="text" id="new_hotspot_name" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            New X Co-ordinate:
                            <input type="text" class="small input-sm newly-selected hotspot-fake-input new_linked_property_x_coordinate " id="new_linked_property_x_coordinate">
                        </td>
                        <td>
                            New Y Co-ordinate:
                            <input type="text" class="small input-sm newly-selected hotspot-fake-input new_linked_property_y_coordinate"  id="new_linked_property_y_coordinate">
                        </td>
                    </tr>

                    <tr>
                        <td style="width: 400px;" colspan="2">
                            <button disabled id="save-button-new" onclick="save_new_coordinate_linked();"
                                    class="save-button-new btn btn-process pull-left btn-sm" style="margin-top: -5px;">
                                Save
                            </button>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
        </div>
</div>


<script>
    $(function() {
        $('[data-toggle="tooltip"]').tooltip();

       $( "#apartment-content-sortable" ).sortable({
            revert: false,
            activeClass: "ui-state-highlight",
            hoverClass: "ui-state-highlight",
            placeholder: "ui-state-error",
            stop: function() {
                handleDropApartmentOrderEvent()
            }
        });

        $( '#apartment-content-sortable', "ul, li" ).disableSelection();


        function handleDropApartmentOrderEvent() {

            $(window).queue("namedQueue", function() {

                var apartment_content_orders = $("input.apartment-content-order");

                console.log('apartment_content_orders', apartment_content_orders);

                var i = 1;
                $(apartment_content_orders).each(function() {
                    $("input.apartment-content-order").val(i);

                    var property_id = $(this).attr('id');
                    property_id = property_id.replace('apartment-content-order-', '');
                    property_id = property_id.split('-')[0];

                    $.ajax({
                        url: '/save_property_order/{{ project.pk }}/',
                        data: {'property_id': property_id, 'order': i},
                        type: 'GET',
                        success: function (data) {}
                    });
                    i+= 1;
                });

                setTimeout(function() {
                    $(self).dequeue("namedQueue");
                 }, 100);

            });

            $(window).queue("namedQueue", function() {
                var apartment_content_list_orders = $("td.apartment-content-list-order");

                var o = 1;
                $(apartment_content_list_orders).each(function() {
                    $(this).text(o);
                    o+= 1;
                });

                setTimeout(function() {
                        $(self).dequeue("namedQueue");
                     }, 500);

            });

            $(window).dequeue("namedQueue");


        }
    });
</script>