{% load model_tags %}
{% load canvas_tags %}

<div class="card card-underline">
    <div class="card-head style-primary-dark">
        <header>Apartments</header>

        <div class="tools">
            <div class="btn-group">
                <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down white"></i></a>
            </div>
        </div>
    </div>

    <div class="card-body tab-content"  style="padding: 10px; max-height: 800px; overflow-y: auto">
         <div style="width: 75%; margin: auto">
            <select class="property-type-selection" onchange="filter_property_type(this.value);">
                <option value="">All</option>
                {% for ptype in property_type_list %}
                    <option value="{{ ptype.pk }}">{{ ptype }}</option>
                {% endfor %}
            </select>
         </div>
        <table style="padding: 3px; margin-bottom: 150px;" class="table">
            {% for item in apartments_dict %}
                <tr style="text-align: center" class="apartment-details apartment-details-{{ item.floor_id }}-{{ item.building_id }} property-type-{{ item.property_type_id }}-{{ item.floor_id }}-{{ item.building_id }}">
                    <td style="padding: 3px;">
                        <a id="basic-apartment-link-{{ item.id }}-{{ item.building_id }}" onclick="show_template_for_apartment({{ item.id }});"
                           class="apartment-link-{{ item.id }} apartment-link apartment-link-{{ item.id }}-{{ item.building_id }} btn btn-sm {% if not item.x_coordinate %}btn-default{% else %}btn-danger{% endif %} show-apartment"
                           data-toggle="tooltip" data-placement="top">{{ item.name }}</a>
                    </td>
                    <td style="text-align: left" class="apartment-icon-list-{{ item.id }}-{{ item.building_id }}">
                        {% ifequal item.property_type_id 1%}
                            <i class="fa fa-home"></i>
                        {% endifequal %}

                        {% ifequal item.property_type_id 2%}
                            <i class="fa fa-car"></i>
                        {% endifequal %}

                        {% ifequal item.property_type_id 3 %}
                            <i class="fa fa-cube"></i> <i class="fa fa-key" style="margin-left: -6px; margin-top: -3px; transform: rotate(90deg);"></i>
                        {% endifequal %}

                        {% ifequal item.property_type_id 4 %}
                            <i class="fa fa-building"></i>
                        {% endifequal %}
                    </td>
                    <td id="property_combination_{{ item.id }}">
                        {% if item.combination %}
                            <a class="show-combination-tab" onclick="show_upgrade_details();" onchange="">C</a>
                        {% endif %}
                    </td>
                    <td id="property_upgrade_{{ item.id }}">
                        {% if item.upgrade %}
                            <a class="show-upgrade-tab" onclick="show_upgrade_details();">U</a>
                        {% endif %}
                    </td>
                </tr>
        {% endfor %}
        </table>
    </div>
</div>






