{% load model_tags %}
{% load canvas_tags %}


<div class="card card-underline">
    <div class="card-head style-primary-dark">
        <header>Apartments</header>

        <div class="tools">
            <div class="btn-group">
                <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down white"></i></a>
            </div>
        </div>
    </div>

    <div class="card-body tab-content" id="floor-plans-content-card" style="padding: 10px; max-height: 800px; overflow-y: auto">

        <select class="property-type-selection" onchange="filter_property_type(this.value);">
            <option value="">All</option>
            {% for ptype in property_type_list %}
                <option value="{{ ptype.pk }}">{{ ptype }}</option>
            {% endfor %}
        </select>

        <table class="table detail-table" style="padding: 3px; border: 0">

            <tr>
                <th></th>
                <th style="width: 120px; overflow: hidden">
                    Image Name
                </th>
                <th style="width: 30px;"></th>
                <th>
                    Type
                </th>
                <th></th>
            </tr>

            {% for item in apartments_dict %}
                <tr class="apartment-details apartment-details-{{ item.floor_id }}-{{ item.building_id }}
                    property-type-{{ item.property_type_id }}-{{ item.floor_id }}-{{ item.building_id }}">
                    <td>
                        <a id="apartment-link-{{ item.id }}" onclick="set_apartment_selected({{ item.id }}, 'floor_plans');"
                                       class="apartment-link-{{ item.id }} apartment-link apartment-link-{{ item.id }}-{{ item.building_id }} btn btn-sm
                                       {% if not item.x_coordinate %}btn-default{% else %}btn-danger{% endif %} show-apartment"
                                       data-toggle="tooltip" data-placement="top">{{ item.name }}</a>

                    </td>


                    <td id="drop-floor-plan-{{ item.id }}" class="drop-floor-plan"  style="font-size: 10px; width: 150px; max-width: 150px; overflow: hidden">
                        <div id="apartment-show-image-name-{{ item.id }}" class="apartment-show-image-name-{{ item.floor_id }} apartment-show-image-name property-typical-{{ item.floor_plan_typical|cut:" " }}">
                            {{ item.floor_plan_image_name.image_name }}
                        </div>
                    </td>
                    <td style="text-align: center">
                        <div id="trash-property-image-{{ item.id }}">
                            {% if item.floor_plan_image_name %}
                                <a id="trash-property-image-{{ item.id }}" onclick="remove_property_assigned_image({{ item.id }}, '{{ item.name }}');"
                                   class="link fa-lg" data-toggle="tooltip" data-placement="top" title="Delete Floor Plan">
                                  <i class="fa fa-trash-o "></i>
                                </a>
                            {% endif %}
                        </div>
                    </td>

                    <td>
                        <div id="apartment-show-image-selector-{{ item.id }}" class="apartment-show-image-selector">
                            <select id="selector-image-apartment-{{ item.id }}" class="selector-image-apartment selector-image-floor-{{ item.floor_id }} form-control" style="margin-top: 5px;">
                                <option value=""> </option>
                                {% for row in property_typical_image_list %}
                                    {% if row.type %}
                                        <option value="{{ row.id }}" {% ifequal row.type|cut:" " item.floor_plan_typical|cut:" " %}selected{% endifequal %}>
                                            {{ row.type }}
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <input type="hidden" class="property-typical-type" id="property-typical-type-{{ item.id }}" value="{{ item.floor_plan_typical }}">
                    </td>
                     <td><div id="trash-property-type-{{ item.id }}">
                        {% if item.floor_plan_typical %}
                            <a onclick="clear_image_type_from_property({{ item.id }});" class="link fa-lg" data-toggle="tooltip" data-placement="top" title="Delete Typical">
                              <i class="fa fa-trash-o "></i>
                            </a>
                        {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="card card-underline">
    <div class="card-head style-primary-dark">
        <header>Typicals</header>

        <div class="tools">
            <div class="btn-group">
                <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down white"></i></a>
            </div>
        </div>
    </div>

    <div class="card-body tab-content" style="max-height: 500px; overflow-y: auto;  padding: 4px;">
        <table class="crunched-table dataTable" id="typicals-table" style="border:0; font-size: 10px; padding: 4px;">
            <tr style="border:0;">
                <th style="width: 15px;">
                    Type
                </th>
                <th style="width: 110px;">
                    Image Name
                </th>
                <th></th>
            </tr>

            {% for type in property_typical_image_list %}
                <tr class="select-to-assign" id="string-to-assign-{{ type.string_id }}" style="border:0;">
                    <td id="type-image-{{ type.string_id }}">
                        {{ type.type }}
                    </td>
                    <td style="font-size: 10px; width: 150px; max-width: 150px; overflow: hidden" class="snap-image-name" id="type-image-selector-{{ type.string_id }}">
                        {{ type.image }}
                    </td>
                    <td style="text-align: center">
                        <span style="width: 28px; font-size: 12px;" onclick="delete_typical_type('{{ type.type }}', {{ type.string_id }});" class="link fa-stack fa-lg" data-toggle="tooltip"
                              data-placement="top" title="Remove selected typical">
                              <i class="fa fa-circle fa-stack-2x text-danger"></i>
                              <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                        </span>

                        <span style="width: 28px; font-size: 12px;" onclick="assign_typical_to_floor('{{ type.type }}', {{ type.string_id }});" class="link fa-stack fa-lg" data-toggle="tooltip"
                              data-placement="top" title="Assign selected typical to entire floor">
                              <i class="fa fa-circle fa-stack-2x text-info"></i>
                              <i class="fa fa-level-up fa-stack-1x fa-inverse"></i>
                        </span>

                        <span style="width: 28px; font-size: 12px;" onclick="assign_typical_to_building('{{ type.type }}', {{ type.string_id }});" class="link fa-stack fa-lg" data-toggle="tooltip"
                              data-placement="top" title="Assign selected typical to entire building">
                              <i class="fa fa-circle fa-stack-2x text-info"></i>
                              <i class="fa fa-building fa-stack-1x fa-inverse"></i>
                        </span>
                    </td>
                </tr>
            {% endfor %}
    </table>
    </div>
</div>

<br>
<a data-toggle="modal" href="#add_new_floor_typical" class="btn btn-xs btn-danger"><i class="fa fa-plus"></i> Add Floor plan typical</a>
<input type="hidden" id="selected-image-to-assign" value="">


<!-- Modal -->
<div id="add_new_floor_typical" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Quick Add For New Floor Plan Typical</h4>
      </div>
      <div class="modal-body">
            <form method="post" style="width: 50%">
                <input type="text" name="floor_plan_typical_type" id="floor_plan_typical_type">
                <button onclick="add_new_property_typical_string();"  id="save-new-level-details" class="btn btn-danger" type="button">Save</button>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="close-typical-create-modal" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<script>
    function add_new_property_typical_string()
    {
        var project_id = $("#current_project_id").val();
        var typical_string = $("#floor_plan_typical_type").val();

          $.ajax({
            url: '/add_new_property_typical_string/' + project_id + '/',
            type: 'GET',
              data: {'typical_string': typical_string},
            success: function (data) {
                var new_typical_id = data.new_typical_id;
                var check_existing_field = $("#string-to-assign-"+new_typical_id).html();

                if (!check_existing_field)
                {
                    $("#typicals-table").append('<tr class="select-to-assign" id="string-to-assign-'+new_typical_id+'">' +
                                                '<td id="type-image-'+new_typical_id+'">'+typical_string+'</td>' +
                                                '<td class="snap-image-name" id="type-image-selector-'+new_typical_id+'">n/a</td>' +
                                                '<td style="text-align: center">' +
                                                '<span data-original-title="Remove selected typical" style="width: 28px; font-size: 12px;" ' +
                            'onclick="delete_typical_type(\''+typical_string+'\', '+new_typical_id+');" ' +
                                                'class="link fa-stack fa-lg" data-toggle="tooltip" data-placement="top" title="">' +
                                                '<i class="fa fa-circle fa-stack-2x text-danger"></i>' +
                                                '<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span>' +
                                '<span data-original-title="Assign selected typical to entire floor" style="width: 28px; font-size: 12px;" ' +
                            'onclick="assign_typical_to_floor(\''+typical_string+'\', '+new_typical_id+');" class="link fa-stack fa-lg" data-toggle="tooltip" data-placement="top" title="">' +
                            '<i class="fa fa-circle fa-stack-2x text-info"></i><i class="fa fa-level-up fa-stack-1x fa-inverse"></i>' +
                            '</span><span data-original-title="Assign selected typical to entire building" style="width: 28px; font-size: 12px;" ' +
                            'onclick="assign_typical_to_building(\''+typical_string+'\', '+new_typical_id+');" class="link fa-stack fa-lg" ' +
                            'data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-circle fa-stack-2x text-info"></i>' +
                            '<i class="fa fa-building fa-stack-1x fa-inverse"></i></span></td></tr>');


                    $("#close-typical-create-modal").click();

                    $().toastmessage('showToast', {
                            text: "New floor plan typical saved successfully",
                            sticky: false,
                            position: 'top-right',
                            type: 'success',
                            closeText: ''}
                    );

                    $().toastmessage('showToast', {
                            text: "Please assign this new typical to a property and then assign an image.",
                            sticky: false,
                            position: 'top-right',
                            type: 'success',
                            closeText: '',
                            stayTime: 6000}
                    );

                    $(".selector-image-apartment").each(function() {
                        $(this).append('<option value="'+data.new_typical_id+'">'+data.set_string+'</option>');
                    });

                    $("#floor_plan_typical_type").val('');
                    $( init );
                }

            }
          });
    }

    $(function() {
        $(document).keypress(function(e){
            if (e.which == 13){

                console.log('hit enter', $("#add_new_floor_typical:visible"));
                if ($("#add_new_floor_typical:visible"))
                {
                    e.preventDefault();
                    add_new_property_typical_string();
                }
            }
        });

        $('[data-toggle="tooltip"]').tooltip();

       $(".selector-image-apartment").change(function() {
            var  property_id = $(this).attr('id');
            property_id = property_id.replace("selector-image-apartment-", "");

            var typical_string = $.trim($("#selector-image-apartment-"+ property_id+" option:selected").text());
            var project_id = $("#current_project_id").val();

            var canvas_id = $("#canvas_id").val();
            var sub_wireframe_id = $("#sub_wireframe_id").val();
            var template_id = $("#template_id").val();

            console.log('in floor change of typical', canvas_id, sub_wireframe_id, template_id, 'end');

            $.ajax({
                url: '/add_typical_string_to_property/' + project_id + '/',
                type: 'GET',
                data: {'typical_string': typical_string, 'property_id': property_id, 'canvas_id': canvas_id,
                'sub_wireframe_id': sub_wireframe_id, 'template_id': template_id},
                success: function (data) {
                    $().toastmessage('showToast', {
                                text: "Image saved to type successfully",
                                sticky: false,
                                position: 'top-right',
                                type: 'success',
                                closeText: ''}
                    );

                    if (data.image_name)
                    {
                        $("#apartment-show-image-name-"+property_id).html(data.image_name);
                    }

                    set_apartment_selected(property_id);

                }
            });

            typical_string = typical_string.replace(/ /g, "");
            $("#apartment-show-image-name-"+property_id).removeClass("property-typical-None").addClass('property-typical-'+typical_string);
            $("#trash-property-image-"+property_id).html('<a id="trash-property-image-'+property_id+'" class="link fa-lg" onclick="remove_property_assigned_image('+property_id+', \''+property_id+'\');"><i class="fa fa-trash-o"></i> </a>');
            $("#trash-property-type-"+property_id).html('<a id="trash-property-type-'+property_id+'" class="link fa-lg" onclick="clear_image_type_from_property('+property_id+');"> <i class="fa fa-trash-o"></i> </a>');
        });
    });
</script>



