{% load model_tags %}
{% load canvas_tags %}

<div class="card card-underline">
    <div class="card-head style-primary-dark">
        <header>Apartments</header>

        <div class="tools">
            <div class="btn-group">
                <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down white"></i></a>
            </div>
        </div>
    </div>

    <div class="card-body tab-content" style="padding: 10px; max-height: 800px; overflow-y: auto">
        <select class="property-type-selection" onchange="filter_property_type(this.value);">
            <option value="">All</option>
            {% for ptype in property_type_list %}
                <option value="{{ ptype.pk }}">{{ ptype }}</option>
            {% endfor %}
        </select>

        <table class="table detail-table" style="padding: 0; margin-bottom: 150px;">
            <tr>
                <th></th>
                <th style="text-align: center;">
                    Key Image
                </th>
                <th style="text-align: center;">
                    <i class="link fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Select to copy"></i>
                </th>
                <th></th>
            </tr>

            {% for item in apartments_dict %}
                <tr id="drop-key-plan-{{ item.id }}"
                    class="apartment-details drop-key-plan apartment-details-{{ item.floor_id }}-{{ item.building_id }}
                           property-type-{{ item.property_type_id }}-{{ item.floor_id }}-{{ item.building_id }}">
                    <td>
                        <a id="key-apartment-link-{{ item.id }}" onclick="set_apartment_selected({{ item.id }}, 'key_plans');"
                            class="apartment-link-{{ item.id }} apartment-link apartment-link-{{ item.id }}-{{ item.building_id }}
                                   btn btn-sm btn-default show-apartment {% if not item.x_coordinate %}btn-default{% else %}btn-danger{% endif %}"
                            data-toggle="tooltip" data-placement="top">
                            {{ item.name }}
                        </a>
                    </td>

                    <td style="text-align: center" class="apartment-show-key-name" id="drop-key-apartment-{{ item.id }}">
                        <div id="apartment-show-key-name-{{ item.id }}">
                            {{ item.key_plan_image_name.image_name }}
                        </div>
                    </td>

                    <td style="text-align: center">
                        {% if item.key_plan_image_name %}
                            <input type="radio" onclick="$('#copy-key-plan').show();" name="key_plan_image_name" class="key-plan-image-resource-id" value="{{ item.key_plan_image_name.resource_id }}">
                        {% endif %}
                    </td>

                    <td>
                        <div id="trash-property-key-{{ item.id }}">
                            {% if item.key_plan_image_name %}
                                <a class="link fa-lg" id="trash-property-image-key-{{ item.id }}"
                                   onclick="remove_property_assigned_key({{ item.id }});">
                                    <i class="fa fa-trash-o"></i> </a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>


        <button id="copy-key-plan" style="display: none;" type="button" class="btn btn-xs btn-warning pull-right"><i class="fa fa-copy"></i> Copy</button>
    </div>
</div>





<script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();

        $('#copy-key-plan').click(function () {
            if (confirm("Are you sure you wish to copy this key plan to the floors selected?"))
            {
                var key_plan = $('input.key-plan-image-resource-id:checked').val();

                var floor_checkboxes = $("input.floor-checkbox:checked");
                 $(floor_checkboxes).each(function() {
                     var floor_id = $(this).attr('id');
                     floor_id = floor_id.replace("floor-hotspot-", "");

                     $.ajax({
                         url: '/copy_key_plan_to_floor/{{ project.pk }}/',
                         type: 'GET',
                         data: {'key_plan': key_plan, 'floor_id': floor_id},
                         success: function (data) {

                         }
                     });
                 }).promise().done( function(){
                    $().toastmessage('showSuccessToast', 'Key plan copied successfully.');
                } );
            }
        })
    });
</script>


