    <table style="padding: 2px;">
        <tr>
            <th style="width: 150px;"></th>
        </tr>

        {% for item in apartments_dict %}
            <tr style="text-align: center" class="apartment-details apartment-details-{{ item.floor_id }}-{{ item.building_id }} property-type-{{ item.property_type_id }}-{{ item.floor_id }}-{{ item.building_id }}" id="apartment-name-{{ item.id }}">
                <td id="apartment-name-text-{{ item.id }}" style="text-align: left; padding: 2px;">
                    <a onclick="click_to_set_aspect({{ item.id }});" class="btn btn-sm {% if not item.x_coordinate %}btn-default{% else %}btn-danger{% endif %} aspect_selector"
                       id="aspect_selector_{{ item.id }}">
                        {{ item.name }}
                    </a>
                </td>
                <td>
                    {% if item.key_plan %}
                        <a class="hovering" href="{{ item.key_plan }}"><i class="fa fa-key"></i> </a>
                    {% else %}
                        <i class="grey fa fa-key"></i>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

<script>
    $(function() {

     $('a.hovering').on({
        mouseover: function(e){
            var xOffset = 10;
            var yOffset = 30;

            this.t = this.title;
            this.title = "";
            var c = (this.t != "") ? "<br/>" + this.t : "";
            $("body").append("<p id='preview'><img src='" + this.href + "' alt='Image preview' /></p>");
            $("#preview")
                .css("top", (e.pageY - xOffset) + "px")
                .css("left", (e.pageX + yOffset) + "px")
                .fadeIn("fast");
        },
         mouseleave: function(){
            this.title = this.t;
            $("#preview").remove();
        },
        click: function(e){
            e.preventDefault();
        }
    });


    });
</script>