{% load model_tags %}

<div class="col-sm-12" style=" overflow-y: auto; display: inline-block; white-space: nowrap">
    <div style="height: 300px; width: 100%; overflow: auto;"  class="wrapper">
        <table class="crunched-table scrollable-header" id="change-log-data">
            <thead>
                <tr>
                    <th data-column-int="1" style="width: 130px;" class="link change-log-sorting">Version &nbsp; <i class="fa fa-sort"></i></th>
                    <th data-column-int="2" style="width: 100px;" class="link change-log-sorting">Project &nbsp; <i class="fa fa-sort"></i></th>
                    <th data-column-int="3" style="width: 170px;" class="link change-log-sorting">Date Created &nbsp; <i class="fa fa-sort"></i></th>
                    <th data-column-int="5" class="link change-log-sorting">Title &nbsp; <i class="fa fa-sort"></i></th>
                    <th data-column-int="4" style="width: 150px;" class="link change-log-sorting">Log By &nbsp; <i class="fa fa-sort"></i></th>
                    <th data-column-int="6" class="link change-log-sorting">Log &nbsp; <i class="fa fa-sort"></i></th>
                </tr>
            </thead>
            <tbody>
                {% for row in all_logged_changes %}
                    <tr class="history-log" onclick="add_selected({{ row.pk }}); $(this).addClass('selected');">
                        <td data-column-int="1"><i class="fa fa-area-chart"></i> &nbsp; <em style="font-size: 10px;">V{{ row.version|default_if_none:"" }}</em>  <span class="grey-opaque"> &nbsp; <em>{{ row.project.get_status_display }}</em></span></td>
                        <td data-column-int="2">{{ row.project.name }}</td>
                        <td data-column-int="3">
                            <span class="pull-right" style="color: transparent; width: 0 !important; height: 0; overflow: hidden;">
                                {{ row.modified|date_to_seconds }}
                            </span>

                            <span class="pull-left">
                                {{ row.modified }}
                            </span>
                        </td>
                        <td data-column-int="5" style="width: 180px;">{{ row.title|default_if_none:"<em>n/a</em>"  }}</td>
                        <td data-column-int="4">{{ row.created_by.get_full_name }}</td>
                        <td data-column-int="6">{{ row.log|default_if_none:"<em>n/a</em>" }}</td>

                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</div>


<script>
    $(function () {
        $(".change-log-sorting").click(function() {

            console.log('change log sort');

            var direction = 'asc';
            var classes = $(this).attr('class');

            if (classes.indexOf("sorting_asc") >= 0)
            {
                direction = 'descending';
                $("#order_page_by_direction").val('desc');
                $(this).addClass('sorting_desc').removeClass('sorting');
            }
            else
            {
                $(".sorting_desc").removeClass('sorting_desc').addClass('sorting');
            }

            if (classes.indexOf("sorting_desc") >= 0)
            {
                $(this).addClass('sorting_asc').removeClass('sorting_desc');
                direction = 'asc';
                $("#order_page_by_direction").val('asc');
            }
            else
            {
                $(".sorting_asc").removeClass('sorting_asc').addClass('sorting');

            }

            $(this).addClass('sorting_asc').removeClass('sorting');

            var check_class = $(this).attr('class');
            if (check_class == 'sorting_asc')
            {
                direction = 'descending';
                $("#order_page_by_direction").val('desc');
                $(this).removeClass('sorting_asc').addClass('sorting_desc');
            }

            var table_column_field = $(this).attr('data-column');
            $("#order_page_by").val(table_column_field);

            var table_column = $(this).attr('data-column-int');

            sort_change_log_table(table_column, direction);

        });
    });

    function sort_change_log_table(table_column, direction)
    {
        var $table=$('#change-log-data');
        var rows = $table.find('tbody tr').get();

        $.each(rows, function(index, row) {
            var td_value = $(row).find("td[data-column-int="+table_column+"]").text().replace(/ +(?= )/g,'').trim().toLowerCase();
            $(this).attr('sorting-by', td_value);
        });

        rows.sort(function(a, b) {

            var keyA = $(a).attr('sorting-by');
            var keyB = $(b).attr('sorting-by');

            var keyAint = parseFloat(keyA);
            var keyBint = parseFloat(keyB);

            if ($.isNumeric(keyAint) && $.isNumeric(keyBint))
            {
                keyA = keyAint;
                keyB = keyBint;
            }

            if (direction == 'asc')
            {
                if (keyA < keyB) return -1;
                if (keyA > keyB) return 1;
            }
            else
            {
                if (keyA < keyB) return 1;
                if (keyA > keyB) return -1;
            }

            return 0;
        });

        $.each(rows, function(index, row) {
            $table.children('tbody').append(row);
        });
    }
</script>

