{% load model_tags %}

<div class="col-sm-12" style=" overflow-y: auto; display: inline-block; white-space: nowrap">
    <div style="height: 250px; width: 100%; overflow: auto;"  class="wrapper">

        <table class="crunched-table scrollable-header" id="comments-table">
            <thead>
                <tr>
                    <th data-column-int="1" class="link comment-sorting" style="width: 100px;">Version  &nbsp; <i class="fa fa-sort"></i></th>
                    <th data-column-int="2" class="link comment-sorting" style="width: 170px;">Project  &nbsp; <i class="fa fa-sort"></i></th>
                    <th data-column-int="3" class="link comment-sorting" style="width: 170px;">Date Created  &nbsp; <i class="fa fa-sort"></i></th>
                    <th data-column-int="4" class="link comment-sorting" style="width: 150px;">Comment By  &nbsp; <i class="fa fa-sort"></i></th>
                    <th data-column-int="5" class="link comment-sorting" style="width: 180px;">Title  &nbsp; <i class="fa fa-sort"></i></th>
                    <th data-column-int="6" class="link comment-sorting">Notes  &nbsp; <i class="fa fa-sort"></i></th>
                </tr>
            </thead>

            <tbody>

                {% for row in all_comments %}
                    <tr class="comments-row comments-row-{{ row.project.version|cut:'.' }}" onclick="add_selected({{ row.pk }});$(this).addClass('selected');">
                        <td data-column-int="1">
                            <i class="fa fa-comment"></i> <em style="font-size: 10px;">V{{ row.project.version|default_if_none:"" }}</em>
                        </td>
                        <td data-column-int="2">{{ row.project.name }} &nbsp; &nbsp; <span class="grey-opaque">{{ row.project.get_status_display }}</span></td>
                        <td data-column-int="3">
                            <span class="pull-right" style="color: transparent; width: 0 !important; height: 0; overflow: hidden;">
                                {{ row.created|date_to_seconds }}
                            </span>

                            <span class="pull-left">
                                {{ row.created }}
                            </span>
                        </td>
                        <td data-column-int="4">{{ row.created_by.get_full_name }}</td>
                        <td data-column-int="5">{{ row.title|default_if_none:"<em>n/a</em>"  }}</td>
                        <td data-column-int="6">{{ row.notes|default_if_none:"<em>n/a</em>" }}</td>
                    </tr>
                {% endfor %}

            </tbody>

        </table>
    </div>
</div>

<script>
    $(function() {
        var nametable = $('#comments-table');

        nametable.floatThead({
            scrollContainer: function ($table) {
                return $table.closest('.wrapper');
            }
        });


    $(".comment-sorting").click(function() {
            console.log('comment-sorting');

            var direction = 'asc';
            var classes = $(this).attr('class');

            if (classes.indexOf("sorting_asc") >= 0)
            {
                direction = 'descending';
                $("#order_page_by_direction").val('desc');
                $(this).addClass('sorting_desc').removeClass('sorting');
            }
            else
            {
                $(".sorting_desc").removeClass('sorting_desc').addClass('sorting');
            }

            if (classes.indexOf("sorting_desc") >= 0)
            {
                $(this).addClass('sorting_asc').removeClass('sorting_desc');
                direction = 'asc';
                $("#order_page_by_direction").val('asc');
            }
            else
            {
                $(".sorting_asc").removeClass('sorting_asc').addClass('sorting');

            }

            $(this).addClass('sorting_asc').removeClass('sorting');

            var check_class = $(this).attr('class');
            if (check_class == 'sorting_asc')
            {
                direction = 'descending';
                $("#order_page_by_direction").val('desc');
                $(this).removeClass('sorting_asc').addClass('sorting_desc');
            }

            var table_column_field = $(this).attr('data-column');
            $("#order_page_by").val(table_column_field);

            var table_column = $(this).attr('data-column-int');

            console.log('---- ', table_column, direction);

            sort_comment_table(table_column, direction);

        });
    });


    function sort_comment_table(table_column, direction)
    {
        var $table=$('#comments-table');
        var rows = $table.find('tbody tr').get();

        $.each(rows, function(index, row) {
            var td_value = $(row).find("td[data-column-int="+table_column+"]").text().replace(/ +(?= )/g,'').trim().toLowerCase();
            $(this).attr('sorting-by', td_value);
        });

        rows.sort(function(a, b) {

            var keyA = $(a).attr('sorting-by');
            var keyB = $(b).attr('sorting-by');

            var keyAint = parseFloat(keyA);
            var keyBint = parseFloat(keyB);

            if ($.isNumeric(keyAint) && $.isNumeric(keyBint))
            {
                keyA = keyAint;
                keyB = keyBint;
            }

            if (direction == 'asc')
            {
                if (keyA < keyB) return -1;
                if (keyA > keyB) return 1;
            }
            else
            {
                if (keyA < keyB) return 1;
                if (keyA > keyB) return -1;
            }

            return 0;
        });

        $.each(rows, function(index, row) {
            $table.children('tbody').append(row);
        });
    }
</script>