{% load model_tags %}

<div class="col-sm-12" style=" overflow-y: auto; display: inline-block; white-space: nowrap">
    <div style="height: 250px; width: 100%; overflow: auto;"  class="wrapper">

        <table class="crunched-table scrollable-header" id="history-table-data">
            <thead>
                <tr>
                    <th data-column-int="1" class="link history-sorting">PID  &nbsp; <i class="fa fa-sort"></i></th>
                    <th data-column-int="2" class="link history-sorting">Name  &nbsp; <i class="fa fa-sort"></i></th>
                    <th data-column-int="3" class="link history-sorting">V Number  &nbsp; <i class="fa fa-sort"></i></th>
                    <th data-column-int="4" class="link history-sorting">Publish Path  &nbsp; <i class="fa fa-sort"></i></th>
                    <th data-column-int="5" class="link history-sorting">Date Created  &nbsp; <i class="fa fa-sort"></i></th>
                    <th data-column-int="6" class="link history-sorting">Date Modified  &nbsp; <i class="fa fa-sort"></i></th>
                    <th data-column-int="7" class="link history-sorting">Created By  &nbsp; <i class="fa fa-sort"></i></th>
                    <th data-column-int="8" class="link history-sorting">Modified By  &nbsp; <i class="fa fa-sort"></i></th>
                    <th data-column-int="9" class="link history-sorting">Last Sync  &nbsp; <i class="fa fa-sort"></i></th>
                    <th data-column-int="10" class="link history-sorting">Parent V  &nbsp; <i class="fa fa-sort"></i></th>
                    <th data-column-int="11" class="link history-sorting">Status &nbsp; <i class="fa fa-sort"></i></th>
                    <th data-column-int="12" class="link history-sorting">Script &nbsp; <i class="fa fa-sort"></i></th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for project_row in all_projects %}
                    <tr class="link comment-show-row history-show-row comment-show-row-{{ project_row.pk }}"
                        onclick="add_selected({{ project_row.pk }}); $('.history-show-row').removeClass('selected'); $(this).addClass('selected');">
                        <td data-column-int="1" style="width: 70px;">
                            {{ project_row.pk }}
                            {% if project_row.active %}
                                &nbsp; <i class="fa fa-check"></i>
                            {% endif %}
                        </td>

                        <td data-column-int="2" style="width: 90px;">{{ project_row.name }}</td>
                        <td data-column-int="3" style="width: 90px;">{{ project_row.version }}</td>

                        <td data-column-int="4" style="font-size: 9px; cursor: default;">
                            {% if project_row.get_publish_path %}
                                /{{ project_row.get_publish_path  }}
                            {% else %}
                                <em>n/a</em>
                            {% endif %}
                        </td>

                        <td data-column-int="5">
                            <span class="pull-right" style="color: transparent; width: 0 !important; height: 0; overflow: hidden;">
                                {{ project_row.created|date_to_seconds }}
                            </span>

                            <span class="pull-left">
                                {{ project_row.created|default_if_none:"<em>n/a</em>" }}
                            </span>

                        </td>
                        <td data-column-int="6">
                            <span class="pull-right" style="color: transparent; width: 0 !important; height: 0; overflow: hidden;">
                                {{ project_row.modified|date_to_seconds }}
                            </span>

                            <span class="pull-left">
                                {{ project_row.modified|default_if_none:"<em>n/a</em>" }}
                            </span>
                        </td>
                        <td data-column-int="7">{{ project_row.created_by.get_full_name|default_if_none:"<em>n/a</em>"  }}</td>
                        <td data-column-int="8">{{ project_row.last_modified_by.get_full_name|default_if_none:"<em>n/a</em>" }}</td>
                        <td data-column-int="9">
                            <span class="pull-right" style="color: transparent; width: 0 !important; height: 0; overflow: hidden;">
                                {{ project_row.last_sync|date_to_seconds }}
                            </span>

                            <span class="pull-left">
                                {{ project_row.last_sync|default_if_none:"<em>n/a</em>"  }}
                            </span>
                        </td>
                        <td data-column-int="10">{{ project_row.parent_version|default_if_none:"<em>n/a</em>" }}</td>
                        <td data-column-int="11">

                            <select id="project-status-{{ project_row.pk }}-{{ project_row.html_friendly_version }}" class="project-version-status current-status-{{ project_row.status }}">
                                {% for status in project_statuses %}
                                    <option value="{{ status.0 }}" {% ifequal project_row.status status.0 %} selected {% endifequal %}>{{ status.1 }}</option>
                                {% endfor %}
                            </select>


                            <span style="color: transparent; width: 0;">
                                {{ project_row.status }}
                            </span>
                        </td>
                        <td data-column-int="12">
                            <small><i class="fa fa-scribd"></i></small> &nbsp;
                            <select id="project-script-{{ project_row.pk }}-{{ project_row.version }}" class="project-version-script" style="width: 110px;">
                                <option value="0">Select Script -></option>
                                {% for row in all_scripts %}
                                    <option value="{{ row.pk }}"
                                            {% ifequal project_row.selected_script.pk row.pk %}selected{% endifequal %}>
                                        {{ row.script_name|default_if_none:"<em>n/a</em>" }}
                                    </option>
                                {% endfor %}
                            </select>

                            <span style="color: transparent; width: 0;">
                                {{ project_row.selected_script.name }}
                            </span>
                        </td>
                        <td>
                            <i onclick="get_comments({{ project_row.version|cut:'.' }});" data-toggle="tooltip" data-placement="left"
                               title="View Comments for {{ project_row.version }}"  class="link fa fa-comment"></i>

                            &nbsp; &nbsp;

                            <i onclick="clone_project_with_data({{ project_row.pk }}, '{{ project_row.name }}', '{{ project_row.version }}');"
                               data-toggle="tooltip" data-placement="left" title="Clone This Version"  class="link fa fa-file"></i>
                            &nbsp;&nbsp;

                            <a class="btn btn-xs btn-black" href="/projects/{{ project_row.pk }}/">
                                <span data-toggle="tooltip"
                               data-placement="left" title="Go to Version {{ project_row.version }} Overview">
                                    <i class="fa fa-puzzle-piece text-success"></i>
                                </span>

                            </a>

                            {% if request|project_available_count:project_row %}
                                <a class="btn btn-xs btn-black" href="{% url 'projects-administration' project_row.pk %}">
                                    <span data-toggle="tooltip"
                                   data-placement="left" title="Go to Project Administration">
                                        <i class="fa fa-building text-warning"></i>
                                    </span>

                                </a>
                            {% else %}
                                <a class="btn btn-xs btn-default " href="{% url 'projects-select-template' project_row.pk %}">
                                    <i class="fa fa-building grey-opaque" data-toggle="tooltip"
                                    data-placement="left" title="No data. Go to Imports."></i>
                                </a>

                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</div>

<script>
    function get_comments(row_id)
    {
        $(".comment-show-row").removeClass('selected');
        $(".comment-show-row-"+row_id).addClass('selected');

        $('#comments-card').show();
        $('.comments-row').hide();
        $('.comments-row-'+row_id).show("highlight");
    }

    function add_selected(project_id)
    {
        $('.history-log').removeClass('selected');
        $('.comments-row').removeClass('selected');
        $('.comment-show-row').removeClass('selected');

        $("#current-project").val(project_id);
        $("#selected-user-project").val(project_id);
    }

    $(function() {
        var nametable = $('table.scrollable-header');

        nametable.floatThead({
            scrollContainer: function ($table) {
                return $table.closest('.wrapper');
            }
        });

        $(".project-version-status").change(function() {

                var project_id = $(this).attr('id');
                project_id = project_id.replace("project-status-", "");

                var version_project = project_id.split("-");
                var version_id = version_project[1];
                version_id = version_id.replace("-", ".");

                project_id = version_project[0];

                var status_value = $(this).val();
                var current_status = $(this).attr('class');
                current_status = current_status.replace("project-version-status current-status-", "");
                var error = false;

                if (current_status == "staging" && status_value == "live")
                {
                    var translations = $("#project-has-translation").val();

                    if (translations == "False")
                    {
                         $().toastmessage('showToast', {text : "This project does not have any completed Translations.",
                        position : 'top-right',  stayTime: 2500, type : 'error'});
                        error = true;

                        $(this).val(current_status);

                    }
                    else
                    {
                       $("#project-moving-status").html("Project Moving from Staging to Live");
                         $("#select_project_user_staging_modal").modal('show');
                    }

                }

                else if (current_status == "live" && status_value == "staging")
                {
                    $("#project-moving-status").html("Project Moving from Live to Staging");
                    $("#select_project_user_staging_modal").modal('show');
                }

                else
                {
                    if (!error)
                    {
                        var message = "Are you sure you wish to change the status for this project and version (" + version_id +") to "+status_value+" ?";

                        if (confirm(message))
                        {
                            var family_id = $("#family-id").val();

                            $.ajax({
                                url: '/change_project_version_status/'+project_id+'/',
                                type: 'GET',
                                data: {'status': status_value},
                                success: function (data) {

                                    $().toastmessage('showToast', {text : "Project status saved successfully.",
                                        position : 'top-right',  stayTime: 1500, type : 'success'});

                                    console.log('family_id', family_id);
                                    get_new_project_version(family_id, false);
                                }
                            });
                        }
                        else
                        {
                            $(this).val(current_status);
                        }
                    }
                    else
                    {
                        console.log(6);
                        $(this).val(current_status);
                    }

                }
            });


        $(".history-sorting").click(function() {

            var direction = 'asc';
            var classes = $(this).attr('class');

            if (classes.indexOf("sorting_asc") >= 0)
            {
                direction = 'descending';
                $("#order_page_by_direction").val('desc');
                $(this).addClass('sorting_desc').removeClass('sorting');
            }
            else
            {
                $(".sorting_desc").removeClass('sorting_desc').addClass('sorting');
            }

            if (classes.indexOf("sorting_desc") >= 0)
            {
                $(this).addClass('sorting_asc').removeClass('sorting_desc');
                direction = 'asc';
                $("#order_page_by_direction").val('asc');
            }
            else
            {
                $(".sorting_asc").removeClass('sorting_asc').addClass('sorting');

            }

            $(this).addClass('sorting_asc').removeClass('sorting');

            var check_class = $(this).attr('class');
            if (check_class == 'sorting_asc')
            {
                direction = 'descending';
                $("#order_page_by_direction").val('desc');
                $(this).removeClass('sorting_asc').addClass('sorting_desc');
            }

            var table_column_field = $(this).attr('data-column');
            $("#order_page_by").val(table_column_field);

            var table_column = $(this).attr('data-column-int');

            console.log('---- ', table_column, direction);

            sort_history_table(table_column, direction);

        });
    });

    function sort_history_table(table_column, direction)
    {
        var $table=$('#history-table-data');
        var rows = $table.find('tbody tr').get();

        $.each(rows, function(index, row) {
            var td_value = $(row).find("td[data-column-int="+table_column+"]").text().replace(/ +(?= )/g,'').trim().toLowerCase();
            $(this).attr('sorting-by', td_value);
        });

        rows.sort(function(a, b) {

            var keyA = $(a).attr('sorting-by');
            var keyB = $(b).attr('sorting-by');

            var keyAint = parseFloat(keyA);
            var keyBint = parseFloat(keyB);

            if ($.isNumeric(keyAint) && $.isNumeric(keyBint))
            {
                keyA = keyAint;
                keyB = keyBint;
            }

            if (direction == 'asc')
            {
                if (keyA < keyB) return -1;
                if (keyA > keyB) return 1;
            }
            else
            {
                if (keyA < keyB) return 1;
                if (keyA > keyB) return -1;
            }

            return 0;
        });

        $.each(rows, function(index, row) {
            $table.children('tbody').append(row);
        });
    }
</script>