{% load model_tags %}

<div class="col-sm-12" style=" overflow-y: auto; display: inline-block; white-space: nowrap">
    <div style="height: 300px; width: 100%; overflow: auto;"  class="wrapper">
        <table  class="crunched-table scrollable-header" id="project-version-list-table">
            <thead>
                <tr>
                    <th><i class="fa fa-question"></i> </th>
                    <th data-column-int="1" class="link project-sorting">Project Family &nbsp; <i class="fa fa-sort" style="z-index: 5"></i></th>
                    <th data-column-int="2" class="link project-sorting">Version</th>
                    <th data-column-int="4" class="link project-sorting">Status  &nbsp; <i class="fa fa-sort"></i></th>
                    <th data-column-int="5" class="link project-sorting">Date Created  &nbsp; <i class="fa fa-sort"></i></th>
                    <th data-column-int="6" class="link project-sorting">Date Modified  &nbsp; <i class="fa fa-sort"></i></th>
                    <th data-column-int="7" class="link project-sorting">Created By  &nbsp; <i class="fa fa-sort"></i></th>
                    <th data-column-int="8" class="link project-sorting">Modified By  &nbsp; <i class="fa fa-sort"></i></th>
                    <th data-column-int="9" class="link project-sorting">Last Sync  &nbsp; <i class="fa fa-sort"></i></th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for family in all_families %}

                    <tr class="project-list project-list-{{ family.pk }}" id="project-list-row-{{ family.pk }}">

                        <td class="link" onclick="get_new_project_version({{ family.pk }}, true);">
                            {% ifequal family.pk project.pk%}
                                <i class="fa fa-check project-select-checkbox" id="project-select-check-{{ family.pk }}"></i>
                            {% else %}
                                <i class="fa fa-square project-select-checkbox" id="project-select-check-{{ family.pk }}"></i>
                            {% endifequal %}
                        </td>

                        <td  data-column-int="1" class="link" onclick="get_new_project_version({{ family.pk }}, true);">
                            {{ family.family_name }}
                        </td>

                         <td data-column-int="2">
                            {{ family.latest_version }}
                        </td> 
                        <td data-column-int="4">
                            {{ family.latest.get_status_display }}
                        </td>
                         <td data-column-int="5">
                            <span class="pull-right" style="color: transparent; width: 0 !important; height: 0; overflow: hidden;">
                                {{ family.latest.created|date_to_seconds }}
                            </span>

                            <span class="pull-left">
                                {{ family.latest.created|date:"d-M-Y" }}
                            </span>
                        </td>
                         <td data-column-int="6">
                            <span class="pull-right" style="color: transparent; width: 0 !important; height: 0; overflow: hidden;">
                                {{ family.latest.modified|date_to_seconds }}
                            </span>

                            <span class="pull-left">
                                {{ family.latest.modified|date:"d-M-Y h:i:s" }}
                            </span>
                        </td>
                         <td data-column-int="7">
                           {{ family.latest.created_by.get_full_name|default_if_none:"<em>n/a</em>"  }}
                        </td> 
                        <td data-column-int="8">
                            {{ family.latest.last_modified_by.get_full_name|default_if_none:"<em>n/a</em>"  }}
                        </td> 
                        <td data-column-int="9">
                            <span class="pull-right" style="color: transparent; width: 0 !important; height: 0; overflow: hidden;">
                                {{ family.latest.last_sync|date_to_seconds }}
                            </span>

                            <span class="pull-left">
                                {{ family.latest.last_sync|date:"d-M-Y"|default_if_none:"n/a" }}
                            </span>
                        </td>
                        <td>
                            <i onclick="clone_project_without_data({{ family.latest.pk }}, '{{ family.latest.name }}');"
                               data-toggle="tooltip" data-placement="top" title="Create empty version" class="link text-danger fa fa-copy"></i>
                            &nbsp;

                            <i onclick="clone_project_with_data({{ family.latest.pk }}, '{{ family.latest.name }}', '{{ family.latest.version }}');"
                               data-toggle="tooltip" data-placement="left" title="Clone Project"  class="link fa fa-file"></i>
                            &nbsp;

                            <i onclick="$('#comments-card').show();  $('.comments-project').show();"
                               data-toggle="tooltip" data-placement="top" title="View Comments"
                               class="link fa fa-comment"></i>

                            &nbsp;

                            <i onclick="$('#change-log-card').show();" data-toggle="tooltip" data-placement="left"
                               title="View Change Log"  class="link fa fa-area-chart"></i>
                            &nbsp;

                            <i style="display: none;" id="show-history-link-{{ family.latest.pk }}" onclick="$('#history-card').show(); $('#show-history-link-{{ family.pk }}').hide();"
                               data-toggle="tooltip" data-placement="left"
                               title="View History & Scripts"  class="link fa fa-calendar"></i>

                             &nbsp;

                            <a href="{% url 'projects-view' family.latest.pk %}">
                                <i id="show-history-projects-{{ family.latest.pk }}"
                               data-toggle="tooltip" data-placement="left"
                               title="View Project Overview"  class="link fa fa-puzzle-piece"></i>
                            </a>

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<input type="hidden" id="selected-family" value="{{ project_family.pk }}">


<script>
    $(function() {
        var family_id = $("#selected-family").val();
        get_new_project_version(family_id, true);

        var nametable = $('table.scrollable-header');

        nametable.floatThead({
            scrollContainer: function ($table) {
                return $table.closest('.wrapper');
            }
        });

        $(".project-sorting").click(function() {
            console.log('project-version-list-table sorting click');

            var direction = 'asc';
            var classes = $(this).attr('class');

            if (classes.indexOf("sorting_asc") >= 0)
            {
                direction = 'descending';
                $("#order_page_by_direction").val('desc');
                $(this).addClass('sorting_desc').removeClass('sorting');
            }
            else
            {
                $(".sorting_desc").removeClass('sorting_desc').addClass('sorting');
            }

            if (classes.indexOf("sorting_desc") >= 0)
            {
                $(this).addClass('sorting_asc').removeClass('sorting_desc');
                direction = 'asc';
                $("#order_page_by_direction").val('asc');
            }
            else
            {
                $(".sorting_asc").removeClass('sorting_asc').addClass('sorting');

            }

            $(this).addClass('sorting_asc').removeClass('sorting');

            var check_class = $(this).attr('class');
            if (check_class == 'sorting_asc')
            {
                direction = 'descending';
                $("#order_page_by_direction").val('desc');
                $(this).removeClass('sorting_asc').addClass('sorting_desc');
            }

            var table_column_field = $(this).attr('data-column');
            $("#order_page_by").val(table_column_field);

            var table_column = $(this).attr('data-column-int');

            console.log('---- ', table_column, direction);

            sort_project_table(table_column, direction);

        });
    });


    function sort_project_table(table_column, direction)
    {
        var $table=$('#project-version-list-table');
        var rows = $table.find('tbody tr').get();

        $.each(rows, function(index, row) {
            var td_value = $(row).find("td[data-column-int="+table_column+"]").text().replace(/ +(?= )/g,'').trim().toLowerCase();
            $(this).attr('sorting-by', td_value);
        });

        rows.sort(function(a, b) {

            var keyA = $(a).attr('sorting-by');
            var keyB = $(b).attr('sorting-by');

            var keyAint = parseFloat(keyA);
            var keyBint = parseFloat(keyB);

            if ($.isNumeric(keyAint) && $.isNumeric(keyBint))
            {
                keyA = keyAint;
                keyB = keyBint;
            }

            if (direction == 'asc')
            {
                if (keyA < keyB) return -1;
                if (keyA > keyB) return 1;
            }
            else
            {
                if (keyA < keyB) return 1;
                if (keyA > keyB) return -1;
            }

            return 0;
        });

        $.each(rows, function(index, row) {
            $table.children('tbody').append(row);
        });
    }

    function set_sorting(sorting_by, selected_direction)
    {
        var direction = selected_direction;
        var table_column = $("#page-data-table th[data-column='"+sorting_by+"']");

        var table_column_int = $(table_column).attr("data-column-int");

        var check_class = $(table_column).attr('class');
        $(table_column).removeClass('sorting').addClass('sorting_'+selected_direction);

        sort_table(table_column_int, selected_direction);
    }

</script>