<div class="card card-underline" id="history-card">
    <div class="card-head style-default-dark">
        <div class="tools">
                <div class="btn-group">
                    <em>{{ project.name|capfirst }}</em> &nbsp;
                    <a onclick="$('#history-card').hide(); $('#show-history-link-{{ project.pk }}').show();" class="btn btn-icon-toggle btn-hide pull-right"><i class="fa white fa-close"></i></a>
                    <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa white fa-angle-down"></i></a>
                </div>
        </div>
        <ul class="nav nav-tabs" style="float: left; margin-top: -15px;">

            <li class="active main-tabs level-plans switch_plans_tab_level">
              <a id="project-history-tab" href="#section-price-list" data-toggle="tab" style="margin-top: 10px;">
                  <label class="link">History &nbsp; <i class="fa fa-calendar"></i> </label>
              </a>
            </li>

            <li class="main-tabs level-plans switch_plans_tab_level" id="li-project-scripts-tab">
              <a id="project-scripts-tab"  href="#section-scripts" data-toggle="tab" style="margin-top: 10px;">
                  <label class="link">Scripts &nbsp; <i class="fa fa-scribd"></i></label>
              </a>
            </li>

            <li class="main-tabs level-plans switch_plans_tab_level">
              <a id="project-users-tab"  href="#section-users" data-toggle="tab" style="margin-top: 10px;">
                  <label class="link">Users &nbsp; <i class="fa fa-users"></i></label>
              </a>
            </li>

            <li class="main-tabs level-plans switch_plans_tab_level" id="li-project-translation-tab">
              <a id="project-translation-tab"  href="#section-translation" data-toggle="tab" style="margin-top: 10px;">
                  <label class="link">Translation Details &nbsp; <i class="fa fa-signal"></i></label>
              </a>
            </li>
        </ul>
    </div>

     <div class="card-body tab-content" style="padding: 20px;">
        <div class="tab-content" style="">
            <div id="section-price-list" class="active tab-pane fade in">
                <div class="col-sm-12">
                    {% if all_projects %}
                        {% include "projects/version/includes/history.html" %}
                    {% else %}
                        <em>There is no version history for this project</em>
                    {% endif %}
                </div>
            </div>

            <div id="section-scripts" class=" tab-pane fade in">
                <div class="col-sm-12" style="max-height: 600px; overflow-y: auto; display: inline-block; white-space: nowrap">
                    <a class="pull-right btn btn-black btn-xs" data-toggle="modal" data-target="#add_new_script_modal">
                        <span data-toggle="tooltip" data-placement="left" title="Add new script" >
                            <i class="text-success fa fa-plus"></i>
                            <i class="text-success fa fa-scribd"></i>
                        </span>
                    </a>
                    <br><br>

                    {% if project.all_logged_scripts %}
                        {% include "projects/version/includes/scripts.html" %}
                    {% else %}
                        <em>There are no scripts loaded for this project</em>
                    {% endif %}
                </div>
            </div>

            <div id="section-users" class=" tab-pane fade in">
                <div class="col-sm-12">
                    {% include "projects/version/includes/users.html" with users=users %}
                </div>
            </div>

            <div id="section-translation" class=" tab-pane fade in">
                <div class="col-sm-12" id="section-translation-details">
                    {% include "projects/version/includes/translation_details.html" with translation_form=translation_form %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card card-underline" id="comments-card">
    <div class="card-head style-default-dark">
        <header>Comments  &nbsp; <i class="fa fa-comments"></i></header>
        <div class="tools">
            <div class="btn-group">
                <em>{{ project.name|capfirst }}</em> &nbsp;
                <a onclick="$('#comments-card').hide();" class="btn btn-icon-toggle btn-hide pull-right"><i class="fa white fa-close"></i></a>
                <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa white fa-angle-down"></i></a>
            </div>
        </div>
    </div>

     <div class="card-body tab-content" style="padding: 20px;">

        <a class="pull-right btn btn-black btn-xs" data-toggle="modal" data-target="#add_new_comment_modal">
            <span data-toggle="tooltip" data-placement="left" title="Add new comment">
                <i class="text-success fa fa-plus"></i> <i class="text-success fa fa-comment"></i>
            </span>
        </a><br><br>

         {% if all_comments %}
            {% include "projects/version/includes/comments.html" %}
         {% else %}
            <em>There are no comments for this project.</em>
         {% endif %}

     </div>
</div>
<div class="card card-underline" id="change-log-card">
    <div class="card-head style-default-dark">
        <header>Project change log &nbsp; <i class="fa fa-area-chart"></i></header>

        <div class="tools">
            <div class="btn-group">
                <em>{{ project.name|capfirst }}</em> &nbsp;
                <a onclick="$('#change-log-card').hide();" class="btn btn-icon-toggle btn-hide pull-right"><i class="fa white fa-close"></i></a>
                <a  class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa white fa-angle-down"></i></a>
            </div>
        </div>
    </div>

    <div id="project-log" class="card-body tab-content" style="padding: 20px;">
        <div id="show-project-logs">
            {% if all_logged_changes %}
                {% include "projects/version/includes/change_log.html" %}
            {% else %}
                <em>There is no change log for this project.</em>
            {% endif %}
        </div>

    </div>
</div>

<input type="hidden" id="current-project" value="{{ project.pk }}">
<input type="hidden" id="current-project-version" value="{{ project.version }}">
<input type="hidden" id="family-id" value="{{ family.pk }}">

<br>
<a href="{{ project.get_absolute_url }}" class="btn btn-process-back">Project Overview</a>

<div id="add_new_comment_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">
            <i class="fa fa-comment"></i> &nbsp; Add New Comment
        </h3>
      </div>
      <div class="modal-body">
            <div id="add-project-version-comment">
                <form action method="POST" id="add-project-version-comment-form">
                    {% csrf_token %}
                    {{ comment_form.as_table  }}
                    <br>
                    <button type="button" onclick="submit_version_comment_form();" class="btn btn-process">Save</button>
                </form>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="close-property-create-modal" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
</div>
</div>
</div>
<div id="add_new_script_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title"><i class="fa fa-comment"></i> &nbsp; Add New Script Information: {{ project.name }}   <small><em>V{{ project.version }}</em></small></h3>
      </div>
      <div class="modal-body">
            <div id="add-project-version-comment">
                <form action method="POST" id="add-project-version-scripts-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ scripts_form.as_p  }}
                    <br>
                    <button type="button" onclick="submit_version_script_form();" class="btn btn-process">Save</button>
                </form>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="close-property-create-modal" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
</div>
</div>
</div>
<div id="add_new_project_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
          {% include "projects/includes/create_project.html" %}
      </div>
      <div class="modal-footer">
        <button type="button" id="close-level-create-modal" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div id="select_project_user_staging_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="project-moving-status">Project Moving from Staging to Live</h4>
      </div>
      <div class="modal-body">
          You are moving a project from Staging to Live.<br>
          Do you wish to move all users or only Display Sweet Admin users?<Br>

          <em>Please note: This will affect any property allocations set for each user if they are not moved.</em>
          <br><br>

          <div class="row">
              <div class="col-sm-4">
                  <label>Move all users</label>
                  <input id="move-all-users" name="selecting-project-users" value="all_users" type="radio">
              </div>
              <div class="col-sm-4">
                  <label>Move only DS admin</label>
                  <input id="move-ds-users-only" name="selecting-project-users" value="ds_only" type="radio" checked>
              </div>

              <div class="col-sm-2">

              </div>
          </div>

      </div>
      <div class="modal-footer">
{#            <button type="button" id="close-level-create-modal" class="btn btn-default" data-dismiss="modal">Close</button>#}
          <button class="btn btn-sm btn-danger" onclick="save_project_status();">Submit</button>
      </div>
    </div>
  </div>
</div>


<script>
    $(function () {
       $(".project-version-script").change(function () {
            var project_id = $(this).attr('id');
            project_id = project_id.replace("project-script-", "");

            var version_project = project_id.split("-");
            var version_id = version_project[1];
            version_id = version_id.replace("-", ".");

            project_id = version_project[0];

            var script_id = $(this).val();

            $.ajax({
                url: '/change_project_selected_script/'+project_id+'/',
                type: 'GET',
                data: {'script_id': script_id},
                success: function (data) {

                    $().toastmessage('showToast', {text : "Project version script saved successfully", position : 'top-right',  stayTime: 3000, type : 'success'});
                    get_new_project_version(project_id, false);
                }

            });
        });
    });
</script>