<table class="table table-striped">
    <tr>
        <th style="width: 100px;"></th>
        <th style="width: 150px;" class="link sorting">Date Created  &nbsp; <i class="fa fa-sort"></i></th>
        <th style="width: 150px;" class="link sorting">Script Loaded By  &nbsp; <i class="fa fa-sort"></i></th>
        <th class="link sorting">Script Name  &nbsp; <i class="fa fa-sort"></i></th>
        <th class="link sorting">Notes  &nbsp; <i class="fa fa-sort"></i></th>
        <th class="link sorting">File  &nbsp; <i class="fa fa-sort"></i></th>
        <th></th>
    </tr>

    {% for row in all_scripts %}
        <tr class="comments-row comments-row-{{ row.version|cut:'.' }}" id="project-script-row-{{ row.pk }}">
            <td>
                <i class="fa fa-comment"></i> <em style="font-size: 10px;">V{{ row.version|default_if_none:"" }}</em>
            </td>
            <td>{{ row.created }}</td>
            <td>{{ row.created_by.get_full_name }}</td>
            <td>{{ row.script_name|default_if_none:"<em>n/a</em>"  }}</td>
            <td>{{ row.notes|default_if_none:"<em>n/a</em>" }}</td>
            <td>
                {% if row.file %}
                    <a href="{{ row.file.url }}" target="_blank">{{ row.file.name|cut:'project_scripts/' }}</a>
                {% endif %}
            </td>
            <td>
                <a onclick="remove_script_and_notes({{ row.pk }});" href="#" data-toggle="tooltip" data-placement="left" title="Remove script & notes"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
    {% endfor %}
</table>