
<div class="row">
    <div class="col-sm-5">
        <form action method="post" id="project-translation-form" enctype="multipart/form-data" class="form">
            {% csrf_token %}

            {% if translation_form.errors %}
                <div class="error">
                    {{ translation_form.errors }}
                    <br>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-sm-10">
                    {% for field in translation_form.visible_fields %}
                        <div class="form-well">
                            {% include "includes/field.html" with field=field %}

                            {% if field.help_text %}
                                <br>
                                {{ field.help_text|safe }}
                            {% endif %}
                        </div><br>
                    {% endfor %}
                </div>
            </div>

            <br><br>
            <img src="/static/common/img/loading-trans.gif" class="loading-gif" id="saving-gif" style="display: none;">
            <button type="button" onclick="save_translation_details();" id="btn-process-save"
                    name="submit" value="Submit" class="btn btn-process">Save Details</button>

            <button style="margin-left: 20px;" type="button" onclick="set_translation();" id="btn-process"
                    name="submit" value="Submit" class="btn btn-process">Run New Translation</button>

            <img src="/static/common/img/loading-trans.gif" class="loading-gif" id="loading-gif" style="display: none;">
            <input id="project-has-translation" type="hidden" value="{{ project.has_successful_translation }}">
            <input type="hidden" id="translation-family-id" value="{{ family.pk }}">

            <span id="successful-translation" style="display: none; margin-top: 5px;">
                &nbsp; <i class="fa-2x fa fa-check text-success"></i>
            </span>

            <span id="failed-translation" style="display: none; margin-top: 5px;">
                &nbsp; <i class="fa-2x fa fa-warning text-danger"></i>
            </span>
        </form>
    </div>


</div>




<script>
    $(function () {

        $("#id_project").change(function () {
             var project_id = $(this).val();
             var family_id = $("#translation-family-id").val();

             $.ajax({
                 url: '/get_translation_form_for_project/' + project_id + '/'+ family_id + '/',
                 type: 'GET',
                 success: function (data) {
                     $("#project-translation-form").html(data.rendered);

                     $().toastmessage('showToast', {
                        text: "Project selected for form",
                        sticky: false,
                        position: 'top-right',
                        type: 'success',
                        closeText: ''}
                    );
                 }
             });
        });

    });

    function set_translation()
    {
        $('#loading-gif').show();
        $('#btn-process').hide();
        $("#successful-translation").hide();
        $("#failed-translation").hide();

        $().toastmessage('showToast', {text : "Translation started. Please wait.",
            stayTime: 8000, type : 'success'});

        var project_id = $("#id_project").val();
        var family_id = $("#translation-family-id").val();
        var formdata = new FormData($('#project-translation-form')[0]);
        var csrf_token = $('#project-translation-form input[name="csrfmiddlewaretoken"]').val();

        $.ajax({
            url: '/start_version_translation/' + project_id +'/' + family_id + '/',
            type: 'POST',
            csrfmiddlewaretoken: csrf_token,
            data: formdata,
            enctype: "multipart/form-data",
            processData: false,
            contentType: false,
            success: function (data) {

                if (data.translation_message)
                {
                    $().toastmessage('showToast', {
                        text: "Error: "+  (data.translation_message).toString(),
                        sticky: false,
                        position: 'top-right',
                        type: 'error',
                        stayTime: 6000,
                        closeText: ''}
                    );

                    $("#failed-translation").show();
                    $('#loading-gif').hide();
                    $('#btn-process').show();
                }
                else
                {

                    $(window).queue("namedQueue", function() {
                        $().toastmessage('showToast', {
                            text: "Translation completed successfully.",
                            sticky: false,
                            position: 'top-right',
                            type: 'success',
                            closeText: ''}
                        );

                        $("#section-translation-details").html(data.rendered);

                        setTimeout(function() {
                            $(self).dequeue("namedQueue");
                         }, 1000);

                    });

                    $(window).queue("namedQueue", function() {
                        $("#successful-translation").show();

                        setTimeout(function() {
                            $(self).dequeue("namedQueue");
                        }, 1000);

                    });

                    $(window).dequeue("namedQueue");

                }

           },
           error: function(jqXHR, textStatus, errorMessage) {
               console.log(errorMessage); // Optional

               $().toastmessage('showToast', {
                    text: "There was an error with the translation process. Please contact an Administrator.",
                    sticky: false,
                    position: 'top-right',
                    type: 'error',
                    closeText: '',
                    stayTime: 6000}
                );
           }

        });

    }

    function save_translation_details()
    {
        $().toastmessage('showToast', {
            text: "Saving the translation details (This does not run a translation)",
            sticky: false,
            position: 'top-right',
            type: 'success',
            closeText: '',
            stayTime: 3500}
        );

        $('#saving-gif').show();
        $('#btn-process-save').hide();
        $("#successful-translation").hide();
        $("#failed-translation").hide();

        var project_id = $("#id_project").val();
        var family_id = $("#translation-family-id").val();
        var formdata = new FormData($('#project-translation-form')[0]);
        var csrf_token = $('#project-translation-form input[name="csrfmiddlewaretoken"]').val();

        $.ajax({
            url: '/save_project_translation/' + project_id +'/' + family_id + '/',
            type: 'POST',
            csrfmiddlewaretoken: csrf_token,
            data: formdata,
            enctype: "multipart/form-data",
            processData: false,
            contentType: false,
            success: function (data) {

                $().toastmessage('showToast', {
                    text: "Translation details saved for project. You can now run a translation when you are ready.",
                    sticky: false,
                    position: 'top-right',
                    type: 'success',
                    closeText: '',
                    stayTime: 3500}
                );

                $('#saving-gif').hide();
                $('#btn-process-save').show();

                setTimeout(function() {
                    $("#section-translation-details").html(data.rendered);
                 }, 500);

           },
           error: function(jqXHR, textStatus, errorMessage) {
               console.log(errorMessage); // Optional

               $().toastmessage('showToast', {
                    text: "There was an error with the translation process. Please contact an Administrator.",
                    sticky: false,
                    position: 'top-right',
                    type: 'error',
                    closeText: '',
                    stayTime: 3500}
                );
           }

        });

    }
</script>