
    {% csrf_token %}

    {% if translation_form.errors %}
        <div class="error">
            {{ translation_form.errors }}
            <br>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-10">
            {% for field in translation_form.visible_fields %}
                <div class="form-well">
                    {% include "includes/field.html" with field=field %}

                    {% if field.help_text %}
                        <br>
                        {{ field.help_text|safe }}
                    {% endif %}
                </div><br>
            {% endfor %}
        </div>
    </div>

    <br><br>
    <img src="/static/common/img/loading-trans.gif" id="saving-gif" style="display: none;">
    <button type="button" onclick="save_translation_details();" id="btn-process-save"
            name="submit" value="Submit" class="btn btn-process">Save Details</button>

    <button style="margin-left: 20px;" type="button" onclick="set_translation();" id="btn-process"
            name="submit" value="Submit" class="btn btn-process">Run New Translation</button>

    <img src="/static/common/img/loading-trans.gif" id="loading-gif" style="display: none;">

    <span id="successful-translation" style="display: none;">
        &nbsp; <i class="fa-2x fa fa-check text-success"></i>
    </span>

    <span id="failed-translation" style="display: none; margin-top: 5px;">
        <br><br>
        &nbsp; <i class="fa-2x fa fa-warning text-danger" style="margin-bottom: -10px;"></i>
    </span>

    <input id="project-has-translation" type="hidden" value="{{ project.has_successful_translation }}">
    <input type="hidden" id="translation-family-id" value="{{ family.pk }}">


    <script>
        $(function () {

            $("#id_project").change(function () {
                 var project_id = $(this).val();
                 var family_id = $("#translation-family-id").val();

                 $.ajax({
                     url: '/get_translation_form_for_project/' + project_id + '/'+ family_id + '/',
                     type: 'GET',
                     success: function (data) {
                         $("#project-translation-form").html(data.rendered);

                         $().toastmessage('showToast', {
                            text: "Project selected for form",
                            sticky: false,
                            position: 'top-right',
                            type: 'success',
                            closeText: ''}
                        );
                     }
                 });
            });

        });
    </script>
