    <h3>{{ family.family_name }}</h3>

    <div class="row">
        <div class="col-lg-2">
            <label>Project / Version</label>

            <select id="selected-user-project">
                {% for prow in ordered_all_projects %}
                    <option value="{{ prow.pk }}">
                        V{{ prow.version }} {{ prow.name }} &nbsp; &nbsp; [{{ prow.get_status_display }}]
                    </option>
                {% endfor %}
            </select>

        </div>

        <div class="col-lg-2">
            <label>User Type(s)</label>
            <select multiple id="selected-user-types" style="height: 120px; width: 200px;">
                {% for user_type in user_types %}
                    <option value="{{ user_type.0 }}">
                        {{ user_type.1 }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="col-lg-1">
            <label>User Status</label>
            <select multiple id="selected-status-values">
                <option value="1">
                    Active
                </option>
                <option value="0">
                    Inactive
                </option>
            </select>
        </div>

        <div class="col-lg-2">
            <label>Has Project Access?</label>
            <select id="selected-project-access">
                <option value="">
                    All
                </option>
                <option value="Yes">
                    Yes
                </option>
                <option value="No">
                    No
                </option>
            </select>
        </div>

        <div class="col-lg-2">
            <label>Has App Access?</label>
            <select id="selected-app-access">
                <option value="">
                    All
                </option>
                <option value="Yes">
                    Yes
                </option>
                <option value="No">
                    No
                </option>
            </select>
        </div>

        <div class="col-lg-2">
            <label>Search All</label>
            <input type="text" id="search-text">
        </div>

        <div class="col-lg-2 pull-right">
            <br>
            <button class="btn btn-sm btn-black" onclick="search_for_users();">
                <i class="fa fa-search"></i> &nbsp; Search
            </button>
        </div>
    </div>

    <div id="search-results">

    </div>

<script>
$(function() {
  search_for_users();
});


function search_for_users()
{
    var project_list = [];
    var project = $("#selected-user-project").val();
    project_list.push(project);

    var user_type_list = $("#selected-user-types").val();
    var status_list = $("#selected-status-values").val();
    var search_text = $("#search-text").val();
    var project_status = $("#selected-project-access").val();
    var app_access = $("#selected-app-access").val();

    console.log('users project_list', project_list);

    $.ajax({
        url: '/get_project_search_details',
        data: {'project_list': project_list, 'user_type_list': user_type_list,
               'status_list': status_list, 'search_text': search_text,
               'project_status': project_status, 'app_access': app_access },
        type: 'GET',
        success: function (data) {
            $("#search-results").html(data.rendered);
        }
    });
}
</script>