{% extends "my_account/base.html" %}

{#{% load reversion_tags %}#}

{% block title %}{{ block.super }} - {{ user.name }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}

    <a class="header-breadcrumb not-active" href="{% url 'my_account-details'  %}">
        <i class="fa fa-angle-double-right"></i>

        {{ user.name }}
    </a>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-5">

            <div class="card card-bordered style-default-dark">
                <div class="card-head">
                    <header>My Account Details</header>
                    <div class="tools">
                        <div class="btn-group">
                            <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </div>
                </div>

                <div class="card-body style-default-bright">
                    <table class="table table-striped table-hover">
                    <tbody>
                        <tr>
                            <th width="200px">ID</th>
                            <td>{{ user.pk }}</td>
                        </tr>
                        <tr>
                            <th>Username</th>
                            <td>{{ user.username }}</td>
                        </tr>
                        <tr>
                            <th>First Name</th>
                            <td>{{ user.first_name }}</td>
                        </tr>
                        <tr>
                            <th>Last Name</th>
                            <td>{{ user.last_name }}</td>
                        </tr>
                        <tr>
                            <th>Email Address</th>
                            <td>{{ user.email }}</td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>






        </div>
        <div class="col-xs-3">
            <div class="card card-bordered style-default-dark">
                <div class="card-head">
                    <header>Actions</header>
                <div class="tools">
                        <div class="btn-group">
                            <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </div>
                </div>

                <div class="card-body style-default-bright">

                    <ul class="action-list">
                        <li>
                            <a href="{% url 'my_account-update_details' %}">
                                Edit
                                <i class="icon-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

{#    <div class='row'>#}
{#        <div class="col-lg-12 col-sm-12 col-xs-12">#}
{#            #}
{#                <h2>Revisions</h2>#}
{##}
{#                {% include "includes/revision_table.html" with obj=user %}#}
{#            #}
{#        </div>#}
{#    </div>#}
{% endblock %}
