{% extends "my_account/detail.html" %}

{#{% load reversion_tags %}#}

{% block title %}{{ block.super }} - Edit{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}

    <i class="fa fa-angle-double-right"></i>

    <span class="header-breadcrumb active" href="{% url 'my_account-details'  %}">
        Edit
    </span>
{% endblock %}

{% block content %}
    <div class="col-sm-6">
        <div class="card card-bordered style-default-dark">
                <div class="card-head">
                    <header>My Account Details</header>
                    <div class="tools">
                        <div class="btn-group">
                            <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </div>
                </div>

                <div class="card-body style-default-bright">
                    <form action="./" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div>
                            {% include "includes/field.html" with field=form.username %}
                            {% include "includes/field.html" with field=form.first_name %}
                            {% include "includes/field.html" with field=form.last_name %}
                            {% include "includes/field.html" with field=form.email %}
                        </div>

                        <br>
                        <a href="{% url 'my_account-details'  %}" class="btn btn-back btn-default-dark">Cancel</a>
                        <button type="submit" class="btn btn-process" value="Submit">Submit</button>
                    </form>
                </div>
            </div>

    </div>

{% endblock %}
