{% extends "my_account/detail.html" %}

{#{% load reversion_tags %}#}

{% block nav %}
    {% include "includes/nav.html" with link='my_account' l2='password' %}
{% endblock %}

{% block title %}{{ block.super }} - Edit Password{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}

    <i class="fa fa-angle-double-right"></i>

    <span class="header-breadcrumb active" href="{% url 'my_account-details'  %}">
        Edit Password
    </span>
{% endblock %}

{% block content %}
    <div class="col-sm-6">
        <div class="card card-underline">
            <div class="card-head style-primary-dark">
                <header>My Account Password</header>

                <div class="tools">
                    <div class="btn-group">
                        <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
            </div>

            <div class="card-body" id="purchaser-details-in-modal" style="padding: 20px;">

                <form action method="post" enctype="multipart/form-data">
                    {% csrf_token %}


                    <div class="row">
                        <div class="col-sm-6">
                            {% include "includes/field.html" with field=form.old_password %}
                            {% include "includes/field.html" with field=form.new_password1 %}
                            {% include "includes/field.html" with field=form.new_password2 %}
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-6">
                            <a href="{% url 'my_account-details'  %}" class="btn btn-back btn-default-dark">Cancel</a>
                            <button type="submit" class="btn btn-process" value="Submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
