{% load canvas_tags %}

<small>Wireframe ID: {{ wireframe_id }} || Template ID: {{ template_id }}</small>

<h4>Set Resource Resolutions:</h4>

<div class="row" style="font-size: 11px;">
    <div class="col-lg-12 col-md-12">
        <b>Thumbnail Details</b><br>

        <div class="row">
            <div class="col-sm-3">
                <em>Portrait Default Height:</em> {{ thumbnail_image_display_dict.thumbnail_portrait_height|default_if_none:"n/a" }}
            </div>
            <div class="col-sm-3">
                <em>Portrait Default Width:</em> {{ thumbnail_image_display_dict.thumbnail_portrait_width|default_if_none:"n/a" }}
            </div>
            <div class="col-sm-3">
                <em>Landscape Default Height:</em> {{ thumbnail_image_display_dict.thumbnail_landscape_height|default_if_none:"n/a" }}
            </div>
            <div class="col-sm-3">
                <em>Landscape Default Width:</em> {{ thumbnail_image_display_dict.thumbnail_landscape_width|default_if_none:"n/a" }}
            </div>
        </div>

    </div>
</div>

<div class="row" style="font-size: 11px;">
    <div class="col-lg-12 col-md-12">
        <input type="hidden" id="default_portrait_height-{{ list_item.wireframe_id }}"
               value="{{ thumbnail_image_display_dict.default_portrait_height }}">

        <input type="hidden" id="default_portrait_width-{{ list_item.wireframe_id }}"
               value="{{ thumbnail_image_display_dict.default_portrait_width }}">

        <input type="hidden" id="default_landscape_height-{{ list_item.wireframe_id }}"
               value="{{ thumbnail_image_display_dict.default_landscape_height }}">

        <input type="hidden" id="default_landscape_width-{{ list_item.wireframe_id }}"
               value="{{ thumbnail_image_display_dict.default_landscape_width }}">
        <b>Source Details</b><br>

        <div class="row">
            <div class="col-sm-3">
                <em>Portrait Default Height:</em> {{ default_image_display_dict.default_portrait_height|default_if_none:"n/a" }}
            </div>
            <div class="col-sm-3">
                <em>Portrait Default Width:</em> {{ default_image_display_dict.default_portrait_width|default_if_none:"n/a" }}
            </div>
            <div class="col-sm-3">
                <em>Landscape Default Height:</em> {{ default_image_display_dict.default_landscape_height|default_if_none:"n/a" }}
            </div>
            <div class="col-sm-3">
                <em>Landscape Default Width:</em> {{ default_image_display_dict.default_landscape_width|default_if_none:"n/a" }}
            </div>
        </div>
    </div>
</div>

{% if assets %}
    <h4>Resources:</h4>

    <div class="row">
        <div class="col-lg-12 col-md-12">
        {% for a in assets %}
            {{ forloop.counter }}) <b>{{ a.path|image_name }}</b><br>
            <small>{{ a.path }}</small> <br>
        {% endfor %}
        </div>
    </div>

    <br><br>
{% else %}
    <h4>Resources: n/a</h4>
{% endif %}