<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="col-sm-10">
        <select class="form-control" id="tag-selected" onchange="filter_images_by_tag();">
            <option value="">Select tag to filter images</option>
            {% for tag in tag_names %}
                <option value="{{ tag.pk }}" class="tag">{{ tag.tag }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-sm-2">
        <button onclick='$("#list-of-selected-tags").html(""); filter_images();' type="button"
                class="btn btn-xs btn-danger">Clear</button>
    </div>
</div>