{% load canvas_tags %}

<ul>

{% for row in image_list %}
    {% if row.image.path|file_exists %}
        <li id="list-{{ row.image.pk }}" class="image-slider-list list-image-{{ row.image.pk }}"
             style="display: none; text-align: center; cursor: pointer; margin: auto; margin-right: 10px;">
            <div  style="z-index: 5; border: 1px solid #ebebeb; cursor: pointer; display: inline-block; margin: 5px; width: 150px; height: 150px; font-size: 10px;">

                <small><em style="width: 150px; overflow: hidden;"> {{ row.full_image_name }}</em></small>
                &nbsp; &nbsp; <input type="checkbox" class="selecting-images-tags" id="image-{{ row.image.pk }}-checkbox" value="True">


                <img src="{{ row.image_static_path }}" style="width: 140px; height: 100px; margin: 3px;" title="{{ row.full_image_name }}: {% for item in row.tags %}{{ item.tag }} | {% endfor %}">

                <div style="display: none;" class="image-list-tags" id="list-image-tags-{{ row.image.pk }}">
                    {% for item in row.tags %}
                        <span id="tag-id-{{ row.image.pk }}-{{ item.id }}" class="tag-id-{{ item.id }}">{{ item.tag }}</span>
                    {% endfor %}
                </div>
            </div>
        </li>
    {% endif %}
{% endfor %}

</ul>



<script>
    $(function() {
        $(".image-slider-list").click(function () {
            var id = this.id;
            id = id.replace("list-", "");
            $('#list-div-' + id).show();
            $('#image-' + id + '-checkbox').click();
        });
    });
</script>