<a class="header-breadcrumb active" href="{% url 'canvas-home'  project.pk %}">
    Canvas Design
</a>

<i class="fa fa-angle-double-right"></i>

<a class="header-breadcrumb" href="{% url 'canvas-devices'  project.pk %}">
    Devices
</a>

<i class="fa fa-angle-double-right"></i>

<a class="header-breadcrumb" href="{% url 'canvas-folder_paths'  project.pk %}">
    File Upload
</a>

<i class="fa fa-angle-double-right"></i>

<a class="header-breadcrumb" href="{% url 'canvas-templating'  project.pk %}">
    Templating
</a>

<i class="fa fa-angle-double-right"></i>

<a class="header-breadcrumb" href="{% url 'canvas-wireframes'  project.pk %}">
    Wireframes
</a>