<div class="dropdown link pull-right" style="margin-left: 30px;">
  <span>{{ project.name }} &nbsp; &nbsp; &nbsp; <i class="fa fa-sort"></i> </span>
  <div class="dropdown-content">
    {% for sproject in request.user.property_list %}
        <p {% ifequal sproject.pk project.pk %} class="selected" {% endifequal %} onclick="select_new_project_and_page({{ project.pk }}, {{ sproject.pk }});">
            {{ sproject.name }}     <small class="grey-opaque" style="font-size: 12px;"><em>V{{ sproject.version }}  {{ sproject.get_status_display }}</em></small>
        </p>
    {% endfor %}
  </div>
</div>


<script>
    function select_new_project_and_page(current_project, new_project)
    {
        var pathname = window.location.pathname;
        window.location.href = pathname.replace(current_project, new_project);
    }
</script>