{% load canvas_tags %}
{% ifequal field_type "text_box" %}
    {% if label %}
        <label class="container-label">{{ label }}</label>
    {% endif %}
    <input type="text" name="field_{{ field.container_string_field_id }}" class="form-control"
           value="{{ field.check_container_string_field_value }}">
{% endifequal %}

{% ifequal field_type "radio" %}

    {% if label %}
         <div class="radio radio-styled">
            <label>
                <input  type="radio" name="field_{{ field.container_string_field_id }}"
                        {% if field.check_container_string_field_value %}checked{% endif %} value="True">
                <span>{{ label }}</span>
            </label>
        </div>
    {% endif %}

{% endifequal %}

{% ifequal field_type "checkbox" %}
    <div style="padding: 0; height: 42px;">
        {% if label %}
            <label class="container-label" style="display: inline-block;">{{ label }}</label>
        {% endif %}

        <input style="display: inline-block; margin-top: -12px;" type="checkbox" id="shown-field-{{ field.container_string_field_id }}" {% if field.check_container_string_field_value %}checked{% endif %} class="render-field-checkbox form-control" value="True">
        <input style="display: inline-block;" type="hidden" id="hidden-field-{{ field.container_string_field_id }}" name="field_{{ field.container_string_field_id }}" class="form-control" value="{% if field.check_container_string_field_value %}{{ field.check_container_string_field_value }}{% endif %}">
    </div>
{% endifequal %}

