{% for tag in tag_name_list %}
    <button id="added-button-tag-{{ tag.tag_id }}" onclick="filter_images_by_selected({{ tag.tag_id }}, '{{ tag.tag_name }}');"
            class="btn btn-xs btn-black added-tag-button">{{ tag.tag_name }}<i class="fa fa-check red small"
                                                                               style="margin-left: 10px;"></i>
    </button> &nbsp;
{% endfor %}