{% load canvas_tags %}

<div class="card card-underline">
    <div class="card-head style-default-dark">
        <header>Files with Tags</header>

        <div class="tools">
            <div class="btn-group">
                <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-8">
                <div id="list-of-selected-tags" style="min-height: 10px;">
                    {% include "canvas/includes/tag_name_list.html" %}
                </div>
            </div>
            <div class="col-sm-4 normal-text">
                <div class="row">
                    <div class="col-sm-8" id="tag-name-list">

                        <select class="form-control" id="tag-selected" onchange="filter_images_by_tag();">
                            <option value="">Select Tags</option>
                            {% for tag in tag_names %}
                                <option value="{{ tag.pk }}" class="tag">{{ tag.tag }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-4" style="padding: 0; margin-top: -7px;">
                        <span onclick='show_resources_with_no_tag();'
                              class="link fa-stack fa-lg" data-toggle="tooltip" data-placement="top" title="Clear Tags">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <i class="fa fa-times-circle-o fa-stack-1x fa-inverse"></i>
                        </span>

                        <span onclick='show_all_resources();'
                              class="link fa-stack fa-lg pull-right" data-toggle="tooltip" data-placement="top" title="Show All with Tags">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <i class="fa fa-chain fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>

                </div>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-sm-12 col-md-12 col-sm-12">
                <div id="thumbnail-tags" class="slider well" style="min-height:350px;max-height:380px; overflow: auto;
                                                                    border-radius: 5px; padding: 3px; z-index: 0">
                    {% if image_list %}
                        <br>
                        <ul style="display: inline; overflow-x: auto; padding: 0;">
                            {% for row in image_list %}
                                {% if row.image.path|file_exists %}
                                    <li data-toggle="tooltip" data-placement="bottom" title="{{ row.image.path|show_last_slash }}" class="listed-image-with-tags" id="image-list-{{ row.image.pk }}"
                                        style="height: 150px; display: inline; margin: 0; background: #fcfcfc;">

                                        <div class="tagged-list-images list-image-{{ row.image.pk }}" id="list-{{ row.image.pk }}"
                                             style="text-align: center; display: inline-block; cursor: pointer; margin: 8px; margin-top: 15px;">

                                            <em><small>{{ row.image_name }}</small> &nbsp; &nbsp; </em> <br>

                                            <img onerror="this.style.display='none'" asset_id="{{ row.asset.pk }}" normal_src="{{ row.image.path }}" class="draggable-image" image_name="{{ row.image_name }}" src="{{ row.image_static_path }}" id="image-{{ row.image.pk }}"
                                                 style="width: 110px; margin: 3px;">

                                            <br>
                                            <em><small>(Asset: {{ row.asset.pk }})</small></em>

                                            <div style="display: none;" class="image-list-tags" id="list-image-tags-{{ row.image.pk }}">
                                                {% for item in row.tags %}
                                                    <span class="tag-id-{{ item.id }}">{{ item.tag }}</span>
                                                {% endfor %}
                                            </div>

                                            <br>

                                            <div class="image-selection-box" id="image-selection-{{ row.image.name|cut:'.jpg' }}" style="display: none; z-index: 10; opacity: 0.2; background: pink; margin-right: 5px; width: 150px;
                                                height: 150px; margin-top: -150px; float: left; border: 1px solid red;">
                                                <br>
                                            </div>
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% else %}
                        <em class="text-info"><i class="fa fa-anchor"></i> All images have a tag assigned. Select a tag to filter images</em>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<a href="{% url 'canvas-folder_paths' project.pk %}" class="btn btn-danger btn-sm pull-right" target="_blank"><i class="fa fa-plus"></i> Upload Files</a>


<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    function filter_images_by_tag()
    {
        var project_id = $("#current_project_id").val();
        var tag_name = $('#tag-selected').find('option:selected').text();
        var tag_id = $('#tag-selected').find('option:selected').val();

        console.log('tag_name', tag_name, 'tag_id', tag_id);

        if (! tag_id == "")
        {
            $.ajax({
                url: '/get_images_with_tags/' + project_id + '/',
                type: 'GET',
                data: {'tag_name': tag_name, 'tag_id': tag_id},
                     success: function (data) {

                         $("#tag-filter-images").html(data.rendered);

                         var tag_list = $("#list-of-selected-tags");

                        tag_list.append('<button id="added-button-tag-'+tag_id+'" onclick="remove_button_tag('+tag_id+', \''+tag_name+'\');" class="btn btn-xs btn-black added-tag-button">'+tag_name+'<i class="fa fa fa-trash-o red small" style="margin-left: 10px;"></i></button> &nbsp;');
                        $('#tag-selected').val('');

                        $("#tag-selected option[value='"+tag_id+"']").hide();
                         $( init );
                    }
            });
        }
    }

    function filter_images_by_selected(tag_id, tag_name)
    {
        var project_id = $("#current_project_id").val();

        if (! tag_id == "")
        {
            $.ajax({
                url: '/get_images_with_tags/' + project_id + '/',
                type: 'GET',
                data: {'tag_name': tag_name, 'tag_id': tag_id},
                     success: function (data) {

                         $("#tag-filter-images").html(data.rendered);

                         var tag_list = $("#list-of-selected-tags");

                        tag_list.append('<button id="added-button-tag-'+tag_id+'" onclick="remove_button_tag('+tag_id+', \''+tag_name+'\');" class="btn btn-xs btn-black added-tag-button">'+tag_name+'<i class="fa fa fa-trash-o red small" style="margin-left: 10px;"></i></button> &nbsp;');
                        $('#tag-selected').val('');

                        $("#tag-selected option[value='"+tag_id+"']").hide();
                    }
            });
        }
    }

    function show_all_resources()
    {
        var project_id = $("#current_project_id").val();
        $("#thumbnail-tags").html("Loading...");

        $.ajax({
            url: '/get_all_images_with_tags/' + project_id + '/',
            type: 'GET',
             success: function (data) {

                 $("#tag-filter-images").html(data.rendered);
                 $( init );

            }
        });
    }

    function show_resources_with_no_tag()
    {
        var project_id = $("#current_project_id").val();

        $.ajax({
            url: '/get_all_images_without_tags/' + project_id + '/',
            type: 'GET',
             success: function (data) {

                 $("#tag-filter-images").html(data.rendered);
                 $( init );

            }
        });
    }
</script>