{% load canvas_tags %}
{% load model_tags %}

    <div>

    <div class="col-lg-4 col-md-4 col-sm-4">
        <label>Select File name</label>
    </div>
    <div class="col-xs-5">
        <label>Caption</label>
    </div>
    <div class="col-xs-1"></div>
    <br>
    <ul id="sortable" class="sortable">
        {% for file in aspect_dict %}
            {% if canvas_mixin|get_property_resource_image:file.file.pk %}
                {% ifnotequal file.key "level_plans" %}
                <li class="sortlist ui-state-default file-image file-image-{{ file.pk }} file-image-{{ file.key|cut:"Aspect: " }}" id="file-image-{{ file.pk }}" style="padding-top: 5px;" onclick="highlight_image({{ file.pk }});">
                    <div class="col-lg-4 col-md-4 col-sm-4" id="file-{{ file.pk }}" onclick="highlight_image({{ file.pk }});">
                        <input type="checkbox" class="selected-file-image-checkbox selected-file-image selected-file-image-{{ file.floor_id }}" id="file-selected-to-copy-{{ file.pk }}" name="file-selected-to-copy" value="{{ file.pk }}">
                        {% if canvas_mixin|get_property_resource_image:file.file.pk %}
                            {{ canvas_mixin|get_property_resource_name:file.file.pk }}
                        {% else %}
                            n/a
                        {% endif %}

                    </div>
                    <div class="col-xs-5">
                        <input id="update_aspect_caption_{{ file.pk }}" type="text" value="{{ file.key }}"
                               class="form-control update_aspect_caption"
                                {% ifequal file.key "level_plans" %} disabled {% endifequal %}>
                    </div>
                    <div class="col-xs-2">
                         <a onclick="remove_resource_by_id({{ file.pk }});"><i class="fa fa fa-trash-o"></i></a>

                        &nbsp;

                        <i class="grey fa fa-angle-double-right pull-right"></i>
                        <input class="file-order" id="file-order-{{ file.pk }}" type="hidden" value="{{ file.orderidx }}">

                    </div>

                </li>
                {% endifnotequal %}
            {% endif %}

        {% endfor %}
    <li class="sortlist" style="height: 0; padding: 0;"></li>
    </ul>

    <div class="pull-left">

        <div class="pull-left">
            <input onclick="select_all_images();" type="checkbox" class="pull-left" id="aspects-selecting-all-images"> &nbsp; &nbsp; </div>
        <div class="pull-right">
            <label id="selecting-all-label" class="pull-left">Select All</label>
        </div>

    </div>

    <a data-toggle="tooltip" data-placement="top" title="Remove all visible images"
           onclick="remove_all_images();" class="btn btn-sm btn-danger pull-right">
        <i class="fa fa fa-trash-o"></i>
    </a>
</div>


<script>
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();

    $(function () {
         $( ".update_aspect_caption" ).focusout(function() {
                var file_id = $(this).attr('id');
                file_id = file_id.replace("update_aspect_caption_", "");

                update_aspect_caption(file_id);
        });
    });

    function select_all_images()
    {

        if ($("#selecting-all-label").text() == "Select All")
        {
            $("input.selected-file-image-checkbox:visible").prop('checked', true);
            $("#selecting-all-label").text("Deselect All");
        }
        else
        {
            $("input.selected-file-image-checkbox").prop('checked', false);
            $("#selecting-all-label").text("Select All");
        }


    }

    function remove_all_images()
    {
        if (confirm("Are you sure you wish to remove all images?"))
        {
            var floor_id = $("#current_floor_id").val();
            var project_id = $("#current_project_id").val();

            $(".selected-file-image-"+floor_id).each(function() {
                var image_id = $(this).attr('id');
                image_id = image_id.replace("file-selected-to-copy-", "");

                $.ajax({
                url: '/remove_property_aspect/' + project_id + '/',
                type: 'GET',
                data: {'aspect_id': image_id, 'type': 'floor'},

                    success: function (data) {
                    }
                });
            });


            $().toastmessage('showToast', {
                text: "Images removed successfully",
                sticky: false,
                position: 'top-right',
                type: 'success',
                closeText: ''
            });

            get_property_aspects();
        }
    }


    function update_aspect_caption(file_id)
    {
        var new_caption =  $("#update_aspect_caption_"+file_id).val();
        var file_order = $("#file-order-"+file_id).val();

        $.ajax({
            url: '/update_floor_caption/{{ project.pk }}/',
            type: 'GET',
            data: {"file_id": file_id, 'floor_id': $("#current_floor_id").val(),
                'property_id': $("#current_apartment_setting").val(),
                'new_caption': new_caption, 'file_order': file_order},
            success: function (data) {

                 $().toastmessage('showToast', {
                    text: "Image caption saved successfully",
                    sticky: false,
                    position: 'top-right',
                    type: 'success',
                    closeText: ''
                });
            }

            });
            $( init );
        }



</script>