{% load canvas_tags %}
{% load model_tags %}


    <br>
    <div class="col-xs-5">
        <label>File name</label>
    </div>
    <div class="col-xs-5">
        <label>Caption</label>
    </div>

    <br>
    <ul id="sortable" class="sortable">
        {% for file in aspect_dict %}
            <input class="file-order" id="file-order-{{ file.pk }}" type="hidden" value="{{ file.orderidx }}">

            <li class="sortlist ui-state-default file-image file-image-{{ file.pk }} file-image-key-{{ file.key|clean_tags }} link " id="file-image-{{ file.pk }}" style="padding-top: 5px;"
                onclick="highlight_image({{ file.pk }}, '{{ file.key|clean_tags }}');">
                <div class="row">
                    <div class="col-xs-5" style="padding: 0" id="file-{{ file.pk }}" onclick="highlight_image({{ file.pk }}, '{{ file.key|clean_tags }}');">
                        &nbsp; &nbsp; &nbsp;
                        <input type="checkbox" class="selected-file-image-checkbox selected-file-image selected-property-image-{{ file.property_id }}"
                               id="file-selected-to-copy-{{ file.pk }}" name="file-selected-to-copy" value="{{ file.pk }}">

                        {{ file.file.path|image_name }}

                    </div>

                    <div class="col-xs-5">
                        <input  id="update_aspect_caption_{{ file.pk }}" type="text" value="{{ file.caption }}"
                               class="form-control update_aspect_caption">
                    </div>
                    <div class="col-xs-2" style="margin-left: -15px;">
                        <a style="" onclick="remove_resource_by_id({{ file.pk }});"><i class="fa fa fa-trash-o"></i></a>
                        <i class="grey fa fa-angle-double-right pull-right"></i>
                    </div>

                </div>


            </li>


        {% endfor %}
        <li class="sortlist" style="height: 0; padding: 0;"></li>
        </ul>

        <div class="pull-left">

            <div class="pull-left">
                <input onclick="select_all_images();" type="checkbox" class="pull-left" id="aspects-selecting-all-images"> &nbsp; &nbsp; </div>
            <div class="pull-right">
                <label id="selecting-all-label" class="pull-left">Select All</label>
            </div>

        </div>


        <a data-toggle="tooltip" data-placement="top" title="Remove all visible images"
               onclick="remove_all_resource_images();" class="btn btn-sm btn-danger pull-right">
            <i class="fa fa fa-trash-o"></i>
        </a>

<script>


    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();

    $(function () {
         $( ".update_aspect_caption" ).focusout(function() {
                var file_id = $(this).attr('id');
                file_id = file_id.replace("update_aspect_caption_", "");
                update_aspect_caption(file_id);
         });


    });

    function select_all_images()
    {

        if ($("#selecting-all-label").text() == "Select All")
        {
            $("input.selected-file-image-checkbox:visible").prop('checked', true);
            $("#selecting-all-label").text("Deselect All");
        }
        else
        {
            $("input.selected-file-image-checkbox").prop('checked', false);
            $("#selecting-all-label").text("Select All");
        }


    }



    function update_aspect_caption(file_id)
    {
        var new_caption =  $("#update_aspect_caption_"+file_id).val();
        var file_order = $("#file-order-"+file_id).val();

        $.ajax({
            url: '/update_aspect_caption/{{ project.pk }}/',
            type: 'GET',
            data: {"file_id": file_id, 'floor_id': $("#current_floor_id").val(),
                'property_id': $("#current_apartment_setting").val(),
                'new_caption': new_caption, 'file_order': file_order},
            success: function (data) {

                 $().toastmessage('showToast', {
                    text: "Image caption saved successfully",
                    sticky: false,
                    position: 'top-right',
                    type: 'success',
                    closeText: ''
                });
            }

            });

        $( init );
    }

    function remove_all_resource_images()
    {
        if (confirm("Are you sure you wish to remove all images?"))
        {
            var property_id = $("#current_apartment_setting").val();
            var project_id = $("#current_project_id").val();

            $(".selected-property-image-"+property_id).each(function() {
                var image_id = $(this).attr('id');
                image_id = image_id.replace("file-selected-to-copy-", "");

                $.ajax({
                    url: '/remove_property_aspect/' + project_id + '/',
                    type: 'GET',
                    data: {'type': 'apartment', 'aspect_id': image_id},

                        success: function (data) {




                        }
                });
            });


            $().toastmessage('showToast', {
                text: "Images removed successfully",
                sticky: false,
                position: 'top-right',
                type: 'success',
                closeText: ''
            });

            get_property_aspects();
        }
    }
</script>