{% load canvas_tags %}
{% load model_tags %}

    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="row">

        <ul id="test" class="sortable">
            {% for key in key_list %}
                <li class="sortlist ui-state-default file-image file-image-{{ key|clean_tags }}"
                    style="padding-top: 10px;" onclick="highlight_image_from_key('{{ key }}', '{{ key|clean_tags }}');">

                    <div class="col-xs-7" onclick="highlight_image_from_key('{{ key }}', '{{ key|clean_tags }}');" style=" font-size: 12px;">
                       {{ key }}
                    </div>

                    <div class="col-xs-5">
                        <a onclick="remove_aspect_by_key('{{ key }}', '{{ key|clean_tags }}');">
                            <i class="fa fa-trash-o"></i>
                        </a>
                        <i class="grey fa fa-angle-double-right pull-right"></i>
                    </div>
                </li>
            {% endfor %}
        <li class="sortlist" style="height: 0; padding: 0;"></li>
    </ul>
        </div>
</div>



