{% load canvas_tags %}

<h5>Assigned Buildings</h5>

<div style="max-height: 400px; overflow-y: auto">

    {% for floor in floor_list %}
        <div class="assigned-buildings assigned-buildings-{{ floor.floor.pk }}">
            <div   id="building-for-floor-{{ floor.floor.pk }}">
                <table class="table">
                    <tr>
                        <th style="width: 50%;">Level</th>
                        <th>Building</th>
                    </tr>

                    {% for assigned in floor.assigned_buildings %}
                        <tr>
                            <td>{{ floor.name }}</td>
                            <td>
                                <select class="building-selector-floor building-selector-floor-{{ floor.floor.pk }}">
                                    <option>Please select a building</option>
                                    {% for building in all_buildings %}
                                        <option value="{{ building.pk }}" {% ifequal assigned.pk building.pk %}selected{% endifequal %}>
                                            {{ project|name_by_name_id:building }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                            <a onclick="remove_assigned({{ floor.floor.pk }}, {{ assigned.pk }});"><i class="fa fa-trash"></i> </a>
                        </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div style="width: 10%;">
                <a class="pull-left" onclick="save_buildings_for_floors();"><i class="fa fa-save"></i> </a>
                <a class="pull-right"><i class="fa fa-plus" onclick="add_building_selector({{ floor.floor.pk }}, '{{ floor.name }}');"></i> </a>
            </div>

        </div>

        <div id="added-building-ids-{{ floor.floor.pk }}">

        </div>

    {% endfor %}

</div>


<div style="display: none;" id="new-building-selector">
    <table class="table">
        <tr>
            <td style="width: 50%;">FLOORNAME</td>
            <td>
                <select class="building-selector-floor building-selector-floor-FLOORID">
                    <option>Please select a building</option>
                    {% for building in all_buildings %}
                        <option value="{{ building.pk }}">
                            {{ project|name_by_name_id:building }}
                        </option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <a onclick="$(this).parent().parent().remove();"><i class="fa fa-trash"></i> </a>
            </td>
        </tr>
    </table>
</div>


<script>
    function remove_assigned(floor_id, building_id)
    {

        var project_id = $("#current_project_id").val();
        var selected_floor_id = $("#current_floor_id").val();

         $.ajax({
            url: '/save_floor_buildings/' + project_id + '/',
            type: 'GET',
              data: {'floor_id': floor_id, 'building_id': building_id, 'direction': 'delete'},
            success: function (data) {

                $("#select-floors").html(data.rendered);

            }
         });

        select_new_floor(selected_floor_id);


    }
    function add_building_selector(floor_id, floor_name)
    {
        var new_html = $("#new-building-selector").html();
        new_html = new_html.replace("FLOORNAME", floor_name).replace("FLOORID", floor_id);

        $("#building-for-floor-"+floor_id).append(new_html);
    }

    function save_buildings_for_floors()
    {
        var floor_buildings = $(".building-selector-floor:visible");

        var project_id = $("#current_project_id").val();
        var floor_id = $("#current_floor_id").val();

        var i = 1;
        var update = false;

        var rendered = false;

         $(floor_buildings).each(function() {

             var floor_id = $(this).attr('class');
             var selected_floor_id = floor_id.replace('building-selector-floor building-selector-floor-', '');
             var selected_building_id = this.value;

             $.ajax({
                url: '/save_floor_buildings/' + project_id + '/',
                type: 'GET',
                  data: {'floor_id': selected_floor_id, 'building_id': selected_building_id, 'direction': 'save'},
                success: function (data) {

                    if (data.rendered)
                    {
                        rendered = data.rendered;
                    }


                    update = true;

                }
             });

         });

         $().toastmessage('showToast', {
            text: 'Assigned buildigns have been saved successfully',
            sticky: false,
            position: 'top-right',
            type: 'notice',
            closeText: ''
        });

        if (rendered)
        {
            $("#select-floors").html(rendered);
        }


    }
</script>
