<div class="col-lg-4 col-md-4 col-sm-4" style="border: 1px solid #ccc; margin-left: 10px;">
    <h3>{{ property_type|capfirst }}: {{ name }}</h3>
    {% for row in string_fields %}
        <div class="row">
            {% for key, value in row.items %}
                <div class="col-xs-9">{{ key }}</div>
                <div class="col-xs-2">{{ value }}</div>
            {% endfor %}
        </div>
    {% endfor %}
    <br><br>
</div>