
    <div class="">
        {{ template_columns_form.management_form }}

        <table class="crunched-table" style="font-size: 12px;">

            {% for form in template_columns_form %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% ifnotequal form.column_pretty_name.value|capfirst 'Building' %}

                    <tr>
                        <th>
                            {{ form.column_pretty_name.value|capfirst }}
                        </th>
                        <td>
                            {% include "includes/field.html" with field=form.apartment_value %}
                        </td>
                    </tr>

                {% endifnotequal %}

            {% endfor %}
        </table>
    </div>
