
    <h2>Edit Property Names for floor: {{ new_level_name }}</h2>

        <p>There were {{ number_of_apartments }} properties selected for this floor.</p>
        <br>

        {{ names_formset.management_form }}

        <table class="table detail-table" style="font-size: 12px;">
            <tr>
                <th>
                    Property ID
                </th>
                <th>Name</th>
                <th>Delete Property and Name</th>
            </tr>

            {% for form in names_formset %}

                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                <tr>
                    <td>
                        {{ form.fields.property.value }}
                    </td>
                    <td>
                        {% include "includes/field.html" with field=form.english %}
                    </td>
                    <td>
                        <input type="checkbox" name="delete_name" value="{{ form.fields.property.value }}">
                    </td>
                </tr>

            {% endfor %}
        </table>

