{% load canvas_tags %}

<div class="card card-underline">
    <div class="card-head style-primary-dark">
        <header>Apartments</header>

        <div class="tools">
            <div class="btn-group">
                <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down white"></i></a>
            </div>
        </div>
    </div>

    <div class="card-body tab-content" style="padding: 20px;">
        <img src="/static/common/img/loading-trans.gif" id="loading-gif">
    </div>
</div>
