{% load canvas_tags %}
{% load model_tags %}

<table id="all-floors-list-table">
    <tr>
        <td>
            <ul id="floor-content-sortable" class="sortable">
                {% for row in floor_select_list %}
                    <li class="floor-content-list floor-content-list-{{ row.floor.id }}" id="floor-content-list-{{ row.floor.id }}">
                        <table class="">
                            <tr class="building-floor-select building-floor-select-{{ row.building_id }}"
                                show_order="{{ project|get_item_name:row.floor }}">

                                <td class="highlight-floor-select linked-floor-select" id="floor-selected-{{ row.floor.id }}" style="width: 40px; height: 32px;">
                                    <a id="floor-select-{{ row.floor.id }}" class="floor-select-{{ row.floor.id }}"
                                        onclick="select_new_floor({{ row.floor.id }});" style="width: 40px; height: 32px;">
                                        <div id="floor-details-{{ row.floor.id }}" class="floor-details-{{ row.floor.id }} floor-details floor-select-link
                                        {% ifequal floor_id row.floor.id %}selected{% endifequal %}">
                                            {{ project|get_item_name:row.floor }}
                                        </div>
                                    </a>
                                </td>

                                <td class="floor-select-link" style="cursor: auto; display: inline-block; width: 40px;  height: 32px;text-align: center; border: 1px solid #34BAA8;">
                                    <input type="checkbox" onclick="skin_floor_hotspots();" class="floor-checkbox"
                                           project_id="{{ project.pk }}" id="floor-hotspot-{{ row.floor.id }}" {% ifequal model_instance.pk row.floor.id %}checked{% endifequal %}>
                                </td>

                                <td class="floor-select-link" style="cursor: auto; display: inline-block; width: 40px;  height: 32px;text-align: center; border: 1px solid #34BAA8;">
                                       <div id="floor-count-total-{{ row.floor.id }}">{{ row.apartment_count }}</div>
                                </td>

                                <td class="highlight-floor-select floor-image-name-{{ row.floor.id }}" id="floor-image-name-{{ row.floor.id }}"
                                    style="padding-left: 10px; font-size: 10px; display: inline-block; cursor: pointer; width: 140px; overflow: hidden">
                                    {{ row.level_plan_image|default_if_none:"n/a" }}
                                </td>

                                <td style="display: inline-block; padding-top: 5px; width: 15px;" id="trash-level-image-{{ row.floor.id }}">
                                    {% if row.level_plan_image %}
                                        <a onclick="remove_level_assigned_image({{ row.floor.id }});">
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                    {% endif %}

                                    <input type="hidden" id="floor-content-order-{{ row.floor.id }}" value="{{ item.orderidx }}" class="floor-content-order">
                                </td>
                                <td style="width: 5px;" class="floor-content-list-order">
                                    {{ row.orderidx }}
                                </td>
                            </tr>
                        </table>
                    </li>
                {% endfor %}
            </ul>
        </td>
    </tr>
</table>


<script>
    $(function() {
        $("#floor-content-sortable").sortable({
            revert: false,
            activeClass: "ui-state-highlight",
            hoverClass: "ui-state-highlight",
            placeholder: "ui-state-error",
            stop: function () {
                handleDropFloorOrderEvent()
            }
        });

        $('#apartment-content-sortable', "ul, li").disableSelection();
    });


    function handleDropFloorOrderEvent() {

        $(window).queue("namedQueue", function() {

            var floor_content_orders = $("input.floor-content-order");

            var i = 1;
            $(floor_content_orders).each(function() {

                $("input.floor-content-order").val(i);

                var floor_id = $(this).attr('id');
                floor_id = floor_id.replace('floor-content-order-', '');

                $.ajax({
                    url: '/save_floor_order/{{ project.pk }}/',
                    data: {'floor_id': floor_id, 'order': i},
                    type: 'GET',
                    success: function (data) {}
                });
                i+= 1;
            });

            setTimeout(function() {
                $(self).dequeue("namedQueue");
             }, 100);

        });

        $(window).queue("namedQueue", function() {
            var floor_content_list_orders = $("td.floor-content-list-order");

            var o = 1;
            $(floor_content_list_orders).each(function() {
                $(this).text(o);
                o+= 1;
            });

            setTimeout(function() {
                $(self).dequeue("namedQueue");
            }, 500);

        });

        $(window).dequeue("namedQueue");


    }
</script>