<option></option>
{% for floor_plan in property_typical_image_list %}
    <option value="{{ floor_plan.resource_id }}-{{ row.images.floor_plans.name }}"
            {% ifequal row.images.floor_plans.name floor_plan.name %}selected{% endifequal %}>

            {% for tag in floor_plan.tags %}
                {{ tag }}
            {% endfor %}
    </option>
{% endfor %}