{% load model_tags %}

<div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12" style="margin-top: -{{ canvas_width }} !important; padding-top: 50px;">

                <h2>
                    Image Selector: <span id="selector-type">{{ first_image_type }}</span> plans <span id="selector-type-second">[iPad]</span>
                </h2>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12" style="margin-bottom: 3px;">
                        <div class="pull-left">
                            <input type="checkbox" id="show-hover-preview" checked onclick="change_display();"> Show hover preview &nbsp; | &nbsp;

                            <input type="checkbox" id="show-hover-preview-all"> Quick view all
                            <input type="hidden" id="show-preview" class="display">
                        </div>
                        <div style="display: none; margin: 0; margin-left: 30px; margin-top: -3px; padding: 0;" class="pull-left" id="clear-selection">
                            <a onclick="hide_selected_preview_image();" data-toggle="tooltip" data-placement="top" title="Clear selection" class="btn btn-sm btn-default"><i class="icon-close"></i> </a>
                            &nbsp;
                            <a onclick="remove_image_from_location({{ project.pk }});" data-toggle="tooltip" data-placement="top" title="Remove image from path" class="btn btn-sm btn-danger"><i class="fa fa-trash-o"></i> </a>
                        </div>
                        <div class="pull-right">
                            <a onclick="save_page_image_details({{ project.pk }}, {{ floor_id }});"
                               class="pull-right btn btn-sm btn-default" data-toggle="tooltip" data-placement="top"
                               title="Save selected image details"><i id="pencil" class="icon-save"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div id="plan-editor-slider" class="slider form-well" style="min-height:180px;max-height:200px;">

                            <ul id="level_plan_images">
                                {% for option in existing_image_choices %}
                                    {% for image in option.images %}
                                        {% if option.image_type|image_exists_on_ns_path:image.path %}
                                            <li class="{{ option.image_type }}-plan-images-{{ option.image_mode }}-{{ option.image_output }}  {{ option.image_type }}-plan-images-{{ option.image_output }}-{{ option.image_mode }} image-slider-list">

                                                <div style="z-index: 5; cursor: pointer; display: inline-block; margin-right: 5px; width: 150px; height: 150px; font-size: 10px;">

                                                    <em>{{ image.name }}</em>

                                                    <a onclick="change_selected_image('{{ image.name }}', '{{ image.image_path }}/{{ image.name }}', '{{ option.image_type }}');" href="{{ image.static_path }}" class="preview hovering" id="list-image-{{ image.name }}">
                                                        <img src="{{ image.static_path }}" style="max-width: 150px; {% ifequal option.image_type "key_plans" %}  padding-bottom: 15px;padding-top: 30px;{% endifequal %}">
                                                    </a>

                                                    <div id="{{ option.image_type }}-plan-{{ image.name|cut:'.jpg' }}"
                                                         class="blue-image-selector"  onclick="hide_selected_preview_image();"
                                                         data-toggle="tooltip" data-placement="right" title="The current floor plan for this floor"
                                                         style="{% ifnotequal image_path option.image_type|image_exists_on_ns_path:image.path %} display: none;{% else %} display: inline-block; {% endifnotequal %}">
                                                        <br>
                                                    </div>

                                                    <div data-toggle="tooltip" data-placement="right" title="Preview displayed in canvas above" class="image-selection-box" id="{{ option.image_type }}-image-selection-{{ image.name|cut:'.jpg' }}" style="display: none; z-index: 10; opacity: 0.2; background: pink; margin-right: 5px; width: 150px;
                                                        height: 150px; margin-top: -150px; float: left; border: 1px solid red;">
                                                        <br>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}

                            </ul>

                            <input type="hidden" value="common/img/placeholder.jpg" id="image-selected-for-floor">
                            <input type="hidden" value="" id="image-type-selected-for-floor">
                            <input type="hidden" value="" id="image-output-selected-for-floor">
                            <input type="hidden" value="" id="image-mode-selected-for-floor">

                            {% if image_exists %}
                                <input type="hidden" id="current-floor-image-path" value="{{ image_path }}">
                            {% else %}
                                <input type="hidden" id="current-floor-image-path" value="common/img/placeholder.jpg">
                            {% endif %}
                        </div>


                        <div class="controls">
                            <a class="prev-page" data-toggle="tooltip" data-placement="top" title="Move slider to start"><i class="fa fa-fast-backward"></i></a> |
                            <a class="prev-slide" data-toggle="tooltip" data-placement="top" title="Move images left"><i class="fa fa-backward"></i></a> |
                            <a class="next-slide" data-toggle="tooltip" data-placement="top" title="Move images right"><i class="fa fa-forward"></i></a> |
                            <a class="next-page" data-toggle="tooltip" data-placement="top" title="Move slider to end"><i class="fa fa-fast-forward"></i></a>
                        </div>


                        {% for option in existing_image_choices %}

                            <div class="path-details pull-right small path-details-{{ option.image_type }}-{{ option.image_mode }}-{{ option.image_output }} " id='{{ option.image_type }}-path-details-{{ option.image_mode }}-{{ option.image_output }}' style="margin-top: -15px;">
                                <div id="show-{{ option.image_type }}-path">
                                    {{ option.image_path|default_if_none:"<em>Path not saved</em>"|default:"<em>Path not saved</em>" }}
                                    &nbsp;
                                    <a class="btn btn-sm btn-default" onclick="$('#edit-{{ option.image_type }}-path').toggle();$('#show-{{ option.image_type }}-path').toggle();" data-toggle="tooltip" data-placement="top" title="Edit project {{ option.image_type|prettify_select_option }} images location"><i class="icon-edit"></i> </a>
                                </div>
                                <div id="edit-{{ option.image_type }}-path-{{ option.image_mode }}-{{ option.image_output }}" style="display: none;">
                                    <form id="form-save-{{ option.image_type }}-folder-path" action method="post">
                                        {% csrf_token %}

                                        <input type="text" name="{{ option.image_type }}-image_plan_path" id="{{ option.image_type }}-image-plan-path" data-toggle="tooltip" data-placement="top" title="Saving path for: {{ project.name }} Level Plans" class="input-sm" style="width: 400px;" value="{{ option.image_path }}">
                                        &nbsp; <a class="btn btn-sm btn-default" onclick="save_image_folder_path({{ project.pk }}, '{{ option.image_type }}');" data-toggle="tooltip" data-placement="top" title="Save project {{ option.image_type }} plan location"><i class="icon-save"></i> </a>
                                    </form>

                                </div>
                            </div>
                        {% endfor %}


                    </div>

                </div>

        </div>
    </div>

    {% include "projects/floor_plan_editor/includes/import_new_schema.html" %}


    <script>
        $('a.hovering').on({
            mouseover: function(e){
                var xOffset = 310;
                var yOffset = 30;

               this.t = this.title;
               this.title = "";
                var c = (this.t != "") ? "<br/>" + this.t : "";
                $('body').append("<p id='preview'><img src='" + this.href + "' alt='Image preview' /></p>");
                $("#preview")
                    .css("top", (e.pageY - xOffset) + "px")
                    .css("left", (e.pageX + yOffset) + "px")
                    .fadeIn("fast");
            },
             mouseleave: function(){
                this.title = this.t;
                $("#preview").remove();
            },
            click: function(e){
                resource_id = this.id.replace('list-image-', '');
                e.preventDefault();
            }

        });

        $(function() {
            $('#plan-editor-slider').lemmonSlider();
            set_apartment_selected($("#selected_apartment").val(),'', '', 'yellow', '600px');

            var nametable = $('table.scrollable-header');

            nametable.floatThead({
                scrollContainer: function($table){
                    return $table.closest('.wrapper');
                }
            });

            $(".image-slider-list").each(function() {
                var image_type = $("#image_type_displayed").val();
                var image_mode = $("#image_mode_displayed").val();
                var image_output = $("#image_output_displayed").val();

                var showing_class = image_type + "-plan-images-" + image_mode +"-"+image_output;

                if (! $(this).hasClass(showing_class))
                {
                    $(this).hide();
                }
            });

            $(".path-details").each(function() {
                var image_type = $("#image_type_displayed").val();
                var image_mode = $("#image_mode_displayed").val();
                var image_output = $("#image_output_displayed").val();

                var showing_class = "path-details-" + image_type +"-" + image_mode +"-"+image_output;
                if (! $(this).hasClass(showing_class))
                {
                    $(this).hide();
                }
            });

             $(".apartment-table-details").each(function() {
                var image_type = $("#image_type_displayed").val();
                var image_mode = $("#image_mode_displayed").val();
                var image_output = $("#image_output_displayed").val();

                var showing_class = "apartment-table-details-" + image_type +"-" + image_mode +"-"+image_output;
                if (! $(this).hasClass(showing_class))
                {
                    $(this).hide();
                }
            });

            $(".editable-table-details").each(function() {
                var image_mode = $("#image_mode_displayed").val();
                var image_output = $("#image_output_displayed").val();

                var showing_class = "editable-table-details-" + image_mode +"-"+image_output;
                if (! $(this).hasClass(showing_class))
                {
                    $(this).hide();
                }
            });



            $("#change-side-level-plan-view").change(function() {
                var value_selected = $(this).val();
                var output_selected = $("#change-side-image-type-output").val();
                var mode_selected = $("#change-side-image-type-mode").val();

                $("#selector-type").text(value_selected);
                $(".image-slider-list").hide();
                var showing_class = value_selected + "-plan-images-" + mode_selected +"-"+output_selected;

                $("."+showing_class).show();
                $(".path-details").hide();
                $("#"+value_selected+"-path-details-"+mode_selected+"-"+output_selected).show();

            });

            $("#change-side-image-type-output").change(function() {
                var output_selected = $(this).val();
                var value_selected = $("#change-side-level-plan-view").val();
                var mode_selected = $("#change-side-image-type-mode").val();

                $("#selector-type").text(value_selected);
                $(".image-slider-list").hide();
                $("."+value_selected+"-plan-images-"+mode_selected+"-"+output_selected).show();
                $(".path-details").hide();
                $("#"+value_selected+"-path-details-"+mode_selected+"-"+output_selected).show();

            });


            $("#change-side-image-type-mode").change(function() {
                var mode_selected = $(this).val();
                var value_selected = $("#change-side-level-plan-view").val();
                var output_selected = $("#change-side-image-type-output").val();

                $("#selector-type").text(value_selected);
                $(".image-slider-list").hide();
                $("."+value_selected+"-plan-images-"+mode_selected+"-"+output_selected).show();
                $(".path-details").hide();

                $("#"+value_selected+"-path-details-"+mode_selected+"-"+output_selected).show();

            });



            $("#select-change-image-type").change(function() {

                var value_selected = $(this).val();
                var mode_selected = $("#select-change-image-type-mode").val();
                var output_selected = $("#select-change-image-type-output").val();

                $("#selector-type").text(value_selected);
                $("#image_type_displayed").val(value_selected);

                image_selector_change(value_selected);

                if (value_selected == "key_plans" || value_selected == "floor_plans")
                {
                    $(".apartment-table-details").hide();
                    $("#apartment-"+value_selected+"-table-edit-"+mode_selected+"-"+output_selected).show();

                    value_selected = value_selected.replace("_", " ");
                    $("#apartment-image-type").text(value_selected + ' images');
                }

            });



            $("#select-change-image-type-output").change(function() {
                var output_selected = $(this).val();
                var value_selected = $("#select-change-image-type").val();
                var mode_selected = $("#select-change-image-type-mode").val();

                $("#image_mode_displayed").val(value_selected);

                $(".editable-table-details").hide();
                $(".apartment-table-details").hide();

                $("#"+value_selected+"-table-edit-"+mode_selected+"-"+output_selected).show();
                $("#apartment-"+value_selected+"-table-edit-"+mode_selected+"-"+output_selected).show();
            });

            $("#select-change-image-type-mode").change(function() {
                var mode_selected = $(this).val();
                var value_selected = $("#select-change-image-type").val();
                var output_selected = $("#select-change-image-type-output").val();

                $("#image_output_displayed").val(value_selected);

                $(".editable-table-details").hide();
                $(".apartment-table-details").hide();

                $("#"+value_selected+"-table-edit-"+mode_selected+"-"+output_selected).show();
                $("#apartment-"+value_selected+"-table-edit-"+mode_selected+"-"+output_selected).show();
            });
        });

        function set_apartment_selected(apartment, x_value, y_value, color, size)
        {
           redraw_apartment_spot(apartment, x_value, y_value, color, size);

           var value_selected = $("#image_type_displayed").val();
           var project_id = $("#project_id").val();
           var floor_id = $("#floor_id").val();

           get_image(project_id, floor_id, value_selected, apartment);

        }

        function image_selector_change(value_selected)
        {
            var project_id = $("#project_id").val();
            var floor_id = $("#floor_id").val();
            var apartment = $("#selected_apartment").val();
            var x_coordinate = $("#selected_apartment_x_coordinate").val();
            var y_coordinate = $("#selected_apartment_y_coordinate").val();
            var canvas_width = $("#canvas_width").val();

            redraw_apartment_spot(apartment, x_coordinate, y_coordinate, "yellow", canvas_width);
            get_image(project_id, floor_id, value_selected, apartment);

        }

        function get_image(project_id, floor_id, value_selected, apartment)
        {
            var image_mode = $("#select-change-image-type-mode").val();
            var image_output = $("#select-change-image-type-output").val();

            $.ajax({
                url: '/get_image_selection_details/' + project_id + '/' + floor_id + '/' + value_selected + '/',
                type: 'GET',
                data: {'apartment': apartment, 'image_mode': image_mode, 'image_output': image_output},
                success: function (data) {
                    var static_image = data.static_image;
                    var image = data.image_path;
                    var image_name = data.image_name;
                    var blue_image_name = image_name.replace(".jpg", "");

                    $(".blue-image-selector").hide();
                    $("#"+value_selected+"-plan-"+ blue_image_name).show();

                    $("#level-plan-"+ data.level_plans_image_name).show();
                    $("#floor-plan-"+ data.floor_plans_image_name).show();
                    $("#key-plan-"+ data.key_plans_image_name).show();

                    if (data.image_name) {
                        $("#" + value_selected + "-image_name_text-" + apartment).text(data.image_name);
                        $("#" + value_selected + "-show-image-name-text-" + apartment).text(data.image_name);
                    }

                    $("#canvas-image").attr('src', static_image).css("padding-top", '0px').css("padding-bottom", '0px');

                    if (data.image_exists)
                    {
                        $("#"+ value_selected + "-plan-"+ data.image_name).show();
                    }

                    if (value_selected in ["key", "key_plans"])
                    {
                        if (data.image_exists)
                        {
                            $("#canvas-image").css("padding-top", '125px').css("padding-bottom", '125px');
                            $("#"+ value_selected + "-plan-"+ data.image_name).show();
                        }
                        else
                        {
                            $("#canvas-image").css("padding-top", '0px').css("padding-bottom", '0px');
                        }

                    }

                    $("#floorplan-message").html(image);

                }

            });
        }

    function save_selected_images_ns(project_id) {
        var path_selected = $("#import_image_path").val();
        var floor_images = $("#floor_images").val();
        var error = false;

        if (!floor_images) {
            $().toastmessage('showToast', {
                        text: "You have not selected any images to load.",
                        sticky: true,
                        position: 'top-left',
                        type: 'error',
                        closeText: ''}
            );
            error = true;
        }

        if (!path_selected) {
            $().toastmessage('showToast', {
                        text: "You have not selected an image path.",
                        sticky: true,
                        position: 'top-left',
                        type: 'error',
                        closeText: ''}
            );
            error = true;
        }

        if (!error)
        {
            var formdata = new FormData($('#import-folder-images')[0]);
            var csrf_token = $('#import-folder-images input[name="csrfmiddlewaretoken"]').val();

            $.ajax({
                url: '/import_images_ns/' + project_id + '/',
                type: 'POST',
                csrfmiddlewaretoken: csrf_token,
                data: formdata,
                enctype: "multipart/form-data",
                processData: false,
                contentType: false,
                success: function (data) {

                    $("#close-image-saver").click();

                    if (data.success)
                    {
                        $().toastmessage('showToast', {
                            text: "Images imported successfully",
                            sticky: false,
                            position: 'top-left',
                            type: 'notice',
                            closeText: ''}
                        );

                        $().toastmessage('showToast', {
                                    text: "Images folder path saved successfully",
                                    sticky: false,
                                    position: 'top-left',
                                    type: 'notice',
                                    closeText: ''}
                        );

                        $("#path-details").effect("highlight", {color: "#F7D0D4"}, 3000).delay(800);
    {#                    window.location.reload();#}
                    }

                    else

                    {
                        $().toastmessage('showToast', {
                                text: "Project dimensions file has not been loaded.",
                                sticky: false,
                                position: 'top-left',
                                type: 'error',
                                closeText: ''}
                        );
                    }



                      },
               error: function(jqXHR, textStatus, errorMessage) {
                   console.log(errorMessage); // Optional


               }
            });

        }
    }


    function save_page_image_details(project_id, floor_id)
    {
        var image_type = $("#image-type-selected-for-floor").val();
        var image_mode = $("#image-mode-selected-for-floor").val();
        var image_output = $("#image-output-selected-for-floor").val();

        var apartment = $("#selected_apartment").val();
        var image_path = $("#floorplan-message").text();

        if (confirm("The "+ image_type +" image with mode '"+image_mode+"' and output '"+image_output+"' will be saved. Continue?")) {
            var image_selected = $("#image-selected-for-floor").val();

            $.ajax({
                url: '/save_image_to_floor/' + project_id + '/' + floor_id + '/' + image_type +'/',
                type: 'GET',
                data: {'image_selected': image_selected, 'apartment': apartment, 'image_mode': image_mode, 'image_output': image_output, 'image_path': image_path},
                success: function (data) {
                    $().toastmessage('showToast', {
                                text: "Image saved to floor successfully",
                                sticky: false,
                                position: 'top-left',
                                type: 'success',
                                closeText: ''}
                    );

                    var image_name = data.image_name;


                    if (image_type == "level_plans")
                    {
                        $("#"+image_type+"-show-image-name-text-"+floor_id).text(image_name);
                        $("#"+image_type+"-image_name_text-"+floor_id).val(image_name);
                    }
                    else
                    {
                        $("#apartment-"+image_type+"-show-image-name-text-"+apartment).text(image_name);
                        $("#apartment-"+image_type+"-image_name_text-"+apartment).val(image_name);
                    }


                    get_image(project_id, floor_id, image_path, apartment);

                },
                error: function (jqXHR, textStatus, errorMessage) {
                    console.log(errorMessage); // Optional
                }
            });
        }
    }

    function change_selected_image(image_name, image_path, value_selected)
    {
        $(".image-selection-box").hide();
        $("#clear-selection").show();

        var image_name_short = image_name.replace('.jpg', '');
        var image_path_split = image_path.split("/");
        var image_path_split_count = image_path_split.length - 1;
        image_path_split[image_path_split_count] = image_name;
        var display_image_path = '/static/'+image_path_split.join("/");

        $("#canvas-image").attr('src', display_image_path).css("padding-top", '0px').css("padding-bottom", '0px');

        var img = document.getElementById('canvas-image');
        var width = img.clientWidth;
        var height = img.clientHeight;

        if ($.inArray( value_selected, ["key", "key_plans"]) == 1)
        {
            $("#canvas-image").css("padding-top", '125px').css("padding-bottom", '125px');
        }

        $("#"+value_selected+"-image-selection-"+image_name_short).show();
        $("#image-selected-for-floor").val(image_name_short);

        $("#image-type-selected-for-floor").val(value_selected);
        $("#image-mode-selected-for-floor").val($("#change-side-image-type-mode").val());
        $("#image-output-selected-for-floor").val($("#change-side-image-type-output").val());

        $("#floorplan-message").text(image_path_split.join("/"));

    }

    </script>

    <script src="/static/common/js/preview_editor.js"></script>