<div class="row">
    <div class="col-sm-12" id="key-section-data">
        <table>
            <tr>
                <td id="section-one">
                    <div id="level-wrapper" class="pull-left plan-magnified" style="margin: 5px;  display: inline-block; float: left;">
                        <div>
                            <small class="bold-text" id="section-one-name"><em>Level Plan: <span id="level_plans_name">{{ image_name }}</span></em></small><br><br>
                            {% if image_exists %}
                                <img src="{{ static_image }}" style="margin-top: -20px;" class="plan-magnified canvas-image-level_plans" id="section-one-image">
                            {% else %}
                                <img src="/static/common/img/placeholder.jpg" style="margin-top: -20px;" class="plan-magnified canvas-image-level_plans" id="section-one-image">
                            {% endif %}
                        </div>
                        <canvas style="top: -400px;" id="cross-hatch-level_plans" class="cross-hatch-image plan-magnified" width="400px" height="400px">
                            Your browser does not support the HTML5 canvas tag.
                        </canvas>
                    </div>
                </td>
                <td>
                    <table>
                        <tr>
                            <td id="section-two">
                                 <div id="floor-wrapper" class="pull-right plan-minified" style="margin-left: 30px;">
                                    <small id="section-two-name" class="bold-text"><em>Floor Plan: <span id="floor_plans_name">{{ floor_plan_details.image_name }}</span></em></small>
                                    <div style="text-align: center; width:180px;">
                                        {% if floor_plan_details.image_exists %}
                                            <img src="{{ floor_plan_details.static_image }}" id="section-two-image" class="plan-minified canvas-image-floor_plans">
                                        {% else %}
                                            <img src="/static/common/img/placeholder.jpg" id="section-two-image" class="plan-minified canvas-image-floor_plans">
                                        {% endif %}
                                    </div>
                                    <canvas id="key-plan-canvas-floor" style="top: -180px;" class="cross-hatch-image plan-minified" width="180px" height="180px">
                                        Your browser does not support the HTML5 canvas tag.
                                    </canvas>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td id="section-three">
                                <div id="key-plan-wrapper" class="pull-right plan-minified" style="margin-left: 30px; margin-top: 50px;  display: inline-block">
                                <small id="section-three-name" class="bold-text"><em>Key Plan: <span id="key_plans_name">{{ key_plan_details.image_name }}</span></em></small>
                                <div id="key-plan-image" style="text-align: center; width:180px;">
                                    {% if key_plan_details.image_exists %}
                                        <img src="{{ key_plan_details.static_image }}" class="plan-minified canvas-image-key_plans" id="section-three-image">
                                    {% else %}
                                        <img src="/static/common/img/placeholder.jpg" class="plan-minified canvas-image-key_plans" id="section-three-image">
                                    {% endif %}
                                </div>
                                <canvas style="top: -180px;" id="cross-hatch-key_plans" class="cross-hatch-image plan-minified" width="180px" height="180px">
                                    Your browser does not support the HTML5 canvas tag.
                                </canvas>
                            </div>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>


        <br><br><br>


        <a  onclick="magnify_selected_image();" href="#" class="btn btn-sm btn-black"><i class="fa fa-refresh"></i> Rotate</a>

    </div>
</div>

<script>
    function magnify_selected_image()
    {
        var section_one_image = $("#section-one-image").attr('src');

        console.log('section_one_image', section_one_image);

        var section_one_name = $("#section-one-name").html();

        var section_two_image = $("#section-two-image").attr('src');
        console.log('section_two_image', section_two_image);
        var section_two_name = $("#section-two-name").html();

        var section_three_image = $("#section-three-image").attr('src');
        console.log('section_three_image', section_three_image);
        var section_three_name = $("#section-three-name").html();


        //section one becomes section three
        //section three becomes section two
        //section two becomes section one

        $("#section-one-image").fadeOut('slow', function () {
            $("#section-one-image").attr('src', section_three_image);
            $("#section-one-image").fadeIn('slow');
        });

        $("#section-three-image").fadeOut('slow', function () {
            $("#section-three-image").attr('src', section_two_image);
            $("#section-three-image").fadeIn('slow');
        });

        $("#section-two-image").fadeOut('slow', function () {
            $("#section-two-image").attr('src', section_one_image);
            $("#section-two-image").fadeIn('slow');
        });


        $("#section-one-name").fadeOut('slow', function () {
            $("#section-one-name").html(section_three_name);
            $("#section-one-name").fadeIn('slow');
        });

        $("#section-three-name").fadeOut('slow', function () {
            $("#section-three-name").html(section_two_name);
            $("#section-three-name").fadeIn('slow');
        });

        $("#section-two-name").fadeOut('slow', function () {
            $("#section-two-name").html(section_one_name);
            $("#section-two-name").fadeIn('slow');
        });






    }
</script>