{% load canvas_tags %}
{% get_all_floors as all_floors %}

<table class="crunched-table" style="padding: 0; border-top: none;" id="linked-hotspots-table">
    {% for item in apartments_dict %}
        {% if item.id %}
                    <tr style="text-align: center" class="apartment-details apartment-details-{{ item.floor_id }}-{{ item.building_id }} property-type-{{ item.property_type_id }}-{{ item.floor_id }}-{{ item.building_id }}" id="apartment-name-{{ item.id }}">
                        <td id="apartment-name-text-{{ item.id }}" style="text-align: left">
                            <a onclick="click_to_set_hotspot({{ item.id }});" class="btn btn-sm hotspot_selector hotspot_selector_{{ item.id }}-{{ item.building_id }} {% if not item.x_coordinate %}btn-default{% else %}btn-danger{% endif %}"
                               id="hotspot_selector_{{ item.id }}-{{ item.building_id }}">
                                {{ item.name }}
                            </a>

                            <a onclick="click_to_close_hotspot({{ item.id }});" class="btn btn-sm hotspot_deselector hotspot_deselector_{{ item.id }}-{{ item.building_id }} {% if not item.x_coordinate %}btn-default{% else %}btn-danger{% endif %}" style="display: none;"
                               id="hotspot_deselector_{{ item.id }}-{{ item.building_id }}" >
                                {{ item.name }}
                            </a>
                        </td>
                        <td>
                            <input type="hidden" id="property-hotspot-id-{{ item.id }}-{{ item.building_id }}" value="{{ item.floor_hotspot_id }}" >
                            <input type="hidden" id="property-hotspot-x-{{ item.id }}-{{ item.building_id }}" class="property-hotspot-x-{{ item.id }}" value="{{ item.x_coordinate }}">
                            <input type="hidden" id="property-hotspot-y-{{ item.id }}-{{ item.building_id }}" class="property-hotspot-y-{{ item.id }}" value="{{ item.y_coordinate }}">
                            <input type="checkbox" id="select-hotspot-{{ item.id }}-{{ item.building_id }}" class="apartment-checkbox apartment-checkbox-{{ item.floor_id }} select-hotspot">
                        </td>
                    </tr>
                    <tr id="show_current_hotspots_{{ item.id }}-{{ item.building_id }}" class="show_current_hotspots" style="display: none;">
                        <td colspan="3">
                        <table style="width: 100%">
                            <tr>
                                <td style="width: 50%;">
                                    <div style="display: none">
                                        {{ canvas_mixin|get_building_floors:building_id }}
                                    </div>

                                    Floor
                                    <select id="hotspot-select-floor-{{ item.id }}-{{ item.building_id }}" onchange="show_changed_floor_apartments(this.value, {{ item.id }})">
                                        <option value="">Select Floor</option>
                                        {% for row in canvas_mixin|get_building_floors:building_id %}
                                            <option value="{{ row.floor.pk }}"
                                                    {% ifequal row.floor.pk item.floor_id %} selected {% endifequal %}>
                                                {{ row.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <div style="display: none">
                                        {{ canvas_mixin|get_apartments:building_id }}
                                    </div>

                                    Aprt.

                                    <div id="show-floor-apartments-{{ item.id }}-{{ item.building_id }}">
                                        <select id="hotspot-select-aprt-{{ apt.property.pk }}">
                                            {% for apt in canvas_mixin|get_apartments:building_id %}
                                                <option value="{{ apt.property.pk }}" {% ifequal apt.property.pk item.id %} selected {% endifequal %}>
                                                    {{ apt.name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <table class="table">
                            <tr>
                                <td id="refresh-coordinates-x-{{ item.id }}" class="refresh-coordinates-x-{{ item.id }}">
                                    X Co-ordinate
                                    <input readonly class="small input-sm hotspot-fake-input apartment_set_x_coordinate_{{ item.id }}-{{ item.building_id }}" type="text" id="apartment_set_x_coordinate_{{ item.id }}-{{ item.building_id }}" value="{{ item.x_coordinate }}">
                                </td>
                                <td>
                                    New {% if not item.x_coordinate %}X Co-ordinate{% endif %}:
                                    <input type="text" readonly class="small input-sm newly-selected hotspot-fake-input" id="new_apartment_set_x_coordinate_{{ item.id }}-{{ item.building_id }}">
                                </td>
                            </tr>
                            <tr>
                                <td id="refresh-coordinates-y-{{ item.id }}" class="refresh-coordinates-y-{{ item.id }}">
                                    Y Co-ordinate
                                    <input readonly class="small input-sm hotspot-fake-input apartment_set_y_coordinate_{{ item.id }}-{{ item.building_id }}" type="text" id="apartment_set_y_coordinate_{{ item.id }}-{{ item.building_id }}" value="{{ item.y_coordinate }}">
                                </td>
                                <td>
                                    New {% if not item.y_coordinate %}Y Co-ordinate{% endif %}:
                                    <input type="text" readonly class="small input-sm newly-selected hotspot-fake-input"  id="new_apartment_set_y_coordinate_{{ item.id }}-{{ item.building_id }}">
                                </td>

                            </tr>
                            <tr>
                                <td style="width: 400px;" colspan="2">
                                    <button disabled id="save-button-{{ item.id }}-{{ item.building_id }}" onclick="save_new_coordinate({{ project.pk }},{{ item.id }});"
                                            class="save-button-{{ item.id }} btn btn-process pull-left btn-sm" style="margin-top: -5px;">
                                        Save
                                    </button>

                                    <input type="hidden" id="add-new-hotspot-{{ item.id }}" value="False">
                                </td>
                            </tr>
                        </table>

                    </td>
                    </tr>
                {% else %}

                    <tr style="text-align: center" class="linked-hotspots apartment-details apartment-details-{{ item.floor_id }}-{{ item.building_id }}"
                        id="linked-apartment-name-{{ item.hotspot_id }}">
                            <td id="linked-apartment-name-text-{{ item.hotspot_id }}" style="text-align: left">
                                <a onclick="click_to_set_linked_hotspot({{ item.hotspot_id }});" class="btn btn-sm linked_hotspot_selector hotspot_selector btn-black"
                                   id="linked_hotspot_selector_{{ item.hotspot_id }}">
                                    {% if item.property_name %}{{ item.property_name }}{% endif %}  {% if item.hotspot_name %} {{ item.hotspot_name }}{% endif %}
                                </a>
                                <a onclick="click_to_close_linked_hotspot({{ item.hotspot_id }});" class="btn btn-sm linked_hotspot_deselector hotspot_deselector btn-black"
                                   style="display: none;" id="linked_hotspot_deselector_{{ item.hotspot_id }}" >
                                    {% if item.property_name %}{{ item.property_name }}{% endif %}  {% if item.hotspot_name %} {{ item.hotspot_name }}{% endif %}
                                </a>
                            </td>
                            <td>

                                <input type="checkbox" id="linked-select-hotspot-{{ item.hotspot_id }}" class="hotspot-checkbox hotspot-checkbox-{{ item.floor_id }} hotspot-checkbox-{{ item.hotspot_id }} select-hotspot">

                            </td>
                        </tr>
                    <tr id="linked-show_current_hotspots_{{ item.hotspot_id }}" class="linked-show_current_hotspots show_current_hotspots" style="display: none;">
                            <td colspan="3">

                                <table style="width: 100%">
                                    <tr>
                                        <td style="width: 50%;">
                                            <div style="display: none">
                                                {{ canvas_mixin|get_building_floors:building_id }}
                                            </div>

                                            Floor
                                            <select id="linked-hotspot-select-floor-{{ item.hotspot_id }}" onchange="show_linked_floor_apartments(this.value, {{ item.hotspot_id }})">
                                                <option value="">Select Floor</option>
                                                {% for row in all_floors %}

                                                    <option value="{{ row.floor.pk }}"
                                                            {% ifequal row.floor.pk item.property_floor %} selected {% endifequal %}>
                                                        {{ row.name }}
                                                    </option>

                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <div style="display: none">
                                                {{ canvas_mixin|get_apartments:building_id }}
                                            </div>

                                            Aprt.
                                            <div id="show-linked-floor-apartments-{{ item.hotspot_id }}">
                                                <select id="linked-hotspot-select-aprt-{{ item.hotspot_id }}">
                                                    {% if item.property_floor %}
                                                        <option value="{{ item.property_id }}">{{ item.property_name }}</option>
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                </table>

                                <div style="width: 50%; padding-left: 10px;">
                                    Name:
                                    <input type="text" id="hotspot-name-{{ item.hotspot_id }}" value="{{ item.hotspot_name }}" class="form-control">

                                    <input type="hidden" id="hotspot-linked-property-{{ item.hotspot_id }}" value="{{ item.property_id }}">
                                </div>

                                <table class="table">
                                    <tr>
                                        <td id="linked-refresh-coordinates-x-{{ item.hotspot_id }}">
                                            X Co-ordinate
                                            <input readonly class="small input-sm hotspot-fake-input" type="text"
                                                                 id="linked-apartment_set_x_coordinate_{{ item.hotspot_id }}" value="{{ item.x_coordinate }}">
                                        </td>
                                        <td>
                                            New {% if not item.x_coordinate %}X Co-ordinate{% endif %}:
                                            <input type="text" readonly class="small input-sm newly-selected hotspot-fake-input
                                            new_linked_property_x_coordinate" id="linked-new_apartment_set_x_coordinate_{{ item.hotspot_id }}" value="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="refresh-coordinates-y-{{ item.hotspot_id }}">
                                            Y Co-ordinate<input readonly class="small input-sm hotspot-fake-input" type="text"
                                                                id="linked-apartment_set_y_coordinate_{{ item.hotspot_id }}" value="{{ item.y_coordinate }}">
                                        </td>
                                        <td>
                                            New {% if not item.y_coordinate %}Y Co-ordinate{% endif %}:
                                            <input type="text" readonly class="small input-sm newly-selected hotspot-fake-input
                                            new_linked_property_y_coordinate"  id="linked-new_apartment_set_y_coordinate_{{ item.hotspot_id }}" value="">
                                        </td>

                                    </tr>
                                    <tr>
                                        <td style="width: 400px;" colspan="2">
                                            <button disabled id="linked-save-button-{{ item.hotspot_id }}" onclick="save_hotspot_coordinate({{ project.pk }},{{ item.hotspot_id }});"
                                                    class="save-button-{{ item.hotspot_id }} save-button btn btn-process pull-left btn-sm" style="margin-top: -5px;">
                                                Save
                                            </button>

                                            <input type="hidden" id="linked-add-new-hotspot-{{ item.hotspot_id }}" value="False">
                                        </td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                {% endif %}
    {% endfor %}
</table>