<select class="form-control" id="listing-select-floor"  onchange="filter_listing();">
    <option value="">All</option>
     {% for floor in builting_floor_list %}
         <option value="{{ floor.floor.pk }}">{{ floor.name }}</option>
     {% endfor %}
 </select>