<div class="col-lg-12 col-md-12 col-sm-12" style="font-size: 12px; font-weight: normal;">
    <div style="margin-bottom: 5px;">
        {% for menu in parent_menus %}
            <a href="{% url 'canvas-wireframe-preview' project.pk canvas.pk menu.id %}" class="paren-menu {{ menu.name }} {% ifequal selected_parent_wireframe.id menu.id %}red {% else %}black{% endifequal %}">
                {{ menu.name }}
            </a>
            <i class="fa fa-angle-double-right"></i> &nbsp;

            {% if forloop.last %}
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a href="{% url 'canvas-edit-wireframe' project.pk canvas.pk %}"><i class="fa fa-plus-circle"></i> </a>
            {% endif %}
        {% endfor %}
    </div>
    <div>
        {% for menu in sub_menus %}
            <a href="{% url 'canvas-wireframe-preview' project.pk canvas.pk selected_parent_wireframe.id menu.id %}" class="sub-menu sub-menu-{{ menu.name }}  {% ifequal selected_sub_wireframe.id menu.id %}red {% else %}black{% endifequal %}">
                {{ menu.name }}
            </a>
            <i class="fa fa-angle-double-right"></i>&nbsp;
            {% if forloop.last %}
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a href="{% url 'canvas-edit-wireframe' project.pk canvas.pk %}"><i class="fa fa-plus-circle"></i> </a>
            {% endif %}
        {% endfor %}
    </div>
</div>