<div style="width: 350px; display: inline-block;" class="highlight-floor-select" id="floor-selected-{{ floor.pk }}">
    <a id="floor-select-{{ floor.pk }}" class="floor-select-link" onclick="select_new_floor({{ floor.pk }});">
        <div id="floor-details-{{ floor.pk }}" class="floor-select-link floor-details {% ifequal model_instance.pk floor.pk %}selected{% endifequal %}">
            {{ new_level_name }}
        </div>
    </a>
    <div class="floor-select-link" style="cursor: auto; display: inline-block;">
        <input type="checkbox" onclick="skin_floor_hotspots();" class="floor-checkbox" project_id="{{ project.pk }}" id="floor-hotspot-{{ floor.pk }}" {% ifequal model_instance.pk floor.pk %}checked{% endifequal %}>
    </div>

    <div class="floor-select-link" style="cursor: auto; display: inline-block;">
           <div>{{ apartment_count }}</div>
    </div>
    <div id="floor-image-name-{{ floor.pk }}" style="padding-left: 20px; font-size: 11px; display: inline-block; cursor: auto; width: 140px;">
        n/a
    </div>
    <div class="pull-right" style="padding-top: 10px; margin-left: -10px;" id="trash-level-image-{{ floor.pk }}">

    </div>
</div>