<div class="row">
     <div class="col-sm-2">
         <div class="row">
             <div class="col-lg-12 col-md-12 col-sm-12">
                 <label>Level</label>
                 <select class="form-control" id="upgrade-select-floor"  onchange="filter_upgrade();">
                    <option value="">All</option>
                     {% for floor in floor_list %}
                         <option value="{{ floor.floor.pk }}">{{ floor.name }}</option>
                     {% endfor %}
                 </select>
             </div>
         </div>
     </div>
     <div class="col-sm-3">
         <div class="row">
             <div class="col-lg-12 col-md-12 col-sm-12">
                 <label>Property Type</label>
                 <select class="form-control" id="upgrade-select-type"  onchange="filter_upgrade();">
                     <option value="">All</option>
                     {% for type in property_type_list %}
                        <option value="{{ type.pk }}">{{ type.type }}</option>
                     {% endfor %}
                 </select>
             </div>
         </div>
     </div>
    <div class="col-sm-4 col-sm-offset-2">
         <label>Upgrade Combined By</label>
         <input type="text" class="form-control" id="property-upgrade-by" value="{{ property_name }}" readonly>
     </div>
 </div>
 <br>
 <div class="row">
 <div class="col-sm-5">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="wrapper" style="max-height: 358px; max-width: 270px; overflow-x: auto;">
                <table class="crunched-table scrollable-header" style="font-size: 12px; max-width: 300px;">
                    <thead>
                        <tr>
                            <th style="width: 118px;">
                                Property
                            </th>
                            <th style="width: 118px;">
                                Property Type
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for floor in floor_list %}
                            {% for item in floor.apartments_dict %}
                                <tr class="link upgrade-floor-selection upgrade-floor-selection-{{ floor.floor_id }}
                                    upgrade-type-selection upgrade-{{ item.property_type_id }}-{{ floor.floor_id }}
                                    upgrade-type-selection-{{ item.property_type_id }}
                                    {% if item.upgrade_selected_class %}selected{% endif %}"
                                    id="selected_property_{{ property_id }}_for_upgrade_{{ item.id }}">

                                    <td style="width: 118px;">
                                        <div onclick="check_selected_property_for_upgrade({{ property_id }}, {{ item.id }});">
                                            {{ item.name }}
                                        </div>
                                    </td>
                                    <td style="width: 118px;">
                                        <div  onclick="check_selected_property_for_upgrade({{ property_id }}, {{ item.id }});">
                                            {{ item.property_type|capfirst }}
                                        </div>

                                        <div style="display: none;">
                                            <input type="checkbox" class="checkbox_property_for_upgrade pull-right"
                                                   id="checkbox_property_for_upgrade_{{ item.id }}"
                                                   name="selected_property_upgrade" value="{{ item.id }}">
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
 </div>
 <div class="col-sm-2">
     <div class="row">
        <div class="col-sm-12 align-center" style="text-align: center">
            <br><br>
            <a onclick="add_propert_to_upgrade();" class="btn btn-sm btn-danger"><i class="fa fa-arrow-right"></i> </a>
            <br><br><br>

            <a onclick="remove_propert_to_upgrade();" class="btn btn-sm btn-black"><i class="fa fa-arrow-left"></i> </a>
        </div>
     </div>
 </div>
 <div class="col-sm-5">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <table class="crunched-table" id="properties-in-upgrade-{{ property_id }}">
                <thead>
                    <th>
                        Property
                    </th>
                    <th>Option</th>
                    <th>
                        Property Type
                    </th>
                </thead>
                {% for child in children_upgrades_dict %}
                    <tr  class="link" id="remove_property_{{ property_id }}_for_upgrade_{{ child.pk }}">
                        <td>
                            <div onclick="check_selected_property_remove_upgrade({{ property_id }}, {{ child.pk }});">
                                {{ child.name }}
                            </div>
                        </td>
                        <td>
                            <input type="checkbox" onclick="upgrade_property_option({{ child.pk }});" class="upgrade-property-view-checkbox"
                                   id="upgrade-property-view-{{ child.pk }}"
                                   value="{{ child.pk }}" {% if child.has_upgrade_view %}checked{% endif %}>
                        </td>
                        <td>
                            <div onclick="check_selected_property_remove_upgrade({{ property_id }}, {{ child.pk }});">
                            {{ child.property_type }}

                            </div>
                            <div style="display: none">
                                <input type="checkbox" id="upgrade-property-toggle-{{ child.pk }}" value="{{ child.pk }}"
                                    class="checkbox_property_remove_upgrade pull-right">
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
 </div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

<script>
    $(function() {
        var nametable = $('table.scrollable-header');

        nametable.floatThead({
            scrollContainer: function ($table) {
                return $table.closest('.wrapper');
            }
        });
    });


    function upgrade_property_option(property_id)
    {
        var project_id = $("#current_project_id").val();
        var toggle_value = $("#upgrade-property-view-"+property_id).prop('checked');

        $.ajax({
            url: '/toggle_upgrade_view/' + project_id + '/',
            type: 'GET',
              data: {'property_id': property_id, 'toggle_value': toggle_value },
            success: function (data) {
                $().toastmessage('showToast', {
                        text: "Property toggle for Upgrade saved successfully",
                        sticky: false,
                        position: 'top-right',
                        type: 'success',
                        closeText: ''} );
            }
       });
    }

    function check_selected_property_for_upgrade(parent_id, property_id)
    {
        console.log('check_selected_property_for_upgrade');

        if ($("#selected_property_"+parent_id+"_for_upgrade_"+property_id).hasClass('selected'))
        {
            $("#selected_property_"+parent_id+"_for_upgrade_"+property_id).removeClass('selected');
            $("#checkbox_property_for_upgrade_"+property_id).prop("checked", false);
        }
        else
        {
            $("#selected_property_"+parent_id+"_for_upgrade_"+property_id).addClass('selected');
            $("#checkbox_property_for_upgrade_"+property_id).prop("checked", true);
        }
    }

    function check_selected_property_remove_upgrade(parent_id, property_id)
    {
        console.log('check_selected_property_remove_upgrade');

        if ($("#remove_property_"+parent_id+"_for_upgrade_"+property_id).hasClass('selected'))
        {
            $("#remove_property_"+parent_id+"_for_upgrade_"+property_id).removeClass('selected');
            $("#upgrade-property-toggle-"+property_id).prop("checked", false);
        }
        else
        {
            $("#remove_property_"+parent_id+"_for_upgrade_"+property_id).addClass('selected');
            $("#upgrade-property-toggle-"+property_id).prop("checked", true);
        }
    }


function add_propert_to_upgrade()
{
    var property_id = $("#current_apartment_setting").val();
    var project_id = $("#current_project_id").val();

    var checked_boxes = $('.checkbox_property_for_upgrade:checkbox:checked');


    $(checked_boxes).each(function() {

        var property_to_upgrade = $(this).val();

        $.ajax({
            url: '/add_property_to_upgrade/' + project_id + '/',
            type: 'GET',
            data: {'property_id': property_id, 'added_property_id': property_to_upgrade },
            success: function (data) {


                $("#properties-in-upgrade-" + property_id).append('<tr class="link" id="remove_property_for_upgrade_' + data.child_id + '"> <td> ' +
                    '<div onclick="check_selected_property_remove_upgrade(' + data.child_id + ');"> ' + data.child_name + ' </div> ' +
                    '</td><td><input type="checkbox" onclick="upgrade_property_option(' + data.child_id + ');" class="upgrade-property-view-checkbox" ' +
                    'id="upgrade-property-view-' + data.child_id + '" value="' + data.child_id + '"> </td> ' +
                    '<td> <div onclick="check_selected_property_remove_upgrade(' + data.child_id + ');"> ' + data.child_property_type + ' </div> ' +
                    '<div style="display: none"> <input type="checkbox" id="upgrade-property-toggle-' + data.child_id + '" value="' + data.child_id + '" ' +
                    'class="checkbox_property_remove_upgrade pull-right"> </div> </td> </tr>');

                    $("#property_upgrade_" + property_id).html('<a class="show-upgrade-tab" onclick="show_upgrade_details();" onchange="">U</a>');

                    $("#checkbox_property_for_upgrade_" + property_id).attr('checked', false);
                    $("#checkbox_property_for_combination_" + $(this).val()).attr('checked', false);

            }
        });
    });

    $().toastmessage('showToast', {text : "Upgrade Saved Successfully", stayTime: 2000, type : 'success'});

    show_template_for_apartment(property_id);

}


function remove_propert_to_upgrade()
{
    var property_id = $("#current_apartment_setting").val();
    var project_id = $("#current_project_id").val();

    var checked_boxes = $('.checkbox_property_remove_upgrade:checkbox:checked');


    $(checked_boxes).each(function() {

        var removed_property_id = $(this).val();

        $.ajax({
            url: '/remove_property_to_upgrade/' + project_id + '/',
            type: 'GET',
            data: {'property_id': property_id, 'removed_property_id': removed_property_id },
            success: function (data) {

                $("#remove_property_"+property_id+"_for_upgrade_"+removed_property_id).remove();
                $("#selected_property_for_upgrade_"+removed_property_id).removeClass('selected');

                var has_upgrade = data.has_upgrade;
                if (!has_upgrade)
                {
                    $("#property_upgrade_"+property_id).html('');
                }
            }
        });
    });

    $().toastmessage('showToast', {text : "upgrade Saved Successfully", stayTime: 2000, type : 'success'});

}



function filter_upgrade()
{
    var selected_type = $("#upgrade-select-type").val();
    var selected_floor = $("#upgrade-select-floor").val();


    if (selected_type && selected_floor)
    {
        $(".upgrade-floor-selection").hide();
        $(".upgrade-"+selected_type+"-"+selected_floor).show();

    }
    else
    {
        if (selected_floor)
        {
            $(".upgrade-floor-selection").hide();
            $(".upgrade-floor-selection-"+ selected_floor).show();
        }

        if (selected_type)
        {
            $(".upgrade-floor-selection").hide();
            $(".upgrade-type-selection-"+ selected_type).show();
        }

    }
}

</script>