
 <div class="row">
     <div class="col-sm-2">
         <div class="row">
             <div class="col-lg-12 col-md-12 col-sm-12">
                 <label>Level</label>
                 <select class="form-control" id="combination-select-floor"  onchange="filter_combination();">
                    <option value="">All</option>
                     {% for floor in floor_list %}
                         <option value="{{ floor.floor.pk }}">{{ floor.name }}</option>
                     {% endfor %}
                 </select>
             </div>
         </div>
     </div>
     <div class="col-sm-3">
         <div class="row">
             <div class="col-lg-12 col-md-12 col-sm-12">
                 <label>Property Type</label>
                 <select class="form-control" id="combination-select-type"  onchange="filter_combination();">
                     <option value="">All</option>
                     {% for type in property_type_list %}
                        <option value="{{ type.pk }}">{{ type.type }}</option>
                     {% endfor %}
                 </select>
             </div>
         </div>
     </div>

     <div class="col-sm-4 col-sm-offset-2">
         <label>Combined By</label>
         <input type="text" class="form-control" id="property-combined-by" value="{{ property_name }}" readonly>
     </div>
 </div>
 <br>
 <div class="row">
 <div class="col-sm-5">
    <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="wrapper" style="max-height: 358px; overflow: auto; width: 99%">
                    <table class="crunched-table scrollable-header" style="font-size: 12px;">
                        <thead>
                            <tr>
                                <th style="width: 118px;">
                                    Property
                                </th>
                                <th style="width: 118px;">
                                    Property Type
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for floor in floor_list %}
                                {% for item in floor.apartments_dict %}
                                    <tr class="link combination-floor-selection combination-floor-selection-{{ floor.floor_id }}
                                        combination-type-selection combination-{{ item.property_type_id }}-{{ floor.floor_id }}
                                        combination-type-selection-{{ item.property_type_id }} {% if item.selected_class %}selected{% endif %}"
                                        id="selected_property_{{ property_id }}_for_combination_{{ item.id }}">

                                        <td style="width: 118px;">
                                            <div onclick="check_selected_property_for_combination({{ property_id }}, {{ item.id }});">
                                                {{ item.name }}
                                            </div>
                                        </td>
                                        <td style="width: 118px;">
                                            <div  onclick="check_selected_property_for_combination({{ property_id }}, {{ item.id }});">
                                                {{ item.property_type|capfirst }}
                                            </div>

                                            <div style="display: none;">
                                                <input type="checkbox" class="checkbox_property_for_combination pull-right"
                                                       id="checkbox_property_for_combination_{{ item.id }}"
                                                       name="selected_property_combination" value="{{ item.id }}">
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
     </div>
     <div class="col-sm-2">
         <div class="row">
            <div class="col-sm-12 align-center" style="text-align: center">
                <br><br>
                <a onclick="add_propert_to_combination();" class="btn btn-sm btn-danger"><i class="fa fa-arrow-right"></i> </a>
                <br><br><br>

                <a onclick="remove_propert_to_combination();" class="btn btn-sm btn-black"><i class="fa fa-arrow-left"></i> </a>
            </div>
         </div>
     </div>
     <div class="col-sm-5">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <table class="table crunched-table" id="properties-in-combination-{{ property_id }}">
                    <thead>
                        <th>
                            Property
                        </th>
                        <th>Toggle</th>
                        <th>
                            Property Type
                        </th>
                    </thead>
                    {% for child in children_properties_dict %}
                        <tr  class="link" id="remove_property_{{ property_id }}_for_combination_{{ child.pk }}">
                            <td>
                                <div onclick="check_selected_property_remove_combination({{ property_id }}, {{ child.pk }});">
                                    {{ child.name }}
                                </div>
                            </td>
                            <td>
                                <input type="checkbox" onclick="upgrade_property_combination_toggle({{ child.pk }});" class="combined-property-view-checkbox" id="combined-property-view-{{ child.pk }}"
                                       value="{{ child.pk }}" {% if child.has_combined_view %}checked{% endif %}>
                            </td>
                            <td>
                                <div onclick="check_selected_property_remove_combination({{ property_id }}, {{ child.pk }});">
                                {{ child.property_type }}

                                </div>
                                <div style="display: none">
                                    <input type="checkbox" id="combined-property-toggle-{{ child.pk }}" value="{{ child.pk }}"
                                        class="checkbox_property_remove_combination checkbox_property_remove_combination_{{ child.panrent_combined_pk }} pull-right">
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
     </div>

</div>

<script>
    $(function() {
        var nametable = $('table.scrollable-header');

        nametable.floatThead({
            scrollContainer: function($table){
                return $table.closest('.wrapper');
            }
        });

    });

    function upgrade_property_combination_toggle(property_id)
    {
        var project_id = $("#current_project_id").val();

        var toggle_value = $("#combined-property-view-"+property_id).prop('checked');

        $.ajax({
            url: '/toggle_combination_view/' + project_id + '/',
            type: 'GET',
              data: {'property_id': property_id, 'toggle_value': toggle_value },
            success: function (data) {
                $().toastmessage('showToast', {
                        text: "Property toggle for Combination saved successfully",
                        sticky: false,
                        position: 'top-right',
                        type: 'success',
                        closeText: ''} );
            }
       });
    }



function check_selected_property_for_combination(parent_id, property_id)
{
    if ($("#selected_property_"+parent_id+"_for_combination_"+property_id).hasClass('selected'))
    {
        $("#selected_property_"+parent_id+"_for_combination_"+property_id).removeClass('selected');
        $("#checkbox_property_for_combination_"+property_id).prop("checked", false);
    }
    else
    {
        $("#selected_property_"+parent_id+"_for_combination_"+property_id).addClass('selected');
        $("#checkbox_property_for_combination_"+property_id).prop("checked", true);
    }
}

function check_selected_property_remove_combination(parent_id, property_id)
{
    if ($("#remove_property_"+parent_id+"_for_combination_"+property_id).hasClass('selected'))
    {
        $("#remove_property_"+parent_id+"_for_combination_"+property_id).removeClass('selected');
        $("#combined-property-toggle-"+property_id).prop("checked", false);
    }
    else
    {
        $("#remove_property_"+parent_id+"_for_combination_"+property_id).addClass('selected');
        $("#combined-property-toggle-"+property_id).prop("checked", true);
    }
}


function add_propert_to_combination()
{
    var property_id = $("#current_apartment_setting").val();
    var project_id = $("#current_project_id").val();

    var checked_boxes = $('.checkbox_property_for_combination:checkbox:checked');

    $(checked_boxes).each(function() {

        var added_property = $(this).val();

        $.ajax({
            url: '/add_property_to_combination/' + project_id + '/',
            type: 'GET',
            data: {'property_id': property_id, 'added_property_id': $(this).val() },
            success: function (data) {

                $("#properties-in-combination-"+ property_id).append('<tr class="link" id="remove_property_for_combination_'+data.child_id+'"> <td> ' +
                        '<div onclick="check_selected_property_remove_combination('+data.child_id+');"> '+data.child_name +' </div> ' +
                        '</td><td><input type="checkbox" onclick="upgrade_property_combination_toggle('+data.child_id+');" class="combined-property-view-checkbox" ' +
                        'id="combined-property-view-'+data.child_id+'" value="'+data.child_id+'"> </td> ' +
                        '<td> <div onclick="check_selected_property_remove_combination('+data.child_id+');"> '+data.child_property_type+' </div> ' +
                        '<div style="display: none"> <input type="checkbox" id="combined-property-toggle-'+data.child_id+'" value="'+data.child_id+'" ' +
                        'class="checkbox_property_remove_combination pull-right"> </div> </td> </tr>');




                $("#property_combination_"+property_id).html('<a class="show-combination-tab" onclick="show_upgrade_details();" onchange="">C</a>');
                $("#checkbox_property_for_combination_"+$(this).val()).attr('checked', false);

            }
        });
    });

    $().toastmessage('showToast', {text : "Combination Saved Successfully", stayTime: 2000, type : 'success'});
    show_template_for_apartment(property_id);
}


function remove_propert_to_combination()
{
    var property_id = $("#current_apartment_setting").val();
    var project_id = $("#current_project_id").val();
    var checked_boxes = $('.checkbox_property_remove_combination:checkbox:checked');

    $(checked_boxes).each(function() {

        var removed_property_id = $(this).val();

        $.ajax({
            url: '/remove_property_to_combination/' + project_id + '/',
            type: 'GET',
            data: {'property_id': property_id, 'removed_property_id': removed_property_id },
            success: function (data) {
                $("#remove_property_"+property_id+"_for_combination_"+removed_property_id).remove();
                $("#selected_property_"+property_id+"_for_combination_"+removed_property_id).removeClass('selected');


                var has_combination = data.has_combination;
                if (!has_combination)
                {
                    $("#property_combination_"+property_id).html('');
                }

            }
        });
    });

    show_template_for_apartment(property_id);

}


function filter_combination()
{
    var selected_type = $("#combination-select-type").val();
    var selected_floor = $("#combination-select-floor").val();


    if (selected_type && selected_floor)
    {
        $(".combination-floor-selection").hide();
        $(".combination-"+selected_type+"-"+selected_floor).show();

    }
    else
    {
        if (selected_floor)
        {
            $(".combination-floor-selection").hide();
            $(".combination-floor-selection-"+ selected_floor).show();
        }

        if (selected_type)
        {
            $(".combination-floor-selection").hide();
            $(".combination-type-selection-"+ selected_type).show();
        }

    }
}



</script>