{% load canvas_tags %}

     <div class="row">
         <div class="col-sm-5">
             <div class="row">
                 <div class="col-lg-12 col-md-12 col-sm-12">
                     <b>Building</b>

                     <select class="form-control" id="listing-select-building"  onchange="filter_listing_building(this.value);">
                         {% for building in buildings %}
                             <option value="{{ building.pk }}" {% ifequal building.pk building_id %}selected{% endifequal %}>{{ project|name_by_name_id:building }}</option>
                         {% endfor %}
                     </select>
                 </div>
             </div>
         </div>
     </div>
     <div class="row">
         <div class="col-sm-2">
             <div class="row">
                 <div class="col-lg-12 col-md-12 col-sm-12">
                     <b>Level</b>
                     <div id="listing-floor-selection">
                        {% include "canvas/templates/includes/listing_floor_selection.html" %}
                     </div>
                 </div>
             </div>
         </div>
         <div class="col-sm-3">
             <div class="row">
                 <div class="col-lg-12 col-md-12 col-sm-12">
                     <b>Property Type</b>
                     <div id="property-type-for-listing">
                         {% include "canvas/templates/includes/property_type_for_listing.html" %}
                     </div>
                 </div>
             </div>
         </div>
         <div class="col-sm-4 col-sm-offset-2">
             <h3>Included in Listing</h3>
         </div>
     </div>
     <br>
     <div class="row">
     <div class="col-sm-5">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="wrapper" style="max-height: 358px; max-width: 99%; overflow: auto;">
                    <table class="crunched-table scrollable-header" style="font-size: 12px;">
                        <thead>
                            <tr>
                                <th style="width: 118px;">
                                    Property
                                </th>
                                <th style="width: 118px;">
                                    Property Type
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for floor in floor_list %}
                                {% for item in floor.apartments_dict %}
                                    {% ifequal item.id property_id %}
                                        <tr class="selected">
                                            <td style="width: 118px;">
                                                {{ item.name }}
                                            </td>
                                            <td style="width: 118px;">
                                                {{ item.property_type|capfirst }}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr class="link listing-floor-selection listing-floor-selection-{{ floor.floor_id }} listing-building-selection-{{ floor.building_id }}
                                            listing-type-selection listing-{{ item.property_type_id }}-{{ floor.floor_id }}
                                            listing-type-selection-{{ item.property_type_id }} {% if item.selected_class %}selected{% endif %}"
                                            id="selected_property_for_listing_{{ item.id }}" onclick="check_selected_property_for_listing({{ item.id }});">

                                            <td style="width: 118px;">
                                                <div id="selected_property_name_for_listing_{{ item.id }}">
                                                    {{ item.name }}
                                                </div>
                                            </td>
                                            <td style="width: 118px;">
                                                <div id="selected_property_type_for_listing_{{ item.id }}">
                                                    {{ item.property_type|capfirst }}
                                                </div>

                                                <div style="display: none;">
                                                    <input type="checkbox" class="checkbox_property_for_listing pull-right"
                                                           id="checkbox_property_for_listing_{{ item.id }}"
                                                           name="selected_property_listing" value="{{ item.id }}">
                                                </div>
                                            </td>
                                        </tr>
                                    {% endifequal %}
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
     </div>
     <div class="col-sm-2">
         <div class="row">
            <div class="col-sm-12 align-center" style="text-align: center">
                <br><br>
                <a onclick="add_property_to_listing();" class="btn btn-sm btn-danger"><i class="fa fa-arrow-right"></i> </a>
                <br><br><br>

                <a onclick="remove_property_from_listing();" class="btn btn-sm btn-black"><i class="fa fa-arrow-left"></i> </a>
            </div>
         </div>
     </div>
     <div class="col-sm-5">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <table class="table crunched-table" id="properties-in-listing">
                    <thead>
                        <th>
                            Property
                        </th>
                        <th>
                            Property Type
                        </th>
                    </thead>
                        <tr class="selected">
                            <td>
                                {{ property_name }}

                            </td>
                            <td>
                                {{ property_type|capfirst }}
                            </td>
                        </tr>

                    {% for child in children_listing_dict %}
                        {% ifnotequal child.pk property_id %}
                            <tr class="link" id="remove_property_for_listing_{{ child.pk }}" onclick="check_selected_property_remove_listing({{ child.pk }});">
                                <td>
                                    {{ child.name }}
                                </td>
                                <td>
                                    {{ child.property_type }}
                                    <div style="display: none">
                                        <input type="checkbox" id="listing-property-toggle-{{ child.pk }}" value="{{ child.pk }}"
                                            class="checkbox_property_remove_listing pull-right">
                                    </div>
                                </td>
                            </tr>
                        {% endifnotequal %}
                    {% endfor %}
                </table>
            </div>
        </div>
     </div>

     <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
 </div>


<script>
    $(function () {
       var $table_propertyedit = $(".scrollable-header");
        $table_propertyedit.floatThead({
            //debounceResizeMs: 300,
            scrollContainer: function ($table_propertyedit) {
                return $table_propertyedit.closest('.wrapper');
            }
        });
    });
</script>


