<select class="form-control" id="listing-select-type"  onchange="filter_listing();">
     <option value="">All</option>
     {% for type in property_type_list %}
        <option value="{{ type.pk }}">{{ type.type }}</option>
     {% endfor %}
 </select>