<select id="{{ selected_id }}" onchange="update_selected_apartment(this.value);">
    <option value="">Select Property</option>
    {% for row in floor_apartments %}
        <option value="{{ row.property.pk }}">{{ row.name }}</option>
    {% endfor %}
</select>