{% load canvas_tags %}
{% load model_tags %}

    <div class="card card-underline" style="margin-top: -56px;">
        <div class="link card-head style-default-dark" onclick="$('#level-plans-action-card').toggle('slow');">
            <header>Actions</header>

            <div class="tools">
                <div class="btn-group">
                    <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-eye white"></i></a>
                </div>
            </div>
        </div>
        <div id="level-plans-action-card" class="card-body no-padding" style="display: none;">
            <div  style="padding: 10px;">
                <span onclick="copy_new_coordinates({{ project.pk }});" class="link fa-stack fa-lg" data-toggle="tooltip"
                      data-placement="top" title="Copy Hotspots">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-copy fa-stack-1x fa-inverse"></i>
                </span>

{#                <span onclick="remove_new_coordinates({{ project.pk }});" class="link fa-stack fa-lg" data-toggle="tooltip"#}
{#                      data-placement="top" title="Delete Hotspots">#}
{#                  <i class="fa fa-circle fa-stack-2x"></i>#}
{#                  <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>#}
{#                </span>#}

                <span onclick="update_floor_hotspots();" class="link fa-stack fa-lg" data-toggle="tooltip" data-placement="top"
                      title="Reload All Hotspots">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-refresh fa-stack-1x fa-inverse"></i>
                </span>

                <span class="link fa-stack fa-lg" data-toggle="modal" href="#add_new_apartment_modal">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i data-toggle="tooltip" data-placement="top" title="Add new Property" class="fa fa-home fa-stack-1x fa-inverse"></i>
                </span>

                <span class="link fa-stack fa-lg" data-toggle="modal" href="#add_new_floor_modal">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i data-toggle="tooltip" data-placement="top" title="Add new Level" class="fa fa-building-o fa-stack-1x fa-inverse"></i>
                </span>

                <span onclick="remove_selected_level();" class="link fa-stack fa-lg"
                      data-toggle="tooltip" data-placement="top" title="Remove selected level">
                  <i class="fa fa-circle fa-stack-2x text-danger"></i>
                  <i class="fa fa-hand-scissors-o fa-stack-1x fa-inverse"></i>
                </span>

                <span onclick="remove_selected_property();" class="link fa-stack fa-lg" data-toggle="tooltip"
                      data-placement="top" title="Remove selected property">
                  <i class="fa fa-circle fa-stack-2x text-success"></i>
                  <i class="fa fa-hand-scissors-o fa-stack-1x fa-inverse"></i>
                </span>

                <span onclick="remove_selected_hotspots();" class="link fa-stack fa-lg" data-toggle="tooltip"
                      data-placement="top" title="Remove selected hotspot">
                  <i class="fa fa-circle fa-stack-2x text-warning"></i>
                  <i class="fa fa-map-o fa-stack-1x fa-inverse"></i>
                </span>
            </div>
        </div>
    </div>


    <div class="card">
        <div class="card-head">
            <ul class="nav nav-tabs" data-toggle="tabs" style="font-size: 11px;">
                <li class="active"><a data-toggle="tab" href="#first1">Flrs</a></li>
                <li><a data-toggle="tab" href="#second1">Enbld</a></li>
                <li><a data-toggle="tab" href="#third1">Dsbld</a></li>
                <li><a data-toggle="tab" href="#select_building">Bldng</a></li>
            </ul>
        </div><!--end .card-head -->
        <div class="card-body tab-content"  id="floor-tab-content">
            <div class="tab-pane active" id="first1">

                <select style="margin-bottom: 20px;" id="building-selected" onchange="refresh_with_new_building(this.value);">
                    {% for building in buildings %}
                        <option value="{{ building.pk }}">{{ project|name_by_name_id:building }}</option>
                    {% endfor %}
                </select>


                <table id="select-all-floors-table">
                    <tr>
                        <td style="width: 40px;">

                        </td>
                        <td>
                            <a class="floor-select-link">
                                <input type="checkbox" id="select_all">
                            </a>
                        </td>
                    </tr>

                </table>

                <div id="all-floors-list">
                    {% include "canvas/templates/includes/floor_select_list.html" %}
                </div>

            </div>
            <div class="tab-pane" id="second1">
                Enabled
            </div>
            <div class="tab-pane" id="third1">
                Disabled
            </div>
            <div class="tab-pane" id="select_building">
                <h3>Edit Building Details</h3>

                <div id="building-list">
                    {% for building in buildings %}
                        <div class="row building-details-row" style="margin-bottom: 5px;" id="show_building_name_{{ building.pk }}">
                            <div class="col-sm-9">
                                <input type="text" id="building_name_{{ building.pk }}" class="form-control building-name-details"
                                       placeholder="building name" value="{{ project|name_by_name_id:building }}">
                            </div>
                            <div class="col-sm-2">
                                <a onclick="delete_building({{ building.pk }});" class="fa fa-trash"></a> &nbsp;  [id:{{ building.pk }}]
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <a href="#" data-toggle="modal" data-target="#add_new_building_modal"><i class="fa fa-plus"></i> Add new building</a>
            </div>
        </div><!--end .card-body -->
    </div>



          <script>

              function delete_building(building_id)
                {
                    var building_count = $(".building-details-row").length;
                    var message = "Are you sure you wish to delete this building?";

                    var redirect_home = false;

                    if (building_count == 1)
                    {
                        message = "Are you sure you wish to delete this building? There is only 1 building in this project.";
                        redirect_home = true;
                    }

                    if (confirm(message))
                    {
                        var project_id = $("#current_project_id").val();
                        $("#show_building_name_"+ building_id).remove();

                        $.ajax({
                            url: '/delete_building/' + project_id + '/',
                            type: 'GET',
                            data: {'building_id': building_id},
                            success: function (data) {
                                if (redirect_home)
                                {
                                    window.location.href='/projects/'+ project_id+'/';
                                }
                                else
                                {
                                    $(".building-floor-select-"+building_id).remove();
                                    $("#select-floors").html(data.rendered);
                                }

                            }
                        });
                    }

                    $().toastmessage('showToast', {text : "Building Removed Successfully. Refreshing page.", stayTime: 2000, type : 'success'});

                }

              function save_new_building()
              {
                  var project_id = $("#current_project_id").val();
                  var new_building = $("#new_building_name").val();
{#                  var new_building_floor = $("#new_building_floor").val();#}

                  var floor_id = $("#current_floor_id").val();

                  if (new_building)
                  {
                      $.ajax({
                        url: '/save_building_name/' + project_id + '/',
                        type: 'GET',
                          data: {'building_name': new_building, 'direction': 'new', 'floor_id': floor_id},
                        success: function (data) {
                            $().toastmessage('showToast', {text : "New building saved successfully.", stayTime: 2000, type : 'success'});

                            var new_html = '<div class="row" style="margin-bottom: 5px;" id="show_building_name_BID">' +
                                '<div class="col-sm-9"> '+
                                '   <input id="building_name_BID" class="form-control building-name-details" placeholder="building name" value="'+new_building+'" type="text">' +
                                '</div>' +
                                '<div class="col-sm-2">'+
                                '    <a onclick="delete_building(BID);" class="fa fa-trash"></a> &nbsp;  [id:BID]'+
                                '</div>'+
                                '</div>';

                            new_html = new_html.replace(/BID/g, data.building_id);
                            $("#building-list").append(new_html);

                            $("#new_building_name").val('');

                            refresh_with_new_building(data.building_id);
                        }
                     });
                  }

                  var buildings = $(".building-name-details");
                  $(buildings).each(function() {

                      var building = $(this).attr('id');
                      building = building.replace('building_name_', '');

                      var selected_name = this.value;

                      $.ajax({
                          url: '/save_building_name/' + project_id + '/',
                          type: 'GET',
                          data: {'building_name': selected_name, 'direction': 'edit', 'floor_id': floor_id, 'building':building},
                          success: function (data) {

                          }
                      });

                  });

              }

              function show_editable_template()
              {
                  $('#property-simple').hide();
                  $('#property-editable-template').show();

              }

              function get_selected_template(template_id, div_id)
              {
                  if (template_id)
                  {
                      $("#selected_template_id").val(template_id);

                      var project_id = $("#current_project_id").val();
                      var property_id = $("#current_apartment_setting").val();

                      $(".floor_id_property").val($("#current_floor_id").val());
                      var building_id = $("#current_building_id").val();

                      $.ajax({
                        url: '/get_editable_property_template/' + project_id + '/',
                        type: 'GET',
                          data: {'property_id': property_id, 'building_id': building_id, 'template_id': template_id},
                        success: function (data) {
                            $(div_id).html(data.editable_property_html);
                        }
                      });
                  }
                  else {
                      $(div_id).html('');
                  }

              }

              function show_simple_form()
              {
                  $('#property-simple').show();
                  $('#property-editable-template').hide();
              }

              function save_new_level()
              {
                  var project_id = $("#current_project_id").val();
                  var building_id = $("#building-selected").val();
                  var number_of_apartments = $("#number_of_apartments").val();
                  var new_level_name = $("#new_level_name").val();

                  $.ajax({
                    url: '/save_new_floor_level/' + project_id + '/' + building_id + '/',
                    type: 'GET',
                      data: {'number_of_apartments': number_of_apartments, 'new_level_name': new_level_name},
                    success: function (data) {

                        if (data.name_form_rendered)
                        {
                            $("#new_property_form_names").html('');
                            $("#save-all-new-floor-names").show();
                            $("#save-property-names-button").show();
                            $("#new_floor_saved_id").val(data.new_floor_id);
                            $("#add-new-level-form").hide();

                            $().toastmessage('showToast', {text : "New Level details saved. Please check the property names.", stayTime: 2000, type : 'success'});

                            $("#new_property_form_names").show().html(data.name_form_rendered);

                        }
                        else
                        {
                            $("#new_level_name").val('');
                            $("#number_of_apartments").val(0);
                            $("#all-floors-list").html(data.select_floor_rendered);
                            $().toastmessage('showToast', {text : "New Level Saved Successfully", stayTime: 2000, type : 'success'});
                            $("#close-level-create-modal").trigger("click");
                            select_new_floor(data.new_floor_id);
                            $("#add_new_floor_modal").modal('hide');

                            $(init);
                        }

                    }
                  });
              }

              function save_editable_template()
              {
                  var project_id = $("#current_project_id").val();
                  var property_id = $("#selected_apartment").val();
                  var floor_id = $("#current_floor_id").val();

                  $.post('/save_new_property_editable_template/' + project_id + '/',
                    $( "#add-property-form" ).serialize()).success(function( data ) {
                      $().toastmessage('showToast', {text : "New Property Saved Successfully", stayTime: 2000, type : 'success'});
                      $("#close-property-create-modal").trigger("click");
                      $("#selected-template").val('');

                      $("#key-plan-select").trigger("click");
                      property_id = parseInt(data.property_id);
                      floor_id = data.floor_id;

                      if (data.selected_property_id == "")
                      {
                          var total = parseInt($("#floor-count-total-"+floor_id).text());
                          if (total)
                          {
                              total = total + 1;
                              $("#floor-count-total-"+floor_id).text(total);
                          }
                      }

                      select_new_floor(floor_id);

                      $("#key-plan-select").trigger("click");
                  });

              }

              function save_all_new_property_names()
              {
                  var project_id = $("#current_project_id").val();
                  var floor_id = $("#new_floor_saved_id").val();
                  var building_id = $("#current_building_id").val();

                  $.post('/save_new_property_names/' + project_id + '/' + floor_id+ '/' + building_id + '/',
                    $("#save-all-new-floor-names").serialize()
                  ).success(function( data ) {

                      $("#new_level_name").val('');
                      $("#number_of_apartments").val('0');

                      $("#all-floors-list").html(data.select_floor_rendered);

                      $().toastmessage('showToast', {text : "New Property Names Saved Successfully", stayTime: 2000, type : 'success'});
                      $("#close-level-create-modal").trigger("click");

                      select_new_floor(floor_id);

                      $(init);

                      $("#save-all-new-floor-names").hide();
                      $("#save-property-names-button").hide();
                      $("#add-new-level-form").show();
                      $("#add_new_floor_modal").modal('hide');



                  });
              }
          </script>

