{% load canvas_tags %}
{% load model_tags %}


<div>
    <button id="scroll-up-button" class="btn btn-default" type="button" style="width: 100%;"><i class="fa fa-caret-up"></i> </button>
</div>

<div id="all-images" class="outside">
    <div id="scroll-all-images" class="inside">
         {% for file in aspect_dict %}

             <div class="scrolling-images scrolling-images-{{ file.floor_id }}">

                <div class="col-lg-{{ image_settings }} image-selected-display"
                     style="height: 300px; text-align: center; padding-top: 30px;" id="image-selected-{{ file.pk }}">
                    <small><em>
                        {{ file.file.path|image_name }}
                        - [order: {% if file.orderidx %}{{ file.orderidx }}{% else %}{{ forloop.counter }}{% endif %}]
                    </em></small><br>

                    <img src="{{ file.file.path|image_src }}" id="image-{{ file.pk }}"
                         style="max-width: 100%; max-height: 250px;">
                    <br><br>
                </div>

             </div>

        {% endfor %}
    </div>
</div>

<div>
    <button id="scroll-down-button" class="btn btn-default" type="button" style="width: 100%; margin-top: -22px;"><i class="fa fa-caret-down"></i> </button>
</div>



<script>
    $(function () {
        $('#scroll-all-images').bind('mousedown.prev DOMMouseScroll.prev mousewheel.prev keydown.prev keyup.prev', function(e, d){
            e.preventDefault();
        });

        $("#disableScrolling").click(function(){ disableScrolling(); return false; });
        $("#enableScrolling").click(function(){ enableScrolling(); return false;	});

        $("#scroll-down-button").click(function() {
            $(".image-selected-display").show();
            $('#scroll-all-images').animate({scrollTop: '+=300px'}, 800);
        });

        $("#scroll-up-button").click(function() {
            $(".image-selected-display").show();
            $('#scroll-all-images').animate({scrollTop: '-=300px'}, 800);
        });

    });

    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();

</script>