
pre{
	display:block;
	font:100% "Courier New", Courier, monospace;
	padding:10px;
	border:1px solid #bae2f0;
	background:#e3f4f9;
	margin:.5em 0;
	overflow:auto;
	width:800px;
}

img{border:none;}

ul,li{
	margin:0;
	padding:0;
}

#plan-editor-slider li{
	list-style:none;
	float:left;
	display:inline;
	margin-right:10px;
}

/*  */

#preview {
	position:absolute;
	border:1px solid #ccc;
	background:#333;
	padding:5px;
	display:none;
	color:#fff;
    z-index: 1000;

}

#preview img {
        max-width: 600px;
}
