{% extends "projects/editor_base.html" %}

{% load model_tags %}

{% block title %}{{ block.super }} - {{ project.name }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb" href="{{ project.get_absolute_url }}">
        {{ project.name }}

        <i class="fa fa-angle-double-right"></i>
    </a>

    <a class="header-breadcrumb not-active">
        Plans Preview Editor
    </a>
{% endblock %}

{% block apartment_content %}
    <section id="apartment-scroll" style="text-align: center">
        <h2>Apartments</h2>

        <div {% if total_apartments > 20 %}style="max-height: 550px; overflow-y: auto;"{% endif %}>
            <table style="padding: 0; margin: auto;">
            {% for item in apartments %}
                <tr style="text-align: center">
                    <td style="padding: 2px;">
                        <a id="apartment-link-{{ item.id }}" onclick="set_apartment_selected({{ item.id }},'{{ item.picking_coord_x }}', '{{ item.picking_coord_y }}', 'yellow', '{{ canvas_width }}');"
                           class="btn btn-sm btn-default show-apartment" data-toggle="tooltip" data-placement="top" title="{% if not item.picking_coord_x %}Apartment Hotspot Not Set{% else %}Show apartment hotspot{% endif %}">{{ item.name }}</a>
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>

        <input type="hidden" id="selected_apartment" value="{{ first_apartment_id }}">
        <input type="hidden" id="selected_apartment_x_coordinate" value="{{ x_coordinate }}">
        <input type="hidden" id="selected_apartment_y_coordinate" value="{{ y_coordinate }}">
        <input type="hidden" id="canvas_width" value="{{ canvas_width }}">
        <input type="hidden" id="image_type_displayed" value="level">



    <input type="hidden" id="apartment_list" value="{{ apartment_list }}">
    <input type="hidden" id="project_id" value="{{ project.pk }}">
    <input type="hidden" id="floor_id" value="{{ floor_id }}">
{% endblock %}

{% block image_content %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" style="margin-bottom: 20px;">
            <a class="pull-right btn btn-sm btn-default" data-toggle="modal" data-target="#image_uploader">
                <i  data-toggle="tooltip" data-placement="top" title="Import images to folder." class="icon-file-image-o"></i>
            </a>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12">
            <select id="change-side-level-plan-view">
                <option value="level" selected>Level plans</option>
                <option value="floor">Floor plans</option>
                <option value="key">Key plans</option>
            </select>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-7">

                <h2>Plans Preview Editor: Floor [name: {{ model_instance.name }}]</h2>

                <div style="font-size: 11px; margin-left: 0; width: 100%; float: left" id="floorplan-message">{{ image_path }}</div>

                <div id="floor-plan-wrapper" style="width: {{ canvas_width }};">
                    <div id="floor-plan-image" style="text-align: center; width:{{ canvas_width }};">
                        {% if image_exists %}
                            <img src="{{ STATIC_URL }}{{ image_path }}" style="max-width: {{ canvas_width }};" id="canvas-image">
                        {% else %}
                            <em>This floor has no image selected (placeholder displayed).</em>
                            <img src="/static/common/img/placeholder.jpg" style="height: {{ canvas_width }};width: {{ canvas_width }};" id="canvas-image">
                        {% endif %}
                    </div>

                    <canvas id="cross-hatch" style="top: -{{ canvas_width }};" class="cross-hatch-image" width="{{ canvas_width }}" height="{{ canvas_width }}">
                        Your browser does not support the HTML5 canvas tag.
                    </canvas>
                </div>


        </div>


        <div class="col-xs-5">

                    <h2>Actions</h2>

                    <ul class="action-list">
                        {% for action_name, action_url in actions %}
                            <li>
                                <a href="{{ action_url }}">
                                    {{ action_name }}
                                    <i class="icon-arrow-right"></i>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                    <br>
                    <label>Preview</label>

                    <select id="select-change-image-type">
                        <option value="level" selected>Level plans</option>
                        <option value="floor">Floor plans</option>
                        <option value="key">Key plans</option>
                    </select>



                <h2>Edit Details</h2>

                <div class="row">
                    {% if buildings > 1 %}
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <select class="pull-left">
                            <option>Building 1</option>
                        </select>
                    </div>
                    {% endif %}
                </div>
                <div style="max-height: 408px;overflow: auto;"  class="wrapper">
                    <table class="table-condensed table-bordered scrollable-header">
                        <thead>
                            <tr style="background: #f0f0f0">
                                <th style="width: 130px; text-align: center" id="editable-details-selection-type">
                                    Level
                                </th>
                                <th style="width: 280px;"  id="editable-details-selection-name">Image Name</th>
                            </tr>
                        </thead>

                        <tbody id="level-table-edit" class="editable-table-details">
                            {% for row in floor_list %}
                                <tr>
                                    <td onclick="window.location.href='/projects/{{ project.pk }}/floor/plan/editor/{{ row.floor.id }}/';" style="border: 1px solid red; text-align: center; cursor: pointer;" class="{% ifequal model_instance.pk row.floor.id %}selected{% endifequal %}">
                                        <div  data-toggle="tooltip" data-placement="right" title="View this floor">
                                            <a href="{% url 'floor-plan-editor' project.pk row.floor.id %}#floor-spot">
                                                {{ row.floor.name }}
                                            </a>
                                        </div>
                                    </td>
                                    <td style="font-size: 12px;">
                                        <div id="level-show-image-name-{{ row.floor.id }}">

                                            <span id="level-show-image-name-text-{{ row.floor.id }}">{{ project|show_floor_plan_image_name:row.floor|default_if_none:"<em>Image name not saved</em>"|default:"<em>Image name not saved</em>" }}</span>
                                            &nbsp;
                                            <button onclick="$('#level-show-image-name-'+{{ row.floor.id }}).toggle();$('#level-edit-image-name-'+{{ row.floor.id }}).toggle();" data-toggle="tooltip" data-placement="left" title="Edit image name" class="pull-right"><i class="icon-edit"></i> </button>
                                        </div>
                                        <div id="level-edit-image-name-{{ row.floor.id }}" style="display: none;">
                                            <form id="level-form-save-image-name-{{ row.floor.id }}">
                                                {% csrf_token %}

                                                <input type="text" id="level-image_name_text-{{ row.floor.id }}" name="image_name" class="input-sm" style="width: 220px; height:20px; font-size: 12px; margin: 0" value="{{ project|show_floor_plan_image_name:row.floor }}"> &nbsp;
                                                <input type="hidden" name="floor_of_image_name" value="{{ row.floor.id }}">

                                                <a class="btn btn-default btn-sm pull-right" onclick="save_image_name({{ project.pk }}, {{ row.floor.id }}, 'level');" data-toggle="tooltip" data-placement="bottom" title="Save image name"><i class="icon-save"></i> </a>
                                            </form>


                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>

                        <tbody id="floor-table-edit" class="editable-table-details" style="display: none;">
                            {% for row in apartments_dict %}
                                <tr>
                                    <td class="row-name row-name-{{ row.id }}" style="text-align: center">
                                        {{ row.name }}
                                    </td>
                                    <td style="font-size: 12px;">
                                        <div id="floor-show-image-name-{{ row.id }}">

                                            <span id="floor-show-image-name-text-{{ row.id }}">{{ row.floor_image_name|default_if_none:"<em>Image name not saved</em>"|default:"<em>Image name not saved</em>" }}</span>
                                            &nbsp;
                                            <button onclick="$('#floor-show-image-name-'+{{ row.id }}).toggle();$('#floor-edit-image-name-'+{{ row.id }}).toggle();" data-toggle="tooltip" data-placement="left" title="Edit floor image name" class="pull-right"><i class="icon-edit"></i> </button>
                                        </div>
                                        <div id="floor-edit-image-name-{{ row.id }}" style="display: none;">
                                            <form id="floor-form-save-image-name-{{ row.id }}">
                                                {% csrf_token %}

                                                <input type="text" id="floor-image_name_text-{{ row.id }}" name="image_name" class="input-sm" style="width: 220px; height:20px; font-size: 12px; margin: 0" value="{{ row.floor_image_name }}"> &nbsp;
                                                <input type="hidden" name="floor_of_image_name" value="{{ row.id }}">

                                                <a class="btn btn-default btn-sm pull-right" onclick="save_image_name({{ project.pk }}, {{ row.id }}, 'floor');" data-toggle="tooltip" data-placement="bottom" title="Save image name"><i class="icon-save"></i> </a>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>

                        <tbody id="key-table-edit" class="editable-table-details" style="display: none;">
                            {% for row in apartments_dict %}
                                <tr>
                                    <td class="row-name row-name-{{ row.id }}" style="text-align: center">
                                        {{ row.name }}
                                    </td>
                                    <td style="font-size: 12px;">
                                        <div id="key-show-image-name-{{ row.id }}">

                                            <span id="key-show-image-name-text-{{ row.id }}">{{ row.key_image_name|default_if_none:"<em>Image name not saved</em>"|default:"<em>Image name not saved</em>" }}</span>
                                            &nbsp;
                                            <button onclick="$('#key-show-image-name-'+{{ row.id }}).toggle();$('#key-edit-image-name-'+{{ row.id }}).toggle();" data-toggle="tooltip" data-placement="left" title="Edit key image name" class="pull-right"><i class="icon-edit"></i> </button>
                                        </div>
                                        <div id="key-edit-image-name-{{ row.id }}" style="display: none;">
                                            <form id="key-form-save-image-name-{{ row.id }}">
                                                {% csrf_token %}

                                                <input type="text" id="key-image_name_text-{{ row.id }}" name="image_name" class="input-sm" style="width: 220px; height:20px; font-size: 12px; margin: 0" value="{{ row.key_image_name }}"> &nbsp;
                                                <input type="hidden" name="floor_of_image_name" value="{{ row.id }}">

                                                <a class="btn btn-default btn-sm pull-right" onclick="save_image_name({{ project.pk }}, {{ row.id }}, 'key');" data-toggle="tooltip" data-placement="bottom" title="Save image name"><i class="icon-save"></i> </a>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
                <br>

        </div>
    </div>

{% endblock %}


{% block image_selector_content %}

    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12" style="margin-top: -{{ canvas_width }} !important; padding-top: 50px;">

                <h2>
                    Image Selector: <span id="selector-type">level</span> plans <span id="selector-type-second">[iPad]</span>
                </h2>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12" style="margin-bottom: 3px;">
                        <div class="pull-left">
                            <input type="checkbox" id="show-hover-preview" checked onclick="change_display();"> Show hover preview &nbsp; | &nbsp;

                            <input type="checkbox" id="show-hover-preview-all"> Quick view all
                            <input type="hidden" id="show-preview" class="display">
                        </div>
                        <div style="display: none; margin: 0; margin-left: 30px; margin-top: -3px; padding: 0;" class="pull-left" id="clear-selection">
                            <a onclick="hide_selected_preview_image();" data-toggle="tooltip" data-placement="top" title="Clear selection" class="btn btn-sm btn-default"><i class="icon-close"></i> </a>
                            &nbsp;
                            <a onclick="remove_image_from_location({{ project.pk }});" data-toggle="tooltip" data-placement="top" title="Remove image from path" class="btn btn-sm btn-danger"><i class="fa fa-trash-o"></i> </a>
                        </div>
                        <div class="pull-right">
                            <a onclick="save_page_details({{ project.pk }}, {{ floor_id }});" class="pull-right btn btn-sm btn-default" data-toggle="tooltip" data-placement="top" title="Save select image details"><i id="pencil" class="icon-save"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div id="plan-editor-slider" class="slider form-well" style="min-height:180px;max-height:200px;">

                            <ul id="level_plan_images">
                                {% for image in existing_level_images %}
                                    {% if project|level_image_exists_on_path:image %}
                                        <li class="level-plan-images image-slider-list">
                                            <div style="z-index: 5; cursor: pointer; display: inline-block; margin-right: 5px; width: 150px; height: 150px; font-size: 10px;">

                                                <em>{{ image }}</em>

                                                <a onclick="change_selected_preview_image('{{ image }}', '{{ project.level_plan_location }}', 'level');" href="{{ STATIC_URL }}{{ project|level_image_exists_on_path:image }}" class="preview hovering" id="list-image-{{ image }}">
                                                    <img src="{{ STATIC_URL }}{{ project|level_image_exists_on_path:image }}" style="max-width: 150px;">
                                                </a>

                                                <div id="level-plan-{{ image|cut:'.jpg' }}" class="blue-image-selector"  onclick="hide_selected_preview_image();" data-toggle="tooltip" data-placement="right" title="The current floor plan for this floor"
                                                     style="{% ifnotequal image_path project|level_image_exists_on_path:image %} display: none;{% else %} display: inline-block;  {% endifnotequal %}">
                                                    <br>
                                                </div>

                                                <div data-toggle="tooltip" data-placement="right" title="Preview displayed in canvas above" class="image-selection-box" id="level-image-selection-{{ image|cut:'.jpg' }}" style="display: none; z-index: 10; opacity: 0.2; background: pink; margin-right: 5px; width: 150px;
                                                    height: 150px; margin-top: -150px; float: left; border: 1px solid red;">
                                                    <br>
                                                </div>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                                {% for image in existing_floor_images %}
                                    {% if project|floor_image_exists_on_path:image %}
                                        <li class="floor-plan-images image-slider-list" style="display: none;">
                                            <div style="z-index: 5; cursor: pointer; display: inline-block; margin-right: 5px; width: 150px; height: 150px; font-size: 10px;">

                                                <em>{{ image }}</em>

                                                <a onclick="change_selected_preview_image('{{ image }}', '{{ project.floor_plan_location }}', 'floor');" href="{{ STATIC_URL }}{{ project|floor_image_exists_on_path:image }}" class="preview hovering" id="list-image-{{ image }}">
                                                    <img src="{{ STATIC_URL }}{{ project|floor_image_exists_on_path:image }}" style="max-width: 150px;">
                                                </a>

                                                <div id="floor-plan-{{ image|cut:'.jpg' }}" class="blue-image-selector"  onclick="hide_selected_preview_image();" data-toggle="tooltip" data-placement="right" title="The current floor plan for this floor" style="display: none;">
                                                    <br>
                                                </div>


                                                 <div data-toggle="tooltip" data-placement="right" title="Preview displayed in canvas above" class="image-selection-box" id="floor-image-selection-{{ image|cut:'.jpg' }}" style="display: none; z-index: 10; opacity: 0.2; background: pink; margin-right: 5px; width: 150px;
                                                    height: 150px; margin-top: -150px; float: left; border: 1px solid red;">
                                                    <br>
                                                </div>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                                {% for image in existing_key_images %}
                                    {% if project|key_image_exists_on_path:image %}
                                        <li class="key-plan-images image-slider-list" style="display: none;">

                                            <div style="z-index: 5; cursor: pointer; display: inline-block; margin-right: 5px; width: 150px; height: 150px; font-size: 10px;">

                                                <em>{{ image }}</em>

                                                <a onclick="change_selected_preview_image('{{ image }}', '{{ project.key_plan_location }}', 'key');" href="{{ STATIC_URL }}{{ project|key_image_exists_on_path:image }}" class="preview hovering" id="list-image-{{ image }}">
                                                    <img src="{{ STATIC_URL }}{{ project|key_image_exists_on_path:image }}" style="max-width: 150px; padding-top: 25px;padding-bottom: 25px;">
                                                </a>

                                                <div id="key-plan-{{ image|cut:'.jpg' }}" class="blue-image-selector" onclick="hide_selected_preview_image();" data-toggle="tooltip" data-placement="right" title="The current floor plan for this floor" style="display: none;">
                                                    <br>
                                                </div>


                                                 <div data-toggle="tooltip" data-placement="right" title="Preview displayed in canvas above" class="image-selection-box" id="key-image-selection-{{ image|cut:'.jpg' }}" style="display: none; z-index: 10; opacity: 0.2; background: pink; margin-right: 5px; width: 150px;
                                                    height: 150px; margin-top: -150px; float: left; border: 1px solid red;">
                                                    <br>
                                                </div>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>

                            <input type="hidden" value="common/img/placeholder.jpg" id="image-selected-for-floor">
                            <input type="hidden" value="level" id="image-type-selected-for-floor">

                            {% if image_exists %}
                                <input type="hidden" id="current-floor-image-path" value="{{ image_path }}">
                            {% else %}
                                <input type="hidden" id="current-floor-image-path" value="common/img/placeholder.jpg">
                            {% endif %}
                        </div>


                        <div class="controls">
                            <a class="prev-page" data-toggle="tooltip" data-placement="top" title="Move slider to start"><i class="fa fa-fast-backward"></i></a> |
                            <a class="prev-slide" data-toggle="tooltip" data-placement="top" title="Move images left"><i class="fa fa-backward"></i></a> |
                            <a class="next-slide" data-toggle="tooltip" data-placement="top" title="Move images right"><i class="fa fa-forward"></i></a> |
                            <a class="next-page" data-toggle="tooltip" data-placement="top" title="Move slider to end"><i class="fa fa-fast-forward"></i></a>
                        </div>


                        <div class="path-details pull-right small" id='level-path-details' style="margin-top: -15px;">
                            <div id="show-path">
                                {{ project.level_plan_location|default_if_none:"<em>Level path not saved</em>"|default:"<em>Level path not saved</em>" }}
                                &nbsp;
                                <a class="btn btn-sm btn-default" onclick="$('#edit-path').toggle();$('#show-path').toggle();" data-toggle="tooltip" data-placement="top" title="Edit project level plan images location"><i class="icon-edit"></i> </a>
                            </div>
                            <div id="edit-path" style="display: none;">
                                <form id="form-save-level-folder-path" action method="post">
                                    {% csrf_token %}

                                    <input type="text" name="image_plan_path" id="image-plan-path" data-toggle="tooltip" data-placement="top" title="Saving path for: {{ project.name }} Level Plans" class="input-sm" style="width: 400px;" value="{{ project.level_plan_location }}">
                                    &nbsp; <a class="btn btn-sm btn-default" onclick="save_image_folder_path({{ project.pk }}, 'level');" data-toggle="tooltip" data-placement="top" title="Save project level plan location"><i class="icon-save"></i> </a>
                                </form>

                            </div>
                        </div>

                        <div class="path-details pull-right small" id='floor-path-details' style="display: none; margin-top: -15px;">
                            <div id="show-floor-path">
                                {{ project.floor_plan_location|default_if_none:"<em>Floor path not saved</em>"|default:"<em>Floor path not saved</em>" }}
                                &nbsp;
                                <a class="btn btn-sm btn-default" onclick="$('#edit-floor-path').toggle();$('#show-floor-path').toggle();" data-toggle="tooltip" data-placement="top" title="Edit project level plan images location"><i class="icon-edit"></i> </a>
                            </div>
                            <div id="edit-floor-path" style="display: none;">
                                <form id="form-save-floor-folder-path" action method="post">
                                    {% csrf_token %}

                                    <input type="text" name="image_plan_path" id="image-plan-path" data-toggle="tooltip" data-placement="top" title="Saving path for: {{ project.name }} Floor Plans" class="input-sm" style="width: 400px;" value="{{ project.floor_plan_location }}">
                                    &nbsp; <a class="btn btn-sm btn-default" onclick="save_image_folder_path({{ project.pk }}, 'floor');" data-toggle="tooltip" data-placement="top" title="Save project level plan location"><i class="icon-save"></i> </a>
                                </form>

                            </div>
                        </div>

                        <div class="path-details pull-right small" id='key-path-details' style="display: none; margin-top: -15px;">
                            <div id="show-key-path">
                                {{ project.key_plan_location|default_if_none:"<em>Key path not saved</em>"|default:"<em>Key path not saved</em>" }}
                                &nbsp;
                                <a class="btn btn-sm btn-default" onclick="$('#edit-key-path').toggle();$('#show-key-path').toggle();" data-toggle="tooltip" data-placement="top" title="Edit project level plan images location"><i class="icon-edit"></i> </a>
                            </div>
                            <div id="edit-key-path" style="display: none;">
                                <form id="form-save-key-folder-path" action method="post">
                                    {% csrf_token %}

                                    <input type="text" name="image_plan_path" id="image-plan-path" data-toggle="tooltip" data-placement="top" title="Saving path for: {{ project.name }} Key Plans" class="input-sm" style="width: 400px;" value="{{ project.key_plan_location }}">
                                    &nbsp; <a class="btn btn-sm btn-default" onclick="save_image_folder_path({{ project.pk }}, 'key');" data-toggle="tooltip" data-placement="top" title="Save project level plan location"><i class="icon-save"></i> </a>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>

        </div>
    </div>

    {% include "projects/floor_plan_editor/includes/import_images.html" %}
    <script src="/static/common/js/lemmon-slider.js"></script>

    <script>
        $('a.hovering').on({
            mouseover: function(e){
                var xOffset = 310;
                var yOffset = 30;

               this.t = this.title;
               this.title = "";
                var c = (this.t != "") ? "<br/>" + this.t : "";
                $('body').append("<p id='preview'><img src='" + this.href + "' alt='Image preview' /></p>");
                $("#preview")
                    .css("top", (e.pageY - xOffset) + "px")
                    .css("left", (e.pageX + yOffset) + "px")
                    .fadeIn("fast");
            },
             mouseleave: function(){
                this.title = this.t;
                $("#preview").remove();
            },
            click: function(e){
                resource_id = this.id.replace('list-image-', '');
                e.preventDefault();
            }

        });

        $(function() {
            $('#plan-editor-slider').lemmonSlider();

            var nametable = $('table.scrollable-header');

            nametable.floatThead({
                scrollContainer: function($table){
                    return $table.closest('.wrapper');
                }
            });

            $("#change-side-level-plan-view").change(function() {
                var value_selected = $(this).val();
                $("#selector-type").text(value_selected);
                $(".image-slider-list").hide();
                $("."+value_selected+"-plan-images").show();

                $(".path-details").hide();
                $("#"+value_selected+"-path-details").show();

            });

            $("#select-change-image-type").change(function() {
                var value_selected = $(this).val();
                $("#selector-type").text(value_selected);
                $("#image_type_displayed").val(value_selected);
                image_selector_change(value_selected);

                $(".editable-table-details").hide();
                if (value_selected == "floor" || value_selected == "key")
                {
                    $("#editable-details-selection-type").text("Apartment");
                    $("#editable-details-selection-name").text(value_selected + " Image Name").css('textTransform', 'capitalize');

                }
                else
                {
                    $("#editable-details-selection-type").text("Level");
                    $("#editable-details-selection-name").text("Image Name");
                }
                $("#"+value_selected+"-table-edit").show();
            });
        });

        function set_apartment_selected(apartment, x_value, y_value, color, size)
        {
           redraw_apartment_spot(apartment, x_value, y_value, color, size);

           var value_selected = $("#image_type_displayed").val();
           var project_id = $("#project_id").val();
           var floor_id = $("#floor_id").val();

           get_image(project_id, floor_id, value_selected, apartment);

        }

        function image_selector_change(value_selected)
        {
            var project_id = $("#project_id").val();
            var floor_id = $("#floor_id").val();
            var apartment = $("#selected_apartment").val();
            var x_coordinate = $("#selected_apartment_x_coordinate").val();
            var y_coordinate = $("#selected_apartment_y_coordinate").val();
            var canvas_width = $("#canvas_width").val();

            redraw_apartment_spot(apartment, x_coordinate, y_coordinate, "yellow", canvas_width);
            get_image(project_id, floor_id, value_selected, apartment);

        }

        function get_image(project_id, floor_id, value_selected, apartment)
        {

            $.ajax({
                url: '/get_image_selection_details/' + project_id + '/' + floor_id + '/' + value_selected + '/',
                type: 'GET',
                data: {'apartment': apartment},
                success: function (data) {
                    var static_image = data.static_image;
                    var image = data.image_path;

                    $(".blue-image-selector").hide();
                    $("#level-plan-"+ data.level_image_name).show();
                    $("#floor-plan-"+ data.floor_image_name).show();
                    $("#key-plan-"+ data.key_image_name).show();

                    $("#canvas-image").attr('src', static_image).css("padding-top", '0px').css("padding-bottom", '0px');

                    if (data.image_exists)
                    {
                        $("#"+ value_selected + "-plan-"+ data.image_name).show();
                    }

                    if (value_selected == "key")
                    {
                        if (data.image_exists)
                        {
                            $("#canvas-image").css("padding-top", '125px').css("padding-bottom", '125px');
                            $("#"+ value_selected + "-plan-"+ data.image_name).show();
                        }
                        else
                        {
                            $("#canvas-image").css("padding-top", '0px').css("padding-bottom", '0px');
                        }

                    }

                    $("#floorplan-message").html(image);

                }
            });
        }


    </script>

    <script src="/static/common/js/preview_editor.js"></script>
{% endblock %}
