{% extends "projects/editor_base.html" %}

{% load model_tags %}
{% load canvas_tags %}

{% block title %}{{ block.super }} - {{ project.name }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb" href="{{ project.get_absolute_url }}">
        {{ project.name }}

        <i class="fa fa-angle-double-right"></i>
    </a>


    <a class="header-breadcrumb not-active">
        Plans Preview Editor
    </a>
{% endblock %}

{% block content %}
<h2>Plans Preview Editor</h2>
<div class="row">
    <div class="col-xs-3">
        <div id="level-plan-apartments">
            {% include "canvas/templates/includes/apartments/apartment_content.html" %}
        </div>
        <div id="floor-plan-apartments" style="display: none;"></div>
        <div id="key-plan-apartments" style="display: none;"></div>
    </div>

    <div class="col-lg-6 col-sm-6 col-xs-6" id="preview-details-editor">
        <div class="row">
            <div class="card card-underline">
                <div class="card-head style-primary-dark">
                    <header>Plans Preview Editor</header>

                    <div class="tools">
                        <div class="btn-group">
                            <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="nav nav-tabs" style="font-size: 11px;">
                        <li onclick="switch_plans_tab('Level Plans');" class="active main-tabs level-plans switch_plans_tab_level">
                          <a href="#section-level" data-toggle="tab" class="switch_plans_tab_level">
                              <label class="link">Level Plan</label>
                          </a>
                        </li>
                        <li onclick="switch_plans_tab('Floor Plans');" class="main-tabs floor-plans switch_plans_tab_floor">
                          <a data-toggle="tab" href="#section-floor" class="switch_plans_tab_floor">
                              <label class="link">Floor Plan</label>
                          </a>
                        </li>
                        <li onclick="switch_plans_tab('Key Plans');" id="key-plan-select" class="main-tabs key-plans switch_plans_tab_key">
                          <a href="#section-key" data-toggle="tab" class="nav-tab-link switch_plans_tab_key">
                              <label class="link">Key Plan</label>
                          </a>
                        </li>
                    </ul>
                    <div class="tab-content" style="border: 1px solid #ddd; border-top: none; padding: 10px; padding-right: 15px; margin-right: 2px; min-width: 610px; max-height: 850px;">

                    <div id="section-level" class="active tab-pane fade in " style="min-height: 700px;">

                        <div class="row">
                            <div class="col-sm-12">
                                    <span style="width: 100%;" id="level_plans-image_name_text">
                                        {{ image_name }}
                                    </span>

                                    <div class="zooming">
                                      <div class="parent">
                                        <div class="panzoom">
                                          <div id="floor-plan-wrapper" class="level-plan-canvas" style="height: 603px; width: 600px;">
                                                <div id="floor-plan-image" style="height: 600px;" class="level-plan-canvas">
                                                    <div id="floorplan-message" style="width: 100%;"></div>

                                                    {% if image_exists %}
                                                        <img src="{{ static_image }}" id="canvas-image-level_plans" class="panzoom-elements level-plan-canvas"  style="height: 600px;width: 600px;">
                                                    {% else %}
                                                        <img src="/static/common/img/placeholder.jpg"id="panzoom-elements canvas-image-level_plans" class="level-plan-canvas" style="height: 600px;width: 600px;" >
                                                    {% endif %}
                                                </div>
                                                <canvas id="cross-hatch" style="top: -600px; margin-left: auto;"
                                                        class="level-plan-canvas cross-hatch-image" width="600px;" height="600px;">
                                                    Your browser does not support the HTML5 canvas tag.
                                                </canvas>

                                                <input type="hidden" id="level_plans-selected-image" value="{{ resource_id }}">
                                            </div>
                                        </div>
                                      </div>


                                      <br><br>
                                      <div class="buttons">
                                        <button id="zoom-in-level-plan" class="zoom-in btn btn-sm btn-danger"><i class="fa fa-plus"></i> </button>
                                        <button id="zoom-out-level-plan" class="zoom-out btn btn-sm btn-danger"><i class="fa fa-minus"></i></button>
                                         <button id="reset-level-plan-zoom" class="reset btn btn-sm btn-danger"><i class="fa fa-refresh"></i></button>
                                        <input type="range" class="zoom-range text-danger">

                                      </div>

                                      <script>
                                        (function() {
                                          var $section = $('div.zooming').first();
                                          $section.find('.panzoom').panzoom({
                                            $zoomIn: $section.find(".zoom-in"),
                                            $zoomOut: $section.find(".zoom-out"),
                                            $zoomRange: $section.find(".zoom-range"),
                                            $contain: $("#section-level"),
                                            $reset: $section.find(".reset"),
                                            increment: 0.3

                                          });

                                            $section.on('resize', function() {
                                                console.log('here');
                                                  $section.find('.panzoom').panzoom('resetDimensions');
                                            });
                                        })();
                                      </script>
                                    </div>



                            </div>
                        </div>
                    </div>
                    <div id="section-floor" style="max-height: 580px; width: 480px;" class="tab-pane fade in ">

                            <span style="width: 100%; margin-left: 30px;">
                                {% if floor_plan_details.image_exists %}
                                     <span id="floor_plans-image_name_text">{{ floor_plan_details.static_image }}</span>
                                {% else %}
                                    <span id="floor_plans-image_name_text">N/A</span>
                                {% endif %}
                            </span>

                            <div id="floor-plan-wrapper" style="width: 450px; text-align: center; margin: auto">
                                <div style="text-align: center; width:450px;">
                                    {% if floor_plan_details.image_exists %}
                                        <img src="{{ floor_plan_details.static_image }}"
                                             style="height: 450px; width: 450px;" id="canvas-image-floor_plans">
                                    {% else %}
                                        <img src="/static/common/img/placeholder.jpg"
                                             style="height: 450px;width: 450px; text-align: center;" id="canvas-image-floor_plans">
                                    {% endif %}
                                </div>

                                <input type="hidden" id="floor_plans-selected-image" value="{{ floor_plan_details.resource_id }}">

                                <canvas id="cross-hatch-floor_plans" style="top: -450px;" class="cross-hatch-image"
                                        width="450px;" height="450px;">
                                    Your browser does not support the HTML5 canvas tag.
                                </canvas>
                            </div>

                    </div>
                    <div id="section-key" class="tab-pane fade in ">

                    <div class="row">
                            <div class="col-sm-12">
                            <table>
                                <tr>
                                    <td>
                                        <div id="level-wrapper" class="pull-left" style="width: 400px; height: 400px; margin: 5px;  display: inline-block; float: left;">
                                            <div>
                                                <small><em>Level Plan: <span id="level_plans_name">{{ image_name }}</span></em></small>
                                                {% if image_exists %}
                                                    <img src="{{ static_image }}" style="height: 400px; width: 400px; " class="canvas-image-level_plans">
                                                {% else %}
                                                    <img src="/static/common/img/placeholder.jpg" style="height: 400px;width: 400px; " class="canvas-image-level_plans">
                                                {% endif %}
                                            </div>
                                            <canvas style="top: -400px;" id="cross-hatch-level_plans" class="cross-hatch-image" width="400px" height="400px">
                                                Your browser does not support the HTML5 canvas tag.
                                            </canvas>
                                        </div>
                                    </td>
                                    <td>

                                        <table>
                                            <tr>
                                                <td>
                                                     <div id="floor-wrapper" class="pull-right" style="margin-left: 30px;width: 180px; height: 180px;">
                                                        <small><em>Floor Plan: <span id="floor_plans_name">{{ floor_plan_details.image_name }}</span></em></small>
                                                        <div style="text-align: center; width:180px;">
                                                            {% if floor_plan_details.image_exists %}
                                                                <img src="{{ floor_plan_details.static_image }}" style="height: 180px;width: 180px;" id="small-canvas-image-floor_plans" class="canvas-image-floor_plans">
                                                            {% else %}
                                                                <img src="/static/common/img/placeholder.jpg" style="height: 180px;width: 180px;" id="small-canvas-image-floor_plans" class="canvas-image-floor_plans">
                                                            {% endif %}
                                                        </div>
                                                        <canvas style="top: -180px;" class="cross-hatch-image" width="180px" height="180px">
                                                            Your browser does not support the HTML5 canvas tag.
                                                        </canvas>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div id="key-plan-wrapper" class="pull-right" style="margin-left: 30px; width: 180px; height: 180px;  margin-top: 30px;  display: inline-block">
                                                    <small><em>Key Plan: <span id="key_plans_name">{{ key_plan_details.image_name }}</span></em></small>
                                                    <div id="key-plan-image" style="text-align: center; width:180px;">
                                                        {% if key_plan_details.image_exists %}
                                                            <img src="{{ key_plan_details.static_image }}" style="height: 180px;width: 180px;" class="canvas-image-key_plans">
                                                        {% else %}
                                                            <img src="/static/common/img/placeholder.jpg" style="height: 180px;width: 180px;" class="canvas-image-key_plans">
                                                        {% endif %}
                                                    </div>
                                                    <canvas style="top: -180px;" id="cross-hatch-key_plans" class="cross-hatch-image" width="180px" height="180px">
                                                        Your browser does not support the HTML5 canvas tag.
                                                    </canvas>
                                                </div>

                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>

                            </table>
                            </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="image-selector-section">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12" style="margin-bottom: 3px;" id="tag-filter-images">
                            {% include "canvas/includes/tag_filter_images.html" with tag_names=tag_names image_list=image_list %}
                        </div>
                        <input type="hidden" value="common/img/placeholder.jpg" id="image-selected-for-floor">
                        <input type="hidden" value="" id="image-type-selected-for-floor">

                        {% if image_exists %}
                            <input type="hidden" id="current-floor-image-path" value="{{ static_image }}">
                        {% else %}
                            <input type="hidden" id="current-floor-image-path" value="common/img/placeholder.jpg">
                        {% endif %}
                    </div>

            </div>
        </div>
    </div>

    <div class="col-xs-3">
        <div class="row" style="margin-left: 5px;" id="select-floors">
            {% include "canvas/templates/includes/select_floors.html" %}
        </div>
    </div>
</div>


        <input type="hidden" id="floor_plans-selected-image" value="{{ floor_plan_details.resource_id }}">
        <input type="hidden" id="key_plans-selected-image" value="{{ key_plan_details.resource_id }}">
        <input type="hidden" id="level_plans-selected-image" value="{{ resource_id }}">
        <input type="hidden" id="selected_x" value="">
        <input type="hidden" id="selected_y" value="">

        <input type="hidden" id="apartment_list" value="{{ apartment_list }}">
        <input type="hidden" id="total_showing" value="1">
        <input type="hidden" id="current_building_id" value="{{ building_id }}">
        <input type="hidden" id="current_apartment_setting" value="{{ first_apartment_id }}">
        <input type="hidden" id="current_floor_id" value="{{ floor_id }}">
        <input type="hidden" id="selected-colour" value="red">
        <input type="hidden" id="selected_apartment" value="{{ first_apartment_id }}">
        <input type="hidden" id="selected_apartment_x_coordinate" value="{{ x_coordinate }}">
        <input type="hidden" id="selected_apartment_y_coordinate" value="{{ y_coordinate }}">
        <input type="hidden" id="canvas_width" value="450">
        <input type="hidden" id="canvas_circle_size" value="12">
        <input type="hidden" id="zoom_factor_level_plans" value="0">

        <input type="hidden" id="property_type_filter" value="">

        <input type="hidden" id="x_coordinate" value="">
        <input type="hidden" id="y_coordinate" value="">

        <input type="hidden" id="image_type_choices" value="{{ image_type_choices }}">
        <input type="hidden" id="selected_image_id" value="">

        <input type="hidden" id="apartment_list" value="{{ apartment_list }}">
        <input type="hidden" id="tag_selected" value="{{ tag_selected }}">
        <input type="hidden" id="canvas_id" value="{{ canvas_id }}">

        <input type="hidden" id="current_project_id" value="{{ project.pk }}">
{#    {% include "projects/floor_plan_editor/includes/import_new_schema.html" %}#}

    <script src="/static/common/js/preview_editor_hotspot.js"></script>
{% endblock %}