{% extends "projects/base.html" %}

{% load model_tags %}

{% block title %}{{ block.super }} - {{ project.name }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}


    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb" href="{{ project.get_absolute_url }}">
        {{ project.name }}
    </a>

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb active">
        Plans Preview Editor
    </a>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-9">

                <h2>Quick Add: Floors and Apartments</h2>
                <strong>
                    This project doesn't have any buildings, floors or apartments set up yet. Please enter information below to begin.
                </strong>
                <br><br>

                <div class="well">
                    <form id="model-filter-form" class="form-filter-chunk" action method="post">
                        {% csrf_token %}
                        {{ form.as_p }}

                         <input type="submit" class="btn btn-process" value="Submit">
                    </form>
                </div>

        </div>


        {% if actions %}
        <div class="col-xs-3">

                <h2>Actions</h2>

                <ul class="action-list">
                    {% for action_name, action_url in actions %}
                        <li>
                            <a href="{{ action_url }}">
                                {{ action_name }}
                                <i class="icon-arrow-right"></i>
                            </a>
                        </li>
                    {% endfor %}
                </ul>

        </div>
        {% endif %}
    </div>
{% endblock %}