{% extends "projects/base.html" %}

{% load model_tags %}

{% block title %}{{ block.super }} - {{ project.name }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb" href="{{ project.get_absolute_url }}">
        {{ project.name }}
    </a>

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb">
        Floor Plan Typicals
    </a>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-9">

                <h2>Floor Plan Typicals</h2>

                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <a class="btn btn-sml btn-default"><i class="fa fa-plus"></i> </a>
                    </div>
                </div>


        </div>

            {% if actions %}
                <div class="col-xs-3">

                        <h2>Actions</h2>

                        <ul class="action-list">
                            {% for action_name, action_url in actions %}
                                <li>
                                    <a href="{{ action_url }}">
                                        {{ action_name }}
                                        <i class="icon-arrow-right"></i>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>

                </div>
            {% endif %}
    </div>




{% endblock %}
