{% extends "base_internal.html" %}

{% block title %}{{ block.super }} - Projects{% endblock %}

{% block nav %}
    {% include "includes/nav.html" with link='projects' l2="accounts" %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}

    <a class="header-breadcrumb" href="{% url 'home' %}">
        Projects
        <i class="fa fa-angle-double-right"></i>
    </a>
{% endblock %}

{% block content %}{% endblock %}
