{% extends "projects/base.html" %}

{% block title %}{{ block.super }} - Add a Project{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}

    <span class="header-breadcrumb active">
        Add a Project

        <i class="fa fa-angle-double-right"></i>
    </span>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            {% include "projects/includes/create_project.html" %}
        </div>
    </div>
{% endblock %}
