{% extends "projects/detail.html" %}

{#{% load reversion_tags %}#}

{% block title %}{{ block.super }} - Delete{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    
    <i class="fa fa-angle-double-right"></i>

    <span class="header-breadcrumb active" href="{% url 'projects-view' project.pk %}">
        Delete
    </span>
{% endblock %}

{% block content %}
    <form action="./" method="post">
        {% csrf_token %}
        

            <h2>Delete Project</h2>

            <p>Are you sure you want to delete this project?</p>


        <a href="{{ project.get_absolute_url }}" class="btn btn-cancel">Cancel</a>
        <button type="submit" class="btn btn-process" value="Delete">Delete</button>
    </form>
    
{% endblock %}
