{% extends "projects/base.html" %}

{% load model_tags %}
{% load canvas_tags %}

{% block title %}{{ block.super }} - {{ project.name }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}

    <a class="header-breadcrumb active" href="/projects/{{ project.pk }}/">
        {{ project.name }}

        <i class="fa fa-angle-double-right"></i>
    </a>

    <a class="header-breadcrumb active" href="/projects/{{ project.pk }}/">
        Project Detail

        <i class="fa fa-angle-double-right"></i>
    </a>

    {% if request.user.is_ds_admin %}
        {% include "canvas/includes/project_selector.html" %}
    {% endif %}

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 col-sm-8 col-xs-8">

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card card-underline">
                        <div class="card-head style-primary-dark">
                            <header>Project</header>


                            <div class="tools">
                                <div class="btn-group">
                                    <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="card-body tab-content" style="padding: 20px;">
                            <table class="table">
                            <tbody>
                                <tr>
                                    <th width="200px" class="bold-text">ID</th>
                                    <td>{{ project.pk }}</td>
                                </tr>
                                <tr>
                                    <th class="bold-text">Created</th>
                                    <td>{{ project.created }}</td>
                                </tr>
                                <tr>
                                    <th class="bold-text">Name</th>
                                    <td>{{ project.name }}</td>
                                </tr>
                                <tr>
                                    <th class="bold-text">Status</th>
                                    <td>{{ project.get_status_display }}</td>
                                </tr>

                                {% if request.user.is_ds_admin %}
                                    <tr>
                                        <th class="bold-text">Version</th>
                                        <td>{{ project.version }}</td>
                                    </tr>

                                    <tr>
                                        <th class="bold-text">Active</th>
                                        <td>{{ project.active }}</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                        </div>
                </div>
              </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card card-underline">
                        <div class="card-head style-primary-dark">
                            <header>Project Details</header>

                            <div class="tools">
                                <div class="btn-group">
                                    <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="card-body tab-content" style="padding: 20px;">
                            <table class="table table-striped table-hover">
                                <tbody>
                                    <tr>
                                        <th class="bold-text" width="200px">Number of Buildings</th>
                                        <td>{{ project.number_of_buildings }}</td>
                                    </tr>
                                    <tr>
                                        <th class="bold-text">Street Address</th>
                                        <td>
                                            {{ project.street_number|default_if_none:"" }}
                                            {{ project.street_name|default_if_none:"" }}
                                            {{ project.street_type|default_if_none:"" }}
                                            {{ project.street_suffix|default_if_none:"" }}
                                            {{ project.suburb|default_if_none:"" }}
                                            {{ project.postcode|default_if_none:"" }}
                                            {{ project.state|default_if_none:"" }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="bold-text">Postal Same as Physical?</th>
                                        <td>{{ project.postal_address_same_as_physical }}</td>
                                    </tr>

                                    <tr>
                                        <td colspan="2"><br><br></td>
                                    </tr>

                                    <tr>
                                        <th class="bold-text">No of Lots</th>
                                        <td>{{ request|project_properties:project }}</td>
                                    </tr>
                                    <tr>
                                        <th class="bold-text">Reserved</th>
                                        <td>{{ request|project_reserved_count:project }}</td>
                                    </tr>
                                    <tr>
                                        <th class="bold-text">Available</th>
                                        <td>{{ request|project_available_count:project }}</td>
                                    </tr>
                                    <tr>
                                        <th class="bold-text">Sold</th>
                                        <td>{{ request|project_sold_count:project }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            {% if request.user.is_ds_admin %}
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card card-underline">
                                <div class="card-head style-primary-dark">
                                    <header>Users</header>

                                    <div class="tools">
                                        <div class="btn-group">
                                            <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-body tab-content" style="padding: 20px;">
                                    <table class="table table-striped table-hover">
                                <tbody>
                                    <tr>
                                        <th class="bold-text">ID</th>
                                        <th class="bold-text">Name</th>
                                        <th class="bold-text">Role</th>
                                    </tr>
                                    {% for user in project.users.all %}
                                        {% if request.user.is_project_user %}
                                            {% if not user.is_ds_admin %}
                                                <tr>
                                                    <td><a href="{{ user.get_absolute_url }}">{{ user.pk }}</a></td>
                                                    <td>{{ user.name }}</td>
                                                    <td>{{ user.get_user_type_display }}</td>
                                                </tr>
                                            {% endif %}
                                        {% else %}
                                            <tr>
                                                <td><a href="{{ user.get_absolute_url }}">{{ user.pk }}</a></td>
                                                <td>{{ user.name }}</td>
                                                <td>{{ user.get_user_type_display }}</td>
                                            </tr>
                                        {% endif %}

                                    {% endfor %}
                                </tbody>
                            </table>
                                </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>


        <div class="col-xs-3 col-sm-offset-1">
            <div class="card-body no-padding">
                <div class="alert alert-callout alert-info no-margin">

                        {% if actions %}
                            <h2>Actions</h2>

                            <ul class="action-list">

                                {% for action_name, action_url in actions %}
                                    <li>
                                        <a href="{{ action_url }}">
                                            {{ action_name }}
                                            <i class="icon-arrow-right"></i>
                                        </a>
                                    </li>
                                {% endfor %}

                                {% if request.user.is_super_admin %}
                                    {% if project.family %}
                                        <li>
                                            <a href="{% url 'projects-version' project.family.pk %}">
                                                Project Version Details
                                                <i class="icon-arrow-right"></i>
                                            </a>
                                        </li>
                                    {% endif %}

                                    <li>
                                        <a href="?export_format=csv">
                                            Download Project Users
                                            <i class="icon-arrow-right"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="{% url 'projects-update' project.pk %}">
                                            Edit Project Details
                                            <i class="icon-arrow-right"></i>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>

                        {% endif %}

                    {% if request.user.can_create_project %}

                        <br><br>
                        <h2>Display Suites</h2>

                        <ul class="action-list">
                           <li>
                                <a href="{% url 'canvas-devices' project.pk %}">
                                    Devices
                                </a>
                            </li>
                           <li>
                               <a href="{% url 'canvas-canvasing'  project.pk %}">
                                    Canvas
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'canvas-wireframes'  project.pk %}">
                                    Wireframes
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'canvas-templating'  project.pk %}">
                                    Templates
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'canvas-folder_paths'  project.pk %}">
                                    File Upload
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'canvas-containers' project.pk %}">
                                    Containers
                                </a>
                            </li>
                        </ul>
                    <br>

                         <br><br>
                        <h2>Project Data</h2>

                        <ul class="action-list">
                           <li>
                                <a data-toggle="modal" href="#override_database"><i class="fa fa-plus"></i> Upload Database</a>
                            </li>
                        </ul>



                    {% endif %}
                </div>
            </div>

        </div>
    </div>

    <div id="override_database" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Upload New Database File</h4>
          </div>
          <div class="modal-body">
                <form action="{% url 'project-save-database' project.pk %}" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    <label>Select sqlite file to override existing database: (please choose carefully)</label>
                    <input type="file" name="database_file"><br>

                    <input type="submit" class="btn btn-process " value="Override Database">
                </form>
          </div>
          <div class="modal-footer">
            <button type="button" id="close-typical-create-modal" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>





    
{% endblock %}
