{% extends "new_base.html" %}

{% block breadcrumbs %}
    {{ block.super }}

    <a class="header-breadcrumb" href="{% url 'home' %}">
        Home

        <i class="fa fa-angle-double-right"></i>
    </a>

    <a class="header-breadcrumb" href="{% url 'home' %}">
        Projects

        <i class="fa fa-angle-double-right"></i>
    </a>
{% endblock %}

{% block body_content %}

    {% include "includes/messages.html" %}

    <div class="fixed-alerts"></div>

    <div class="page-wrap">
        <div class="wrapper">
            <div class="content-without-wrapper">
                <div class="content main-content">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="copyright">
            &copy; Eness {% now "Y" %}
        </div>
    </footer>


    <script>
    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };
    </script>
{% endblock %}
