{% extends "base.html" %}

{% block body_classes %}ns-internal{% endblock %}

{% block body_content %}

    <div class="fixed-alerts"></div>

    <div class="page-wrap">
        <div class="header">
            <a href="{% url 'home' %}" class="logo"></a>
            <div class="trademark">
                Display Sweet Project Management
            </div>
        </div>

        <div class="wrapper">
            <div class="sidebar">
                <div class="sidebar-inner" style="border: none;">
                    {% block apartment_content %}{% endblock %}
                </div>
            </div>

            <div class="content-wrapper">
                <div class="content">
                    <h1>
                    {% block breadcrumbs %}
                        {{ block.super }}

                        <a class="header-breadcrumb" href="{% url 'home' %}">
                            Home
                        </a>

                        <i class="fa fa-angle-double-right"></i>

                        <a class="header-breadcrumb" href="{% url 'home' %}">
                            Projects
                        </a>
                    {% endblock %}
                    </h1>
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="copyright">
            &copy; Eness {% now "Y" %}
        </div>
    </footer>


{% endblock %}
