{% extends "projects/base.html" %}

{% block breadcrumbs %}
    {{ block.super}}
{% endblock %}

{% block content %}
    <div class="card card-underline">
        <div class="card-head">
            <header>My Projects</header>

        </div>

        <div class="card-body">

            {% for p in project %}
                {{ p }}
            {% endfor %}

            {% include "includes/add_item_action.html" with actions=view.actions %}
        </div>
    </div>

{% endblock %}
