{% extends "projects/base.html" %}

{% load model_tags %}

{% block title %}{{ block.super }} - {{ project.name }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}

    <i class="fa fa-angle-double-right"></i>

    <a class="header-breadcrumb" href="{{ project.get_absolute_url }}">
        {{ project.name }}
    </a>


    <i class="fa fa-angle-double-right"></i>

    Map Project Image Paths
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">

                <h2>Project Image Path Details</h2>

                <form action method="post"  enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ formset.management_form }}

                    <div>
                        <table class="table detail-table">
                            <tr>
                                <th>Type</th>
                                <th>Output</th>
                                <th>Mode</th>
                                <th style="width: 400px;">Image Path</th>
                                <th>Files</th>
                                <th></th>
                            </tr>
                            {% for form in formset %}
                                {% if form.errors %}
                                    {{ form.errors }}
                                {% endif %}

                                {% for field in form.hidden_fields %}
                                    {{ field }}
                                {% endfor %}
                                <input type="hidden" name="projectimagepath_set-{{ forloop.counter0 }}-project" value="{{ project.pk }}">

                                <tbody  class="row form-row" id="form-row-{{ forloop.counter0 }}">
                                    {% if form.errors %}
                                    <tr>
                                        <td colspan="4">{{ form.errors }}</td>
                                    </tr>
                                    {% endif %}
                                    <tr>
                                        <td>
                                            {% include "includes/field.html" with field=form.image_type %}
                                        </td>
                                        <td>
                                            {% include "includes/field.html" with field=form.image_output %}
                                        </td>
                                        <td>
                                            {% include "includes/field.html" with field=form.image_mode %}
                                        </td>
                                        <td>
                                            {% include "includes/field.html" with field=form.image_path %}
                                        </td>
                                        <td>
                                            {% include "includes/field.html" with field=form.image_files %}
                                        </td>
                                        <td style="padding-top: 25px;">
                                            <input id="id_projectimagepath_set-{{ forloop.counter0 }}-DELETE" name="projectimagepath_set-{{ forloop.counter0 }}-DELETE" type="hidden">
                                            <a class="btn btn-sm btn-default" onclick="remove_this_column({{ forloop.counter0 }});"><i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            {% endfor %}
                        </table>
                    </div>

                <a class="btn btn-sm btn-default pull-right" data-toggle="tooltip" data-placement="top" title="Add another image type" onclick="show_another_column();"><i class="fa fa-plus"></i> Add Another</a>

                <br><br>
                <input type="submit" class="btn btn-process" value="Save">

                </form>


        </div>

        {% with view.actions as actions %}
            {% if actions %}
                <div class="col-xs-3">

                        <h2>Actions</h2>

                        <ul class="action-list">
                            {% for action_name, action_url in actions %}
                                <li>
                                    <a href="{{ action_url }}">
                                        {{ action_name }}
                                        <i class="icon-arrow-right"></i>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>

                </div>
            {% endif %}
        {% endwith %}
    </div>



    <script>
        $(function() {
            $("tbody.form-row").each(function() {
               var id = $(this).attr('id').replace('form-row-', '');

               if ( $("#id_projectimagepath_set-"+id+"-image_path").val() == '')
               {
                  $(this).hide().addClass('form-row-hidden');
               }

            });


            $( "input:file" ).each(function() {
               $(this).attr("multiple", "multiple");
            });

        });

        function confirm_import_delete()
        {
            if (confirm('Are you sure you wish to delete this import?'))
            {
                window.location.href=this.href;
            }
        }

        function show_another_column()
        {
            $(".form-row-hidden:first").removeClass('form-row-hidden').show();
            $(".form-row-hidden:first .delete-field:first").val('False');
        }

        function remove_this_column(counter)
        {
             $("#form-row-"+ counter).hide();
             $("#form-row-error-"+ counter).hide();
             $("#id_projectimagepath_set-"+counter+"-DELETE").val('on');

        }
    </script>
{% endblock %}
