{% extends "projects/base.html" %}

{% load model_tags %}

{% block breadcrumbs %}
    {{ block.super}}
{% endblock %}

{% block content %}
  <div class="card card-underline">
        <div class="card-head">
            <header>Your Projects</header>
        </div>

        <div class="card-body">

            <table class="table table-striped dataTable" id="project-list-table">
                <thead>
                    <tr>
                        <th data-column-int="1" class="bold-text link sorting" style="text-align: center">Project Name <i class="fa fa-sort"></i></th>
                        <th data-column-int="2" class="link sorting" style="text-align: center">Active Version <i class="fa fa-sort"></i></th>
                        <th data-column-int="2" class="link sorting" style="text-align: center">Created <i class="fa fa-sort"></i></th>
                        <th data-column-int="3" class="link sorting" style="text-align: center">No of Lots <i class="fa fa-sort"></i></th>
                        <th data-column-int="4" class="link sorting" style="text-align: center">Reserved <i class="fa fa-sort"></i></th>
                        <th data-column-int="5" class="link sorting" style="text-align: center">Available <i class="fa fa-sort"></i></th>
                        <th data-column-int="6" class="link sorting" style="text-align: center">Sold <i class="fa fa-sort"></i></th>
                        <th data-column-int="7" class="link sorting" style="text-align: center">Status <i class="fa fa-sort"></i></th>
                        <th class="link sorting" style="text-align: center">Actions</th>
                    </tr>
                </thead>
                {% for project in projects %}
                    <tr class="link" style="text-align: center">

                        <td data-column-int="1" sorting-by="{{ project.name }}"  onclick="window.location.href='/projects/{{ project.pk }}/'">{{ project.name }}</td>
                        <td data-column-int="2" sorting-by="{{ project.version }}"  onclick="window.location.href='/projects/{{ project.pk }}/'">{{ project.version }}</td>
                        <td data-column-int="2" sorting-by="{{ project.created }}" onclick="window.location.href='/projects/{{ project.pk }}/'">{{ project.created }}</td>
                        <td data-column-int="3" sorting-by="{{ project_mixin|project_properties:project }}"  onclick="window.location.href='/projects/{{ project.pk }}/'">{{ project_mixin|project_properties:project }}</td>
                        <td data-column-int="4" sorting-by="{{ project_mixin|project_reserved_count:project }}"  onclick="window.location.href='/projects/{{ project.pk }}/'">{{ project_mixin|project_reserved_count:project }}</td>
                        <td data-column-int="5" sorting-by="{{ project_mixin|project_available_count:project }}" onclick="window.location.href='/projects/{{ project.pk }}/'">{{ project_mixin|project_available_count:project }}</td>
                        <td data-column-int="6" sorting-by="{{ project_mixin|project_sold_count:project }}" onclick="window.location.href='/projects/{{ project.pk }}/'">{{ project_mixin|project_sold_count:project }}</td>
                        <td data-column-int="7" onclick="window.location.href='/projects/{{ project.pk }}/'">
                           {{ project.get_status_display }}
                        </td>
                        <td>
                            {% if request.user.can_edit_properties %}
                                <a href="{% url 'projects-view' project.pk %}"><i class="fa fa-pencil"></i> Edit</a>

                                {% if request.user.can_delete_project %} &nbsp; |&nbsp;
                                    <a id="delete-button-{{ project.pk }}" onclick="confirm_delete({{ project.pk }}, '{{ project.name }}');"><i class="fa fa-trash-o"></i> Delete</a>
                                    <img src="/static/common/img/loading-trans.gif" id="loading-gif-{{ project.pk }}" style="display: none;">
                                {% endif %}
                            {% else %}
                                <a href="{% url 'projects-view' project.pk %}"><i class="fa fa-eye"></i> View</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>

    <br>
    {% include "includes/add_item_action.html" with actions=actions %}
    <br><br>
    <br><br>
    <br><br>

    <input id="order_page_by_direction" type="hidden">


    <script>
        function confirm_delete(project_id, project_name)
        {
            if (confirm("Are you sure you wish to delete project '"+project_name+"'?"))
            {
                $("#delete-button-"+project_id).hide();
                $("#loading-gif-"+project_id).show();

                $.ajax({
                    url: '/delete_selected_project/'+ project_id,
                    type: 'GET',
                    success: function (data) {
                        //var new_project = data.project_id;
                        //window.location.href = '/projects/'+ new_project;

                        setTimeout(function(){ window.location ="/projects/"; }, 5000);
                }})
            }
        }


        function myFunc()
        {

        }

        function myFailure()
        {
            setTimeout(function(){ window.location ="/projects/"; }, 15000);
        }

        $(function() {
           $(".project-status-checkbox").click(function() {
               //change project status to checkbox

           });

            $(".sorting").click(function() {
                console.log('sorting click');

                var direction = 'asc';
                var classes = $(this).attr('class');

                if (classes.indexOf("sorting_asc") >= 0)
                {
                    direction = 'descending';
                    $("#order_page_by_direction").val('desc');
                    $(this).addClass('sorting_desc').removeClass('sorting');
                }
                else
                {
                    $(".sorting_desc").removeClass('sorting_desc').addClass('sorting');
                }

                if (classes.indexOf("sorting_desc") >= 0)
                {
                    $(this).addClass('sorting_asc').removeClass('sorting_desc');
                    direction = 'asc';
                    $("#order_page_by_direction").val('asc');
                }
                else
                {
                    $(".sorting_asc").removeClass('sorting_asc').addClass('sorting');

                }

                $(this).addClass('sorting_asc').removeClass('sorting');

                var check_class = $(this).attr('class');
                if (check_class == 'sorting_asc')
                {
                    direction = 'descending';
                    $("#order_page_by_direction").val('desc');
                    $(this).removeClass('sorting_asc').addClass('sorting_desc');
                }

                var table_column_field = $(this).attr('data-column');
                $("#order_page_by").val(table_column_field);

                var table_column = $(this).attr('data-column-int');
                sort_table(table_column, direction);

            });
        });


        function sort_table(table_column, direction)
        {
            var $table=$('#project-list-table');
            var rows = $table.find('tbody tr').get();

            $.each(rows, function(index, row) {
                var td_value = $(row).find("td[data-column-int="+table_column+"]").text().replace(/ +(?= )/g,'').trim().toLowerCase();
                $(this).attr('sorting-by', td_value);
            });

            rows.sort(function(a, b) {

                var keyA = $(a).attr('sorting-by');
                var keyB = $(b).attr('sorting-by');

                var keyAint = parseFloat(keyA);
                var keyBint = parseFloat(keyB);

                if ($.isNumeric(keyAint) && $.isNumeric(keyBint))
                {
                    keyA = keyAint;
                    keyB = keyBint;
                }

                if (direction == 'asc')
                {
                    if (keyA < keyB) return -1;
                    if (keyA > keyB) return 1;
                }
                else
                {
                    if (keyA < keyB) return 1;
                    if (keyA > keyB) return -1;
                }

                return 0;
            });

            $.each(rows, function(index, row) {
                $table.children('tbody').append(row);
            });
        }

        function set_sorting(sorting_by, selected_direction)
        {
            var direction = selected_direction;
            var table_column = $("#page-data-table th[data-column='"+sorting_by+"']");

            var table_column_int = $(table_column).attr("data-column-int");

            var check_class = $(table_column).attr('class');
            $(table_column).removeClass('sorting').addClass('sorting_'+selected_direction);

            sort_table(table_column_int, selected_direction);
        }
    </script>
{% endblock %}
