{% extends "projects/detail.html" %}

{#{% load reversion_tags %}#}

{% block title %}{{ block.super }} - Edit{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}

    <span class="header-breadcrumb active" href="{% url 'projects-view' project.pk %}">
        Edit
    </span>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-sm-6 col-xs-6">

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card card-underline">
                        <div class="card-head style-primary-dark">
                            <header>Project Details</header>


                            <div class="tools">
                                <div class="btn-group">
                                    <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="card-body tab-content" style="padding: 20px;">
                            <div class="row">
                                <div class="col-lg-8 col-sm-8 col-xs-8">
                                    <form action="./" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                            {% for field in form.visible_fields %}
                                                <div class="well">
                                                    {% include "includes/field.html" with field=field %}
                                                </div>
                                            {% endfor %}

                                        <a href="{{ project.get_absolute_url }}" style="margin-top: 5px;" class="btn btn-sm btn-like-process">Cancel</a>

                                        <button type="submit" class="btn btn-sm btn-process" value="Submit">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
