{% extends "projects/base.html" %}

{% load model_tags %}
{% load canvas_tags %}

{% block title %}{{ block.super }} - {{ project.name }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}

    <a class="header-breadcrumb active" href="/projects/{{ project.pk }}/">
        {{ project.name }}

        <i class="fa fa-angle-double-right"></i>
    </a>


    Project Users
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 col-sm-8 col-xs-8">

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card card-underline">
                            <div class="card-head style-primary-dark">
                                <header>Users</header>

                                <div class="tools">
                                    <div class="btn-group">
                                        <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body tab-content" style="padding: 20px;">
                                <table class="table table-striped table-hover">
                                    <tbody>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Role</th>
                                        </tr>
                                        {% for user in project.users.all %}
                                            <tr>
                                                <td><a href="{{ user.get_absolute_url }}">{{ user.pk }}</a></td>
                                                <td>{{ user.name }}</td>
                                                <td>
                                                    <select>
                                                        <option>Please select a user role</option>
                                                        {% for type in user_types %}
                                                            <option value="{{ type.0 }}" {% ifequal user.user_type type.0 %}selected{% endifequal %}>{{ type.1 }}</option>
                                                        {% endfor %}
                                                    </select>

                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card card-underline">
                            <div class="card-head style-primary-dark">
                                <header>User Allocations</header>

                                <div class="tools">
                                    <div class="btn-group">
                                        <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body tab-content" style="padding: 20px;">
                                <table class="table table-striped table-hover">
                                    <tbody>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Role</th>
                                        </tr>
                                        {% for user in project.users.all %}
                                            <tr>
                                                <td><a href="{{ user.get_absolute_url }}">{{ user.pk }}</a></td>
                                                <td>{{ user.name }}</td>
                                                <td>
                                                    <select>
                                                        <option>Please select a user role</option>
                                                        {% for type in user_types %}
                                                            <option value="{{ type.0 }}" {% ifequal user.user_type type.0 %}selected{% endifequal %}>{{ type.1 }}</option>
                                                        {% endfor %}
                                                    </select>

                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xs-3 col-sm-offset-1">
            <div class="card-body no-padding">
                <div class="alert alert-callout alert-info no-margin">
                        {% if actions %}
                            <h2>Actions</h2>

                            <ul class="action-list">
                                {% for action_name, action_url in actions %}
                                    <li>
                                        <a href="{{ action_url }}">
                                            {{ action_name }}
                                            <i class="icon-arrow-right"></i>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>

                        {% endif %}
                </div>
            </div>

        </div>
    </div>




{% endblock %}
