<li class="droptrue" id="section-SECTION_ID">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card card-underline">
                <div class="card-head style-accent" style="max-height: 50px !important;">
                    <header>
                        <input placeholder="Menu title"  id="wireframe-main-menu-SECTION_ID" name="wireframe-main-menu-SECTION_ID"
                               type="text" class="wireframe-main-menu form-control" value=""
                            style="width: 300px; margin-left: -10px; font-size: 12px;">
                    </header>
                    <div class="tools" style="padding-top: 10px; padding-bottom: 0;">
                        <div class="btn-group" style="padding-bottom: 0;">

                            <a style="color: white; cursor: pointer; margin-left: 10px; margin-right: 10px;"
                                onclick="$(this).closest('li').remove();">
                                <i style="padding-right: 18px;" class="fa fa-2x fa-trash-o"></i>
                            </a>


                            <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </div>

                </div>
                <div class="card-body" style="padding: 0; padding-left: 15px; padding-right: 15px;">
                    <div class="row">
                        <ul class="sortable">
                    <li class="sortlist ui-state-default" id="wire-list-WIRE_ID">

                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <i style="padding-left: 20px;" class="grey fa fa-angle-double-right"></i>
                                <a onclick="$(this).closest('ul.sortable').append($('#new_row_list_item').html());" class="new_sortable_list pull-right"><i class="fa fa-plus"></i> </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <input id="wireframe-sub-menu-WIRE_ID" name="wireframe-sub-menu-WIRE_ID" type="text" placeholder="Sub menu title" class="wireframe-sub-menu form-control" value="">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <select class="form-control wire-template-select" id="wireframe-template-WIRE_ID" name="wireframe-template-WIRE_ID">
                                    {% for template in templates %}
                                    <option value="{{ template.pk }}">{{ template }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-1" style="padding-top:4px;">
                                <a style="margin-top: -13px; float: right;" onclick="$(this).closest('li').remove();"
                                   class="fa-stack fa-lg" data-toggle="tooltip" data-placement="top"
                                       title="Delete">
                                  <i class="fa fa-circle fa-stack-2x"></i>
                                  <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                </a>
                            </div>
                        </div>

                        <input type="hidden" name="wire-list-order" value="1">
                    </li>
                    <li class="sortlist" style="height: 0; padding: 0;"></li>
                </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

    
    <input type="hidden" name="section-order" id="section-order" value="1">
</li>
<script>

        $(function() {
                $( "ul.droptrue" ).sortable({
                   connectWith: "ul.droptrue",
                    placeholder: "ui-state-focus",
                    dropOnEmpty: true
                });

                $( "ul.sortable" ).sortable({
                  connectWith: "ul.sortable",
                    placeholder: "ui-state-error",
                    dropOnEmpty: true
                });

                $( "#sortable, #sortable2, #sortable3" ).disableSelection();

        });



</script>

