{% load canvas_tags %}
<li class="droptrue" id="section-{{ i }}">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card card-underline">
                <div class="card-head style-accent" style="max-height: 50px !important;">
                    <header>
                        <input placeholder="Menu title" id="wireframe-main-menu-{{ i }}" name="wireframe-main-menu-{{ i }}"
                               type="text" class="wireframe-main-menu form-control" value="{{ menu.name }}"
                               style="width: 300px; margin-left: -10px; font-size: 12px;">
                    </header>

                    <div class="tools" style="padding-top: 10px; padding-bottom: 0;">
                        <div class="btn-group" style="padding-bottom: 0;">

                            <a style="color: white; cursor: pointer; margin-left: 10px; margin-right: 10px;" data-toggle="tooltip" data-placement="right" title="Remove menu item"
                               onclick="$('#removed_wireframes').append('{{ i }},'); $('#section-{{ i }}').remove();" >
                                <i style="padding-right: 18px;" class="fa fa-2x fa-trash-o"></i>
                            </a>

                            <a class="btn btn-icon-toggle btn-collapse pull-right">
                                <i class="fa fa-angle-down"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body" style="padding: 0; padding-left: 15px; padding-right: 15px;">
                    <div class="row">
                        <a style="margin-left: 320px; margin-top: -35px;" onclick="$(this).next('ul.sortable').append($('#new_row_list_item').html());" class="new_sortable_list pull-left">
                            <i  data-toggle="tooltip" data-placement="right" title="Add new menu item to this section" class="fa fa-2x fa-plus text-warning"></i>
                        </a>
                        <ul class="sortable">
                            {% for list_item in project|menu_list_item:menu %}
                                <li class="sortlist ui-state-default" id="wire-list-{{ list_item.id }}">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-6">
                                            <i style="padding-left: 20px;" class="grey fa fa-angle-double-right"></i>
                                            <a style="padding-top: 4px;" onclick="$(this).closest('ul.sortable').append($('#new_row_list_item').html());"
                                               class="new_sortable_list pull-right" data-toggle="tooltip" data-placement="left" title="Add new menu item">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6">
                                            <input id="wireframe-{{ i }}-sub-menu-{{ list_item.id }}" name="wireframe-{{ i }}-sub-menu-{{ list_item.id }}" type="text" placeholder="Sub menu title" class="wireframe-sub-menu form-control" value="{{ list_item.name }}">
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6">
                                            <select class="form-control wire-template-select" id="wireframe-{{ i }}-template-{{ list_item.id }}" name="wireframe-{{ i }}-template-{{ list_item.id }}">
                                                {% for template in templates %}
                                                    <option {% ifequal list_item.template template.id %}selected{% endifequal %} value="{{ template.id }}">{{ template }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-lg-1" style="padding-top: 8px;">
                                            <a href="{% url 'canvas-edit-templating-canvas' project.pk list_item.template canvas.id list_item.id %}">
                                                <i class="red icon-edit"></i>
                                            </a>
                                            &nbsp; &nbsp;

                                            <a style="margin-top: -13px; float: right;" onclick="$('#removed_wireframes').append('{{ list_item.id }},'); $('#wire-list-{{ list_item.id }}').remove();"
                                               class="fa-stack fa-lg" data-toggle="tooltip" data-placement="right"
                                                   title="Delete">
                                              <i class="fa fa-circle fa-stack-2x"></i>
                                              <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <input type="hidden" class="wire-list-order" name="wire-list-order-{{ list_item.id }}" value="{{ list_item.orderidx }}">
                                    <input type="hidden" class="wire-list-section" name="wire-list-section-{{ list_item.id }}" value="{{ menu.pk }}">
                                </li>
                            {% endfor %}
                            <li class="sortlist " show_order="99" style="height: 0; padding: 0;"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" class="section_order_details" name="section-order-{{ i }}" id="section-order-{{ i }}" value="{{ menu.orderidx }}">
</li>
<script>
    $(function() {
        $('[data-toggle="tooltip"]').tooltip();

        $( "ul.droptrue" ).sortable({
           connectWith: "ul.droptrue",
            placeholder: "ui-state-focus",
            dropOnEmpty: true
        });

        $( "ul.sortable" ).sortable({
          connectWith: "ul.sortable",
            placeholder: "ui-state-error",
            dropOnEmpty: true
        });

        $( "#sortable, #sortable2, #sortable3" ).disableSelection();

    });
</script>

