{% load canvas_tags %}

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card card-bordered style-default-dark">
            <div class="card-head">
                <header>Select a Canvas</header>
                <div class="tools">
                    <div class="btn-group">
                        <a class="btn btn-icon" data-toggle="tooltip" data-position="top"
                           title="Add Canvas" href="{% url 'canvas-canvasing' project.pk %}?new-canvas"> <i class="fa fa-plus"></i>
                        </a>

                        <a onclick="$('#clone-form').toggle();" data-toggle="tooltip" data-position="top" title="Clone Canvas" class="btn  btn-icon">
                            <i class="fa fa-clone"></i>
                        </a>

                        <a class="btn btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
            </div>

            <div class="card-body style-default-bright">
                <table class="table">
                    {% for can in canvases %}
                        <tr>
                            <td>
                                {{ project|canvas_name:can }}
                            </td>
                            <td>
                                <a  onclick="go_to_edit_wireframe({{ can.pk }});"  class="link fa-stack fa-lg" data-toggle="tooltip" data-placement="top"
                                       title="Edit Wireframe">
                                  <i class="fa fa-circle fa-stack-2x"></i>
                                  <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                </a>
                            </td>
                            <td>
                                <a onclick="delete_canvas({{ can.pk }});" class="link fa-stack fa-lg" data-toggle="tooltip" data-placement="top"
                                       title="Delete Wireframe">
                                  <i class="fa fa-circle fa-stack-2x"></i>
                                  <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                </a>
                            </td>

                            <td>
                                <a href="{% url 'canvas-wireframe-select-preview' project.pk can.pk %}" class="link fa-stack fa-lg" data-toggle="tooltip" data-placement="top"
                                       title="Preview Wireframe">
                                  <i class="fa fa-circle fa-stack-2x"></i>
                                  <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-5 col-md-5 col-sm-5">
        <div id="clone-form" style="display: none;">
            <form action method="post">
                {% csrf_token %}

                <div class="card card-bordered style-default-dark">
                    <div class="card-head">
                        <header>Select Wireframe to Clone</header>
                    </div>

                     <div class="card-body style-default-bright">


                        <table class="table">
                            {% for can in canvases %}
                            <tr id="canvas-row-{{ can.pk }}">
                                <td>
                                    {{ project|canvas_name:can }}
                                </td>
                                <td>

                                    <input type="radio" onclick="$('#clone-button').removeAttr('disabled');" name="selected_canvas" value="{{ can.pk }}">

                                </td>
                            </tr>
                        {% endfor %}
                        </table>
                        <hr>

                        <label>New Canvas Name:</label>
                        <input type="text" class="form-control" name="new_canvas_name" placeholder="New Canvas Name">

                         <br>
                         <label>New Wireframe Name:</label>
                         <input type="text" class="form-control" name="new_wireframe_name" placeholder="New Wireframe Name">
                        <br><br>

                        <button id="clone-button" type="submit" class="btn btn-process" disabled>Clone Wireframe</button>
                     </div>
                </div>

            </form>
        </div>
    </div>

</div>


<script>
    function delete_canvas(canvas_id)
    {
        if (confirm("Are you sure you wish to delete this canvas?"))
        {
            $("#canvas-row-"+canvas_id).remove();

            window.location.href="/canvas/{{ project.pk }}/remove/Canvases/row/delete/"+canvas_id+"/instant/";
        }
    }

    function go_to_edit_wireframe(canvas_id)
    {
        window.location.href="/canvas/{{ project.pk }}/wireframes/edit/"+canvas_id+"/";
    }
</script>
