<li class="sortlist ui-state-default" id="wire-list-WIRE_ID">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6">
            <i style="padding-left: 20px;" class="grey fa fa-angle-double-right"></i>
            <a onclick="$(this).closest('ul.sortable').append($('#new_row_list_item').html());" class="new_sortable_list pull-right"><i class="fa fa-plus"></i> </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <input id="wireframe-sub-menu-WIRE_ID" name="wireframe-sub-menu-WIRE_ID" type="text" placeholder="Sub menu title" class="wireframe-sub-menu form-control" value="">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <select class="form-control wire-template-select" id="wireframe-template-WIRE_ID" name="wireframe-template-WIRE_ID">
                {% for template in templates %}
                    <option value="{{ template.pk }}">{{ template }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-lg-1" style="margin-top: -6px; padding-left: 48px;">
            <a onclick="$(this).closest('li').remove();" class="link fa-stack fa-lg" data-toggle="tooltip" data-placement="top"
                   title="Delete">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
            </a>
        </div>
    </div>

    <input type="hidden" name="wire-list-order" value="1">
</li>


