<!-- Modal -->
<div id="image_uploader" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Import Images to Folder</h4>
      </div>
      <div class="modal-body">

          <form id="import-folder-images" method="post" enctype="multipart/form-data">
              {% csrf_token %}

              <label>Select images</label>
              <input type="file" name="floor_images" id="floor_images" multiple>
              <br>

              <table class="table table-striped table-hover">
                  <tr>
                      <th>
                          Select Image Type
                      </th>
                      <td>
                          <select id="import_image_path" name="import_image_path">
                              {% for option in existing_image_choices %}
                                {% if option.image_path %}
                                    <option value="{{ option.image_type }}_|_{{ option.image_path }}">{{ option.image_type }} [{{ option.image_path }}]</option>
                                {% endif %}
                              {% endfor %}
                          </select>
                      </td>
                  </tr>
                  <tr>
                      <th>
                          Convert images?
                      </th>
                      <td>
                          <input type="checkbox" name="create_distribution">
                      </td>
                  </tr>
              </table>
              <br>

              <a class="btn btn-process" id="save-selected-images" onclick="save_selected_images_ns({{ project.pk }});">Save</a>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="close-image-saver" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>