<!-- Modal -->
<div id="image_uploader" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Import Images to Folder</h4>
      </div>
      <div class="modal-body">
          <form id="import-folder-images" method="post" enctype="multipart/form-data">
              {% csrf_token %}

              <label>Select images</label>
              <input type="file" name="floor_images" id="floor_images" multiple>
              <br>

              <table class="table table-striped table-hover">
                  <tr>
                      <th>
                          Save to Level Plan folder?
                      </th>
                      <td>
                          <input type="radio" data-toggle="tooltip" data-placement="top" title="Save imported images to Level Plan folder?" name="path_to_save_to" value="level_plan" class="pull-left" style="margin-top: -4px;">
                      </td>
                  </tr>

                  <tr>
                      <th>
                          <label>Level Plan path:</label>
                      </th>
                      <td>
                          <input type="text" data-toggle="tooltip" data-placement="top" title="Enter the path value for Level Plans" name="level_plan_path" id="level_plan_path" style="margin: 0; width: 250px; height: 25px;font-size: 10px;" value="{{ project.level_plan_location }}">
                      </td>
                  </tr>

                  <tr>
                      <th>
                          Save to Floor Plan folder?
                      </th>
                      <td>
                          <input type="radio" data-toggle="tooltip" data-placement="top" title="Save imported images to Floor Plan folder?" name="path_to_save_to" value="floor_plan" class="pull-left" style="margin-top: -4px;">
                      </td>
                  </tr>


                  <tr>
                      <th>
                          <lable>Level Plan path:</lable>
                      </th>
                      <td>
                          <input type="text"  data-toggle="tooltip" data-placement="top" title="Enter the path value for Floor Plans" name="floor_plan_path" id="floor_plan_path" style="margin: 0; width: 250px; height: 25px;font-size: 10px;" value="{{ project.floor_plan_location }}">
                      </td>
                  </tr>


                  <tr>
                      <th>
                          Save to Key Plan folder?
                      </th>
                      <td>
                          <input type="radio" data-toggle="tooltip" data-placement="top" title="Save imported images to Key Plan folder?" name="path_to_save_to" value="key_plan" class="pull-left" style="margin-top: -4px;">
                      </td>
                  </tr>

                  <tr>
                      <th>
                          <lable>Key Plan path:</lable>
                      </th>
                      <td>
                          <input type="text" data-toggle="tooltip" data-placement="top" title="Enter the path value for Key Plans" id="key_plan_path" name="key_plan_path" style="margin: 0; width: 250px; height: 25px;font-size: 10px;" value="{{ project.key_plan_location }}">
                      </td>
                  </tr>
              </table>
              <span style="font-size: 10px;">
                  <strong>Please note:</strong> You can enter all three path values for images but only select one option to save your imported images to.
                  Without a path for the selected option your images will not import.
              </span>
              <br><br>

              <a class="btn btn-process" id="save-selected-images" onclick="check_save_selected_images({{ project.pk }});">Save</a>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="close-image-saver" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>